<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<form name="tryit" action="/admin/stats/cat" method="post">
<textarea name="queryArea" cols="50" rows="6"></textarea>
<br/>

<input type="submit" value="query" name="query"/>
<input type="submit" value="insert" name="insert"/>
</form>
</body>