<h1>Developer Stats Page</h1>
<?php echo $this->blah;?>
<?php if($this->flag=='1'):?>
<h2>For the date range of <?php echo $this->startDate;?> and <?php echo $this->endDate;?></h2>
<?php endif;?>
<?php if($this->flag<>'1'):?>
<h2>The statistics for <?php echo $this->flag;?></h2>
<?php endif;?>

<h3>Developers</h3>
<p>
Total # of developers: <b><?php echo $this->totalDevelopers;?></b><br/>
# of new developers: <b><?php echo $this->newDeveloper;?></b><i>
<?php 
if($this->newDeveloperDelta>0)
{
	echo '+'.$this->newDeveloperDelta.'%';
}
else
{
	echo $this->newDeveloperDelta.'%';
}?></i><br/>
Average New Developers Daily: <b><?php echo $this->avgDailyNewDeveloper;?></b><i>
<?php 
if($this->avgDailyNewDeveloperDelta>0)
{
	echo '+'.$this->avgDailyNewDeveloperDelta.'%';
}
else
{
	echo $this->avgDailyNewDeveloperDelta.'%';
}?></i><br/>
Average New Developers Weekly: <b><?php echo $this->avgWeeklyNewDeveloper;?></b><i>
<?php 
if($this->avgWeeklyNewDeveloperDelta>0)
{
	echo '+'.$this->avgWeeklyNewDeveloperDelta.'%';
}
else
{
	echo $this->avgWeeklyNewDeveloperDelta.'%';
}?></i><br/>
</p>
<h3>Researchers</h3>
<p>
Total # of researchers: <b><?php echo $this->totalResearchers;?></b><br/>
# of new researchers: <b><?php echo $this->newResearcher;?></b><i>
<?php 
if($this->newResearcherDelta>0)
{
	echo '+'.$this->newResearcherDelta.'%';
}
else
{
	echo $this->newResearcherDelta.'%';
}?></i><br/>
Average New Researchers Daily: <b><?php echo $this->avgDailyNewResearcher;?></b><i>
<?php 
if($this->avgDailyNewResearcherDelta>0)
{
	echo '+'.$this->avgDailyNewResearcherDelta.'%';
}
else
{
	echo $this->avgDailyNewResearcherDelta.'%';
}?></i><br/>
Average New Researchers Weekly: <b><?php echo $this->avgWeeklyNewResearcher;?></b><i>
<?php 
if($this->avgWeeklyNewResearcherDelta>0)
{
	echo '+'.$this->avgWeeklyNewResearcherDelta.'%';
}
else
{
	echo $this->avgWeeklyNewResearcherDelta.'%';
}?></i><br/>
</p>


<h3>Project Mobster Participation</h3>
<p>
Average # of Invited: <b><?php echo $this->avgInvitedPerProject;?></b><i>
<?php 
if($this->avgInvitedPerProjectDelta>0)
{
	echo '+'.$this->avgInvitedPerProjectDelta.'%';
}
else
{
	echo $this->avgInvitedPerProjectDelta.'%';
}?></i><br/>
Average # of Bids: <b><?php echo $this->avgBidsPerProject;?></b><i>
<?php 
if($this->avgBidsPerProjectDelta>0)
{
	echo '+'.$this->avgBidsPerProjectDelta.'%';
}
else
{
	echo $this->avgBidsPerProjectDelta.'%';
}?></i><br/>
Average # of Accepted: <b><?php echo $this->avgAcceptedPerProject;?></b><i>
<?php 
if($this->avgAcceptedPerProjectDelta>0)
{
	echo '+'.$this->avgAcceptedPerProjectDelta.'%';
}
else
{
	echo $this->avgAcceptedPerProjectDelta.'%';
}?></i><br/>
Average # of Tests Submitted: <b><?php echo $this->avgSubmittedPerProject;?></b><i>
<?php 
if($this->avgSubmittedPerProjectDelta>0)
{
	echo '+'.$this->avgSubmittedPerProjectDelta.'%';
}
else
{
	echo $this->avgSubmittedPerProjectDelta.'%';
}?></i><br/>
Average # of Tests Outstanding: <b><?php echo $this->avgOutstandingPerProject;?></b><i>
<?php 
if($this->avgOutstandingPerProjectDelta>0)
{
	echo '+'.$this->avgOutstandingPerProjectDelta.'%';
}
else
{
	echo $this->avgOutstandingPerProjectDelta.'%';
}?></i><br/>
Average # of Testers Paid: <b><?php echo $this->avgPaidPerProject;?></b><i>
<?php 
if($this->avgPaidPerProjectDelta>0)
{
	echo '+'.$this->avgPaidPerProjectDelta.'%';
}
else
{
	echo $this->avgPaidPerProjectDelta.'%';
}?></i><br/>
Average successful bid: <b><?php echo '$'.$this->avgPayPerTest;?></b><i>
<?php 
if($this->avgPayPerTestDelta>0)
{
	echo '+'.$this->avgPayPerTestDelta.'%';
}
else
{
	echo $this->avgPayPerTestDelta.'%';
}?></i><br/>
</p>
