<html>
    <body> <!-- the body tag is required or the CAPTCHA may not show on some browsers -->
      <!-- your HTML content -->

      <form method="post" action="/admin/stats/doggy">
        <?php
        	echo $this->message.'<br/>';
          require_once('Lib/Captcha/recaptchalib.php');
          $publickey = "6LeUKb4SAAAAAI0HTmoxP-xEaOHepsP-1nDR1RW0"; // you got this from the signup page
          echo recaptcha_get_html($publickey);
        ?>
        <input type="submit" />
      </form>

      <!-- more of your HTML content -->
    </body>
</html>