<div id="container_column_middle_wide">            	
<h1>INVITE TEST</h1>

<h3>Search filter:</h3>
<form>
	<table>
	<tr>
	<td>
		<?php echo $this->form->getElement('country');?>
	</td>
	<td>
		<?php echo $this->form->getElement('network');?>
	</td>
	<td>
		<?php echo $this->form->getElement('vendor');?>
	</td>
	<td>
		<?php echo $this->form->getElement('model');?>
	</td>
	</tr>
	<tr>
	<td>
		<?php echo $this->form->getElement('userlike');?>
	</td>
	<td>
		<?php echo $this->form->getElement('idproject');?>
	</td>
	<td>
		<?php echo $this->form->getElement('filter');?>
	</td>
	<td></td>
	</tr>
	</table>
</form>
<div id="ajaxtable">
<!-- table rendered here by ajax injection -->
</div>
<br /><br /><br /><br />


</div>
<br class="clear" />
<SCRIPT  language="JavaScript">

$(document).ready(function() {
	showPage("n.idcountry,n.network,d.vendor,d.model,u.username", "1");
});


</SCRIPT>	