<h1>Mob4Hire Community Manager Page</h1>
<h3><a href="/admin/index/escrow">Funds In Escrow</a></h3><br/>
<h3><a href="/admin/index/paypal">Paypal Transactions</a></h3><br/>
<h3><a href="/admin/index/tstcsv">Download Tester CSV</a></h3><br/>
<h3><a href="/admin/index/devcsv">Download Developer CSV</a></h3><br/>
<h3><a href="/admin/index/carriercsv">Download Carriers CSV</a></h3><br/>
<h3><a href="/admin/project/open">Re-Open Project</a></h3><br/>
<h3><a href="/admin/project/close">Close Project</a></h3><br/>
<h3><a href="/admin/project/canceltest">Cancel Test</a></h3><br/>
<h3><a href="/admin/community/listmanualid">List Unregistered Devices</a></h3><br/>
<h3><a href="/admin/index/developerinfo">Developer Info Table/CSV</a></h3><br/>
<h3><a href="/admin/project/projects-in-draft">Projects In Draft</a></h3><br/>
