<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>

<h4><?php echo $this->message;?></h4>

<table class='dynamicTable' align=center border=1><thead>
	<tr>
		<th>Username</th>
		<th>Regdevice ID</th>
		<th>manual ID</th>
	</tr></thead>
	<tbody>
	<?php foreach($this->blah as $row):?>
	<tr>
		<td><?php echo $row['username'];?></td>
		<td><a href="/admin/community/assigndevice/idregdevice/<?php echo $row['idregdevice'];?>"><?php echo $row['idregdevice'];?></a></td>
		<td><?php echo $row['manualid'];?></td>
	</tr>
	<?php endforeach;?></tbody>
</table>

</body>