               
   <table class="current_handsets">
      <tr>
        <td colspan="5" id="results_total">

            <?php echo $this->totalUsers;?> Mobsters Meeting Your Criteria
             </td>
      </tr>
  		<thead>
  			<tr>
  				<th>User</th>
  				<th>Country</th>
  				<th>Network</th>
  				<th>Vendor</th>
  				<th>Model</th>
  			</tr>
                      </thead>

  		<tbody>
  			<?php foreach($this->userList as $handset) : ?>
  				<tr>
  					<td><?php echo $handset['username'];?></td>
  					
  					<td><?php echo $handset['country'];?></td>
  					<td><?php echo $handset['network'];?></td>
  					<td><?php echo $handset['vendor'];?></td>
  					<td><?php echo $handset['model'];?></td>


  				</tr>
  			<?php endforeach; ?>

  		</tbody>
  	</table>
