<?php if(isset($this->error)):?>
	<img src="/images/icons/form_error.png"/><?php echo ($this->error); ?>
<?php endif; ?>

	
<?php if(isset($this->filecontrolname) && $this->filecontrolname=="projImg" ): ?>
	<?php foreach ($this->projectFiles as $file): ?>
		<img src='<?php echo $file['physical_filename'] ?>'/>
	<?php endforeach;?>
<?php else: ?>
	<?php if($this->projectFiles && count($this->projectFiles) > 0): ?>
	<table class="subtable"> 
	    <thead>
	    <tr>
	    	<td width="20px"></td>
			<td width="70%"><p>Available Files</p></td>
			<td></td>	
			</tr>	
	    </thead>
	    <tfoot>
	    </tfoot>
	    <tbody>
	        <?php
	        $i = 0; // used to swap background colour of table row
	        ?>
	        <?php
	        foreach ($this->projectFiles as $file):
	        ?>
			
			<?php if($this->canViewFile($file)): ?>
			
	        <tr class="<?php echo ($i%2 ? 'row_odd' : 'row_even');?>">		
	            <td>
	               <?php if($this->canEditFile($file)): ?>
				    <a onclick="removeFile('<?php echo ($this->filecontrolname)?$this->filecontrolname:"" ?>',<?php echo $file['idfiles'] ?>);">
	             	  	 <div id='divWorkToggle<?php echo $file['idfiles'] ?>'>
							 <img src="/images/icons/delete.png" alt="remove">
						 </div>
					</a>
					<?php endif; ?>
	            </td>
			  
			    <td>
	               
				    <a href="/app/project/download/<?php echo $file['idfiles'] ?>" target="_blank">
						<?php if(isset($this->filecontrolname) && ($this->filecontrolname=="screenShots"  ) ): ?>
								<img src='/app/project/download/<?php echo $file['idfiles'] ?>' height="50" width="50"/>		                    
						<?php else: ?>
								<?php  echo $this->escape($file['filename']); ?> 						
									<?php if(Zend_Registry::get('defSession')->currentUser->isAdmin): ?>
										- <?php echo $file['category']; ?>
									<?php endif; ?>
						<?php endif; ?>
	                </a>
					
	            </td>
				<td>			
	               <?php if($this->canEditFile($file)): ?>
					<a onclick="changeVisibility('<?php echo $this->filecontrolname ?>',<?php echo $file['idfiles'] ?>)">
		           		<?php if($file['permissions'] == "0"): ?>
							<img src="/images/icons/lock_open.png" alt="remove">
							Open To All
						<?php else: ?>
							<img src="/images/icons/lock_delete.png" alt="remove">
							Open To Project Team Only
						<?php endif; ?>	
						</a>
					<?php endif; ?>
					
	            </td>
				
	        </tr>

			<?php endif; // Can View File?>
	        <?php
	        $i++;
	        ?>
	        <?php
	        endforeach;
	        ?>
	    </tbody>
	</table>
	<?php else: ?>
			<p><i>         No Files Have Been Added</i> </p>
	<?php endif; ?>
<?php endif; ?>
