<script type="text/javascript" src="/js/dynamicTable_c.js"></script>
<h2>Mob4hire project listing</h2>
<?php
$status = array('0'=>'Open to bids',
			  '499'=>'Bidding closed');
$qryProjects=$this->db->query("SELECT projects.*, users.* FROM projects INNER JOIN users ON users.id=projects.iddeveloper ORDER BY idproject desc");
?>
<table class='dynamicTable' align='center' border=1><thead><tr><th>developer</th><th>project</th><th>Start Date</th><th>Duration</th><th>Invited</th><th>Rejected</th><th>Bids</th><th>Accepted</th><th>Escrowed</th><th>Submitted</th><th>Paid</th><th>Cancelled</th></thead><tbody>
<?
$i=0;

while($qryProjects && $row=$qryProjects->fetch())
{
	if($i%2==0){
		$bg="style=\"background-color:#F7F7F7; height:65px; color:#413839;\"";  //gray, #413839
	}
	else {
		$bg="style=\"background-color:#EEEEEE; height:65px; color:#413839;\"";	//#747170, #413839		
	}
		
	echo'
	<tr '.$bg.'>																																																																																																										
	<td style="text-align:center;"><b>'.$row['username'].'</b></td><td><p style="position:relative; top:0px; width:350px; color:#817679; padding-left:10px;"><b><a href="./showproject/idproject/'.$row['idproject'].'">'.$row['Name'].'</a></b>'.'</p></td><td style="text-align:center; width:90px; color:#817679;">'.$row['StartDate'].'</td><td style="text-align:center; width:70px; color:#817679;">'.$row['Duration'].' days</td>';

	$qryStatus=$this->db->query($debug="SELECT Status, count(idtest) as count FROM tests WHERE idproject=$row[idproject] AND Status>=50 GROUP BY Status ORDER BY Status");
	$statuses=array('50'=>0, '75'=>0,'100'=>0, '200'=>0, '250'=>'0', '300'=>0,'400'=>0, '499'=>0);
	while($status=$qryStatus->fetch())
	{
		$statuses[$status['Status']]=$status['count'];
	}
	foreach($statuses as $count)
	{
		echo '<td>'.$count.'</td>';
	}
	echo '</tr>';
	$i++;			
}
?>
</tbody>
</table>
<a title="Dynamic Table - A javascript table sort widget." href="http://dynamictable.com">Quick and easy table sorting powered by Dynamic Table</a>