<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<h2>Mob4hire project listing</h2>
<a href='/admin/project/listprojects' >Back</a>
<?php

$status = array('0'=>'Awaiting bids',
				'50'=>'Bids invited',
				'75'=>'Bid rejected',
				'100'=>'Bids Submitted',
				'200'=>'Bid accepted (Awaiting Escrow)',
				'250'=>'In progress',
				'300'=>'Test report submitted',
				'400'=>'Escrow released',
				'499'=>'Test cancelled');

$qryProjects=$this->db->query($debug="SELECT transactions.idtest, transactions.bidAmount, transactions.Timestamp, transactions.Status, users.username as testername, tc.country as testercountry, users.email as EmailAddress, countries.country, networks.network, deviceatlas.vendor as make, deviceatlas.model as device FROM tests INNER JOIN transactions ON tests.idtest=transactions.idtest AND transactions.Status=tests.Status INNER JOIN users ON tests.idtester=users.id LEFT JOIN profile_contactinfo ON profile_contactinfo.id=users.id LEFT JOIN countries AS tc ON tc.idcountry=profile_contactinfo.idcountry LEFT JOIN deviceatlas ON deviceatlas.id=tests.iddevice LEFT JOIN networks ON networks.idnetwork=tests.idnetwork LEFT JOIN countries ON countries.idcountry=networks.idcountry WHERE tests.idproject=$this->idproject ORDER BY tests.Status desc;");
// echo $debug;
?>
<table class='dynamicTable' align=center border=1><thead><tr><th>idtest</th><th>Username</th><th>Email</th><th>Country</th><th>Network</th><th>Make</th><th>Model</th><th>Bid Amount</th><th>Status</th><th>Date</th><th>Messages</th><th>Reports</th></tr></thead><tbody>
<?php

while ($qryProjects && $test=$qryProjects->fetch()) {
	$date=date('Y-m-d', $test['Timestamp']);
	echo "<tr><td>".$test['idtest']."</td><td>".$test['testername']."<br/>".$test['testercountry']."</td><td><a href='mailto:".$test['EmailAddress']."'>".$test['EmailAddress']."</a></td><td>".$test['country']."</td><td>".$test['network']."</td><td>".$test['make']."</td><td>".$test['device']."</td><td>".$test['bidAmount']."</td><td>".$status[$test['Status']]."<td>".$date."</td>";
	// messages between tester and developer
	echo "<td><a href='./messages.php?user1=$test[testername]&user2=<developer name>' target='_new'>messages</a></td><td>";
	//add admin actions here	
	if ($test['Status'] >=300 && $test['Status']<499) {
		echo "<a href='./showtestreport.php?idtest=$test[idtest]'>Test report</a>";
	}
	echo "</td></tr>";
	
}

?>
</tbody></table>
<a title="Dynamic Table - A javascript table sort widget." href="http://dynamictable.com"><img alt="Quick and easy table sorting powered by Dynamic Table" src="http://dynamictable.com/links/linkImage1.gif" border="0"></a>
</body></html>

