            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">			
            	<h1>Contact Us</h1>
      <a href="/services/managed"><img src="/images/buttons/button-get-a-quote.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a>
<p>Visit our blog: <a href="http://www.mob4hire.blogspot.com" target="_blank">http://www.mob4hire.blogspot.com</a> <br />
      Follow us on twitter: <a href="http://www.twitter.com/mob4hire" target="_blank">http://www.twitter.com/mob4hire</a><br />  
      Email:</p>
        <ul class="no-bullets">
	  <li><a href="/services/managed">Get a quote for a project</a></li>
	  <li><a href="/services/managed">Get more information</a></li>
          <li><a href="mailto:info@mob4hire.com ">info@mob4hire.com </a></li>
          <li><a href="mailto:support@mob4hire.com">support@mob4hire.com</a></li>
          <li><a href="mailto:investor@mob4hire.com">investor@mob4hire.com</a></li>
          <li><a href="mailto:buzz@mob4hire.com">buzz@mob4hire.com</a></li>
        </ul>
      

				<h3>Mailing Address</h3>
<p><strong>Please note our new mailing address as of May 1, 2010</strong></p>
				<p>Suite 502, Alastair Ross Technology Centre<br />3553 31st Street NW <br />Calgary, AB T2L 2K7<br />Canada</p>
        </div></div>
		<div class="red-bottom-sm"></div>
            <br class="clear" />
