            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid" style="height: 257px;">			
            	<h1>Investor Relations</h1>
                <p>Since incorporating in Alberta, Canada in Oct, 2007, Mob4Hire has been a privately funded corporation.</p>
				<p>If you are interested in investing, please contact us at <a href="mailto:investor@mob4hire.com">investor@mob4hire.com</a></p>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />
