            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">		
            	<h1>The Team</h1>
      <p>Mob4Hire's seasoned management team includes 2nd and 3rd generation mobile pioneers &amp; successful software entrepreneurs with deep mobile, web and business development leadership. Contact any of us through our general email: <a href="mailto:info@mob4hire.com">info@mob4hire.com</a></p>
<hr>
      <h2>Management</h2>
	   <h3>Paul Poutanen, PEng., President and Founder</h3>
      <img style="float:left; margin: 0 5px 5px 0;" src="../images/team/paulpoutanen.gif" /><p>Paul has been a Calgary-based high-tech executive for the past 15 years, entering the mobile field after long stint as a Senior Management Consultant with Ernst and Young. He developed extensive mobile expertise working in management for wireless hardware and cellular location firms such as Wi-LAN and Cell-Loc. Paul became President of Blister Entertainment where he developed the first cellular location-based games for North America, including the award-winning title "Swordfish." Inspired to find a solution to the complex global testing process for mobile devices, Paul launched Mob4Hire in 2007. He is an Industrial and Mechanical Engineer. <a href="http://ca.linkedin.com/in/paulpoutanen" target="_blank"></a> <a href="http://ca.linkedin.com/in/paulpoutanen" target="_blank">LinkedIn</a></p>
	  
	  <h3>John Carpenter, PEng., CTO</h3>
      <img style="float:left; margin: 0 5px 5px 0;" src="../images/team/johncarpenter.gif" /><p>With an engineering degree in Geomatics and spatial programming, John has incorporated mapping and LBS technologies into mobile applications and games since 1999. He's served as the Director of Technology for KnowledgeWhere Corp, and Architect, Geoservices for Useful Networks. John has many years of first-hand experience on the difficulties and expense of mobile application testing. John is also a noted mobile technology evangelist and speaker. <a href="http://ca.linkedin.com/pub/john-carpenter/1/368/b9" target="_blank">LinkedIn</a></p>
	  
	  <h3>Bruce Chrumka, PEng., Vice President, Professional Services</h3>
       <img style="float:left; margin: 0 5px 5px 0;" src="../images/team/brucechrumka.gif" /><p>Bruce Chrumka is a professional electrical engineer that has extensive experience in developing and marketing advanced wireless technologies. As the Manager of Applications Engineering and later, the Director of Software Development for Wi-LAN Inc., he led teams focused on hardware, software and systems engineering specializing in high-speed Internet access and remote SCADA solutions. In the past fifteen years he has also served as Vice-President of Engineering at Integen Technologies, a Calgary-based company focused on entertainment and Internet solutions for the hotel industry, as well as several years as the Project Manager of Antennas and Enclosures for the GPS leader, NovAtel Inc. Mr. Chrumka has degrees in mathematics, physics, electrical engineering and history, and is a member of APEGGA. <a href="http://ca.linkedin.com/in/brucechrumka" target="_blank">LinkedIn</a></p>
	   
	   <h3>Richard Cooke, VP Technology</h3>
      <img style="float:left; margin: 0 5px 5px 0;" src="../images/team/richardcooke.gif" /><p>Richard has broad experience creating innovative and effective software solutions. He entered the mobile applications market following several years developing automotive powertrain controls. Equally skilled at broad software strategy and wireless technology challenges, Richard has created and oversees the ongoing establishment of Mob4Hire's service offerings. Richard is based in London, U.K. <a href="http://uk.linkedin.com/in/rmcooke" target="_blank">LinkedIn</a></p>
	  
	  <h3>Allen Poutanen, VP Business Development</h3>
      <img style="float:left; margin: 0 5px 5px 0;" src="../images/team/allenpoutanen.gif" /><p>Highly regarded as a team-builder and marketing strategist, Allen has twice held the position of VP Sales with technology firms that each achieved market caps in excess of $1 billion. Allen has established and managed large international sales and marketing teams and developed comprehensive worldwide distribution networks for wireless products. Enthused by the concept of crowd-sourcing and the endless opportunities in the mobile space, Allen joined Mob4Hire to establish partnerships and plot Mob4Hire's growth strategy. This is the third successful high-tech startup that Paul and Allen have been involved in together. <a href="http://ca.linkedin.com/pub/allen-poutanen/7/687/520" target="_blank">LinkedIn</a></p>
      
	  <h3>Laura Sullivan, COO</h3>
      <img style="float: left; margin: 0 5px 5px -12px; padding-right: 12px;" src="../images/team/laurasullivan.gif" /><p>Laura brings broad experience in operations, finance, project and risk management, in a number of industries including Manufacturing, ICT, Retail and Health. As a Management Consultant, Laura's clients included TransCanada Pipelines Ltd., Calgary Health Region, Bethany Care Foundation, C-mach Technologies, FoundPages and ITSportsNet. Laura's experience in governance and advisory includes being a Director, and Chair of the Audit Committee of a $1B retail organization, Calgary Co-operative Association Ltd., as well as sitting on a number of advisory boards including the Operations Management Advisory Council for BC Institute of Technology, and International Business Advisory Council for University of Calgary. Laura currently provides governance training as part of the Alberta Board Development Program. Laura holds an MBA in Venture Development from Haskayne School of Business (University of Calgary), in addition to a BGS from Athabasca University and a Diploma in Technology from BC Institute of Technology.<a href="http://ca.linkedin.com/in/paulpoutanen" target="_blank"></a> <a href="http://ca.linkedin.com/in/laurasullivan" target="_blank">LinkedIn</a></p>
	  
      
<hr> 
      <h2>Advisory Board</h2>
      <p>Mob4Hire's advisory board includes a wide range of experience and connections:</p>
      <h3>Keith Cook, Mobile Testing Pioneer, Sunnyvale</h3>
  <p>Based in Silicon Valley, Keith has developed strategic partnerships and alliances within the entire mobile ecosystem; service providers, mobile platforms, OEM/ODM, and content providers. He is a founder of DeviceAnywhere that pioneered the use of remote control handset testing. He's currently co-founder of NexGen Innovations, an incubator for mobile start-ups in Silicon Valley. <a href="http://www.linkedin.com/in/keithcook" target="_blank"></a> <a href="http://www.linkedin.com/in/keithcook" target="_blank">LinkedIn</a></p>
  <h3>Dr. Bob Hayes, Ph.D. Customer Loyalty Scientist, Seattle</h3>
      <p>Bob E. Hayes is the president and founder of Business Over Broadway (<a href="http://www.businessoverbroadway.com" target="_blank">www.businessoverbroadway.com</a>) in Seattle, WA. Dr. Hayes, holds a Ph.D. in industrial-organizational psychology, is a leading expert in survey research methodology and author of two books, including &quot;Measuring Customer Satisfaction and Loyalty.&quot; He has conducted survey research for many enterprise companies including Oracle, Siebel, Agilent Technologies, and Cisco. Dr. Hayes is based in Seattle. <a href="http://www.linkedin.com/in/bobehayes" target="_blank">LinkedIn</a> <a href="http://www.linkedin.com/in/bobehayes" target="_blank"></a></p>
  <h3>Mark Kornak, Private Investor and Technology Guru, Calgary</h3>
  <p>Mark Kornak has been a successful entrepreneur for over 20 years. As a partner with Boardwalk Equities from its inception, as CIO, he and his team developed systems and process that helped BEI grow to become the largest residential property owner in Canada with a market cap of $2B. During his tenure at Boardwalk, in 1998, Mark was given the task to start a communications tipple play to deliver video, voice and internet to Boardwalk's 30,000 units.  Mark successfully put together a team that was able to deliver the system under the name of SuiteSystems. SuiteSystems successfully received CRTC approval as a CLEC as well as a BDU undertaking, allowing them to deliver television and telephone services. Subsequent to Boardwalk, Mark was VP of Software development at startup Teamplate which was acquired by Captaris in 2003. Since then Mark has been investing in startup companies and recently completed a public CPC qualifying transaction for an Oil &amp; Gas venture.   Mark is also a board member of NetSecure an internet transaction security solution. <a href="http://ca.linkedin.com/in/markkornak" target="_blank"></a> <a href="http://ca.linkedin.com/in/markkornak" target="_blank">LinkedIn</a></p>
      <h3>Peter Kinash, CFO and Director at Replicon, Calgary</h3>
<p>With over 25 years of experience as a Chartered Accountant, Mr. Kinash, who also holds the Institute of Corporate Directors ICD.D designation, offers a wealth of experience in the fields of mergers and acquisitions, corporate financing, and securities filings. He specializes in guiding growing high-tech companies to maturity, an ability that led him to great success as the former leader of the Information, Communication, and Entertainment practice of KPMG Calgary.<a href="http://ca.linkedin.com/pub/peter-kinash/7/21/404" target="_blank">LinkedIn</a></p>
      <h3>Tina Antony, Partner, Gowlings Inc.</h3>
<p>Tina Antony is a partner in the Corporate Finance, Securities and Public M&amp;A National Practice Group in Gowlings' Calgary office. She is also the Calgary representative of the Firm's Technology Industry Group. Tina Antony advises clients on mergers and acquisitions, domestic and international fund formation and restructurings (using limited partnerships, trusts and corporate entities), domestic and international IPOs, hostile takeover bids, plans of arrangements, and other forms of mergers and share and asset acquisitions and dispositions. She works closely with officers, boards of directors, and in-house counsel on matters of continuous disclosure, corporate governance, and securities and corporate law compliance.<a href="http://ca.linkedin.com/pub/tina-antony/13/a25/b1" target="_blank">LinkedIn</a></p>
  <h3>Randy Thompson, CEO Venture Alberta, Calgary</h3>
  <p>*1999-Present, Owner &amp; CEO of Venture Alberta, Angel Group,and Private Equity for companies and Investors<br />
        *1997- Present Seahawk Holdings Ltd., Venture Capital Advisor to the Alberta Government (Alberta Innovation and Science);<br />
        * Board Member and investor for five Technology Based Startups, advisor on three more<br />
        *1999- 2006 Founder of Khyber Pass Entertainment, Digital Content Distributor and Publisher<br />
        *1992-1996 Founder and CEO of Alberta SuperNet, an Internet Service Provider (sold to NorSat Communications)<br />
        *1989-1992, Chief of Staff, Minister of Technology (Alberta) .  <a href="http://ca.linkedin.com/pub/r-stewart-randy-thompson/0/119/148" target="_blank">LinkedIn</a></p>
      <h3>Laura Marriott, Mobile Marketing Executive, Victoria / Denver</h3>
  <p>Marriott currently provides strategic consulting services for companies in the mobile marketing industry as well as serves in a number of board and advisory board roles. From 2005 to 2008, she was responsible for leading the Mobile Marketing Association (MMA), as its global President, to drive the adoption of mobile marketing as well as to establish guidelines and best practices to ensure consumer privacy and brand integrity. Named one of the industry's Mobile Women to Watch 2010 by Mobile Marketer, Top 50 US Executives by Mobile Entertainment and Top 10 Women in Wireless by FierceMarkets, Marriott is highly regarded for her global voice and expertise on mobile marketing. Marriott is published in industry publications and quoted in broadcast, print, and radio world-wide.  For more on Marriott, visit <a href="http://www.lauramarriott.ca" target="_blank">www.lauramarriott.ca</a> <a href="http://www.linkedin.com/in/lmarriott" target="_blank"></a> <a href="http://www.linkedin.com/in/lmarriott" target="_blank">LinkedIn</a></p>
  <h3>Ric Charron, BA, MBAm CMA</h3>
  <p>Mr. Ric Charron has a BA in Economics and Mathematics from Brock University and an MBA from Queens University He holds an accounting designation as a Certified Management Accountant. Mr. Charron began his career in the oil and gas industry in the federal Government department of Energy Mines and Resources in their Programs Branch. Mr. Charron spent 11 years with Energy Mines and Resources where he acquired considerable experience and knowledge in oil and gas drilling and completion operations. In this capacity, Mr. Charron was involved with the Beaufort Sea exploration and development programs as well as other Canada Lands exploration programs. Mr. Charron spent 20 years in the Federal Government and retired as an Executive Director/Director General in Agriculture. Mr. Charron returned to the private sector in 1997 and started Arron Consulting Inc. a private consulting company as its Chief Executive Officer which specialized in start-ups, turn-around assignments and financing of companies. In 1998, Mr. Charron joined Net Shepherd Inc as its Chief Financial Officer where he remained until the sale of the Company in March 2000. He joined Zedi Solutions Inc., a services company in the oil and gas sector, in June 2000 as its Chief Financial Officer until 2002. In September 2000, he started up Wrangler West Capital Corp where he was the President and Chief Financial Officer until its merger with Kerr Energy in 2003 to form Wrangler West Energy Corp. In April 2003, Mr. Charron became the Chief Financial Officer of ITRES Research Inc. a private Company specializing in instrumentation development and services for a broad range of industry sectors including the petroleum, environmental and mining. In 2004, Mr. Charron started Xtreme coil Drilling Corp. he was the CEO and Senior VP Business development until July 2008. Since 2008 Mr. Charron started Latigo Capital Inc. which he merged with Cumberland Oil and Gas in January 2010. Mr. Charron acquired a controlling interest in DI Energy Rentals and continues to operate the Company as the CFO. Mr. Charron is a member of Society Of Management Accountants of Alberta.</p>
  <h3>Marc Wachman, Mobile Development Pioneer, Calgary</h3>
      <p>With 17 years' experience in senior level corporate direction, Marc Wachmann builds companies and teams with a holistic, people-centric approach. Marc is most recognized as a mobile project leader expert, having worked as CTO at both KnowledgeWhere and RedWood Technologies. Marc is a partner of Grow Wireless.  <a href="http://ca.linkedin.com/pub/marc-wachmann/0/11b/432" target="_blank"></a> <a href="http://ca.linkedin.com/pub/marc-wachmann/0/11b/432" target="_blank">LinkedIn</a></p>
  <h3>Jonathan Kohl, Q/A Testing Evangelist, co-founder Kohl.ca, Calgary</h3>
      <p>Jonathan Kohl is an internationally-recognized software testing consultant and founder of Kohl Concepts@<a href="http://www.kohl.ca" target="_blank">www.kohl.ca</a>. A noted software thinker and strategist, Jonathan works to help teams define product vision, and apply testing strategically to maximize their effectiveness. Jonathan is passionate about developing tester skill, and using testing tools to empower testers. He is a popular author and speaker who believes that testing, like other aspects of software development, is a challenging intellectual craft  <a href="http://ca.linkedin.com/in/jonathankohl" target="_blank">LinkedIn</a>. <a href="http://ca.linkedin.com/in/jonathankohl" target="_blank"></a></p>
      <h3>Lisa Whelan, Mobile Business Development, Strategy and Marketing Consultant, San Francisco</h3>
      <p>Lisa Whelan is the Managing Consultant at Socialize Mobilize, which provides global strategy, business development, marketing, and developer relations expertise to clients including: Kodak, Motorola, Palm, Inc., ShoZu Inc., Offbeat Guides, Hands-On Mobile, SocialMedia Networks, and others. Previously, Lisa worked for PA Consulting Group in London, engaging European clients on strategy, business and technology integration projects and Nokia Inc. in Silicon Valley.  Lisa writes about trends in social media and mobile convergence on the SocializeMobilize blog and Twitter.  Lisa holds a MSc from the Said Business School at the University of Oxford and a BA from Boston College. Lisa is based in San Francisco, California and is available for consulting projects anywhere in the world. <a href="http://www.linkedin.com/in/lisawhelan" target="_blank"></a> <a href="http://www.linkedin.com/in/lisawhelan" target="_blank">LinkedIn</a></p>
      <h3>Tony Fish, AMF Ventures and Wireless Industry Expert, London</h3>
      <p>Tony Fish is an experienced, professionally qualified executive and an accomplished public speaker. He has worked on trends and global business issues with numerous organizations, and has particular expertise in the development of innovation through partnership. He has an excellent grasp of strategic and economic issues relating to growth businesses, and their patterns for survival. Tony is known for delivery, his probing questioning, clear decision making, simple no-nonsense attitude and robust financial views and governance controls. He brings an innovative flare to delivery, deal execution and fund raising. With an enviable professional reputation, he has a wide and diverse professional network. &quot;<a href="http://www.mydigitalfootprint.com/footprint-ugc/" target="_blank">My Digital Footprint</a>&quot; is Tony's third book; he explores where next for the Web, the emerging business models, how value and wealth will be created and critically who owns the &quot;digital you.&quot; Tony Fish MBA BEng CEng FIET FCIM has been involved for over 20 years in the Technology Media and Telecoms industries, and has been associated with building hi-tech companies since his first IPO (OFEX) in 1994. Tony is based in London, U.K.
        <!-- end #mainContent -->
  <a href="http://uk.linkedin.com/in/tonyfish" target="_blank">LinkedIn</a><a href="http://www.amfventures.com/" target="_blank">http://www.amfventures.com/</a> <a href="http://uk.linkedin.com/in/tonyfish" target="_blank"></a></p>
  <h3>Cameron Peters, Software Architect and Business Leader, Calgary</h3>
      <p>Cameron Peters has been developing software for consumers and professional businesses for twenty-four years. His first joint venture with Cantax from 1985 to 1995 saw him as President and Chief Architect. He co-founded GreenPoint Software in May, 1995, and developed the Profile Financial Tax Application Suite, which was acquired by Intuit in 2000. In 2002, Cameron moved to the United Kingdom to work as director of the UK tax division.  From 2005 to 2008, he was the Chief Technology Officer for Intuit Canada and UK.  Cameron is currently based in Calgary, and most recently served as Director of Innovation and Tax Product Development for the Intuit Global Business Division. After leaving Intuit in mid-2009, Cameron returned to his entrepreurial roots and is currently in &quot;stealth-mode,&quot; creating The Next Biggest Thing. <a href="http://ca.linkedin.com/pub/cameron-peters/0/887/672" target="_blank"></a> <a href="http://ca.linkedin.com/pub/cameron-peters/0/887/672" target="_blank">LinkedIn</a></p>
	  
      <h3>        Robert Knight</h3>
      <p>Bob has over 30 years experience growing and diversifying corporate entities. As President for the Denro Group, Bob transformed an established real estate corporation into a conglomerate which included capital management, high-tech ventures, resource investments and project management. Bob's financial acumen has served him well through numerous technology mergers and acquisitions. Bob is an active member of the World Presidents' Organization. <a href="http://ca.linkedin.com/pub/robert-knight/a/839/142" target="_blank"></a> <a href="http://ca.linkedin.com/pub/robert-knight/a/839/142" target="_blank">LinkedIn</a></p>
	  
	  <h3>        Stephen King</h3>
       <p>Stephen's 25 years in the software industry includes writing a million lines of code, sales and marketing, product management and business development leadership. He co-founded Greenpoint Software in 1995 and helped develop the ProFile Professional Tax Software Suite that was acquired by Intuit in 2000. After leading the ProAdvisor and Accountant business at Intuit Canada, he became VP, Sales and Marketing of the $105M subsidiary, managing 100+ staff and running brand marketing for QuickTax, Quicken, QuickBooks and Profile across all sales channels, in addition to government and public relations. Stephen was also a director of Mountainview-based Intuit U.S. and was on the senior leadership team that helped define Intuit's Web 2.0 online community strategy in 2004/2005. <a href="http://ca.linkedin.com/in/stephenking13" target="_blank">LinkedIn</a></p>
	   
	  
	  <h3>Stephen Nykolyn, Owner, Tidal Wave Communication, Partner, Calgary</h3>
      <p>Stephen is a sales and marketing specialist with 16 years experience within both the wireless and advertising agency sectors. He's currently a Group Account Director at Calgary's Karo Group Inc., helping corporations provide a consistent branded experience across entire purchasing lifecycles. Stephen has an extensive background in the mobile application sector where he spent   four years in location-based services, mobile entertainment, and 'prosumer' applications. Stephen is a partner of Grow Wireless (www.growwireless.com), and President / Founder of Tidal Wave Communications. <a href="http://ca.linkedin.com/pub/stephen-nykolyn/2/4b1/615" target="_blank">LinkedIn</a></p>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />
