 <div id="container_column_middle_wide_app"> 
            	<div id="container_title_links"> 
                    <h2>POST NEW SURVEY</h2>  
                    
                </div>
		<br />
            	<div id="profile_completion">  
					<img class="meter_progress" src="/images/meter-lg-1-3.gif" /> 
                    <ul class="steps_4"> 
                    	<li><a href="#">Select Survey Type</a></li> 
                        <li><a href="#">Enter Survey Details</a></li> 
                        <li><a href="#">Select Target Demographic</a></li>
			<li><a href="#">Determine Costs Of Survey And Escrow Funds</a></li>
			<li><a href="#">Review Summary</a></li>
			<li><a href="#">Done! Let Mob4Hire Review It</a></li>
                    </ul>				
                </div>
		<br />
                <!--<div id="profile_info">--> 
               		<h3 class="title_error">Main field validation and other error messages get displayed here</h3><br /> 
           
		     <?php echo $this->title; ?><br />
		     <?php echo $this->summary; ?><br />
		     <?php echo $this->zForm; ?><br />
		     
                <!--</div>--> 
            </div><!--End: container_column_middle_wide_app--> 