html{
	behavior:url(/css/csshover.htc);	
	background:#FFFFFF url(/images/bg-site.gif) repeat-x;
}

#container_site{
	width:982px;
	margin:0 auto;
}

#crutch {
	float:left;
	width:1px;
	height:370px;
}

/** HEADER **/
#container_header{
	width:982px;
	/*padding:20px 0 18px 0;*/
	height: 63px;
	margin-top: 14px;
	margin-bottom: 7px;
}

/** LOGO **/
#logo {
	width:250px;
	height:62px;
	position:relative;
	float:left;	
	padding:0px 0 0 0;
}

#logo a {
	width:250px;
	height:62px;
	background:url(/images/layout/m4h-logo.gif) no-repeat;
	display:block;
}

#logo span {
	display:none;
}


/** LOGIN REGISTER BUTTONS **/
#container_login_register{
	float:right;
	padding:0px 0 0px 0;
	margin:0px 0 0 0px;
	width:218px;
}

#logged_in_username{
	position: relative;
	width:150px;
	float:left;
}

#logged_in_username .pro{
	position: absolute;
	right: 20px;
	top: 40px;
}


#logged_in_username a:active,#logged_in_username  a:visited,#logged_in_username  a:link {
	color:#b42025;
	text-decoration:none;
}

#logged_in_username a:hover {
	text-decoration:underline;
}

.header_user .ratingblock p {
	display:none;
}

#header_buttons {
	width:67px;
	float:left;
}

.header_image {
	width:60px;
	padding:0 5px 0px 5px;
}


.header_user{
	width:250px;
	float:right;
}

.header_controls {
	width:67px;
	float:left;
}


#logout_button {
	width:67px;
	height:20px;
	background:url(/images/buttons/logout_button.gif);
}

#logout_button a{
	width:67px;
	height:20px;
	display:block;
}
#logout_button a:hover{
	cursor:pointer;
}

#logout_button span{
	display:none;
}

#dashboard_button, #home_button {
width:67px;
height:20px;
padding:2px 0 0 0;
}

#dashboard_button a{
	width:67px;
	height:20px;
	display:block;
	background:url(/images/buttons/dashboard_button.gif) no-repeat;
}

#home_button a {
	width:67px;
	height:20px;
	display:block;
	background:url(/images/buttons/home_button.gif) no-repeat;
}

#home_button span, #dashboard_button span {
	display:none;
}

#logout_button span{
	display:none;
}

/** RIGHT HEADER **/
#header_right {
	float:right;
	width:290px;
	padding:10px 0 0 10px;
}

#new_to_m4h {
	float:left;
	width:180px;
	padding: 0 0 0 0;
}

#new_to_m4h p {
	padding: 0 0 0 0;
}

#join_m4h {
	float:left;
	width:86px;
	padding:20px 0 0 0;
}

#join_m4h a{
	background:url(/images/buttons/join_m4h_button.gif) no-repeat;
	width:88px;
	height:23px;
	display:block;
}

#join_m4h a span {
	display:none;
}

#container_column_left{
	float:left;
	width:200px;
}

/** FOOTER **/

#footer_box {
	background:#FFF url(/images/layout/footer_bg.gif) repeat-x;
	height:220px;
	padding:0px 0 0 0;
	margin:32px 0 0 0;
}

#footer{
	width:922px;
	margin:auto;
	padding:130px 30px 30px 30px;
	background:url(/images/layout/footer_guy.png) no-repeat center top;
}

#footer .copyright_links{
	float:left;
	padding:0px 0 0 0px;
	width:600px;
}

#footer .users_online{
	float:right;
	padding:0px 0px 0 0;
	width:250px;
	text-align:right;
}

#footer img {
	display:block;
}

body.popout #container_site {
	width:780px;
}

/** Red Outline for App Content - Top **/
.red-top{
	display:block;
	width:760px;
	height:3px;
	background:url(/images/layout/content_red_border_top.gif) no-repeat;
}

/** Red Outline for App Content - Body **/
.red-mid{
	background:#FFF;
	color:#000;
	border-left:#a41c21 3px solid;
	border-right:#a41c21 3px solid;
	padding:20px;
}

/** Red Outline for App Content - Bottom**/
.red-bottom{
	display:block;
	width:760px;
	height:3px;
	background:url(/images/layout/content_red_border_bottom.gif) no-repeat;
}

/** Container for Project Summary **/
#project-summary{
		
}

/** For top of Project Summary - drop shadow graphic **/
#project-summary div#top{
	background:url(/images/layout/project_summary_top.gif) no-repeat;
	height:5px;
	width:754px;
	margin-left:-20px;
}

/** For middle content of Project Summary **/
#project-summary div#mid{
	
	width:714px;
	margin:25px 0;
	overflow:auto;
}

#project-summary div#mid div#project-image{
	float:left;
}


#project-summary div#mid div#container-right{
	width:435px;
	float:left;
	margin-left:15px;
}


#project-summary div#middiv#container-right table#project-info{
	width:100%;


}

#project-summary div#mid div#container-right table#project-info td{
	padding-bottom:5px;	
	font-size:1.3em;
}

#project-summary div#mid div#container-right table#project-info td.label{
	width:120px;
	
	text-align:left;
	font-weight:normal;
	color:#666;
}

#project-summary div#mid div#container-right table#project-info td.value-status{
	font-weight:bold;
	color:#00a651;	
}

#project-summary div#mid div#container-right table#project-info td.value-funds{
	font-weight:bold;	
}


#project-summary div#mid div#container-sharethis{
	width:125px;
	float:right;
	
	
}


#project-summary div#mid div#container-right span.status-label{
	color:#666;
}
	
/** Project Summary Layout **/
#project-summary h2.project-title{
	color:#B42025;
line-height:1.125em;
margin:0 0 0.5em 0;
font-weight:300;
font-size:2em;
}

#project-summary div#project-status{
	float:none;
	font-size:1.3em;
	font-weight:normal;
	text-align:left;
	margin:10px 0;
	width:100%;
}


/** For bottom of Project Summary - drop shadow graphic **/
#project-summary div#bottom{
	background:url(/images/layout/project_summary_bottom.gif) no-repeat;
	height:5px;
	width:754px;
	margin-left:-20px;
}


/** For Project Options links, below Projec Summary **/
#project-options{
	margin:25px 0;
}

#container_column_middle_wide #project-options h3{
	margin-bottom:1.0em;
}



/*
	extend bidding showprojects page right side project options
*/

#project-options ul.extend_bidding
{
	position: relative;
	margin: 0px 0 0 320px;
	/*height: 180px;*/
	width: 330px;
	left: 73px;
}

#project-options ul.extend_bidding li
{
	list-style-type:none;
}

#project-options ul.extend_bidding .form_label
{
	font-size: small;
	position: absolute;
	top: 25px;
	left: -18px;
}

#project-options ul.extend_bidding .whats-this p
{
	font-size: small;
}

#project-options ul.extend_bidding .whats-this img
{
	position: absolute;
	left: 190px;
	top: -5px;
}

#project-options ul.extend_bidding #goButton, input#testenddate
{

}

#project-options ul.extend_bidding input#testenddate
{
	position: absolute;
	top: 25px;
	left: 243px;
	width: 75px;
}

#project-options ul.extend_bidding #goButton
{
	position: absolute;
	top: 56px;
	left: 260px;
}

#project-options ul.extend_bidding  a#header
{
	margin-left: 3px;
}

/*
	end extend bidding in showprojects page
*/




#project-options ul.options{
	float:left;
	margin: 0 45px 0 0;
}

#project-options ul.options li{
	list-style-type:none;
	margin:0.2em 0;
}

#project-options div.description{
	float:right;
	
	width:470px;
}

/** Styles for Project Mobsters Section **/
#project-mobsters{
	margin-bottom:30px;
	
}

#project-mobsters #tabs {
	font-size: 90%;
	margin: 20px 0;
	overflow:auto;
}

#project-mobsters #tabs ul {
	float: right;
	width: 100%;
	margin: 0;
	padding-top:10px;
	}
	
#project-mobsters #tabs li {
	margin-left: 0;
	list-style: none;
	}
	
* html #project-mobsters #tabs li {
	display: inline; /* ie6 double float margin bug */
	}
		
#project-mobsters #tabs li,
#project-mobsters #tabs li a {
	float: left;
	margin-left:2px;
	background: #a9a9a9 url(/images/layout/tab-normal-arrow-next.gif) no-repeat right;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-khtml-border-radius-topright: 6px;
	-khtml-border-radius-topleft: 6px;
	/*behavior: url(/css/app/PIE.htc);*/
}

/*This style removes the arrow in the last results tab.  However, this still renders in IE browsers though b/c they don't follow web standards. In order for this arrow to not show up in IE7 & IE8, we need to add a class to the results tab, and then specify a rule for it in layout.css*/
#project-mobsters #tabs li:last-child,
#project-mobsters #tabs li:last-child a {
	float: left;
	margin-right:2px;
	background-image:none;
}
	
#project-mobsters #tabs ul li a {
	text-decoration: none;
	padding: 0 13px;
	color:#333333;
	font-weight: bold;
	width: 112px;
	height:27px;
	padding-top:10px;
	}
	
#project-mobsters #tabs ul li.active {
	background: #666  url(/images/layout/tab-active-arrow-next.gif) no-repeat right;
	height:47px;
	
	margin-top:-10px;
	}
	
#project-mobsters #tabs ul li.active a {
	background:  url(/images/layout/tab-active-arrow.gif) no-repeat bottom;
	height:34px;
	color: #333333;
	color:#FFF;
	padding-top:13px;
}
	
#project-mobsters #tabs div.tab {
	background: #EEEEEE;
	clear: both;
	min-height: 200px;
	}
	
#project-mobsters #tabs h3.message {
	font-size:2.1em;
	line-height:1.2em;
	text-align:center;
	font-weight:normal;
	color:#333;
	margin: 0 200px;
	padding: 100px 0;
}

/** Styles for sort bar immediately below tabs **/	
#project-mobsters table#sort-bar{
	width:100%;
	height:38px;
	background-color:#ededed;
	background: url(/images/layout/gradient-bar-bg-tile.gif) repeat-x center;
}

#project-mobsters table#sort-bar td{
	padding:12px;
	font-size:1.3em;
}

/** Styles for invite tab form **/
#project-mobsters form.invite-mobsters{
	font-size:inherit;
	line-height:inherit;
	margin:inherit;
}

/** Styles for top horizontal bar for Invites tab. Displays invites button and mobsters invited count **/
#project-mobsters table.invites-bar-top{
	width:656px; 
	height: 63px; 
	margin:0 auto; 
	background:transparent url(/images/layout/round-corner-grey-bg-top.gif) repeat-x scroll center center; 	
	color:#FFF; 
}

/** Styles for bottom horizontal bar for Invites tab. Displays invites button and mobsters invited count **/
#project-mobsters table.invites-bar-bottom{
	width:656px; 
	height: 63px; 
	margin:0 auto; 
	background:transparent url(/images/layout/round-corner-grey-bg-bottom.gif) repeat-x scroll center center; 	
	color:#FFF; 
}

#project-mobsters table.invites-bar-top td.invites-button,
#project-mobsters table.invites-bar-bottom td.invites-button{
	width:75px;
	text-align:center;
	padding: 20px 0 0 15px;
	text-align:left;
}

#project-mobsters table.invites-bar-top td.invites-count{
	font-size: 1.7em;
	padding-top:20px;
}

span.invited-value{
	font-size:1.3em;
	font-weight:bold;
}

/** Stules for checkbox **/
#project-mobsters table.listings tr.new-bid td.invite-select{
	text-align:center;
	width:90px;
	padding-left:10px;
}

#project-mobsters form.invite-mobsters input[type="checkbox"]{
	padding:0;
	position:relative;
}


/** Styles for listing of new bids **/
#project-mobsters table.listings{
	width:100%;
	margin:0;

	border-bottom:#a7a7a7 2px solid;	
}

#project-mobsters table.listings tr.new-bid,
#project-mobsters table.listings tr.new-bid td{
background-color:#eeeeee;
}

/** Styles for test wall **/

h2.test-wall,
h2.test-wall a{
	color:#BE1E2D;
	font-weight:bold;
	margin:0 0 0 10px;
}

span.text-small{
	font-size:0.6em;
	font-weight:normal;
}

/* Styles for test wall msg */

div.project div.test-msg-wall div#project-wall label{
	font-size:1.1em;	
}


div.test-msg-wall div.comment_parent div.comment_content p.comment_footer,
div.test-msg-wall div.comment_parent div.comment_content p.comment_footer a{
	color:#808080;	
	font-size:1.0em;
}


div.test-msg-wall div.comment_parent div.comment_content p.username a{
	text-decoration:none;
	color:#BE1E2D;
	font-size:0.7em;
}

/** Styles for back to top link - bottom of table **/
table#top-link{
	height:36px;
	background-color:#ededed;
	background:  url(/images/layout/gradient-bar-bottom-bg-tile.gif) repeat-x center;
	width:100%;
	color:#333;
}

table#top-link td{
	padding:12px;
	font-size:1.3em;
}

/** Styles for In Progress tab, Remove User button **/
#project-mobsters table.listings tr.new-bid a.remove-mobster{
	background:transparent url(/images/buttons/remove_mobster_button.gif) repeat scroll 0 0;	
}

/** Styles for In Progress tab, Files button **/
#project-mobsters table.listings tr.new-bid a.files{
	background:transparent url(/images/buttons/files_button.gif) repeat scroll 0 0;
}

/** Styles for In Progress tab, Pay Tester button **/
#project-mobsters table.listings tr.new-bid a.pay-mobster{
	background:transparent url(/images/buttons/pay_mobster_button.gif) repeat scroll 0 0;
}

a.remove-mobster,
a.pay-mobster{
	display:block;
	height:32px;
	margin:0 0 4px;
	width:59px;
}

a.files, 
a.pay-movbster{
	display:block;
	height:20px;
	margin:0 0 4px;
	width:59px;
}

a.remove-mobster span,
a.files span, 
a.pay-mobster span{
	display:none;
}


/** Styles for Project Comments **/
#project-comments{
}

#project-comments label{
	font-size:1.3em;
}

#project-comments form{
	width:100%;
	margin:0;
}

/** Styles for Project Resources **/
#project-resources .file-listing{
	background-color:#a8a8a8;
	position:relative;
	width:450px; 
	float:left; 
	padding: 10px 4px; 
	display:block;	
	color:#FFF;
}

#project-resources .file-listing ul{
	margin-left: 10px;
}

#project-resources .file-listing ul li{
	list-style-type:none;
}

#project-resources .file-listing ul li,
#project-resources .file-listing ul li a{
	color:#FFF;
}

#project-resources label{
	font-size:1.3em;	
}

#project-resources .form_description p{
	font-size:1.3em;	
}

/** Bid Info Styles **/
#project-mobsters table.listings tr.new-bid td{
	padding:20px 0 15px 0;
}

#project-mobsters table.listings tr.new-bid td.bid-info{
	width:175px;
	text-align:center;
}

#project-mobsters table.listings tr.new-bid td.bid-info p.amount{
	font-size:3.6em;
	font-weight:bold;
	letter-spacing:-1px;
	color:#be1e2d;	
	line-height:1;
	margin-bottom:10px;
}

#project-mobsters table.listings tr.new-bid td.bid-info p.date{
	font-size:1.2em;
	font-weight:normal;
	color:#333;
	line-height:1.2;
}

#project-mobsters table.listings tr.new-bid td.user-image{	
	width:32px;
	padding-right:8px;
}

/** styles for mobster (tester) info **/
#project-mobsters table.listings tr.new-bid td.user-info{	
	padding-left:10px;
	width:410px;
}

#project-mobsters table.listings tr.new-bid td.user-info p.username{	
	font-size:2.2em;
	font-weight:bold;
	margin:0;
	
	color:#be1e2d;
	font-decoration:none;
}

#project-mobsters table.listings tr.new-bid td.user-info p.username a{
	color:#be1e2d;
	text-decoration:none;
}

#project-mobsters #tabs ul.unit-rating{
	float:left;
}

p.rating{
	margin-bottom:5px;	
}


div.ratingblock{
	display:inline !important;
}

div.ratingblock div#unit_long{
	display:inline !important;
}

#project-mobsters #tabs ul.unit-rating{
	padding:0;
	margin-right:10px;
}

#project-mobsters #tabs ul.unit-rating li.current-rating {
background:transparent url(/images/starrating.png) repeat scroll left bottom;
display:inline;
height:20px;
margin:0;
text-indent:-9000px;
width:20px;
z-index:1;
}

#project-mobsters #tabs ul.unit-rating .unit-rating li {
float:left;
margin:0;
padding:0;
text-indent:-90000px;
}

#project-mobsters table.listings tr.new-bid td.user-info p.user-facts{
	color:#333;
	font-size:1.0em;
	margin-bottom:0.5em;
}

#project-mobsters table.listings tr.new-bid td.user-info p.status{
	font-size:1.0em;
	margin-bottom:0;
}

a.view-testcase-short{
	background:  url(/images/buttons/view_testcase_short_button.gif) no-repeat center;
	height:30px;
	width:59px;
	display:block;
	margin:0 0 4px;
}

a.contact-user{
	background:  url(/images/buttons/contact-user-button.gif) no-repeat center;
	height:30px;
	width:59px;
	display:block;
	margin:0 0 4px;
}

a.contact-user span,
a.view-testcase-short span{
	display:none;	
}

/** TO BE REMOVED ONCE NEW BORDER IS IN PLACE **/
/** ROUNDED CORNERS **/

.rtop{display:block; background:#DDD;}
.rbottom{display:block; background:#EEE;}
.rtop b, .rbottom b{display: block; background:#ddd; height: 1px; overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}

.rtop.red b, .rbottom.red b {
	background:#b42025;
}

/** Styles for Escrow Table **/
table.escrow-table{
	font-size:1.3em;	
}

/** Projects Mobster - Header - Remedies cascading font sizes **/
div#container_column_middle_wide h2.profile-mobster{
	font-size:1.6em;
}

/** Dashboard Styles **/
ul#dashboard-summary{
	background:  url(/images/app/dashboard-summary-bg.gif) repeat-x center;
	height:68px;
	width:754px;
	margin: 0 -20px;	
}

ul#dashboard-summary li#username,
ul#dashboard-summary li#messages,
ul#dashboard-summary li#balance,
ul#dashboard-summary li#rating,
ul#dashboard-summary li#last-login{
	width:120px;
	height:61px;
	float:left;
	margin:5px 0 2px 0;
	padding:0 13px;
	list-style-type:none;
	background: url(/images/app/dashboard-options-border.gif) no-repeat right;
}

ul#dashboard-summary li#last-login{
	background:#FFF;
}

ul#dashboard-summary li#username{
	position:relative;		
}

ul#dashboard-summary li#username span{	
	line-height:1;
}

ul#dashboard-summary li#username span.user{
	color:#000;
	font-weight:bold;
	position:absolute;
	top:23px;
}

ul#dashboard-summary li#username span.label{
	position:absolute;
	top:37px;
	color:#a8a8a8;
	margin:0;	
}

ul#dashboard-summary li#messages{
	position:relative;
}

ul#dashboard-summary li#messages span{	
	line-height:1;
}

ul#dashboard-summary li#messages img.new-mail{
	position:absolute;
	left:15px;
	top:8px;
}

ul#dashboard-summary li#messages span.mail-count{
	position:absolute;
	left:55px;
	top:13px;
	color:#B42025;
	font-size:2.0em;
	font-weight:bold;
	margin-left:5px;
}

ul#dashboard-summary li#messages span.label{
	position:absolute;
	top:37px;
color:#a8a8a8;
left:15px;
margin:0;	
}

ul#dashboard-summary li#balance{
	position:relative;	
}

ul#dashboard-summary li#balance span{
	line-height:1;
}

ul#dashboard-summary li#balance span.amount{
position:absolute;
	left:15px;
	top:13px;
	color:#B42025;
	font-size:2.0em;
	font-weight:bold;
	margin-left:5px;
}

ul#dashboard-summary li#balance span.label{
	position:absolute;
	top:37px;
color:#a8a8a8;
left:20px;
margin:0;	
}

ul#dashboard-summary li#rating{
	position:relative;
}

ul#dashboard-summary li#rating span{
	line-height:1;
}

div.starrating-new{
	margin-top:14px;
	width:110px;
	height:22px;
	background:	url(/images/starrating-large.png) repeat-x right;
}

ul#dashboard-summary li#rating span.label{
	position:absolute;
	top:38px;
color:#a8a8a8;
left:18px;
margin:0;
font-size:0.9em;

}

ul#dashboard-summary li#rating div.ratingblock{
	position: absolute;
		top: 13px;
		left: 6px;
}

#rating .pro
{
	position:absolute;
	top: 0px;
	right: -30px;
}

#project-rating
{
	position: relative;
	left: 30px;
	width: 130px;
	height: 45px;
}


#project-rating .pro
{
	float: right;
	margin-top: -19px;
}

#profile-rating
{
	position: relative;
	width: 130px;
}

#profile-rating .pro
{
	float: right;
	margin-top: -19px;
}


ul#dashboard-summary li#last-login{
	position:relative;	
}

ul#dashboard-summary li#last-login span.date{
	position:absolute;
	left:15px;
	color:#000;
	font-weight:bold;
	position:absolute;
	top:21px;
	font-size:0.9em;
}

ul#dashboard-summary li#last-login span.label{
	position:absolute;
	top:34px;
color:#a8a8a8;
left:15px;
margin:0;	
}

div#dashboard-notification{
	background:#E6E6E6;
	width:730px;
	margin: 0 -20px;
	padding:10px 12px;
	font-size:1.2em;
}

div#dashboard-notification span.label{
	color:#808080;	
}

div#dashboard-notification span.options{
	float:right;
}

/** Styles for Dashboard > Projects I'm managing and testing
div#projects-managing,
div#projects-testing{
	margin-bottom:25px;	
}

div#projects-managing .project,
div#projects-testing .project{
	border:#bfbfbf 3px solid;	
	padding:10px;
	margin-top:-3px;
}

.project .change-summary{
	background-color:#e6e6e6;
	height:13px;
	padding:10px;
	font-weight:bold;
	margin-bottom:10px;
}

.project .change-summary span.no-change{
	color:#808080;
}

.project .change-summary span.change{
	color:#00a651;
}

.project img.project-icon{
	float:left;	
}

.project .project-info
{
	float:right;
	width:575px;
}

.project .project-info h3.title{
	float:left;
	width:400px;
	font-size:1.6em;	
}

.project .project-info a.manage-your-app,
.project .project-info a.edit-project,
.project .project-info a.close-bidding,
.project .project-info a.apply-project,
.project .project-info a.bid-again,
.project .project-info a.submit-test-case,
.project .project-info a.get-test-case 
{
	clear: right;
	float:right;	
	margin-right:25px;
}

.project .project-info table.summary{
	width:100%;
	margin-top:30px;
}

.project .project-info table.summary td{
	padding:4px 2px;
}

.project .project-info table.summary td.info-label{
	text-align:right;
	color:#808080;
	width:50px;
}

.project .project-info table.summary td.value{
	text-align:left;
	color:#000;
	font-weight:bold;
	width:200px;
}

.project .project-info table.summary td.status{
	color:#00a651;
}

.project .project-wall{
	border-top:#666 1px dotted;
	margin-top:15px;
	padding-top:15px;
} **/

#m4h-roles{
	overflow:auto;	
}

#role-mobsters{
	width:130px;
	float:left;
		
}

#role-developer-researcher{
	width:570px;
	float:right;
}

#role-mobsters h3{
	text-transform:capitalize;
	font-size:1.5em;
	height:25px;
	text-align:center;
	
	background: url(/images/app/horiz-bracket-short.png) no-repeat bottom;
}

#role-developer-researcher h3{
	text-transform:capitalize;
	font-size:1.5em;
	height:25px;
	text-align:center;
	
	background: url(/images/app/horiz-bracket-long.png) no-repeat bottom;
}

/** Conrainter for roles - used to hold multiple rows of roles **/
.role-row{
	overflow:auto;
}

.role-available{
	background-color:#FFF;
	border: #B42025 3px solid;
	padding:5px;
	width:112px;
	min-height:225px;
	float:left;
	margin:0 13px 18px 0;
}

.role-not-available{
	background-color:#ededed;
	border: #B42025 3px solid;
	padding:5px;
	width:112px;
	min-height:225px;
	float:left;
	margin:0 13px 18px 0;
}

.role-available img.icon,
.role-not-available img.icon{
	margin:0 -5px -5px -5px;
}

h4.role-name{
	font-size:1.6em;
	min-height:65px;
	margin-bottom:0;
}

.role-available a.role-button,
.role-not-available a.role-button{
	text-align:center;
	margin:0 20px;
}

.role-available a.role-button img,
.role-not-available a.role-button img{
	margin-bottom:2px;
}


ul#wall li{
	list-style: none;
	/*line-height: 10px;
	margin-bottom: 200px;*/
}
#developer-img
{
	float: left;
	margin-right: 1em;
}

#message_wall 
{
	width: 99%;
	margin-bottom: 15px;
}
#wall-img img
{
	height: 6ex;
	width: 6ex;
	float: left;
	margin-right: 1em;
}
#share {
	float: right;
}

#attach{
	float: left;
}
#expand 
{
	float: left;
	margin-right: 1em;
	/*padding-top: 10px;*/
	margin-top: 13px;
}
#toggleButton
{
	float: left;
	margin-right: 1em;
}


#project-mobsters #tabs div div.form_label {
height:25px;
text-align:right;
width:222px;
}

#project-mobsters #tabs div.form_description {
color:#000000;
height:25px
}

/** Holds all of the parent and child comments **/

div.filelayout{
	font-size:1.3em;	
	font-weight:bold;
	background:url(/images/icons/folder.png) no-repeat 10px 50%;
	background-color:#e6e6e6 ;
	height:13px;
	padding:10px 0px 10px 30px;
	font-weight:bold;
	margin:10px;
}

div.filelayout .nav{
	float:right;
}

div.filelayout a{
	text-decoration:none;
}



.loading-wall{
	font-size:1.0em;	
	font-weight:bold;
	background:url(/images/working.gif) no-repeat 10px 50%;
	background-color:#e6e6e6 ;
	height:13px;
	padding:10px 0px 10px 30px;
	font-weight:bold;
	margin:10px;
	
}

.fileview {
	background-color:#e6e6e6 ;
	/*border:1px solid black;*/
	padding:10px;
	
}


div.wallthread-header{
	background-color:#e6e6e6 ;
	
}

div.wallthread-header p.about{
	font-size:1.0em;
	height:13px;
	padding:10px 0px 10px 30px;
	font-weight:bold;
	margin:10px;	

}


div.comment_parent{
	width:650px;
	float:right;
}

div.comment_parent div.comment_content img.user-image{
	float:left;	
}

div.comment_parent div.comment_content p{
	margin:0 0 8px 45px;
	font-size:1.2em;
}

div.comment_parent div.comment_content p.username{
	font-size:1.8em;
	color:#BE1E2D;
	font-weight:bold;
	margin-bottom:0;
}

div.comment_parent div.comment_content p.username a{
	text-decoration:none;
	color:#BE1E2D;
	font-size:0.8em;
}

div.comment_parent div.comment_content p.username span.italic-grey{
	font-style:italic;
	color:#666;
	font-weight:normal;
	font-size:0.65em;
}

div.comment_parent div.comment_content p.comment_footer,
div.comment_parent div.comment_content p.comment_footer a{
	color:#808080;	
	font-size:1.0em;
}

div.comment_child{
	margin-top:5px;
	width:550px;
	float:right;
	/*background-color:#e5e5e5;*/
	padding:5px 5px 5px 50px;
}

div.comment_child img{
	margin-left:-45px;
	float:left;
}

div.comment_child p{
	font-size:1.2em;
	margin-bottom:8px;
}

div.comment_child p.username{
	color:#BE1E2D;
	font-weight:bold;
	margin-bottom:0;
	font-size:1.3em;
	margin-bottom:8px;
}

div.comment_child p.username a{
	text-decoration:none;
	color:#BE1E2D;
}

div.comment_child p.username span.italic-grey{
	font-style:italic;
	color:#666;
	font-weight:normal;
	margin-bottom:5px;
}

div.comment_child p.comment_footer,
div.comment_child p.comment_footer a{
	color:#808080;
}


div.add_comment{
	margin-top:5px;
	width:500px;
	float:right;
	background-color:#e5e5e5;
	padding:0 5px 0 50px;
	//overflow:auto;
}

div#project-wall div.add_comment .form_input{
	width:480px;
}

div.add_comment textarea.text_input_bottom{
	font-family:Helvetica,Arial,sans-serif;
	font-size:1.3em;
	font-weight:normal;
	padding:2px;
	width:100%;
	display:block;
	margin:10px 2px;
}




/** Inbox styles **/
h1.header-links{
	float:left;	
	margin-right:20px;
	line-height:0;
}

span.msg-count-sm{
	color:#B42025;
	font-size:0.7em;	
}

span.msg-count-med{
	color:#B42025;
	font-size:1em;	
}

ul#nav-page{
	font-size:1.0em;
	color:#B42025;	
	padding-top:6px;
}

ul#nav-page li{
	list-style-type:none;	
display:inline;
line-height:0;

}

ul#nav-page a{
color:#B42025;	
text-decoration:none;	
}

ul#nav-page a:hover{
	text-decoration:underline;	
}

div#wallpost-user{
	width:100%;
	
}

div#wallpost-project .project{
	width:685px;
	border:#e6e6e6 3px solid;
	padding:25px 10px;
	margin-bottom:-3px;
}

div#wallpost-thread{
	width:100%;
}



.project div.project-name{
	font-size:2.0em;	
	font-weight:bold;
	color:#B42025;
}

.project div.project-msgs{
	font-size:1.2em;	
	margin:15px 0;
}

.project div.test-msgs{
	font-size:1.2em;	
	margin-bottom:15px;
}

div.project-msgs h3,
div.test-msgs h3{
	color:#807d80;
	font-weight:normal;
	font-size:1.2em;
}

div#filter_form
{	
	width: 99%;
	padding-top: 10px;
	margin-left: 2px;
}

div#filter_form button
{
 margin-top: 4px;
 width: 112px;
}

div#filter_form input
{
	width: 116px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div#filter_form select
{
	width: 122px;
	margin-top: 5px;
	margin-bottom: 15px;
}

div#filter_form td
{
	padding-right: 8px;
	padding-left: 13px;
}

div#filter_form label
{
	font-size: 10pt;
}

div#imgmenu-container2, div#imgmenu-container3, div#imgmenu-container4
{
	/*border: solid green 1px;*/
}

div#imgmenu-container1
{
	/*border: red solid 1px;*/
	margin-left: -15px;
	cursor: pointer;
	cursor: hand;
}

table#imgmenu-container2 td ,table#imgmenu-container2 th
{
	padding-right: 15px;
	padding-bottom: 5px;
}


table#imgmenu-container2 td img
{
	/*border: green solid 1px;*/
	/*width: 167px;*/
	cursor: pointer;
	cursor: hand;
	
}

table#imgmenu-container2 th
{
	/*border: solid red 1px;*/
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 12px;
}


div#info-display
{
	margin-top: 25px;
	/*border: solid red 1px;*/
	height: 200px;
}

#imgContainer
{
	
}


div#info-display .viewport-holder
{
	padding-right: 10px;
	width: 240px;
	height: 50px;
	float: left;
	/*border: red solid 1px;*/
}

p#caption
{
	color: gray;
	white-space:normal;
	overflow: auto;
	/*border: green solid 1px;*/
}

p#body
{
	clear: left;
}

.wall-container{
	width:100%;
}

/* for the header search bar */
form#main-search{
	float:right;
	margin:6px 6px 0 0 ; 
	padding:0; 
	width:320px;	
}
form#main-search fieldset{
	float:left;	
	width:100%;
}
form#main-search div.search-type span.label{
	border: 1px solid #666;
	background-color:gray;
	color: white;
	float: left;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-size: 11px;
	font-weight: bolder;
	height: 21px;
	letter-spacing: 0px;
	line-height: 20px;
	padding: 1px 10px 0px 10px;
	text-decoration: none;
	width:55px;
}

form#main-search div.search-type span.label:hover{
		color:#666;
}

form#main-search div.search-type:hover ul,
form#main-search div.search-type ul:hover{
		display:block;
}


form#main-search div.search-type select{
	left: -9999em;
	position: absolute;	
}

form#main-search div.search-type ul{
	display: none;
	top:20px;
	left: -25px;
	position: absolute;
	width:75px;
	z-index: 1000;
	background: white;

}

form#main-search div.search-type li{
	float: left;
	list-style-type: none;
	position: relative;
	margin: 0px;
	padding: 6px 5px;
	border-top: 1px dotted #CCC;
	background: white;
}

form#main-search div.search-type li a{
	color: #666;
	float: left;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-size: 11px;
	font-weight: bolder;
	height: 15px;
	letter-spacing: 0px;
	line-height: 15px;
	padding: 0px 6px;
	text-decoration: none;
	width:100%;
}

form#main-search input#search{
	background: white;
	border-color: #7C7C7C #C3C3C3 #DDD;
	border: 1px solid;
	font-size: 12px;
	height: 16px;
	line-height: 12px;
	padding: 4px 2px 2px;
	width: 211px;
}

form#main-search input#submit{
	background: gray url(/images/icons/search.png) no-repeat center center;
	border: 1px solid #666;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	color: gray;
	cursor: pointer;
	height: 23px;
	text-indent: -1234px;
	width: 22px;
}

/* for profile actions. Right aligned controls */
div.float-right{
	position:absolute;
	float:right;
	width:163px;
	right:12px;
	padding-bottom:10px;
}

div.float-right p{
	padding:10px;
	text-align:center;
}
div.float-right .change-summary{
	background-color:#e6e6e6;
	height:13px;
	padding:10px;
	font-weight:bold;
	margin-bottom:10px;
	color:#808080;
	text-align:center;	
}

div.float-right .change-summary h2{
	margin:0;
	margin-bottom:2px;
}