@import url('/css/app/layout.css?version=2010-10-01-1651');
@import url('/css/app/navigation.css?version=2010-10-01-1651');
@import url('/css/forms.css?version=2010-10-01-1651');
/* CLEARFIX
====================*/
.clear{
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/* reset.css  
**
*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	  font-family: Helvetica, Arial, sans-serif;
}

html{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	  font-family: Helvetica, Arial, sans-serif;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common.css
**
*/
.listings-box {
	background:#FFF;
	color:#000;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
}

.listings-title, .listings-title h1, .listings-title h2, .listings-title h3 {
	background:#B42025;
	color:#FFF;
}

.listings-title {
	padding: 8px 8px 8px 8px;
	font-size:1.6em;
font-weight:bold;
}

.listings-subtitle {
	border-bottom:#B42025 1px solid;
	border-top:#B42025 1px solid;
	padding: 0px 8px 8px 8px;
	font-size:1.0em;
}

.listings-subtitle, .listings-subtitle h1, .listings-subtitle h2, .listings-subtitle h3 {
	background:#EBEBEB;
}

.listings-box td {
	padding:2px 2px 2px 2px;
	vertical-align:top;
}

.listings-box ul li {
	list-style-type:none;
}

table.listings {
	margin:8px 0 8px 0;
}

table.listings .title {
	padding: 0 0 6px 0;
}

table.listings .title a {
	color:#B42025;
	font-weight:bold;
	text-decoration:none;
}

table.listings td {
	background:#EEE;
	vertical-align:top;
	border-bottom:#FFF 1px solid;
	font-size:1.3em;
	padding:8px 8px 8px 8px;
}

table.listings th {
	background:#B42025;
	color:#FFF;
}

.red-borders-content {
	background:#FFF;
	color:#000;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
	padding:8px 8px 8px 8px;
}

#project-overview, .overview {
font-size:1.0em;
line-height:1em;
}

.project-image {
	width:100px;
	padding:0 8px 0 8px;
}

div.project-image {
	float:left;
}

.project-image a {
	font-size:1.0em;
}

#project-info {
	padding:0 0 8px 0;
	margin:0 0 8px 0;
}

#project-overview td p {
	font-size:1.0em;
}

#project-info-left {
	float:left;
	width:520px;
	padding:0 8px 0 0;
}

#project-title,
#project-title a{
	color:#B42025;
	font-size:1.3em;
	font-weight:bold;
	margin:0 0 8px 0;
	text-decoration:none;
	line-height:1.1em;
}

#project-status {
	width:300px;
	float:right;
	text-align:right;
	font-size:1.0em;
	font-weight:normal;
}

#project-desc {
	font-size:1.3em;
	line-height:1.3em;
}

#project-overview td, .overview td {
	padding:8px;
	font-size:1.3em;
	line-height:1.3em;
	vertical-align:top;
}

#project-overview td table td{
	font-size:1.0em;
}

#project-overview td.label, .overview td.label {
}

#project-overview td.form_helptip {
	width:30px;
}

#project-info-right {
	float:left;
	width:190px;
	padding:0 0 0 8px;
	text-align:center;
}

#project-username {
	font-size:1.3em;
	margin-top:10px;
	padding:4px 0 4px 0;
}

#rating-title {
	font-size:1.3em;
	color:#666;
	padding:4px 0 0 0;
}

#project-rating .ratingblock {
	padding:4px 0 0 40px;
	display:block;
}

#project_listings {
	
	padding:0 2px 0 2px;
}

#project_listings td {
	padding:8px 8px 8px 8px;
}

#project_listings .project-info,  .action-link, .info {
	float:left;
	padding:0 0px 10px 0;
}

#project_listings .project-info {
	width:480px;
	padding:0 10px 10px 0;
}

#project_listings .title {
	font-weight:bold;
}

#project_listings .status {
	font-size:1.0em;
	font-weight:normal;
}

#project_listings .title a {
	text-decoration:none;
}

.info {
	
	width:450px;
	padding:0 10px 10px 0;
	clear: both;
}

.info p {
	margin:0 0 .5em 0;
}

.testcase-button {
	float: right;
	padding-bottom:4px;
	position: relative;


	}

.action-link {
	
	text-align:left;
	width:105px;
	font-size:1.0em;
	float: right;
}

.action-link li{
	list-style:none;
}



p.project-details {
	color:#000;
}

/** BUTTON LINKS **/
a.apply-project,
a.manage-project,
a.edit-project,
a.accept,
a.decline {
	display:block;
	width:59px;
	height:20px;
	margin:0 0 4px 0;
}


a.apply-project {
	background:url(/images/buttons/view_button.gif);
}


a.manage-project {
	background:url(/images/buttons/manage_button.gif);
}

a.edit-project {
	background:url(/images/buttons/edit_button.gif);
}

a.accept {
background:url(/images/buttons/accept_button.gif);
}

a.decline {
background:url(/images/buttons/decline_button.gif);
}


a.download-app,
a.bid-again,
a.submit-test-case,
a.submit-test-results,
a.get-test-case,
a.close-bidding,
a.manage-your-app,
a.view-testcase{
	display:block;
	width:106px;
	height:20px;
	margin:0 0 4px 0;
}



a.download-app {
	background:url(/images/buttons/download_app_button.gif);
}

a.bid-again {
	background:url(/images/buttons/bid_again_button.gif);
}

a.submit-test-case {
	background:url(/images/buttons/submit_test_case_button.gif);
}

a.get-test-case {
	background:url(/images/buttons/get_test_case_button.gif);
}

a.get-test-results {
	background:url(/images/buttons/get_test_results_button.gif);
}

a.close-bidding {
	background:url(/images/buttons/close_bidding_button.gif);
}

a.manage-your-app {
	background:url(/images/buttons/manage_your_app_button.gif);
}


a.download {
	margin:32px auto;
	width:150px;
	height:49px;
	display:block;
	background:url(/images/buttons/download_red.gif);
}

a.view-testcase {
	background:url(/images/buttons/view_testcase_button.gif);	
}

a.download span,
a.download-app span,
a.bid-again span,
a.submit-test-case span,
a.submit-test-results span,
a.get-test-case span,
a.edit-project span,
a.close-bidding span,
a.manage-your-app span,
a.manage-project span,
a.edit-project span,
a.accept span,
a.decline span,
a.view-testcase span {
	display:none;
}

.silver-horizontal-container, 
.silver-horizontal-container-go, 
.silver-horizontal-container-stop{
	border-bottom:#B42025 solid 1px;
	padding:8px 8px 8px 8px;
}

.silver-horizontal-container{
}

.silver-horizontal-container-go{
	background-color:#ecf5fc;
}

.silver-horizontal-container-stop{
	background-color:#f5e5e6;
}

.silver-column-left{
	float:left;
	width:100px;
}

.silver-column-mid{
	float:left;
	width:472px;
}

.silver-column-mid-left{
	float:left;
	width:360px;
	padding:0 8px 0 16px;
}

.premium-testing {
	float:right;
	width:80px;
	text-align:center;
}

.silver-column-right{
	float:right;
	width:100px;
	padding:0 32px 0 16px;
}

.silver-column-right li{
	list-style:none;
}

.project-title {
	color:#b42025;
	font-weight:bold;
	font-size:1em;
}

.status-title {
	color:#000;
	font-weight:bold;
}

.time-remaining {
	margin:6px 0 0 0;
	border-top:#999 1px solid;
}

#mobtest-logo, #mobsurvey-logo {
	height:50px;
	padding:0 0 0 16px;
}

#mobtest-logo {
	background:url(/images/app/icons/mobtest_logo.jpg) no-repeat;
	width:140px;
}

#mobsurvey-logo {
	background:url(/images/app/icons/mobsurvey_logo.jpg) no-repeat;	
	width:178px;
}

#mobexperience-logo {
	background:url(/images/app/icons/mobexperience_logo.jpg) no-repeat;
	width:140px;
}

#mobaccelerator-logo {
	background:url(/images/app/icons/mobaccelerator_logo.jpg) no-repeat;	
	width:178px;
}



#mobtest-logo span,
#mobsurvey-logo span {
	display:none;
}

tr.row_even td{
background:#f1f1f1;
}

tr.row_odd td{
	background:#FFF;
}

.red-border-bottom,
tr.red-border-bottom td,
td.red-border-bottom {
	border-bottom:#b42025 1px solid;
}

.bottom-curve, 
table.current_projects td.bottom-curve, 
table.current_handsets td.bottom-curve, 
table.current_surveys td.bottom-curve{
	background:url(/images/layout/bottom_curve.gif) no-repeat;
	height:11px;
	width:760px;
	border-bottom:0px;
	border-left:0px;
}

.bottom-curve-narrow {
	background:url(/images/layout/bottom_curve-buzz.gif) no-repeat;
	width:478px;
	margin:0 0 26px 0;
}

#uploads {
	display:block;
}

ol.bolder{
	list-style-type:decimal;
	margin: 0 0 0 35px;
}

/* typography.css
**
**
*/
body {
  font-size:62.5%;/*Sets default size to 10px. Now 1em=10px, 1.2em = 12px, etc..*/
  color:#414141;
}

a:link, a:visited {

  text-decoration:underline;
  color:#666666;
}
a:hover, a:active {
  text-decoration: none;
}
p a:link, p a:visited {
}
h1 a:link, h1 a:visited, 
h2 a:link, h2 a:visited, 
h3 a:link, h3 a:visited, 
h4 a:link, h4 a:visited {
  text-decoration: none;
}
h1 a:hover, h1 a:active, 
h2 a:hover, h2 a:active, 
h3 a:hover, h3 a:active, 
h4 a:hover, h4 a:active {
  text-decoration: none;
}
h1,h2 {
font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
  color:#b42025;
font-weight:300;
}
h3, h4, h5 {
font-family:Helvetica Neue, Helvetica, san-serif;
  font-weight:bold;
  color:#b42025;
}

h1 {
  color:#333333;
font-size: 2.6em; /* 10x2.6=26px */
  line-height: 1.0em;
  margin: 0 0 .75em 0;
	z-index:-9999;
	font-weight:300;
}
h2 {
  font-size: 2.0em; /* 16x1=16px */
  line-height: 1.125em;/* 16x1.125=18px */
  margin:.7em 0 .75em 0;
}
h3 {
font-size:1.3em;/* 16x0.875em=14px */
  margin:1.2em 0 1em 0; /* 15x1.2=18px */
}
h4 {
  font-size:1.4em;/* 16x0.75em=11px */
  margin:.786em 0 .5em 0; /* 14x1.286=18px */
}
h5 {
  font-size:1.3em;/* 16x0.75em=11px */
margin:1em 0 .5em 0; /* 12x1.5=18px */
}

h1 a, h2 a, h3 a, h4 a{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
}


ul {
  margin:0 0 15px  25px;
  list-style:disc outside;
}
ul li {
	list-style:outside;
	
}
li, blockquote {
  font-size:.75em; /* 16x.75=12px */
}
li li {
  font-size:1em; /* maintain font size for nested lists */
}
p, li, form {
  font-family: Helvetica, Arial, sans-serif;
  margin:0 0 1.5em 0;
	line-height:1.4em;
	font-size:1.3em;
}

form p,
form ul li,
form ol li{
	font-size:1.0em;	
}

li {
  margin-bottom:0;
}

b, strong {
	font-weight:bold;
	color:#b42025;
}

b.black, strong.black{
	font-weight:bold;
	color:#000;
}

ol.bolder{
	font-weight:bold;
	color:#B42025;
}

ol.bolder p{
	font-weight:normal;
	color:#414141;
	font-size:1.0em;
}

#stats_box {
	font-weight:bold;
	color:#fff;
	font-size:.9375em; /* 16x1=16px */
}

#stats_box li {
	list-style-type:none;
}

#stats_box a {
		font-weight:normal;
		color:#eee;
		width:60px;
}

div#container_content{
}

#footer {
	font-size:1.3em;
}

.welcome_back, #new_to_m4h b{
	font-weight:bold;
  color:#666;
	font-size:1.3em;
}

#new_to_m4h p {
	color:#b42025;
}

.currency {
	text-align:right;
}

.form_label label, td.label, #register .form_label label {
	
	font-weight:bold;
	color:#B42025;
	text-align:right;
	font-size:100%;
}

.left_column_submenu_middle b{
	font-size:1.8em;	
}

/*Type styles for forms*/
.app-form-small div.form_label, 
.app-form-small div.form_input, 
.app-form-small div.form_helptip {
	font-size:1.2em;
}

.form-title {
	font-size:1.8em;
}

.form-subtitle {
	font-size:1.5em;
}

.steps li{
	color:#CCC;
	font-size:1.7em;
	line-height:1.1em;
}

legend{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
  color:#b42025;
font-weight:300;
  font-size: 1.6em; /* 16x1=16px */
  line-height: 1.125em;/* 16x1.125=18px */
  margin:.7em 0 0 0;
  padding-bottom:0.75em;


}

#commentbox {
	font-size:1.3em;
}

#commentfooter{
	font-size:1.0em;
}

.errors li {
	font-size:1.2em;
}

.app-form .header, 
.app-form th,
.app-form-normal .header, 
.app-form-normal th {
	font-size:1.3em;
}

.estimate-table td {
	font-size:1.3em;
}

l.submit-project {
	font-size:1.6em;
}

div.form_description p{
	font-size:inherit;
}

.silver-horizontal-container, 
.silver-horizontal-container-go, 
.silver-horizontal-container-stop{
	font-size:1.3em;
}

#profile-registered-date {
	font-size:1.2em;
	line-height:1em;
}

.account_transactions table{
	font-size:1.3em;
}

div#container_splash div#horizontal_bar{
	font-size:1.1em; 
}

/*****Font styles for tables: Projects, Handsets, Surveys *****/
table.current_projects,
table.current_handsets{

}

table.current_handsets th {
	font-size:1.2em;
}

table.current_projects tr.values,
table.current_handsets tr.values{
	font-size:1.0em;
	line-height:1.3em;
}

.quote{
	font-family:Georgia, 'Times New Roman', Times, serif; 
	font-size:2.4em; 
	font-weight:normal; 
	color:#333; 
	line-height:1.4em;
}

cite.author{
	font-size:1.6em; 
	font-style:normal; 
	font-weight:bold; 
}

#stats_bar{
	text-align:center;	
color:#000;
	font-size:1.5em;
	line-height:1.2em;
}

#stats_bar h3{
	margin-top:0;	
}

/*Font Styles for handests table*/
.project_item p, .handset_item p, #results_total {
   font-size:1.3em;
}

/*TEMPORARY - THIS NEEDS TO BE REMOVED AFTER NEW LAYOUT FOR DASHBOARD LANDING PAGE*/
#unit_long p{
	font-size:1em;
	color:#FFF;
}

/*Mob Blog Feed*/
.buzz .gfg-root {
    font-size:1.3em;
}

.buzz-section-title{
	font-size:1.6em;
	font-weight:bold;
}

/*Projects Table*/
.project_item .title, .handset_item .title {
	font-size:1.6em;
}


/** To remedy Contacts page font size **/
td.contact_name{	
	font-size:1.3em;
}

.blue-text{
	color:#0072bc;
}

.button_double_height
{
	display: inline-block;
	letter-spacing: -.7px;
	white-space:normal;
	overflow: auto;
	width: 59px;
	height: 33px;
	font-family: arial, verdana, sans serif; 
	font-size: 7pt;
	background-color: black;
	font-weight: bold;
	line-height: 10px;
	color: #fff;
	padding:0 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/css/app/PIE.htc);
	border: black solid .5px;
	cursor: pointer;
	cursor: hand;
}

.button_single_height
{
	display: inline-block;
	letter-spacing: -.6px;
	white-space:normal;
	overflow: auto;
	width: 59px;
	height: 20px;
	font-family: arial, verdana, sans serif; 
	font-size: 7pt;
	background-color: black;
	font-weight: bold;
	line-height: 10px;
	color: #fff;
	padding:2px 3px 3px 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	/*behavior: url(/css/app/PIE.htc);*/
	border: black solid .5px;
	cursor: pointer;
	cursor: hand;
}

#experience-nav li
{
 /*border: solid green 1px;*/
 width: 50px;
}
