/* CLEARFIX
====================*/
.clear{
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/* reset.css  
**
*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	  font-family: Helvetica, Arial, sans-serif;
}

html{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	  font-family: Helvetica, Arial, sans-serif;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* typography.css
**
**
*/
body {
  font-size:62.5%;/*Sets default size to 10px. Now 1em=10px, 1.2em = 12px, etc..*/
  color:#414141;
}

a:link, a:visited {
  text-decoration:none;
 
}
a:hover, a:active {
  text-decoration: none;
}
p a:link, p a:visited {
}
h1 a:link, h1 a:visited, 
h2 a:link, h2 a:visited, 
h3 a:link, h3 a:visited, 
h4 a:link, h4 a:visited {
  text-decoration: none;
}
h1 a:hover, h1 a:active, 
h2 a:hover, h2 a:active, 
h3 a:hover, h3 a:active, 
h4 a:hover, h4 a:active {
  text-decoration: none;
}
h1,h2 {
font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
  color:#b42025;
font-weight:300;
}
h3, h4, h5 {
font-family:Helvetica Neue, Helvetica, san-serif;
  font-weight:bold;
  color:#b42025;
}

h1 {
  color:#333333;
font-size: 2.6em; /* 10x2.6=26px */
  line-height: 1.0em;
  margin: 0 0 .75em 0;
	z-index:-9999;
	font-weight:300;
}
h2 {
  font-size: 2.0em; /* 16x1=16px */
  line-height: 1.125em;/* 16x1.125=18px */
  margin:.7em 0 .75em 0;
}
h3 {
font-size:1.3em;/* 16x0.875em=14px */
  margin:1.2em 0 1em 0; /* 15x1.2=18px */
}
h4 {
  font-size:1.4em;/* 16x0.75em=11px */
  margin:.786em 0 .5em 0; /* 14x1.286=18px */
}
h5 {
  font-size:1.3em;/* 16x0.75em=11px */
margin:1em 0 .5em 0; /* 12x1.5=18px */
}

h1 a, h2 a, h3 a, h4 a{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
}


ul {
  margin:0 0 15px  25px;
  list-style:disc outside;
}
ul li {
	list-style:outside;
	
}
li, blockquote {
  font-size:.75em; /* 16x.75=12px */
}
li li {
  font-size:1em; /* maintain font size for nested lists */
}
p, li, form {
  font-family: Helvetica, Arial, sans-serif;
  margin:0 0 1.5em 0;
	line-height:1.4em;
	font-size:1.3em;
}

form p,
form ul li,
form ol li{
	font-size:1.0em;	
}

li {
  margin-bottom:0;
}

b, strong {
	font-weight:bold;
	color:#b42025;
}

b.black, strong.black{
	font-weight:bold;
	color:#000;
}

ol.bolder{
	font-weight:bold;
	color:#B42025;
}

ol.bolder p{
	font-weight:normal;
	color:#414141;
	font-size:1.0em;
}


div.row_odd{
}

div.row_even{
	background-color:#e5e5e5;
}

div.project_list{
	width:100%;	
}

div.project_item{
	margin-top:5px;
	float:right;
	width:100%;	
	padding:5px 5px 5px 60px;
}

div.project_list div.project_item img.project-icon{
	float:left;	
	margin:10px 0 0 0 ;
}

div.project_list div.project_item p{
	margin:0 0 8px 60px;
	font-size:1.0em;
}



div.project_list div.project_item span.bold-black{
	font-size:1.6em;
	font-weight:bold;
	margin-bottom:0;
}

div.project_list div.project_item span.bold-red a{
	font-size:1.6em;
	color:#BE1E2D;
	font-weight:bold;
	margin-bottom:0;
}


div.project_list div.project_item span.italic-grey{
	font-style:italic;
	color:#666;
	font-weight:normal;
	font-size:0.85em;
}


div.project_navigation{

	width:100%;
}

img.left_button{
	float:left;
	padding:10px 10px 10px 10px;
}

img.right_button{
	float:right;
	padding:10px 10px 10px 10px;
}


/** Holds all of the parent and child comments **/
div.comment_parent{
	width:100%;
}

div.comment_parent div.comment_content img.user-image{
	float:left;	
}

div.comment_parent div.comment_content p{
	margin:0 0 8px 45px;
	font-size:1.2em;
}

div.comment_parent div.comment_content p.username{
	font-size:1.8em;
	color:#BE1E2D;
	font-weight:bold;
	margin-bottom:0;
}

div.comment_parent div.comment_content p.username span.bold-red a{
	text-decoration:none;
	color:#BE1E2D;
	font-size:0.8em;
}

div.comment_parent div.comment_content p.username span.italic-grey{
	font-style:italic;
	color:#666;
	font-weight:normal;
	font-size:0.65em;
}

div.comment_parent div.comment_content p.comment_footer,
div.comment_parent div.comment_content p.comment_footer a{
	color:#808080;	
	font-size:1.2em;
}

div.comment_child{
	margin-top:5px;
	width:80%;
	float:right;
	background-color:#e5e5e5;
	padding:5px 5px 5px 50px;
}

div.comment_child img{
	margin-left:-45px;
	float:left;
}

div.comment_child p{
	font-size:1.2em;
	margin-bottom:8px;
}

div.comment_child p.username{
	color:#BE1E2D;
	font-weight:bold;
	margin-bottom:0;
	font-size:1.3em;
	margin-bottom:8px;
}

div.comment_child p.username a{
	text-decoration:none;
	color:#BE1E2D;
}

div.comment_child p.username span.italic-grey{
	font-style:italic;
	color:#666;
	font-weight:normal;
	margin-bottom:5px;
}

div.comment_child p.comment_footer,
div.comment_child p.comment_footer a{
	color:#808080;
}


div.add_comment{
	margin-top:5px;
	margin-left:5px;
	width:100%;
	float:left;
	background-color:#e5e5e5;
	overflow:auto;
}

div.add_comment span.bold-red{
	text-decoration:none;
	color:#BE1E2D;
	font-size:1.2em;
	font-weight:bold;
}


div.add_comment .form_input{
	width:100%;
}

div.add_comment textarea.text_input{
	font-family:Helvetica,Arial,sans-serif;
	font-size:1.3em;
	font-weight:normal;
	padding:2px;
	width:90%;
	display:block;
	margin:2px 5px 2px 5px;
	
	
}

ul.errors {
	color:#B42025;
	background-color:#fff457;
	font-weight:bold;
	padding:4px 4px 4px 4px;
	margin:8px 0 0 0;
}

.errors li {
	font-size:1.2em;
	background:url(/images/icons/form_error.png) no-repeat;
	padding:0 0 0 20px;
	list-style-type:none;
	
}

div#wallpost-thread{
	width:100%;
}

div#wallpost-thread p.about{
	font-size:1.0em;	
	font-weight:bold;
	background-color:#d1d0d1;
}




