/** MAIN NAVIAGATION **/

#container_top_nav{
	width:982px;
	height:47px;
	float:left;
	padding:2px 0 2px 0;
	margin:0 0 8px 0;
	background:url(/images/nav-main.gif) no-repeat;
	position: relative;
	z-index: 1;
}

#container_top_nav ul{
	margin: 0 0 0 0px;
}

#container_top_nav li{
	position:relative;
	list-style-type:none;
	padding:0 4px 0 4px;	
	float:left;
	
}

#container_top_nav a{
	margin-top:1px;
	display:block;
	color:#FFFFFF;
}

#container_top_nav li a{
	padding:0 8px 0 8px;
}
#container_top_nav #nav_dashboard a{
	height:41px;
	width:165px;
	display:block;
	background:url(/images/app/nav/dashboard.gif) no-repeat 0 0;
}

#container_top_nav #nav_dashboard a:hover{
	background:url(/images/app/nav/dashboard.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_inbox a{
	height:41px;
	width:113px;
	background:url(/images/app/nav/inbox.gif) no-repeat 0 0;
}

#container_top_nav #nav_inbox a:hover{
	background:url(/images/app/nav/inbox.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_my_projects a{
	height:41px;
	width:173px;
	background:url(/images/app/nav/projects.gif) no-repeat 0 0;
}

#container_top_nav #nav_my_projects a:hover{
	background:url(/images/app/nav/projects.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_groups a{
	height:41px;
	width:153px;
	background:url(/images/app/nav/groups.gif) no-repeat 0 0;
}

#container_top_nav #nav_groups a:hover{
	background:url(/images/app/nav/groups.gif) no-repeat 0 -41px;
}


#container_top_nav #nav_my_tests a{
	height:41px;
	width:145px;
	background:url(/images/app/nav/my_tests.gif) no-repeat 0 0;
}

#container_top_nav #nav_my_tests a:hover{
	background:url(/images/app/nav/my_tests.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_my_surveys a{
	height:41px;
	width:173px;
	background:url(/images/app/nav/my_surveys.gif) no-repeat 0 0;
}

#container_top_nav #nav_my_surveys a:hover{
	background:url(/images/app/nav/my_surveys.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_account a{
	height:41px;
	width:142px;
	background:url(/images/app/nav/account.gif) no-repeat 0 0;
}

#container_top_nav #nav_account a:hover{
	background:url(/images/app/nav/account.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_profile a{
	height:41px;
	width:122px;
	background:url(/images/app/nav/profile.gif) no-repeat 0 0;
}

#container_top_nav #nav_profile a:hover{
	background:url(/images/app/nav/profile.gif) no-repeat 0 -41px;
}

#container_top_nav #nav_help a{
	height:41px;
	width:103px;
	background:url(/images/app/nav/help.gif) no-repeat 0 0;
}

#container_top_nav #nav_help a:hover{
	background:url(/images/app/nav/help.gif) no-repeat 0 -41px;
}



#container_top_nav span {
	display:none;
}

#container_top_nav ul li ul{
	position:absolute;
	/*left:-25px;*/
	left:-35px;
	width:200px;
	display:none;
	border:#CCCCCC 1px solid;	
	z-index:100;
}

#container_top_nav ul ul span {
	display:inline;
}

#container_top_nav ul li ul a{ 
	font-weight:normal;
	padding: 6px 40px 6px 40px;
	margin:0 0 0 0;
	border-top:#CCCCCC 1px dotted;
	background:#FFFFFF;
	color:#666666;
	text-decoration:none;
}

#container_top_nav ul li ul a:hover{
	background-color:#f2f2f2;
	color:#000000;
}

#container_top_nav ul li ul a.arrow_more{
	background:#FFFFFF url(/images/nav_arrow.gif) right center no-repeat;
}

#container_top_nav ul li ul a.arrow_more:hover{
	background:#f2f2f2 url(/images/nav_arrow.gif) right center no-repeat;
}


#container_top_nav ul li:hover ul,
#container_top_nav ul li ul:hover{
	display:block;
}


#container_top_nav ul li ul li{
	width:100%;
}

#container_top_nav ul li ul li ul{
	visibility:hidden;
	left:160px;
	top:-1px;
}

#container_top_nav ul li ul li:hover ul{
	visibility:visible;
}

/*****Styles for Left Column Submenu*****/
div.left_column_submenu_top{
	background:url(/images/panel_white_199w_top.gif) no-repeat;
	height:19px;
	width:199px;
	margin:0;
	padding:0;
	
	
}

div.left_column_submenu_middle{
	background: url(/images/panel_white_199w_middle.gif) repeat-y;
	width:199px;
}

div.left_column_submenu_bottom{
	background:url(/images/panel_white_199w_bottom.gif) no-repeat;
	height:19px;
	width:199px;
	margin:0 0 10px 0;
}

div.left_column_submenu_middle{

}

.left_column_submenu_middle b {
	color:#BA0000;
	padding:0 0 10px 15px;
	display:block;
}


ul.left_column_submenu{
	font-size:0.9375em; /* 0.9375x16 = 15px */
	margin:0 0 0 0;
}

ul.left_column_submenu ul{
	margin:0 0 0 0;
}

ul.left_column_submenu li{
	list-style-type:none;
	margin:0px 3px 0px 3px;
	border-top:#cccccc 1px solid;
}

ul.left_column_submenu li.current_page a{
	margin:3px 0 3px 0;
	background:#EEE url(/images/layout/current_page_arrow.gif) center right no-repeat;
	color:#666666;
	font-weight:bold;
}

ul.left_column_submenu li.current_page li a{
	background:none;
	font-weight:normal;
}

ul.left_column_submenu a{
	display:block;
	color:#808080;
	padding:10px 6px 10px 20px;
	text-decoration:none;
	width:167px;
}

ul.left_column_submenu a:hover{
	color:#666666;
	background:#DDD;
}

ul.left_column_submenu li li{
	list-style-type:none;
	margin:0 0px 0 0px;
	border-top:none;
}

ul.left_column_submenu li li a{
	display:block;
	color:#999999;
	padding:10px 6px 10px 30px;
	text-decoration:none;
	width:157px;
}

.left_column_submenu #balance_summary,
.left_column_submenu #profile_progress,
ul#unit_ulm3solutions {
	margin:0 0 0 12px;
}

#balance_summary,
.left_column_submenu .ratingblock,
.left_column_submenu #profile_progress {
	padding:0 0 0 8px;
}


.left_column_submenu div.ratingblock {
	margin-bottom:0;
	padding-bottom:0;
}

#footer_nav ul {
	margin:4px auto;
}

#footer_nav li{
	font-size:1em;
	padding:0 8px 0 0;
	list-style-type:none;
	display:inline;
}

#footer_nav a {
	text-decoration:underline;
}