/** Overlay Styles **/
div.page-overlay {
	padding:10px;	
	width:726px;  
	height:593px;
	display:none;
	background:#FFFFFF url(/images/bg-site.gif) repeat-x;
	
	display:none;
	z-index:10000;

	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 20px 5px #000;
	-webkit-box-shadow: 0 0 20px #000;	
	overflow:auto;
}

div.page-overlay a.close {
	background:url(/images/overlay/close.png) no-repeat;
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}


div.page-overlay div.content-wrap{
	width:676px;
}