/** Holds all wall.css **/
div.wall{
	background-color:white;	
}


div.filelayout{
	background:url(/images/icons/folder.png) no-repeat 10px 50%;
	height:13px;
	padding:10px 0px 10px 30px;
	margin:0px 0px 8px 45px;
	width:100%;
}

div.filelayout span.download a{
	text-decoration:none;
	font-size:1.0em;	
	font-weight:bold;
	color:#414141;
}

div.filelayout .nav{
	float:right;
}

textarea.comment{
	width:100%;	
}

.bordered{
	/*border: 1px solid #414141;*/
    padding: 5px;
    background-color: #e6e6e6;	
}

.loading-wall{
	font-size:1.0em;	
	font-weight:bold;
	background:url(/images/working.gif) no-repeat 10px 50%;
	background-color:#e6e6e6 ;
	height:13px;
	padding:10px 0px 10px 30px;
	font-weight:bold;
	margin:10px;
	
}

.btnAdd{
	background:url(/images/buttons/upload_button.gif) no-repeat;
	margin:2px 0 0 60px;	
	border:0 none;
	height:20px;
	text-indent:-9999px;
	width:67px;
}

span.right{
	float:right;
	width:135px;
 }

 
span.left{
	float:left;
	width:135px;
 }
 
div.wallpost-footer{
 	font-size:1.0em;	
	font-weight:bold;
	background-color:#e6e6e6 ;
	height:13px;
	padding:0px 0px 20px 10px;
	font-weight:bold;	
}
 