@import url(/css/styles.css);

/********* DASHBOARD *********/
#dashboard-services {
	background:#FFF;
	padding:12px 6px 6px 12px;
	border-left:#b42025 2px solid;
	border-right:#b42025 2px solid;
	border-top:#b42025 2px solid;
}

#left-dashboard-content {
	width:310px;
	float:left;
}

#right-dashboard-content {
	width:400px;
	float:left;
}

.form-title #container_title_links h2 {
	color:#FFF;
}

.form-title .ratingblock {
	float:right;
	padding-bottom:4px;
	margin-bottom:0;
}

#container_notifications {
	background:#EEE;
	padding:4px 4px 16px 4px;
	text-align:center;
	border-left:#b42025 2px solid;
	border-right:#b42025 2px solid;
}

#container_notifications ul {
	margin:0 0 0 0;
}


.form-title #container_notifications ul {
	margin:0 0 0 0.8125em;
}

.form-title #container_notifications li, .form-title #container_notifications h3 {
	color:#666;
	background:#CCC;
	font-size:0.625em;
}


.app-service-icon {
	width:187px;
	float:left;
	padding:0px 6px 6px 6px;
}

.app-service-icon span{
	display:none;
}

.app-service-icon .buttons {
	padding:127px 0 0 26px;
}

.app-service-icon a.more-info-button {
	float:left;
	display:block;
	height:20px;
	width:85px;
	background:url(/images/buttons/more_info_sm.gif) no-repeat;
}

.app-service-icon a.start-button {
	float:left;
	display:block;
	height:20px;
	width:59px;
	background:url(/images/buttons/start_sm.gif) no-repeat;
	margin:0 0 0 4px;
	
}

#mobtest-icon {
	background:url(/images/app/icons/mobtest_bg.jpg) no-repeat;
	width:187px;
	height:153px;
}

#mobsurvey-icon {
	background:url(/images/app/icons/mobsurvey_bg.jpg) no-repeat;
	width:187px;
	height:153px;
}

#mobaccelerator-icon {
	background:url(/images/app/icons/mobaccelerator_bg.jpg) no-repeat;
	width:187px;
	height:153px;
}

#mobexperience-icon {
	background:url(/images/app/icons/mobexperience_bg.jpg) no-repeat;
	width:187px;
	height:153px;
}

/** DASHBOARD OVERLAYS **/

div.mobtest-overlay,
div.mobsurvey-overlay,
div.mobaccelerator-overlay,
div.mobexperience-overlay {
	padding:40px 40px 40px 40px;
	text-align:center;
	width:576px;
	display:none;
}

div.mobtest-overlay{
	padding:40px 40px 103px 40px;
}

div.mobtest-overlay div.close,
div.mobsurvey-overlay div.close,
div.mobaccelerator-overlay div.close,
div.mobexperience-overlay div.close
 {
	background:url(/images/overlay/close.png) no-repeat;
	position:absolute;
	top:2px;
	right:5px; 
	width:35px;
	height:35px;
	cursor:pointer;
}

div.service-button {
	padding:6px 0 0 0;
}


div.mobtest-overlay a {
	display:block;
}




/*****Styles for All App Pages*****/
span.field_error{
	font-weight:bold;
	color:#990000;
	
}

h3.title_error{
	color:#990000;
}

div.form_ui{
	background-color:grey;
}

a#button_logout{
	float:right;

}

/********* PROFILE PAGE *********/

#profile-content-left {
	width:570px;
	float:left;
	padding:0 20px 0 0;
}

#profile-content-left div.form_input {
	width:300px;
}

#profile-content-left td{
	vertical-align: top;
	
}

#profile-content-left p.profile_content{
	width: 270px;
	padding-left: 12px;
}

div.profile_content
{
	padding-left: 12px;
}


#profile-info-right {
	width:140px;
	float:left;
}

#profile_image {
	/*padding:0 0 8px;*/
	text-align:center;
}

#profile-registered-date {
	font-style:italic;
	text-align:center;
	margin: 10px 0 0 0;
	padding:0 0 8px 0;
}

#profile-rating {
	text-align:center;
}

#profile-rating a {
	font-size:.625em;
}

#frmProfileContactInfo input[type=text], #frmProfileContactInfo input[type=password] {
	width:240px;
}



/*****Styles for Registration Page*****/
div#container_registration_left{
	float:left;
	width:60%;
	
	background-color:lavender;
}

div#container_registration_right{
	float:right;
	width:40%;
	
	background-color:silver;
}

div#container_registration_right ul{
	list-style-type:none;
}

div#container_registration_right li{

	background-color:orange;
}

div#container_registration_right li label{
	float:left;
	width:40%;
	text-align:right;
}

div#container_registration_right li div.form_ui{
	margin-left:170px;
}

div#container_registration_right span.field_error{
	display:block;	
}



/*****Top Navigation Menu Web App*****/

div#container_top_nav_app{
	width:95%;
	float:left;
	padding: 10px;
	
/*	background-color:lightgrey; */
}

div#container_top_nav_app ul{
	margin: 0 0 0 10px;
}


div#container_top_nav_app li{
	border:none;
/*	position:relative; causes problems with z-order */
	list-style-type:none;	
	float:left;
/*	background-color:lightgrey; */
	padding: 2px 30px;
}

div#container_top_nav_app li:hover{
	background-color:pink;
}

div#container_top_nav_app a{
	color:red;

	display:block;

}

div#container_top_nav_app a:hover{
	color:black;
}

div#container_top_nav_app ul li ul{
	width:12em;
	position:absolute;
	left:-12px;
	
	display:none;
}

div#container_top_nav_app ul li:hover ul,
div#container_top_nav_app ul li ul:hover{
	display:block;
}


div#container_top_nav_app ul li ul li{
	width:100%;
}

div#container_top_nav_app ul li ul li ul{
	visibility:hidden;
	left:11.5em;
	top:-4px;
}

div#container_top_nav_app ul li ul li:hover ul{
	visibility:visible;
}

div#container_top_nav_app li.disabled,
div#container_top_nav_app li.disbaled:hover{
/*	background-color:lightgrey; */
	color:grey;
}




/*****Styles for 2 Column Layout Web App*****/
div#container_column_middle_wide_app{
	float:left;
	width:730px;
	padding:0 16px 0 16px;
	
/*	background-color:white; */
}

div#container_title_links{
	width:100%;
	display:block; 
	height:25px;
	padding-bottom:6px;
}

div#container_title_links h2{
/*	background-color:orange; */
	width:50%;
	float:left;
}

div#container_title_links h3{
/*	background-color:orange; */
	width:50%;
	float:left;
}

/*****Styles for User Home*****/

ul#left_column_submenu li{
	clear:both;
}

ul#left_column_submenu span.label{
	float:left;
	width:40%;
	text-align:left;
/*	background-color:yellow; */
}

ul#left_column_submenu span.value{
	float:right;
	width:40%;
	text-align:right;
/*	background-color:violet;*/
}

div#container_tasks_select{
}

ul.tasks_boxes li{
	list-style-type:none;
}

ul.tasks_boxes li a{
/*	background-color:orange;*/
	font-size:1.5em;
	font-weight:bold;
	display:block;
	padding: 0 8px 0 0;
	float:left;
}

ul.tasks_boxes li a:hover{
/*	background-color:lightblue;*/
}

div#container_notifications{
/*	background-color:grey; */
}

ul.notifications_listing{
	font-size:0.75em; /* 0.75x16 = 12px */
	margin:10px 0 0 0;
}

ul.notifications_listing li{
	list-style-type:none;
	background:url(/images/icons/error.png) center left no-repeat;
	padding-left: 24px;
}

ul.notifications_listing li a{
	display:block;
	color:#B42025;
	text-decoration:none;
}






/*****Styles for All Profile Pages******/
div#container_save{
	float:right;
	width:45%;
}

div#profile_info li{
	display:block;
/*	background-color:lavender;*/
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

div#profile_info label{
	text-align:right;
	float:left;
	width:25%;
	margin:5px;
}

div#profile_info div.form_ui{
	width:25%;
	float:left;
}

div#profile_info div.field_error{
	width:40%;
	float:left;
	background-color:red;
}

div#profile_info div.field_info{
	width:40%;
	float:left;
/* background-color:orange; */
}

/******Styles for Edit General Profile*****/
div#profile_completion{
	width:296px;/*Width of progress bar image*/
	display:block;
	overflow:auto;
	
	background-color:lightgrey;
}

div#profile_completion img.meter_progress{
}

div#profile_completion ul.steps_4{
	list-style-type:none;
}

div#profile_completion ul.steps_4 li{
	width:74px;/*width is (total width of progress bar image / number of steps)*/
	display:block;
	float:left;
	text-align:right;
	background-color:lavender;
}

fieldset#basic_info ul,
fieldset#password ul,
fieldset#contact_additional_info ul{
	list-style-type:none;
}

div#profile_info{
	border:blue 1px solid;
	background-color:white;
}

div#account_balance{
}


/*****Styles for Edit Mobster Info page*****/


table.my_handsets{
	background-color:darkgrey;
}

table.my_handsets td {
	background-color:lightblue;
}


/*****Styles for Developer Info pages****/
div#profile_completion ul.steps_3 ul{
	list-style-type:none;
}

div#profile_completion ul.steps_3 li{
	width:98px;/*width is (total width of progress bar image / number of steps)*/
	display:block;
	float:left;
	text-align:right;
	background-color:lavender;
}

/*****Styles for Account Details page*****/
div#account_buttons ul{
	margin:10px 0;
	list-style-type:none;
}

div#account_buttons ul li{
	display:inline;
	margin: 10px 125px;
}




#month_balance form.month_selector{
	float:left;
	margin:0 0 0 0;
}

#month_balance #balance{
	float:right;
}

#balance p {
	margin:0;
}



.account_transactions table{
	width:100%;
	border-left:#B42025 1px solid;
	border-right:#B42025 1px solid;
	margin:0 0 0px 0;
}

.account_transactions table thead{
	background:#B42025;
}

.account_transactions th, 
.account_transactions th a, 
.account_transactions .footer-results, 
.account_transactions .footer-results a {
	font-weight:bold;
}

.account_transactions table tfoot{
	background:#B42025;
	font-weight:bold;
}

.account_transactions .rowodd td{
	background:#FFF;
}

.account_transactions .row_even td{
	background:#F1F1F1;
}

.account_transactions th, .account_transactions td {
	padding: 8px 8px 8px 8px;
	border-left:#B42025 1px solid;
	border-bottom:#B42025 1px solid;
}

.account_transactions .footer-results td 
 {
	background:#B42025;
	color:#FFF;
}

/*****For all pages*****/
div.body_text{
	background-color:beige;
}

/*****For Deposit Funds page*****/
div.body_text a.button_align_middle{
	margin-left: 300px;
}

/*****For Withdraw Funds page*****/

div#withdraw_funds li {
	background-color:lavender;
	display:block;
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

div#withdraw_funds label{
	float:left;
	margin: 5px;
	text-align:right;
	width:25%;
}

div#withdraw_funds div.form_ui{
	float:left;
	width:25%;
}

div#withdraw_funds .button_submit{
	margin-left:200px;
}

/*****Mobster Profile Home*****/

div#projects_listing table{
	width:100%;
}

div#projects_listing table thead{
	background-color:lightblue;
}

div#projects_listing table tfoot{
	background-color:gray;
}

div#projects_listing table tr.row_odd{
	background-color:beige;
}

div#projects_listing table tr.row_even{
	background-color:lavender;
}

/** PROJECT PROFILE **/


/** INBOX **/
#inbox-messages-list {
	border-top:#B42025 2px solid;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
	background:#FFF;
}

#inbox-messages-list .list-titles {
	background:#EEE;
	border-bottom:none;
	font-weight:bold;
	color:#B42025;
	margin:0 0 0px 0;
}

#inbox-messages-list a:active, #inbox-messages-list a:link, #inbox-messages-list a:visited {
	color:#B42025;
	text-decoration:none;
	font-weight:bold;
}

#inbox-messages-list a:hover {
	text-decoration:underline;
}

#inbox_messages ul {
	margin:0 0 0 0;
}

#inbox_messages li {
	border-top:#B42025 1px solid;
	list-style-type:none;
	margin:0 0 0 0;
	padding:12px 12px 12px 12px;
}

/** Inbox Controls **/
#inbox-controls, #message-subject {
 padding:10px 10px 4px 10px;
}

#message-controls {
	float:left;	
}

#message-previous-next {
	float:right;
}

#message-controls li, #message-previous-next li {
	border:none;
	padding:0 16px 0 0;
	display:inline;
	float:left;
	width:60px;
}

a#reply-button,
a#archive-button,
a#next-message,
a#previous-message {
	display:block;
	width:59px;
	height:20px;
}

#message-previous-next li,
a#next-message,
a#previous-message{
	width:85px;
}

a#reply-button {
	background:url(/images/buttons/reply_button.gif);
}

a#archive-button {
	background:url(/images/buttons/archive_button.gif);
}

a#previous-message {
	background:url(/images/buttons/previous_button.gif);
}

a#next-message {
	background:url(/images/buttons/next_button.gif);
}
 
a#reply-button span,
a#archive-button span,
a#next-message span,
a#previous-message span {
	display:none;
}

#message-subject, #compose-message label {
	font-weight:bold;
}

#message-subject label, #compose-message label {
	color:#B42025;
	font-size:1em;
}

#message-content {
	border:#999 1px solid;
	margin:10px 10px 10px 10px;
 padding:16px 16px 0px 16px;
}

.sent_by {
	width:235px;
	float:left;
}

.message_content {
	width:400px;
	padding:0 16px 0 16px;
	float:left;
}

.message_content p {
	font-size:1em;
}

.message_controls {
	width:60px;
	float:left;
}

.message_controls a {
	margin:0 0 2px 0;
}




/** CONTACTS **/

#contacts_list {
	background:#DDD;
	border:2px solid #E5E5E5;
}

table#contacts_list tr.rowodd{
	background-color:#fefdfe;
}

#contacts_list th{
	background-color:#666666;
	color:#FFFFFF;
	padding: 8px 8px 8px 8px;
}

#contacts_list td{
	margin:1px 1px 1px 1px;
	padding: 8px 8px 8px 8px;
	font-size:.75em;
	border-left:2px solid #E5E5E5;
	border-bottom:2px solid #E5E5E5;
}

#contacts_list .contact_name {
	width:570px;
}

#contacts_list .control_item {}

td.contact_name a{
	color:#B42025;
}

/** Funds in Escrow and PP transactions pages**/
table.table-esc,
table.table-pp{
	font-size:11px;
}

table.table-esc td,
table.table-pp td{
	padding:0 10px 0 0;	
	text-align:left;
}

a:hover
{
	cursor:pointer;
	cursor:hand;
}

.expand-project-wall
{
	cursor:pointer;
	cursor:hand;
}

.expand-test-wall
{
	cursor:pointer;
	cursor:hand;
}