<div id="container_column_middle">
  <b class="rtop red">
    <b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b>
  </b>
	<div class="form-title">
        <?php echo $this->translate->_('app_index_accountDetails_title'); ?>
  </div>
  <div class="account_transactions">
    <table>
      <tr id="month_balance">
        <td colspan="5">
          <div class="clearfix">
            <div id="month-selector-form">
            	<form class="month_selector">
              	<!--<select>
                  <option value="current_month">This Month</option>
                  <option value="past_30">Past 30 Days</option>
                  <option value="august">August 2009</option>
                  <option value="july">July 2009</option>
                </select>-->
              </form>
            </div>
            <div id="balance"><strong><?php echo $this->translate->_('app_index_accountDetails_currentBalance'); ?>: $<?php echo $this->getBalance($this->currentUser->id);?> USD</strong></div>
          </div>
        </td>
      </tr>
      <tr>
      	<th><a href="#"><?php echo $this->translate->_('app_index_accountDetails_date'); ?></a></th>
      	<th><a href="#"><?php echo $this->translate->_('app_index_accountDetails_description'); ?></a></th>
      	<th><a href="#"><?php echo $this->translate->_('app_index_accountDetails_debit'); ?></a></th>
      	<th><a href="#"><?php echo $this->translate->_('app_index_accountDetails_credit'); ?></a></th>
      	<th><a href="#"><?php echo $this->translate->_('app_index_accountDetails_balance'); ?></a></th>
      </tr>
    
    	<?php $i=0; // used to swap background colour of table row ?>
    	<?php foreach($this->account as $transaction):?>

    			<tr class="<?php echo ($i%2 ? 'row_even' : 'rowodd');?>">
    		<td><?php echo date("Y-m-d",$transaction->Timestamp);?></td>
    		<td><?php echo $transaction->transactiontype;?></td>
    		<td class="currency"><?php echo (($transaction->amount < 0) ? number_format(-1*$transaction->amount, 2, '.','') : '&nbsp;');?></td>
    		<td class="currency"><?php echo (($transaction->amount > 0) ? $transaction->amount : '&nbsp;');?></td>
    		<td class="currency"><?php echo $transaction->newBalance;?></td>
    	</tr>
    	<?php $i++;?>
    	<?php endforeach;?>
	
     	<tr class="footer-results">
         	<td>&nbsp;</td>
         	<td align="right"></td>
             <td class="currency"></td>
             <td class="currency"></td>
             <td>&nbsp;</td>
       </tr>
    </table>
  </div>
  <b class="rbottom red">
    <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
  </b>
</div><!--End: container_column_middle_wide_app-->
