<div id="container_column_middle">
  <b class="rtop red">
    <b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b>
  </b>
	<?php if(!$this->amount):?>
		<div class="form-title">
		  Deposit Funds             
		</div>
		<div class="app-form-normal">
			<p>To deposit funds from your registered PayPal account into your Mob4Hire account enter the amount you wish to deposit below.</p>
			<form method='post' action='/app/index/deposit-funds'>
				<div class="form_element clearfix">
					<div class="form_label">
						<label>Your account balance: </label>
					</div>
					<div class="form_input">
						$<?php echo number_format($this->getBalance($this->currentUser->id),2, '.', '');?>
					</div>
				</div>
				<div class="form_element clearfix">
					<div class="form_label">
						<label for="phoneUseOther">Deposit Funds: $</label>
					</div>
					<div class="form_input">
						<input type="text" name="amount" size="5" onkeypress="return allowNumbersOnly(event);" />
					</div>
				</div>
				<div class="submit_buttons">
					<div class="button">
						<input type="submit" name="submit" id="submit" value="submit" />
					</div>
					<div class="button">
						<a href="/app/developer" id="cancel"><span>Cancel</span></a>
					</div>
					<div class="clear">&nbsp;</div>
				</div>
			</form>           			
		</div>
	<?php else:?>
		<div class="form-title">
		  Paypal Deposit Funds 
		</div>
		<div class="app-form">
			<p>The preferred payment method for mob4hire is Paypal.</p>
			<p>We have added a handling charge to cover the costs involved in this transfer.</p>     
			<div class="overview">
			<table>
				<tr>
				  <td class="label">Deposit Amount:</td>
				  <td>$<?php echo $this->amount;?></td>
				</tr>
				<tr>
				  <td class="label">Handling charge:</td>
				  <td> $<?php echo $this->paypalFee;?></td>
				</tr>
				<tr>
				  <td class="label">Amount to transfer:</td>
				  <td> $<?php echo $this->depositAmount;?></td>
				</tr>
			</table>
			  <?php echo $this->makePaypalDeposit($this->depositAmount,"Mob4hire deposit from developer:".$this->currentUser->username.":".$this->amount,  'USD' );?>
			</div>				
		</div>
	<?php endif;?>
	<div class="bottom-curve">&nbsp;</div>
	<div class="clear">&nbsp;</div>
 </div><!--End: container_column_middle_wide_app-->
