 <?php
 $projectTable=new Projects();
 ?>
<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h1><?php echo $this->translate->_('app_index_title'); ?></h1>
		<ul id="dashboard-summary">
			<li id="username">
				<span class="user"><?php echo $this->currentUser->username; ?></span>
				<span class="label"><?php echo $this->translate->_('app_index_header_user'); ?></span>
			</li>
			<li id="messages">
				<a href="/app/inbox"><img class="new-mail" src="/images/app/icons/new-mail.gif" /></a>
				 <span class="mail-count"><?php echo $this->getUnreadMessages($this->currentUser->id);?></span> 
				<span class="label"><?php echo $this->translate->_('app_index_header_new_messages'); ?></span>
			</li>
			<li id="balance">
				<span class="amount">$<?php echo $this->getBalance($this->currentUser->id);?></span>
				<span class="label"><?php echo $this->translate->_('app_index_header_balance'); ?></span>
			</li>
			<li id="rating">
				<?php echo $this->ratingBar('', $this->currentUser->username,5,'static','', 'true');?>				
			</li>
			<li id="last-login">
				<span class="date"><?php echo (($this->lastLogin) ? date("D M j G:i:s",$this->lastLogin) : 'Never'); ?></span>
				<span class="label"><?php echo $this->translate->_('app_index_header_last_login'); ?></span>
			</li>
		</ul>
		
		
		<div id="dashboard-notification">
			<span class="label"><?php echo $this->translate->_('app_index_notifications_bar'); ?>:</span>
			<div id="notificationstable"></div>
			<!-- <span class="options">
				<a href=#>View Next</a> | <a href="#">Clear</a>
			</span> --> 
		</div>
	

		<div id="projects-managing">
			<?php if ($this->hasProjects):?>
				<h2><?php echo $this->translate->_('app_index_projects_managing'); ?></h2>
				<?php echo $this->showProjects("developer", "StartDate desc",1,0,array('showcomments' =>true,'navigation'=>'none')); ?>
			<?php endif;?>
		</div><!--END projects managing -->

		<div id="projects-testing">
			<?php if ($this->hasTests):?>
				<h2><?php echo $this->translate->_('app_index_projects_working'); ?></h2>
				<?php echo $this->showProjects("tester", "StartDate desc",1,0,array('showcomments' =>true,'navigation'=>'none')); ?>
			<?php endif;?>
		</div><!--END projects testing -->
		
		<!-- Not testing or developing -->
		<div id="projects-none">
			<?php if ( !$this->hasProjects && !$this->hasTests):?>
				<h2><?php echo $this->translate->_('app_index_projects_testing'); ?></h2>
				<?php echo $this->showProjects("compatible", "StartDate desc",1,0,array('showcomments' =>true,'navigation'=>'none')); ?>
			<?php endif;?>
		</div><!--END projects testing -->
		
	</div>
	<div class="red-bottom"></div>
</div>