<script type="text/javascript" src="http://yui.yahooapis.com/2.3.0/build/utilities/utilities.js">
</script>
<script type="text/javascript">
   
	// Preloads the file tables (method in files/list.js
	$(document).ready(function() {
		preloadCurrentTable("survey");
		preloadCurrentTable("surveyScript");
		preloadCurrentTable("genFiles");
		preloadCurrentTable("screenShots");
		preloadCurrentTable("documentation");
		
		$("[id*=divdev]").each(function (i){
			// Get the id
			var divId = this.id.substring(3);
			preloadCurrentTable(divId);
			
		});
		
		// need to preload the specific files too? 
	});
	
		// Load the file menus on start up 
    	function buttonClick(element) {
     		var allowedfiletypes=new Object;
    		allowedfiletypes['survey']=".csv,.xls,.xlsx,.txt";
    		allowedfiletypes['surveyScript']=".csv,.xls,.xlsx,.txt";
    		allowedfiletypes['genFiles']=".jar,.jad,.sis,.apk,.cab,.zip,.rar"; //todo: Work out what should be allowed here 
    		allowedfiletypes['screenShots']=".gif,.jpg,.jpeg,.png";
    		allowedfiletypes['documentation']=".pdf,.doc,.xls,.docx,.xlsx,.txt";
    		allowedfiletypes['dev']=".jar,.jad,.sis,.apk,.cab,.zip,.rar"; //todo: Work out what should be allowed here 
    	
    		// infer the name of the file control based on the name of the button that we clicked
    		filecontrolname=element.name.substring(3);
    		// check if this is an allowed value for file control
    		if ((filecontrolname.substring(0,3)!='dev')&&(allowedfiletypes[filecontrolname]==undefined)) {
    				document.getElementById('div'+filecontrolname).innerHTML="unknown file control id";
    		}
    		else {
    			// get the file control
    			filecontrol=document.getElementById(filecontrolname);
    			// and the filename from it
    			filename = filecontrol.value;
    			strpos=filename.lastIndexOf(".");
    			extension = filename.substr(strpos).toLowerCase();
    			if(filecontrolname.substring(0,3)=='dev') { // check for specific handset upload
    				allowedextensions=allowedfiletypes['dev'];
    			}
    			else {
    				allowedextensions=allowedfiletypes[filecontrolname];
    			}
    			
    			if (!allowedextensions.match(extension)) {
    				$('#div'+filecontrolname).prepend("<div id='divError'><img src='/images/icons/form_error.png'/> filetype "+extension+" not allowed. Only files of type "+allowedextensions+" are allowed</div>");
					setTimeout(function(){ $('#divError').fadeOut('slow'); }, 2000);

    			}
    			else {		
    				//the second argument of setForm is crucial,
    				//which tells Connection Manager this is a file upload form
    				YAHOO.util.Connect.setForm(element.form, true);
    	
    				var uploadHandler = {
    					upload: function(o) {
    						document.getElementById('div'+filecontrolname).innerHTML = o.responseText;
    						filecontrol.value=""; // reset the file control
    						$('#loading').hide();
    						}
    					};
					$('#div'+filecontrolname).prepend("<div id='loading'><img src='/images/working.gif'/> Uploading File</div>");
						
    				YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/upload/?file="+filecontrolname , uploadHandler);
    			}
    		}
      	}
    
    	function removeClick(x,y,z) {
    		var removeHandler= {
    			success: function(o) { 
    				document.getElementById("uploadsx"+x+"y"+y).innerHTML = o.responseText;
    			}
        	};
      		YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/upload/?x="+x+"&y="+y+"&z="+z, removeHandler);
      	}
    	
    	function removeFile(fcn,filename){
								
				if (confirm("This cannot be undone. Are you sure you want to delete this file?")) {
				
					$('#divWorkToggle'+filename).html('<img src="/images/working.gif');
					var uploadHandler = {
						success: function(o){
							document.getElementById('div' + fcn).innerHTML = o.responseText;
							filecontrol.value = ""; // reset the file control
						}
					};
					YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/delete/?id=" + filename + "&fcn=" + fcn, uploadHandler);
				}
    	}
		
		function changeVisibility(fcn,filename){
								
				
					$('#divWorkToggle'+filename).html('<img src="/images/working.gif');
					var uploadHandler = {
						success: function(o){
							document.getElementById('div' + fcn).innerHTML = o.responseText;
							filecontrol.value = ""; // reset the file control
						}
					};
					YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/changevisibility/?id=" + filename + "&fcn=" + fcn, uploadHandler);
				
    	}
    
    						
</script>
<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
            Manage MobSurvey Project
    </div>
    <div class="app-form">
        <div class="steps clearfix">
            <ul>
               		<li ><a href="/app/survey/definition" style="text-decoration: none">Step 1<br />Definition</a></li>
					<li><a href="/app/survey/selectpanel" style="text-decoration: none">Step 2<br />Panel Selection</a></li>
	        		<li class="current-step">Step 3<br />Resources</li>
			        <li><a href="/app/survey/estimates" style="text-decoration: none">Step 4<br />Estimates</a></li>
            </ul>
        </div>
		
		<div class="form_element clearfix">

		<div class="form_label"><label>Templates</label>
			<div class="form_description"><p>To help you get started we've created a template for you to start your survey with.</p></div>
		</div>
		<div class="form_helptip"><span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This"></a><p>Your .CSV or .XLS file must be uploaded in the following format: Column 1 is the question text. Column 2 is the type of question; you must enter ONE of [Text, Checkbox, Radiobutton, Yes, Skip]. Column 3 is the default value (if any). Column 4 is the # of attributes; the subsequent columns are the different choices for the Checkbox (multiple choices can be selected) or the Radiobutton (only one choice can be selected). If the type is "Skip", it\'s a Yes/No question that allows simple branching in the survey. Column 3 is the # of question to skip to if a No is answered, Column 4 is the Yes alternative. Anything more complicated? (or perhaps you need some assistance?) Please select "Managed Services" when choosing the MobSurvey package, and we\'ll quote on the job. After submission, we\'ll configure the survey, and then give you one chance at edits before it goes live. Any additional edits will cost you at our going rate for survey design. Ok?</p></span></div>
		<div class="form_input"><br/><a href="/static/Template-For-MobSurvey-Question-Submission.xls">Survey Script Template (XLS)</a><br/></div> 
		
		</div>
		
        <?php
        echo $this->zForm;
        ?>
        <div class="clear">&nbsp;</div>
    </div>
    <div class="bottom-curve">&nbsp;</div>
</div>
<!--End: container_column_middle_wide_app -->
