
<script type="text/javascript" src="/js/AC_ActiveX.js"></script>
<script type="text/javascript" src="/js/AC_RunActiveContent.js"></script>

            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">			
            	<h1>Developers Frequently Asked Questions (FAQ)</h1>
<ul>
      <li><strong>Why does Mob4Hire do what it does? </strong>Why does Mob4Hire do what it does? Mob4Hire started with the mandate to simplify the testing process for new mobile applications. By providing access to a pool of testers around the world, who use their own handsets and network time, Mob4Hire gives application developers a competitive advantage over those who rely on the old "travel and test" process. With Mob4Hire, mobile application developers can prepare their products for global markets without leaving home.<br>
        <br>
      </li>
      <li><strong>How do I register? </strong>Register at Mob4Hire.com. Registration is free. There are no up front costs to gain access to our thousands of testers. Merely submit a project and a project manager will get back to you shortly.<br>

        <br>
      </li>
      <li><strong>How much does an average test cost? </strong>Typically a fraction of the cost of field trials using in-house team. Submit a project and a Mob4hire project manager will get back to you with more questions or if there is enough information an estimate. <br>
      </li>
      <li><strong>How do I pay the Mob4Hire? </strong>We invoice you for the project (in $US) and accept payment through PayPal, bank drafts or corporate checks.  We start the test as soon as the deposit is in our escrow account. <br>
        <br>

      </li>
<a class="banner" href="../user/register"><img src="/images/banner-gettingstarted-developer.gif" alt="Getting Started as a Developer" align="right" style="padding:6px 2px 6px 10px;" /></a>
      <li><strong>What if I am unhappy with the results of the test? </strong> That's why we now provide managed services.  We use our experience and expertise to get the best results, working hard to ensure we meet your expectations.<br>
        <br>
      </li>
      <li><strong>How can I ensure confidentiality? </strong>You can request that the testers sign the same non-disclosure agreement you would use with any other outside consultant ( via Mob4hire).<br>
        <br>
      </li>
      <li><strong>How can I use Mob4Hire for market research purposes? </strong>Mob4Hire testers are often mobile-savvy early adopters so an ideal source for input on your application. With MobSurvey and MobA/BTest, we help you gain insight on whether or not they would use your application, their opinion on the user interface, what they might be willing to pay for the application, and much more.<br>

        <br>
      </li>
      <li><strong>What if I have to communicate with the tester? </strong>Mob4hire project managers will communicate with the testers for you.<br>
        <br>
      </li>
 
      <li><strong>What is MobPro? </strong>MobPro is a designation for a professional tester. This could be a large testing house that is using Mob4Hire as a marketing arm, or it could be a mobile developer with their own in-house testing department that would like to make additional revenue by utilizing the considerable investment that they have put into their handset inventory. If you would like to become a MobPro tester please email us at <a href="mailto:info@mob4hire.com">info@mob4hire.com</a> and we will help you on your way!</li>
</ul>


       	  </div></div>
		  <div class="red-bottom-sm"></div>
            <br class="clear" />
