               
  <div id="handset_listings">

    <table class="current_handsets">
      <tr>
        <td colspan="5" id="results_total">

            <?php echo $this->totalHandsets;?> Mobsters Meeting Your Criteria
             </td>
      </tr>
  		<thead>
  			<tr>
  				<th scope="col"><a href="javascript:void(0)" onclick="showPage('n.idcountry,n.network,d.vendor,d.model,rating desc', 1)">Country</a></th>
  				<th scope="col"><a href="javascript:void(0)" onclick="showPage('n.network,n.idcountry,d.vendor,d.model,rating desc', 1)">Carrier Network</a></th>
  				<th scope="col"><a href="javascript:void(0)" onclick="showPage('d.vendor,n.network,n.idcountry,d.model,rating desc', 1)">Manufacturer</a></th>
  				<th scope="col"><a href="javascript:void(0)" onclick="showPage('d.model,n.idcountry,n.network,d.vendor,rating desc', 1)">Model</a></th>
  				<th scope="col"><a href="javascript:void(0)" onclick="showPage('rating desc,n.idcountry,d.vendor,d.model', 1)">User</a></th>
  			</tr>
                      </thead>

  		<tbody>
  			<?php $i=0; // used to swap background colour of table row ?>
  			<?php foreach($this->handsetList as $handset) : ?>
  				<tr class="<?php echo ($i%2 ? 'row_even' : 'rowodd');?>">
  					<td><?php echo $this->escape($handset->country);?></td>
  					<td><?php echo $this->escape($handset->network);?></td>
  					<td><?php echo $this->escape($handset->vendor);?></td>
  					<td><?php echo $this->escape($handset->model);?></td>
  					<td><?php 
  					$username_array = explode('@', $handset->username); // we should really make this a view helper to save us doing this everywhere want to output username
  					if(count($username_array) > 1) {
  					  $username_str = $username_array[0];
  					} else {
  					  $username_str = $handset->username;
  					}

  					echo "<a href='/app/profile/view/id/$handset->userid'>".$this->escape($username_str)."</a>";?><br/><span class="td-rating"><?php echo $this->showRatingBar($this->escape($handset->rating), $handset->pro);
													?></span></td>


  				</tr>
  				<?php $i++;?>
  			<?php endforeach; ?>

  		</tbody>
  		<tr>
  		<td colspan="5" class="footer_nav_results">
          <ul>
            <?php if ($this->pageNumber > 1):  // Do not show 'Prev link 'if we are already on the first page ?>
      			<li><a href="javascript:void(0)" onclick="showPage('<?php echo $this->orderBy;?>' , <?php echo $this->pageNumber-1;?>)">Previous</a></li> 
    				<?php endif;?>
    				<?php for ($i=10*(int)(($this->pageNumber-1)/10)+1; $i <= 10*(int)(($this->pageNumber-1)/10)+10 && $i<=$this->numberOfPages; $i++): ?>
    					<li>
    					<?php if($i!=$this->pageNumber):?>
    						<a href="javascript:void(0)" onclick="showPage('<?php echo $this->orderBy;?>', <?php echo $i; ?>)">
    					<?php endif;?>
    					<?php echo $i; ?>
    					<?php if($i!=$this->pageNumber):?>
    						</a>
    					<?php endif;?></li>
    				<?php endfor; ?>
    				<?php if  ($this->pageNumber < $this->numberOfPages):  // Do not show 'Last' link 'if we are already on the last page ?>
    					<li><a href="javascript:void(0)" onclick="showPage('<?php echo $this->orderBy;?>', <?php echo $this->pageNumber+1;?>)">Next</a></li> 
    				<?php endif;?>
      		</ul>
  		</td>
  		</tr>
  	</table>
  	</div>
