            <div id="container_column_middle">            	
            	<h2>Surveys</h2>
                <p>The Mob4Hire system is an excellent platform for conducting surveys to mobile users. One of the hardest and most expensive components of market research is access to the right people who are willing and this is something that Mob4Hire has in spades. Mobile developers and market researchers can collect key marketing information by targeting mobile users by the handset they own and the network they are on. Surveys can be distributed using the current platform as follows:<br /><br />
1) Submit a test plan to mob4hire that includes your application (if pertinent) and your survey.<br /><br />
2) Specify the handsets and networks with which you would like to conduct the survey.<br /><br />
3) Accept the appropriate bids and wait for your results.<br /><br />
Demographic information can be collected along with the survey results which will give you a quick and inexpensive method for collecting information about your application. This information can be very useful before, during and after the development process. This type of real-world information can be extremely useful while trying to sell your app to a carrier or an app store. It also gives you the ability to improve your application before it hits the mass market and affect your ranking. We also believe that it will prove quite useful it terms of marketing your app to foreign markets, as cultural and social issues can be identified while making the determination if it makes sense to market your app to a new foreign land.
</p>
		
	    <h3>Survey Question Examples:</h3><br /><p>Would you purchase this app?<br /><br />
How much would you pay for this app?<br /><br />
Would you tell your friends about this app?<br /><br />
How did the app work and look on your GUI?<br /><br />
Do you have any recommendations for improvements?<br /><br />
Did you have any problems downloading this app on your handset?<br /><br /> 
</p>
	    
<h3>MobSurvey (currently in Beta)</h3><p>While our current Mob4Hire platform will work very well for mobile surveys, we are working hard to improve and upgrade our service offering. MobSurvey will give mobile developers and market researchers a more refined and elegant solution to this market-driven requirement. We are working with top market researchers to bring this much needed service to the marketplace. We will combine survey templates with leading edge analytics that will allow our customers to have the whole world at their fingertips to get the information that they need, when they need it at a very appealing price point. Stay tuned!</p><br /><br />
				
				
				<table class="current_surveys">

                	<thead>
                    <tr>
                        <th scope="col"><a href="#">Survey Title</a></th>
                        <th scope="col"><a href="#">Developer</a></th>
                        <th scope="col"><a href="#">Starts On</a></th>
                        <th scope="col"><a href="#">Ends On</a></th>
                        <th scope="col"><a href="#">Status</a></th>

                        <th scope="col"><a href="#">Price</a></th>
                        <th scope="col"><a href="#">Time Left</a></th>
                        <th scope="col"><a href="#">Remaining</a></th>
                    </tr>
                    </thead>
                    <tfoot>
                    	<tr>

                        	<td  class="footer_nav_results" colspan="8">
                            	1 <a href="#">2</a> <a href="#">3</a> <a href="#">3</a> <a href="#">4</a> <a href="#">Next</a>
                        	</td>
                        </tr>

                    </tfoot>
                    
                    <tbody>
                        <tr class="row_odd">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>

                            <td>Accepting Respondents</td>
                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>
                        <tr class="row_even">
                            <td>Network Survey</td>

                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>
                            <td>$1</td>

                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>
                        <tr class="row_odd">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>

                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>
                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>

                        <tr class="row_even">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>

                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>
                        <tr class="row_odd">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>

                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>
                            <td>$1</td>
                            <td>15 min.</td>

                            <td>90% Complete</td>
                        </tr>
                        <tr class="row_even">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>

                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>
                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>

                        <tr class="row_odd">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>

                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>
                        <tr class="row_even">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>

                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>
                            <td>$1</td>
                            <td>15 min.</td>

                            <td>90% Complete</td>
                        </tr>
                        <tr class="row_odd">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>

                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>
                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>

                        <tr class="row_even">
                            <td>Network Survey</td>
                            <td>JohnSmith123</td>
                            <td>11:00 GMT <br />August 17, 2009</td>
                            <td>15:00 GMT <br />August 20, 2009</td>
                            <td>Accepting Respondents</td>

                            <td>$1</td>
                            <td>15 min.</td>
                            <td>90% Complete</td>
                        </tr>
                         
                    </tbody>
                </table>

          	</div>
            <br class="clear" />
