            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
              	<h1>What Is "The Mob?"</h1>
<h2>A global workforce...</h2>
<p>... ready to work on mobile projects such as testing and surveys:</p>
<ul>
<li><a href="#MobileUsers">Mob4hire is ... Mobile Enthusiasts (a.k.a. "Mobsters"); mobile users.</a></li>
<li><a href="#MobPro">Mob4hire is ... Q/A/ Professionals and Testing Companies (a.k.a. "MobPro's")</a></li>
<li><a href="#MobileDeveloper">Mob4hire is ... Mobile App and Web Developers</a></li>
<li><a href="#MarketResearcher">Mob4hire is ... Market Researchers</a></li>
<li><a href="#Brands">Mob4hire is ... Consumer Facing Brands</a></li>
<li><a href="#AdAgency">Mob4hire is ... Ad Agencies</a></li>
<li><a href="#Telecom">Mob4hire is ... Network Operators, Handset Mftrs and O/S vendors</a></li>
</ul>
<p><img src="/images/Mob4Hire-global-pin-map.gif" style="width: 504px;" />
</p>
<hr />
<p><strong><a name="MobileUsers" id="MobileUsers"></a>Mob4hire is ... mobile enthusiasts (a.k.a. "Mobsters").</strong> Tech-savvy, early technology adopters who are living a mobile lifestyle. In Mob4Hire, you can make money for your time, opinion and expertise. As a Mobster, you'll help mobile developers test their applications and websites on your handset, and in countries on network operators they can't test on. But it's more than that. You can take surveys, offer your opinion, participate in the community. </p>
                    <h3>Mobsters love Mob4Hire because you:</h3>
                    <ul>
    <li>Love mobile technology</li>
    <li>Love apps, especially new, trendy ones</li>
    <li>Like getting paid for their time and expertise</li>
    <li>Feel included in creating good apps you WANT to use</li>
    </ul>
    
    <hr />

<p><strong><a name="MobPro" id="MobPro"></a>Mob4hire is ... Q/A/ professionals and testing companies (a.k.a. "MobPro's").</strong> MobPro's are people/companies who are either in the business of mobile testing, or someone with multiple handsets that does this for a living. There are MobPro's registered in Mob4Hire in all five continents. If you want to work with someone who can help you write test scripts, or provide a deeper level of skilled testing, choose a MobPro when selecting your handsets as you create a project. You can expect more complete and thorough testing from a MobPro, and accordingly, you can expect to pay more for this expertise. Contact us at <a href="mailto:info@mob4hire.com">info@mob4hire.com</a> if you wish to become a MobPro.</p>
                    <h3>MobPro's love Mob4Hire because you:</h3>
                    <ul>
    <li>Have great expertise they can share</li>
    <li>Use Mob4Hire as an additional marketing channel</li>
    <li>Can add a deep level of technical expertise</li>
    <li>Maintain large and current inventories of handsets which they can maximize</li>
    <li>Have testing staff that sit idle part of the time</li>
    </ul>
    
    <hr />

                 <p><strong><a name="MobileDeveloper" id="MobileDeveloper"></a>Mob4hire is ... mobile developers.</strong> Using Mob4Hire's crowd-sourced mobile application testing and market research. Mob4Hire significantly reduces costs and time to market by connecting mobile developers with eager, lower priced, crowd sourced testers and market focus groups. Mob4hire was formed to help solve the daunting testing problem that occurs when mobile developers are faced with the tremendous variety of handsets, networks and platforms that exist today. This network of testers can speed up the mobile development process at all stages of development in a highly cost-effective manner. </p>
                 <p>This allows developers to not only test for bugs and technical compatibility, but also to collect key marketing and usability data from an independent tester in a truly mobile environment. This results in mobile applications that work better, reach the market faster, all at a fraction of the cost compared to the old-school approach to testing.</p>
                     <h3>Mobile Developers love Mob4Hire because you:</h3>
                     <ul>
    <li>Can save between 50% and 90% on testing costs</li>
    <li>Can get to market faster</li>
    <li>Maximize handset and network coverage</li>
    <li>Fix lots of bugs</li>
    <li>Make better apps</li>
    <li>Create higher &quot;star&quot; user ratings in app stores which drives more downloads</li>
    <li>Make more money</li>
    </ul>


<hr />                 
	 <p><strong><a name="MarketResearcher" id="MarketResearcher"></a>Mob4hire is ... market researchers.</strong> Today's marketplace moves at lightening speed. You need a quick way to access mobile users on a global basis, to analyze their usage and attitudes, their mobile buying behaviours, the effectiveness of mobile apps, mobile websites or advertising campaigns. These market researchers can access a global panel of Mobsters, on specific networks, with specific handsets, and with specific demographic profiling..</p>
<h3>Market Researchers love Mob4Hire because you:</h3>
    <ul>
    <li>Save on traditional market research panel costs</li>
    <li>Collect responses and results much faster</li>
    <li>Maximize global, handset and network coverage</li>
    <li>Target specific handsets, carriers and locations</li>
    <li>Run user surveys</li>
    <li>Create viral ad campaigns</li>
    <li>Make more money</li>
    </ul>
    <hr/>
    <p><strong><a name="Brands" id="Brands"></a>Mob4hire is ... Consumer Facing Brands.</strong> In 2012, more smartphones will be sold than P.C.'s. All companies will need to have an engaging mobile strategy; apps, websites and advertising, just like the rush to desktop web in the last ten years. According to a <a href="http://www.marketingprofs.com/charts/2010/4031/brands-mobile-apps-frustrate-users" target="_blank">recent research study</a>, &quot;Brands Mobile Apps Frustrate Users&quot;:</p>
    <ul>
      <li>Mobile is a key part of the brand experience for many: 76% of mobile app users say brands should have mobile apps to make shopping or interacting with them easier.</li>
      <li>69% agree that if a brand name mobile app is not useful, helpful or easy to use it results in a negative perception about the brand.</li>
      <li>Though the apps market is relatively new, user expectations are high: 73% of mobile app users expect a company's mobile app to be easier to use than its website.</li>
      <li>Echoing the experimental nature of the market, most users who download and use apps do so based on recommendations and good user experience, rather than the brand that released it. Only 18% of mobile app users consider the brand name when deciding whether to download an app.</li>
    </ul>
    <h3>Brands  love Mob4Hire because you:</h3>
    <ul>
      <li>Understand what your customers want from your Brand in terms of a mobile app and experience</li>
      <li>Reduce costs developing needless features</li>
      <li>Create a better user experience in your app, website or mobile ad campaign which gives it more recommendations and viral growth</li>
      <li>Use the crowd to help them create better quality apps for their platform, app store or deck</li>
      <li>Help co-ordinate strategies between the web, cloud and mobile</li>
      <li>Get more adoption of your apps</li>
      <li>Get more engagement with your customers</li>
    </ul>
    <hr/>
    <p><strong><a name="AdAgency" id="AdAgency"></a>Mob4hire is ... Ad Agencies.</strong> Your customers are looking at you for mobile expertise because they believe mobile is an advertising channel. It's not. It's an engagement channel. Read more detail here: <a href="http://www.mrweb.com/mrt/mob10jul.htm" target="_blank">&quot;How to make a Big Brand app not suck&quot;</a> Mobile moves very fast. You want to add value to your customers, because you know how important it is they are part of the mobile revolution. 76% of mobile app users say brands should have mobile apps to make shopping or interacting with them easier.</p>
    <p>Mob4Hire is the world's largest mobile testing and market research community. We helps firms create mobile strategies, and help them execute with functional and usability testing.</p>
    <h3>Ad Agencies  love Mob4Hire because you:</h3>
    <ul>
      <li>Partner with us so you can help your customers</li>
      <li>Understand what your clients' customers want from their Brand in terms of a mobile app and experience</li>
      <li>Create a better mobile user experience which gives it more recommendations and viral growth</li>
      <li>Use the crowd to help your customers create better quality apps</li>
      <li>Help co-ordinate strategies between the web, cloud and mobile</li>
      <li>Get more adoption of mobile engagement </li>
    </ul>
    <hr />
<p><strong><a name="Telecom" id="Telecom"></a>Mob4hire is ... Network Operators, Handset Mftrs and O/S vendors.</strong> For network operators, developer networks, handset manufacturers, app stores, and O/S and middleware platforms. Not only can Mob4Hire offer crowd-sourced services to increase quality of your apps and user experience, you can also use Mob4Hire to cut Q/A costs internally; Mob4Hire can have a significant positive impact on travel budgets, and capital budgets such as handset purchases.</p>
    <h3>Network, platform and handset Developer Networks and App Stores love Mob4Hire because you:</h3>
    <ul>
    <li>Can create a branded tester community just for them through our Mob4Hire as a Platform (MAAP) and relying on our global community </li>
    <li>Can use the crowd to help them create better quality apps for their platform, app store or deck</li>
    <li>Guarantee that your csutomers will love apps, because your customers helped create and approve them</li>
    <li>Can reduce product management costs by adopting our &quot;Mob4Hire Certified&quot; program</li>
    <li>Reduce churn by increasing customer loyalty</li>
    <li>Increase their ARPU: Average Revenue Per User</li>
    <li>Maximize global, handset and network coverage</li>
    <li>Can run user surveys</li>
    <li>Can stop flying internal staff everywhere ... reduce Q/A team travel costs</li>
    <li>Make more money</li>
    </ul>
           

                 <hr />



<br><br>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />