<?php $files=new ProjectFiles();?>

<?php if($this->wall && count($this->wall) > 0): ?>
	<?php while ($c=$this->wall->current()): // there are posts on the wall ?>
				<?php if ($c->idparent == $c->idmessage):?>
				<div id="wallpost-thread-<?php echo $c->idmessage; ?>" class="wall">
				
				<div id="loadingMsg<?php echo $c->idmessage; ?>" style="display:none" class="loading-wall"> posting your message</div>
		
				<div class="item" id="msg<?php echo $c->idmessage; ?>">
					
			
					<div class="change-summary">
					<span class="no-change">	
						<?php $parent=$c->idparent;?>
						
						<?php if($c['idproject'] <> ''): ?>
							<img src="/images/icons/message_project.png"/>  Public Project message from <?php echo $c['projectName']; ?> posted <?php echo $this->showElapsedTime($c['timestamp']); ?>
						<?php elseif($c['idtest'] <> ''):?>
							<img src="/images/icons/message_test.png"/>  Private project message from the project <?php echo $c['projectName']; ?> posted <?php echo $this->showElapsedTime($c['timestamp']); ?>
						<?php elseif($c['idgroup'] <> ''):?>
							<img src="/images/icons/message_project.png"/>  Message to the group <?php echo $c['groupName']; ?> posted <?php echo $this->showElapsedTime($c['timestamp']); ?>
						<?php else:?>
							<img src="/images/icons/message_private.png"/> Private message posted <?php echo $this->showElapsedTime($c['timestamp']); ?>
						<?php endif;?>
					</span>		
					</div>
							
						<div class="item-icon">
							<a><img class="user-image" height="32" border="0" width="32" src="<?php echo (($img_path=$c->Avatar) ? $img_path : "/images/image-not-found-black.gif"); ?>"></a>
						</div>
						
						<div class="item-info" >
						
						<span class="link"><a href='/app/profile/view/user/<?php echo $c['postername']; ?>'>						
							<?php  if($c['idposter'] == Zend_Registry::get('defSession')->currentUser->id):?>
								You</a></span><span class="italic-grey"> wrote
							<?php else:?>
								<?php echo  $c['postername'];  ?></a></span><span class="italic-grey"> writes
							<?php endif;?>
							
							<?php if($c['idreceiver']):?>
								 to </span><span class="link"><a href='/app/profile/view/user/<?php echo $c['postername']; ?>'>
							   <?php  if($c['idreceiver'] == Zend_Registry::get('defSession')->currentUser->id):?>
									 You</a></span>
							  <?php else:?>
							     <?php echo  $c['receivername'];  ?></a></span> 
							<?php endif;?> 
								
							<?php elseif($c['idtest']): ?>	
								 on <a href='/app/the-mob/view/idproject/<?php echo $c['idproject']; ?>'><?php echo $c['projectName'];  ?></a> test wall
							<?php else:?>	
								 on <a href='/app/the-mob/view/idproject/<?php echo $c['idproject']; ?>'><?php echo $c['projectName'];  ?></a>
							<?php endif;?>
						</span>
						<table class="item-summary">
								<tr>
									<td class="value"><?php  echo $this->showNewLines($c['message']); ?></td>
								</tr>
								<tr>					
									<td class="value footer">About <?php echo $this->showElapsedTime($c['timestamp']);  ?></td>
								</tr>
							<? if ($c->hasFile): // render files shit here?>
								<tr>
								<td class="value"><img  border="0" src="/images/icons/attach.png"> Attachment(s)</td>
								</tr>
								<tr>
								<td class="value">
									<div id='divwal<?php echo $c->idmessage;?>'>
										<?php echo $this->partial('partial/filelayout.phtml', array('projectFiles'=>$files->getFilesForProjectByCategory(0, 'wal'.$c->idmessage), 'filecontrolname'=>'wal'.$c->idmessage));?>
									</div>
								</td>
								</tr>
							<?endif;?>
						</table>
						
						</div>
			
						
						</div>		
				<?php
				
				$this->wall->next();
				
				while (($c=$this->wall->current()) && ($c->idparent==$parent)):  // iterate through all the records with this parent ?>
					
					<div id="wallpost-thread-<?php echo $c->idmessage; ?>">
					
					<div class="item bordered"  style="margin-left:50px">
										
						<div class="item-icon">
							<a><img class="user-image" height="32" border="0" width="32" src="<?php echo (($img_path=$c->Avatar) ? $img_path : "/images/image-not-found-black.gif"); ?>"></a>
						</div>
					
						<div class="item-info">
						
						<span class="link"><a href='/app/profile/view/user/<?php echo $c['postername']; ?>'>
							<?php  if($c['idposter'] == Zend_Registry::get('defSession')->currentUser->id):?>
								You
							<?php else:?>
								<?php echo  $c['postername'];  ?>
							<?php endif;?>
							</a></span>
						<span class="italic-grey"> replied</span>
						<table class="item-summary">
							<tbody>
								<tr>
									<td class="value"><?php  echo $this->showNewLines($c['message']); ?></td>					
								</tr>
								<tr>
									<td class="value footer">About <?php echo $this->showElapsedTime($c['timestamp']);  ?></td>
								</tr>
							<? if ($c->hasFile): // render files shit here?>
						
								<tr  >
									<td class="value"><img  border="0" src="/images/icons/attach.png"> Attachment(s)</td>
								</tr>
								<tr  >
									<td class="value footer">
									<div id='divwal<?php echo $c->idmessage;?>'>
										<?php echo $this->partial('partial/filelayout.phtml', array('projectFiles'=>$files->getFilesForProjectByCategory(0, 'wal'.$c->idmessage), 'filecontrolname'=>'wal'.$c->idmessage));?>
									</div>
									</td>
								</tr>
							<?endif;?>
							</tbody>
						</table>	
							
		
						</div>						
					</div>
					
				<?php $this->wall->next(); ?>	
				</div>
				<?php endwhile;?>
					
				
					
			<?php endif;?>
			</div>
	<?php endwhile;?>
	
  <?php endif;?>

  


