<?php
$translate = Zend_Registry::get('Zend_Translate');
?>
<link href="/css/dropzone.min.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/js/dropzone.min.js"></script>
<script type="text/javascript">

	// Preloads the file tables (method in files/list.js
	$(document).ready(function () {
		Dropzone.autoDiscover = false;
		var uploadDrop = new Dropzone("div#wallfiles", {
			paramName: "wal<?php echo $this->idmessage;?>",
			url: "/app/wall/upload/?file=wal<?php echo $this->idmessage;?>",
			maxFilesize: 4, // MB
			maxFiles: 1,
			init: function () {
				this.on("complete", function (file) {
					this.removeFile(file);
				});

				this.on("success", function (file, message) {
					$('#divwal<?php echo $this->idmessage;?>').html(message);
				});

				this.on("sending", function (form) {
				});
			}
		});
	});
</script>
<div id='wallfiles' class="dropzone" >
		<input type='hidden' class='idmessage' value='<?php echo $this->idmessage;?>' />
		<div class="dz-default dz-message"><span><h3><?php echo $translate->_('app_profile_index_image_drop') ?></h3></span></div>
		<br/>
		<div id='divwal<?php echo $this->idmessage;?>'></div>
</div>