<link href="/css/app/mobile_api.css" media="screen" rel="stylesheet" type="text/css">
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/addons/jquery.tools.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery/js/jquery-ui-1.7.2.custom.min.js"></script>
<script src="/js/addons/jquery.filestyle.js" type="text/javascript"></script>

<?php  if ($this->mode=='compatible' && $this->projectList->count()==0):?>
<div class="project_list">
	<h1>Sorry</h1>
	<p>We don't have any projects available for testing right now.</p>
</div>

<?php else:?>

<div class="project_list">
	<?php $i=0; // used to swap background colour of table row ?>
	<?php foreach($this->projectList as $project) : ?>
		<div class="project_item <?php echo ($i%2 ? 'row_even' : 'row_odd');?>" onclick="mob4hire.showDetail(<?php echo $project->idproject;?>,'<?php echo $project->Name;?>');">
			<?php echo $this->getProjectImage($project,48,48);	?>
			<p>
			<?php if($project->projecttype == 'test'):?>
				<img src="/images/buttons/mobtest_button.gif" alt="MOBTEST" />
			<?php elseif($project->projecttype == 'survey'): ?>
				<img src="/images/buttons/mobsurvey_button.gif" alt="MOBSURVEY" />										
			<?php elseif($project->projecttype == 'accelerator'): ?>
				<img src="/images/buttons/mobaccelerator_button.gif" alt="MOBACCELERATOR" />										
			<?php elseif($project->projecttype == 'experience'): ?>
					<img src="/images/buttons/mobexperience_button.gif" alt="MOBEXPERIENCE" />										
			<?php endif; ?>
			</p>
			<p>
			<span class="bold-black"><?php echo $this->escape($project->Name);?></span>
			<span class="italic-grey">
					(<?php if($project->testerStatus): // If this is a project in which I am involved as a tester?>
					<?php echo $this->escape(Tests::$status[$project->testerStatus]);?>
					<?php else:?>
					<?php echo $this->escape(Projects::$status[$project->Status]);?>
					<?php endif;?>)
			</span>
			</p>
			
			<p class="username"><span class="bold-red"><a href="#" onclick="mob4hire.showUser(<?php echo $project->iddeveloper;?>,'<?php echo $project->username;?>')"><?php echo $this->escape($project->username);?></a></span></p>
			<p><?php echo $this->escape(substr($project->description, 0, 140));?></p>

			<?php  
				$details_str = '';
				if($project_date = $this->formatDate($this->escape($project->StartDate))){
					$details_str .= $project_date;
				}
				if($details_str) { $details_str .= "&nbsp;-&nbsp;"; }
				if($project_duration = $this->escape($project->Duration)){
					$details_str .= $project_duration. '&nbsp;Day Duration';
				}
				if($details_str) {
					echo '<p class="project-details">'. $details_str. "</p>\n";
				}
			?>

		</div>
		<?php $i++;?>
	<?php endforeach; ?> 
</div>
<div class="project_navigation">
<?php if($this->pageNumber > 1):?>
	<a href="javascript:void(0):" onclick="mob4hire.previousPage()">
		<img class="left_button" src="/images/buttons/previous_button.gif"/>
	</a>
<?php endif; ?>	
	
	Page <?php echo $this->pageNumber ?> of 
	<?php echo $this->numberOfPages ?>
<?php if($this->pageNumber < $this->numberOfPages):?>
	<a href="javascript:void(0):" onclick="mob4hire.nextPage()">
		<img class="right_button" src="/images/buttons/next_button.gif"/>
	</a>
<?php endif; ?>
</div>

<?php endif;?>
	
