<?php $project = $this->project;  $test = $this->test; ?>				
<?php echo $this->partial('partial/_project_default_status.phtml','app', array('options'=>array('showcomments' =>false,'navigation'=>'none','layout'=>'compact'),'project'=>$project,'tests'=>$test,'lastLogin'=>strtotime(Zend_Registry::get('defSession')->currentUser->last_login)) );?>
<?php // Project Details ?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_project_view_title'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_description'); ?>:</td>
					<td colspan="3" style="margin-right:20px;"><i>
					<?php echo $this->project['longDesc']?>
					</i>
				</tr>
				
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_invitation'); ?>:</td>
					<td colspan="3" style="margin-right:20px;"><i>
					<?php echo (($this->project['inviteonly']) ? $this->translate->_('mobile_project_view_invitation_closed') : $this->translate->_('mobile_project_view_invitation_open'));?><br/>
					<?php echo (($this->project['flatfee']) ? $this->translate->_('mobile_project_view_fee_flat').$this->project['budget']. $this->translate->_('mobile_project_fee_flat_currency') : $this->translate->_('mobile_project_view_fee_bid').(($this->project['budget'])?$this->translate->_('mobile_project_fee_guideline').$this->project['budget']. $this->translate->_('mobile_project_fee_flat_currency'): ""));?>
					</i>
				</tr>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_testtype'); ?>:</td>
					<td class="" style="width:150px">
					<?php switch($this->project['projecttype']){
						case "test":
							echo " <span class='mobred'>MOB</span>TEST. ". $this->translate->_('mobile_project_view_testtype_mobtest');
							break;
						case "experience":
							echo " <span class='mobred'>MOB</span>EXPERIENCE. ".  $this->translate->_('mobile_project_view_testtype_experience');
							break;
						case "survey":
							echo " <span class='mobred'>MOB</span>SURVEY. ". $this->translate->_('mobile_project_view_testtype_survey');
							break;
						default:
							echo " <span class='mobred'>MOB</span>TEST. ".$this->translate->_('mobile_project_view_testtype_mobtest');
							break;
					}?>
					
					</td>
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_difficulty'); ?>:</td>
					<td class=""><?php echo $this->project['testClass']; ?></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>	
<?php // Project Requirements ?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_project_view_requirements_title'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_requirements_length'); ?>:</td>
					<td class="" style="width:150px"><?php echo $this->project['estTime']?></td>
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_requirements_data'); ?>:</td>
					<td class="" style="width:150px"><?php echo $this->project['estData']?></td>
				</tr>
				
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_project_view_requirements_networks'); ?>:</td>
					<td colspan="3" style="margin-right:20px;"><i>
					<?php echo $this->networkTable($this->project['idproject']);?>
					</i>
				</tr>
				
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_project_requirements_handsets'); ?>:</td>
					<td colspan="3" style="margin-right:20px;"><i>
					<?php echo $this->handsetTable($this->project['idproject']);?>
					</i>
				</tr>
				
			</tbody>
		</table>
		</div>
	</div>
<?php // Tester on the projct 	
$tests = new Tests(); 
if(($this->project['iddeveloper'] == $this->currentUser->id) || $tests->isActiveTesterOnProject($this->project['idproject'], $this->currentUser->id)):?>
	<?php echo $this->partial('partial/mobilefilelayout.phtml','mobile',array('project'=>$project,'idproject'=>$project['idproject']));?>
		
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_project_view_wall'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr >
				<?php echo $this->showWall($this->project['idproject'], 1,true,1,3,0,'','',array('layout'=>'compact')); ?>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
<?php endif;?>

		