<script language = "Javascript">
    /**
     * DHTML phone number validation script. Courtesy of SmartWebby.com (http://www.smartwebby.com/dhtml/)
     */
    // Declaring required variables
    var digits = "0123456789";
    // non-digit characters which are allowed in phone numbers
    var phoneNumberDelimiters = "()- ";
    // characters which are allowed in international phone numbers
    // (a leading + is OK)
    var validWorldPhoneChars = phoneNumberDelimiters + "+";
    // Minimum no of digits in an international phone no.
    var minDigitsInIPhoneNumber = 10;
    
    function isInteger(s){
        var i;
        for (i = 0; i < s.length; i++) {
            // Check that current character is number.
            var c = s.charAt(i);
            if (((c < "0") || (c > "9"))) 
                return false;
        }
        // All characters are numbers.
        return true;
    }
    
    function trim(s){
        var i;
        var returnString = "";
        // Search through string's characters one by one.
        // If character is not a whitespace, append to returnString.
        for (i = 0; i < s.length; i++) {
            // Check that current character isn't whitespace.
            var c = s.charAt(i);
            if (c != " ") 
                returnString += c;
        }
        return returnString;
    }
    
    function stripCharsInBag(s, bag){
        var i;
        var returnString = "";
        // Search through string's characters one by one.
        // If character is not in bag, append to returnString.
        for (i = 0; i < s.length; i++) {
            // Check that current character isn't whitespace.
            var c = s.charAt(i);
            if (bag.indexOf(c) == -1) 
                returnString += c;
        }
        return returnString;
    }
    
    function checkInternationalPhone(strPhone){
        var bracket = 3;
        strPhone = trim(strPhone);
        if (strPhone.indexOf("+") > 1) 
            return false;
        if (strPhone.indexOf("-") != -1) 
            bracket = bracket + 1;
        if (strPhone.indexOf("(") != -1 && strPhone.indexOf("(") > bracket) 
            return false;
        var brchr = strPhone.indexOf("(");
        if (strPhone.indexOf("(") != -1 && strPhone.charAt(brchr + 2) != ")") 
            return false;
        if (strPhone.indexOf("(") == -1 && strPhone.indexOf(")") != -1) 
            return false;
        s = stripCharsInBag(strPhone, validWorldPhoneChars);
        return (isInteger(s) && s.length >= minDigitsInIPhoneNumber);
    }
</script>

<script type="text/javascript">
    $(document).ready(setInitialLists);
    
    function setInitialLists(){
        initialListeners();
        initialNetwork();
        initialHandset();
        initialNetwork2();
        showPage("","", 1);
    }
    
    function initialListeners(){
    
        $("#sendbutton").click(function(){
            var phone = $('#manualsms').val();
            if (checkInternationalPhone(phone) == false) {
                alert("Please Enter a Valid Phone Number")
                $('#manualsms').val("");
                $('#manualsms').focus();
                return false
            }
            else {
            
                $('#smsresult').html('<img src="/images/working.gif"/>');
                
                postObject = new Object;
                postObject.sms = phone;
                $.post("/app/profile/sendsms/", postObject, function(data){
                    $("#smsresult").html(data);
                });
                
            }
            
        });
        
        //clicking the addmodel button
        
        $('#addmodelBtn').parent('div').append('<div id="workingadd"><img src="/images/working.gif"/></div>');
        $('#workingadd').hide();
        
        $("#addmodelBtn").click(function(){
        
            $('#workingadd').show();
            postObject = new Object;
            postObject.network = $('#network').val();
            postObject.model = $('#model').val();
         //   postObject.number = "" + $('#code').val() + $('#number').val();
         //   postObject.orderBy = '';
        //    postObject.pageNumber = '';
            $.post("/ajax/index/addhandsetsajax/", postObject, function(data){
                $("#ajaxtable").html(data);
                $('#workingadd').hide();
            });
            
        });
        
        //clicking the addmodel2 button
        
        $('#addmodel2Btn').parent('div').append('<div id="workingadd2"><img src="/images/working.gif"/></div>');
        $('#workingadd2').hide();
        
        $("#addmodel2Btn").click(function(){
        
            $('#workingadd2').show();
            postObject = new Object;
            postObject.network = $('#network2').val();
            postObject.manualid = $('#manualHandset').val()+"\t"+$('#manualModel').val(); // we will use a tab to separate the two
         //   postObject.number = "" + $('#code').val() + $('#number').val();
         //   postObject.orderBy = '';
        //    postObject.pageNumber = '';
            $.post("/ajax/index/addhandsetsajax/", postObject, function(data){
                $("#ajaxtable").html(data);
                $('#workingadd2').hide();
            });
            
        });
        
        $("select#country").change(function(){
            $('#network').attr('disabled', 'disabled');
            $('#workingnetwork').show();
            $.getJSON("/ajax/index/networkselect", {
                id: $(this).val()
            }, function(j){
                var options = '';
                for (var i = 1; i < j.length; i++) {
                    options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
                }
                $("#network").html(options);
                $('#network').removeAttr("disabled");
                $('#workingnetwork').hide();
            })
            $.post("/ajax/index/getcountrycode/", {
                id: $(this).val()
            }, function(data){
                $("#code").val(data);
            });
            
        });
        
        $("select#country2").change(function(){
            $('#network2').attr('disabled', 'disabled');
            $('#workingnetwork2').show();
            $.getJSON("/ajax/index/networkselect", {
                id: $(this).val()
            }, function(j){
                var options = '';
                for (var i = 1; i < j.length; i++) {
                    options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
                }
                $("#network2").html(options);
                $('#network2').removeAttr("disabled");
                $('#workingnetwork2').hide();
            })
            $.post("/ajax/index/getcountrycode/", {
                id: $(this).val()
            }, function(data){
                $("#code").val(data);
            });
            
        });
       
        
        $("select#vendor").change(function(){
        
            $('#model').attr('disabled', 'disabled');
            $('#workinghandset').show();
            
            $.getJSON("/ajax/index/modelSelect", {
                id: $(this).val()
            }, function(j){
                var options = '';
                for (var i = 1; i < j.length; i++) {
                    options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
                }
                $("#model").html(options);
                $('#model option:first').attr('selected', 'selected');
                $('#model').removeAttr("disabled");
                $('#workinghandset').hide();
            });
        });
    }
    
    function initialNetwork(){
        var country = $('select#country').val();
        // disable the networks until the countries are populated
        $('#network').attr('disabled', 'disabled');
        $('#network2').attr('disabled', 'disabled');

        $('#network').parent('div').append('<div id="workingnetwork"><img src="/images/working.gif"/></div>');
       
        $.getJSON("/ajax/index/networkselect", {
            id: country
        }, function(j){
            var options = '';
            for (var i = 1; i < j.length; i++) {
                options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
            }
            
            $('#network').removeAttr("disabled");
            $('#workingnetwork').hide();
            
            $("#network").html(options);
            $('#network option:first').attr('selected', 'selected');
        });
        
        $.post("/ajax/index/getcountrycode/", {
            id: country
        }, function(data){
            $("#code").val(data);
        });
    }
    
    
    function initialHandset(){
    
        var manuf = $('select#vendor').val();
        
        $('#model').parent('div').append('<div id="workinghandset"><img src="/images/working.gif"/></div>');
        
        $.getJSON("/ajax/index/modelSelect", {
            id: manuf
        }, function(j){
            var options = '';
            for (var i = 1; i < j.length; i++) {
                options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
            }
            $("#model").html(options);
            $('#model option:first').attr('selected', 'selected');
            
            $('#workinghandset').hide();
            
        });
    }
    
    function initialNetwork2(){
        var country = $('select#country2').val();
        // disable the networks until the countries are populated
       $('#network2').attr('disabled', 'disabled');
       $('#network2').parent('div').append('<div id="workingnetwork2"><img src="/images/working.gif"/></div>');
        
        $.getJSON("/ajax/index/networkselect", {
            id: country
        }, function(j){
            var options = '';
            for (var i = 1; i < j.length; i++) {
                options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
            }
            
            $('#network2').removeAttr("disabled");
            $('#workingnetwork2').hide();
            
            $("#network2").html(options);
            $('#network2 option:first').attr('selected', 'selected');
        });
        
        $.post("/ajax/index/getcountrycode/", {
            id: country
        }, function(data){
            $("#code").val(data);
        });
        
    }
    
    
    function showPage(whereClause,orderBy, pageNumber){
	  // whereClause is never used. Added so that the whole thing is not broken (compatibility with listhandsetsajax.phtml
        postObject = new Object;
        postObject.orderBy = orderBy;
        postObject.pageNumber = pageNumber;
        $.post("/ajax/index/listhandsetsajax/", postObject, function(data){
            $("#ajaxtable").html(data);
        });
    }
    
    function removeHandset(id){
    
        $('#divRegToggle' + id).html('<img src="/images/working.gif"/>');
        
        postObject = new Object;
        postObject.id = id;
        $.post("/ajax/index/removehandsetsajax/", postObject, function(data){
            $("#ajaxtable").html(data);
            
        });
    }
    function assignMacID(id)
    {
    	var macID = $('input[name=\'mac_'+id+'\']').attr('value');
    	$.post("/ajax/index/addmacidajax/id="+id+"&macID="+macID, null, function(data){
            $("#ajaxtable").html(data);
            
        });
    }
</script>

<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        <?php echo $this->translate->_('app_profile_mobster_formTitle'); 
        
        echo $this->profile['username'];?>
    </div>
    <div class="app-form">
 
        <div id="mainContent">
            <?php
            echo $this->profileMobster;
            ?>
        </div>
		
        <div class="clear">
            &nbsp;
        </div>
    </div>
    <!-- close app form div -->
    <div class="bottom-curve">
        &nbsp;
    </div>
</div>
<!--End: container_column_middle_wide_app-->
