<?php
/*
* Used to cancel test and return any escrowed funds to the developer.
*/
if (isset($_POST['cancelTest'])) {
	$idtest=$_POST['test'];
	$queryTest=$this->db->query("SELECT tests.*, projects.iddeveloper FROM tests ".
							"INNER JOIN projects ON projects.idproject=tests.idproject ".
							"WHERE idtest=$idtest ");
	if ($queryTest && $test=$queryTest->fetch()) {
/*		$this->db->query("UPDATE tests SET Status=499 WHERE idtest=$idtest");
		$Timestamp=time();
		$this->db->query("INSERT INTO transactions (idtest, idtester, Status, Timestamp, BidAmount) ".
					"VALUES ($idtest, $test[idtester], 499, $Timestamp, $test[bidAmount])");
*/
		$teststable=new Tests();
		$temp=$teststable->adminCancelTest($idtest);
		
		
		?>
		<a href="javascript:history.back(-1)">Back</a><br/>
		<?php	
		if($temp>0)
		{
			echo "<h4>OK DONE</h4>";
		}
		else
		{
			echo "<h4>FAILURE - Please talk to you friendly admin for help.</h4>";
		}
	}
}
else if (isset($_POST['selectProject'])) {
	?>
	<h3><a href="javascript:history.back(-1)">Back</a></h3>
	<form name='selectTest' method='post' action="/admin/index/canceltest">
	<select name='test'><OPTION value =''>Select Test:</OPTION>
	<?
	$idproject=$_POST['project'];
	$queryTest=$this->db->query($debug="SELECT * FROM tests INNER JOIN users ON users.id=tests.idtester".
							" LEFT JOIN deviceatlas ON deviceatlas.id=tests.iddevice".
							" LEFT JOIN networks ON networks.idnetwork=tests.idnetwork".
							" LEFT JOIN countries ON countries.idcountry=networks.idcountry".
							" WHERE idproject=$idproject AND tests.Status>100 AND tests.Status < 400 ORDER BY users.username");
	echo $debug;
	while ($queryTest && $test=$queryTest->fetch()) {
		echo "<OPTION value='$test[idtest]'>$test[username] $test[vendor] $test[model] $test[country] $test[network]</OPTION>";
	}
	?>
	</select>
	<input type='submit' name='cancelTest' value='Cancel Test'>
	</form>
<?	
}
else {
?>
<form name='selectProject' method='post' action="/admin/index/canceltest">
<select name='project'><OPTION value =''>Select Project:</OPTION>
<?
$queryProject=$this->db->query("SELECT * FROM projects WHERE Status>200 ORDER BY Name");
while ($queryProject && $project=$queryProject->fetch()) {
	echo "<OPTION value='$project[idproject]'>$project[Name]</OPTION>";
}
?>
</select>
<input type='submit' name='selectProject' value='Select Project'>
</form>
<?
}
