<h1>Mob4Hire Administrator Dashboard</h1>
<h2>Quick Facts</h2>
<p>There are <b><?php echo $this->totalTesters;?></b> Mobsters' worldwide!</p>
<p>There are <b><?php echo $this->totalResearchers;?></b> Researchers in the mob.</p>
<p>Mobsters live in <b><?php echo $this->userCountry?></b> countries around the world.</p>
<p>Mobsters use <b><?php echo $this->network;?></b> different networks world wide.</p>
<p>There are <b><?php echo $this->totalDevelopers;?></b> developers who rely on the mob for testing.</p>
<p>Mobsters have helped test <b><?php echo $this->totalProjects;?></b> projects.</p>
<p>Mobsters have conducted <b><?php echo $this->totalTests;?></b> tests do date.</p>
<p>Total Funds in escrow <b><?php echo '$'.$this->fundsInEscrow;?></b></p>
<p>Total MobPro testers <b><?php echo $this->mobPro;?></b></p>