<h2><?php echo $this->translate->_('mobile_wall_title'); ?></h2>
<div id="wall-container-<?php echo $this->postType?>_<?php echo $this->idtarget?>" style="margin-top: 30px">
	<?php echo $this->showWall($this->idtarget, $this->postType,$this->showcomment,$this->page,$this->resultsPerPage,$this->timestamp,$this->where,$this->filter,$this->options); ?>	
</div>