<h2><?php echo $this->translate->_('mobile_wall_title'); ?></h2>
<div id="wall-container-<?php echo $this->postType ?>_<?php echo $this->idtarget ?>" style="margin-top: 30px">
    <?php echo $this->showWall($this->idtarget, $this->postType, $this->showcomment, $this->page, $this->resultsPerPage, $this->timestamp, $this->where, $this->filter); ?>
</div>
<?php if ($this->error): ?>
    <div class="project">
        <div class="item">
            <div class="change-summary">
			<span class="no-change">
				<?php echo $translate->_('app_partial_project_error_noChange'); ?>
			</span>
            </div>

            <div class="item-info">
                <span class="title"><?php echo $translate->_('app_partial_project_error_sorry'); ?></span>
                <table class="item-summary">
                    <tbody>
                    <tr>
                        <?php echo $translate->_('mobile_wall_view_error'); ?>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

<?php endif; ?>
