
<div id="container_column_middle_wide">            	
	<div class="red-top"></div>
	<div class="red-mid">
  <h1>Associates</h1>

  <!--logo soup-->
  <a href="http://wurfl.sourceforge.net" target="_blank">
    <img src="/images/wurfl_logo_main_114px.gif" alt="The De-Facto Standard Open-Source Device Capability Repository" title="The De-Facto Standard Open-Source Device Capability Repository" />
  </a>

  <a href="http://www.newt.trlabs.ca" target="_blank">
    <img src="/images/newt_logo.png" alt="Network for emerging wireless technologies" title="Network for emerging wireless technologies" />
  </a>

  <a href="http://www.wipconnector.com" target="_blank">
    <img src="/images/wip_logo.png" alt="Wireless Industry Partnership" title="Wireless Industry Partnership" />
  </a>

  <a href="http://www.betavine.com" target="_blank">
    <img src="/images/betavine_logo.png" alt="A Vodafone Group R&D Lab" title="A Vodafone Group R&D Lab" />
  </a>

  <a href="http://www.fogstudios.com" target="_blank">
    <img src="/images/fogstudios_logo.png" alt="THE LEADING AGENCY FOR INTERACTIVE RIGHTS SINCE 1979" title="THE LEADING AGENCY FOR INTERACTIVE RIGHTS SINCE 1979" />
  </a>

  <a href="http://www.bnettv.com" target="_blank">
    <img src="/images/bnettv_logo.png" alt="A full service Internet broadcasting company specializing in live audio and video streaming" title="A full service Internet broadcasting company specializing in live audio and video streaming" />
  </a>

  <a href="http://www.imgawards.com" target="_blank">
    <img src="/images/imga_logo.png" alt="The International Mobile Gaming Awards (IMGA), launched in 2004 is the leading platform for Innovation in Mobile Entertainment worldwide" title="The International Mobile Gaming Awards (IMGA), launched in 2004 is the leading platform for Innovation in Mobile Entertainment worldwide" />
  </a>

  <a href="http://www.mobilejamsession.com" target="_blank">
    <img src="/images/mjs_logo.jpg" alt="The Mobile Jam Session is a day to inspire new ideas and innovate solutions to existing challenges. Las vegas March 31, 2008" title="The Mobile Jam Session is a day to inspire new ideas and innovate solutions to existing challenges. Las vegas March 31, 2008" />
  </a>

  <a href="http://www.growwireless.com" target="_blank">
    <img src="/images/growwireless_logo.png" alt="Make it Fly" title="Make it Fly" />
  </a>

  <a href="http://www.superhappyfunfun.com" target="_blank">
    <img src="/images/superhappyfunfun_logo.png" alt="Super Happy Fun Fun, Inc.">
  </a>

  <a href="http://www.game-lion.com/" target="_blank">
    <img src="/images/game-lion-logo.png" alt="Gamelion Studios ? casual games cross-platform development, porting and testing services." title="Gamelion Studios ? casual games cross-platform development, porting and testing services." />
  </a>
</div>
<div class="red-bottom"></div>
  <br class="clear" />
</div>

