
<div id="container_column_middle">            	
	<div class="middle_row_partner clearfix">
		<div id="facebook-banner">
			<h1>Welcome Facebook Users!</h1>	
			<h2>GET PAID TO TEST<br/> COOL NEW APPS<br/>WITH YOUR<br/>MOBILE PHONE!</h2>
			<a href="/user/register" class="register">REGISTER TODAY!</a>
    	</div>
	</div>  
	<fb:login-button v="2" size="large" onlogin="window.location='/app/'">Login with Facebook</fb:login-button>
  <div class="middle_row_partner clearfix">		

	<div id="partnerpage-column-left">
		<img src="/images/icon-m4h-phone-cash.gif" class="facebook-page">
		<h2>Mob4Hire is a quick and easy way to earn a few extra dollars with your phone</h2>		
        <p>You'll love Mob4Hire because:</p>
		<ul>
			<li>You love mobile technology</li>
			<li>You love apps, especially new, trendy ones</li>
			<li>You like getting paid for your time and expertise</li>
			<li>You feel included in creating good apps and good mobile experiences you WANT to use</li>
		</ul>
		<p>
			<strong class="black">
			<?php echo $this->totalMobsters;?> people with <?php echo $this->totalHandSets;?>  different mobile handsets on <?php echo $this->totalNetworks;?>  carriers in <?php echo $this->totalCountries;?>  countries are eagerly waiting to help you with your mobile development.
			</strong>
		</p>
    </div>
    <div id="partnerpage-column-middle">
    	<img src="/images/icon-developer-tester.gif" class="facebook-page">
		<h2>Here&rsquo;s how Mob4Hire works.</h2>
		<p>We provide mobile application developers with access to quality mobile testers located throughout the world. Mob4Hire significantly reduces mobile application testing costs and reduces time to market by connecting developers with eager, lower priced, crowd sourced testers and focus groups.</p>
		<p><a href="/services/what-is-mob4hire">Read More</a></p>
	</div>
    <div id="partnerpage-column-right">
    	<img src="/images/icon-m4h-community.gif" class="facebook-page">
		<h2>What Exactly is Mob4Hire?</h2>
        <p>Mob4Hire is an online community where mobile users are connected with content publishers to improve their mobile market research and in-market functional and usability testing of mobile applications (apps), mobile websites and mobile ad / app campaigns (appvertising).</p>
		<p>Join Mob4Hire today!</p>
		<p><a href="/user/register"><img src="/images/buttons/register_red.gif" alt="Register Today!"></a></p>	
    </div>  
  </div>



  <div class="clear">&nbsp;</div>
</div>