
<div id="container_column_middle">            	
	<div class="middle_row_partner clearfix">
		<div id="navteq-banner">
			<h1>Welcome NAVTEQ NETWORK FOR DEVELOPERS (NN4D) Members!</h1>
			<h2>USE REAL USERS AND LOCATION TO<br/> TEST YOUR LOCATION-BASED APPS!</h2>
			<a href="/user/register" class="register">REGISTER TODAY!</a>
			<img class="navteq-nn4d-logo" src="/images/logos/navteq-nn4d.gif" />
    	</div>
	</div>  

  <div class="middle_row_partner clearfix">

	<div id="partnerpage-column-left">
		<img src="/images/icon-stop-emulator-use.gif" class="navteq-partner">
		<h2 class="navteq-partner">Stop Using Emulators to Test Your Location- Based Apps!</h2>
		<div class="clear">&nbsp;</div>
        <p>Why settle for emulators to test your location-based apps. Use Mob4Hire to get real people and real handsets to achieve real-world-testing results for the top 5 problems that an LBS programmer faces:</p>
		<ol>
			<li>Battery life consumption</li>
			<li>Device and carrier fragmentation</li>
			<li>Time to first locate and accuracy</li>
			<li>Handling large of amounts of location data</li>
			<li>Handling of dead zones and loss of signal</li>
		</ol>
		<p>Mob4Hire is the best way to test your apps in motion.</p>
    </div>
    <div id="partnerpage-column-middle">
    	<img src="/images/icon-m4h-love.gif" class="navteq-partner">
		<h2 class="navteq-partner">Why do developers love Mob4Hire?</h2>
		<div class="clear">&nbsp;</div>
        <ul>
			<li>Save up to 90% on testing costs using <span class="mobblack">MOB</span><span class="mobred">TEST</span></li>
			<li>Conduct user experience usability testing with <span class="mobblack">MOB</span><span class="mobred">EXPERIENCE</span></li>
			<li>Get to market faster</li>
			<li>Maximize handset  &amp; network coverage</li>
			<li>Find and fix lots of bugs</li>
			<li>Make better mobile apps and websites</li>
			<li>Make more money!</li>
		</ul>
		<p><strong class="black"><?php echo $this->totalDevelopers;?> other mobile developers just like you have registered at Mob4Hire from <?php echo $this->developerCountries;?> countries.</strong></p>
    </div>
    <div id="partnerpage-column-right">
    	<img src="/images/icon-clipboard.gif" class="navteq-partner">
		<h2 class="navteq-partner">Registration is free, private, and secure.</h2>
		<div class="clear">&nbsp;</div>
        <p>There is no obligation to join Mob4Hire! You don't have to bid or submit projects or anything if you don't want to. And your information is always secure - we use the same SSL encryption that banksd use to protect your information.</p>
		<p>Join Mob4Hire today!</p>
		<p><a href="/user/register"><img src="/images/buttons/register_red.gif" alt="Register Today!"></a></p>	
    </div>  
  </div>



  <div class="clear">&nbsp;</div>
</div>