
<div id="container_column_middle">            	
	<div class="middle_row_partner clearfix">
		<div id="nokia-banner">
			<h1>Mob4Hire is the world&rsquo;s largest mobile testing and market 
research community</h1>
			<a href="/user/register" class="register">REGISTER TODAY!</a>
    	</div>
	</div>  

  <div class="middle_row_partner clearfix">

	<div id="partnerpage-column-left">
		<img src="/images/icon-speech-bubbles.gif" class="forum-nokia">
		<h2 class="forum-nokia">Make Better Mobile Apps through user feedback</h2>
		<div class="clear">&nbsp;</div>
        <p>Mob4Hire significantly reduces costs and time to market by connecting you with eager, lower priced, crowd sourced testers (a.k.a. "Mobsters") and market focus groups.</p>
		<p>
			<strong class="black">
			<?php echo $this->totalMobsters;?> people with <?php echo $this->totalHandSets;?>  different mobile handsets on <?php echo $this->totalNetworks;?>  carriers in <?php echo $this->totalCountries;?>  countries are eagerly waiting to help you with your mobile development.
			</strong>
		</p>
    </div>
    <div id="partnerpage-column-middle">
    	<img src="/images/icon-m4h-user.gif" class="forum-nokia">
		<h2 class="forum-nokia">Why do developers love Mob4Hire?</h2>
		<div class="clear">&nbsp;</div>
        <ul>
			<li>Save up to 90% on testing costs using <span class="mobblack">MOB</span><span class="mobred">TEST</span></li>
			<li>Conduct user experience usability testing with <span class="mobblack">MOB</span><span class="mobred">EXPERIENCE</span></li>
			<li>Get to market faster</li>
			<li>Maximize handset  &amp; network coverage</li>
			<li>Find and fix lots of bugs</li>
			<li>Make better mobile apps and websites</li>
			<li>Make more money!</li>
		</ul>
		<p><strong class="black"><?php echo $this->totalDevelopers;?> other mobile developers just like you have registered at Mob4Hire from <?php echo $this->developerCountries;?> countries.</strong></p>
    </div>
    <div id="partnerpage-column-right">
    	<img src="/images/icon-checkmark.gif" class="forum-nokia">
		<h2 class="forum-nokia">Registration is free, private, and secure.</h2>
		<div class="clear">&nbsp;</div>
        <p>Forum Nokia supports mobile app developers worldwide with a huge technical library, free learning resources and tools to help you design, develop and distribute apps.</p>
		<p>Join Mob4Hire today!</p>
		<p><a href="/user/register"><img src="/images/buttons/register_red.gif" alt="Register Today!"></a></p>	
    </div>  
  </div>



  <div class="clear">&nbsp;</div>
</div>