
<div id="container_column_middle_wide"> 
	<div class="red-top"></div>
	<div class="red-mid">          	
  <h1>Partners</h1>
  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://developer.motorola.com" target="_blank">
        <img src="/images/logos/motodev.gif" alt="The Motorola developer network" title="The Motorola developer network" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://developer.motorola.com" target="_blank">MOTOROLA DEVELOPER</a></h3>
      <p>
      The mobile Internet. Personal experiences. These are the keys to mobile communications today and into the future. Motorola is bringing together quality silicon solutions, innovative design and robust software platforms to create the devices that will drive these innovations. For developers, Motorola's focus on high-impact, open platforms means increased return on investment, with streamlined development processes enabling you to deliver competitive mobile experiences quickly and easily. We're a fast track partner in MOTODEV, which is Motorola's Developer Network, and they're rocking out on Android. 
      <br/><a href="http://developer.motorola.com" target="_blank">Find Out More</a>
      </p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.forum.nokia.com/" target="_blank">
        <img src="/images/logos/nokia.gif" alt="Forum Nokia" title="Forum Nokia - Your idea. Our tools" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.forum.nokia.com/" target="_blank">FORUM NOKIA</a></h3>
      <p>
        Forum Nokia supports end-to end solutions that make it easy for developers to go from first concept to publishing apps on Nokia's mobile devices. Resources are organized according to three main categories: Design, Develop and Distribute. Design covers both UI design and also application process or concept. Develop brings a renewed focus on 3 key development paths, Qt, Web and Java - simplifying the development choice. At the same time, Symbian C++ and other frameworks continue to play a vital role, and are fully supported. Distribute outlines the revenue and publishing opportunities offered by the Ovi store.
        <br/><a href="http://www.forum.nokia.com/"  target="_blank">Find Out More</a>
		<br/><a href="/partners/nokia">Info about Mob4Hire for Nokia Forum Users</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>
  
  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://na.blackberry.com/eng/partners/" target="_blank">
        <img src="/images/logos/blackberry_alliance.gif" alt="Rim - the Blackberry Alliance Program" title="Rim - the Blackberry Alliance Program" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://na.blackberry.com/eng/partners/" target="_blank">RIM - THE BLACKBERRY ALLIANCE PROGRAM</a></h3>
      <p>
        With the BlackBerry Alliance Program your company can gain access to industry-leading resources in development, marketing, sales and training that help you expand your business opportunities and realize your full potential. There are four program tiers in the BlackBerry Alliance Program that entitle members to various resource and benefits based on those members meeting the program eligibility requirements. 
        <br/><a href="http://na.blackberry.com/eng/partners/" target="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>

  
  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.wavefrontac.com" target="_blank">
        <img src="/images/logos/wavefront.gif" alt="Accelerating commercialization of new wireless products and services, Wavefront is the focal point for wireless market traction" title="Accelerating commercialization of new wireless products and services, Wavefront is the focal point for wireless market traction" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.wavefrontac.com" target="_blank">WAVEFRONT</a></h3>
      <p>
       Wavefront is the commercialization centre accelerating the growth of Canada's wireless and new media companies. Wavefront improves speed-to-market and delivery of mobile applications and devices by providing emerging companies with a suite of WaveGuide training, mobile industry advisory services, incubation office space and testing resources.  Wavefront also helps to facilitate commercial engagement between the mobile ecosystem (mobile operators, platform providers, device manufacturers), enterprise companies and the innovative developers in Canada and Pacific Northwest.
        <br/><a href="http://www.wavefrontac.com" target="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>
  
  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.flurry.com/index.html?gclid=CKKNgvjQsaACFRkcawodsCFQUA" target="_blank">
        <img src="/images/logos/flurry.jpg" alt="Flurry Analytics" title="Flurry Analytics" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.flurry.com/index.html?gclid=CKKNgvjQsaACFRkcawodsCFQUA" target="_blank">FLURRY ANALYTICS</a></h3>
      <p>
        Flurry offers cutting-edge analytics, deployment and monetization tools for mobile application developers. Its services platform is offered free to application developers allowing them to better save money, increase revenues and improve their products. Flurry's platform is built by developers for developers, based on its pioneering experience as one the first developers to build, deploy and market direct-to-consumer applications. Flurry is venture-backed and is based in San Francisco. 
        <br/><a href="http://www.flurry.com/index.html?gclid=CKKNgvjQsaACFRkcawodsCFQUA" target="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>
  
  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.o2litmus.com" target="_blank">
        <img src="/images/logos/o2litmus.gif" alt="O2LITMUS" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.o2litmus.com" target="_blank">O2 LITMUS</a></h3>
      <p>O2 Litmus is a new mobile apps site that brings customers and developers together to create better apps. As a customer you'll get access to test new and exciting apps before anyone else. You can chat directly to developers, letting them know exactly what you want as they develop their apps. You can even get paid for testing via the premium testing service. It's not just about testing though, there are finished apps you can download in the store (many of which are free). You can also share your thoughts and ideas with other community members in the forums. As a developer you'll have direct access to O2 customers for the first time, getting feedback on your apps from a knowledgeable audience. You'll be able to test and sell your apps across multiple platforms and devices within minutes. You can also access great tools and services like network APIs, testing and accreditation and business support. The best apps endorsed by the O2 Litmus community could be marketed to over 260m customers in the O2 Telefonica group.
        <br/><a href="http://www.o2litmus.com" target="_blank">Find Out More</a>
      </p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://developer.navteq.com/site/global/20_industryreference/mob4hire/p_mob4hire.jsp"  target="_blank">
        <img src="/images/logos/navteq.gif" alt="Navteq - The Leading Map Provider" title="Navteq - The Leading Map Provider" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.nn4d.com/site/global/market/affiliate_sites/mob4hire/p_mob4hire.jsp" target="_blank">NAVTEQ</a></h3>
      <p>
NAVTEQ is the leading global provider of digital map, traffic and location data that enables navigation and location-based platforms around the world. NAVTEQ supplies comprehensive digital map information to power automotive navigation systems, portable and wireless devices, Internet-based mapping applications and government and business solutions. The Chicago-based company was founded in 1985 and has approximately 4,000 employees located in 190 offices and in 39 countries. <a href="/partners/navteq">NAVTEQ NETWORK FOR DEVELOPERS&#0153; (NN4D)</a> technical Resources provide you with the latest documentation, tools, and training to enable successful location-aware development. You will find technical articles, developer guides, webinars, and training videos created by NAVTEQ subject-matter experts and members of the NN4D community on Mobile development topics.
        <br/><a href="http://www.nn4d.com/site/global/market/affiliate_sites/mob4hire/p_mob4hire.jsp" target="_blank">Find Out More</a>
		<br/><a href="/partners/navteq">Info on NAVTEQ NETWORK FOR DEVELOPERS&#0153; (NN4D)</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>

  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.infostretch.com/" target="_blank">
        <img src="/images/logos/info_stretch.jpg" alt="Infostretch" title="Navteq - Infostretch" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.infostretch.com/" target="_blank">INFOSTRETCH</a></h3>
      <p>
InfoStretch is a leader in outsourced Mobile Application Development Testing and Certification Services. InfoStretch also specializes in Enterprise application Testing, QA and Test Automation Services with specific emphasis on Enteprise 2.0 and Cloud Infrastrufcutre based SaaS applications. InfoStretch delivers high-quality, reliable and cost effective services to clients throughout the US, Europe and Asia-Pacific. The company specializes in delivering outsourced business solutions that command deep technology knowledge, process proficiency and domain expertise. For more information, visit www.infostretch.com.  
        <br/><a href="http://www.infostretch.com/" taget="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>

  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://innovator.samsungmobile.com/" target="_blank">
        <img src="/images/logos/samsung_mobile.jpg" alt="Samsung- Mobile Innovator" title="Samsung- Mobile Innovator" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://innovator.samsungmobile.com/" target="_blank">SAMSUNG - MOBILE INNOVATOR</a></h3>
      <p>
Samsung Mobile Innovator is a cross platform program (Currently supporting Java, Symbian, and Windows Mobile based devices) developed by Samsung to establish a relationship with software developers and other contributors to the mobile ecosystem in developing, testing, and distributing mobile applications and ideas. The relationships are established and maintained through a website, forums, a blog and social networking sites. We're a proud partner!
        <br/><a href="http://innovator.samsungmobile.com/" target="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>

  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.perfectomobile.com/" target="_blank">
        <img src="/images/logos/perfecto_mobile.jpg" alt="Perfecto Mobile" title="Perfecto Mobile" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.perfectomobile.com/" target="_blank">PERFECTO MOBILE</a></h3>
      <p>
Perfecto Mobile is global leading provider of remote access and automated testing solutions for mobile devices. The Perfecto Mobile's Handset Cloud service enables developers and testers located anywhere in the world to access, via the Internet, a comprehensive range of the latest mobile handsets. Users can use the Perfecto Mobile handsets to develop, test, deploy and monitor their mobile applications and services. Perfecto Mobile also provides dedicated Private Handset Cloud systems for mobile operators, handset manufacturers, and independent software vendors. The Perfecto Mobile system provides a secure, online environment where users can access pre-and post-launch handsets for development, testing, and post-deployment service monitoring.
        <br/><a href="http://www.perfectomobile.com/portal/cms/mob.html?key=MO4587KTYDW" target="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div>

  <div class="middle_row_partner clearfix">
    <div class="partner_logo">
      <a href="http://www.researchandmarkets.com/" target="_blank">
        <img src="/images/logos/research-and-markets-200x47.jpg" alt="Research and Markets" title="Research and Markets" />
      </a>
    </div>
    <div class="description">
      <h3><a href="http://www.researchandmarkets.com/" target="_blank">Research and Markets</a></h3>
      <p>
We are the leading source for international market research and market data. We hold &lsquo;000&rsquo;s of major research publications from most of the leading publishers, consultants and analysts. We provide you with the latest data on international and regional markets, key industries, the top companies, new products and the latest trends. We are a &lsquo;One-Stop-Shop&rsquo; for market research reports and industry newsletters from specialist research firms and niche market analysts. Browse our industry categories, or search by a specific keyword or phrase. When you have found your chosen publication, click on its title to see more information including abstracts, executive summaries, samples and indexes/tables of contents.

        <br/><a href="http://www.researchandmarkets.com/" target="_blank">Find Out More</a>
      </p>
    </div>
      <div class="clear">&nbsp;</div>
  </div></div>
<div class="red-bottom"></div>
  <div class="clear">&nbsp;</div>
</div>

