
<div id="container_column_middle">            	
	<div class="middle_row_partner clearfix">
		<div id="perfecto-banner">
		
    	</div>
	</div>



  <div class="middle_row_partner clearfix">
      <p>Welcome to the Mob4Hire site! We are very glad that you came to visit us from our new partner - Perfecto Mobile. We have decided to partner together to make it easier than ever for mobile developers to test mobile applications around the world. For more information see our mutual press release at www.mob4hire.com While both companies are dedicated to helping mobile developers test their application, we do it in different and complimentary ways. The choice is up to you.</p>
	  <p><a href="/user/register">Sign Up today!</a></p>
  </div>
  

  <div class="middle_row_partner clearfix">

	<div id="partnerpage-column-left">
    	<h2>Why Join Mob4Hire?</h2>
        <p>We provide mobile application developers with access to quality mobile testers located throughout the world. Mob4Hire has thousands of testers with handsets in our database that are located in over 100 countries on over 300 networks.</p>
        <p>We have the most comprehensive database of testers, professional testing and porting houses and handsets in the world! We believe that we provide a great opportunity to not only test for bugs and technical compatibility, but also to collect key marketing data from independent testers in a truly mobile environment. We also offer you to profit from Mob4Hire by joining our team of professional testers (MobPro). All you have to do is bid on the projects that you are interested in and you can get work doing projects for other developers.</p>
    </div>
    <div id="partnerpage-column-middle">
    	<h2>How We Work</h2>
        <p>Developers use the Mob4Hire website to post their test application while specifying the handset and network. A test plan is generated and sent to the tester along with software. The tester is responsible for the quality and timeliness of the work and the developer is responsible for a quality test plan. A rating system quickly builds reputation amongst the Mob4Hire community.</p>
        <p>Testers bid for the work, but the developer has ultimate control for choosing the right tester for the job at hand. Mob4Hire charges a brokerage fee, payments are made through Pay Pal and confidentiality is guaranteed.</p>
		<p><a href="/the-mob/developers/index">For more information, please visit our developer page.</a></p>
    </div>
    <div id="partnerpage-column-right">
    	<h2>Special Offer for Perfecto Mobile Users</h2>
        <p>We are pleased to offer all Perfecto Mobile customers our premium Professional Services Assistance at no additional cost. One of our knowledgeable staff will start you off on the right foot with Mob4Hire, and help you optimize your results from the Mob4Hire user community. Our experience shows us that a quality test plan will lead to greater success with our testing community. There is no cost to signing up with Mob4Hire and no obligation to accept any bids that you may receive.</p>
		<p><a target="_blank" href="http://www.perfectomobile.com/portal/cms/mob.html">Click here to see the Mob4hire landing page at Perfecto Mobile.</a></p>
    </div>  
  </div>



  <div class="clear">&nbsp;</div>
</div>