
<?php if($this->notifications && count($this->notifications) > 0): ?>

<ul class="notifications_listing">
<?php foreach ($this->notifications as $c): ?>
 <!--	<li onclick="removeNotification(<?php  echo $c['idnotification']; ?>)"><?php  echo $c['message']; ?></li> -->
	<li><?php  echo $c['message']; ?></li>
<?php endforeach; ?>
</ul>
<?php endif; ?> 



