<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
<h1>MOB<span class="mobred">SURVEY</span></h1>
<h2>The easiest way to ask mobile enthusiasts around the world just about anything.</h2>  
<p>The Mob4Hire Platform serves as an excellent vehicle to conduct market research with early-adopter, mobile enthusiasts that can be uniquely identified by the handset they own and the network they are on. With our global team of testers (Mobsters), we can provide your firm with access to thousands of individual users from all corners of the planet.</p>
<p>MOB<span class="mobred">SURVEY</span> can also be used to survey mobile developers in the Mob4Hire community. </p>
<p>With MOB<span class="mobred">SURVEY</span>, Market Researchers and Product Managers use the Mob4Hire website to conduct their research needs and can even specify the handsets, countries and networks that will be included (amongst other demographics questions). A research test script can also be uploaded to give instructions to the user before they complete the survey; it can include details on: downloading, installing and testing of an app; or, having the user surf to a mobile website with their handset browser; or, reviewing ad campaign screen shots / banner ads; or, walking around a downtown city block for awhile; or, just ask questions about users' mobile lifestyle, and more.  Mobsters who meet the criteria are invited to participate in the mobile survey.</p>
<p>You pay Mobsters for this work, and the amount that is paid depends on the complexity of Test Script, the length of the survey, the amount of time the user needs to spend on the whole thing, the amount of data that will be transferred, as well as the target demographic (researching Smartphone users in New York will cost you more than researching Featurephone users in Kenya). Results are guaranteed. </p>
<p><a href="managed"> Contact us</a>&nbsp;--  Managed Services will be happy to answer any questions you have.</p>

<p>Once the survey is wrapped-up, you'll get an Excel spreadsheet of the data. If you need help with professional analysis or design, we're happy to quote on that, as well.</p>
<h2>Some survey ideas and teasers</h2>
<p>Hopefully you "get" what MOB<span class="mobred">SURVEY</span> is all about.</p>
<ul>
<li><b>Unrestricted global access</b> to mobile users without network operators getting in the way</li>
<li><b>Integrated survey tools</b> that co-ordinate with the Mob4Hire platform</li>
<li><b>Cost effective</b> manner to gather in-market usage, attitude and behavior data</li>
<li><b>Extremely fast</b> response and data collection</li>
</ul>
	<p>Here's some ideas for the types of surveys you can run. We can only imagine that we're just scratching the surface ... we look forward to the creative projects you'll run using Mob4Hire!</p>
	<p><b>Mob<span class="mobred">Usage and Conversion</span></b> - You've solved the first big problem of distributing mobile apps; you've got hundred's of thousands of users downloading your Fremium app. But, the Conversion to the paid version of your app are much lower than your expectations. Or, maybe people use your app a lot in the first week, but then usage dies off. Why? What can you do to fix your software? What's the compelling feature that will make your software "sticky"?</p>
	<p><b>Branding</b> -  Brand equity research that determines what motivates Mobsters to choose your product. What is your brand positioning? Does it resonate with your target user? Does what your brand stand for REALLY make a difference to your end-user?</p>
	<p><b>A/B testing of ad campaigns</b> - If you're looking for immediate feedback and measurement on ad campaigns, A/B testing with a couple hundred Mobsters will bring you vital feedback BEFORE you launch your ad (and perhaps give YOUR clients' more comfort when they are spending advertising dollars in the wild, west mobile advertising market.</p>
	<p><b>Mobile app functional and usability testing</b> - Nope ... you don't need MOB<span class="mobred">SURVEY</span> for this. We've already got a pre-defined standardized survey for this purpose. Check out  Check out <a href="mobile-app-research"><?php echo $this->formatProduct('MOBEXPERIENCE')?></a>. Now, that being said, if your firm has great market research and product management skills and experience, you may want to do your own thing. It's your choice! 'Nuff said.</p>
	
	<p><b>Competitive Research</b> - How do you compare against your competitors? When looking to win customers, what features do they LOVE about your competitors products where you can beat them? Are customers EXTREMELY loyal, or are their some Achilles Heel's you can exploit? (in both your product development and your marketing)</p>
	<p><b>Blank slate research</b> - So, you've got a great idea for The Next Big Thing? Before you put a single cent into mobile development (an app, a mobile website, an ad campign), why don't you bounce the ideas of some of your target users in the market you want to be successful in. An gram of knowledge can prevent a kilogram of pain later on! (for those still thinking in imperial measurements: An ounce of knowledge can prevent a pound of pain later on!")</p>
	<p><b>Mystery Shopping</b>&nbsp;... Handset manufacturers and Network Operators will find this invaluable to ensure users are getting a consistent and excellent experience across stores in a region, or even stores that are in different countries.</p>
	<p><b>Integrated web / mobile / traditional ad campaigns</b> - The importance of integrated marketing campaigns between web, mobile and traditional advertising channels is more important than ever. Are your ad messages consistent across the dozens (and hundreds) of properties and channels you run. Did users even see that billboard when they were driving down the road ... and did it remind them of the app they just downloaded?</p>
	<p><b>Machine-to-Machine (M2M)</b> - With strict NDA's in place, Mobsters around the world can give you immediate feedback on in-market devices. Need to test 50 units of your new Netbook in 20 countries on 40 different network operators? No problem! Of course, you can get your devices back.</p>

          	</div>
			<div class="red-bottom-sm" style="margin-left: 0px;"></div>
            <br class="clear" />
