<div id="container_column_middle"> 
		<div class="red-top-sm"></div>
		<div class="red-mid">
    <h1><?php echo $this->formatProduct('MOBSIMTEST')?></span></h1>
<h2>How Well Do Your SIMs Roam?</h2>
<img src="/images/dont_SIMTEST_example.gif" align="right" style="padding:6px 2px 6px 10px;">
<p>The expense of ensuring your SIMs work in all markets is staggering! Our network of Mobsters can easily do any SIM testing required, on the domestic or international market carriers/network operators you want.</p>

<p>With ever changing technologies, roaming rates, partnership agreements, and localized handset/smartphone experiences, most companies creating or configuring SIMs run expensive year-round test programs (or fail to do adequate tests!) to ensure their SIMs allow their customers to roam internationally, without disruption of voice and data service, and are charged appropriately through the local carrier. Since many of the tests aren't deeply technical, Mobsters can easily do them in the country and time of your choice. SIM manufacturers, Carriers/network operators and SIM wholesalers can easily test in-market  and find out any issues at a fraction of the traditional cost.</p>

	<p>Contact our <a href="managed">Managed Services team</a> for more details or a quote -- From a single project to a comprehensive program to fulfill your SIM testing requirements on an annual basis.</p>
<h3>What is a SIM?</h3>
<p>Ok, if you have to ask that question, you're looking at the wrong type of test for you! But, for those that are curious ... it stands for Subsciber Indentity Module.</p>
<p>Roaming SIMs can be defined as mobile phone SIM cards that operate on more than one network within their home country. They currently have two main applications, least cost call routing for roaming mobile calls and machine to machine communications.</p>
<p>Using a normal network locked SIM, travellers for instance, can use their own mobile phone (if it's enabled for roaming), in any country that has a roaming agreement with their home network. This manifests itself to most users when they receive a text message welcoming the traveller to a local network. However, once they return home their SIM will only work on the network with which they have a contract.</p>
<p>A roaming SIM however, also known as a global roaming SIM, will work with whichever network it can detect, at home or abroad.</p>
<p><strong>As long as the SIMs have been tested properly!</strong></p>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />
