<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
<h1><span><?php echo $this->formatProduct('MOBSMSTEST')?></span></h1>
<h2>Do Your SMS Messages Get There?</h2>
<img src="/images/dont_SMSTEST_example.gif" align="right" style="padding:6px 2px 6px 10px;">
<p>When you press "Send" after writing a text message, you'll get "SMS Text Message Sent." Notice that you never ever get "SMS Text Message Delivered." That's because no one knows for sure!</p>
<p>As easy as it is to send a text message, the systems, technical and political differences between carriers and countries around the world means that SMS messages don't always get there immediately. Sometimes, they don't even show up at all!</p>
<p>Our <a href="managed">Managed Services team</a> can help you understand the process and prepare a quote for either a single project, or an ongoing retainer to fulfill your SMS testing requirements on an ongoing basis. </p>
<p>There are glitches in the SMS mechanism that tend to occur in a number of cases. For example, when a customer on one network sends a text message to a customer on another network, that text message may be handed off to a different gateway provider. Not all the gateway providers update their information at the same time and so sometimes a message can be slowed or not even delivered.</p>
<p>SMS problems also happen when a customer has ported their number to another carrier. The FCC requires that the number be ported within a couple of hours so that the customer's voice calls are directed to the appropriate carrier. However, on the text side, there isn't the same requirement. That means the customer that recently ported their number may not receive text messages promptly or sometimes at all.</p>
 <blockquote>
	<div class="quote-top"></div>
	<div class="quote">A survey of attendees at Mobile World Congress and CTIA's spring show in Las Vegas found that 82 percent of respondents from 75 different countries who had sent an SMS or MMS message in the past year said their message did not reach an intended recipient. Further, one in 100 messages takes longer than a minute to arrive for almost all the Tier 1 carriers in the United States ... it gets way worse in other countries. Delivery rates worsen again when it comes to MMS messages. Between carriers, up to one in every 150 MMS messages were lost in February, 2010</div>
    <div class="quote-bottom"></div>
   	<cite class="author">www.telcordia.com</cite>
</blockquote>
<h2>Why do SMS problems happen?</h2>

<ul>
  <li>SMS is a description of a service provided by wireless carriers, rather than a description of a method of delivery. As a consequence, methods of delivery differ and interoperability difficulties prevail. The SMS glitches are primarily a result of there being no standards or best practices put in place or enforced.</li>
  <li>Fragmentation of carriers. Over and above inconsistent transports, carriers do not typically allow public access to their networks. Many SMS developers opt to bypass the carrier and implement their own solutions. Alternatively, developers opt to ally themselves with an SMS broker and incur additional fees for service. SMS brokers also experience SMS deliverability issues.</li>
  <li>Unsatisfactory interoperability among carriers. Difficulties are often encountered in sending SMS messages among carriers because of implementation differences. Payment models also differ significantly among carriers. This difference is especially stark when you compare carriers in North America to carriers in Europe, where only the sender is charged for each SMS message. </li>
  <li>Different interpretation by network operators. Since your text messages are exposed to the carrier, some implement &quot;screening&quot; processes where certain URLs are not allowed, nor text key phrases; especially in countries where SMS spam is becoming a problem.</li>
  <li>Differing capabilities of devices. Some can receive only 140 characters per message. Others support concatenations of SMS messages. Some can download binary data, others can't. Developers must maintain extensive information about each carrier and every device.</li>
  </ul>

 <blockquote>
	<div class="quote-top"></div>
	<div class="quote">If your business depends on immediate and accurate deliver of SMS messages, you need to continuously test your messages in your target markets, even if you are using an SMS broker.</div>
    <div class="quote-bottom-no-cite"></div>
</blockquote>
<p> With changing technologies, roaming rates, partnership agreements, and localized handset/smartphone experiences, most companies relying on SMS fail to do adequate testing.</p>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />