<div id="container_column_middle">            	
	<div class="red-top-sm"></div>
	<div class="red-mid">
            	<h1>See How It Works</h1>
 
  <h2><strong>Mob4Hire manages and brokers crowd-sourced relationships to make everything mobile better.</strong></h2> <p>
    <object width="302" height="252" align="right" style="padding:6px 2px 6px 10px;">
      <param name="movie" value="http://www.youtube.com/v/nKj0PmGUm9I&hl=en_US&fs=1&rel=0&color1=0x5d1719&color2=0xcd311b&border=1"></param>
      <param name="allowFullScreen" value="true"></param>
      <param name="allowscriptaccess" value="always"></param>
      <param name="wmode" value="transparent" />
      <embed src="http://www.youtube.com/v/nKj0PmGUm9I&hl=en_US&fs=1&rel=0&color1=0x5d1719&color2=0xcd311b&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="302" height="252" wmode="transparent"></embed>
    </object></p>
    <p>We provide mobile application developers with access to quality mobile testers located throughout the world. Mob4Hire significantly reduces mobile application testing costs and reduces time-to-market by connecting developers with crowd sourced testers and focus groups.</p>
    <p>The Mob4hire testers (a.k.a. "Mobsters") are grouped into two categories: The Mob is comprised of tech savvy individuals that own their own subscribed handset and are willing and able to perform tests; and, MobPro comprised of professional testing houses that use Mob4Hire as a marketing arm to help reach mobile developers from around the world.</p>
    <p>Mobile developers and market researchers post projects that the Mobsters can work on, and get paid in return for their time and expertise.</p>
    <p>Mob4Hire includes a peer rating system which includes work quality as well as work ethic, helping to ensure the best quality relationships in the crowd sourced community.</p>
    <p><strong>The video above does a great job in explaining how Mob4Hire works</strong> ... but, really, there's nothing like registering and participating in the community!</p>

<h2>Mob4Hire escrow fund ensures honest relationships.</h2>
<p>Note that a retainer for projects must be submitted to Mob4Hire before a project starts. We hold the money in escrow until the project has run its course; and the Mobsters have all been rated. Then, we invoice the rest and release the money to the Mobsters.</p>
<p>Because we hold the money in escrow, in the unlikely event of a disagreement, a transaction can be arbitrated with Mob4Hire. In other words, <strong> If a Mobster doesn't do the work required, they shouldn't get paid. Likewise, mobile developers can't skip town after they get their results and stiff the Mobsters. Trust in the Mob!</strong> Trust in the Mob!</p>
    <p style="text-align:center;">&nbsp;</p>

	</div>
		</div>
		<div class="red-bottom-sm"></div>
            <br class="clear" />
			