
<div id="container_column_middle">            	
	<div class="red-top-sm"></div>
	<div class="red-mid">
  <h1>MOB<span class="mobred">STAR</span> Certified</h1>
	<h2>Avoid &quot;The Curse Of The One Star&quot;</h2>
	<img src="/images/mobstar-rating-star-logo.gif" align="right" style="padding:6px 2px 6px 10px;" / width="120" height="120">
  <p>On average, people who download mobile apps regularly like to see a 4 Star rating in user reviews on app stores before they'll even consider downloading or purchasing. Conversely, one star ratings for your app will kill future revenue growth; in fact, only 3% of mobile app users say they'll download a 1 star app!. Our CEO, Stephen King     , penned an article about "The Curse of the One Star" for  <a href="http://www.mrweb.com/mrt/mob09nov.htm" target="_blank">MRWEB.com</a>.</p>
        <p>Just so we're on the same page, let's define a "User Review." Typically, in an app store, a user review is "How many stars would you rate this app out of a total of 5 stars?" followed by a twitter-length 140 character (or so) text box for people to enter comments. Many of which are very good. Some are nasty. All of them are important to potential customers who are reading the reviews while deciding whether they should download/purchase your app.</p>
<img src="/images/dont_do_get_sticky_example.gif" align="right" style="padding:6px 2px 6px 10px;"><p>If you get it right, your app will become "Sticky" ... that is, an app that is used frequently and persistently. An app that becomes a "must-have" app and is highly recommended. Our friends at  <a href="http://www.poynt.com" target="_blank">Poynt</a> have an incredibly sticky app on the Blackberry platform (see picture).</p>
        <h2>MOB<span class="mobred">STAR</span> Certified</h2>
  <p>Having the MOB<span class="mobred">STAR</span> Certified logo on a mobile product or service means that it is a high-quality premium product with exceptional growth potential. A MOB<span class="mobred">STAR</span> Certified rating reflects the users' overall loyalty toward the how a business's app or web mobile experience. Specifically, the MOB<span class="mobred">STAR</span> Certified rating indicates how much people will recommend it, what they will say about it ... all of which leads to more downloads from repeat business / word-of-mouth through viral and social media.</p>
        <p>Recent statistics from the Android marketplace validate this research. According to stats available at  <a href="http://www.androlib.com" target="_blank">http://www.androlib.com</a>, 48% of the 150,000 Android apps have been downloaded less than 50 times, and not surprisingly, 40% of all apps are rated 1, 2 or 3 stars. There is a direct correlation between star ratings and its revenue performance. This 5-star importance sometimes leads to mobile publishers 'gaming' the system by posting anonymous 5-star ratings and reviews.</p>
        
        <p>In our opinion, App store rating systems are becoming unreliable due to the fact that they aren't controlled and contain voting bias and thus, don't necessarily reflect the true quality of the software.</p>
        
        <p>A MOB<span class="mobred">STAR</span> Certified logo demonstrates to the public that a mobile app has gone through a rigorous usability testing process in other words, real people who live a mobile lifestyle have helped create a four or five star app with their feedback.</p>
        
	
  <p>
  <br class="clear" />
  </p>
	</div></div>
<div class="red-bottom-sm"></div>	
    
    