<?php $this->headMeta()->appendName('ROBOTS','NOINDEX, NOFOLLOW'); // TODO: Make sure we were referred here by the success page ?>
<div id="container_column_middle">
    <h1>Mob4Hire 2010 Report</h1>
	<h2>Thank You For Purchasing the Mob4Hire Summer 2010 Survey: “The Impact of Mobile User Experience on Network Operator Customer Loyalty.”</h2>
	<div class="inner-column-right">
		<p><img src="/images/impact-of-mobile-survey-cover.gif"/></p>
		<p><a href="/services/downloadgmr"><img src="/images/buttons/download_red.gif"/></a></p>
	</div>
	<p>On behalf of everyone here at Mob4Hire, as well as Business over Broadway, thanks for being our customer.</p>	
	<p>Your business and opinion is important to us. If you have any thoughts about our company, products or services, I’d love to hear them. Email me at: stephen@mob4hire.com.</p>
	<p>Sincerely,</p>
	<p>Stephen King, CEO</p>
	
	<h3>Please follow these instructions to begin reading the survey.</h3>
	<p>Download the Survey results by clicking on big red download button<p>
	<p>After you have downloaded the survey, please enter the following password to the pdf document:</p>
	<p style="text-align:center; font-size:2.0em; font-weight:bold; ">mob</p>
	<p>Please note that this is your private password. Do not share or distribute the survey document to unlicensed individuals. After all, it is how we make our living.</p>
</div>
<br class="clear" />
