<div id="container_column_middle">
    <h1>Mob4Hire 2010 Report</h1>
	<h2>Sorry, for some reason the PayPal transaction was not completed.</h2>
	<h3>Please try again. If you continue to have difficulty, please contact our technical support team: support@mob4hire.com.</h3>
</div>
<br class="clear" />
