<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
    <h1>What Is MOB<span class="mobred">4HIRE</span>?</h1>

<h2>We make mobile better.</h2>
<p>Mob4Hire is an online community of mobile device users paid to help application developers, advertisers, and content publishers with research, develop and pre-test anything mobile.  Now, application developers, advertisers and content publishers can affordably harvest a global network of mobility users to help research, develop and pre-test apps and consumer facing brands. </p>
<p>Mob4Hire provides mobile functionality, usability and acceptance feedback so you "Don't Crash", "Don't Suck", and "Get Sticky". You want to receive positive reviews, create persistent/frequent use of the app and, ultimately, commercial success.</p>
    <h2>"The Curse of the One Star"</h2>
    
    <p>How do you compete in the crowded mobile app space?  You need 4 Stars!  The Mob4Hire community helps you get there with user testing as an integral part of the development cycle.  Mob4Hire's community gets paid for their efforts AND they're helping to make everything mobile even better.   </p>
   
<p>Mob4Hire was formed to help solve the daunting problem that mobile developers are faced with -- the variety of mobile handsets, networks and platforms that exist today. Our international network of testers can speed up the mobile development process at all stages of development in a cost-effective manner:
</p>

<blockquote>
	<div class="quote-top"></div>
	<div class="quote">Want to make sure your app works in every country on the planet?</div>
    <div class="quote-bottom"></div>
   	<cite class="author">Peggy Anne Salz, <span style="font-weight:normal;"><a href="http://www.MSearchGroove.com" target="_blank" >MSearchGroove.com</a></span></cite>
</blockquote>


<h2>MOB<span class="mobred">4HIRE</span> has many crowd-sourced products that help make mobile better.</h2>
<a href="managed"><img src="/images/buttons/button-get-a-quote.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a>
  
<h3>Mobile Usability Testing and Certification</h3>
<ol>
<li><a href="mobile-app-research">MOB<strong><span class="mobred">EXPERIENCE</span></strong></a>     Mobile User Experience Usability Testing</li>
<li><a href="star">MOB<strong><span class="mobred">STAR</span></strong></a> Certified App Quality</li>
</ol>
      
      
<h3>Mobile Functional Testing</h3>
<ol start="3">
<li><a href="mobile-app-testing">MOB<strong><span class="mobred">TEST</span></strong></a>     Real Mobile App Testing</li>
<li><a href="mobsimtest">MOB<strong><span class="mobred">SIMTEST</span></strong></a>    How Well Do Your SIMs Roam?</li>
<li><a href="smstest">MOB<strong><span class="mobred">SMSTEST</span></strong></a>     Do Your SMS Messages Get There?</li>
</ol>      
          
       
<h3>Mobile Market Research</h3>
<ol start="6">
<li><a href="market-research">MOB<strong><span class="mobred">SURVEY</span></strong></a>     Mobile Surveys. Global Panels.</li>
</ol>              

<br>
<br>

        <p>These unique, fast and cost-effective services allow <a href="/the-mob/developers/developers">mobile app developers, marketers and product managers</a> to not only test for bugs and technical compatibility, but also to collect key marketing and usability data from independent testers in a truly mobile environment.  The results: Applications that work better on the device(s) they are intended for (smartphone, tablet, reader, T.V.), and can reach the market faster, all at a fraction of the cost of traditional testing.</p>
        <p>The <a href="/the-mob/testers">testers (a.k.a. "Mobster")</a> are people from all walks of life and professions who share one common element: they're all tech-savvy and living a mobile lifestyle.  They get paid by mobile developers and researchers ... the results are significantly better than relying on free-source testing communities, email support systems and one-line user reviews in app stores. Mobsters are happy people ... as one mobile phone user said "I make enough money in a month to cover my cell phone bill!"</p>
<p>
    <a href="/the-mob/developer-networks">Large telecom enterprises, handset manufacturer's, and O/S platform vendors</a>  can adopt Mob4Hire's unique architecture to create their own white-labeled user testing community, and add it to their existing developer networks and app stores using APIs; such as our partnership with 
    <a href="http://www.O2Litmus.co.uk">http://www.O2Litmus.co.uk.</a> MAAP (Mob4Hire as a Platform) also allows Telecoms to integrate the MobStar Certified program into their app approval process as a way of ensuring only the best apps reach the end-user (also called an "App User Review Board"). Many network operators can save tremendous internal costs by using the Mob to perform local tasks; for example, our popular MOBSIMTEST product greatly reduces the expense of testing SIMs in many countries and carriers by distributing them to local Mobsters.
    </p>
<p><a href="/the-mob/market-researchers">Brands</a> are facing a significant shift in the way they communicate and engage with their increasingly mobile target consumers. Product Managers and Market Research teams can use Mob4Hire to conceive and market-test ideas and projects for mobile ad campaigns, engagements and mobile extensions of existing product lines. According to 
<a href="http://www.mediapost.com/publications/?fa=Articles.showArticle&amp;art_aid=139313" target="_blank">MediaPost</a>, almost 40% of people are unhappy with branded apps. Nearly 70% agreed that a mobile app that isn't useful or easy to use contributes to a negative perception about a brand. Mob4Hire's usability and market research tools will help to ensure you get to market with a 4 or 5 user star rating.
</p>

<p><a href="services/mobsmstest">SMS integrators, SMS wholesalers</a> and anyone who needs to know that their text messages are making it to the end customer are well served with our MOBSMSTEST product. With real people on the carrier/network operators and in the counties you desire, this is a very valuable and cost effective solution.</p>
<p>Earning the <a href="/services/star">MOBSTAR CERTIFIED</a> logo on a mobile product or service means that it is a high-quality premium product with exceptional growth potential. The MOBSTAR rating reflects users' overall loyalty and mobile experience..</p>

<p>The Mob4hire process works with all handset manufacturers including: Motorola, Samsung, Apple, Nokia, Sony-Ericsson, HTC, LG, RIM(Blackberry), Palm, BenQ-Siemens, Sharp, Audiovox, ZTE and many others; on most GSM and CDMA networks. With Mobsters using the most popular handsets, we also support all the platforms: Apple iOS, Blackberry, Symbian, Android, Windows 7, webOS, Bada, Meego, etc., with over 350 network operators.</p>
<h2>A Note About Crowdsourcing</h2>
                <p>Want to know about crowd-sourcing? We're proud to be part of <a href="http://www.crowdsourcing.org/" target="_blank">http://www.crowdsourcing.org/</a></p>
                <p><span><strong>Crowd-sourcing is the basis of Mob4Hire's community model, just as it is for hundreds of other Web 2.0 businesses. </strong>As Jeff Howe, author of the immensely popular "Crowdsourcing" defines it: "</span>Crowdsourcing is the act of taking a job traditionally performed by a designated agent (usually an employee) and outsourcing it to an undefined, generally large group of people in the form of an open call."</p>
                <p>
                
                    <strong>Mob4Hire is the leader in mobile crowd-sourced solutions worldwide.</strong></p>
                
                          </div>
						  </div>
						  <div class="red-bottom-sm"></div>
                    <br class="clear" />
					
