<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">            	
	<h1>Awards</h1>
	<p>We are not here to try to win awards. Mob4hire is here for our customers.</p>
    <p>However, these groups thought we should be acknowledged. And, hey, it is kinda nice to get recognized for what you do. Thanks!</p>
	
	<div id="award-container">
		<div class="award_item clearfix">
			<div class="award_graphic">
				<a href="http://www.meffys.com/attend/meffys-winners-showcase-dynamic-mobile-media-industry" target="_blank"><img src="/images/awards/Meffys10_winner_rgb_small.gif" alt="Meffys 2010 Top 10 Winner"></a>
			</div>
			<div class="description">
				<h4>MEFFY 2010</h4>
				<p>Mob4Hire has won the Innovative Business Model category for the prestigious 2010 Meffys! As the industry's official benchmark for measuring success and rewarding innovation, the Meffys, now in their seventh year, recognize and honor the most influential mobile media  players from around the world.</p>
			</div>
		</div>
		<div class="award_item clearfix">
			<div class="award_graphic">
				<a href="http://www.branham300.com/index.php"><img src="/images/awards/branham300.gif" alt="Branham 300 Award" /></a>		
			</div>
			<div class="description">
				<h4>BRANHAM 300</h4>
				<p>Mob4Hire named as one of the Top 25 ICT Up and Comers on Branham's annual list of 300 top technology firms in Canada. According to Branham's, the top 25 ICT Up and Comers "... are selected based on creativity and innovation whether in a new technology area or optimizing existing technology in an innovative manner." and, further, "because of the progress they made in a period of time when the margin for error was extremely small." April 2010</p>
			</div>
		</div>	
		<div class="award_item clearfix">	
			<div class="award_graphic">
				<a href="http://www.prweb.com/releases/mob4hire/award/prweb2447154.htm"><img src="/images/awards/redHerring.gif" alt="Red Herring Award" /></a>
			</div>
			<div class="description">		
				<h4>RED HERRING</h4>
				<p>Mob4Hire, leader in real world; crowd sourced, mobile application testing, is recognized by Red Herring as one of the top 100 private technology firms in North America. June 2009</p>
			</div>
		</div>
		<div class="award_item clearfix">
			<div class="award_graphic">
				<a href="http://www.techvibes.com/blog/mob4hire-takes-2nd-place-at-mobile-monday-peer-awards-in-mwc-barcelona"><img src="/images/awards/peer.gif" alt="Peer Awards 2009 Award" /></a>
			</div>
			<div class="description">		 
				<h4>MOBILE MONDAY PEER AWARDS 2009</h4>
				<p>In Barcelona at the Mobile Monday Peer awards in Feburary 2009, we were chosen as one of the top 2 companies worldwide by other mobile developers.</p>
			</div>
		</div>
		<div class="award_item clearfix">  
			<div class="award_graphic">	
				<a href="http://www.mob4hire.com/mobile_innovation_global_award.pdf "><img src="/images/awards/mobInno.gif" alt="Mobile Innovation"></a>
			</div>
			<div class="description">
				<h4>MOBILE INNOVATION 2009</h4>
				<p>At the same show in Spain the GSMA chose us as a finalist in the Top Innovator category</p>
			</div>
		</div>
		<div class="award_item clearfix">
			<div class="award_graphic">
				<a href="http://www.undertheradarblog.com/blog/mob4hire-a-crowdsourcing-company-with-an-excellent-business-plan/"><img src="/images/awards/radar.gif" alt="Under The Radar Award"></a>
			</div>
			<div class="description">
				<h4>UNDER THE RADAR 2008</h4>
				<p>We presented at the Under the Radar conference in November 2008. The audience liked us.</p>
			</div>
		</div>
		<div class="award_item clearfix">
			<div class="award_graphic">
				<a href="http://www.backbonemag.com/Web2/PICK20_Winners_2009.asp"><img src="/images/awards/pick20.gif" alt="Pick 20"></a>
			</div>
			<div class="description">
				<h4>PICK 20</h4>
				<p>Way back in June 2008 Backbone magazine chose us as one of the top 20 Web 2.0 companies in Canada.</p>
			</div>
		</div>
	</div>
</div></div>
<div class="red-bottom-sm"></div>
<br class="clear" />
