            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">			
<h1>The Light Bulb Moment ... The Story Behind Mob4Hire</h1>
<img src="../images/Mob4Hire-logo-with-crowd-and-message.jpg" alt="Mob4Hire Logo" width="244" height="274" hspace="6" vspace="6" align="right">
<p><i>This story originally appeared in Sony Ericsson Developer World in Aug, 2008</i></p> 
<p>Imagine yourself pitching your killer mobile application to the largest carrier in Europe. You are high up in some glass office tower. The room is full of suits, all of them looking expectantly at their handsets as they download your application. There are a few beeps and then...nothing. Blank screens, blank looks, and you staring blankly out the window as you fly back home, wondering what went wrong.</p>
      <p>Mobile application developers have access to enormous markets, but they've also got to prove their product does exactly what they claim. Carriers are anxious to have the best applications available for their customers, but they need them to work on every handset they support. Unfortunately, what an application that works perfectly on a Nokia 6300 in New York likely doesn't work on the same phone in London. The ugly truth is that applications don't work seamlessly across multiple platforms on multiple handsets. Every single scenario needs to be tested and proven successful before a carrier reaches across the table and says "We've got a deal!"</p>
<h2>The Fragmented Mobile Ecosystem</h2>
      <p>There are hundreds of thousands of mobile application developers out there working on their next great thing. 750 carriers operate around the world. Each of them supports dozens or even hundreds of the 25,000 handsets currently on the market everywhere from Bahrain to Beijing to Baltimore. Comprehensive quality assurance testing is key to launching any successful mobile application. The only way to ensure your application will function properly on a specific handset supported on a carrier's network is to physically go within range of their network and try it out.</p>
      <p>Professional testing houses exist, but they are always limited to testing on the networks which serve their physical area. That's great if you want to sell your application to carriers in a specific region, but it leaves the rest of the globe off limits. Who's got the time or resources to travel the world to test their new application? Paul Poutanen didn't, but he sure tried.</p>
<h2>The Light Bulb Moment</h2>
      <p>At great expense he flew his development team to San Francisco, purchased every phone supported by his client's carrier network, subscribed to the phone service, and spent three days in a hotel where they ran their application on every single handset."At the airport on the way home, I see a guy talking on his cell and I realized that if only I knew him, I could have simply stayed home and asked him to test my application on his phone," recalls Poutanen. "It would certainly save all the time and costs for travel, handsets, and paid subscriptions to networks I'd never be using again."</p>
     <p>It's ironic that the mobile industry - free of wires, communicating with satellites, keeping the world in touch - still requires physically moving people around the globe to download some software and push a few buttons to see if it works. That's the reality, and it doesn't make the already complex testing phase any easier. Testing your software is the most onerous part of application development, and the most critical. Your product needs to work flawlessly to be of any value. It's hard enough to test and work out bugs in your own office, but things become infinitely more complicated when trying to incorporate a range of foreign platforms, unique languages and carrier requirements, then multiplying that effort by whatever number of handsets they support. On the flight back home, Paul Poutanen began to consider how crowd-sourcing could be applied to mobile application testing. What if that one person at the San Francisco airport was part of an enormous, informal community of testers? Technically savvy people live everywhere in the world. If they were tapped into a network of application developers who need their service precisely because of where they live, it could be an ideal meeting place for both communities.</p>
      <p>Would developers be interested in having qualified individuals do their testing work for them, at a fraction of the cost of traditional location-based testing? Would savvy early adopters, who already own their handsets and subscribe to their local carrier, be prepared to try out some new software in exchange for some money? The answer is yes. Poutanen launched Mob4Hire, a brokerage house where application developers post their testing requirements online and testers with active handsets in the right geographic area bid on the job.</p>
<h3>Functional and Usability Testing as well as Market Research</h3>
      <p>While there are other testing options available to the mobile developer, Mob4hire is the only crowd-sourced company in this space that provides true mobility testing as well as the ability to conduct market research with the Mob4Hire team of testers. After all, just because an application works well enough to pass carrier certification, doesn't mean it is necessarily a good application. Why not run your application through these mobile early adopters. This is the group that often gives the early thumbs-up or thumbs down to burgeoning applications. While Developers are great at developing, they are not always so successful at testing. Let's face it - tester bias is part of the human condition.</p>
      <p>Testers receive the application wirelessly and the testing instructions are picked up at the Mob4Hire website. They conduct the test and report back with a test report. Mob4Hire is responsible for building and maintaining a large database of testers and maintains quality control through an online rating system. Testers are rated based on their timeliness and quality of their response. Developers are rated on how clearly they outline the job in the bidding process and the quality of their test plan. Tests could be a simple ping test to see if the application is blocked by a carrier, or it could be an extremely complicated test which could take many hours to complete. The bidding process and rating system are built into the Mob4Hire system to ensure quality and fairness. Payments are made through PayPal. If no concerns are raised by the application developer five days after the tester submits his report, the funds are transferred to the tester's account.</p>
<h3>MobPro's</h3>
      <p>A surprise development has been the number of large testing houses interested in using Mob4Hire - both as testers and developers. These companies have their own testers in-house - at a significant cost. When this staff is idle, the company can bid on Mob4Hire testing projects and generate additional income. Interestingly enough, many of the handsets are in the hands of professional testers - a fact that speaks well to the quality of the service and prompted Mob4Hire to launch its MobPro Tester Program.</p>
      <p>Application developers can speed up their development process immediately by registering at www.Mob4Hire.com.</p>
        <p>Your testers are ready and waiting! </p>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />
