<h2>Unfortunately, your bid for project <?php echo $this->projectname; ?> has been rejected by the Developer.</h2>

<?php if (isset($this->comments) && $this->comments != ''): ?>
<p> Additional Comments from the Developer:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>

<p>Please note that you can revise or resubmit a bid by visiting your account page at <a href="<?php echo $this->url ?>/app/">Mob4Hire</a></p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>