<h2><?php echo $this->invitename; ?> has requested to join your Mob4Hire group  <i><?php echo $this->name; ?></i></h2>

<p>You can view all the requests for this group from your Mob4Hire account or by clicking on this <a href="<?php echo $this->url ?>/app/group/manage/<?php echo $this->idgroup; ?>">link</a></p>

<p>Thanks for participating in the Mob4Hire community and look forward to your input</p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email. Do not reply to this email.</p>
