<h2>You have a new bid on your project, '<?php echo $this->projectname; ?>' from <?php echo ($this->username); ?>  of  $<?php echo $this->bidAmount;?></h2>

<p>This tester has a  <?php echo $this->vendor. ' '.$this->model.' on the '.$this->network.' network in '.$this->country.'.';?></p> 

<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments from the Mobster:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>

<p>Click <a href="<?php echo $this->url?>/app/developer/showproject/idproject/<?php echo $this->idproject; ?>">HERE</a> to login to your account and review the bid</p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>

<p>We at Mob4Hire are looking forward to a successful conclusion of your project! Good luck!</p>