<h2>Hello, your test for the  project '<?php echo $this->projectname;?>' is overdue.</h2>

<p>The test was to be completed by <?php echo date("D M j G:i:s",$this->timestamp);?> and is now marked as late. Please submit your test results for this project as soon as possible so the developer can process their results and you can collect your money.</p>

<p>Thank you for working with Mob4Hire; we appreciate your prompt response to this task!</p>
<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>
<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>


