Welcome to the Mob!<br /><br />

This is an automated response to your inquiry. We are assigning a Sales and a Project Manager to your account and will respond directly to you as soon as possible to prepare a quote and get your project started.<br /><br />

Likely, we'll need to collect a bit more information. Our Managed Services team will assess the info you've already sent us, and may email you an additional request with some very specific questions related to your project. Expect this email asap.<br /><br />

Regarding pricing, <span style="color: black; font-weight: bold;">Mob4Hire can save you 65% to 90% off the costs of running your project using alternate methods!</span>. Projects in our system have been averaging around $1,500 to $5,000 U.S.D. while some can get as high as $25K, but it depends completely on the type of project, the scope, the type / range of handsets & carriers, the number of Mobile Users (a.k.a. "Mobsters") and level of expertise required and geographic distribution.<br />You can pay per project or, if you wish to work with Mob4Hire as an ongoing vendor or for a long-term project, we can set up a monthly retainer.<br /><br /> 

We'll need 50% of the project fees upfront before we launch the project. <span style="color: black; font-weight: bold;">We ensure high quality results by holding money in escrow to be released to each Mobster when they satisfactorily complete the project</span>.<br /><br />

We sincerely appreciate your business, and look forward to giving you great results and completing your project quickly!<br /><br />

Cheers,<br /><br />

<span style="color: black; font-weight: bold;">The Mob4Hire team</span><br /><br />
<hr />
P.S. We take your privacy very seriously. We value your private email address, so we won't be sending a bunch of junk to your inbox. <span style="color: black; font-weight: bold;">Please go to your email software and identify "Mob4Hire Team" as "accepted email"</span>. This will ensure your spam / junk email filter doesn't wrongly identify us. 
<br /><br />
P.P.S. Some other things you may be interested in:<br /><br />
