
<h2>Thank you for signing up with Mob4Hire, the world's largest mobile testing and market research site!</h2>

<p>Please follow the link below to activate your account and complete the registration process:</p>

<p><a href='<?php echo $this->activation_link;?>'><?php echo $this->activation_link;?></a></p>

<p>Once Registered you still need to edit your Profile to register for testing and/or as a developer.  Go to the Dashboard, then Profile and add details in the "Mobster" and other sections.</p>
