<h2>Congratulations! Your project has been approved and is currently waiting for bids.</h2>

<p>You can manage your project from this link</p>

<p><a href="<?php echo $this->url; ?>/app/developer/showproject/idproject/<?php echo $this->idproject;?>" >
	<?php echo $this->url; ?>/app/developer/showproject/idproject/<?php echo $this->idproject;?></a></p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>


