<h2><?php echo $this->translate->_('mobile_profile_edit_title'); ?></h2>
<p><?php echo $this->translate->_('mobile_profile_edit_description'); ?></p>
<a href="/mobile/user/identify" rel="external" data-role="button"> <?php echo $this->translate->_('mobile_profile_edit_addHandsets'); ?></a>
<h5><?php echo $this->translate->_('mobile_profile_edit_details'); ?></h5>
<?php echo $this->profileInfo; ?>