<?php if (!$this->done):?>
<div>
	<h2>Need More Information On Mob4Hire?</h2>
	<p>The mobile experience is about user engagement and participation, so it pays to do usability testing with real people. Using over 50 years of customer loyalty science and product management experience, we've created the MOBEXPERIENCE survey to get feedback from users so you can focus on making great software. You'll get an indepth report on the quality of your software, what you need to focus on to improve it, and how you need to adapt your marketing. As the leader in distributed mobile usability research, Mob4Hire can save you thousands of dollars when compared to other market research usability firms.</p>
	<p>To get started, please enter your details below:</p>
</div>	
<?php echo $this->form;?>
<?php else: ?>
	<div>
		<h1>Thanks for choosing Mob4Hire.</h1>
		<h2>We have sent an automated response to your email address.</h2><br />
		<p>We will assign a Sales and a Project Manager to your account who will respond directly to you as soon as possible to prepare a quote.</p>
		<p>If you have a specific project you would like us to quote on, you can submit it through this <a href="http://www.tinyurl.com/mob4info">link</a></p>
		<p>We look forward to making your project a success!</p>
		<p>Cheers,</p>
		<p>The Mob4Hire Team</p>
	</div>
<?php endif;?>