<h5 style="text-align:center"><?php echo $this->translate->_('mobile_index_title'); ?></h5>
<div class="login-form">
	<?php echo $this->loginForm; ?>
    <?php if ($this->loginError) : ?>
        <script>
            showError("<?php echo $this->translate->_('mobile_user_login_error'); ?>");
        </script>
    <?php endif; ?>

    <?php if ($this->notActivated) : ?>
        <script>
            showError("<?php echo $this->translate->_('mobile_user_login_error_unauthenticated'); ?>");
        </script>
    <?php endif; ?>
</div>
<div data-role="controlgroup" data-type="horizontal" style="text-align: center">
<a data-role="button" href="/mobile/user/register" alt="Register"><?php echo $this->translate->_('mobile_index_register'); ?></a>
<a data-role="button"  href="/mobile/user/forgotpassword" alt="Forgot Password"><?php echo $this->translate->_('mobile_index_forgot'); ?></a>
</div>


