        	<div id="container_column_single">
				<h2>Mob4Hire Terms &amp; Conditions of Use</h2>
				<p>! Please review carefully these Terms and Conditions set forth below before using the Mob4Hire.com web site or using the services provided by Mob4Hire.  IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS (INCLUDING THE RESTRICTIONS, LIMITATIONS AND RELEASES THEY CONTAIN) YOU MAY NOT USE THIS WEBSITE, THE SERVICES OFFERED BY MOB4HIRE OR THE MATERIALS.</p>
				<p>The terms &quot;You&quot;, &quot;Your&quot;, &quot;User&quot;, &quot;Users&quot;, &quot;Applicant&quot;, &quot;Member&quot;, &quot;Members&quot; refer to anyone accessing our services or the web site for any reason these  include, without limitation, &quot;Mobile Application Developers&quot; and &quot;Testers&quot;.  &quot;Mobile Application Developers&quot; or &quot;Developers&quot; are members who post projects on Mob4Hire.com.  &quot;Testers&quot; are members that bid on and perform the projects posted by Developers.</p>
				<p>The terms &quot;We&quot;, &quot;Us&quot;, &quot;Our&quot;, &quot;Mob4Hire&quot; or &quot;Mob4Hire.com&quot; refer to Mob4Hire Inc.</p>
				<p>The Mob4Hire.com web site and the services provided thereby or otherwise by Mob4Hire are offered to you conditioned on your acceptance of the terms, conditions, restrictions and notices contained herein. Mob4Hire.com may amend or modify these terms and conditions without notice, effective immediately, by updating this posting. Your use of the Mob4Hire.com web site constitutes your agreement to all such terms, conditions, restrictions and notices.</p>
				<h3>Eligibility for Requirements</h3>
				<p>Mob4Hire.com shall have absolute discretion as to whether or not it accepts a particular applicant for participation in the service. Mob4Hire.com's web site is available only to individuals who can form legally binding contracts under applicable law. The services of this web site are not available to minors. If Users do not qualify, they cannot legally use any of Mob4Hire.com's services including, but not limited to, those that require the User's ability to form legally binding contracts.</p>
				<h3>Removal from Network</h3>
				<p>Mob4Hire.com reserves the right to terminate the participation of any member without reason but expressly including any member that Mob4Hire judges to be in violation of the Terms and Conditions.</p>
				<p>Members in violation of the Terms and Conditions will be immediately deactivated. Mob4Hire may deactivate members with no prior notification. Members found in violation of the Terms and Conditions will not receive any credit or payment from Mob4Hire. Members that are terminated by Mob4Hire on any basis other than violation of the Terms and Conditions will be entitled to receive any payment due any owing from Mob4Hire at the time of termination.</p>
				<h3>Description of Services</h3>
				<p>Mob4Hire.com offers a wide range of tools, content, products, services, benefits, and other resources on its web site. These services are for use only under a non-exclusive, non-transferable, and non-assignable license under these terms and conditions of use. You do not have the right to copy, sell, or otherwise exploit for any commercial purpose the services or content (in whole or in part), access to this service or use of this service.</p>
				<p>Some of the services offered at Mob4Hire.com may include feedback to questions by Users of this service and/or articles with original content and opinions. Use of this content or links to this content is at the User's own risk. User further understands and agrees to the following:</p>
				<p>Some of the content provided at Mob4Hire.com may relate to various subjects such as information pertaining to legal matters, financial matters, and other matters for which the content of is provided in an advisory nature. This information is provided solely for informational and general non-advisory purposes. If desired, Users should use their own efforts to confirm such information with a professional(s) in the pertinent field(s). All of the information that Mob4Hire.com provides should not be considered professional, medical, legal, technical, or any other discipline-specific advice.</p>
				<p>Mob4Hire.com is a dynamic time-sensitive web site. As such, the information on Mob4Hire.com will be changed frequently. It is possible that some information could be considered offensive, harmful, or inaccurate, and in some cases may be mislabeled or deceptively labeled accidentally by Mob4Hire.com or accidentally or purposefully by a third-party, regardless of whether such third parties are with or without a legitimate business purpose.</p>
				<p>Mob4Hire.com provides unmonitored access to third-party content. Mob4Hire.com is only acting as a venue and/or portal, and has no liability based on, or related to, the third-party content on this Site, whether arising under the laws of copyright or other intellectual property, defamation, libel, privacy, obscenity, or any other legal discipline. This web site may contain links to third-party web sites. Mob4Hire.com does not control nor always review the web sites to which we link from Mob4Hire.com. We, therefore, cannot endorse the content, products, services, practices, policies, or performance of the web sites we link to from Mob4Hire.com, and Users should not treat any link as such an endorsement or acceptance of veracity or value.</p>
				<p>Mob4Hire.com does not have the resources to nor does it undertake any obligation to, control, research, verify, validate, or approve the content that is received or viewed on its web site. We expect that the User will undertake necessary activities and practices and will use caution and common sense when using Mob4Hire.com.</p>
				<h3>Bidding &amp; Credits/Payments</h3>
				<p>Bidding and payments shall occur as described on the Mob4Hire.com web site and all fees and payments will be made in accordance with Mob4Hire.com's then current fee schedule posted on Mob4Hire web site.</p>
				<p>However, unless otherwise agreed to by Mob4Hire expressly in writing, the following is the basic process that shall be followed:</p>
				<ul>
                	<li>1. A Developer posts a project that it desires Testers to perform.</li>
					<li>2. Testers bid on or are otherwise selected by the Developer to perform the project.</li>
					<li>3. Before a Tester is notified that its bid has been selected or that such tester has otherwise been selected, the Developer shall have in its Credit Account (as defined below) or pay to Mob4Hire (via PayPal unless another method is determined by Mob4Hire to be appropriate in the circumstances (in its sole discretion)) the full amount agreed to with the Tester plus the required Mob4Hire commission (with both such amounts grossed up to include any applicable PayPal fees or other applicable fees, charges and taxes so that the amount actually received by Mob4Hire is the agreed full amount).  Upon Mob4Hire confirming that it is: (1) in receipt of the grossed up full amount agreed to with the Tester plus the required grossed up Mob4Hire commission; or (2) such grossed up amount is available in the Developer's Credit Account; then Mob4Hire will notify the Tester the Tester has been selected and the Tester will perform the project as required.</li>
					<li>4. Money will not be transferred to Tester until test report is completed by Tester and Developer confirms acceptance of the test report required for the project.  Developer has 5 business days to notify Mob4Hire of its acceptance or rejection of the test report (if developer does not respond within 5 business days the test report will be deemed to be accepted).  Within those 5 business days the Developer can take action by either accepting or rejecting the report (with reasons acting reasonably).  If the test report is accepted by Mob4Hire the amount payable to the Tester will immediately be payable and Mob4Hire will arrange to release the necessary amount to the Tester's Credit Account (as defined below).  If the test report is not accepted by the Developer the amount will remain in the Developer's Credit Account.</li>
					<li>5. The Mob4Hire commission is payable by the Developer as a matchmaking fee and does not depend upon the acceptance or rejection of a test report.  The Mob4Hire commission is due and payable immediately upon the Developer notifying Mob4Hire that a Tester's bid is accepted by a Developer.  The Mob4Hire commission is non-refundable.</li>
				</ul>
				<p>All amounts are stated in and all payments will be made in US funds.</p>
				<p>Any member that Mob4Hire.com removes from the service due to violation of the Terms and Conditions will receive no credit or payment whatsoever.</p>
				<h3>Credit Accounts &amp; Withdrawals</h3>
				<p>Each member can maintain a &quot;Credit Account&quot; with Mob4Hire.  All money's paid by a member to Mob4Hire (with the exception of Mob4Hire's commissions and any applicable PayPal fees or other applicable fees, charges and taxes) and all moneys payable by Mob4Hire to a Tester (once the test report is accepted by the Developer) will be put towards the member's Credit Account that is maintained by Mob4Hire.</p>
				<p>Mob4Hire.com will only send and receive payments through the PayPal service unless another method is determined by Mob4Hire to be appropriate in the circumstances (in its sole discretion).</p>
				<p>All payments that are due and owing by a Developer to a Tester will be made by Mob4Hire deducting such amount from the Developer's Credit Account and adding it to the Tester's Credit Account.</p>
				<p>A Member may at any time request a withdrawal from such member's Credit Account; provided that the amount be requested is equal to or greater than $US100.  The withdrawal of funds by the a member will be completed by Mob4hire in 3 business days (subject to extension upon reasonable request by Mob4Hire).  Mob4hire will only transfer money to Credit Account members on written request using the process established by Mob4Hire.</p>
				<p>Mob4Hire.com reserves the right to suspend a withdrawal if the source of the funds is suspected to be fraudulent. Any funds received from an account having made a fraudulent deposit (e.g. stolen credit card) will be reversed immediately. If in a fraudulent payment situation a withdrawal has already been processed, you will be expected to immediately return the funds to your Mob4Hire.com account or face account termination.</p>
				<p>If a member's Credit Account is inactive for over one year (i.e., no deposits or withdrawals are made) the member may at any time be notified by Mob4Hire that the member's account is inactive and Mob4Hire shall be entitled to elect to refund the balance of the Credit Account less Mob4Hire's administration fees, close-out fees and any PayPal fees or other applicable fees and charges.  The refund shall be made by Mob4Hire via PayPal or such other method as Mob4Hire determines is appropriate in the circumstances (in its sole discretion).</p>
				<h3>E-mail Addresses</h3>
				<p>Members agree not to post their e-mail address or any other contact information on the site, except in the &quot;e-mail&quot; field of the signup form, or when asked by Mob4Hire.com at any other time. There should be no need to give anyone your e-mail address or any other contact information. It is automatically provided if you choose a Tester (or you are the Tester chosen for) a project, and before that time you can use the message board to communicate. This does not only apply to e-mail addresses, but to all methods of communication, including phone, ICQ, AIM, MSN Messenger, etc... See &quot;Avoiding Commissions&quot; below for the reason.</p>
				<h3>Providing Contact Information</h3>
				<p>You are prohibited from making direct contact with another member, unless it is for a project you (a Tester) have been picked for, or you (a Mobile Application Developer) have picked a Tester for. This includes giving out your e-mail address, ICQ number, phone number, or any other method of contact outside of this site. Mob4Hire.com provides you with message boards, which should be sufficient for pre-project planning.<br />
</p>
				<h3>Avoiding Commissions</h3>
				<p>You are strictly prohibited from attempting to negotiate the fee for a project with another member directly (outside of Mob4Hire.com): (1) when the initial contact between the members was through Mob4Hire.com, (2) after a project has been created/opened and before that project has been closed (basically, during an ongoing project); and (3) for any project that was closed without a Tester being chosen but then a Tester is chosen outside of Mob4Hire.com.  If such a prohibited activity is undertaken then all members involved shall be jointly and severally liable to pay to Mob4Hire double the Mob4Hire commission that should have been paid to Mob4Hire in relation to each such project and, in addition to any other right or remedy available to Mob4Hire, Mob4Hire shall be entitled to deduct such amount from the involved members Credit Accounts until the full amount owing is paid to Mob4Hire.</p>
				<p>In addition, both parties are responsible for notifying Mob4Hire.com if the payment amount increases (above the bid amount) after the project is closed. Receiving a larger amount than the original project bid, without notifying us, will be considered an attempt to avoid the commissions. Again, if such a prohibited activity is undertaken then all members involved shall be jointly and severally liable to pay to Mob4Hire double the Mob4Hire commission that should have been paid to Mob4Hire in relation to each such project and, in addition to any other right or remedy available to Mob4Hire, Mob4Hire shall be entitled to deduct such amount from the involved members Credit Accounts until the full amount owing is paid to Mob4Hire.</p>
				<p>When a Tester requests a withdrawal, we always review all payments received for each project to verify that they match the bid. If at the time of a withdrawal request the Tester has failed to notify Mob4Hire.com staff of a payment received above the amount of his bid, Mob4Hire.com reserves the right to deduct double the fee for the amount that should have been reported.</p>
				<p>We believe our commissions are very fair and justified for the service we provide, therefore we will absolutely not tolerate any of these types of activities on Mob4Hire.com.</p>
				<h3>Copyright</h3>
				<p>No copyrighted material can be posted on Mob4Hire.com. This includes programming-related content, scripts or code which is sold or owned by the author, or graphic design content which is sold or owned by the author. Only posting sections, excerpts or examples of such content, will be permitted. A &quot;section&quot; or &quot;excerpt&quot; being no more than 10% of the original content, and &quot;example&quot; being a draft or pseudo-coded program. This is necessary to protect the author's intellectual property rights.</p>
				<h3>Modifications</h3>
				<p>User is solely responsible for content or any other information User provides to Mob4Hire.com. User understands and agrees to the following:</p>
				<p>Mob4Hire.com is only acting as a venue for the online distribution and publication of User content. However, no warranties as to the actual distribution or publication of User content are made or implied. Mob4Hire.com has the right (but no obligation) to take any action deemed appropriate with respect to User content if it is believed that such content may create liability for Mob4Hire.com, harm our business operation or reputation, or cause Mob4Hire.com to lose the services of our suppliers.</p>
				<p>User represents and warrants that User's content: (a) will not infringe upon or misappropriate any copyright, patent, trademark, trade secret, or other intellectual property right or proprietary right or right of publicity or privacy; (b) will not violate any law or regulation; (c) will not be defamatory or trade libelous; (d) will not be obscene or contain child pornography; (e) will not include incomplete, false or inaccurate information about User or any other individual; and (f) will not contain any viruses or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.</p>
				<p>By submitting User content to Mob4Hire.com (including, but not limited to creating your Account; posting a resume, posting a profile, posting a portfolio, posting a Project; sending messages through or to Mob4Hire.com). You hereby grant to Mob4Hire.com a worldwide, perpetual, irrevocable, royalty-free license to use, copy, modify, display, and perform User content, under all User intellectual property and proprietary rights worldwide. For the avoidance of doubt, providing links to content hosted on servers other than that of Mob4Hire.com (such as a portfolio of sample works hosted on Your own web site) will not be considered &quot;submitting&quot; such content for purposes of this license grant.</p>
				<h3>User Restrictions</h3>
				<h4>Advertising</h4>
				<p>Users are prohibited from advertising their website on Mob4Hire.com. Any URL posted in a bid, project description, or the message board, must relate to a project on Mob4Hire.com. An example of a permissible URL would be a User's portfolio or resume' page.</p>
				<h4>Bidding</h4>
				<p>Testers can only place bids that equal the total amount of money they are requesting for the project. You cannot post an hourly bid or any other abnormal type of bid. This applies to Developers too. Developers cannot create projects that directly or indirectly require Testers to place hourly or other abnormal bids.</p>
				<h4>Mobile Application Developer agrees that:</h4>
				<ul>
                	<li>1. Mobile Application Developer will not redistribute any of the content on Mob4Hire.com.</li>
					<li>2. Mobile Application Developer will not use Mobile Application Developer's Account to post false or misleading project descriptions. Mobile Application Developer will not post project descriptions that are inappropriate to Mob4Hire.com's audience, viewers, or visitors in the judgment and discretion of Mob4Hire.com.</li>
					<li>3. Mobile Application Developer will not falsify Mobile Application Developer's own or any other identity.</li>
					<li>4. Mobile Application Developer will comply with all Mob4Hire.com's policies.</li>
              	</ul>
				<h4>Tester agrees that:</h4>
				<ul>
                	<li>1. Tester will not redistribute any of the content on Mob4Hire.com.</li>
					<li>2. Tester will not falsify Tester's own or any other identity.</li>
					<li>3. Tester will comply with all Mob4Hire.com policies.</li>
               	</ul>
				<h4>General Restrictions</h4>
				<ul>
                	<li>1. Users (Mobile Application Developers and Testers) will not use any automated collection mechanism or any manual process to monitor or copy the web pages comprising the Mob4Hire.com web site or the content contained therein without the prior written permission of Mob4Hire.com.</li>
					<li>2. Users (Mobile Application Developers and Testers) will not distribute unsolicited commercial messages (&quot;spam&quot;) through User's account.</li>
					<li>3. Users (Mobile Application Developers and Testers) will not contact employers or Testers through our site or through information gained from our site with the intent of subverting them from using our services.</li>
					<li>4. Users (Mobile Application Developers and Testers) will not engage in personal attacks, negative or other unfair criticism or other forms of discourteous and unprofessional online conduct or practices.</li>			
                </ul>
				<h3>Proprietary Rights</h3>
				<p>The Mob4Hire web site and services and all works, content and materials on the web site or contained in the services, including without limitation, all information, text, design, code, software, graphics, images, drawings and photographs (the &quot;Materials&quot;) and all organization and presentation of the Materials which form a part of the web site are the exclusive property of  Mob4Hire or its licensors and are protected by intellectual property laws relating to copyrights, trade-marks, trade names, Internet domain names, trade dress and other proprietary rights. Nothing on the web site shall be construed as providing, by implication, estoppel or otherwise any license to any proprietary or intellectual property rights in or to any of the Materials to you or any other party, except as expressly granted in the Terms and Conditions.</p>
				<p>The trade-marks, service marks, logos, slogans and Internet domain names on the web site and the services offered by Mob4Hire are the exclusive property of  Mob4Hire or its licensors. Use of any such property, except as expressly authorized, shall constitute a violation of the rights of the owner of the property. </p>
				<p>Copyright Notice: Copyright Mob4Hire Inc. All rights reserved.</p>

				<h3>Permitted Uses</h3>
				<p>Mob4Hire agrees to provide you access to the services offered by Mob4Hire, the web site and the Materials solely in accordance with the Terms and Conditions. In consideration for such access, you shall:</p>
				<ul>
                	<li>(a)	not copy, reproduce, republish, upload, post, transmit, or distribute the Materials in any way whatsoever;</li>
					<li>(b)	use the services, web site and Materials solely for lawful purposes;</li>
					<li>(c)	not reverse engineer, decompile, reverse compile, create derivative works from, exploit or modify the services, web site and Materials in any way;</li>
					<li>(d)	not interfere with the security of, or otherwise abuse the services offered by Mob4Hire or the web site or any system resources, services or networks connected to or accessible through the web site or the services offered by Mob4Hire;</li>
					<li>(e)	only use the services offered by Mob4Hire and the web site if you are legally able to make binding contracts under applicable law, or have the permission of your parent or guardian to do so; and</li>  
					<li>(f)	acknowledge that the unauthorized use of the services, web site and Materials may cause irreparable harm to  Mob4Hire and that in the event of an unauthorized use,  Mob4Hire  shall be entitled to an injunction, in addition to any other remedies available at law or in equity, to prevent such irreparable harm and that the balance of convenience in preventing such use rests with  Mob4Hire.</li>
               	</ul>
             	<h3>Viruses &amp; Network Problems</h3>
				<p>Mob4Hire assumes no responsibility and shall not be liable to you or to any other party for any damages caused by any malicious code, viruses, &quot;Trojan horses&quot;, &quot;worms&quot;, &quot;cancelbots&quot; or other harmful, disruptive or destructive files or computer programs that may infect your computer equipment or other property on account of your access to or use of the services offered by Mob4Hire or the web site or your downloading of any Materials.</p>
				<p>Mob4Hire assumes no responsibility and shall not be liable to you or to any other party for any damages or other problems caused by network outages or interruptions, or where your handset is otherwise unable to receive data respecting the services offered by Mob4Hire.</p> 
				<h3>No Warranties or Guarantees</h3>
				<p>Mob4Hire does not guarantee the accuracy or reliability of any of the Materials or information contained in the services offered by Mob4Hire or the web site. You acknowledge and agree that any reliance upon any of the Materials or information on this web site shall be at your own risk and expense.   Mob4Hire does not guarantee that use of the services offered by Mob4Hire or the web site will be uninterrupted, accurate, or error-free or that the services offered by Mob4Hire or the web site or its server will be free of viruses or other harmful components and  Mob4Hire assumes no responsibility and shall not be liable for any damages to your computer equipment or other property on account of your access to or use of the services offered by Mob4Hire or the web site or your downloading of any Materials.</p>
				<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,  MOB4HIRE PROVIDES TO YOU THE WEBSITE, THE SERVICES AND THE MATERIALS &quot;AS IS&quot;, WITH ALL FAULTS, AND WITHOUT ANY REPRESENTATIONS, WARRANTIES, GUARANTEES OR CONDITIONS OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, ACCURACY, NON-INTERCEPTION, NON-INTERRUPTION OR QUALITY, AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF TRADE.</p>
				<h3>Choice of Law, Venue and Dispute Resolution</h3>
				<p>The web site is controlled, operated and administered by  Mob4Hire from within the Province of Alberta, Canada.  These Terms and Conditions and your use of the services offered by Mob4Hire and the web site shall be governed by, and interpreted in accordance with, the laws of the Province of Alberta and the federal laws of Canada applicable therein, and you irrevocably agree to attorn to the exclusive jurisdiction of the courts of the Province of Alberta.</p>
				<p>Any disputes regarding arrangements between Testers and Mobile Application Developers remain solely between Mobile Application Developers and Testers. We are not involved in any transactions between You and any other users of Mob4Hire.com. You acknowledge and agree that Mob4Hire.com will not be a party to any such dispute or be obligated to take any action or refrain from taking any action toward resolving any such dispute.  IF YOU HAVE A DISPUTE WITH ANY OTHER USERS OF THE SITE, YOU HEREBY RELEASE MOB4HIRE.COM FROM ANY AND ALL CLAIMS, DEMANDS, AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, RELATED TO SUCH A DISPUTE.</p>
				<h3>Limitation of Liability; Waiver and Releases</h3>
				<p>YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THE WEB SITE, THE SERVICES AND THE MATERIALS. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW IN NO EVENT SHALL  MOB4HIRE OR ITS DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, AFFILIATES, SHAREHOLDERS, PARTNERS, OR SUCCESSORS BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION DIRECT, INCIDENTAL, INDIRECT, SPECIAL, EXEMPLARY, AGGRAVATED, PUNITIVE OR CONSEQUENTIAL DAMAGES,  DAMAGES FOR HARM TO BUSINESS, LOSS OF OPPORTUNITY, LOSS OF INFORMATION OR DATA, LOSS OF REVENUE OR LOSS OF SAVINGS OR OTHER ECONOMIC LOSS, EVEN IF SUCH PARTY(IES) HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR CLAIM, WHETHER IN AN ACTION IN CONTRACT OR TORT INCLUDING NEGLIGENCE AND FUNDAMENTAL BREACH, OR BASED ON A WARRANTY ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE WEB SITE.  NOTWITHSTANDING ANY DAMAGES THAT YOU MIGHT INCUR FOR ANY REASON WHATSOEVER (INCLUDING, WITHOUT LIMITATION, ALL DAMAGES REFERENCED ABOVE AND ALL DIRECT OR GENERAL DAMAGES IN CONTRACT OR ANYTHING ELSE) THE ENTIRE LIABILITY OF  MOB4HIRE IN CONNECTION WITH THE USE OF THE PRODUCTS OR THE WEB SITE, AND YOUR EXCLUSIVE REMEDY FOR ALL OF THE FOREGOING, SHALL BE LIMITED TO $5.00 CANADIAN CURRENCY.  THE FOREGOING LIMITATIONS, EXCLUSIONS AND DISCLAIMERS SHALL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, EVEN IF ANY REMEDY FAILS ITS ESSENTIAL PURPOSE.</p>
				<p>NOTWITHSTANDING ANYTHING TO THE CONTRARY WHATSOEVER, WITH RESPECT TO THESE TERMS THE OBLIGATIONS AND LIABILITIES OF  MOB4HIRE AND YOUR RIGHTS AND REMEDIES THAT ARE EXPRESSLY SET FORTH IN THESE TERMS ARE EXCLUSIVE AND IN SUBSTITUTION OF ANY OTHER OBLIGATIONS, LIABILITIES, RIGHTS OR REMEDIES WHATSOEVER WHETHER EXPRESS OR IMPLIED OR IN CONTRACT, LAW, EQUITY OTHERWISE (INCLUDING BUT NOT LIMITED TO ANY OBLIGATION, LIABILITY, RIGHT, CLAIM OR REMEDY IN TORT, NEGLIGENCE, FUNDAMENTAL BREACH OR FAILURE FOR ESSENTIAL PURPOSE).  YOU HEREBY WAIVE, RELEASE AND RENOUNCE ALL RIGHTS, CLAIMS AND REMEDIES AGAINST  MOB4HIRE THAT ARE NOT EXPRESSLY STATED IN THESE TERMS AND THAT MAY ARISE IN ANY WAY IN RELATION TO THESE TERMS.</p>
				<h3>Indemnity</h3>
				<p>You agree at all times to be liable to and to indemnify, defend and hold harmless  Mob4Hire and its affiliates, agents, licensors, suppliers, and their respective directors, officers, employees and shareholders against all actions, claims proceedings, costs, demands, damages and liabilities whatsoever sustained, incurred or paid by  Mob4Hire directly or indirectly in respect of your (or any party that you are responsible for or who accesses or uses the services offered by Mob4Hire or the web site as a result of you) use or misuse of the services offered by Mob4Hire, the web site or the Materials, including, without limitation, infringement claims and product liability.</p>
				<h3>General</h3>
				<ul>
                	<li>(a)	These Terms and Conditions contain the entire agreement and understanding between  Mob4Hire and you with respect to the Materials.</li>
					<li>(b)	Mob4Hire's failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right.</li>
					<li>(c)	Should any part of the Terms and Conditions be declared invalid or unenforceable by a court of competent jurisdiction, this shall not affect the validity of any remaining portion and such remaining portion shall remain in full force and effect as if the invalid portion of the Terms and Conditions had been eliminated.</li>
					<li>(d)	The Terms shall inure to the benefit of and be binding on  Mob4Hire and you, and  Mob4Hire and your permitted successors and assigns.</li>
					<li>(e)	English is the working language for the Mob4Hire website.  These terms and conditions have been drawn up in the English language at the express request of both parties and the language of this contract shall be English.</li>
					<li>(f)	All rights not expressly granted herein are reserved.</li>
				</ul>            
            </div>

