<div class="container_column_middle">
<b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>
<div class="form-title"><?php echo $this->translate->_('app_profile_changePassword_title'); ?></div>
<div class="app-form">

<?php echo $this->form; ?>
<?php if ($this->currentPassError) : ?>
	<div class="errors"><?php echo $this->translate->_('app_profile_changePassword_error'); ?><br/>
	</div>		
<?php endif; ?>

</div>
<div class="bottom-curve">&nbsp;</div>
</div>
