<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        <?php echo $this->translate->_('app_profile_developer_profile');
        echo $this->profile['username'];
        ?>
    </div>
    <div class="app-form">
        <div id="mainContent">
            <?php echo $this->profileDeveloper; ?>
        </div>
        <div class="clearfix">
            &nbsp;
        </div>
    </div>
    <div class="bottom-curve">
        &nbsp;
    </div>
</div>
<!--End: container_column_middle_wide_app-->
