<link href="/css/imageselect.css" media="screen" rel="stylesheet" type="text/css"/>
<div class="file_overlay" id="contactpop" style="display:hidden">
    <div class="close"></div>
    <div id='showhide'>
        <form enctype='multipart/form-data' method='post' action="/ajax/index/uploadimage/" class="dropzone dz-clickable" id="imageUpload">
            <div class="dz-default dz-message"><span><?php echo $this->translate->_('app_profile_index_image_drop'); ?></span></div>
        </form>

    </div>
</div>
<link href="/css/dropzone.min.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/js/dropzone.min.js"></script>
<script type="text/javascript">



    Dropzone.options.imageUpload = {
        paramName: "projImg", // The name that will be used to transfer the file
        maxFilesize: 2, // MB
        maxFiles:1,
        acceptedFiles: "image/*",
        init:function(){
            this.on("complete",function(file){
                this.removeFile(file);
                $("#editImageSelect").overlay().close();
            });

            this.on("success",function(file,message){
                document.getElementById("editImageSelect").innerHTML = message;
            });
        }

    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#editImageSelect").overlay({
            closeSpeed: 1000
        });
    });
</script>


<div id="container_column_middle">
    <b class="rtop red">
        <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
    </b>

    <div class="form-title">
        <?php echo $this->translate->_('app_profile_index_title'); ?>: <?php echo $this->profile['username']; ?>
    </div>
    <div class="app-form">

        <!--
        <div class="steps clearfix">
          <ul>
            <li class="current-step">General</li>
            <li>Mobster</li>
            <li>Developer</li>
            <li>Market Researcher</li>
          </ul>
        </div>
        -->

        <!--<div id="profile_info">-->
        <h4 class="title_error"><?php echo $this->message; ?></h4>

        <div id="profile-content-left">

            <h3><?php echo $this->translate->_('app_profile_index_greeting'); ?>
                , <?php echo $this->profile['first_name']; ?>.</h3>

            <p><?php echo $this->translate->_('app_profile_index_suggestion'); ?></p>

            <?php echo $this->profileInfo; ?>
        </div>
        <div id="profile-info-right">
            <div id="profile_image">
                <div id="uploads">
                    <a rel="#contactpop" id="editImageSelect">
                        <?php
                        if (isset($this->profile['image'])) {
                            $img_path = $this->profile['image'];
                            echo '<img src=' . $img_path . ' height="100" width="100" alt="' . $this->profile['username'] . '" />';
                        } else {
                            echo '<img src="/images/image-not-found.gif" height="100" width="100" alt="' . $this->profile['username'] . '" />';
                        }
                        ?>
                    </a>
                </div>
                <p><?php echo $this->profile['username']; ?> </p>
            </div>
            <!-- button to edit image-->
            <div class="active-button">
                <a href="/app/profile/changepassword"><span
                        class="text_button"><?php echo $this->translate->_('app_profile_index_change_password'); ?></span></a>
            </div>
            <br/><br/>

            <div id="profile-registered-date">
                <?php echo $this->translate->_('app_profile_index_mob4hire_citizen'); ?><br/>
                <?php echo date("F d, Y", strtotime($this->profile['registered_on'])) ?><br/>
            </div>

            <div id="profile-rating">
                <?php echo $this->ratingBar('', $this->profile['username'], 5, 'static', ''); //todo: Have the ratingBar view helper output the below votes=thing if that's what you want?>

            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>
    <div class="bottom-curve">&nbsp;</div>
</div> <!--End: container_column_middle_wide--> 
