<div id="container_column_middle"> 
<div class="red-top"></div>

  <div class="red-mid">
	<h2><?php echo $this->translate->_('app_profile_rating_ratings');?></h2> 
<div style="border: solid #A41c21 1px; background-color:#f1f1f1">
 <h2 style="padding-left: 10px;">
<?php
// the right way to do this would be an else in the foreach
if (count($this->testerratings)){
  echo $this->translate->_('app_profile_rating_asMobster');
}
else{
  // this else could go at the end of the foreach in an else statement but as the foreach will not iterate if array size (testerrating)== 0 then we are good
  echo $this->translate->_('app_profile_rating_noMobster');
}
?>
</h2>
</div>
<table class="listings">
<?php $i=0; // used to swap background colour of table row ?>
<?php foreach($this->testerratings as $rating): ?>
	 
	 <?php if($rating->total_value):?>
	 <tr class="<?php echo ($i%2 ? 'row_even' : 'row_odd');?>">
		<td class="contact_name">
			<!-- project link? -->
			<a href="/app/project/view/<?php echo $rating->idproject;?>"><?php echo $rating->name;?></a>
		</td>
		<td>
			<?php echo $this->showRatingBar($rating->total_value/$rating->total_votes);?>
		</td>
		<td>
			<?php echo $rating->comments;?>
		</td>

	</tr>
	<?php $i++;?>
	<?php endif;?>
<?php endforeach;?>
</table>


<div style="border: solid #A41c21 1px; background-color:#f1f1f1;">
<h2 style="margin-left: 10px;">
<?php
if (count($this->developerratings)){
  echo $this->translate->_('app_profile_rating_asDeveloper');
}
else{
  echo $this->translate->_('app_profile_rating_noDeveloper');
}
?>
</h2>
</div>
<table class="listings">
<?php 
$i=0;
foreach($this->developerratings as $rating):?>
	<?php if($rating->total_value):?>
	<tr class="<?php echo ($i%2 ? 'row_even' : 'row_odd');?>">
		<td>
		<?php echo $rating->name;?>
		</td>
		<td>
		<?php echo $this->showRatingBar($rating->total_value/$rating->total_votes);?>
		</td>
		<td>
		<?php echo "rated by $rating->username"; // oops. there are no comments for developers?>
		</td>

	</tr>
	<?php endif;?>
	<?php $i++;?>
<?php endforeach;?>

</table>


  <div class="clear">&nbsp;</div>
  </div>
</div> <!--End: container_column_middle_wide--> 
<div class="red-bottom"></div>






