<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        Market Researcher Profile: 
        <?php
        echo $this->profile['username'];
        ?>
    </div>
    <div class="app-form">
        <div id="mainContent">
            <?php
            echo $this->profileResearcher;
            ?>
        </div>
        <!--</div>-->
        <div class="clear">
            &nbsp;
        </div>
    </div>
    <div class="bottom-curve">
        &nbsp;
    </div>
</div>
<!--End: container_column_middle_wide_app-->
