<h1>Mob4Hire SMS Index</h1>
<h2><a href="/admin/sms/map">Live Map</a></h2>
<h3><a href="/admin/sms/report?name=coverage">Coverage Report</a><a href="/admin/sms/reportxls?name=coverage"> xls </a><a href="/admin/sms/reportpdf?name=coverage"> pdf </a></h3><br/>
<h3><a href="/admin/sms/report?name=transactions">Transactions Report</a><a href="/admin/sms/reportxls?name=transactions"> xls </a><a href="/admin/sms/reportpdf?name=transactions"> pdf </a></h3><br/>
<h3><a href="/admin/sms/client">Add Evaluation User</a></h3>
<h2>Current Coverage</h2>
<p><table class='dynamicTable' align=center border=1>
<thead>
	<tr>
		<th>MNC</th>
		<th>MCC</th>
		<th>Brand</th>
		<th>Operator</th>
		<th>Country</th>
		<th>Active Testers</th>
	</tr>
</thead>
<tbody>
<?php foreach($this->latestCoverageTable as $coverage):?>
	<tr>
		<td><?php echo $coverage['mcc'];?></td>
		<td><?php echo $coverage['mnc'];?></td>
		<td><?php echo $coverage['brand'];?></td>
		<td><?php echo $coverage['operator'];?></td>
		<td><?php echo $coverage['country'];?></td>
		<td><?php echo $coverage['testers'];?></td>
	</tr>

<?php endforeach;?>
</tbody>	
</table></p>



