.buzz a {
	color:#b42025;
	font-style:normal;
  text-decoration: none;
}

.buzz-section-title, .buzz .gfg-title {
	background:#b42025;
	padding: 8px 4px 8px 8px;
	margin: 16px 0 0 0;
	color:#FFF;
	font-weight:bold;
}

.buzz .gfg-title {
	margin:0 0 0 0;
	font-size:1.25em;
}

.buzz-section-title {
	margin:0 0 0px 0;
	
}

#twitter
{
	width: 535px;
}

.buzz-section-title a{
	font-weight:bold;
	color:#FFF;
}

.buzz-section ul {
	margin:0 0 0 0;
}

div#container_column_middle .buzz-section li {
	padding:8px 8px 8px 8px;
	border-top:#b42025 1px solid;
	list-style-type:none;
}

#twitterControl, #feedControl, .buzz-section {
    margin: 0px 0 0px 0;
		padding:0 0 0 0px;
    position: relative;
		width:474px;
    text-align: left;
		border-bottom:#b42025 2px solid;
		border-left:#b42025 2px solid;
		border-right:#b42025 2px solid;
		z-index: 0;
		background:#FFF;
		width: 543px;
}

body.buzz .bottom-curve {
	background:url(/images/layout/bottom_curve-buzz.gif) no-repeat;
	width:478px;
	margin:0 0 26px 0;
}

.buzz-section  {
	border-top:none;
	border-bottom:#b42025 2px solid;
	border-left:#b42025 2px solid;
	border-right:#b42025 2px solid;
	padding: 0px 0px 0px 0px;
	width: 543px;
}



.m4h_graphic_info{
	padding:0 0 15px 0;
	float:left;
	width:300px;
}

.m4h_graphic_info td{
	padding: 0px 10px 10px 10px;
}

.m4h_graphic{
	float:left;
	width:100px;
}


div.m4h_graphic img {
	width:100px;
}


	/** BUZZ ICONS **/

.buzz-icon {
text-align:center;
	float:left;
	padding:8px 0 0px 20px;
	width:210px;
}

.buzz-icon a {
	font-size:0.75em;
	padding:8px 0 8px 4px;
	margin:0 0 10px 26px;
}

.buzz-icon img, .buzz-icon a {
	display:block;
}




/** TWITTER FEED **/



#twitterControl ul {
	margin:0 0 0em 0;
}

div#container_column_middle #twitterControl ul li{
	list-style-type:none;
}

.twitter-entry {
	border-top:#b42025 1px solid;
	padding:4px 0 4px 8px;
	margin:0 0 0px 0;
}

.twitterStatus {
    color: #b42025;
    font-family: "Arial", sans-serif;
}

#twitterControl .twitterTime, .buzz-date {
    color: #000000;
    font-family: "Arial", sans-serif;
}

/** MobBlog Feed **/
.buzz .gfg-root {
    position: relative;
    text-align: left;
    border:#b42025 0px solid;
}


.buzz .gfg-entry {
	height:100px;
	padding:8px 0 8px 0;
}

.buzz .gfg-subtitle {
    font-weight: bold;
    color: #FFFFFF;
    background: #b42025;
    line-height: 1.4em;
		padding: 8px 4px 8px 8px;
}

.buzz .gfg-subtitle a{
    font-weight: bold;
    color: #FFFFFF;
}


/** GOOGLE'S DEFAULT STYLING **/

.gfg-root {
  position : relative;
  text-align : center;
  font-family: "Arial", sans-serif;
}

.gfg-title {
  font-weight : bold;
  color : #3366cc;
  background-color: #E5ECF9;
}

.gfg-subtitle {
  font-weight : bold;
  line-height : 1.4em;
  margin-bottom : 5px;
}

.gfg-entry {
  height : 6.9em;
  position : relative;
  overflow : hidden;
  text-align : left;
  margin-top : 3px;
}

/* To allow correct behavior for overlay */
.gfg-root .gfg-entry .gf-result {
  position : relative;
  padding-left : 20px;
  padding-right : 5px;
}

.gfg-list {
  position : relative;
  overflow : hidden;
  text-align : left;
  margin-bottom : 0px;
}

.gfg-listentry {
  line-height : 1.5em;
  overflow : hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
  -o-text-overflow : ellipsis;
  padding-left : 15px;
  padding-right : 5px;
  margin-left : 5px;
  margin-right : 5px;
}

.gfg-listentry-odd {
  background-color : #F6F6F6;
}

.gfg-listentry-even {
}

.gfg-listentry-highlight { 
  background-image : url('http://www.google.com/uds/solutions/dynamicfeed/garrow.gif');
  background-repeat: no-repeat;
  background-position : center left;
}

/*
 * FeedControl customizations.
 */

.gfg-root .gfg-entry .gf-result .gf-title {
  line-height : 1.2em;
  overflow : hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
  -o-text-overflow : ellipsis;
  margin-bottom : 2px;
}

.gfg-root .gfg-entry .gf-result .gf-snippet {
  height : 3.8em;
  color: #000000;
  margin-top : 3px;
}

/*
 * Easy way to get horizontal mode, applicable via js options to gadget.
 */

.gfg-horizontal-container {
  position : relative;
}

.gfg-horizontal-root {
  height : 1.5em;
  _height : 100%;
  position : relative;
  white-space : nowrap;
  overflow : hidden;
  text-align : center;
  font-family: "Arial", sans-serif;
  border: 1px solid #AAAAAA;
  padding : 5px;
  margin-right : 80px;
}

.gfg-horizontal-root .gfg-title {
  font-weight : bold;
  background-color: #FFFFFF;
  line-height : 1.5em;
  overflow : hidden;
  white-space : nowrap;
  float : left;
  padding-left : 10px;
  padding-right : 12px;
  border-right: 1px solid #AAAAAA;
}

.gfg-horizontal-root .gfg-title a {
  color : #444444;
  text-decoration : none;
}

.gfg-horizontal-root .gfg-entry {
  width : auto;
  height : 1.5em;
  position : relative;
  overflow : hidden;
  text-align : left;
  margin-top : 0px;
  margin-left : 0px;
  padding-left : 10px;
}

/* To allow correct behavior for overlay */
.gfg-horizontal-root .gfg-entry .gf-result {
  position : relative;
  background-color : white;
  width : 100%;
  height : 100%;
  line-height : 1.5em;
  white-space : nowrap;
}

.gfg-horizontal-root .gfg-list {
  display : none;
}

/*
 * FeedControl customizations.
 */

.gfg-horizontal-root .gfg-entry .gf-result .gf-snippet,
.gfg-horizontal-root .gfg-entry .gf-result .gf-author {
  display : none;
}

.gfg-horizontal-root .gfg-entry  .gf-result .gf-title {
  color: #0000cc;
  margin-right : 3px;
  float : left;
}

.gfg-horizontal-root .gfg-entry .gf-result .gf-spacer {
  float : left;
}

.gfg-horizontal-root .gfg-entry .gf-result .gf-spacer,
.gfg-horizontal-root .gfg-entry .gf-result .gf-relativePublishedDate {
  display : block;
  color: #AAAAAA;
}

.gfg-branding {
  text-align : left;
  position : absolute;
  right : 0px;
  top : 0px;
  width : 80px;
}

.gfg-collapse-open, .gfg-collapse-closed {
  background-repeat : no-repeat;
  background-position : center;
  cursor : pointer;
  float : right;
  width : 17px;
  height : 20px;
}

.gfg-collapse-open {
  background-image : url('http://www.google.com/uds/solutions/dynamicfeed/arrow_open.gif');
}

.gfg-collapse-closed {
  background-image : url('http://www.google.com/uds/solutions/dynamicfeed/arrow_close.gif');
}

.gfg-collapse-href {
  float : left;
}

.clearFloat {
  clear : both;
}



