

/* the overlayed element */ 
.simple_overlay { 
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#FFF; 
     
    width:280px;     
    min-height:500px; 
    border:1px solid #666;
     
	 
    /* CSS3 styling for latest browsers */ 
    -moz-box-shadow:0 0 90px 5px #000; 
    -webkit-box-shadow: 0 0 90px #000;     
} 
 
/* close button positioned on upper right corner */ 
.simple_overlay .close { 
    background:url(/images/overlay/close.png) no-repeat; 
    position:absolute; 
    right:-18px; 
    top:-18px; 
    cursor:pointer; 
    height:36px; 
    width:36px; 
}

table.contactsselect {
	width:250px;
	margin:10px 10px 10px 10px;
}


table.contactsselect tr.row_odd {
	background-color:#fefdfe;
	border-bottom:1px solid #666666;
	height:60px;
}

table.contactsselect tr.row_even{
	background-color:#f1f1f1;
	border-bottom:1px solid #666666;
	min-height:60px;
}

table.contactsselect td.control{
	min-width: 30px;
	padding:10px 10px 10px 10px;
	height:30px;
}





