/* Testing purposes */

div.form_element{
	display:block;
	padding: .75em 0 .75em 0;
}

div.form_label, 
div.form_input, 
div.form_helptip {
	float:left;
	position:relative;
	padding:0 4px 0 4px;
}

div.form_input_right {
	float:right;
	position:relative;
	padding:0 4px 0 4px;	
}

div.form_label{
	width:222px;
	text-align:right;
}

div.form_description{
	color:#000;
}

div.form_description p{
	line-height:1.25em;
	padding:4px 0 0 0;
}

div.form_input{
	position:relative;
	width:450px;
}

.form_input input {
	
}

div.form_helptip{
	width:16px;
	padding:0 10px 0 0;
	z-index:9999;
}

.form_element .form_element {
padding: 0em 0 1em 0;
	
}

.form_input .form_label {
	width:100px;
	text-align:left;
}
.form_input .form_label label {
	color:#000;
	font-weight:normal;
}

.form_input .form_input {
	width:200px;
}

.form_input label {
	display:block;
	position:relative;
	padding:0 0 0 26px;
}

.form_input br {
	line-height:.75em;
}

input[type=radio], input[type=checkbox] {
	width:15px;
	height:15px;
	left:0;
	top:0;
	position:absolute;
	padding:0 6px 0 0;
}

div.form_errors{
}

/* Form in table styling */
td.label {
	width:220px;
}

td.label div.form_element {
	padding:0 0 0 0;
}

td.label div.form_label {
	width:160px;
}

table div.form_input {
	width:310px;
}

#commentstable{
	width:100%;
}

.app-form-small {
	background:#FFF;
	color:#000;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
	padding:8px 8px 8px 8px;

}




.app-form, .app-form-normal {
	background:#FFF;
	color:#000;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
	padding:8px 8px 8px 8px;
}

/** Style to override some situations with double border - To be removed later on**/
div.listings-box div.app-form, 
div.listings-box div.app-form-normal {
	background:#FFF;
	color:#000;
	border:none;
	padding:8px 8px 8px 8px;
}

.form-title {
	padding: 8px 8px 8px 8px;
}

.form-title, .form-title h1, .form-title h2, .form-title h3 {
	background:#B42025;
	color:#FFF;
}

.form-subtitle {
	border-bottom:#B42025 1px solid;
	padding: 8px 8px 8px 8px;
}

.form-subtitle, .form-subtitle h1, .form-subtitle h2, .form-subtitle h3 {
	background:#EBEBEB;
}

/** STEPS **/

.steps{
	margin: 25px 0 10px 0;
	padding:0 0 20px 30px;
	border-bottom:#EBEBEB 1px solid;
}

.survey .steps {
	padding:0 0 20px 0px;
}

.steps li{
	float:left;
	list-style-type:none;
	background:url(/images/icons/next_step.gif) top left no-repeat;
	padding:4px 54px 6px 30px;
	color:#b3b3b3;	
}

.survey .steps li {
	padding:4px 10px 4px 30px;
	width:80px;
}

.steps .current-step {
	color:#666;
	background:url(/images/icons/next_step_current.gif) top left no-repeat;
}


.steps li a{
	color:#b3b3b3;	
	display:block;
}

.steps .current-step a{
	color:#666;
}

fieldset {
	padding:16px 0 16px 0;
	position:relative;
}

legend {
	display:block;
	margin:0px 0 0 0;
	padding:16px 0 8px 0;
}

dd {
	padding:0 0 6px 0;
}

dt {
	padding:0 0 3px 0;
}

.app-form form table {
}


#commentstable {
	width:100%;
}


#commentbox {
	width:100%;
	background-color:#f1f1f1;
	border:1px solid #999999;
	margin:10px 10px 0px 0px;
}

#commentfooter{
	margin:0 0 0 40px;
	padding: 4px;
}
#commentmessage{
	margin:10px 10px 10px 10px;
}

#commentmessage p{
	font-size:1.0em;
}

#commentremove{
	float:right;
	margin:3px 3px 0 0;
}

/* subtable for ratings */
table.subtable {	
	width: 80%;
}

table.subtable tr.row_odd {
	background-color:#fefdfe;
/*	border-bottom:1px solid #666666;*/
}

table.subtable tr.row_even{
	background-color:#f1f1f1;
	/*	border-bottom:1px solid #666666;*/
}

table.subtable td {
	padding: 8px 8px 8px 8px;	
}



form td {
	padding: 8px 8px 8px 8px;
}

form label, form td {
	vertical-align:top;
}

form label {
}

form label[disabled='disabled'] {
  color:#DDD;
}

form td.element {
	color:#000;
}

.form_input.form_error_box {
	border:none;
	background-color:#fff457;
	padding:6px 0 0 2px;
}


ul.errors {
	color:#B42025;
	background-color:#fff457;
	font-weight:bold;
	padding:4px 4px 4px 4px;
	margin:8px 0 0 0;
}

.errors li {
	background:url(/images/icons/form_error.png) no-repeat;
	padding:0 0 0 20px;
	list-style-type:none;
}

.whats-this {
	color:#000;
	position:relative;
	margin:4px 0 0 4px;
}

.whats-this img {
}

.whats-this p {
	display:none;
	position:absolute;
	top:10px;
	left:25px;
	background:#DDD;
	/*border:#333 1px solid;*/
	padding:4px 8px 4px 8px;
	min-width:450px;
	z-index:9999;
}

.submit_buttons {
	padding:10px 0 0 10px;
}

.submit_buttons #mobtest-logo, .submit_buttons #mobsurvey-logo {
float:left;
}

#disabled-feature span{
}

#networktable, 
#handsettable {
	margin:16px 0 0 0;
	padding:0 16px 0 0;
	background:#C1C1C1;
}

#networktable table,
#handsettable table {
background:#F1F1F1;
	margin:8px 8px 8px 8px;
}

#networktable .subtable td,
#handsettable .subtable td {
	border-bottom:#B42025 1px solid;
}

#networktable td.remove,
#handsettable td.remove {
	border-left:#B42025 1px solid;
}

#networktable td.remove a, 
#handsettable td.remove a {
	color:#B42025;
	text-decoration:none;
}

/* ESTIMATES Styling */
.bill-to, .estimate-info {
	width:360px;
	background:#EAEAEA;
	float:left;
	padding:0px 0px 0px 0px;
	margin:0 0 16px 0;
}

.estimate-info {
	float:right;
	margin:0 0 0 16px;
	text-align:right;
}

.estimate-info ul {
	text-align:right;
}

.estimate-info ul, .bill-to ul {
	margin: 10px 10px 10px 10px;
}

.estimate-info li, .bill-to li {
	list-style-type:none;
}


.app-form .header, 
.app-form th,
.app-form-normal .header, 
.app-form-normal th {
	background:#999;
	font-weight:bold;
	padding:10px 10px 10px 10px;
}

.estimate-table {
	margin:0 0 16px 0;
	width:100%;
}

.estimate-table td {
	padding:4px 4px 4px 4px;

}

ol.submit-project {
	list-style-type:decimal;
	margin:0 0 0 18px;
}

/* BORDERS */
.app-form hr,
.app-form-normal hr {
	color:#A7A7A7;
	background:#A7A7A7;
	border:none;
	height:1px;
	margin:4px 0px 4px 0px;
}

tr.form-border-top td,
td.form-border-top, 
div.form-border-top {
	border-top:#A7A7A7 1px solid;
}

tr.form-border-bottom td,
td.form-border-bottom, 
div.form-border-bottom {
	border-bottom:#A7A7A7 1px solid;
}

tr.form-border-bottom-thick td,
td.form-border-bottom-thick, 
div.form-border-bottom-thick {
	border-bottom:#A7A7A7 2px solid;
}

td.form-border-left, 
div.form-border-left {
	border-left:#A7A7A7 1px solid;
}

td.form-border-right, 
div.form-border-right {
	border-right:#A7A7A7 1px solid;
}

/** BUTTONS **/
.button-row {
	text-align:right;
}

.button {
	width:150px;
	float:right;
	padding:0 16px 0 0px;
}

#previous, #next,
.submit_buttons #submit,
.button #register,
.submit_buttons #cancel,
.submit_buttons #applybutton,
.submit_buttons #startover,
.submit_buttons #pay-now,
.submit_buttons #escrowfunds {
	border:none;
	cursor:pointer;
	width:150px;
	height:49px;
	display:block;

}

.submit_buttons .button input#submit {
	text-indent:-9999px;
}

.submit_buttons .button input#applybutton {
	text-indent:-9999px;
}

/*.submit_buttons #submit {
background:url(/images/buttons/submit_red.jpg);
}*/

.submit_buttons #cancel, 
.submit_buttons #startover {
background:url(/images/buttons/cancel_red.gif);
}

.submit_buttons #pay-now {
background:url(/images/buttons/pay_now_red.gif);
}

.button #register {
	background:url(/images/buttons/register_red.gif);
}

.submit_buttons #escrowfunds {
	background:url(/images/buttons/escrow_funds_red.gif);
	/* width:200px; */
}

#previous {
	background:url(/images/buttons/previous_step_red.jpg);
}

#next{
	background:url(/images/buttons/next_step_red.jpg);
}

#startover{
	background:url(/images/buttons/previous_step_red.jpg);
}



.submit_buttons #apply-now, .submit_buttons #continue {
	padding:0 16px 16px 0;
}

.submit_buttons #apply-now a, 
.submit_buttons #continue a, 
.submit_buttons a#cancel {
	width:150px;
	height:49px;
	display:block;
}

.submit_buttons #apply-now span, 
.submit_buttons #continue span,  
.submit_buttons a#cancel span {
	display:none;
}

.submit_buttons #apply-now a {
	background:url(/images/buttons/apply_now_red.gif);
}

.submit_buttons #continue a {
	background:url(/images/buttons/continue_red.gif);
}

/*
#applybutton{
	text-indent:-9999px;
	width:150px;
	height:49px;
	border:0;
	margin:0 32px 16px 0;
}
*/

#addcarrier, 
#addmodel,
#addmodel2{
	text-indent:-9999px;
	width:67px;
	height:20px;
	border:0;
	margin:0 32px 16px 0;
	display:block;
}


#sendbutton,
#addcomment,
#addpost
#addimage,
#getPDF,
#btnuploadPlan,
#btntestOutput,
#btngenFiles,
#btnndaFile,
#btnscreenShots,
#btndocumentation {
	text-indent:-9999px;
	width:67px;
	height:20px;
	border:0;
	margin:0 32px 16px 0;
}

#attachdoc {
	text-indent:-9999px;
	width:65px;
	height:20px;
	border:0;
	margin:0 10px 16px 0;
}

a#addimage {
	display:block;
}

#addimage span {
	display:none;
}

#getPDF,
#btnuploadPlan,
#btntestOutput,
#btngenFiles,
#btnndaFile,
#btnscreenShots,
#btndocumentation {
/*	float:right; */
}

.submit_buttons #applybutton {
	background:url(/images/buttons/apply_now_red.gif) no-repeat;
}

#addcarrier, 
#addmodel, 
#addmodel2,
#addimage {
/* float:right; */
	background:url(/images/buttons/add_button.gif) no-repeat;
}

#addcomment,
#addpost
{
	background:url(/images/buttons/comment_button.gif) no-repeat;	
}

#attachdoc{
	background:url(/images/buttons/add_attachment_button.gif) no-repeat;
}

#sendbutton {
	margin:15px 15px 5px 10px;
	background:url(/images/buttons/send_button.gif) no-repeat;
}

#addimage {
	margin:2px 0 0 60px;
}

#addcomment {
	margin:15px;
}

#addpost {
	margin:15px;
}

#attachdoc {
	margin:15px;
}

#getPDF {
	background:url(/images/buttons/get_doc_button.gif) no-repeat;
}

#btnuploadPlan,
#btntestOutput,
#btngenFiles,
#btnndaFile,
#btnscreenShots,
#btndocumentation {
	background:url(/images/buttons/upload_button.gif) no-repeat;
	margin:2px 0 0 60px;
}

.btnAdd{
	background:url(/images/buttons/upload_button.gif) no-repeat;
	margin:2px 0 0 60px;	
	border:0 none;
	height:20px;
	text-indent:-9999px;
	width:67px;
}


#viewProject, 
#printEst, 
#submitProject, 
#edit_image {
	text-indent:-9999px;
	width:155px;
	height:20px;
	border:0;
	margin:0 0px 16px 0;
	cursor:pointer;
}

#viewProject {
	background:url(/images/buttons/view_project_public_profile.gif) no-repeat;
}

#printEst {
	background:url(/images/buttons/view_printable_estimate.gif) no-repeat;
}

#submitProject {
	background:url(/images/buttons/submit_project_to_m4h.gif) no-repeat;
}

#edit_image {
	width:140px;
	background:url(/images/buttons/edit_image.gif) no-repeat;
}

.clear-form {
	background:url(/images/buttons/clear_form_button.gif);
	width:106px;
	height:20px;
	display:block;
	border:0;
	cursor:pointer;
	text-indent:-9999px;
}

.clear-form span{
	display:none;
}

.save-draft {
	background:url(/images/buttons/save_draft_button.gif);
	width:59px;
	height:20px;
	display:block;
	border:0;
	cursor:pointer;
	text-indent:-9999px;	
}

.save-draft span {
	display:none;
}

.form_element .form_input #networktable, 
.form_element .form_input #handsettable {
	margin:32px 0 10px 0;
}

.form_input .form_input #addcarrier, 
.form_input .form_input #addmodel, 
.form_input .form_input #addmodel2 {
	margin:0 32px 16px 134px;
}

hr {
	color:#A7A7A7;
	background:#A7A7A7;
	border:none;
	height:1px;
	margin:16px 0px 16px 0px;
}