/* the overlayed element */ 
.file_overlay { 
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#FFF; 
     
    width:340px;     
    min-height:140px; 
    border:1px solid #666; 
    padding:10px 10px 10px 10px; 
	 
    /* CSS3 styling for latest browsers */ 
    -moz-box-shadow:0 0 90px 5px #000; 
    -webkit-box-shadow: 0 0 90px #000;     
} 
 
/* close button positioned on upper right corner */ 
.file_overlay .close { 
    background:url(/images/overlay/close.png) no-repeat; 
    position:absolute; 
     right:-18px; 
    top:-18px; 
    cursor:pointer; 
    height:36px; 
    width:36px; 
}

