/* Select All / None Tabs */
div.item-icon input.item-selector{
	position:relative;
	bottom:20px;		
}

div.item-selector{
	background-color:#e6e6e6;
	height:13px;
	padding:10px;
	font-weight:bold;
	margin:15px;	
}

div.item-selector ul.action-tab-inv, 
div.item-selector ul.action-tab,
div.item-selector ul.action-tab-grp{
	border:0; 
	margin-left:auto;
	float:right;
	margin-top:-8px;
}

div.item-selector li{
	background: transparent;
	border:0; margin:0; padding:0;
	list-style:none;
	display: inline;
    float:right;
}

div.item-selector li a{
	clear:none;
}

/* Pagination Tabs */
div.item-pagination{
	clear:both;
 	position: relative;
    width: 100%;
    height: 3em;
}

div.item-pagination ul.pagination-tab{
	border:0; 
	margin-left:auto;
	margin: 4px; 
	padding:0;
}

div.item-pagination  li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
}
div.item-pagination li a{
	border:solid 1px #DDDDDD;
	margin-right:2px;
}
div.item-pagination  li.previous-off,
div.item-pagination  li.next-off {
	color:#DDDDDD;
	display:block;
	float:left;
	font-weight:bold;
	padding:3px 4px;
}
div.item-pagination li.next a,
div.item-pagination li.previous a {
	font-weight:bold;
	border:solid 1px #FFFFFF;
}

div.item-pagination li a.active{
	border:none;
	color:#B42025;
	font-weight:bold;
	display:block;
	float:left;
	padding:3px 6px;
}

div.item-pagination a:link,
div.item-pagination a:visited {
	color:gray;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
div.item-pagination a:hover{
	border:solid 1px #666666;
}


/* Navigation Tabs */
div.item-navigation{
	clear:both;
 	position: relative;
    width: 100%;
    height: 3em;	
}

div.item-navigation ul.navigation-tab{
	float:right;
	margin: 0;
    padding: 0;
    bottom: -1px;
    width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

div.item-navigation ul.navigation-tab li{
	display: inline;
    list-style: none;
    float:right;

}

div.item-navigation ul.navigation-tab li a{
	background: #FFFFFF;
    border:#bfbfbf 3px solid;	
    display: block;
    padding: 4px 5px 0px 5px;
    margin: 1px 0px 10px 10px;
    text-align: center;
    font-size: 85%;
    text-decoration: none;
    width:60px;

}

div.item-navigation ul.navigation-tab li a.current{
	width: 8em;
    border-bottom: none;
    display: block;
   padding: 4px 5px 4px 5px;
    margin: 1px 0px 10px 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    width:60px;
}


/* Solid border for wrapping items */
div.wall{
	border:#bfbfbf 2px solid;	
	margin-top:1px;
	background-color:white;		
}

div.group{
	border:#bfbfbf 2px solid;	
	margin-top:-1px;
	background-color:white;		
}

div.contact{
	border:#bfbfbf 2px solid;	
	margin-top:-1px;
	background-color:white;		
}

div.project{
	border:#bfbfbf 3px solid;	
	padding:10px;
	margin-top:-3px;
	background-color:white;		
}

.project .change-summary{
	background-color:#e6e6e6;
	height:13px;
	padding:10px;
	font-weight:bold;
	margin-bottom:10px;
}

/* Item class */
.item{
	font-size:1.3em;
	margin-bottom:2px;
	background:#FFF;
	clear:both;
}

.item .change-summary{
	background-color:#e6e6e6;
	height:13px;
	padding:10px;
	font-weight:bold;
	margin-bottom:10px;
}

.item span.title{
	color: #B42025;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-weight: bold;
	float: left;
	font-size: 1.6em;
}

.item span.title a{
	color: #B42025;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-weight: bold;
	float: left;
	text-decoration:none;
}



.item .change-summary span.no-change{
	color:#808080;
}

.item .change-summary span.change{
	color:#00a651;
}

.item .item-icon{
	float:left;
	width:100px;
	text-align:center;	
}


.item .item-action{
	float:right;	
	width:135px;	
}

.item .item-action span.info{
	float: left;
	clear: both;
	padding: 0 0 0 5px;
	margin: 5px 0;	
	font-size: 11px;
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-weight: bolder;
	letter-spacing:0px;
}

.item .item-info
{
	margin-left:110px;
	margin-right:150px;
	padding-bottom:30px;
	clear:none;
	display:table;
}

.item .item-info h3.title{
	float:left;
	width:400px;
	font-size:1.6em;	
}


.item .item-info table.item-summary{
	float:left;
	position:relative;
	margin-top:10px;
	margin-right:170px;
	width:100%;
}


.item .item-info table.item-summary td.info-label{
	padding:4px 2px;
	text-align:right;
	color:#808080;
	width:50px;
}

.item .item-info table.item-summary td.value{
	padding:4px 2px;
	text-align:left;
	color:#000;
	font-weight:bold;
}

.item .item-info table.item-summary .footer{
	color:#666;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	float: left;
	font-size: 0.8em;
	font-style:italic;
	font-weight:normal;
}


.item .item-info table.item-summary td.status{
	color:#00a651;
}

.item span.link{
	color:#BE1E2D;
	font-weight:bold;
	margin-bottom:0;
	margin-bottom:8px;
}

.item  span.link a{
	text-decoration:none;
	color:#BE1E2D;
}

.item  span.italic-grey{
	font-style:italic;
	color:#666;
	font-weight:normal;
	margin-bottom:5px;
}


/*
* For Stylized Buttons
*/

div.sbutton-active{
	float: left;
	clear: both;
	background: url(/images/buttons/button_left.gif) no-repeat;
	padding: 0 0 0 5px;
	margin: 5px 0;
}

div.sbutton-active a{
	float: left;
	height: 20px;
	background: url(/images/buttons/button_mid.gif) repeat-x top left;
	line-height: 20px;
	padding: 0 10px;
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-weight: bolder;
	letter-spacing:0px;
}

div.sbutton-active span{
	background: url(/images/buttons/button_right.gif) no-repeat;
	float: left;
	width: 10px;
	height: 20px;
}


div.sbutton-inactive{
	float: left;
	clear: both;
	background: url(/images/buttons/button_left.gif) no-repeat;
	padding: 0 0 0 5px;
	margin: 5px 0;
}

div.sbutton-inactive a{
	float: left;
	height: 20px;
	background: url(/images/buttons/button_mid.gif) repeat-x top left;
	line-height: 20px;
	padding: 0 10px;
	color: #444;
	font-size: 11px;
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, san-serif;
	font-weight: bolder;
	letter-spacing:0px;
}

div.sbutton-inactive span{
	background: url(/images/buttons/button_right.gif) no-repeat;
	float: left;
	width: 10px;
	height: 20px;
}


