body,html {
	font-size:1em;
	margin: 2px 2px 2px 2px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #333;
	background: #fff;
}

*{
	margin:0;
	padding:0;
}

h1 {
	font-size:1.4em;
	color: #000080;
	background-color: transparent;
}

#content {
	margin: 0 0px 0 0px;
	padding:0 0 0 0;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
}

#logo-box {
	height:12px;
	background:#B42025;
	text-align:center;
	vertical-align:top;
}

#logo {
	width:117px;
	height:12px;
	margin:auto;
}

#logo img {
	display:block;
}

#formbutton {
	margin-left: 100px;
}

a {
	color: #000080;
}

#message {
	margin: 10px 0;
	color: #f00;
}

#logged-in {
    margin-top: 3em;
    font-size: 90%;
}

#nav li{
background:#EEE;
border-bottom:#999 1px solid;
padding:0 0 0 0;
margin:0 0 0 0;
padding:8px 8px 8px 8px;
list-style:none;
}

#nav a{
	color:#B42025;
	background:url(/images/mobile/arrow.gif) right center no-repeat;
	width:97%;
	text-decoration:none;
	display:block;
}

#main-content {
	font-size:0.75em;
	padding:12px 8px 8px 8px;
}



#footer {
	font-size:.75em;
	text-align:center;
	background:#B42025;
	color:#fff;
}


dd {
	padding:0 0 6px 0;
}

ul.errors {
	color:#B42025;
	background:#FF0;
	border:#B42025 1px solid;
	font-weight:bold;
	padding:4px 4px 4px 4px;
	margin:8px 0 0 0;
}

.errors li {
	list-style-type:none;
	background:url(/images/icons/form_error.png) no-repeat;
	padding:0 0 0 20px;
}

.list {
	padding:0 0 0 20px;
}


/** ROUNDED CORNERS **/
.rtop{display:block; background:#FFF;}
.rbottom{display:block; background:#FFF;}
.rtop b, .rbottom b{display: block; background:#FFF; height: 1px; overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}

.rtop.red b, .rbottom.red b {
	background:#b42025;
}
