/*  styles for the unit rater
--------------------------------------------------------- 
ryan masuga, masugadesign.com
ryan@masugadesign.com 
Licensed under a Creative Commons Attribution 3.0 License.
http://creativecommons.org/licenses/by/3.0/
See readme.txt for full credit details.
--------------------------------------------------------- */

.ratingblock 
{
	display:inline;
	padding-bottom:8px;
	margin-bottom:8px;
}

.td-rating .pro
{
	float: right;
	margin-top: -18px;
	margin-right: 33px;
}

.project-view-rating .pro
{
	float: right;
	margin-top: -18px;
	margin-right: 20px;
}


.loading 
{
	height: 20px;
	background: url('../images/working.gif') 50% 50% no-repeat;
}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 20px;
/*	position: relative; */
	background: url('../images/starrating.png') top left repeat-x;		
	}

.unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.unit-rating li a {
	outline: none;
	display: inline;
	width:20px;
	height: 20px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	/* position: absolute; */
	padding: 0px;
	}
	
.unit-rating li a:hover{
	background: url('../images/starrating.png') left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:20px;}
.unit-rating a.r2-unit{left:20px;}
.unit-rating a.r2-unit:hover{width: 40px;}
.unit-rating a.r3-unit{left: 40px;}
.unit-rating a.r3-unit:hover{width: 60px;}
.unit-rating a.r4-unit{left: 60px;}	
.unit-rating a.r4-unit:hover{width: 80px;}
.unit-rating a.r5-unit{left: 80px;}
.unit-rating a.r5-unit:hover{width: 100px;}
.unit-rating a.r6-unit{left: 100px;}
.unit-rating a.r6-unit:hover{width: 120px;}
.unit-rating a.r7-unit{left: 120px;}
.unit-rating a.r7-unit:hover{width: 140px;}
.unit-rating a.r8-unit{left: 140px;}
.unit-rating a.r8-unit:hover{width: 160px;}
.unit-rating a.r9-unit{left: 160px;}
.unit-rating a.r9-unit:hover{width: 180px;}
.unit-rating a.r10-unit{left: 180px;}
.unit-rating a.r10-unit:hover{width: 200px;}

.unit-rating li.current-rating {
	background: url('../images/starrating.png') left bottom;
/*	position: absolute; */
	margin: 0 0 0 0;
	width: 20px;
	height: 20px;
	display: inline;
	text-indent: -9000px;
	z-index: 1;
	}

.voted {color:#999;}
.thanks {color:#36AA3D;}
.static {color:#5D3126;}		