/* Styles specific to individual pages */

form.managed-form,
form.managed-form p{
	font-size:12px;
}

form.managed-form label,
form.managed-form label span{
	display:block;
	padding:0 0 20px 0;
}

form.managed-form label{
	float:left;
	width:100%;
}

form.managed-form label span{
	float:left;
	width:45%;
	text-align:right;
	width:145px;
	color:#B42025;
	font-weight:bold;
	padding:0;
	margin:-5px 10px 0 0;
	vertical-align:top;
	line-height:1.5em;
}

form.managed-form input#submit-grpahicbutton{
	float:left;
	margin-left:150px;
}

div#infostretch-banner{
	background: url(/images/banner-infostretch.gif) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
}

div#infostretch-banner h1{
	width:375px;
	padding: 25px 0 10px 35px;
	font-size:1.7em;
}

div#partnerpage-column-left,
div#partnerpage-column-middle,
div#partnerpage-column-right{
	width:225px;
}

div#perfecto-banner{
	background: url(/images/banner-perfecto.jpg) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
}

div#navteq-banner{
	background: url(/images/banner-navteq.jpg) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
}

div#container-blue-top{
	background: url(/images/container-blue-top.gif) no-repeat scroll 0 0;
	height:11px;
	width:224px;
	margin:0;
}

div#container-blue-mid{
	background: url(/images/container-blue-mid.gif) repeat-y scroll 0 0;
	width:224px;
	min-height:100px;
	padding-bottom:10px;
}

div#container-blue-bottom{
	background: url(/images/container-blue-bottom.gif) no-repeat scroll 0 0;
	width:224px;
	height:11px;
	
}

div#container-blue-mid h2{
	margin:10px 10px 10px 10px;
	width:120px;
	float:left;	
	font-size:0.9em;
}

div#container-blue-mid h2.short{
	width:100px;	
}

div#container-blue-mid p{
	margin: 0 10px;	
}

div#container-blue-mid img.icon{
	margin-bottom:10px;
}