
/*****Styles for Homepage*****/

div#container_splash{
	width:964px;
	height:325px;
	margin:0 auto;
	background: url(/images/splash_content_bg.gif) top left no-repeat;
	padding: 9px;
}

.anythingSlider {
	width:696px;
	height:268px;
 position: relative;
 margin: 5px auto 15px;
 }
.anythingSlider .wrapper { 
	width: 680px;
 overflow: auto;
 height: 341px;
 margin: 0 30px 0 10px;
 position: absolute;
 top: 0;
 left: 0;
 }
.anythingSlider .wrapper ul {
	width: 99999px;
 list-style: none;
 position: absolute;
 top: 0;
 left: 0;
 margin: 0;
 }
.anythingSlider ul li {
	display: block;
 float: left;
 padding: 0;
 height: 268px;
 width: 680px;
 margin: 0;
 }
.anythingSlider .arrow { 
	display: block;
 height: 200px;
 width: 67px;
 text-indent: -9999px;
 position: absolute;
 top: 65px;
 cursor: pointer;
 }
.anythingSlider .forward {
	background-position: 0 0;
 right: -20px;
 }
.anythingSlider .back {
	background-position: -67px 0;
 left: -20px;
 }
.anythingSlider .forward:hover {
	background-position: 0 -200px;
 }
.anythingSlider .back:hover {
	background-position: -67px -200px;
 }
#thumbNav, #start-stop {
	display:none;
}


div#container_splash div#splash_content{
	width:692px;
	height:268px;
	float:left;	
}

div#container_splash div#splash_content h2{
	color:#666666;
	font-size:36px;
	line-height:1.1em;
	margin-left:100px;
	margin-top:50px;
}

div#container_splash div#splash_content p{
	color:#666666;
	margin:0 0 33px 100px;
	font-size:18px;
	width:450px;
	line-height:1.3em;
	font-weight:normal;
}

div#container_splash div#splash_content a.button_registernow_large{
	margin:0 0 0 100px;
	
}

div#container_splash div#callout_panels{
	float:right;
	width:267px;
	height:264px;
	margin: 5px 3px 0 0;
	background-color:#FFFFFF;
	
	
}

div#callout_panels ul{	
	overflow:auto;
	background-color:#FFFFFF;
	margin:0;
}

div#callout_panels ul li{
	list-style-type:none;
	width:125px;
	height:131px;
	
	float:left;
	display:inline;
	margin:0 0 5px 5px;
	
	
}

div#callout_panels ul li a{
	display:block;
	height:131px;
	width:125px;
	text-indent:-9999px;
}

div#callout_panels ul li a#mobile-user{
	background:url(../images/callout_panel_mobile_users.gif) no-repeat 0 0;
	
}

div#callout_panels ul li a#mobile-user:hover{
	background:url(../images/callout_panel_mobile_users.gif) no-repeat 0 -131px;
}

div#callout_panels ul li a#developers{
	background:url(../images/callout_panel_developers.gif) no-repeat 0 0;	
}

div#callout_panels ul li a#developers:hover{
	background:url(../images/callout_panel_developers.gif) no-repeat 0 -131px;	
}

div#callout_panels ul li a#carriers{
	background:url(../images/callout_panel_carriers.gif) no-repeat 0 0;
}

div#callout_panels ul li a#carriers:hover{
	background:url(../images/callout_panel_carriers.gif) no-repeat 0 -131px;
}

div#callout_panels ul li a#researchers{
	background:url(../images/callout_panel_researchers.gif) no-repeat 0 0;	
}

div#callout_panels ul li a#researchers:hover{
	background:url(../images/callout_panel_researchers.gif) no-repeat 0 -131px;	
}


/*div#callout_panels ul li a span.title{
	color:#999999;
	font-size:14px;
	font-weight:bold;
	margin:0 0 4px 0;
	display:block;
	line-height:0.95em;
	text-transform:uppercase;
}

div#callout_panels ul li a span.text{
	display:block;
	margin-bottom:8px;
}

div#callout_panels ul li a span.link{
	color:#999999;
	display:block;
	line-height:1.2em;
}*/

/*div#callout_panels ul li a:hover{
	
	background-color:#4c4846;
}*/

div#container_splash div#horizontal_bar{
	position: relative;
	width:945px;
	height:50px;
	overflow:auto;
	line-height:1.3em; 
	margin:0 10px;
	padding-top:10px;
	clear:both;
	background:none;
}

div#container_splash div#horizontal_bar div#site_stats_title{
	float:left;	
	margin-top:7px;
}

div#container_splash div#horizontal_bar div#site_stats_content{
	float:left;
	margin:7px 0 0 5px;
	width:550px;
	
	
}

div#container_splash div#horizontal_bar div#container_verified_seals{
	float:right;
	width:170px;
	
	
}

div#container_verified_seals .getQuoteButton
{
	position: absolute;
	right: 132px;
	bottom: 9px;
}


div#home_news_ticker{
	width:962px;
	height:18px;
	margin:20px 0 20px 0px;
	padding:9px;
	background:url(/images/layout/ticker_bg.gif) no-repeat;

	color:#666666;
	font-size:14px;
}

div#home_news_ticker span.label{
	font-weight:bold;
	margin-right:10px;
}

div#home_news_ticker a{
	color:#666666;
	text-decoration:none;
}

div#home_news_ticker a:hover{
	color:#666666;
	text-decoration:underline;
}

#home_news_ticker #buzz_title {
	float:left;
	width:50px;
	padding:0 10px 0 0;
}

#home_news_ticker #feedControl {
	float:left;
	width:725px;
}


#home_news_ticker .gfg-title, #home_news_ticker .gf-author, #home_news_ticker .gf-relativePublishedDate, #home_news_ticker .gf-snippet, #home_news_ticker .gf-spacer, #home_news_ticker .gfg-list {
	display:none;
}

div#container_home_panels{
	margin: 8px 0px 0 0px;
	font-size:14px;
	line-height:1.2em;
}

div#container_home_panels h3{
	color:#333333;
	font-size:20px;
	line-height:1.5em;
}

div#container_home_panels div.panel_left{
	float:left;
	width:310px;
	height:240px;
	/* padding:7px; */
	/* background:#FFFFFF url(/images/panel-homepage-new-projects.gif) no-repeat; */
}

#top_new_projects {
	padding:0 0 0 0;
	margin:0 0 0 0;
}
#new_projects_title {
	float:left;
	width:200px;
}

#new_projects_rss {
	float:right;
	width:30px;
	height:30px;
	padding:0px 40px 0 4px;
}
#new_projects_twitter {
	float:right;
	display:block;
	width:30px;
	height:37px;
	padding:10px 5px 0 4px;
}

#content_new_additions table {
	font-size:10px;
	width:285px;
	margin:0 5px 15px 5px;
}

#content_new_additions td {
	padding:4px 4px 4px 4px;
}

#content_new_additions td.project_name {
	width:100%;
}

#content_new_additions td.project_name a{
	font-size:12px;
	color:#000;
}

#content_new_additions td.type,
#content_new_additions td.date{
	width:60%;
}

div#container_home_panels div.panel_middle{
	float:left;
	width:310px;
	height:240px;
	margin:0px 10px 0 10px;
	/*background:#FFFFFF url(/images/panel-homepage-how-m4h.gif) no-repeat;*/
}



#m4h_work_video{
	/*padding:40px 35px 0 35px;*/
	width:310px;
	height:239px;
	margin:0px 0px 0px 2px;
	background:#FFFFFF url(/images/panel-homepage-blank.gif) no-repeat;
}

div#container_home_panels div.panel_right{
	float:left;
	width:310px;
	height:240px;
	margin:-1px 0 0px 10px;
	background:#FFFFFF url(/images/panel_white_294x240.gif) no-repeat;
	cursor: pointer;
	cursor: hand;
}

#home_testimonials {
	width:250px;
	height:220px;
	padding:0 0 0 0;
	margin:0 0 0 0;
	background:url(/images/testimonials/pta_award_redherring100.jpg) no-repeat;
}

#home_testimonials div {
	display:none;
}

#testimonial-red_herring_100 {
	width:250px;
	height:220px;
	background:url(/images/testimonials/pta_award_redherring100.jpg) no-repeat;
}
#testimonial-navteq {
width:250px;
height:220px;
background:url(/images/testimonials/pta_partner_navteq.jpg) no-repeat;
}
#testimonial-o2 {
width:250px;
height:220px;
	background:url(/images/testimonials/pta_partner_o2.jpg) no-repeat;
}
#testimonial-immi {
width:250px;
height:220px;
	background:url(/images/testimonials/pta_testimonial_immi.jpg) no-repeat;
}

#home_testimonials span {
	display:none;
}

div.panel_left div#content_meet_us img.icon_dude{
	float:left;
	width:61px;
	height:151px;
	margin-right:10px;
}

div.panel_left div#content_meet_us img.rss_icon{
	float:none;
	margin: 0 10px 0 200px;
	width:30px;
	height:30px;
		
}


div.panel_left div#content_meet_us div.content{
	float:right;
	margin:0;
	width:200px;
	
}

div.panel_left div#content_meet_us ul{	
	padding: 0 5px 0 10px;
}

div.panel_left div#content_meet_us ul li{
	margin-bottom:7px;	
}

div#content_new_additions h4{
	color:#333333;
	font-size:16px;
	line-height:1.5em;
	margin-bottom:5px;
}

div#content_new_additions div#new_handsets{
	width:120px;
	float:left;
	margin: 0 5px 0 0;
}

div#content_new_additions div#new_projects{
	width:115px;
	float:right;
	margin: 0 20px 0 5px;
}

div#content_new_additions div#new_handsets ul{
	list-style-type:disc;
	padding-left:10px;
	line-height:1.0em;
}

div#content_new_additions div#new_projects ul{
	list-style-type:none;
}

div#content_new_additions ul li{
	margin-bottom:5px;
}

div#content_tweets img.icon_twitter{
	float:left;
	width:88px;
	height:115px;
}

div#content_tweets div.content{
	float:right;
	margin:0;
	width:170px;
}

div#content_tweets div.content div.dynamic_content{
	width:150px;
	height:150px;
	overflow:hidden;
}



div#home_about{
	margin:12px 0 0 0px;
	width:982px;
}

/*div#home_about h3{*/
/*	font-size:28px;
	line-height:1.2em;
	color:#cc0000;
*/	/*margin-bottom:10px;
margin-top:25px;
	background:url(../images/header-what-is-m4h.gif) no-repeat;
	text-indent:-9999px;
	width:240px;
	height:25px;
}*/


/** Registration page **/
#container_registration_left form#register div.form_label {
	width:160px;
	padding:0 10px 0 0;
}

#container_registration_left form#register div.form_input {
	width:330px;
	padding:0 0px 0 0;
}

#register #agreement-element {
	float:left;
}

#register label, #register label a{
	color:#000;
}

#register .form_helptip{
	display:none;
}

/* this block is effing up my rating stars. Where do these margin values actually apply? */
/* They are applied in pages that have three column layout, such as the navteq landing page. -DT.  */
div#container_column_middle ul li,
div#container_column_middle ol li{
/*	margin:0 0 25px 20px; */
	margin:0 0 0 0;
	/* list-style-type:disc; */
}

div#container_column_middle ol{
	margin:0 0 15px 25px;	
}

div#container_column_middle ol li{
	list-style-type:decimal;
	margin: 0 0 3px 0;
}

div#container_column_middle ul.no-bullets li {
	list-style-type:none;
}

div#container_column_middle div#award-container{
	margin-top:35px;
	
}

div#container_column_middle div.award_item{
	clear:both;
	margin-top:10px;
	padding: 0 0 25px 0;
}

div.award_graphic{
	float: left;
	width:150px;
	
}

div.award_graphic a img{
	
}

div.award_item div.description{
	margin:0 0 0 15px;
	width:310px;
	float:left;
}

div.award_item div.description h4{
	margin-top:0;
}

div.award_item div.description p{
	margin-bottom:0;	
}



.twtr-widget {
	position: absolute;
	top: 0px;
}




/*****Styles for 2 Column Layout (Left wide, right narrow)*****/
div#container_column_middle_wide{
	position: relative;
	float:left;
	padding:0 0 0 16px;
	width:760px;
	
}
div#container_column_middle_wide h2{
	color:#b42025;
}

#container_column_middle_wide h3{
	margin:0em 0 0.25em;
}

/*****Styles for 2 Column Landing Pages*****/
div.middle_wide_row{

	width:100%;
}

div.middle_wide_row ul.menu_pages{
	list-style-type:none;
	margin:0 0 0 0;
}

div.middle_wide_row ul.menu_pages li{
	display:inline;
	float:left;
	width:180px;
}

div.middle_wide_row ul.menu_pages li a{
	text-decoration:none;
}

div.middle_wide_row ul.menu_pages li a span.title{
	color:#333333;
	font-size:12px;
	font-weight:bold;
	margin-bottom: 10px;
	display:block;
	line-height:0.95em;
	text-transform:uppercase;
}

div.middle_wide_row ul.menu_pages li a span.text{
	color:#999999;
	font-size:10px;
	margin: 0;
	display:block;
	line-height:1.1em;
}

div.middle_wide_row ul.menu_pages li a span.link{
	color:#999999;
	font-size:10px;
	margin-top: 10px;
	display:block;
	line-height:1.1em;
}

div.middle_wide_row ul.menu_pages a.link_projects{
	display:block;
	background:url(/images/img_projects.jpg) no-repeat;
	width:93px;
	height:102px;
	padding:25px 10px 10px 80px;
}

div.middle_wide_row ul.menu_pages a.link_handsets{
	display:block;
	background:url(/images/img_handsets.jpg) no-repeat;
	width:93px;
	height:102px;
	padding:25px 10px 10px 80px;
}

div.middle_wide_row ul.menu_pages a.link_surveys{
	display:block;
	background:url(/images/img_surveys.jpg) no-repeat;
	width:93px;
	height:102px;
	padding:25px 10px 10px 80px;
}

div.middle_wide_row ul.menu_pages a.link_developers{
	display:block;
	background:url(/images/img_developers.jpg) no-repeat;
	width:93px;
	height:102px;
	padding:25px 10px 10px 80px;
}

div.middle_wide_row ul.menu_pages a.link_testers{
	display:block;
	background:url(/images/img_testers_mobusers.jpg) no-repeat;
	width:93px;
	height:112px;
	padding:15px 10px 10px 80px;
}

div.middle_wide_row ul.menu_pages a.link_dev_net{
	display:block;
	background:url(/images/img_developer_nets.jpg) no-repeat;
	width:93px;
	height:112px;
	padding:15px 10px 10px 80px;
}

div.middle_wide_row ul.menu_pages a.link_market_resrch{
	display:block;
	background:url(/images/img_market_resrch.jpg) no-repeat;
	width:93px;
	height:112px;
	padding:15px 10px 10px 80px;
}


ul.menu_links_buzz{
	list-style-type:none;
	margin-left:30px;
	display:inline;
}

ul.menu_links_buzz li{
	margin:0 0 0 15px;
	float:left;
	font-weight:bold;
	
}

/*****styles for Right Wide Column (of a 2 column layouy*****/
div#container_column_right_wide{
	margin-left:235px;
	width:740px;
	
	min-height:200px;
}

div#container_column_right_wide h2{
	color:#b42025;
	font-size:34px;
	line-height:1.1em;
	margin-top: 15px;
	margin-bottom:15px;
}



div#container_column_right_wide h3{	
	font-size:28px;
	line-height:1.1em;
	margin-top: 15px;
	margin-bottom:15px;
}
	
div#container_column_right_wide h4{
	font-size:24px;
	line-height:1.1em;
	margin-top: 15px;
	margin-bottom:15px;
}
	
	
div#container_column_right_wide p{
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 25px;
}


/******Styles for The Mob Pages *****/
img.services-chart{
	margin-bottom:20px;	
}


/*****Styles for tables: Projects, Handsets, Surveys *****/
table.current_projects,
table.current_handsets{
	width: 715px;
	/* changed from 760px. didn't fit on app/profile/mobster */
	border:#e5e5e5 1px solid;	
}

table.current_surveys{
	width: 740px;
	font-size:10px;
	border:#e5e5e5 2px solid;
}

table.current_projects th,
table.current_handsets th{
	background:#b42025;
	color:#FFFFFF;
	padding:15px 10px;
}


table.current_handsets .description-column {
  width:165px;
}

table.current_handsets .test-countries {
  width:100px;
}

table.current_surveys th{
	background-color:#666666;
	color:#FFFFFF;
	height:45px;
	font-size:12px;
}

table.current_projects th a,
table.current_handsets th a,
table.current_surveys th a{
	color:#FFFFFF;
}

table.current_projects td,
table.current_handsets td,
table.current_surveys td{
	text-align: center;
	border-bottom:#CCCCCC 1px solid;
	padding: 8px;
}

table.current_projects tr.row_odd,
table.current_handsets tr.row_odd,
table.current_surveys tr.row_odd {
	background-color:#fefdfe;
}

table.current_projects tr.row_even,
table.current_handsets tr.row_even,
table.current_surveys tr.row_even{
	background-color:#f1f1f1;
}

table.current_projects td.footer_nav_results,
table.current_handsets td.footer_nav_results,
table.current_surveys td.footer_nav_results{
	text-align:right;
	padding-right:40px;
}

/*For handset styles only*/
table.current_handsets td.footer_nav_results{
	text-align:right;
	padding:20px 40px 0 0;
	background-color:#999;
	text-align:right;
	padding:8px 8px 8px 0px;
	text-align:right;
}

table.current_handsets td.footer_nav_results ul{
	margin:0;
	padding:5px 0;
}

table.current_handsets td.footer_nav_results li {
	display:inline;
	font-weight:bold;
	color:#FFF;
}

table.current_handsets td.footer_nav_results a {
	padding:0px 4px 0px 4px;
	font-weight:normal;
	color:#FFF;
}



/******Styles for tester and developer landing page submenus*****/
ul.menu_links_developers,
ul.menu_links_testers{
	margin: 10px 0 10px 25px;
	list-style-type:none;	
}

ul.menu_links_developers li,
ul.menu_links_testers li{
	margin-bottom:10px;
}

/*****Styles for Developer Page, Media Page*****/
div.middle_row{
}

div.middle_row a.banner{
	width:222px;
	float:left;
	height:159px;
	margin: 10px 10px 10px 0;
}

div.middle_row_partner{
	padding:0 0 16px 0;
	width:748px;
	clear:both;
}

.partner_logo{
	width:200px;
	float:left;
	margin: 0;
}

.partner_logo img {
	display:block;
}

div.middle_row_partner div.description{
	float:left;
	width:510px;
	padding: 0 16px 0 16px;
}

div.middle_row_partner div.description h3, div.middle_row_partner div.description h4 {
	margin:0 0 0.5em 0;
}

div.middle_row_partner div.description h3 a{
	color:#333333;
}



/*****Styles for Press Releases Page*****/
ul.press_releases{
	margin:0 0 0 5px;
}

/*****Styles for Press Coverage Page*****/
ul.press_coverage{
	margin:0 0 0 5px;
}

div#container_column_middle ul.press_coverage li{
	margin-bottom:30px;
}

div#container_column_middle ul.press_coverage li h3{
	font-size:16px;
	line-height:1.1em;
	margin-bottom:5px;
}

div#container_column_middle ul.press_coverage li p{
	line-height:1.1em;
	margin-bottom:5px;
}


/*****Styles for Single Column Layout*****/
div#container_column_single{
	padding-top:15px;
}

div#container_column_single h2{
	color:#b42025;
	
	line-height:1.1em;
	margin-bottom:15px;
}

div#container_column_single h3{	
	
	line-height:1.1em;
	margin-top: 15px;
	margin-bottom:15px;
}
	
div#container_column_single h4{
	
	line-height:1.1em;
	margin-top: 15px;
	margin-bottom:15px;
}


div#container_column_single p{
	
	line-height:1.4;
	margin-bottom:25px;
}

div#container_column_single ul{
	margin-left:30px;
}

div#container_column_single ul li{
	margin-bottom:15px;
	line-height:1.5em;
	
	
	list-style-type:none;
}

/** From the Index Page 
 * 
*/ 
div#video{
	float:left;
	margin-right:10px;
}


.socialnetwork-links{
	float:right;
	margin-top:-2px;
}

.mobblack {
	color:#000;
	font-weight:normal;
}

.mobred{
	color:#b42025;
	font-weight:bold;
}

#buzz_left, #buzz_middle, #buzz_right {
	width:268px;
	float:left;
	padding:0 16px 0 16px;
}

#buzz_right h3{
	margin-bottom:10px;
}

#buzz_right table{
	margin-bottom:25px;
}

#buzz_right table td{
	padding:5px;
}

/** Overlay Styles **/
div.overlay  {
	padding:40px;	
	width:576px;  
	display:none;
	background-image:url(/images/overlay/white.png);	
}

div.overlay a.close {
	background:url(/images/overlay/close.png) no-repeat;
	position:absolute;
	top:2px;
	right:5px; 
	width:35px;
	height:35px;
	cursor:pointer;
}

div.overlay a {
	height:450px;
	display:block;
}

/** Overlay Styles **/
div.overlay-title  {
	padding:40px;	
	width:576px;  
	display:none;
	background-image:url(/images/overlay/white.png);	
}

div.overlay-title a.close {
	background:url(/images/overlay/close.png) no-repeat;
	position:absolute;
	top:2px;
	right:5px; 
	width:35px;
	height:35px;
	cursor:pointer;
}

div.overlay-title a {
	height:450px;
	display:block;
}


/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background:url(/images/overlay/close.png) no-repeat;
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/*****Styles for Services pages*****/
.sales_list ul{
	list-style-type:none;
	padding:0;
	margin:0;
 
}

.sales_list li{
	list-style-type:none;
	background-image: url(/images/icons/tick.png);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 2.0em;
	padding-bottom:1.5em;
	color:#000;
	font-weight:bold;
}



/*****Styles for Handsets and Projects page*****/
#sort_links {
	background:#EBEBEB;
	padding:8px 8px 8px 8px;
	display:block;
	border-left:#B42025 2px solid;
	border-right:#B42025 2px solid;
	border-bottom:#B42025 1px solid;
}

#sort_links h2 {
	margin: 0.7em 0 0em 0;
}

#sort_links ul, div.footer_nav_results ul {
	margin:0 0 0 0;
}

#sort_links li {
	display:inline;
}

.current_projects h2 {
	color:#FFF;
}

#sort_links a {
	padding:8px 16px 8px 0px;
}

.current_projects a {
	color:#B42025;
}

.current_projects, .current_handsets {
	padding:2px 2px 2px 2px;
}

.current_projects .rbottom, .current_handsets .rbottom {
	background:#FFF;
}



.project_item.over, .handset_item.over{
	background:#D1D1D1;
	cursor:pointer;
}

.project_item, .handset_item {
	padding:0 0 0 0;
	border-bottom:#b42025 1px solid;
}

.project_item p, .handset_item p, #results_total {
	margin:0 0 .25em 0;
}



.project_item a, .handset_item a {
color:#b42025;
}

div.row_odd { 
	background:#fefdfe;
}

div.row_even{
	background:#f1f1f1;
}

div.footer_nav_results {
	background:#b42025;
	padding:8px 8px 8px 0px;
	text-align:right;
	height:40px; 
}

div.footer_nav_results li {
	display:inline;
	font-weight:bold;
	color:#FFF;
}

div.footer_nav_results a {
	padding:0px 4px 0px 4px;
	font-weight:normal;
	color:#FFF;
}

#handset_search_content {
	margin:0 0 16px 0;
}

#handset_search_filter form {
	margin:0 0 0 0;
}

#handset_search_filter td{
	padding:3px 3px 3px 3px;
	vertical-align:bottom;
}

#handset_search_filter select {
	width:100px;
}

#handset_search_filter h1{
	margin:0 0 .25em 0;
}


td#results_total {
	margin:8px 0px 8px 0px;
	background:#CCC;
	padding:15px 0;
	text-align:center;
	font-weight:bold;
}

/*
#results_total {
	margin:8px 0px 8px 0px;
	background:#CCC;
	padding:4px 4px 4px 4px;
	text-align:center;
	font-weight:bold;
}*/

/*all styles below are now in specific.css*/
form.managed-form,
form.managed-form p{
	font-size:12px;
}

form.managed-form label,
form.managed-form label span{
	display:block;
	padding:0 0 20px 0;
}

form.managed-form label{
	float:left;
	width:100%;
}

form.managed-form label span{
	float:left;
	width:45%;
	text-align:right;
	width:145px;
	color:#B42025;
	font-weight:bold;
	padding:0;
	margin:-5px 10px 0 0;
	vertical-align:top;
	line-height:1.5em;
}

form.managed-form input#submit-grpahicbutton{
	float:left;
	margin-left:150px;
}

.form-title {
	font-size:1.6em;
	font-weight:bold;
}

/*form.managed-form p{
	text-align:right;
	margin:0;
}

form.managed-form td{
	vertical-align:top;
	padding: 0 5px 15px 3px;
}

form.managed-form td.label{
	width:175px;
	font-size:12px;
}

form.managed-form input,
form.managed-form textarea{
	font-family:inherit;
	font-size:inherit;
}*/


/*all styles below are now in specific.css*/
div#infostretch-banner{
	background: url(/images/banner-infostretch.gif) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
}

div#infostretch-banner h1{
	width:375px;
	padding: 25px 0 10px 35px;
	
}

div#partnerpage-column-left,
div#partnerpage-column-middle,
div#partnerpage-column-right{
	width:225px;
}

div#partnerpage-column-left{
	float:left;
}

div#partnerpage-column-middle{
	float:left;
	margin-left:35px;
}

div#partnerpage-column-right{
	float:right;
}

div#perfecto-banner{
	background: url(/images/banner-perfecto.jpg) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
}

div#navteq-banner{
	background: url(/images/banner-navteq.jpg) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
	position:relative;
}

div#navteq-banner h1{
	color:#FFF;
	padding: 25px 0 0 235px;
	width:500px;
	font-size:1.5em;
	margin-bottom:0.2em;
	font-weight:bold;	
}

div#navteq-banner h2{
	color:#00426B;
	padding: 0 0 0 235px;
	width:425px;
	font-size:2.0em;
	margin-bottom:0.2em;
	font-weight:bold;	
}

div#navteq-banner a.register{
	color:#00426B;
	font-weight:bold;
	padding: 0 0 0 235px;
	font-size:1.6em;
}

div#navteq-banner img.navteq-nn4d-logo{
	position:absolute;
	top:53px;
	left:630px;
}

img.navteq-partner{
	float:left;
	margin-right: 7px;	
}

h2.navteq-partner{
	margin-top:0; 
	min-height:90px;  
	font-size:1.8em;	
}

div#nokia-banner{
	background: url(/images/banner-nokia.jpg) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	padding:0;
	position:relative;
}

div#nokia-banner h1{
	color:#FFF;
	padding: 68px 25px 0 25px;
	width:410px;
	font-size:3.0em;
	margin-bottom:0.2em;
}

div#nokia-banner a.register{
	color:#B42025;
	font-weight:300;
	padding: 0 25px 0 25px;
	font-size:1.6em;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
}

img.forum-nokia{
	float:left;
	margin-right: 7px;	
}

h2.forum-nokia{
	margin-top:0; 
	min-height:90px;  
	font-size:1.8em;	
}

div#facebook-banner{
	background: url(/images/banner-facebook.jpg) no-repeat scroll 0 0;
	width:750px;
	height:203px;
	margin:0 0 15px 0;
	position:relative;

}

div#facebook-banner h1{
	text-indent:-9999px;
	background: url(/images/banner-facebook-h1.gif) no-repeat scroll 0 0;
	width:198px;
	height:198px;
	margin-left:25px;

}

div#facebook-banner h2{
	position:absolute;
	left:250px;
	top:5px;
	background:#821518;
	color:#FFF;
	font-size:3.0em;
}

div#facebook-banner a.register{
	position:absolute;
	left:250px;
	top:170px;
	text-decoration:none;
	background:#821518;
	color:#FFF;
	font-size:1.8em;
	padding:2px 0;
}

img.facebook-page{
}

/** M4H Survey 2010 Page **/
div#survey-2010-banner{
	background: url(/images/banner-survey-2010.png) no-repeat scroll 0 0;
	width:700px;
	height:178px;
	margin:-20px;
	padding:25px 25px 25px 25px;
}

div#survey-2010-banner h1{
	color:#FFF;
	font-size:3.5em;
	margin-bottom:0;
	width:510px;
	line-height:1.1em;
}

div#survey-2010-banner h2{
	color:#FFF;
	font-size:2.1em;
	margin-top:10px;
	font-weight:bold;
width:500px;
line-height:1.0em;
	
}

div#survey-2010-banner h3{
	color:#FFF;
	font-size:1.8em;
	margin-top:10px;
width:450px;
	font-weight:normal;
	
}

div.inner-column-right{
	float:right; 
	margin-left:15px; 
	width:185px; 
	height:500px;	
}

div#container-blue-top{
	background: url(/images/container-blue-top.gif) no-repeat scroll 0 0;
	height:11px;
	width:224px;
	margin:0;
}

div#container-blue-mid{
	background: url(/images/container-blue-mid.gif) repeat-y scroll 0 0;
	width:224px;
	min-height:100px;
	padding-bottom:10px;
}

div#container-blue-bottom{
	background: url(/images/container-blue-bottom.gif) no-repeat scroll 0 0;
	width:224px;
	height:11px;
	
}

div#container-blue-mid h2{
	margin:10px 10px 10px 10px;
	width:120px;
	float:left;	
	font-size:1.6em;
}

div#container-blue-mid h2.short{
	width:100px;	
}

div#container-blue-mid p{
	margin: 0 10px;	
}

div#container-blue-mid img.icon{
	margin-bottom:10px;
}

/*Quotes*/
blockquote{
	width:400px;
	margin: 30px auto 10px;
}

.quote{
	margin:-25px 20px -30px 20px;
}

.quote-top{
	background:url(/images/quot-left.gif) no-repeat center; 
	height:43px;
	width:400px;
}

.quote-bottom{
	width:400px;
	background:url(/images/quot-right.gif) no-repeat center; 
	height:68px; 
	margin: 20px 30px 0 0; 
	width:100%;	
}

.quote-bottom-no-cite{
	width:400px;
	background:url(/images/quot-right-no-cite.gif) no-repeat center; 
	height:68px; 
	margin: 20px 30px 0 0; 
	width:100%;	
}

cite.author{
	margin:-15px 0 0 85px; 
	width:295px; 
	height:35px; 
	display:block;
}

#stats_bar{
	background-color:#BBBBBB; 
	padding: 15px; 
}

/** Red Outline for App Content - Top **/

.red-top{
	display:block;
	width:760px;
	height:3px;
	background:url(/images/layout/content_red_border_top.gif) no-repeat;
}


.red-top-sm{
	display:block;
	width:550px;
	height:3px;
	background:url(/images/layout/content_red_border_top_sm.gif) no-repeat;
}

/** Red Outline for App Content - Body **/
.red-mid{
	background:#FFF;
	color:#000;
	border-left:#a41c21 3px solid;
	border-right:#a41c21 3px solid;
	padding:20px;
}

/* Red Outline for App Content - Bottom**/
.red-bottom{
	display:block;
	clear: left;
	width:760px;
	height:3px;
	background:url(/images/layout/content_red_border_bottom.gif) no-repeat;
}

.red-bottom-sm{
	display:block;
	clear: left;
	margin-left: 216px;
	width:550px;
	height:3px;
	background:url(/images/layout/content_red_border_bottom_sm.gif) no-repeat;
}