img {
border: none; /* Don't draw borders around images which are also links */
}

td {
margin:5px;
padding:5px;
}

a.whiteLink:link, a.whiteLink:visited, a.whiteLink:active, a.whiteLink:hover
{
color: white;
}
/*
.leftBorder
{
position:absolute; 
left:-25px; 
background-image: url(/images/borderLeftWide.png);
background-repeat: repeat-y;
z-index:-1;
}

.rightBorder
{
position:absolute; 
right:-25px; 
background-image: url(/images/borderRightWide.png);
background-repeat: repeat-y;
z-index:-1;
}
*/
.pageDiv
{
/* position: relative; */
width: 940px;
/* height:100%; */ 
top: 0px;
left: 35px;
/* background-color: white; */
z-index: auto;
}

.mainHeaderDiv
{
/*  position: relative; */
width: 940px;
height: 130px;
top: -2px;
left: 0px;
background-color: white;
z-index: auto;
}

.mainHeaderLogo
{
position: absolute;
width: 250px;
height: 27px;
top: 40px;
left: 4px;
z-index: auto;
}

.beta
{
position: absolute;
width: 50px;
height: 18px;
top: 64px;
left: 197px;
z-index: auto;
}

.headerTitle
{
position: absolute;
width: 651px;
height: 31px;
top: 39px;
left: 272px;
z-index: auto;
}

#headerMenuSpan
{
position: absolute;
top: 98px;
left: 10px;
z-index: auto;
}

#headerMenuContainer{
	font-size: 18px;
	font-weight:bolder;
	color: white;
	text-decoration: none;
}

#headerMenuContainer a:link
{
	color: white;
	text-decoration:none;
}

#headerMenuContainer a:active
{
	color: white;
	text-decoration:none;
}

#headerMenuContainer a:visited
{
	color: white;
	text-decoration:none;
}


#headerMenuContainer a:hover{
	color:white;
	text-decoration:underline;
}


.headerMenuButton
{
	font-size: 18px;
	color: white;
}

#headerForm
{
position: absolute;
top: -15px;
left: 265px;

font-size: 12px;
color: white;
z-index: auto;
}

#headerForgotSpan
{
position: absolute;
top: 20px;
left: 160px;
height: 12px;
width: 300px;
}

a.headerForgot:link
{
color: white;
text-decoration: none;
}

a.headerForgot:visited
{
color: white;
text-decoration: none;
}

a.headerForgot:active
{
color: white;
text-decoration: none;
}

a.headerForgot:hover
{
color: white;
text-decoration: none;
}

.mainMenuDiv
{
background-color: #adadad;
position: relative;
width: 940px;
height: 50px;
top: 8px;
left: 0px;
z-index: auto;
}

.mainMenuDiv a:link, .mainMenuDiv a:active, .mainMenuDiv a:visited{
	background-color:#adadad;
}

.mainMenuDiv a:hover{
	background-color:#c1c1c1;
}

.mainMenuButton
{
padding-left: 10px;
padding-right: 9px;
margin-left: 15px;
margin-top: 11px;

font-size: 20px;
color: white;

border-style: solid;
border-width: 2px;
border-color: white;

text-decoration: none;
cursor: pointer;
z-index: auto;

float:left;
}



.subMenuDiv
{
background-color: white;
/* position: relative; */
width: 895px;
height: 40px;
top: 5px;
left: 22px;

border-style: solid;
border-width: 2px;
border-color: #adadad;
valign: middle;
z-index: auto;
}

.subMenuButton
{
/* position: absolute; */
top: 11px;

padding-left: 10px;
padding-right: 9px;
margin-left: 15px;

font-size: 15px;
color: #adadad;

border-style: solid;
border-width: 1px;
border-color: #adadad;

text-decoration: none;
cursor: pointer;
z-index: auto;
}

#contentDiv
{
position: relative;
top: 26px;
left: 0px;
width: 940px;
min-height: 735px;  /* The content div needs to be atleast 735px high in order for the footer to always show at the bottom at browser resolution 1600*1200. The contentdiv is what pushes the footer down. When the contentDiv is atleast 735px it will show at/near the bottom even at a height resolution of 1200. The min-height property sets a height for the div while keeping the div liquid, a height property would not have kept the div liquid. */ 
/* background-color: white; */
z-index:auto;
}

#footerDiv
{
position: relative;
width: 940px;
height: 100px;

/*bottom: -100px;*/
left: 0px;
background-color: #F0F0F0;
}

.footerMenuSpan
{
position: absolute;
top: 20px;
left: 265px;

padding-left: 10px;
padding-right: 9px;

font-size: 15px;


z-index: auto;
}

a.footerMenuLink:link
{
color: #595454;
font-weight:bolder;
text-decoration: none;
}

a.footerMenuLink:visited
{
color: #595454;
font-weight:bolder;
text-decoration: none;
}

a.footerMenuLink:active
{
color: #595454;
font-weight:bolder;
text-decoration: none;
}

a.footerMenuLink:hover
{
color: #595454;
font-weight:bolder;
text-decoration: underline;
}

#wurflSpan
{
position: absolute;
left: 12px;
bottom: 2px;
width: 400px;
height: 60px;


z-index: auto;
}

#copyright
{
position: absolute;
left: 778px;
bottom: 8px;

font-size: 11px;
color: #4C4646;
}
/*****************************************************************************/
#frontPageTextBox
{
position: relative;
float:left;
width: 174px;
height: 526px;
left: 30px;


font-size: 12px;
line-height: 16px;
background-color: #EFEFEF;

z-index: auto;
}

#frontPageTextBox p{
	padding: 0 0 5px 0;
	margin: 3px 3px 5px 3px;
}

#frontPageTextBox a:link{
font-family: arial, helvetica, liberation Sans, nimbus sans l, sans-serif;
}

#frontPageTextBox a:hover{
font-family: arial, helvetica, liberation Sans, nimbus sans l, sans-serif;
font-weight:bold;
text-decoration:underline;
}


#leftBannerSpotlight{
	padding: 4px 4px 4px 4px;
	margin-bottom:10px;
}

#leftBannerSpotlight p{
	padding: 0 0 5px 0;
}

#rightColumnBox{
	float:right; 
	width:684px; 
	padding: 0; 
	margin: 0 23px 0 0px;
	
	font-size: 12px;
	line-height: 1.5em;	
	
}

#rightColumnBox h1{
	font:Arial Narrow, Helvetica, sans-serif;
	font-weight:bold;
	font-size:24px;
	color:#b51515;
	margin:0;
}

#rightColumnBox h2{
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#b51515;
	margin:0 0 25px 0;
}

#rightColumnBox h3{
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	color:#000000;
	height:20px;
	margin:3px 3px 10px 3px;
	
	background-color:white;
}

#rightColumnBox p.centerAlign{
	text-align:center;
}

#rightColumnBox .icons{
	margin: 15px 0 0 5px;
	border:none;
}

#forTestersBox{
	float:left;
	margin-top:50px;
	width:225px;
	

}

#forDevelopersBox{
	float:right;
	margin:50px 5px 0 0;	
	width:225px;

	background-image:url(../images/homepageDividerLong.gif);
	background-position:left;
	background-repeat:no-repeat;

}

#forDeveloperNetworkBox{
	float:right;
	margin-top:50px;	
	width:225px;

	background-image:url(../images/homepageDividerLong.gif);
	background-position:left;
	background-repeat:no-repeat;
	
}

#forTestersLeftColumn{
	float:left;
	width:100px;
min-height:325px;
	padding:0 0 10px 5px;
	display:inline;
	


}

#forTestersRightColumn{
	float:right;
	width:100px;
	min-height:325px;
	padding:0 0 10px 5px;

	background-image:url(../images/homepageDividerShort.gif);
	background-repeat:no-repeat;
	background-position:left;
	display:inline;

	
	
}

#forDevelopersLeftColumn{
	float:left;
	width:100px;
min-height:325px;
	padding:0 0 10px 5px;
	display:inline;

	
	
}

#forDevelopersRightColumn{
	float:right;
	width:100px;
	min-height:325px;
	padding:0 0 10px 5px;
	display:inline;

	background-image:url(../images/homepageDividerShort.gif);
	background-repeat:no-repeat;
	background-position:left;

		
	
}

#forDevNetLeftColumn{
	float:left;
	width:100px;
	min-height:325px;
	padding:0 0 10px 5px;
	display:inline;
	

	
}

#forDevNetRightColumn{
	float:right;
	width:100px;
	min-height:325px;
	padding:0 0 10px 5px;

	background-image:url(../images/homepageDividerShort.gif);
	background-repeat:no-repeat;
	background-position:left;
	display:inline;

	
}

#buttonBoxLeft{
	float:left;
	width:100px;
	height:75px;
	text-align:center;
	padding:0 5px 0 5px;

}

#buttonBoxRight{
	float:right;
	width:100px;
	height:75px;
	text-align:center;
	border:none;
	padding:0 5px 0 5px;

}

#testerBox
{
position: relative;
width: 800px;
height: 205px;
left: 58px;

padding: 12px;
color: #333333;
font-size: 15px;
line-height: 18px;
font-weight: bold;
background-color: #F7F7F7;
z-index: auto;
}

#developerBox
{
position: relative;
width: 800px;
height: 205px;
left: 58px;

padding: 12px;
color: #333333;
font-size: 15px;
line-height: 18px;
font-weight: bold;
background-color: #F7F7F7;
z-index: auto;
}

.indexRegisterButton
{
position:absolute; 
left:150px; 
/*top:186px; */
bottom: 18px;

font-size:17px; 
color:#6E6A6B; 
font-weight: bolder;
text-decoration: none;

background-color:#EFEFEF; 
border:1px solid #6E6A6B;  

padding-left:5px; 
padding-right:5px; 
padding-top:2px; 
padding-bottom:2px;

cursor: pointer;
}

.howItWorksButton
{
position:absolute; 
right: 15px;
bottom: 15px;

font-size:15px; 
color:white; 
font-weight: bolder;
text-decoration: none;

background-color:#6E6A6B; 
border: 3px solid white;  

padding-left:5px; 
padding-right:5px; 
padding-top:2px; 
padding-bottom:2px;

cursor: pointer;
}

.whatYouNeedButton
{
position:absolute; 
/*left:660px; 
top:186px; */
right: 19px;
bottom: 17px;

font-size:15px; 
color:white; 
font-weight: bolder;
text-decoration: none;

background-color:#6E6A6B; 
border: 2px solid white;  

padding-left:5px; 
padding-right:5px; 
padding-top:2px; 
padding-bottom:2px;

cursor: pointer;
}

.redLink:link
{
color: #B51515;
text-decoration: none;
}

.redLink:visited
{
color: #B51515;
text-decoration: none;
}

.redLink:active
{
color: #B51515;
text-decoration: none;
}

.redLink:hover
{
color: #B51515;
text-decoration: none;
}

.projectsDiv
{
padding: 20px;
background-color: #E7E7E7;
color: #817679;
}

.profileTableDiv
{

}

.projectsDiv table, .projectsDiv tr, .projectsDiv td
{
border-width: 1px;
border-style: solid; /* hidden */
border-color: #E7E7E7;
border-collapse: collapse;  /* Creates 1 table border of 1 px */

font-size: 13px;
}

.projectsDiv td
{

}

.handsetDiv table, .handsetDiv tr, .handsetDiv td
{
border-width: 0px;
border-style: hidden;
border-color: white;
border-collapse: collapse;  /* Creates 1 table border of 1 px */

font-size: 13px;
}

.handsetDiv2 table, .handsetDiv2 tr, .handsetDiv2 td   /* Create a toggle class which gives a subtable a 1px border */
{
border-width: 1px;
border-style: solid;
border-color: white;
border-collapse: collapse;  /* Creates 1 table border of 1 px */

font-size: 13px;
}

.whiteTable table, .whiteTable tr, .whiteTable td
{
border-width: 1px;
border-style: solid;
border-color: gray;
/* border-collapse: collapse;  /* Creates 1 table border of 1 px */

background-color: white;

font-size: 13px;
}

.myHandsetsAdderTableWrapper table, .myHandsetsAdderTableWrapper tr, .myHandsetsAdderTableWrapper td
{
border-width: 1px;
border-style: solid;
border-color: #747170;
border-collapse: collapse;

background-color:#F9F9F9;
}

.executableTable table, .executableTable tr, .executableTable td
{
border-width: 1px;
border-style: solid;
border-color: #747170;
border-collapse: collapse;
padding: 5px;

background-color: #F9F9F9;
text-align: center;
}

.profileTableDiv table, .profileTableDiv tr, .profileTableDiv td
{
border-width: 0px;
border-style: hidden;
border-color: red;
border-collapse: collapse;  /* Creates 1 table border of 1 px */

font-size: 13px;
color: white;
}

.profileDiv td
{
padding: 2px;
}

.profileDiv a:link
{
color: #B51515;
}

.profileDiv a:visited
{
color: #B51515;
}

.profileDiv a:active
{
color: #B51515;
}

.profileDiv a:hover
{
color: #B51515;
}

#developerhowitworks
{
position:absolute; 
left: 110px;
top: 30px;
z-index: auto;
}

#howitworksRegisterButton
{
position:absolute; 
left: 670px;
top: 614px;
z-index: auto;
}

#transparantOverlay
{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 1000%;
margin: 0px;
background-color: black;
z-index: 5;

filter: alpha(opacity=50); /* IE5 + IE6 */
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE7 */
-moz-opacity: 0.50; /* Firefox */
opacity: 0.50; /* Opera */

display: none;
}

#helpTopicContainer
{
position: fixed;
left: 100px;
top: 50px;
width: 810px;
height: 1000px;
background-color: white;
z-index: 6;
display: none;
}

.overlayCloseButton
{
position: absolute;
right: 15px;
top: 12px;
width: 10px;
height: 10px;
font-size: 15px;
font-weight: bold;
text-align: center;
color: gray;
padding: 3px 5px 10px 5px;
border-style: solid;
border-width: 2px;
border-color: gray;
cursor: pointer;
cursor: hand;
}

#helpTopic1, #helpTopic2
{
position: absolute;
left: 15px;
top: 50px;
width: 755px;
height: 500px;
font-size: 13px;
font-weight: normal;
color: #595454;
background-color: white;
padding: 10px;
border-style: solid;
border-width: 1px;
border-color: gray;
display: none;
overflow-y: scroll;
}

#invitetesters
{
position: absolute;
left: 15px;
top: 50px;
width: 755px;
height: 360px;
font-size: 13px;
font-weight: normal;
color: #595454;
background-color: white;
padding: 10px;
border-style: solid;
border-width: 1px;
border-color: gray;
display: none;
overflow-y: scroll;
}

#component-test-schedule{
	border: 1px dashed gray; 
	padding: 10px; 
	position: relative; 
	background-color: rgb(238, 238, 238);
}

#component-test-schedule #schedule-table-summary table{
}

#schedule-table-summary td{
	border: 1px solid #7f9db9;
	padding: 0 0.5em 0 0;
}

#schedule-table-summary th{
	border: 1px solid #7f9db9;
	padding: 0 0.5em 0 0;	
}

#component-set-schedule{
	border: 1px dashed gray; 
	padding: 10px; 
	position: relative; 
	background-color: rgb(238, 238, 238);

}

#schedule-confirmation{
font-family: arial, helvetica, liberation Sans, nimbus sans l, sans-serif;
	padding:10px;
}



#developerhowitworks-buttons{
	position:absolute;
	width:716px;
	top:670px;

}

#container-submitbid{
	width:800px;
	margin: 0 auto;	

}

#container-submitbid {
	margin: 0 0 25px 0;
}

#submitbidform-container{

	margin: 25px 0 0 0;
	overflow:auto;
}

#submitbidform-container .project-image{
	float:left;

	margin:0;
	padding: 0 0;
	width:94px;
	height:94px;
	border:none;
}

#submitbidform-container .project-info{
	float:right;
	width:75%;
	margin:0 0 25px 25px;

	padding:0;
	display:inline;
}

#submitbidform-container .version{
	font-weight:bold;
}

#submitbidform-container .submit-info{
	font-weight:bold;
}

#submitbidform-container .username{
	font-weight:bold;
	color:#419edb;
}

#submitbidform-container form{
	width:100%;

	float:left;
}

#submitbidform-container label{
	font-weight:bold;
}

#submitbidform-container TEXTAREA{
	width:592px;
}

#submitbidform-container .form-footer{
	float:left;
	width:592px;
	height:52px;
	background-image:url(../images/bottom-form.gif);
	margin: 50px 0 0 0;
}

#submitbidform-container .button-form{
	float:right;
	margin:14px 15px;
	border:none;
}

#submitbidform-container li{

	font-weight:bold;
	color:#419edb;
}

#container-profile{
	width:800px;
	margin: 0 auto;	
}

#container-profile {
	color:#515459;
	font-family:Arial,Helvetica,sans-serif;
	font-size:26px;
	font-weight:normal;
	line-height:26px;

	margin: 0 0 25px 0;
}

#container-profile p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:20px;

	margin: 0 0 10px 0;
}

#container-profile h2{
	color:#515559;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:23px;

	margin: 15px 0 15px 0;
}


#container-profile .escrow-table{
	border:none;
	width:200px;
	padding:10px;
	margin: 25px 0 25px 0;
}

#container-profile textarea{
	margin: 0 0 25px 0;
}

.emphasize{
	font-weight:bold;
}

.emphasized-link{
	font-weight:bold;
	color:#419edb;
}

#container-profile .deposit-table{
	border:none;
	width:250px;
	padding:10px;
	margin: 25px 0 25px 0;
}

#container-profile .float-right{
	float:right;
	margin:14px 15px;
	border:none;
}

#container-profile .float-left{
	float:left;
	margin:14px 15px;
	border:none;
}

#container-profile .submit-test-table{
	border:none;
	width:450px;
	padding:10px;
	margin: 25px 0 25px 0;
}

/**BEGIN STYLES FOR SILVER 02 PAGES - NEED TO VERIFY**/

#container-profile a{
	color:#419edb;
	text-decoration:none;
}

#container-profile a:hover{
	text-decoration:underline;
}

#silver-tab-nav{
	width:100%;
	height:26px;
	border-bottom:#9299a1 1px solid;
	margin: 0 0 28px 0;
}

#silver-tab-nav a{
	margin:0;
	padding:0 4px;
}

#silver-banner{
	width:100%;
	height:53px;
	padding:0;
	margin:0;
	background-color:#e6e6e6;
	
	overflow:auto;
}

#silver-banner {
	margin:0 0 0 160px;
	padding: 15px 0 0 0;
	float:left;
	display:inline;

	color:#515459;
	font-family:Arial,Helvetica,sans-serif;
	font-size:26px;
	font-weight:normal;
	line-height:26px;
}

#silver-banner .float-right{
	width: 275px;
	margin: 3px 0;
	padding:15px 0 0 0;
}

.silver-horizontal-container h1{
	color:#515459;
	font-family:Arial,Helvetica,sans-serif;
	font-size:26px;
	font-weight:normal;
	line-height:26px;	
}


.silver-below-header-link{
	margin:10px 0 0 160px;
}

#container-profile h2.no-top-margin{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:23px;

	margin: 0 0 15px 0;
	padding:0 0 0 0;
color: #429dd6;
}

.silver-confirm-button{
	padding:230px 0 10px 0;
}

/*****Litmus Invite Testers*****/
body#invite-testers{
	background-color:#e6e6e6;
	margin:20px;
}

div#white-container{
	background-color:#FFFFFF;
	margin:0 auto;
	width:775px;
}

div#intro, div#default-options, div#advanced-filter-options, div#select-testers{
	padding: 30px 30px;
	border-bottom:#c6cbcf solid 1px;
}

div#tester-results{
	padding: 30px 0;
	border-bottom:#c6cbcf solid 1px;
}

div#intro h1, div#default-options h1, div#advanced-filter-options h1, div#select-testers h1{
	margin:0 0 30px 0;
	color:#515459;
	height:16px;
	font-weight:normal;
}

div#intro p{
	width:600px;
	font-size:11px;
}

table#select-handset{
}

table#select-handset td.label, table#select-category td.label{
	width:150px;
}

table#select-handset table.filter-options,table#select-category table.filter-options{
	padding:10px;
	background-color:#e6e6e6;
	width:300px;
}

#tester-profiles-top{
	background-image:url(../images/table-top.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:675px;
	height:49px;
	margin:0;
}

#tester-profiles-top h1{
	float:left;
	color:#515459;
	height:14px;
	font-weight:normal;
	margin: 15px 20px;
}

#tester-profiles-top .button-sort-tester-results{
	margin:14px 15px;
	float:right;
}

#tester-profiles-bottom{
	background-image:url(../images/table-bottom.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:675px;
	height:52px;
	margin:0 10px;
}

div#tester-results table#page-links{
	margin: 10px 20px 20px 20px;
	font-size:11px;
	
	width:95%;
}

div#select-testers table td{
	padding: 10px 20px 10px 0;
}

div#tester-results table, th, td {
	border:none;
	border-collapse: collapse;
}

div#tester-results table{
	border:none;
	width:675px;
	margin: 0 10px;
}

div#tester-results th{
	padding: 10px 30px;
	font-size:110%;
	text-align:left;
	color:#919ba5;
}

div#tester-results th.tester-avatar{
	padding: 10px 10px;
	text-align:left;
}

div#tester-results th.tester-name{
	padding: 10px 5px;
	text-align:left;
}

div#tester-results th.tester-rating{
	padding: 10px 15px;
	text-align:left;
}

div#tester-results th.tester-city{
	padding: 10px 30px 10px 15px;
	text-align:left;
}

div#tester-results th.tester-handset{
	padding: 10px 30px;
	text-align:left;
}

div#tester-results th.tester-silver-tested{
	padding: 10px 15px;
	text-align:center;
}

div#tester-results th.tester-invite{
	padding: 10px 10px 10px 20px;
	text-align:center;
}


div#tester-results td.tester-avatar{
	padding: 10px 10px;
	text-align:left;
}

div#tester-results td.tester-name{
	padding: 10px 5px;
	text-align:left;
	color:#419edb;
}

div#tester-results .tester-type{
	font-size:90%;
	color:#000000;
}

div#tester-results td.tester-rating{
	padding: 10px 15px;
	text-align:left;
}

div#tester-results td.tester-city{
	padding: 10px 30px 10px 15px;
	text-align:left;
}

div#tester-results td.tester-handset{
	padding: 10px 30px;
	text-align:left;
}

div#tester-results td.tester-silver-tested{
	padding: 10px 15px;
	text-align:center;
}

div#tester-results td.tester-invite{
	padding: 10px 10px 10px 20px;
	text-align:center;
}

div#tester-results .button-invite{
	margin:14px 15px;
	float:right;
}


/*****Litmus Launch Premium Preferences page****/
div#container-profile-wide{
	font-size:11px;
	width:880px;
	padding:0 15px 0 15px;
	overflow:auto;
	color:#515559;
	

/*	background-color:#FFFFFF;*/

}

.horizontal-container{
	font-size:11px;
	width:100%;
	margin:20px 0;
	overflow:auto;
	line-height:20px;
	color:#515559;	
	
/*	background-color:#FFFFFF; */
}

.horizontal-container h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;

	color:#515559;
	font-weight:normal;
}

.horizontal-container h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;

	color:#515559;
	font-weight:normal;
}

.horizontal-container h3{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:19px;

	color:#9299A1;
	line-height:35px;
	margin:0 0 5px;
	padding:0;
}


.horizontal-container a{
	color:#0086C3;
	font-weight:normal;
	text-decoration:none;
}

.horizontal-container .app-price{
	font-size:16px;
	color:#B30000;
}

div.column-left{
	width:675px;
	float:left;
	border-bottom:#e6e6e6 solid 2px;
	padding: 0 0 20px 0;
}

div.column-left-no-bottom-border{
	width:675px;
	float:left;
	border-bottom:none;
	padding: 0 0 20px 0;
}

div.column-right{
	float:right;
	padding-right:5px;
	text-align:right;
}

div.column-left div#steps{
	margin: 15px 0;
}

div.column-left h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;

	color:#515559;
	font-weight:normal;
}

div.column-left label{
	font-weight:bold;
	font-size:11px;
	color:#515559;
}

div.column-left p{
	width: 600px;
	margin: 20px 0;
	font-size:11px;
}

div.column-left td.version{
	font-size:12px;
}


div.column-left td.app-short-desc p{
	width:550px;
}

div.column-left td.app-info{
	font-size:11px;
}


div#steps table td{
	font-size:23px;
	font-weight:normal;
	color:#9299A1;
	padding: 0 20px 5px 0;
}

div#steps table td.not-selected{
	color:#E6E6E6;
}

div#steps table td.step-description{
	color:#9299A1;
	font-size:19px;
	font-weight:normal;
	padding:0 0 0 40px;
}

img.icon-step{
	margin: 0 10px 0 0;
}

div#tester-results-remove table{
	margin: 10px 0;
	width:100%;
}

div#tester-results-remove table td{
	padding: 5px;
}

div#tester-results-remove th{
	padding: 10px 30px;
	font-size:110%;
	text-align:left;
	color:#919ba5;
}

div#tester-results-remove th.tester-avatar{
	padding: 10px 10px;
	text-align:left;
}

div#tester-results-remove th.tester-name{
	padding: 10px 5px;
	text-align:left;
}

div#tester-results-removeth.tester-rating{
	padding: 10px 15px;
	text-align:left;
}

div#tester-results-remove th.tester-city{
	padding: 10px 30px 10px 15px;
	text-align:left;
}

div#tester-results-remove th.tester-handset{
	padding: 10px 30px;
	text-align:left;
}

div#tester-results-remove th.tester-silver-tested{
	padding: 10px 15px;
	text-align:center;
}

div#tester-results-remove th.tester-invite{
	padding: 10px 10px 10px 20px;
	text-align:center;
}


div#tester-results-remove td.tester-avatar{
	padding: 10px 10px;
	text-align:left;
}

div#tester-results-remove td.tester-name{
	padding: 10px 5px;
	text-align:left;
	color:#419edb;
}

div#tester-results-remove .tester-type{
	font-size:90%;
	color:#000000;
}

div#tester-results-remove td.tester-rating{
	padding: 10px 15px;
	text-align:left;
}

div#tester-results-remove td.tester-city{
	padding: 10px 30px 10px 15px;
	text-align:left;
}

div#tester-results-remove td.tester-handset{
	padding: 10px 30px;
	text-align:left;
}

div#tester-results-remove td.tester-silver-tested{
	padding: 10px 15px;
	text-align:center;
}

div#tester-results-remove td.tester-invite{
	padding: 10px 10px 10px 20px;
	text-align:center;
}


div#launch-premium-bottom{
background-image:url(../images/table-bottom.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:675px;
	height:52px;
	margin:0 10px 0 0;
}

div#launch-premium-bottom .button-continue{
	margin:14px 15px;
	float:right;
}

/*****Litmus Launch Premium Upload page****/
h2.launch-premium{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:23px;

	font-weight:normal;
	color:#9498a1;
	margin-top:10px;
}


/*****Litmus Test App Details****/
img.app-icon-lef{
	float:left;
	margin:0;
	padding:0;
}

/*****Litmus apps in dev project overview*****/
.emphasize-red{
	font-weight:bold;
	color:#990000;
}


/*****Litmus page App Download*****/

p.handset-ensure {
	color:#B30000;
	font-weight:bold;
	margin-top:10px;
	font-size:11px;
}

div.terms-conditions-field{
	border-bottom:2px solid #FBFBFB;
	border-left:2px solid #9299A1;
	border-top:2px solid #9299A1;
	height:230px;
	overflow-y:scroll;
	padding:5px;
}

/******Styles for About, DeveloperFAQ, TesterFAQ, DeveloperNetwork, See How It Works*****/

.twoColElsRt #container { 
	width: 800px;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	padding:0;
	border:none;
} 

.twoColElsRt #sidebar1 {
	float: right;
	width: 250px; /* since this element is floated, a width must be given */
	background: #EBEBEB; /* top and bottom padding create visual space within this div */
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
}

.twoColElsRt #sidebar1 h2 , .twoColElsRt #sidebar1 h3, .twoColElsRt #sidebar1 p {
	margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

.twoColElsRt #mainContent {
	margin: 0 260px 0 1.5em; /* the left margin can be given in ems or pixels. It creates the space down the left side of the page. */
}  

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

blockquote{
	color:#545454;
}

blockquote span.quote{
	font-style:italic;
}



div#rightColumnBox div#buttons{
	overflow:auto;
	width:100%;
	margin:0;
	padding:0;
}

div#rightColumnBox p{
	margin:3px 3px 10px;
	padding:0;
}