.text_button_red {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Helvetica Neue',Helvetica,san-serif;
    color: #ffffff ;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: #b42025;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    float:right;

    border: none;
    outline:none;

}
.text_button_red:hover {
    background: #9e2026;
    text-decoration: none;
}

.text_button {
     -webkit-border-radius: 4;
     -moz-border-radius: 4;
     border-radius: 4px;
     font-family: 'Helvetica Neue',Helvetica,san-serif;
     color: #ffffff;
     font-size: 10px;
     text-transform: uppercase;
     font-weight: bold;
     background: #000000;
     padding: 4px 10px 4px 10px;
     text-decoration: none;
    border: none;
    outline:none;
 }

.text_button:hover {
    background: #383838;
    text-decoration: none;
}

.text_button_nav {
    font-family: 'Helvetica Neue',Helvetica,san-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    border: none;
    outline:none;
}

.text_button_nav:hover {
    color: #cccccc;
    text-decoration: none;
}


.zend_form #submit{
    border:none;
}

.zend_form #submit-element{
    padding: 18px 0 0 0;
}

#header_right a{
    text-decoration: none;
}

#header_right span.title{
    color: #797979;
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: 'Helvetica Neue',Helvetica,san-serif;
    font-weight: bold;
    text-decoration: none;
}

#header_right span.text{
    color: #b42025;
    font-size: 1.0em;
    font-family: 'Helvetica Neue',Helvetica,san-serif;
    font-weight: bold;
    text-decoration: none;
}


#language_toggle_right{
    float:right;
    width: 100px;
}
#language_toggle_right .flag{
    float:right;
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
}

.form_input #addmodelBtn, .form_input #addmodel2Btn{
    width: 67px;
    height: 20px;
    margin: 0 32px 16px 134px;
    display: block;
}



.file_upload{
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file_upload input.upload{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
