@import url(styles.css);

/*
dl {
    margin: 0;
    padding: 0;
}
dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
float:left;
clear:left;
display:inline;
}
dd {
    margin: 0;
    padding: 0;
display:inline;
}
*/
/*****Styles for All App Pages*****/
span.field_error{
	font-weight:bold;
	color:#990000;
	
}

h3.title_error{
	color:#990000;
}

div.form_ui{
	background-color:grey;
}

a#button_logout{
	float:right;

}

/*****Styles for Registration Page*****/
div#container_registration_left{
	float:left;
	width:60%;
	
	background-color:lavender;
}

div#container_registration_right{
	float:right;
	width:40%;
	
	background-color:silver;
}

div#container_registration_right ul{
	list-style-type:none;
}

div#container_registration_right li{

	background-color:orange;
}

div#container_registration_right li label{
	float:left;
	width:40%;
	text-align:right;
}

div#container_registration_right li div.form_ui{
	margin-left:170px;
}

div#container_registration_right span.field_error{
	display:block;	
}



/*****Top Navigation Menu Web App*****/

div#container_top_nav_app{
	width:95%;
	float:left;
	padding: 10px;
	
/*	background-color:lightgrey; */
}

div#container_top_nav_app ul{
	margin: 0 0 0 10px;
}


div#container_top_nav_app li{
	border:none;
/*	position:relative; causes problems with z-order */
	list-style-type:none;	
	float:left;
/*	background-color:lightgrey; */
	padding: 2px 30px;
}

div#container_top_nav_app li:hover{
	background-color:pink;
}

div#container_top_nav_app a{
	color:red;

	display:block;

}

div#container_top_nav_app a:hover{
	color:black;
}

div#container_top_nav_app ul li ul{
	width:12em;
	position:absolute;
	left:-12px;
	
	display:none;
}

div#container_top_nav_app ul li:hover ul,
div#container_top_nav_app ul li ul:hover{
	display:block;
}


div#container_top_nav_app ul li ul li{
	width:100%;
}

div#container_top_nav_app ul li ul li ul{
	visibility:hidden;
	left:11.5em;
	top:-4px;
}

div#container_top_nav_app ul li ul li:hover ul{
	visibility:visible;
}

div#container_top_nav_app li.disabled,
div#container_top_nav_app li.disbaled:hover{
/*	background-color:lightgrey; */
	color:grey;
}




/*****Styles for 2 Column Layout Web App*****/
div#container_column_middle_wide_app{
	float:right;
	min-height:200px;
	width:80%;
	
/*	background-color:white; */
}

div#container_title_links{
	width:100%;
	display:block;
/*	background-color:red; */
	overflow:auto;
}

div#container_title_links h2{
/*	background-color:orange; */
	width:50%;
	float:left;
}

div#container_title_links h3{
/*	background-color:orange; */
	width:50%;
	float:left;
}

/*****Styles for User Home*****/

ul#left_column_submenu li{
	clear:both;
}

ul#left_column_submenu span.label{
	float:left;
	width:40%;
	text-align:left;
/*	background-color:yellow; */
}

ul#left_column_submenu span.value{
	float:right;
	width:40%;
	text-align:right;
/*	background-color:violet;*/
}

div#container_tasks_select{
	width:100%;
/*	background-color:lightblue;*/
	overflow:auto;
}

ul.tasks_boxes{
	list-style-type:none;
}

ul.tasks_boxes li a{
	width:24%;
	height:150px;
/*	background-color:orange;*/
	border:black 1px solid;
	font-size:1.5em;
	font-weight:bold;
	display:block;

	float:left;
}

ul.tasks_boxes li a:hover{
/*	background-color:lightblue;*/
}

div#container_notifications{
	width:100%;
/*	background-color:grey; */
}

ul.notifications_listing{
	list-style-type:none;
}

ul.notifications_listing li{
	
}

/*****Styles for All Profile Pages******/
div#container_save{
	float:right;
	width:45%;
}

div#profile_info li{
	display:block;
/*	background-color:lavender;*/
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

div#profile_info label{
	text-align:right;
	float:left;
	width:25%;
	margin:5px;
}

div#profile_info div.form_ui{
	width:25%;
	float:left;
}

div#profile_info div.field_error{
	width:40%;
	float:left;
	background-color:red;
}

div#profile_info div.field_info{
	width:40%;
	float:left;
/* background-color:orange; */
}

/******Styles for Edit General Profile*****/
div#profile_completion{
	width:296px;/*Width of progress bar image*/
	display:block;
	overflow:auto;
	
	background-color:lightgrey;
}

div#profile_completion img.meter_progress{
}

div#profile_completion ul.steps_4{
	list-style-type:none;
}

div#profile_completion ul.steps_4 li{
	width:74px;/*width is (total width of progress bar image / number of steps)*/
	display:block;
	float:left;
	text-align:right;
	background-color:lavender;
}

fieldset#basic_info ul,
fieldset#password ul,
fieldset#contact_additional_info ul{
	list-style-type:none;
}

div#profile_info{
	border:blue 1px solid;
	background-color:white;
}

div#account_balance{
	border:blue 1px solid;
}


/*****Styles for Edit Mobster Info page*****/


table.my_handsets{
	background-color:darkgrey;
}

table.my_handsets td {
	background-color:lightblue;
}


/*****Styles for Developer Info pages****/
div#profile_completion ul.steps_3 ul{
	list-style-type:none;
}

div#profile_completion ul.steps_3 li{
	width:98px;/*width is (total width of progress bar image / number of steps)*/
	display:block;
	float:left;
	text-align:right;
	background-color:lavender;
}

/*****Styles for Account Details page*****/
div#account_buttons ul{
	margin:10px 0;
	list-style-type:none;
}

div#account_buttons ul li{
	display:inline;
	margin: 10px 125px;
}

div#month_balance{
	overflow:auto;
	background-color:lightgreen;
}

div#month_balance form.month_selector{
	float:left;
	background-color:orange;
	
}

div#month_balance div#balance{
	float:right;
	
	background-color:red;
}

div.account_transactions table{
	width:100%;
}

div.account_transactions table thead{
	background-color:lightblue;
}

div.account_transactions table tfoot{
	background-color:gray;
}

div.account_transactions table tr.row_odd{
	background-color:beige;
}

div.account_transactions table tr.row_even{
	background-color:lavender;
}

/*****For all pages*****/
div.body_text{
	background-color:beige;
}

/*****For Deposit Funds page*****/
div.body_text a.button_align_middle{
	margin-left: 300px;
}

/*****For Withdraw Funds page*****/

div#withdraw_funds li {
	background-color:lavender;
	display:block;
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

div#withdraw_funds label{
	float:left;
	margin: 5px;
	text-align:right;
	width:25%;
}

div#withdraw_funds div.form_ui{
	float:left;
	width:25%;
}

div#withdraw_funds .button_submit{
	margin-left:200px;
}

/*****Mobster Profile Home*****/

div#projects_listing table{
	width:100%;
}

div#projects_listing table thead{
	background-color:lightblue;
}

div#projects_listing table tfoot{
	background-color:gray;
}

div#projects_listing table tr.row_odd{
	background-color:beige;
}

div#projects_listing table tr.row_even{
	background-color:lavender;
}