<script type="text/javascript">// <![CDATA[
$(document).ready(function() {
	
	$('#file-upload').uploadify({
        'uploader'      : '/js/uploadify/uploadify.swf',
        'script'        : '/ajax/index/uploadavatar',
        'cancelImg'     : '/js/uploadify/cancel.png',
        'buttonText'    : 'change',
        'scriptAccess'  : 'always',
        'folder'        : '/tmp/',
        'multi'         : false,
        'auto'          : true,
        'sizeLimit'	    : 500000,
        'fileExt'     : '*.jpg;*.gif;*.png',
        'onComplete' : showFiles, 
    });

	if($('.whats-this a').length > 0) {
		$('.whats-this a').mouseover(function() {
			$(this).siblings("p").fadeIn(600);
		});
		$('.whats-this a').mouseout(function() {
			$(this).siblings("p").fadeOut(600);
		});
	}
	
});




function showFiles(event, queueID, fileObj, response, data){
	$("img#thmnail").attr('src',response); 
	$("input#image").attr('value',response);
}
// ]]></script>

<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h2>Create a Group </h2>
		<div class="form_element clearfix" style="font-size:1.3em">
		<div class="form_label">
			<label>Group Image</label>
			<div class="form_description"><p>This is the image shown to users. Up to 500Kb</p></div>
		</div>
		<div class="form_helptip">
		<span class="whats-this"><a href="javascript:void(0);">
				<img src="/images/icons/whats_this.gif" alt="What's This"></a><p>This is the image assigned to your group</p></span>
		</div>
		<div class="form_input">
			<img id="thmnail" src="/images/image-not-found.gif"/>
		    <input id="file-upload" name="file-upload" type="file" />
		</div>
		</div>
   		<?php echo $this->form; ?>
	</div>
	<div class="red-bottom"></div>
</div>