<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h2>Close Group</h2>
		<?php if($this->error):?>
			<h2>Sorry</h2>
			<p><?php echo $this->error;?></p>
		<?php else:?>
			<p>We have closed your group and made it inaccessible outside of the "My Groups" tab</p>
			<p>If you want to restart the group, simply click on the manage and press the "resume" button</p>
		<?php endif;?>
	</div>
	<div class="red-bottom"></div>
</div>
