<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h2>All Groups </h2>
		<div id="groups-container">
			<?php echo $this->showGroups($this->mode, $this->page, $this->resultsPerPage, $this->options)?>
		</div>
	</div>
	<div class="red-bottom"></div>
</div>