<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h2>Resume Group</h2>
		<?php if($this->error):?>
			<h2>Sorry</h2>
			<p><?php echo $this->error;?></p>
		<?php else:?>
			<p>We have re-opened your group to its members.</p>
			<p>You can always manage your group from the "My Groups" page if you need to make changes</p>
		<?php endif;?>
	</div>
	<div class="red-bottom"></div>
</div>
