	<h2>Invite Contacts</h2>
	<p>Contacts currently in your group are excluded from this list</p> 
	<div id="contacts-container">
		<?php echo $this->showInviteContactsToGroup($this->idgroup,$this->page,$this->resultsPerPage,$this->options);?>
	</div>	
