<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
   	   
<?php $group = $this->group; ?>
<?php if(!$group):?>
	<h2>Sorry</h2>
	<p>You don't have access to that group, or the group has been closed</p>
<?php else:?>

<?php 
$groups = new Groups(); 
$status = $groups->getAccessStatus($group->idgroup, Zend_Registry::get('defSession')->currentUser->id);
$isOwner = (Zend_Registry::get('defSession')->currentUser->id == $group->idowner);?>

   	   <div class="item group">
		<div class="item-icon">
		<a><img class="user-image" style="margin-top: 6px" height="64" border="0" width="64" src="<?php echo (($img_path=$group->image) ? $img_path : "/images/image-not-found.gif"); ?>"></a>
	</div>

	<div class="item-action">
		<?php if($groups->inGroup(Zend_Registry::get('defSession')->currentUser->id,$group->idgroup)):?>	
			<?php if($isOwner):?>
					<?php echo $this->styleButton("manage","/app/group/manage/$group->idgroup"); ?>
			<?php elseif($status && $status > 200):?>
					<?php echo $this->styleButton("leave group","javascript:void(0);","leaveGroup($group->idgroup)"); ?>
			<?php endif;?>	
		<?php endif;?>

	</div>


	<div class="item-info">
	<span class="title"><a href="/app/group/view/<?php echo $group->idgroup?>" alt="view group"><?php echo $group->name; ?></a></span>
		<table class="item-summary">
			<tbody>
				<tr>
					<td colspan=4><span class="footer"><?php echo $group->description;?></span></td>
				</tr>
				<tr>
					<td class="info-label">OWNER:</td>
					<td class="value" style="width:150px"><?php echo $this->formatUserLink($group->ownername);?></td>
					<td class="info-label">SINCE:</td>
					<td class="value"><?php echo date("F d, Y", strtotime($group->created_on));?></td>
				</tr>
				<tr >
					<td class="info-label">STATUS:</td>
					<td class="value status" style="width:150px">OPEN</td>
					<td class="info-label">MEMBERS:</td>
					<td class="value"><?php echo $group->members;?></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
    <div class="clear">&nbsp;</div>
    
    <?php if($groups->inGroup(Zend_Registry::get('defSession')->currentUser->id,$group->idgroup)):?>
    <div id="wall-container-6_<?php echo $group->idgroup;?>" class="wall-container">
		<?php echo $this->showWall($group->idgroup, 6,true,1,8,0); ?>
	</div>
	<?php else:?>
		<h2>You are not a member of this group</h2>
		<p>Join the group to get access to the messages.</p>
	<?php endif;?>

<?php endif;?>


	</div>
	<div class="red-bottom"></div>
</div>