<h2><?php echo $this->translate->_('default_index_forgotpassword_recover'); ?></h2>
<div data-role="fieldcontain">
    <p><?php echo $this->translate->_('default_index_forgotpassword_registeredEmail'); ?></p>
    <?php echo $this->form; ?>


    <?php if ($this->tokenExpired) : ?>
        <div class="errors"><p><?php echo $this->translate->_('default_index_forgotpassword_expiredToken'); ?></p>
        </div>
    <?php endif; ?>

    <?php if ($this->emailError) : ?>
        <div class="errors"><p><?php echo $this->translate->_('default_index_forgotpassword_emailNotregistered'); ?>
                <br/>
                <a
                    href="/user/register"><?php echo $this->translate->_('default_index_forgotpassword_hereLink'); ?></a> <?php echo $this->translate->_('default_index_forgotpassword_registerAgainLink'); ?>
            </p>
        </div>
    <?php endif; ?>

    <?php if ($this->emailSent) : ?>
        <p><?php echo $this->translate->_('default_index_forgotpassword_emailSent'); ?></p>
    <?php endif; ?>


</div>
