<h2>Device Identification</h2>
<h2><?php echo $this->device['vendor'];?></h2>
<p>You can use this form to add devices to your account</p>
<?php echo $this->form; ?>
<?php if ($this->handsets): ?>
	<h2>Your Registered Handsets</h2>
	<table>
		<thead> 
			<tr>
				<th>Network Provider</th>
				<th>Make</th>
				<th>Model</th>
			</tr>
		</thead>
	<?php foreach($this->handsets as $handset) : ?>
				<tr>
					<td><?php echo $this->escape($handset->network);?></td>
					<td><?php echo $this->escape($handset->vendor);?></td>
					<td><?php echo $this->escape($handset->model);?></td>
				</tr>
	<?php endforeach; ?>
	</table>
<?php endif; ?>
<?php if ($this->device) : ?>
	<script>
		showMessage("Device:"+<?php echo $this->device['model'];?>);
	</script>
<?php endif; ?>
