<div id="container_column_middle_wide">

    <div class="listings-title">
       <h2><?php echo $this->translate->_('default_index_justRegistered_title'); ?></h2>
    </div>
    <div class="red-borders-content">

        <h3><p><?php echo $this->translate->_('default_index_justRegistered_title_sub'); ?></p></h3>

        <p>
            <?php echo sprintf($this->translate->_('default_index_justRegistered_user'), '<strong>' . $this->escape($this->username) . '</strong>') ?>
        </p>
        <?php echo $this->translate->_('default_index_justRegistered_description'); ?>

        <div class="clear">&nbsp;</div>
    </div>
    <div class="bottom-curve">&nbsp;</div>
</div>
