<form name='makeRandomSurvey' method='post' action="/admin/survey/random-survey">
<?php if($this->step==0):?>
	<h1>Select A Survey To Randomly Generate Data For</h1>
	Survey Name:
	<select name="surveySelect">
		<?php foreach($this->surveys as $surv):?>
			<option value="<?php echo $surv['idsurvey'];?>"><?php echo $surv['title'];?></option>
		<?php endforeach;?>
	</select>
	<input type='submit' name='loadSurvey' value='Load Survey'>
<?php elseif($this->step==1):?>
	<?php echo $this->message;?>
<?php else:?>

<?php endif;?>

</form>