<script type="text/javascript">
    $(document).ready( function() {
    	toggleButtonsOff(); 
    	 
        // Select all
        $("A[href='#select_all_grp']").click( function() {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").attr('checked', true);
            toggleButtonsOn(); 
            return false;
        });
 
        // Select none
        $("A[href='#select_none_grp']").click( function() {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").attr('checked', false);
            toggleButtonsOff(); 
            return false;
        });

		// Add a checked listener
        $("#group-grp INPUT[type='checkbox']").click(function(){
			// check if any are active
        	if($("#group-grp INPUT[type='checkbox']:checked").val() != null){
        		toggleButtonsOn(); 
            }else{
            	toggleButtonsOff(); 
        	}
        });
    });

	function toggleButtonsOn(){
		$(".action-tab-grp DIV").addClass("sbutton-active");
		$(".action-tab-grp DIV").removeClass("sbutton-inactive");
	}

	function toggleButtonsOff(){
		$(".action-tab-grp DIV").addClass("sbutton-inactive");
		$(".action-tab-grp DIV").removeClass("sbutton-active");
	}  
</script>

<div class="item-selector">
	<a rel="group-grp" href="#select_all_grp">Select All</a>
	<a rel="group-grp" href="#select_none_grp">| None</a>	
	<!-- actions -->
	<ul class="action-tab-grp">	
		<li><?php echo $this->styleButton("remove from group","javascript:void(0);","removeSelectedContactsFromGroup(".$this->group->idgroup.")",'action-button','sbutton-inactive'); ?></li>
	</ul>		
</div>




	