<?php
$translate = Zend_Registry::get('Zend_Translate');
?>
<script type="text/javascript">
    $(document).ready( function() {
    	toggleButtonsOff(); 
    	 
        // Select all
        $("A[href='#select_all']").click( function() {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").attr('checked', true);
            toggleButtonsOn(); 
            return false;
        });
 
        // Select none
        $("A[href='#select_none']").click( function() {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").attr('checked', false);
            toggleButtonsOff(); 
            return false;
        });

		// Add a checked listener
        $("#group INPUT[type='checkbox']").click(function(){
			// check if any are active
        	if($("#group INPUT[type='checkbox']:checked").val() != null){
        		toggleButtonsOn(); 
            }else{
            	toggleButtonsOff(); 
        	}
        });
    });

	function toggleButtonsOn(){
		$(".action-tab DIV").addClass("sbutton-active");
		$(".action-tab DIV").removeClass("sbutton-inactive");
	}

	function toggleButtonsOff(){
		$(".action-tab DIV").addClass("sbutton-inactive");
		$(".action-tab DIV").removeClass("sbutton-active");
	}  
</script>

<div class="item-selector">
	<a rel="group" href="#select_all"><?php echo $translate->_('app_contact_selector_selectAll'); ?></a>
	<a rel="group" href="#select_none">| <?php echo $translate->_('app_contact_selector_none'); ?></a>
	<!-- actions -->
	<ul class="action-tab">	
		<?php if(isset($this->options) && isset($this->options['invite_group_selector'])):?>
			<li><?php echo $this->styleButton($translate->_('app_contact_selector_choose'),"javascript:void(0);","removeSelectedContacts()",'action-button','sbutton-inactive'); ?></li>
		<?php else:?>
			<li><?php echo $this->styleButton($translate->_('app_contact_selector_remove'),"javascript:void(0);","removeSelectedContacts()",'action-button','sbutton-inactive'); ?></li>
		<?php endif;?> 
	</ul>		
</div>




	