<script type="text/javascript">
    $(document).ready( function() {
    	toggleInviteButtonsOff(); 
    	 
        // Select all
        $("A[href='#select_all_invites']").click( function() {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").attr('checked', true);
            toggleInviteButtonsOn(); 
            return false;
        });
 
        // Select none
        $("A[href='#select_none_invites']").click( function() {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").attr('checked', false);
            toggleInviteButtonsOff(); 
            return false;
        });

		// Add a checked listener
        $("#group-inv INPUT[type='checkbox']").click(function(){
			// check if any are active
        	if($("#group-inv INPUT[type='checkbox']:checked").val() != null){
        		toggleInviteButtonsOn(); 
            }else{
            	toggleInviteButtonsOff(); 
        	}
        });
    });

	function toggleInviteButtonsOn(){
		$(".action-tab-inv DIV").addClass("sbutton-active");
		$(".action-tab-inv DIV").removeClass("sbutton-inactive");
	}

	function toggleInviteButtonsOff(){
		$(".action-tab-inv DIV").addClass("sbutton-inactive");
		$(".action-tab-inv DIV").removeClass("sbutton-active");
	}  
</script>

<div class="item-selector">
	<a rel="group-inv" href="#select_all_invites">Select All</a>
	<a rel="group-inv" href="#select_none_invites">| None</a>	
	<!-- actions -->
	<ul class="action-tab-inv">	
		<li><?php echo $this->styleButton("accept","javascript:void(0);","acceptInvites(".$this->group->idgroup.")",'action-button','sbutton-inactive'); ?></li>
		<li><?php echo $this->styleButton("reject","javascript:void(0);","rejectInvites(".$this->group->idgroup.")",'action-button','sbutton-inactive'); ?></li>
	</ul>		
</div>




	