<div class="container_column_middle user-login">
<b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>
<div class="form-title"><?php echo $this->translate->_('default_index_forgotpassword_recover'); ?></div>
<div class="form-container">
<p><?php echo $this->translate->_('default_index_forgotpassword_registeredEmail'); ?></p>
<?php echo $this->form; ?>


<?php if ($this->tokenExpired) : ?>
	<div class="errors"><p><?php echo $this->translate->_('default_index_forgotpassword_expiredToken'); ?></p>
	</div>		
<?php endif; ?>
 
<?php if ($this->emailError) : ?>
	<div class="errors"><p><?php echo $this->translate->_('default_index_forgotpassword_emailNotregistered'); ?><br/>
		<a href="/user/register"><?php echo $this->translate->_('default_index_forgotpassword_hereLink'); ?></a> <?php echo $this->translate->_('default_index_forgotpassword_registerAgainLink'); ?></p>
	</div>		
<?php endif; ?>

<?php if ($this->emailSent) : ?>
	<p><?php echo $this->translate->_('default_index_forgotpassword_emailSent'); ?></p>
<?php endif; ?>


</div>
<div class="bottom-curve">&nbsp;</div>
</div>


