	<div id="container_column_middle_wide">
<b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>
<div class="form-title"><?php echo $this->translate->_('default_index_register_title'); ?></div>
<div class="form-container">
<div id="container_registration_left">
<h2><?php echo $this->translate->_('default_index_register_newToMob'); ?></h2>
<p><?php echo $this->translate->_('default_index_register_p1'); ?></p>

<?php if (isset($this->globalPageError)) { ?>
<div class="pageerror">
<?php 
if ($this->globalPageError == 'username') 
{ 
	echo $this->translate->_('default_index_register_userAlreadyRegistered');
} 
else if ($this->globalPageError == 'email') 
{
	echo $this->translate->_('default_index_register_EmailAlreadyRegistered');
} 
 ?>
</div>
<?php } ?>

<?php echo $this->registerForm->render(); ?>

</div>

<div id="container_registration_right">
  
  <ul>
    <li id="secure_info"><strong><?php echo $this->translate->_('default_index_register_secureInfo'); ?></strong><br /><?php echo $this->translate->_('default_index_register_ssl'); ?></li>
    <li id="info_privacy"><strong><?php echo $this->translate->_('default_index_register_infoPrivacy'); ?></strong><br /><?php echo $this->translate->_('default_index_register_strict'); ?> <a href="/index/privacy"><?php echo $this->translate->_('default_index_register_policy'); ?></a>.</li>
    <li id="no_obligation"><strong><?php echo $this->translate->_('default_index_register_noObligation'); ?></strong><br /><?php echo $this->translate->_('default_index_register_riskFree'); ?></li>
  </ul>
</div>
<div class="clear">&nbsp;</div>
</div>
<div class="bottom-curve" style="margin:0 0 10px 0;">&nbsp;</div>
<b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>
<div class="form-title"><?php echo $this->translate->_('default_index_register_login'); ?></div>
<div class="form-container">
<p><?php echo $this->translate->_('default_index_register_usernamePassword'); ?></p>

<?php echo $this->loginForm; ?>
 
<?php if ($this->loginError) : ?>
	<div class="errors"><?php echo $this->translate->_('default_index_register_invalidPassword'); ?></div>
<?php endif; ?>

<?php if ($this->loginFacebookError) : ?>
	<div class="errors"><?php echo $this->translate->_('default_index_register_facebookError'); ?></div>
<?php endif; ?>
 
<?php if ($this->notActivated) : ?>
	<div class="errors"><?php echo $this->translate->_('default_index_register_notActivatedError'); ?></div>
<?php endif; ?>
<div class="clear">&nbsp;</div>
<div style="padding:10px 0 0 0;">
<fb:login-button v="2" size="medium" onlogin="window.location='/app/';"><?php echo $this->translate->_('default_index_register_facebookConnect'); ?></fb:login-button>
</div>
</div>
  <div class="bottom-curve">&nbsp;</div>
</div>

