<?php
$translate = Zend_Registry::get('Zend_Translate');
?>

<script type="text/javascript" src="/js/files/list.js"></script>
<script type="text/javascript">
    
	// Preloads the file tables (method in files/list.js
	$(document).ready(function() {
		preloadTable(<?php echo $this->idproject ?>,"ndaFile");
		preloadTable(<?php echo $this->idproject ?>,"genFiles");
		preloadTable(<?php echo $this->idproject ?>,"screenShots");
		preloadTable(<?php echo $this->idproject ?>,"documentation");
		preloadTable(<?php echo $this->idproject ?>,"uploadPlan");
		preloadTable(<?php echo $this->idproject ?>,"testOutput");
		
		$("[id*=divdev]").each(function (i){
			// Get the id
			var divId = this.id.substring(3);
			preloadTable(<?php echo $this->idproject ?>,divId);
			
		});
		
		// need to preload the specific files too? 
	});
							
</script>

	<h5><?php echo $translate->_('mobile_partial_file_gettingStarted'); ?> <?php echo $this->project->Name; ?></h5>
	<?php if($this->project->instructions):?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $translate->_('mobile_partial_file_instructions'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr>
					<td><?php echo $this->project->instructions;?></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<?php endif;?>
	
<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $translate->_('mobile_partial_file_appDownloads'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_website'); ?>:</td>
					<td class=""><a style="color:black" href="<?php echo $this->project->weburl; ?>" target="_blank"><?php echo $this->project->weburl; ?></a></td>
				</tr>
				<tr >
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_appStore'); ?>:</td>
					<td class=""><a style="color:black"  href="<?php echo $this->project->appurl; ?>" target="_blank"><?php echo $this->project->appurl; ?></a></div></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_application'); ?>:</td>
					<td class=""><?php echo $translate->_('mobile_partial_file_application_description'); ?>.</td>
				</tr>
				<tr >
					<td> </td>
					<td class="footer"><div id="divgenFiles"></div></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $translate->_('mobile_partial_file_support_title'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_website'); ?>:</td>
					<td class=""></td>
				</tr>
				<tr >
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_appStore'); ?>:</td>
					<td class="footer"><div id="divndaFile"></div></td>
				</tr>
				
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_nda'); ?>:</td>
					<td class=""><?php echo $translate->_('mobile_partial_file_nda_description'); ?></td>
				</tr>
				<tr >
					<td> </td>
					<td class="footer"><div id="divndaFile"></div></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_application'); ?>:</td>
					<td class=""><?php echo $translate->_('mobile_partial_file_application_description'); ?></td>
				</tr>
				<tr >
					<td> </td>
					<td class="footer"><div id="divgenFiles"></div></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_images'); ?>:</td>
				</tr>
				<tr >
					<td> </td>
					<td class="footer"><div id="divscreenShots"></div></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_doc'); ?>:</td>
				</tr>
				<tr >
					<td> </td>
					<td class="footer"><div id="divdocumentation"></div></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $translate->_('mobile_partial_file_reporting'); ?>:</td>
				</tr>
				<tr >
					<td> </td>
					<td class="footer"><div id="divuploadPlan"></div></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
