<div data-role="navbar" data-theme="m">
    <ul>
        <li><a rel="external" href="/mobile/profile"><?php echo $this->translate->_('mobile_profile_menu_public'); ?></a></li>
        <li><a rel="external" href="/mobile/profile/edit"><?php echo $this->translate->_('mobile_profile_menu_edit'); ?></a></li>
        <li><a rel="external" href="/mobile/profile/contacts"><?php echo $this->translate->_('mobile_profile_menu_contacts'); ?></a></li>
        <li><a rel="external" href="/mobile/profile/account"><?php echo $this->translate->_('mobile_profile_menu_account'); ?></a></li>
    </ul>
</div>