<div data-role="navbar" data-theme="m">
    <ul>
        <li><a rel="external" href="/mobile/project" class="ui-btn-active"><?php echo $this->translate->_('mobile_project_menu_open'); ?></a></li>
        <li><a rel="external" href="/mobile/project/all"><?php echo $this->translate->_('mobile_project_menu_all'); ?></a></li>
        <li><a rel="external"href="/mobile/project/work"><?php echo $this->translate->_('mobile_project_menu_myProjects'); ?></a></li>
    </ul>
</div>