/* Theme for mob4hire mobile*/
.ui-bar-m {  border: 1px solid #2A2A2A; background: #d1d1d1; color: #fff; font-weight: bold; text-shadow: 0 -1px 1px #000; background-image: -moz-linear-gradient(top, #7d0c0e, #a91e24); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7d0c0e),color-stop(1, #a91e24));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c3c3c', EndColorStr='#111111')"; }
.ui-bar-m, .ui-bar-m input, .ui-bar-m select, .ui-bar-m textarea, .ui-bar-m button { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif; }
.ui-bar-m .ui-link-inherit { color: #fff; }
.ui-bar-m .ui-link { color: #7cc4e7; font-weight: bold; }

.ui-body-m {
	border: 1px solid #2A2A2A;
	background: #FFF;
	color: #333;
	font-weight: normal;
	background-image: -moz-linear-gradient(top, #ffffff, #d1d1d1);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #d1d1d1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#222222)')";
}
.ui-body-m, .ui-body-m input, .ui-body-m select, .ui-body-m textarea, .ui-body-m button { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif; }
.ui-body-m .ui-link-inherit { color: #fff; }
.ui-body-m .ui-link { color: #FFF; font-weight: bold; }
.ui-br { border-bottom: 1px solid rgba(130,130,130,.3); }

.ui-btn-up-m { border: 1px solid #222; background: #333333; font-weight: bold; color: #fff; cursor: pointer;  text-shadow: 0 -1px 1px #000; text-decoration: none; background-image: -moz-linear-gradient(top, #555555, #333333); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #555555),color-stop(1, #333333));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#333333')"; }
.ui-btn-up-m a.ui-link-inherit { color: #fff; }
.ui-btn-hover-m { border: 1px solid #000; background: #444444; font-weight: bold; color: #fff;  text-shadow: 0 -1px 1px #000; text-decoration: none; background-image: -moz-linear-gradient(top, #666666, #444444); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #666666),color-stop(1, #444444));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#444444')";   }
.ui-btn-hover-m a.ui-link-inherit { color: #fff; }
.ui-btn-down-m { border: 1px solid #000; background: #3d3d3d; font-weight: bold; color: #fff; text-shadow: 0 -1px 1px #000; background-image: -moz-linear-gradient(top, #333333, #5a5a5a); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #333333),color-stop(1, #5a5a5a));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#5a5a5a')"; }
.ui-btn-down-m a.ui-link-inherit { color: #fff; }
.ui-btn-up-m, .ui-btn-hover-m, .ui-btn-down-m { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif; }
