<div id="container_column_middle"> 
	<h2>User Search Indexes</h2>
	
	<p>Actions</p>
	<form action="/admin/search/user" method="post">
		<select name="execute" id="execute">
			<option>reindex</option>
			<option>optimize</option>
		</select>
		<input type="submit" name="reindex" id="reindex"/>
	</form>
	
	<p>Document Count:<?php echo $this->count;?></p>
	
	<p>Search Terms</p>
	<table>
		<thead>
			<td width="150px">Fields</td>
		</thead>
	<?php foreach($this->index->getFieldNames() as $term):?>
		<tr>
			<td><?php echo $term?></td>
		</tr>
	<?php endforeach;?>
	</table>
	<br/>
	<p>Test Searches</p>
	<table>
		<thead>
			<td width="150px">Search</td>
			<td width="150px">Results</td>
			<td width="150px">Time</td>
		</thead>
		<tr>
			<td><?php $timer = Timer::start(); $results = $this->index->find('android'); $elapsed = Timer::stop($timer);?>Android</td>			
			<td><?php echo sizeof($results);?></td>
			<td><?php echo $elapsed;?></td>
		</tr>
		<tr>
			<td><?php $timer = Timer::start(); $results = $this->index->find('iphone and canada'); $elapsed = Timer::stop($timer);?>Boku</td>			
			<td><?php echo sizeof($results);?></td>
			<td><?php echo $elapsed;?></td>
		</tr>
		<tr>
			<td><?php $timer = Timer::start(); $results = $this->index->find('open'); $elapsed = Timer::stop($timer);?>Open</td>			
			<td><?php echo sizeof($results);?></td>
			<td><?php echo $elapsed;?></td>
		</tr>
	</table>
	
	
</div>