
<div id="container_site">

   	
			<b class="rtop red">
			  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
			</b>
			<div class="form-container">
				
				<h1>Something has gone wrong. Don't panic.</h1>
				<img src="/images/dont-panic.jpg" alt="Dont Panic"/>
				<h2>We have been notified of the problem and if it persists contact us by email at support@mob4hire.com</h2>
				<h2>Here I am, brain the size of a planet, and they make me answer support calls</h2>
			</div>
		    <b class="rbottom red">
			  <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
			</b>
			
	

</div>


