<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<form name='surveyCreation' method='post' action="/admin/survey/add-new-question">
<?php if($this->id>0):?>
<h1>Question Added</h1>
<input type="submit" name="startOver" value="Add Another Question"/>
<?php else:?>
<h1>Add New Question Page</h1>

Please enter the question text:<br/>
<textarea rows="5" cols="50" name="question_text"></textarea><br/>
Select Answer Group:
<select name="answerGroup" >
	<?php foreach($this->answerGroups as $group):?>
		<option value="<?php echo $group['answergroup'];?>" <?php if($group['answergroup']==$this->groupSelected){echo ' selected="selected"';}?>><?php echo $group['answergroup'];?></option>
	<?php endforeach;?>
</select><br/><br/>
Select Question Type:
<select name="questionType">
	<option value="1">Multiple Choice</option>
	<option value="2">Text Response</option>
</select>
Is it manadatory:
<select name="mandatory">
	<option value="1">Yes</option>
	<option value="0">No</option>
</select>
Is it Multi-Select:
<select name="multi">
	<option value="0">No</option>
	<option value="1">Yes</option>
</select>
Is this a custom question:
<select name="custom">
	<option value="0">No</option>
	<option value="1">Yes</option>
</select>
<br/><br/>

<input type="submit" name="addQuestion" value="Add Question"/>
<input type="submit" name="viewAnswer" value="View Answers"/>
<table class='dynamicTable' align=center border=1>
	<thead>
		<tr>
			<th>Text</th>
			<th>Value</th>
			<th>Group</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach($this->answers as $answer):?>
		<tr>
			<td><?php echo $answer['text'];?></td>
			<td><?php echo $answer['value'];?></td>
			<td><?php echo $answer['answergroup'];?></td>
		</tr>
	<?php endforeach;?>
	</tbody>
</table>

<?php endif;?>
</form>
</body>