<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<form name='surveyCreation' method='post' action="/admin/survey/create-survey">
<?php if(!$this->check):?>

	<h1><?php echo $this->message;?></h1>
	Survey Name: <input type="text" name="newSurveyName" /><br/>
	Project ID: <input type="text" name="newProjectID" /> This is the database ID for the project.  It is required.<br/>
	Application Name: <input type="text" name="appName" /><br/>
	Handset Name: <input type="text" name="handset" value="the handset"/><br/>
	Would you like to load another survey's questions into this survey?:
	<select name="loadMobExp">
		<option value="0" selected="selected">No</option>
		<?php foreach($this->surveyTitles as $titles):?>
			<option value="<?php echo $titles['idsurvey'];?>"><?php echo $titles['title'];?></option>
		<?php endforeach;?>
	</select><br/>
	<input type='submit' name='createSurvey' value='Create New Survey'>
</form>
<?php else:?>
	<h1><a href="/admin/survey/edit-survey/loadNewSurvey/<?php echo $this->surveyID;?>">Go Edit Page</a></h1>
<?php endif;?>

</body>