<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<form name='editSurvey' method='post' action="/admin/survey/edit-survey">
<input type="hidden" name="survey_id" value="<?php echo $this->surveyID;?>"/>
<input type="hidden" name="surveyName" value="<?php echo $this->surveyName;?>"/>
<input type="hidden" name="projectID" value="<?php echo $this->idproject;?>"/>
<?php if($this->surveyStep==0):?>
	<h1>Select A Survey To Edit</h1>
	Survey Name:
	<select name="surveySelect">
		<?php foreach($this->surveys as $surv):?>
			<option value="<?php echo $surv['idsurvey'];?>"><?php echo $surv['title'];?></option>
		<?php endforeach;?>
	</select>
	<input type='submit' name='loadSurvey' value='Load Survey'>

<?php elseif($this->surveyStep==1):?>
	<h1><?php echo $this->surveyName;?></h1>
	<table class='dynamicTable' align=center border=1>
		<thead>
			<tr>
				<th>#</th>
				<th>Question</th>
				<th>Answer Group</th>
				<th>Title</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->surveyQuestionList as $list):?>
				<tr>
					<td><?php echo $list['idquestion'];?></td>
					<td><?php echo $list['text'];?></td>
					
					<td><?php echo $list['answergroup'];?></td>
					<td><?php echo $list['title'];?></td>
					<td>
						<a href="/admin/survey/edit-survey/removeQuestion/<?php echo$list['idsurvey_question'];?>/survey_id/<?php echo $this->surveyID;?>">Remove</a>
					</td>
				</tr>
			<?php endforeach;?>
		</tbody>
	</table>
	<a href="/admin/survey/edit-survey/addNewQuestion/<?php echo $this->surveyID;?>">Add a new Question to the survey</a>
<?php elseif($this->surveyStep==2):?>
	<h1>Question List</h1>
	<table class='dynamicTable' align=center border=1>
		<thead>
			<tr>
				<th>Question</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->questionList as $list):?>
				<tr>
					<td><a href="/admin/survey/edit-survey/viewQuestion/<?php echo $list['idquestion'];?>/idsurvey/<?php echo $this->surveyID;?>"><?php echo $list['text'];?></a></td>
					<td><?php echo $list['type'];?></td>
				</tr>
			<?php endforeach;?>
		</tbody>
	</table>
	<a href="/admin/survey/edit-survey/addCustomQuestion/1/survey_id/<?php echo $this->surveyID;?>">Add Custom Question</a>
<?php elseif($this->surveyStep==3):?>
	<h1>View Question</h1>
	<input type="hidden" name="questionID" value="<?php echo $this->questionInfo['idquestion'];?>"/>
	<p><?php echo $this->questionInfo['text'];?></p>
	<table class='dynamicTable' align=center border=1>
		<thead>
			<tr>
				<th>Answer</th>
				<th>Order</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->answerList as $list):?>
				<tr>
					<td><?php echo $list['text'];?></td>
					<td><?php echo $list['order'];?></td>
				</tr>
			<?php endforeach;?>
		</tbody>
	</table>
	<input type='submit' name='addQuestionToSurvey' value='Add This Question To Survey'/>
	<input type='submit' name='backToQuestionList' value='See Question List'/>
	<input type='submit' name='backToSurveyQuestionList' value='Survey Question List'>
<?php elseif($this->surveyStep==4):?>
	<h1>Add New Question Page</h1>
	
	Please enter the question text:<br/>
	<textarea rows="5" cols="50" name="question_text"></textarea><br/>
	Select Answer Group:
	<select name="answergroup" >
		<?php foreach($this->answerGroups as $group):?>
			<option value="<?php echo $group['answergroup'];?>" <?php if($group['answergroup']==$this->groupSelected){echo ' selected="selected"';}?>><?php echo $group['answergroup'];?></option>
		<?php endforeach;?>
	</select><br/><br/>
	Select Question Type:
	<select name="questionType">
		<option value="1">Multiple Choice</option>
		<option value="2">Text Response</option>
	</select>
	Is it manadatory:
	<select name="mandatory">
		<option value="1">Yes</option>
		<option value="0">No</option>
	</select>
	Is it Multi-Select:
	<select name="multi">
		<option value="0">No</option>
		<option value="1">Yes</option>
	</select><br/>
	Is this a custom question:
	<select name="custom">
		<option value="0">No</option>
		<option value="1" selected="selected">Yes</option>
	</select>
	<br/><br/>
	
	<input type="submit" name="addNewCustomQuestion" value="Add Question"/>
	<input type="submit" name="viewAnswer" value="View Answers"/>
	<table class='dynamicTable' align=center border=1>
		<thead>
			<tr>
				<th>Text</th>
				<th>Value</th>
				<th>Group</th>
			</tr>
		</thead>
		<tbody>
		<?php foreach($this->answers as $answer):?>
			<tr>
				<td><?php echo $answer['text'];?></td>
				<td><?php echo $answer['value'];?></td>
				<td><?php echo $answer['answergroup'];?></td>
			</tr>
		<?php endforeach;?>
		</tbody>
	</table>
<?php elseif($this->surveyStep==5):?>

<?php else:?>

<?php endif;?>

</form>
</body>