

<form name='surveyResults' method='post' action="/admin/survey/survey-results">
	<?php if($this->step==0):?>
		<h1>Select A Survey To Randomly Generate Data For</h1>
		Survey Name:
		<select name="surveySelect">
			<?php foreach($this->surveys as $surv):?>
				<option value="<?php echo $surv['idsurvey'];?>"><?php echo $surv['title'];?></option>
			<?php endforeach;?>
		</select>
		<input type='submit' name='loadSurvey' value='Get Results'>
	<?php elseif($this->step==1):?>
		<?php 
		echo 'ALI is : '.$this->ALI.'<br/>';
		echo 'RLI is : '.$this->RLI.'<br/>';
		echo 'PLI is : '.$this->PLI.'<br/><br/>';
		echo "ALI question 4  :$this->ALI1<br/>";
		echo "ALI question 7  :$this->ALI2<br/>";
		echo "ALI question 8  :$this->ALI3<br/>";
		echo "PLI question 9  :$this->PLI1<br/>";
		echo "PLI question 10 :$this->PLI2<br/>";
		echo "RLI question 11 :$this->RLI1<br/>";
		echo "RLI question 12 :$this->RLI2<br/>";
		?>
		<br/>
		<a href="/admin/survey/surveycsv/idsurvey/<?php echo $this->idsurvey;?>" >DOWNLOAD CSV</a><br/>
		<br/>
		<a href="/admin/survey/survey-results/resetIt/1" >Start Again</a><br/>
	<?php else:?>
	
	<?php endif;?>
</form>