<?php
$cache = Zend_Registry::get('cache');

if ( !is_null($cache) ) {
	if ( !$cacheList = $cache->load('cache_list') ) {
		$cacheList = array();
	}
} else {
	$cacheList = array();
}
?>
<div style="text-align:center;">
<ul>Items in Cache: <?php echo count($cacheList); ?></ul>
<table width='500px' border='1' cellspacing='0' celpadding='2'>
	<tr>
		<th>Item</th>
		<th>Sub-Item</th>
		<th>Hits</th>
		<th>Misses</th>
		<th>% hits</th>
		<th>Time in misses</th>
	</tr>
	<?php
	$results = array();
	foreach ($cacheList as $cacheItem) {
		?>
		<tr>
			<td colspan='5'><b><?php echo $cacheItem; ?></b></td>
		</tr>
		<?php
		$results = array();
		if ( $misses = $cache->load('cache_' . $cacheItem . '_misses' ) ) {
			foreach( $misses as $missedItem => $value ) {
				$results[$missedItem] = array();
				$results[$missedItem]['hit'] = 0;
				$results[$missedItem]['miss'] = $value;
				$results[$missedItem]['pct'] = 0;
				$results[$missedItem]['miss_time'] = 0;
			}
		}
		if ( $hits = $cache->load('cache_' . $cacheItem . '_hits' ) ) {
			foreach ( $hits as $hitItem => $value ) {
				$results[$hitItem]['hit'] = $value;
				if ( isset( $results[$hitItem]['miss'])) {
					$results[$hitItem]['pct'] = $value / ( $value + $results[$hitItem]['miss'] );
				} else {
					$results[$hitItem]['pct'] = 'UnKnown';
				}
			}
		}
		if ( $times = $cache->load('cache_' . $cacheItem . '_miss_time' ) ) {
			foreach ( $times as $time => $value ) {
				$results[$time]['miss_time'] = $value;
			}
		}
		foreach( $results as $result => $value) {
	?>
		<tr>
			<td>&nbsp;</td>
			<td><?php echo $result; ?></td>
			<td align="right"><?php echo $value['hit']; ?></td>
			<td align="right"><?php echo isset($value['miss'])?$value['miss']:"?"; ?>
			</td>
			<td align="right"><?php printf( "%01.2f", ($value['pct'] * 100.0) ); ?>%</td>
			<td align="right"><?php printf( "%01.2f", (isset($value['miss_time'])?$value['miss_time'] * 1000.0:0.0) ); ?>ms</td>
		</tr>
	<?php 
		}
	}
	?>
</table>
</div>