<p>Hello <?php echo ($this->name); ?>,</p> 

<p>Here are your access credentials to access the SMS API</p> 

Key: <?php echo ($this->key); ?>
Secret:<?php echo ($this->secret); ?>

SMS Code: <?php echo ($this->smscode); ?>

The SMS code will need to be included in each SMS message that you send out to the testers with a space before and after it. That ensures we can properly track the SMS route. 

Your key and secret will work on the API panel at <a href='http://api.mob4hire.com'>http://api.mob4hire.com</a>. That panel can help you get started right away and is useful for debugging any automation code you create. You will have to enable the "TwoLeggedOAuth" in the Authentication at the tab and it will ask for your key and secret at that time. 

All the documentation is available online at <a href='http://developer.mob4hire.com'>http://developer.mob4hire.com</a>. You will also find sample code in a variety of languages to get started. 


Cheers, 
Mob4Hire