<h2>The test from the project '<?php echo $this->projectname;?>' has been cancelled.</h2>

<p>After investigation, it has been found that the tester did not complete the test to the required level desired by the Developer. As such all monies that have been placed in escrow for this test have been returned to the owner of the project.</p>

<p>It is important to all concerned, especially the tester, that the tester inform support@mob4hire.com why they couldn't provide the required results for the project which they were successful candidates.</p>

<p>This is a final notice of test cancellation.</p>
<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>
<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>


