<h2>Unfortunately, the Developer has declined your test results from  project '<?php echo $this->projectname;?>'</h2>

<p>Mob4Hire will be unable to release the funds until this is resolved with the Developer.</p>

<p>A message has been sent to the Resolutions Team and they will work with you to determine the correct course of action.</p>
<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>
<p>If you have questions or comments, please contact support@mob4hire as a forward from this email.</p>


