<h2>Congratulations, your bid for project <?php echo ($this->projectname); ?> has been accepted by the Developer!</h2>

<p>Your funds are now in escrow and your project is now available. You can visit it by clicking the link below.</p>

<p>You should use a <?php echo $this->vendor. ' '.$this->model.' on the '.$this->network.' network in '.$this->country.'.';?></p>  

<p><a href="<?php echo $this->url ?>/app/mobster/showproject/idproject/<?php echo $this->idproject; ?>" >
	<?php echo $this->url ?>/app/mobster/showproject/idproject/<?php echo $this->idproject;?>
</a></p>

<?php if (isset($this->comments) && $this->comments != ''): ?>
<p> Additional Comments from the Developer:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>

<p>Please carefully review the test plan and reporting requirements before you start the project.  Results should be submitted according to the test plan and on time to ensure you will be paid. Upon acceptance of your test results, your funds will be released to your Mob4Hire account.</p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>
