<h2>A project has been posted that requires moderation.</h2>

<p>You can moderate the project here:</p>

<p><a href="<?php echo $this->url;?>/admin/project/edit/id/<?php echo $this->idproject; ?>">
	<?php echo $this->url; ?>/admin/project/edit/id/<?php echo $this->idproject; ?>
</a></p>

<p>For immediate approval:</p>

<p><a href="<?php echo $this->url;?>/admin/project/approve/id/<?php echo $this->idproject; ?>">
	<?php echo $this->url; ?>/admin/project/approve/id/<?php echo $this->idproject;?>
</a></p>

<p>The project profile is located here:</p>

<p><a href="<?php echo $this->url;?>/app/project/view/<?php echo $this->idproject; ?>" >
	<?php echo $this->url;?>/app/project/view/<?php echo $this->idproject; ?>
</a></p>

<p>Details:</p>
