<h2>You have requested to reset your Mob4Hire password.</h2>

<p>You can click this link <a href="<?php echo $this->url; ?>/index/forgotpassword?cc=<?php echo $this->code?>">
	<?php echo $this->url;?>/index/forgotpassword?cc=<?php echo $this->code?>
</a> to recover your password.</p> 

<p>If you have received this email in error, please ignore the link in the email above.</p>

<p>If you have any questions or comments, please contact us at support@mob4hire as a forward from this email.</p>


