<h2>The test from the project '<?php echo $this->projectname;?>' has been reset.</h2>

<p>The test is once again flagged as "In Progress" in our system.  As such, the tester may once again submit test results.</p>

<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>
<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>


