<div style="margin:25px auto; width:653px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; font-size:100%; line-height:1.4; color:#414141;"><!--Container: Outer-->
	<div style="margin:1em 25px 0 30px; font-weight:bold; font-size: 22px;"><!--Header Info-->
	    <span>MOB<span style="color:#b42126;">4HIRE</span></span><br />
    </div>    
	
    <div style="margin:15px 0 0 0; border:#b42126 6px solid; padding:25px;">
			<div style="width:100%; padding:0 25px 0 0px; font-size:1.1em;">
			
				<h1 style="color:black; font-weight: bold;font-size: 1.2em; margin:0 0 1em 0;">
					Hello <?php echo $this->name;?>:<br />
              	</h1>
				
				<?php echo $this->content;?>
				
				<ul style="font-size: 12px; background-color: lightgray; padding: 15px 15px 15px 30px; width: 465px; border: 1px solid black;">
				<li><a style="text-decoration:underline; color:#991c20;" href="http://www.mob4hire.blogspot.com">Mob4Hire Blog</a></li>
				<li><a style="text-decoration:underline; color:#991c20;" href="http://www.twitter.com/mob4hire/">Mob4Hire on Twitter</a></li>
                <li>A quick public overview of Mob4Hire from the Telecom Council of Silicon Valley Showcase:<a style="text-decoration:underline; color:#991c20;" href="http://tinyurl.com/25hpjn8">http://tinyurl.com/25hpjn8</a></li>
				
				<li>A 16 page detailed slide deck which explains our MobExperience Mobile Usability Research product, including a case study:<a style="text-decoration:underline; color:#991c20; "href="http://tinyurl.com/2dc82p5">http://tinyurl.com/2dc82p5</a></li>
				
				</ul>
			</div>        
	</div>
	<div style="width:100%; overflow:auto; margin:1em 25px 0 25px"><!--Container: Footer -->
		<a style="display:block; margin-right:10px; border:none; outline:none; float:left;text-decoration:none; color:#000;" href="http://www.mob4hire.com/" >
			<img style="border:none; outline:none; " src="http://staging.mob4hire.com/images/email/logo-m4h-small.gif" width="227" height="56" alt="Mob4Hire" />
		</a>
		<div style="font-size: 11px; text-align:left;">
			<a style="text-decoration:none; color:#000;" href="http://www.mob4hire.com">www.mob4hire.com</a> | <a style="text-decoration:none; color:#000;" href="http://www.twitter.com/mob4hire/">twitter.com/mob4hire</a> |
			<a style="text-decoration:none; color:#000;" href="#">info@mob4hire.com</a> |<br />Suite 502, Alastair Ross Technology Centre 3553 31st Street NW <br/>Calgary, AB  T2L 2K7
		</div>
	</div>
	<div style="margin:1em 25px 0 25px;">
		<p style="font-size: 11px;"><a style="text-decoration:underline; color:#991c20;" href="#">Click to view this email in a browser</a></p>
		<p style="font-size: 11px;">Ensure newsletter delivery to your inbox by adding no-reply@mob4hire.com to your address book</p>
		<p style="font-size: 11px;">You're receiving this email because you've been a registered user of the Mob4Hire community since <Date>. If you want to stop getting them, please reply to this email with "No More Email" or click here: <a style="color:#991c20;" href="#">No More Email</a>.</p>
	</div>
</div>