<?php
$translate = Zend_Registry::get('Zend_Translate');
?>
<div style="margin:25px auto; width:653px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; font-size:100%; line-height:1.4; color:#414141;"><!--Container: Outer-->
	<div style="margin:1em 25px 0 30px; font-weight:bold; font-size: 22px;"><!--Header Info-->
	    <span>MOB<span style="color:#b42126;">4HIRE</span></span><br />
    </div>    
	
    <div style="margin:15px 0 0 0; border:#b42126 6px solid; padding:25px; overflow:auto;">
			<div style="width:100%; padding:0 25px 0 0; font-size:1.1em;">
			
				<h1 style="color:#000; font-weight:bold;font-size: 1.2em; margin:0 0 1em 0;">
					Hi <?php echo $this->name;?>,
              	</h1>
				
				<?php echo $this->content;?>
				<br/><br/>
				
				<p style="margin:0 0 1em 0;"><a style="text-decoration:underline; color:#991c20;" href="http://mob4hire.com">Mob4Hire.com</a><br /><a style="text-decoration:underline; color:#991c20;" href="http://www.twitter.com/mob4hire/">Twitter</a></p>
			</div>        
	</div>
	<div style="width:100%; overflow:auto; margin:1em 25px 0 25px"><!--Container: Footer -->
		<a style="display:block; margin-right:10px; border:none; outline:none; float:left;text-decoration:none; color:#000;" href="http://www.mob4hire.com/" >
			<img style="border:none; outline:none; " src="http://static.mob4hire.com/images/email/logo-m4h-small.gif" width="227" height="56" alt="Mob4Hire" />
		</a>
		<div style="font-size:11px; text-align:left;">
			<a style="text-decoration:none; color:#000;" href="http://www.mob4hire.com">www.mob4hire.com</a> | <a style="text-decoration:none; color:#000;" href="http://www.twitter.com/mob4hire/">twitter.com/mob4hire</a> |
			<a style="text-decoration:none; color:#000;" href="#">info@mob4hire.com</a> |<br />Suite 502, Alastair Ross Technology Centre 3553 31st Street NW <br/>Calgary, AB  T2L 2K7
		</div>
	</div>
	<div style="margin:1em 25px 0 25px;">
		<p style="font-size: 11px;">Ensure newsletter delivery to your inbox by adding no-reply@mob4hire.com to your address book</p>
		<p style="font-size: 11px;">You're receiving this email because you've been a registered user of the Mob4Hire community. If you want to stop getting them, adjust your settings in your profile</p>
	</div>
</div>