<div id="container_column_middle"> 
<h3><a href="/admin/search/user">User Indexing</a></h3><br/>
<h3><a href="/admin/search/project">Project Indexing</a></h3><br/>
</div><!--End: container_column_middle_wide --> 
