<?php $group = $this->group;
$groups = new Groups(); 
$status = $groups->getAccessStatus($group->idgroup, Zend_Registry::get('defSession')->currentUser->id);
$isOwner = (Zend_Registry::get('defSession')->currentUser->id == $group->idowner);
$wall = new Wall();
$invites = new GroupInvites(); 

?>
<div class="item group">
	<div class="item-icon">
		<a><?php if($this->options['layout'] == "compact"):?>
		<img class="user-image" style="margin-top: 2px" height="32" border="0" width="32" src="<?php echo (($img_path=$group->image) ? $img_path : "/images/image-not-found.gif"); ?>">
		<?php else:?>
		<img class="user-image" style="margin-top: 6px" height="64" border="0" width="64" src="<?php echo (($img_path=$group->image) ? $img_path : "/images/image-not-found.gif"); ?>">
		<?php endif;?>
		</a>
	</div>
	
	<div class="item-action">
		<?php if($this->options['layout'] == "standard"):?>
		<?php if($groups->inGroup(Zend_Registry::get('defSession')->currentUser->id,$group->idgroup)):?>
			<?php echo $this->styleButton("view","/app/group/view/$group->idgroup"); ?>
		
			<?php if($isOwner):?>
					<?php echo $this->styleButton("manage","/app/group/manage/$group->idgroup"); ?>
			<?php elseif($status && $status > 200):?>
				<?php echo $this->styleButton("leave group","javascript:void(0);","leaveGroup($group->idgroup)"); ?>
			<?php endif;?>	
			
		<?php else:?>
			<?php if(!$isOwner && !$invites->hasPendingInvite($group->idgroup,Zend_Registry::get('defSession')->currentUser->id)):?>
				<?php echo $this->styleButton("join group","javascript:void(0);","joinGroup($group->idgroup)"); ?>
			<?php endif;?>
		<?php endif;?>
		<?php endif;?>

	</div>

	<div class="item-info">
	<span class="title">	
	<?php if($this->options['layout'] == "compact"):?>
		<a rel="external" href="/mobile/group/view/id/<?php echo $group->idgroup?>" alt="view group"><?php echo $group->name; ?></a>
	<?php else:?>
		<a href="/app/group/view/<?php echo $group->idgroup?>" alt="view group"><?php echo $group->name; ?></a>
	<?php endif;?>
	</span>
	
	<table class="item-summary">
		<tbody>
			<tr>
				<td colspan=4><span class="footer"><?php echo $group->short;?></span></td>
			</tr>
			<tr>
				<td class="info-label">OWNER:</td>
				<td class="value" style="width:150px"><?php echo $this->formatUserLink($group->ownername,$this->options['layout']);?></td>
				<td class="info-label">SINCE:</td>
				<td class="value"><?php echo date("F d, Y", strtotime($group->created_on));?></td>
			</tr>
			<tr >
				<td class="info-label">STATUS:</td>
				<td class="value status" style="width:150px">
					<?php if($isOwner)
							echo Groups::$status[$group->status];
						   elseif($status) 
							echo Groups::$access[$status];
						   else 
							echo "Join";
						?>
				</td>
				<td class="info-label">MEMBERS:</td>
				<td class="value"><?php echo $group->members;?></td>
			</tr>
			<tr>
				<td class="info-label">TYPE:</td>
				<td class="value status" style="width:150px"><?php if($this->type==2) echo "Private"; else echo "Public";?></td>
				<td class="info-label">POSTS:</td>
				<td class="value"><?php echo $wall->countThreads($group->idgroup, 6);?></td>
			</tr>
			<?php if($this->options['layout'] == "compact"):?>
	
			<tr><td colspan="4" >	
				<div data-role="controlgroup" data-type="horizontal">
				<?php if($groups->inGroup(Zend_Registry::get('defSession')->currentUser->id,$group->idgroup)):?>
						<a rel="external" href="/mobile/group/view/id/<?php echo $group->idgroup;?>"  data-role="button">VIEW</a>
					<?php if($status && $status > 200):?>
						<a href="javascript:void(0);" onclick="leaveGroup(<?php echo $group->idgroup;?>)" data-inline="true"  data-role="button">LEAVE GROUP</a>
					<?php endif;?>	
				<?php else:?>
					<?php if(!$isOwner && !$invites->hasPendingInvite($group->idgroup,Zend_Registry::get('defSession')->currentUser->id)):?>
						<a href="javascript:void(0);" data-inline="true" onclick="joinGroup(<?php echo $group->idgroup;?>)" data-role="button">JOIN GROUP</a>
					<?php endif;?>
				<?php endif;?>
				</div>
			</td></tr>
			<?php endif;?>
			
		
			
		</tbody>
	</table>
	</div>
</div>



