<script type="text/javascript">
<!--
$(document).ready(function() {
	$(".popup").overlay({
	
		onBeforeLoad: function() {
			var wrap = this.getOverlay().find(".content-wrap");

			var href = "http://"+window.location.hostname + this.getTrigger().attr("href"); 
			wrap.load(href);
			
		}
	});
});

//-->
</script>

<?php $group = $this->group;
$groups = new Groups(); ?>
<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
   	    <div class="item group">
		<div class="item-icon">
		<a><img class="user-image" style="margin-top: 6px" height="64" border="0" width="64" src="<?php echo (($img_path=$group->image) ? $img_path : "/images/image-not-found.gif"); ?>"></a>
	</div>
	
	<div class="item-action">
		<?php if($group->status == 100):?>
			<?php echo $this->styleButton("close group","/app/group/close/$group->idgroup"); ?>
		<?php elseif ($group->status == 101):?>
			<?php echo $this->styleButton("resume group","/app/group/resume/$group->idgroup"); ?>
		<?php endif;?>
			
		<?php echo $this->styleButton("view","/app/group/view/$group->idgroup"); ?>
		
		<div class="popup" href="/app/group/selector?idgroup=<?php echo $group->idgroup?>" rel="#overlay" style="text-decoration:none">
			<?php echo $this->styleButton("invite users","#"); ?>
		</div>
		
	</div>


	<div class="item-info">
	<span class="title"><a href="/app/group/view/<?php echo $group->idgroup?>" alt="view group"><?php echo $group->name; ?></a></span>
		<table class="item-summary">
			<tbody>
				<tr>
					<td colspan=4><span class="footer"><?php echo $group->description;?></span></td>
				</tr>
				<tr>
					<td class="info-label">OWNER:</td>
					<td class="value" style="width:150px"><?php echo $this->formatUserLink($group->ownername);?></td>
					<td class="info-label">SINCE:</td>
					<td class="value"><?php echo date("F d, Y", strtotime($group->created_on));?></td>
				</tr>
				<tr >
					<td class="info-label">STATUS:</td>
					<td class="value status" style="width:150px"><?php echo Groups::$status[$group->status]?></td>
					<td class="info-label">MEMBERS:</td>
					<td class="value"><?php echo $group->members;?></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
    <div class="clear">&nbsp;</div>
    <h2>Requests To Join</h2>
	
	<?php if($group->status == 101):?>
	
	<div class="project">
		<div class="item">
		<div class="change-summary">
			<span class="no-change"> 			
				Project Paused			
			</span>
		</div>
		<div class="item-info">
			<table class="item-summary">
				<tbody>	
					<tr>
						<td><span class="value">You cannot manage invites while the group is inactive.</span></td>
					</tr>
				</tbody>
			</table>
			</div>	
		</div>
	</div>
	<?php else:?>
	
	<div id="invites-container">
		<?php echo $this->showGroupInvites($group->idgroup,'',1,0,$this->options); // show all invites?>
	</div>
	<?php endif;?>
    <h2>Current Users</h2>
    <?php if($group->status == 101):?>
	
	<div class="project">
		<div class="item">
		<div class="change-summary">
			<span class="no-change"> 			
				Project Paused			
			</span>
		</div>
		<div class="item-info">
			<table class="item-summary">
				<tbody>	
					<tr>
						<td><span class="value">You cannot manage users while the group is inactive.</span></td>
					</tr>
				</tbody>
			</table>
			</div>	
		</div>
	</div>
	<?php else:?>
    <div id="contacts-container">
		<?php echo $this->showGroupUsers($group->idgroup,'',$this->page,$this->resultsPerPage,$this->options);?>
	</div>	
	<?php endif;?>
	</div>
	<div class="red-bottom"></div>
</div>

<!-- For Invites -->
<div id="overlay" class="page-overlay">
	<!-- the external content is loaded inside this tag -->
	<div class="content-wrap"><img src="/images/working.gif"/> Loading users list...</div>
</div>

