<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAS2lPC-u1NcUVyVqCxZvmRBQSsAKcA1jn7aKEiQ-eqra4M9X4yhScXKsBoQxPG6xRnCbLMV3NELIIWA">
</script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js" type="text/javascript"></script>
<script type="text/javascript">
    function loadFeedControl(){
	
        var options = {
            numResults: 8,
            linkTarget: google.feeds.LINK_TARGET_BLANK,
            stacked: false
        };
        
        var feed = "http://mob4hire.blogspot.com/feeds/posts/default?alt=rss";
        var fg = new GFdynamicFeedControl(feed, "feedControl", options);
    }
    
    /**
     * Use google.load() to load the AJAX Feeds API
     * Use google.setOnLoadCallback() to call loadFeedControl once the page loads
     */
    google.load("feeds", "1");
 	google.setOnLoadCallback(loadFeedControl);	
</script>
<script type="text/javascript">
	/*$(document).ready(function(){
		if($('#m4h_title_video').length >0) {
	
		   // install flowplayer into flowplayer container 
		   //var player = $f("player", "http://www.youtube.com/v/YJY1Fkl4ZnI&hl=en&fs=1&rel=0&color1=0x5d1719&color2=0xcd311b"); 
	
		   // setup button action. it will fire our overlay  
		   $("a[rel]").overlay({ 
			            expose: '#333',
	
		       // use the Apple effect for overlay 
		       effect: 'apple', 
	
		     /*  // when overlay is opened, load our player 
		       onLoad: function() { 
		           //player.load(); 
		       }, 
	
		       // when overlay is closed, unload our player 
		       onClose: function() { 
		           //player.unload(); 
		       } 
		   });
		}
	});*/
</script>

<!-- Testimonial Cycler -->
<script type="text/javascript">
    $(document).ready(function(){
	//preload images.
	var img0 = $('<img />').attr('src', '/images/testimonials/Testimonial-CNET.jpg');
	var img1 = $('<img />').attr('src', '/images/testimonials/Testimonial-NAVTEQ.jpg');
	var img2 = $('<img />').attr('src', '/images/testimonials/Testimonial-O2.jpg');
	var img3 = $('<img />').attr('src', '/images/testimonials/Testimonial-IMMI.jpg'); 
	var img4 = $('<img />').attr('src', '/images/testimonials/Testimonial-RedHerring.jpg');
	var img5 = $('<img />').attr('src', '/images/testimonials/Testimonial-Galaxy.jpg');
	var img6 = $('<img />').attr('src', '/images/testimonials/Testimonial-WirelessWeek.jpg');
	var img7 = $('<img />').attr('src', '/images/testimonials/Testimonial-Wavefront.jpg');
	var img8 = $('<img />').attr('src', '/images/testimonials/Testimonial-Flurry.jpg');
	
	var i = Math.floor(Math.random()*9);//get initial random image number from 0-8.	
		
		$("#testimonial").click(function()
		{
		i>7 ?$(this).html(eval('img' + (i=0))):$(this).html(eval('img' + ++i)); //increment and reset i, build dynamic variable name, append display image.
		});
		$("#testimonial").trigger('click');//on page load call click to display initial random image.
	});
</script> 

<!-- Image cycler -->
<div id="container_splash">
    <div id="splash_content">
        <div class="anythingSlider">
            <div class="wrapper">
                <ul>			
				<a href="/services/managed?product=Test"><img src="/images/splash/Mob4Hire-Banners-Three-Apr-2011.jpg" alt="" /></a>
			</li>
               </ul>
            </div>
        </div>
    </div>
	
    <div id="callout_panels">
        <ul>
            <li>
                <a id="mobile-user" href="the-mob/testers/">Info For Mobile Developers</a>
            </li>
            <li>
                <a id="developers" href="the-mob/developers/">Info For Developers</a>
            </li>
        </ul>
        <ul>
            <li>
                <a id="carriers" href="the-mob/developer-networks">Info For Carriers, OEM's and O/S</a>
            </li>
            <li>
                <a id="researchers" href="the-mob/market-researchers">Info For Market Researchers</a>
            </li>
        </ul>
    </div>
	
    <div id="horizontal_bar">
        <div id="site_stats_title">
            <strong>Community Stats</strong>:
        </div>
        <div id="site_stats_content">
            <span style="font-weight:bold;">
                <?php
                echo $this->testerCount;
                ?>
            </span>
            <span style="font-style:italic;"><a href="the-mob/testers">people (mobsters)</a></span>
            have <span style="font-weight:bold;">
                <?php
                echo $this->handsetCount;
                ?>
            </span>
            different mobile handsets on <span style="font-weight:bold;">
                <?php
                echo $this->carrierCount;
                ?>
            </span>
            carriers in <span style="font-weight:bold;"><?php echo $this->userCountryCount; // todo put the necessary stuff in the model to make this work ?></span>
            countries!
            <br/>
            Mob4Hire also reaches <span style="font-weight:bold;">
                <?php
                echo $this->developerCount;
                ?>
            </span>
            <span style="font-style:italic;"><a href="the-mob/developers/developers">mobile application developers</a></span>
            and <span style="font-style:italic;"><a href="the-mob/market-researchers">market research firms</a></span>
            from <span style="font-weight:bold;">
                <?php
                echo $this->developerCountryCount;
                ?>
            </span>
            countries.
        </div>
        <div id="container_verified_seals">
			<a href="/services/managed/" ><img class="getQuoteButton" src="/images/buttons/button-get-a-quote.gif" alt="Get A Quote"/></a>
            <img style="vertical-align:center;" align="right" src="/images/verified-seal-paypal.gif" alt="PayPal Verified"/>
        </div>
    </div>
</div>
<div id="home_news_ticker">
    <div id="buzz_title">
        <span class="label">BUZZ</span>
    </div>
    <!--16 Words Max for ticker, not including label-->
    <div id="feedControl">
        <p>
            Loading...<img src="../images/indicator.gif" />
        </p>
    </div>
    <div class="socialnetwork-links">
		<a target="_blank" href="http://mob4hire.blogspot.com">
			<img src="/images/logos/logo-blogger-small.png" />
		</a>
		<a target="_blank" href="http://twitter.com/mob4hire/">
			<img src="/images/logos/logo-twitter-small.png" />
		</a>
		<a target="_blank" href="http://www.facebook.com/group.php?gid=16319165190">
			<img src="/images/logos/logo-facebook-small.png" />
        </a>

		<a target="_blank" href="http://www.linkedin.com/groups?home=&amp;gid=2400665">
			<img src="/images/logos/logo-linkedin-small.png" />	
		</a>
		<!--
        <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=70027859-f0b1-4298-bb1d-6c123b42ea98&amp;type=website">
        </script>
        -->
    </div>
</div>
<div id="container_home_panels" class="clearfix">
    <div class="panel_left">
        <div class="content">       
           <!--  Left Panel -->
           <div class="overlay-title" style="background-image:url('/images/overlay/white.png')"> 
	 	                 <div style="position:absolute;width:425px" id="__ss_5649643">
	 	                	<object width="575" height="425" align="center" style="padding:0px 0px 0px 0px; ">
							<param name="movie" value="http://www.youtube.com/v/YJY1Fkl4ZnI?fs=1&amp;hl=en_US"></param>
							<param name="allowFullScreen" value="true"></param>
							<param name="allowscriptaccess" value="always"></param>
							<param name="wmode" value="transparent" />
							<embed src="http://www.youtube.com/v/YJY1Fkl4ZnI?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"    wmode ="transparent" width="575" height="425" style="padding-top:20px"></embed>
							</object>
	 	               	</div>	 	            
	 	            </div> 
	 	            <div id="m4h_title_video"> 
	 	                <a href="http://mob4hire.wufoo.com/forms/x7x2q5/" onclick="window.open(this.href,  null, 'height=575, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Request Information on MobPartner Program"> 
	 	               		<img src="/images/panel-homepage-mobpartner.gif" width="310" height="240" alt="Become a Mob Partner" />
	 	                </a> 
	 	            </div>   
        </div>
    </div>
    <div class="panel_middle">
        <div class="content">
      	 	       <div class="overlay" style="background-image:url('/images/overlay/white.png')"> 
	 	                <!-- flowplayer container<a id="player" href="http://flowplayer.org/video/flowplayer-700.flv"> -->
	 	                <div style="position:absolute;width:425px" id="__ss_5649643">
	 	                	<strong style="position:absolute;display:block;margin:12px 0 4px">
	 	                	<a href="http://www.slideshare.net/stebankag/mob4hire-mobile-app-usability-mobexperience-overview" title="Mob4Hire Mobile App Usability (MobExperience) Overview" target="_blank" >Mob4Hire Mobile App Usability (MobExperience) Overview</a>
	 	                	</strong>
	 	                	<object id="__sse5649643" width="575" height="425">
	 	                		<param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=mob4hiremobileusabilityoverview-101102182030-phpapp02&amp;stripped_title=mob4hire-mobile-app-usability-mobexperience-overview&amp;userName=stebankag"><param name="allowFullScreen" value="true">
	 	                		<param name="allowScriptAccess" value="always">
	 	                		<embed name="__sse5649643" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=mob4hiremobileusabilityoverview-101102182030-phpapp02&amp;stripped_title=mob4hire-mobile-app-usability-mobexperience-overview&amp;userName=stebankag" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="575" height="425">
	 	                	</object>
	 	               	</div>	 	            
	 	            </div> 
	 	            <div id="m4h_work_video"> 
	 	                <a href="http://mob4hire.wufoo.com/forms/k7x2z1/" onclick="window.open(this.href,  null, 'height=575, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Request Information on MobExperience">
	 	               		<img src="/images/panel-homepage-mobile-usability-research.gif" width="310" height="240" alt="Mob4Hire How does it work Video" />
	 	                </a> 
	 	            </div>   
	 	                 
	</div>
    </div>
    <div class="panel_right">
		<!--<img src="/images/panel-sept-madness-2010.gif" alt="Save up to $199 on all Regular and Premium Projects.  Offer valid until September 30, 2010." />-->
            <div id="testimonial">
			</div>
			<!--Error in JS for Youtube movie in Safari.  For some reason, panel_middle js pop-up does not display if the following markup below is removed...-->
	<!--		<a href="#" target="_blank"></a>-->
			
       </div>
</div>
<div id="home_about">
<br>
<hr>
<br>

    <h2>What Is MOB<span class="mobred">4HIRE</span>? We make mobile better!</h2>
   <p>
   Mob4Hire uses a crowd-services approach to help brands, mobile and tablet app developers, mobile market researchers, mobile advertisers and telecoms bring 4+ Star mobile experiences to life.
</p>
    <p>Mob4Hire provides quality assurance for everything mobile, with a global community of mobile enthusiasts covering thousands of device/carrier/country/OS versions combinations, including managed crowd services for functional and usability testing.  </p>
	
<p>Mob4Hire's unique approach focuses on the user experience in real world situations.  We inject user feedback into every aspect of the development cycle because the cost of functional and usability problems is high - from support costs for developers, MNOs and app stores to cost of loss of sales. The right user research and design collaboration can enhance mobile strategy, reduce creation and maintenance costs, increase initial and sustained user adoption and also provide a roadmap for future mobile properties.</p>

<p>Our flexible professional services team works with you to ensure you get the best possible outcome from our international community:</p>

<h3>Create a mobile experience</h3>
<ul>
<li><?php echo $this->formatProduct('mobsurvey')?>  Mobile Surveys. Global Panels.</li>
</ul>

<h3>Improve a mobile experience</h3>
<ul>
<li><?php echo $this->formatProduct('mobexperience')?>  Mobile User Experience Usability Research</li>
<li><?php echo $this->formatProduct('mobtest')?>     Real World App Testing</li>
<li><?php echo $this->formatProduct('mobsimtest')?>    How Well Do Your SIMs Roam?</li>
<li><?php echo $this->formatProduct('mobsmstest')?>     Do Your SMS Messages Get There?</li>
</ul>
            
<h3>Measure a mobile experience</h3>
<ul start="4">
<li><?php echo $this->formatProduct('mobstar')?>     Mobile User Engagement Metrics</li>
<!--<li><?php //echo $this->formatProduct('mobaccelerator')?>    Launch and Drive Brand Mobile Transactions</li>-->
</ul>      
          
<br>
<br>
        <p>
        These unique, fast and cost-effective products allows <a href="the-mob/developers/developers">mobile app developers, marketers,product managers and market researchers</a> to collect key marketing, functional testing and usability data from independent and representative uses in a truly mobile environment. This results in applications and websites that work better on the device they are intended (smartphone, tablet, reader, T.V.), reach the market faster, all at a fraction of the cost compared to the old-school approach to usability testing and research.</p>
        <p>The <a href="the-mob/testers">testers (a.k.a. "Mobster")</a> are a combination of different types of people; those living a mobile lifestyle, Quality Assurance professionals, and MobPro's (professional firms that can help out with a variety of localized services). They get paid to do projects; the results are  significantly better than relying on free-source testing communities, email support systems and one line user reviews in app stores."</p>
<p><a href="the-mob/market-researchers">Fortune 5000 brands</a> are facing a signicant shift in the way the communicate and engage with their target consumers. There were more smartphones sold in Q4, 2010 than P.C.'s around the world. Product Managers and Market Research teams in Fortune 500 Brands can use Mob4Hire to conceive and market test ideas and projects both as they relate to mobile ad campaigns, engagements and mobile extensions of existing product lines. Agencies, consultants and system integrators that serve Fortune 5000 brands can join our MobPartner program to take advantage of our unique tool set of services.</p>
<p>
<a href="the-mob/developer-networks">Telcos, manufacturers, and O/S platform vendors</a> can benefit from Mob4Hire's unique services including app review boards and the <a href="services/star">MOBSTAR CERTIFIED</a> program as part of their app approval process ensuring only the best apps reach the end-user. Network operators can save quality assurance costs by using the Mob to perform local tasks; for example, our popular <a href="services/mobsimtest">MOBSIMTEST</a> product reduces field testing costs for SIMs in many countries and carriers by distributing them to local Mobsters -- eliminating travel/rental costs.</p>
<p>Having the <a href="services/star">MOBSTAR CERTIFIED logo</a> on a mobile product or service means that it is a high-quality premium product with exceptional growth potential. A MOBSTAR rating reflects the users' overall loyalty toward the how a business's app or web mobile experience. Specifically, the MOBSTAR rating indicates how much people will recommend it, what they will say about it; all of which leads to more downloads from repeat business / word-of-mouth through viral and social media.</p>
<p>The Mob4Hire process works with all handset manufacturers including Motorola, Samsung, Apple, Nokia, Sony-Ericsson, HTC, LG, RIM(Blackberry), Palm, BenQ-Siemens, Sharp,Audiovox, ZTE and many others on most GSM and CDMA networks. Of course, since the Mob is made up of all the most popular handsets, we also support all the platforms: Apple iOS, Blackberry, Symbian, Android, Windows 7, webOS, Bada, Meego, etc..., and many different network operators, too. Of course, we support original development on all platforms, and our community is very adept at porting as well.</p>

<br>
<br>
<br>
</div>

