            <div id="container_column_middle_wide">            	
            	
				<h3>Clients</h3>
				
		<div class="middle_row_partner clearfix">
                	<div class="partner_logo"><img src="/images/logos/o2litmus.gif"/></div>
                    <div class="description">
                    	<h3>O2LITMUS</h3>
                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <a href="http://www.o2litmus.com">Find Out More</a></p>
                    </div>
	       </div>
		
	       <div class="middle_row_partner clearfix">
                	<div class="partner_logo"><img src="/images/logos/motodev.gif" alt="The Motorola developer network" title="The Motorola developer network"/></div>
                    <div class="description">
                    	<h3>MOTOROLA DEVELOPER</h3>
                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <a href="http://developer.motorola.com">Find Out More</a></p>
                    </div>
	       </div>
		
                <h3>Partners</h3>
		
		<div class="middle_row_partner clearfix">
                	<div class="partner_logo"><img src="/images/logos/navteq.gif" alt="Navteq - The Leading Map Provider" title="Navteq - The Leading Map Provider"/></div>
                    <div class="description">
                    	<h4>NAVTEQ</h4>
                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <a href="http://developer.navteq.com/site/global/20_industryreference/mob4hire/p_mob4hire.jsp">Find Out More</a></p>
                    </div>
                </div>
		
		<div class="middle_row_partner clearfix">
                	<div class="partner_logo"><img src="/images/wavefront.jpg" alt="Accelerating commercialization of new wireless products and services, Wavefront is the focal point for wireless market traction" title="Accelerating commercialization of new wireless products and services, Wavefront is the focal point for wireless market traction"/></div>
                    <div class="description">
                    	<h3>WAVEFRONT</h3>
                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <a href="http://www.wavefrontac.com">Find Out More</a></p>
                    </div>
	       </div>
		   
          		
		<h3>Associates</h3>
		
		<!--logo soup-->
<a href="http://wurfl.sourceforge.net"><img src="/images/wurfl_logo_main_114px.gif" alt="The De-Facto Standard Open-Source Device Capability Repository" title="The De-Facto Standard Open-Source Device Capability Repository" ></a>

<a href="http://www.newt.trlabs.ca"><img src="/images/newt_logo.png" alt="Network for emerging wireless technologies" title="Network for emerging wireless technologies"></a>

<a href="http://www.wipconnector.com"><img src="/images/wip_logo.png" alt="Wireless Industry Partnership" title="Wireless Industry Partnership"></a>

<a href="http://www.betavine.com"><img src="/images/betavine_logo.png" alt="A Vodafone Group R&D Lab" title="A Vodafone Group R&D Lab"></a>

<a href="http://www.fogstudios.com"><img src="/images/fogstudios_logo.png" alt="THE LEADING AGENCY FOR INTERACTIVE RIGHTS SINCE 1979" title="THE LEADING AGENCY FOR INTERACTIVE RIGHTS SINCE 1979"></a>

<a href="http://www.bnettv.com"><img src="/images/bnettv_logo.png" alt="A full service Internet broadcasting company specializing in live audio and video streaming" title="A full service Internet broadcasting company specializing in live audio and video streaming"></a>

<a href="http://www.imgawards.com"><img src="/images/imga_logo.png" alt="The International Mobile Gaming Awards (IMGA), launched in 2004 is the leading platform for Innovation in Mobile Entertainment worldwide" title="The International Mobile Gaming Awards (IMGA), launched in 2004 is the leading platform for Innovation in Mobile Entertainment worldwide"></a>

<a href="http://www.mobilejamsession.com"><img src="/images/mjs_logo.jpg" alt="The Mobile Jam Session is a day to inspire new ideas and innovate solutions to existing challenges. Las vegas March 31, 2008" title="The Mobile Jam Session is a day to inspire new ideas and innovate solutions to existing challenges. Las vegas March 31, 2008"></a>

<a href="http://www.growwireless.com"><img src="/images/growwireless_logo.png" alt="Make it Fly" title="Make it Fly"></a>

<a href="http://www.superhappyfunfun.com"><img src="/images/superhappyfunfun_logo.png"></a>

<a href="http://www.game-lion.com/"><img src="/images/game-lion-logo.png" alt="Gamelion Studios ? casual games cross-platform development, porting and testing services." title="Gamelion Studios ? casual games cross-platform development, porting and testing services."></a>

<br /><br /><br />


</div><!--end container middle wide-->

	       
	       
			
                
            <br class="clear" />
