<div class="red-top"></div>
	<div class="red-mid">
		<h1>Dashboard</h1>

<div class="current_projects">
	<h2><?php echo $this->title;?></h2>

	<?php  if ($this->mode=='compatible' && $this->projectList->count()==0):?>
	<div class="app-form-normal">
			<h1>Sorry</h1>
		<p>Your device and/or network do not match the requirements of any submitted projects.</p>
		<p>If you have other handsets or networks available, please go to your <a href='/app/profile/mobster'>Mobster Profile </a>and add them.</p>
		<div class="submit_buttons clearfix">
			<div class="button" id="continue">
				<a href="/app/profile/mobster"><span>Continue</span></a>
			</div>
			<div class="clear">&nbsp;</div>
		</div>	
	</div>
	<?php elseif ($this->mode=='draft' && $this->projectList->count()==0):?>
	<div class="app-form-normal">
			<h1>Sorry</h1>
		<p>You don't have any projects in draft.</p>
		<p>To create a new project <a href='/app/project/newproject'>click here </a>or click the continue button to go to the app dashboard.</p>
		<div class="submit_buttons clearfix">
			<div class="button" id="continue">
				<a href="/app"><span>Continue</span></a>
			</div>
			<div class="clear">&nbsp;</div>
		</div>	
	</div>
		<?php else:?>
	<div >
		<ul>
			<li>Sort by:</li>
			<li><a href="javascript:void(0)" onclick="showPage('Name', 1)">Project Name</a>&nbsp;|&nbsp;</li>
			<li><a href="javascript:void(0)" onclick="showPage('d.Username,Name', 1)">Developer</a>&nbsp;|&nbsp;</li>
			<li><a href="javascript:void(0)" onclick="showPage('StartDate desc,Name', 1)">Start</a>&nbsp;|&nbsp;</li>
			<li><a href="javascript:void(0)" onclick="showPage('Status desc,Name', 1)">Status</a>&nbsp;|&nbsp;</li>
			<li><a href="javascript:void(0)" onclick="showPage('Duration desc,Name', 1)">Duration</a></li>
		</ul>
	</div>
	
	<div id="project_listings">
		<script>
			$(".project_item a").bigTarget({
			    hoverClass: 'over', // CSS class applied to the click zone onHover    
			    clickZone : 'div:eq(0)' // jQuery parent selector
			});
		</script>

		<?php foreach($this->projectList as $project) : ?>
			<?php echo $this->partial('partial/_project_default_status.phtml', array('project'=>$project, 'lastLogin'=>$this->lastLogin));?>
		<?php endforeach; ?> 
	</div>
	 

	<div class="footer_nav_results">
		<ul>
			<?php if ($this->pageNumber > 1):  // Do not show 'Prev link 'if we are already on the first page ?>
				<li><a href="javascript:void(0)" onclick="showPage('StartDate desc', <?php echo $this->pageNumber-1;?>)">Previous</a></li>
			<?php endif;?>
			<?php for ($i=10*(int)(($this->pageNumber-1)/10)+1; $i <= 10*(int)(($this->pageNumber-1)/10)+10 && $i<=$this->numberOfPages; $i++): ?>
				<li>
					<?php if($i!=$this->pageNumber):?>
						<a href="javascript:void(0)" onclick="showPage('StartDate desc', <?php echo $i; ?>)">
					<?php endif;?>
					<?php echo trim($i); ?><?php if($i!=$this->pageNumber):?></a><?php endif;?>
				</li>
			<?php endfor; ?>
			<?php if  ($this->pageNumber < $this->numberOfPages):  // Do not show 'Last' link 'if we are already on the last page ?>
				<li><a href="javascript:void(0)" onclick="showPage('StartDate desc', <?php echo $this->pageNumber+1;?>)">Next</a></li>
			<?php endif;?>
		</ul>
	</div>
	<?php endif;?>
 
</div>
</div>