<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

include 'config.php';
include 'opendb.php';

$idmake=$_GET['make'];
$qrydevice=mysql_query("SELECT * FROM deviceatlas WHERE vendor='$idmake' ORDER BY model");
echo "<SELECT name = 'device'> <OPTION value= ''>Any</OPTION>\n";
while($qrydevice && $record=mysql_fetch_array($qrydevice)) {
	echo "<OPTION value='$record[id]'>$record[model]</OPTION>\n";
	echo "<br>\n";
}
echo "</SELECT>";
?>
