<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

include 'config.php';
include 'opendb.php';

$idcountry=$_GET['country'];
$qrynetwork=mysql_query($debug="SELECT * FROM networks WHERE idcountry='$idcountry' ORDER BY network");
echo "<SELECT name = 'network'> <OPTION value= ''>Any</OPTION>\n";
while($qrynetwork && $record=mysql_fetch_array($qrynetwork)) {
	echo "<OPTION value='$record[idnetwork]'>$record[network]</OPTION>\n";
	echo '<br>\n';
}
echo "</SELECT>";
?>