<script type="text/javascript" src="/js/AC_ActiveX.js"></script>
<script type="text/javascript" src="/js/AC_RunActiveContent.js"></script>

            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">			
            	<h1>Network operators, OEM's, and O/S vendors</h1>
                <h2>For your Developer Network or App Store:<br>Help mobile developers make great software for your users!</h2>
    <a href="/services/managed"><img src="/images/buttons/button-get-a-quote.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a>
<p>If you are an Operator, Handset Manufacturer, Operating system vendor, or Mobile 2.0 browser company, you know how important mobile software is to your growth strategy.</p>
<p>According to a <a href="http://www.chetansharma.com/mobileappseconomy.htm" target="_blank">Chetan Sharma report</a> (commissioned by GetJar), mobile app revenue is expected to grow from $7B in 2009 to $50B in 2012 (92% CAGR). The direct and indirect data revenue is only part of it, however. In early 2010, we released a 111 country, 5,000 mobile enthusiast study <a href="/content/gmr/Mob4Hire_BOB_Customer_Loyalty_Mobile_Impact_Summer_Report_2010.pdf">"Mob4Hire Global Wireless Satisfaction Survey"</a> that analyzed the impact of mobile apps on customer loyalty to network operators. And, we found out some interesting things:</p>
<img src="/images/PoweredByMob4HireNew.gif" alt="Powered by Mob4Hire" style="padding:6px 2px 6px 10px;" align="right">
<ul>
  <li>75%  of respondents report that mobile apps are important when choosing their new operator.</li>
  <li>The dimensions of wireless coverage and service are still the MOST important factor when choosing their new operator, the importance of mobile apps are a close second and will no doubt raise the bar for operators.</li>
  <li>37% cite lack of mobile apps as a reason for leaving a network operator</li>
  <li>89% of mobile users in the survey report that apps crash on their phone</li>
  <li>Mobile users like to see 4 star user reviews for an app before downloading or purchasing. One and two star apps are not good for your business.</li>
</ul>
    <p>So, it's vital to have developers write software for your platform AND to create great mobile software. Mobile software that creates customer evangelists leading to reduced churn.</p>
    <p>Mob4Hire has been specifically designed to bring mobile developers and users closer together, to collaborate - a critical factor in ensuring that customers get something they want while making sure that the people with the ideas and technical skills have an appreciative and profitable market for their products.</p>
<p>When you're ready to talk about how the Power of the Crowd can help your business, contact us at <a href="mailto:winwinwin@mob4hire.com">winwinwin@mob4hire.com!</a> We look forward to helping your company bring the customer into the mobile app development cycle.</p>
<hr>
<h2>We'd love to earn your business in one of four ways:</h2>
<a href="/services/star"><img src="/images/buttons/ banner-mobstar-certified.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a>
<ul>
<li><strong>Create an App Review Board</strong> (Mob4Hire Review Board) using our MOB<span class="mobred">STAR</span> Certified program. As a replacement or augmentation to your existing certification programs, this is an opportunity to create a system where mobile apps are rated by our crowd in a scientifically valid manner.  Any app that doesn't meet your minimum MOBSTAR Certified rating will give valuable inmarket user feedback to your mobile developers to help them make their software better.</li>
<li><strong>Act as a preferred supplier to your developer community</strong> (Standard Mob4Hire Functional and Market Research Service), with co-marketing links and referrals. We know that developers love our service because we save them time and money as they push forward towards their launch dates. Partnering together with Mob4Hire will make it easier for you to attract and retain developers.</li>
<li><strong>Create a unique white-labelled user community</strong>  for your Developer Network or App Store (Mob4Hire as a Platform - MAAP(tm)). This is what we have done with O2/Litmus in the UK. This custom developed white-label service can be completely branded as your company so that your users have a consistent branding experience. We can provide the platform, the API's, the crowd-sourcing expertise, the micropayment system, and even the day-to-day maintenance and the crowd.</li>
<li><strong>Use the Mob to decrease internal costs.</strong> For example, by using our <a href="../services/mobsimtest">MOB<span class="mobred">SIMTEST</span></a> product, sending SIMs to mobile users in-market (to test voice and data using their own phones and carrier subscriptions) can save 90% off the traditional costs of doing this testing! Similarly, <a href="../services/mobtasks">MOB<span class="mobred">TASKS</span> can be used to have mobile users do other small, non-complex jobs for you in their local region.</li>
</ul>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />
