            <div id="container_column_middle"> 
	<div class="red-top-sm"></div>
	<div class="red-mid">			

            	<h1>Mobile Developers and Market Researchers</h1>
<h2>Mob4Hire is distributed mobile testing and market research services...</h2>
	
			
	  <div id="stats_bar" >
        <h3>Community Stats</h3>

        <div id="site_stats_content">
            <span style="font-weight:bold; color:black">
                <?php
                echo $this->testerCount;
                ?>
            </span>
            <span style="color:black">people with </span>
            <span style="font-weight:bold; color:black">
                <?php
                echo $this->handsetCount;
                ?>
            </span>
            <span style="color:black">different mobile handsets on </span>
            <span style="font-weight:bold;">
                <?php
                echo $this->carrierCount;
                ?>
            </span>
            <span style="color:black">carriers in <span style="font-weight:bold; color:black"><?php echo $this->userCountryCount; // todo put the necessary stuff in the model to make this work ?></span></span>
            <span style="color:black">countries are eagerly waiting to help you with your mobile development.</span>
		<hr/>
            <span style="font-weight:bold; color:black">
                <?php
                echo $this->developerCount;
                ?>
	   </span>
           <span style="color:black">
		 other mobile developers just like you have registered at Mob4Hire from
           </span>
            <span style="font-weight:bold; color:black">
                <?php
                echo $this->developerCountryCount;
                ?>
           </span>
           <span style="color:black">
                countries. 
           </span>

        </div>
    </div>

<br/>

<p>Whether you are developing mobile apps, mobile websites, or mobile appvertising, you are faced with numerous challenges to produce world class user experiences:</p>
<ul>
<li>A fragmented mobile ecosystem that includes thousands of different handsets, different operator API's, different countries and different versions of operating systems ... all of which makes it difficult to ensure your creation behaves correctly in all permutations and combinations</li>
<li>Access to users in markets you are targeting DURING the development cycle, not after you release, when it's too late (and users are giving one One Star reviews in app stores)</li>
<li>Huge competition once you release ... how do you get noticed? (Discovery)</li>
<li>Time pressures to have everything done yesterday</li>
<li>Cost constraints that makes traditional functional and usability testing out of reach for most developers</li>
<li>No time or expertise to perform market research, product management surveys or customer loyalty analysis ... all of which leads to a better understanding of your users and better software / marketing</li>
</ul>            

<img src="/images/testimonials/pta_testimonial_immi.jpg" alt="IMMI Developer Quote" align="right" style="padding:6px 2px 6px 10px;"/>
<h3>How can Mob4Hire help?</h3>
<p>Using Mob4Hire's crowd-sourced mobile application testing and market research, Mob4Hire significantly reduces costs and time to market by connecting you with eager, lower priced, crowd sourced testers (a.k.a. "Mobsters") and market focus groups. This network of testers can speed up the mobile development process at all stages of development in a highly cost-effective manner. </p>
                 <p>This allows you to not only test for bugs and technical compatibility, but also to collect key marketing and usability data from an independent tester in a truly mobile environment. This results in mobile applications that work better, reach the market faster, all at a fraction of the cost compared to the old-school approach to testing.</p>
  <h3>You'll love Mob4Hire because you can:</h3>
    <ul>
    <li>Save up to 90% on testing costs</li>
    <li>Get to market faster</li>
    <li>Maximize handset and network coverage</li>
    <li>Fix lots of bugs</li>
    <li>Make better apps</li>
    <li>Make more money</li>
    </ul>

    <h3>Frequently Asked Questions</h3>
<a href="/the-mob/developers-faq"><img src="/images/banner-faq-developer.gif" alt="Developer FAQs" align="right" style="padding:6px 2px 6px 10px;"/></a>
<p>As a developer, we connect you with mobile enthusiasts around the world on different handsets, countries and network operators ...  it's a pretty simple system, but you may have a few questions. <a href="/the-mob/developers-faq">Here's a list of frequently asked questions (FAQ's)</a> that we ..., er ... ummm ..., frequently get asked.</p>
<hr>
    <h3>What are some of the Developers in the Mob4Hire community saying?</h3>
<ul>
<li>"I hate trying to recruit test users, especially testers with a specific phone model. Mob4Hire gives me easy access to a large international group of potential testers, many of whom are expert phone users or experienced testers."</li>
<li>"I am able to outsource part of our internal QA function, and test different locales"</li>
      	<li>"I like the way the installer files are SMSed to test participants."</li>
      	<li>"Overall I found the testers to be of reasonable quality for the money spent. There is value in using the service."</li>
      	<li>"Excellent opportunity to obtain international participants for prototype evaluation and research purposes."</li>
</ul>

<hr>
<h2> Mobile Marketers</h2>
<p>We welcome any and all types of Market Researchers to Mob4Hire. Whether you are a marketing manager, a product manager, work in a research firm, or are a consultant, Mob4Hire offers not only a global panel of tech-savvy mobile enthusiasts, but also the survey tools to integrate quickly into your market research projects.</p>
    <a href="/services/managed"><img src="/images/buttons/button-get-a-quote.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a><p>The Mob4Hire Platform serves as an excellent vehicle to conduct market research with mobile users that can be uniquely identified by the handset they own and the network they are on. With our global team of testers (Mobsters), we can provide your market research firm with access to thousands of individual users from all corners of the planet. Our mobsters are technically-savvy early-adopters that have identified themselves as "eager to work" in the mobile industry in order to make some additional money.</p>
<p>Mob4Hire offers:</p>
<ul>
<li><b>Unrestricted global access</b> to mobile users without network operators getting in the way</li>
<li><b>Integrated survey tools</b> that co-ordinate with the Mob4Hire platform</li>
<li><b>Cost effective</b> manner to gather in-market usage, attitude and behavior data</li>
<li><b>Extremely fast</b> response and data collection</li>
</ul>
		
	<p>Here's the survey products that you can use with Mob4Hire's global network of mobile users:</p>
	<div class="sales_list">
<ul>
<li>MOB<span class="mobred">SURVEY</span>: An open ended-survey; you define it and ask the questions you want. These can be functional test questions, usability, attitudes, behavior ... Mobsters will do (almost) whatever you need them to, and answer whatever you need to know. <a href="/services/mobile-app-research">More info.</a></li>
<li>MOB<span class="mobred">EXPERIENCE</span>: Standardized survey with customer loyalty and app functionality/usability questions. Use this survey to figure out how to make your apps better and increase recommendations / positive reviews. Most importantly, for marketers, MOB<span class="mobred">EXPERIENCE</span> also lets you sharpen your marketing messages as the research illustrates people's usage and behaviour as it relates to your mobiles apps. <a href="/services/mobile-app-research">More info.</a></li>
<li>MOB<span class="mobred">ACCELERATOR</span>: Standardized survey with customer loyalty and App Store user "mobile mystery shopping." Use this survey to understand recommending behaviour, and how to make App Store discoverability, screen shots and marketing copy better. <a href="/services/accelerator">More info.</a></li>
</ul>	
</div>
<hr>
<h2>Survey ideas</h2>
	<p>Here are some ideas for the types of surveys you can run. We can only imagine that we're just scratching the surface ...  we look forward to the creative projects you'll run using Mob4Hire!</p>
	<p><b>Mob Usage and Conversion</b> - You've solved the first big problem of distributing mobile apps; you've got hundred's of thousands of users downloading your Fremium app. But, the Conversion to the paid version of your app are much lower than your expectations. Or, maybe people use your app a lot in the first week, but then usage dies off. Why? What can you do to fix your software? What's the compelling feature that will make your software "sticky"?</p>
	<p><b>Branding</b> -  Brand equity research that determines what motivates Mobsters to choose your product. What is your brand positioning? Does it resonate with your target user? Does what your brand stand for REALLY make a difference to your end-user?</p>
	<p><b>A/B testing of ad campaigns</b> - If you're looking for immediate feedback and measurement on ad campaigns, A/B testing with a couple hundred Mobsters will bring you vital feedback BEFORE you launch your ad (and perhaps give YOUR clients' more comfort when they are spending advertising dollars in the wild, west mobile advertising market.</p>
	<p><b>Mobile app functional and usability testing</b> - Nope ... you don't need MobSurvey for this. We've already got a pre-defined standardized survey for this purpose. Check out <a href="/services/mobile-app-research">MOB<span class="mobred">EXPERIENCE</span></a>. Now, that being said, if your firm has great market research and product management skills and experience, you may want to do your own thing. It's your choice! 'Nuff said.</p>
	<p><b>Mobile Lifestyle</b> - For those doing general research on mobile trends, there is no better leading indicator than the mobile enthusiasts in the Mob4Hire community. In fact, we use our Mob4Hire community for research ourselves ... we're passionate about the impact of mobile apps on customer loyalty across the ecosystem and we're happy to <a href="global-mobile-research">share the results with you.</a></p>
	<p><b>Competitive Research</b> - How do you compare against your competitors? When looking to win customers, what features do they LOVE about your competitors products where you can beat them? Are customers EXTREMELY loyal, or are their some Achilles Heel's you can exploit? (in both your product development and your marketing)</p>
	<p><b>Blank slate research</b> - So, you've got a great idea for The Next Big Thing? Before you put a single cent into mobile development (an app, a mobile website, an ad campign), why don't you bounce the ideas of some of your target users in the market you want to be successful in. An gram of knowledge can prevent a kilogram of pain later on! (for those still thinking in imperial measurements: An ounce of knowledge can prevent a pound of pain later on!")</p>
	<p><b>Mystery Shopping</b> - While our MOBACCELERATOR product allows for App Store Mobile Mystery Shopping, the traditional definition of Mystery Shopping has been around a long time: Used to determine the quality of service in a retail outlet, mystery shoppers are sent by companies to act as customers and afterwards fill out surveys about their in-store experience; what they noticed, how the service was, were offers completely explained, etc... Handset manufacturers and Network Operators will find this invaluable to ensure users are getting a consistent and excellent experience across stores in a region, or even stores that are in different countries.</p>
	<p><b>Integrated web / mobile / traditional ad campaigns</b> - The importance of integrated marketing campaigns between web, mobile and traditional advertising channels is more important than ever. Are your ad messages consistent across the dozens (and hundreds) of properties and channels you run. Did users even see that billboard when they were driving down the road ... and did it remind them of the app they just downloaded?</p>
	<p><b>Machine-to-Machine (M2M)</b> - With strict NDA's in place, Mobsters around the world can give you immediate feedback on in-market devices. Need to test 50 units of your new Netbook in 20 countries on 40 different network operators? No problem! Of course, you can get your devices back.</p>


          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />
