<div id="container_column_middle_wide"> 
	<div class="red-top"></div>
	<div class="red-mid">            	           	
             	<h1>Handsets</h1>

<img src="/images/assorted-mobile-handsets.gif" align="right" style="padding:6px 2px 10px 10px;" />

<!--<img src="/images/assorted-mobile-handsets.gif" align="right">-->
             

<h2>Discover the thousands and thousands of handset combinations in Mob4Hire.</h2>

<p>Mob4Hire has the largest and most comprehensive library of mobile handsets available, with information maintained and added to by you (our global crowd of Mobsters and Mobile Developers).</p>
<p>Use the filters and sorting below to look around. Of course, each of these handsets is owned by a community member of Mob4Hire. Those users are on the right side of the table. A red "M" means the handset is owned by a MobPro. Enjoy!</p>
<p>If you can't find a handset, chances are it's named something else, or ... contact us to let us know. Also, if you find an error in the following, please send your comments to <a href="mailto:support@mob4hire.com">support@mob4hire.com</a>. Thanks!</p>       
<br />

<h3>Search filter:</h3>
<form>
<div id="handset_search_filter">
 
	

<div id="handset_search_content">
	<table>
	<tr>
	<td>
		<?php echo $this->form->getElement('country');?>
	</td>
	<td>
		<?php echo $this->form->getElement('network');?>
	</td>
	<td>
		<?php echo $this->form->getElement('platform');?>
	</td>
	<td>
		<?php echo $this->form->getElement('vendor');?>
	</td>
	<td>
		<?php echo $this->form->getElement('model');?>
	</td>
	<td>
		<?php echo $this->form->getElement('filter');?>
	</td>
	</table>
</div>
</div>
</form>
<div id="ajaxtable">
<!-- table rendered here by ajax injection -->
</div>
<br /><br /><br /><br />


</div></div>
<div class="red-bottom" style="margin-left: 216px;"></div>
<br class="clear" />
<SCRIPT  language="JavaScript">

$(document).ready(function() {
	showPage("n.idcountry,n.network,d.vendor,d.model", "1");
});


</SCRIPT>	