
            <div id="container_column_middle_wide">            	
            	<h2>The Mob</h2>
                
                <div class="middle_wide_row">
                	                	<ul class="menu_pages clearfix">
                    	<li>
                        	<a class="link_projects" href="projects">
                            	<span class="title">Projects</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>

                    	<li>
                        	<a class="link_handsets" href="handsets">
                            	<span class="title">Handsets</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>
                    	<li>

                        	<a class="link_surveys" href="surveys">
                            	<span class="title">Surveys</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>
                    	<li>
                        	<a class="link_developers" href="developers/index">

                            	<span class="title">Developers</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>
                    </ul>
                </div>
		
                <div class="middle_wide_row">

                	                	<ul class="menu_pages clearfix">
                    	<li>
                        	<a class="link_testers" href="testers/index">
                            	<span class="title">Testers/<br />Mobile Users</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>

                    	<li>
                        	<a class="link_dev_net" href="developer-networks">
                            	<span class="title">Developer Networks</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>
                    	<li>

                        	<a class="link_market_resrch" href="market-researchers">
                            	<span class="title">Market Researchers</span>
                                <span class="text">At vero eos et accus amus et iusto odio dignissimos ducimus.</span>
                                <span class="link">Learn More</span>
                            </a>                            
                        </li>
                    	<li>
                        	<img src="/images/img_bottom_corner.jpg" />                            
                        </li>
                    </ul>
                </div>                
	</div>
            <br class="clear" />
