<div id="container_column_middle_wide">
	<div class="red-top"></div>
	<div class="red-mid">            	
<h1>Projects</h1>
    <a href="/services/managed"><img src="/images/buttons/button-get-a-quote.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a>
<p>Here's a list of all the current projects in the Mob4Hire community. They range from functional tests to usability surveys and everything in between. Use the project list to quickly view the projects, then click on the project title to review the public details.</p>
<p>To participate in a project and get paid, you'll need to <a href="/user/register">sign-up as a Mobster first</a>. If you register with your smartphone at our mobile site: <a href="http://m.mob4hire.com" target="_blank">http://m.mob4hire.com</a>, we'll automatically detect your phone type and then make sure you get a chance to participate in every project you can help with.</p>
To submit a project, you'll need to <a href="/user/register">register or login first.</a> Or, <a href="/services/managed">contact our Managed Services team</a> for more information or to get a quote.</p>
<p>Good luck on the projects, and thanks for being part of Mob4Hire!</p>
<div id="project-container">
	<?php echo $this->showProjects("all", "StartDate desc",1,5,array('showcomments' =>false,'navigation'=>'none')); ?>
</div>
</div></div>
<div class="red-bottom" style="margin-left: 216px;"></div>
<br class="clear" />
  
