            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid"> 			
            	<h1>Mobsters Frequently Asked Questions (FAQ)</h1>
               <p><a class="banner" href="../user/register"><img src="/images/banner-gettingstarted-mobster.gif" alt="How does Mob4Hire work?" align="right"style="padding:6px 2px 6px 10px;" 	longdesc="http://app.mob4hire.com/images/howitworkssmall.png"></a>As a tester, we connect you with mobile application developers that need you to test on your specific handset, in your country and on the carrier that you subscribe to. Here's a list of frequently asked questions (FAQ's) that we ..., er ... ummm ..., frequently get asked.<br>
    </p>
    <ol>
        <li><strong>NEW! How do you handle payment? </strong> Payments through Mob4Hire are managed through PayPal, Payoneer and sometimes Western Union (fees may apply).  Testers should set up a PayPal account. See www.paypal.com for terms and conditions. Or, a Payoneer Account (see payoneer.com).  You can request a withdraw from you account any time (minimum $50) and payments are processed on the 2nd and 4th Friday of every month.  <br>
        <br>

      </li>
    
    
      <li><strong>What do I need to be able to register for testing via Mob4hire? </strong> To register as a tester at Mob4hire you need an e-mail address and an active phone which is able to connect to the internet.<br>

        <br>
      </li>
      <li><strong>Why does my phone need the ability to connect to the internet? </strong>When you register at Mob4hire you'll get an email confirmation message sent to you. You need to be able to connect to the internet via your handset to receive the applications you will be testing. Developers will send the applications to Mob4hire and then you can upload them to a handset which you have added to your account/profile.<br>
        <br>
      </li>
      <li><strong>How does the Mob4hire system work? </strong>Mobile application developers post their testing requirements on the Mob4Hire site via Mob4hire program managers. Registered testers who meet the developer's criteria (e.g.: a specific handset model operating on a London-based network) receive an email and are invited to bid on the job. The successful bidder is notified and receives a URL on their handset which enables them to download the application and a complete test plan. The tester conducts the test and submits the results to the developer. Funds are transferred to the tester's account within five days and you can access the funds (after you have $50) in your account through PayPal.<br>
        <br>

      </li>
      <li><strong>How much experience do I need to be a Mob4Hire tester. </strong>Anybody who is reasonably savvy using their own handset can be a tester. There may be some tests which require a more sophisticated user, but many tests require only that you have the proper handset, a mobile account, and the ability to follow instructions.<br>
        <br>
      </li>
<a class="banner" href="../user/register"><img src="/images/banner-gettingstarted-mobster.gif" alt="Getting Started as a Mobster" align="right" style="padding:6px 2px 6px 10px;" /></a>      
<li><strong>How do I become a tester? </strong>Register at the Mob4Hire website. You will receive a text message on your handset asking you to confirm your registration. Confirm you registration, complete your Profile and you'll be ready to start.  You can begin bidding on projects immediately.<br>
        <br>
      </li>

      <li><strong>Why do you need testers from all over the world? </strong>A mobile application must be able to work on a wide range of handsets while hosted on a specific network. Unless the developer is based within range of that network, they need to connect with testers who are. Mob4Hire has testers from all over the world which gives developers more opportunities to sell their products to global markets.<br>
        <br>
      </li>
      <li><strong>How much can I expect to make testing mobile applications? </strong>That depends on how many projects you take on, and the complexity of those projects. A very simple test may bring in less than $20 (US) while larger tests involving more time can be worth far more. We've seen projects from $1 to $1200. Testers are invited to grow along with us and work on an increasing number of available projects.<br>
        <br>
      </li>
  
      <li><strong>Do I have to bid on a project if I am sent one? </strong>No. However, testers who bid and conduct tests make money and have the opportunity to increase their ratings; higher-rated testers can raise their bids accordingly<br>
        <br>
      </li>

      <li><strong>What should I do if I am having trouble completing my test? </strong>Contacting the Developer or Mob4Hire can ensure that you get the help you need to complete the task<br>
        <br>
      </li>
      <li><strong>How do I get paid if there is no PayPal service in my country? </strong>On those rare exceptions, Mob4Hire and the developer will arrange alternative payment options.<br>
        <br>
      </li>
      <li><strong>Are testers always rated on their performance? </strong>Yes. Mob4Hire requires all application developers to rate the tester on a scale of one to five once the project is completed. <br>

        <br>
      </li>
      <li><strong>What if I am unhappy with a review that I received? </strong>If you think you've received an unfair review, contact Mob4Hire. Note however, that ratings are from one to five; the more tests you conduct, the less impact one bad review will make on your overall score</li>
    </ol>

       	  </div></div>
		  <div class="red-bottom-sm"></div>
            <br class="clear" />
