            <div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">			
            	<h1>Mobile users (a.k.a. "Mobsters")</h1>
<img src="/images/whoismobster.gif" alt="Who is a mobster?" align="right" style="padding:6px 2px 6px 10px;"/>
<h2>Do you live a mobile lifestyle?</h2>
<p>Do you own a mobile phone or tablet? Are you a tech-savvy, early adopter and/or mobile enthusiast? Excited about technology? Know a lot about your devices and web?</p>
<p><a href="/user/register">Click here to sign-up now!</a> There's no obligation, it's private and secure.</p>
<p>In Mob4Hire, you can make money for your time, opinion and expertise. As a Mobster, you'll help mobile developers test their applications and websites on your handset and in countries on network operators they can't test on. But it's more than that. You can take surveys, offer your opinion, participate in the community.</p>
<h3>You'll love Mob4Hire because:</h3>
<div class="sales_list">
    <ul>
    <li>You love mobile technology</li>
    <li>You love apps, especially new, trendy ones</li>
    <li>You like getting paid for your time and expertise</li>
    <li>You feel included in creating good apps and good mobile experiences you WANT to use</li>
</ul>
</div>
<hr>
<h2>Are you a mobile testing or porting company, or a quality assurance professional with many devices?</h2>
<p>You might want to consider becoming a "MobPro." MobPro's are people/companies who are either in the business of mobile testing, or someone with multiple handsets that does this for a living. If you can help write test scripts, or provide a deeper level of skilled testing, and perhaps are running a professional testing or porting company,  you'll want to consider becoming a MobPro. Developers expect more complete and thorough testing from MobPro's, and accordingly, you can expect to get paid more for this expertise.</p>
                    <h3>MobPro's love Mob4Hire because:</h3>
<div class="sales_list">
    <ul>
    <li>You have great expertise you can share</li>
    <li>You can use Mob4Hire as an additional marketing channel with global reach</li>
    <li>You maintain large and current inventories of handsets which you can maximize</li>
    <li>You have testing staff that sit idle part of the time</li>
    </ul> 
</div>
<p>Contact us at <a href="mailto:info@mob4hire.com">info@mob4hire.com</a>  to be considered for MobPro status.</p>
<hr>
<h2>Mobsters Frequently Asked Questions (FAQ)</h2>
<a href="testers-faq"><img src="/images/banner-faq-mobster.gif" alt="Mobster FAQs" align="right" style="padding:6px 2px 6px 10px;"/></a>
<p>
As a tester, we connect you with mobile application developers that need you to test on your specific handset, in your country and on the carrier that you subscribe to ... it's a pretty simple system, but you probably have a few questions. <a href="testers-faq">Here's a list of frequently asked questions (FAQ's)</a> that we ..., er ... ummm ..., frequently get asked.
</p>
</div></div>
<div class="red-bottom-sm"></div>
<br class="clear" />
