<form name="email" action="/admin/recovery/email" method="post">
<h1>Mob4Hire Email Recovery</h1>
Please enter the date to recovery from in YYYY-MM-DD format:
<input type="text" name="datefrom" value="" /><br/>
<input type="submit" value="Resend Emails" />
<br/>
<?php if($this->show==1):?>
<h3>The system sent out <?php echo $this->sent;?> emails</h3>
<h3>The system failed in sending <?php echo $this->failed;?> emails</h3>
<?php endif;?>
</form>

