<div class="item-navigation">
	<h3 style="text-align:right;float:left" >Sort by</h3>
	<ul class="navigation-tab"> 
		 <li><a <?php if ($this->order == "Name"){ echo 'class="current"';} ?> href="javascript:void(0)" onclick="showPg('Name',1)">Name</a></li>
		 <li><a <?php if ($this->order == "d.Username,Name"){ echo 'class="current"';} ?> href="javascript:void(0)" onclick="showPg('d.Username,Name',1)">Developer</a></li>
		 <li><a <?php if ($this->order == "StartDate desc,Name"){ echo 'class="current"';} ?> href="javascript:void(0)" onclick="showPg('StartDate desc,Name',1)">Start</a></li>
		 <li><a <?php if ($this->order == "Status desc,Name"){ echo 'class="current"';} ?> href="javascript:void(0)" onclick="showPg('Status desc,Name',1)">Status</a></li>
		 <li><a <?php if ($this->order == "Duration desc,Name"){ echo 'class="current"';} ?> href="javascript:void(0)" onclick="showPg('Duration desc,Name',1)">Duration</a></li>		
	</ul>
</div>




	