<b>&nbsp;&nbsp;<?php echo $this->title; ?></b>
<ul id="left_column_submenu">
	<?php foreach($this->menuitems as $item) : ?>
			<li <?php echo (($item['id']==$this->currentPage)?' class="current_page"':'');?>><a href="<?php echo $item['path'];?>"<?php echo (($item['id'])?'':'target="_new"');?>"><?php echo $item['text'];?></a>
			<?php if ($item['nestedmenus']): // currently only one level of nesting allowed ?>
				<ul type="square">
					<?php foreach($item['nestedmenus'] as $nesteditem): ?>
						<li <?php echo (($nesteditem['id']==$this->currentPage)?' class="current_page"':'');?>><a href="<?php echo $nesteditem['path'];?>"<?php echo (($nesteditem['id'])?'':'target="_new"');?>><?php echo $nesteditem['text'];?></a>
					<?php endforeach; ?>
				</ul>				
			<?php endif;?>
			</li>
	<?php endforeach; ?>
</ul>
