<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h1 class="header-links">Inbox <span class="msg-count-sm"><!--TODO: Insert code for new total posts count here --></span></h1>
		<div class="clear"></div>
		<div id="wallpost-user">
			<h2>Your Wall<a class="expand"> [-] </a></h2>
			<div class="test-msg-wall" id='usr<?php echo $this->currentUser->id;?>'>
			<?php
				$wall=new Wall();
				echo $this->partial('wall/_layout.phtml', array('wall'=>$wall->getWall(61835, 3),'postType'=>'3','idtarget'=>'61835'));
			?>
			</div>
		</div>
	<?php echo $this->showWall(61835,3);?>
	</div>

	<div class="red-bottom"></div>
</div>
<?php
fb('This is a log message!');