<?php $translate = Zend_Registry::get('Zend_Translate'); ?>
<?php if(isset($this->error)):?>
	<img src="/images/icons/form_error.png"/><?php echo ($this->error); ?>
<?php endif; ?>
<?php if($this->projectFiles && count($this->projectFiles) > 0): ?>
	
	 <?php $i = 0; ?>
	    <?php  foreach ($this->projectFiles as $file): ?>
		<div class="filelayout ">
				<span class="download">
				<a href="/app/project/download/<?php echo $file['idfiles'] ?>" target="_blank">
					<?php if(isset($this->filecontrolname) && ($this->filecontrolname=="screenShots"  ) ): ?>
						<img src='/app/project/download/<?php echo $file['idfiles'] ?>' height="50" width="50"/>		                    

						<?php else: ?>
						<?php  echo $this->escape($file['filename']); ?> 						
					<?php endif; ?>
				</a>
				</span>
		<div class="nav">
			<?php if ($this->canDeleteFromWall(substr($this->filecontrolname,3))):?>
			<a onclick="removeFile('<?php echo ($this->filecontrolname)?$this->filecontrolname:"" ?>',<?php echo $file['idfiles'] ?>);">
				<img src="/images/icons/delete.png" alt="remove"></a>
			<?php endif;?>
		</div>
		<div id="divWorkToggle<?php echo $file['idfiles'] ?>" style="display:none" class="loading-wall"> <?php echo $translate->_('app_partial_filelayout_delete'); ?></div>
	</div>
	 <?php $i++; ?>
    <?php endforeach;?>
<?php endif; ?>
