<script type="text/javascript" src="/js/comments/comment.js"></script>
<script type="text/javascript" src="/js/files/list.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
		showComments("pro<?php echo $this->proj['idproject']; ?>")
		preloadTable(<?php echo $this->proj['idproject']; ?>,"uploadPlan");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"testOutput");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"ndaFile");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"screenShots");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"documentation");
	});
	
	function postComment(){     	
		var comment = tinyMCE.get('comment').getContent();
		addComment("pro<?php echo $this->proj['idproject']; ?>",comment);	
    }
</script>
<div id="container_column_middle">
  <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
  <div class="form-title clearfix">
      <div style="float:left;">Project Overview</div>
      <div id="project-status"><?php echo Projects::$status[$this->proj['Status']]; ?>
	  	
	  </div>
  </div>
  <div id="project-overview" class="app-form">
    <div id="project-info" class="clearfix form-border-bottom">
      <div id="project-info-left">
      	<div id="project-title"><?php echo $this->proj['Name']; ?></div>
      	<div id="project-desc"><?php echo $this->showNewLines($this->escape($this->proj['description']));?></div>
      	<!--<ul style="list-style-type: none; list-style-image: none;"> 
      		<li> 
      			<span class="label">By: <?php echo $this->proj['username']; ?>       
      		</li> 
      		<li> 
      			<span class="label">Status: <?php echo Projects::$status[$this->proj['Status']]; ?>
      		</li> 
      		<li> 
      			<span class="label">Open or Invite-only: Open
      		</li> 
      		<li> 
      			<span class="label">App Type: Game
      		</li> 
      		<li> 
      			<span class="label">Start: <?php echo $this->proj['StartDate']; ?>
      		</li> 
      		<li> 
      			<span class="label">Time Remaining: <?php echo $this->proj['Duration']; ?>
      		</li> 
      	</ul>
      	<br />
      	<div>
      		
      	</div>
      	<div id="bid_box"> 
      		<h2>Submit a Bid</h2> 
      		<a href="/app/mobster/submitbid/idproject/<?php echo $this->proj['idproject'];?>"><img src='/images/button-rate-app.gif' /></a>
      	</div>-->
    	</div>
      
    	<div id="project-info-right">
 	      
      	  <?php
      	  if($img_path = $this->proj['ImagePath']) {
            echo '<img src=' . $img_path. ' height="100" width="100" alt="' . $this->proj['Name'] . '" /><br/>';
          }
          ?>	  
          <div id="project-username">
	<?php echo $this->proj['username'];?>        
        </div>
        <div id="project-rating">
      	<div id="rating-title">Rating</div>
	<?php echo $this->ratingBar('', $this->proj['username'],5,'static', '');?>
	      </div>
	  </div>
  	</div>
    
	<table>	
    <tr>
      <td class="label">Project Status</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>The project status helps identify which stage of the Mob4Hire system that the project is in. Note that the project may not always be publicly visible depending on it's status: Draft, In moderation, Rejected, Live (project has been posted, but "start date" hasn't arrived), In progress, Finished ("end data" is passed, but the duration period for Mobsters to return results is still active), Completed and Archived. </p></span></td>
      </td>
      <td><?php echo Projects::$status[$this->proj['Status']]; ?></td>
    </tr>	
    <tr>
      <td class="label">experience Period</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>These are the dates the project is in progress. In some projects, there may be additional time allowed for the Mobsters to return their results.</p></span></td>
      </td>
      <td><?php echo $this->formatDate($this->proj['StartDate']);?> to <?php echo $this->formatDate($this->proj['StartDate'], $this->proj['Duration']);?>. <br/>
      Results to be completed by <?php echo $this->formatDate($this->proj['StartDate'], $this->proj['Duration']);?>.</td>
    </tr>
    <tr>
      <td class="label">Invitation</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>An invitation is how we request that you participate in a project. When considering the payment, flat fee means you will get paid a specified amount per completed test and it's non-negotiable. Bidding means that you need to suggest an amount to complete the project; when considering your bid, take into account the amount of time it will take, how complex the project is, and how much data will be transferred (as you may incur additional data costs depending on the plan you have with your network operator). Also, developers may not have an idea about the operator plans in your country, so take some time to educate the developer on special nuances of your region.</p></span></td>
      </td>
      <td><?php echo (($this->proj['inviteonly']) ? "Closed. Only invited Mobsters need apply." : "Open. Everyone that qualifies can apply.");?><br/>		
     </td>
    </tr>
	<tr>
      <td class="label">Payment</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>An invitation is how we request that you participate in a project. When considering the payment, flat fee means you will get paid a specified amount per completed test and it's non-negotiable. Bidding means that you need to suggest an amount to complete the project; when considering your bid, take into account the amount of time it will take, how complex the project is, and how much data will be transferred (as you may incur additional data costs depending on the plan you have with your network operator). Also, developers may not have an idea about the operator plans in your country, so take some time to educate the developer on special nuances of your region.</p></span></td>
      </td>
      <td>Upon completion of the experience each Mobster will be paid $<?php echo $this->proj['budget'];?><br/>		
     </td>
    </tr>
    <tr class="form-border-bottom">
      <td class="label">Description</td>
      <td class="form_helptip"></td>
      </td>
      <td><?php echo $this->proj['longDesc']; ?> </td>
    </tr>
    <tr>
      <td class="label">Estimated Time</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>When the developer posts the project, they believe it should only take this amount of time to complete it from start to finish. Use this info to guide your bid, or in the case of a flat fee project, help you decide if it's about the right amount when you consider how much your time is worth.</p></span></td>
      </td>
      <td><?php echo $this->proj['estTime']; ?></td>
    </tr>
    <tr>
      <td class="label">Estimated Data</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>Different projects require different amounts of data to be transferred back and forth to your handset. If all you need to do is install an app, the amount of data is the size of the app. If it's a multi-media streaming app, then the amount of data will be ... way more. Use this info to help guide your bidding (or in the case of flat fee, if you can even afford to do it). Of course, your personal data charges will vary, since you might be on Wifi, or on an unlimited data plan, or maybe you have a pre-paid card with no data plan at all and you're paying an outlandish amount for every byte you receive. Whatever the case, use this info to help guide your decision to participate.</p></span></td>
      </td>
      <td><?php echo $this->proj['estData']; ?></td>
    </tr>
   
    <tr>
      <td class="label">Countries And Network Carriers</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>This is pretty important. If you aren't in that country or on carrier(s) specified, YOU DON'T QUALIFY for the project.</p></span></td>
      </td>
      <td><?php echo $this->networkTable($this->proj['idproject']);?></td>
    </tr>
    <tr>
      <td class="label">Operating System And Handsets</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>This is pretty important. If you don't have the handset(s) listed, YOU DON'T QUALIFY for the project. Be careful here; in some cases, the handset they are looking for may be named something else, or perhaps you haven't fully updated your "Device" section of your Profile. Just make sure you can do the work before you decide to participate, ok?</p></span></td>
      </td>
      <td><?php echo $this->handsetTable($this->proj['idproject']);?></td>
    </tr>
    <tr>
      <td class="label">Other selection criteria</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>The project may have a few other requirements; most notably the region where you live. Again, pay attention to this field to see if you qualify for the project.</p></span></td>
      </td>
      <td><?php echo $this->proj['region']; ?> </td>
    </tr>
       
	<!-- Files -->
	<tr>
      <td class="label">Screenshots </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>These are images to help you during the testing</p></span></td>
      </td>
	  <td><br/>
		  <div id="divscreenShots"></div>
	  </td>
    </tr>
	
	
	<tr>
      <td class="label">Supporting Documentation </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>Any addition files that you will need to bid on the test </p></span></td>
      </td>
	  <td><b>These are additional documents that can help you bid.</b><br/>
		  <div id="divdocumentation"></div>
	  </td>
    </tr>
	
	
	<tr>
      <td class="label">Comments To <?php echo $this->proj['username']; ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>In addition to the information that is found on your personal profile (such as skills and experience), this message is an opportunity for you to convince the person who posted the project WHY you would be a great selection for their project.</p></span></td>
      </td>
      <td >    	
		<?php echo $this->comments;  ?>
   	 </td>
	 </tr>	 
	  
	  <tr>
      <td class="label">Comments</td>
	  	<td colspan="2">
			<div id="commentstable"></div>
	  	</td>
	  </tr>
	  
	</table>
	<div class="submit_buttons clearfix">
   	<?php if($this->currentUser->id != $this->proj['iddeveloper'] && ($this->proj['Status'] == "201" || $this->proj['Status'] == "202") ): ?>
    	<div class="button" id="apply-now">
	      <a href="/app/mobster/submitbid/idproject/<?php echo $this->proj['idproject'];?>"><span>Apply Now to <?php echo $this->proj['Name']; ?></span></a>
    	</div>
	<?php endif; ?>
    <div class="clear">&nbsp;</div>
    </div>
	</div>
	<div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 
