<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

$testerlist=Zend_Registry::get('defSession')->gapp->getTesterList($_GET['handsetprefmatch'],$_GET['random'], $this->currentUser->username); // Pass the username so that we can leave ourselves out of the list!
// print_r (Zend_Registry::get('defSession')->gapp->testerlist);
// echo (Zend_Registry::get('defSession')->gapp->testerlist=Zend_Registry::get('defSession')->gapp->getTesterList($_GET['handsetprefmatch'],$_GET['random']));
$page=1;


$totaltesters=0;
if (isset($_GET['numTesters']) && (integer)$_GET['numTesters']>0) {
	$totaltesters=(integer)$_GET['numTesters'];
	if(count($testerlist)<$totaltesters)
		$totaltesters=count($testerlist);
}
else
	$totaltesters=count($testerlist);

$totalpages=(integer)($totaltesters/10)+1;

if (!$totaltesters) {
	?>
	<h3>
	No members match your search. Try widening your criteria	
	</h3>
	<?php 
}
else
{
?>

       <div id="tester-results">
			<div id="tester-profiles-top">
            	<h1>Tester Results (<?php echo $totaltesters; ?> in Total)</h1>
<!--            <input class="button-sort-tester-results" type="image" src="../images/button-handset-selected.gif" />
				<input class="button-sort-tester-results" type="image" src="../images/button-rating-not-selected.gif" /> -->
            </div>
            <table id="page-links">
            	<tr>
            		<td id="tablepage">Page <?php  echo $page;?>  of <?php echo $totalpages;?></td>
            		<td id="prevlink" style="visibility:hidden">
						<a href="javascript:void(0)" onclick="showPrevPage(<?php echo $totaltesters;?>);">Previous</a>
					</td>
            		<td>
					<?php  
						for ($i=0; $i<$totalpages; $i++) {
                    		?><a href="javascript:void(0)" onclick="showPage(<?php echo $totaltesters;?>,<?php echo $i+1;?>);">
							<?php echo ($i+1)." ";?>
							</a>
						<?php 
						}
					?>
                    </td>
					<td id="nextlink" <?php if ($totalpages ==1)echo ' style="visibility:hidden"';?>>
						<a href="javascript:void(0)" onclick="showNextPage(<?php echo $totaltesters;?>);">Next</a>
                    </td>
<!--               	<td align="right">Show All</td> -->
            	</tr>
            </table>
            <table summary="Tester Profiles">
            <thead>
                <tr>
                    <th scope="col" class="tester-avatar"></th><!--Tester Avatar Column - No Header-->
                    <th scope="col" class="tester-name">Name</th>
                    <th scope="col" class="tester-rating"></th><!--Rating Colum - No Header-->
                    <th scope="col" class="tester-city">Location</th>
                    <th scope="col" class="tester-handset">Handset</th>
                    <th scope="col" class="tester-silver-tested">Tests Completed</th>
                    <th scope="col" class="tester-invite">Invite</th>
                </tr>
            </thead>
            
            <tfoot>
                <tr>
                    <td colspan="7"></td>
                </tr>
            </tfoot>
            
            <tbody>
            <?php 
			$k=1; // used to give each row in the table an id so rows can be shown and hidden with javascript
            foreach($testerlist as $tester) {
            	if($k<=$totaltesters) { // Limit number of testers shown
            ?>
                <tr id="tablerow<?php echo $k++.'"'; if ($k>11) echo ' style="display:none"';?>">
                    <td class="tester-avatar"><img src="<?php echo $tester['Avatar']; ?>" border="0" width='32' height='32'/></td>
                    <td class="tester-name"><?php  echo $tester['username']; ?><br /><span class="tester-type">Mob4Hire member</span></td>
                    <td class="tester-rating"><!--<img src="../images/rating-stars-3.gif" border="0" />--></td>
                    <td class="tester-city"><?php  //echo $tester['City']; ?></td>
                    <td class="tester-handset"><?php echo $tester['vendor']." ".$tester['model']; ?></td>
                    <td class="tester-silver-tested"><?php echo $tester['testscompleted']; ?></td>
                    <td class="tester-invite"><input type="checkbox" name="testerselection[]" value="<?php echo $tester['idregdevice']?>" /></td>
                </tr>
				<?php 
				}
			}
			?>
            </tbody>
	        </table>

	    </div>
<?php 	    
}