<div id="container_column_middle">
	<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
	<div class="form-title">Decline Test Case</div>
	<div class="app-form-normal">

	<?php if ($this->validated):?>
		<p>When you click on decline below the tester will be informed that you have declined their test case and mob4hire customer support will seek a resolution of the matter..</p>  
		
		<form name='ratetester' action='/app/developer/declinetestcase/idtest/<?echo $this->test->idtest;?>' method='post'>
			<input type="hidden" name="submit" value="submit"/>
			<p><strong>Comments to tester (optional):</strong></p>
			<textarea cols="70" rows="10" name='comments'></textarea><br/><br>
			<p><strong>Please rate the tester for this test.</strong></p>
			<?echo $this->rateUser();?>
			<br/><br/>
			<div class="submit_buttons">
				<div class="button">
					<input type="submit" name="submit" id="submit" value="submit" />
				</div>
				<div class="button">
					<a href="/app/developer/showproject/idproject/<?php echo $this->test['idproject'];?>" id="cancel"><span>Cancel</span></a>   
				</div>
				<div class="clear">&nbsp;</div>
			</div>

		</form>
	<?php elseif (isset($this->errorcode)):// unexpected error ?>
			<h2>declinetestcase Errror: <?php echo $this->errorcode;?></h2>
	<?php elseif (isset($this->result)): ?>
		<?php if  ($this->result > 0) : //success ?>
			<h1>Test case declined</h1>
			<p>The test case has been declined and <?echo $this->tester['username']?> has been notified.</p>					
			<p><a href="/app/developer/showproject/idproject/<?php echo $this->test['idproject'];?>"><img src="/images/buttons/continue_red.gif" /></a></p>
	<?php else: // unexpected error ?>
		<h2>payTester Errror: <?php echo $this->result;?></h2>
	<?php endif;?>
<?php endif;?>			
</div>
<div class="bottom-curve">&nbsp;</div>
</div>

