<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

$idmake=$_GET['make'];
$iddevice=$_GET['device'];

if (isset($_GET['remove'])&&$_GET['remove']==1)
	Zend_Registry::get('defSession')->gapp->removeSupportedDevice($idmake,$iddevice);
else
	Zend_Registry::get('defSession')->gapp->addSupportedDevice($idmake,$iddevice);
	
$tableLength = 0;

echo '<table border="1" width="200">';
if ($supportedDevices=Zend_Registry::get('defSession')->gapp->getSupportedDevices()) {
	$devicesadded=0;
	foreach($supportedDevices as $idmake=>$array) {
		if($idmake) {
			$make=$idmake;
			foreach($array as $iddevice)
			{
				$devicesadded=1;
				$device=Zend_Registry::get('defSession')->gapp->getDevice($idmake, $iddevice);
				if (!$device)
					$device="";	
				echo "<tr style=\"background-color:#EDF5FA; color:black;\"><td>".$make." ".$device."</td>";
				echo "<td><a href='javascript:void(0)' onClick=\"updateHandsetTable(document.form1,'". $idmake."',$iddevice,1);\">remove</a></td>";
				echo "</tr>";
			}
		}
	}
	if (!$devicesadded) {
		echo "<tr><td>You have not added any devices</td></tr>";
	}
}
else echo "<tr><td>You have not added any devices</td></tr>";
echo '</table>';				
