<form class="invite-mobsters" id="invite-mobsters">
	<input id='tabvalue' type='hidden' value='<?php echo $this->invitesSent; // needed to update the tab heading?>' />
	<table id="sort-bar"><tbody><tr><td><a href="#" onclick='checkAll(); return false'>Select All</a> | <a href="#" onclick='checkNone(); return false;'>Select None</a></td></tr></tbody></table>
	<table class="invites-bar-top">
		<tbody>
			<tr>
				<td class="invites-button"><a href="#"  class='invites-button'  onclick="inviteClick(); return false;"><img src="/images/buttons/invite_button.gif" /></a></td>
				<td class="invites-count"><span class="invited-value"><?php echo $this->invitesSent;?> <span style="color:#CCC; font-weight:normal;">Invite(s) Sent, </span><?php echo $this->invitesRemaining <0 ?'0':$this->invitesRemaining;?> <span style="color:#CCC; font-weight:normal;">Invite(s) Remaining</span></span></td>
			</tr>
		</tbody>
	</table><?php $countLimit=0; ?>
	<?php
		$testersinvited=array();
		foreach ($this->invitelist as $tester)
		{
			array_push($testersinvited, $tester->userid);
		}
		if ($this->testerlist):
		
		foreach($this->testerlist as $tester):?>
		
		<?php if (!in_array($tester->userid, $testersinvited)&&($countLimit<100)):?>
		<?php $countLimit++;?>
		<table class="listings">
		<tbody>
			<tr class="new-bid">
				<td class="invite-select">
					<input type="checkbox" class='invite-mobster' value="<?php echo $tester->userid;?>" />
				</td>
				<td class="user-image"><img src="/images/image-not-found-black.gif" border="0" height="32" width="32"></td>
				<td class="user-info">
					<p class="username">
						<?php echo $this->formatUserLink($tester->username);?> 
					</p>
					<p class="rating">
						<?php echo $this->showRatingBar($tester->rating);?> 								
					</p>
					<br>
					<br>
					<p class="user-facts">
						<?php echo $tester->country;?> | <?php echo $tester->city;?> | <?php echo $tester->company;?><br />
						<?php echo $tester->network;?> | <?php echo $tester->vendor." ".$tester->model;?><br/>
						<?php echo ($tester->time_zone ? ProfileContactInfo::$timeZoneList[$tester->time_zone]:'')?><br/> 
					</p>
					<!-- TODO: INSERT BID STATUS HERE <p class="status"> <span class="blue-text">STATUS: Mobster has now been invited - August 9, 2010</span></p> -->
				</td>
			</tr>						
		</tbody>
		</table>
		<?php endif;?>
		
		<?php endforeach;?>
	<?php endif;?>
	
	<?php if($this->show=='2'){?>
	 <?php if ($this->invitelist):?>
	<?php foreach($this->invitelist as $tester):?>
	<table class="listings">
		<tbody>
			<tr class="new-bid">
				<td class="invite-select">
					<b>INVITED</b>
				</td>
				<td class="user-image"><img src="/images/image-not-found-black.gif" border="0" height="32" width="32"></td>
				<td class="user-info">
					<p class="username">
						<?php echo $this->formatUserLink($tester->username);?> 
					</p>
					<p class="rating">
						<?php echo $this->showRatingBar($tester->rating);?> 								
					</p>
					<br>
					<br>
					<p class="user-facts">
						<?php echo $tester->country;?> | <?php echo $tester->city;?> | <?php echo $tester->company;?><br />
						<?php echo ($tester->time_zone ? ProfileContactInfo::$timeZoneList[$tester->time_zone]:'')?><br/> 
						<?php echo $tester->network;?> | <?php echo $tester->vendor." ".$tester->model;?><br/>
					</p>
					<!-- TODO: INSERT BID STATUS HERE <p class="status"> <span class="blue-text">STATUS: Mobster has now been invited - August 9, 2010</span></p> -->
				</td>
			</tr>						
		</tbody>
	</table>	
	<?php endforeach;?>
	<?php endif;?>
	
	<?php }?>
	<table class="invites-bar-bottom">
		<tbody>
			<tr>
				<td class="invites-button"><a href="#"  class='invites-button'  onclick="inviteClick(); return false;"><img src="/images/buttons/invite_button.gif" /></a></td>
			</tr>
		</tbody>
	</table>

</form><!-- form ends -->