<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

$idcountry=$_GET['country'];
$idnetwork=$_GET['network'];

if (isset($_GET['remove'])&&$_GET['remove']==1)
	Zend_Registry::get('defSession')->gapp->removeSupportedNetwork($idcountry,$idnetwork);
else
	Zend_Registry::get('defSession')->gapp->addSupportedNetwork($idcountry, $idnetwork);
	
$tableLength = 0;

echo '<table border="1" width="200">';
if ($supportedNetworks=Zend_Registry::get('defSession')->gapp->getSupportedNetworks()) {
	$networksadded=0;
	foreach($supportedNetworks as $idcountry=>$array) {
		if($idcountry) {
			$country=Zend_Registry::get('defSession')->gapp->getCountry($idcountry);
			foreach($array as $idnetwork)
			{
				$networksadded=1;
				$network=Zend_Registry::get('defSession')->gapp->getNetwork($idnetwork);
				if (!$network)
					$network="";	
				echo "<tr style=\"background-color:#EDF5FA; color:black;\"><td>".$country." ".$network."</td>";
				echo "<td><a href='javascript:void(0)' onClick=\"updateNetworkTable(document.form1,'". $idcountry."',$idnetwork,1);\">remove</a></td>";
				echo "</tr>";
			}
		}
	}
	if (!$networksadded) {
		echo "<tr><td>You have not added any carriers</td></tr>";
	}
}
else echo "<tr><td>You have not added any carriers</td></tr>";
echo '</table>';				
