<div id="container_column_middle">
	<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
	<div class="form-title">Reject Bid</div>
		<div class="app-form-normal">
<?php if ($this->validated):?>
		<div id="container-profile-wide">
			<div class="horizontal-container">
				<div class="column-left">
	
				<h1>Reject bid</h1>

				<p class="emphasize">Bid: <?php echo $this->tester['username'].' $'.$this->test->bidAmount;?></p>
				<p>To reject this bid, please complete the text box below outlining your reasons. You may wish to give them some pointers and ask them to submit a new bid.</p>
				<form name='rejectbid' method='post' action="/app/developer/rejectbid/idtest/<?php echo $this->test->idtest;?>">
					<input type="hidden" name="Submit" value="Submit">
					<TEXTAREA rows="7" cols="80" name="comments"></TEXTAREA><br /><br/>
					<div class="submit_buttons">
						<div class="button">
							<input type="submit" id="submit" value="submit" />
						</div>
						<div class="button">
							<a href="/app/developer/showproject/idproject/<?php echo $this->test->idproject;?>" id="cancel"><span>Cancel</span></a>
						</div>
						<div class="clear">&nbsp;</div>
					</div>
				</form>
			</div>
		</div>
<?php elseif (isset($this->errorcode)):// unexpected error ?>
			<h2>canRejectBid Errror: <?php echo $this->errorcode;?></h2>
<?php elseif (isset($this->result)): ?>
	<?php if  ($this->result > 0) : //success ?>
			<div id="container-profile-wide">
				<div class="horizontal-container">
					<div class="column-left">
 						<h1>Bid rejected</h1>
 						<p>This bid has been rejected. The bidder will be notified accordingly.</p>
						<br/>
						<div class="submit_buttons clearfix">
							<div class="button" id="continue">
								<a href="/app/developer/showproject/idproject/<?php echo $this->test->idproject;?>"><span>Continue</span></a>
							</div>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
			   		<div class="column-right">
					</div>    
 					
 				</div>
 			</div>
	<?php else: // unexpected error ?>
		<h2>rejectBid Errror: <?php echo $this->result;?></h2>
	<?php endif;?>
<?php endif;?>	
	</div>						
</div>
<div class="bottom-curve">&nbsp;</div>
</div>