

<script type="text/javascript">
	
 $(document).ready(function(){ 
	//preload the dynamic invites tab

	postObject = new Object;
	postObject.id = <?php echo $this->project->idproject;?> ;
    postObject.showit='1';
	$("#ajaxtable").html('<img src="/images/working.gif"/>');
	$.post("/app/developer/invitetable/", postObject, function(data){
		$("#ajaxtable").html(data);
	});
	 
			
	$('#tabs div.tab').hide(); // Hide all divs	
	$('#tabs div.tab:first').show(); // Show the first div
	$('#tabs ul li:first').addClass('active'); // Set the class for active state
	$('#tabs ul li a').click(function(){ // When link is clicked
		$('#tabs ul li').removeClass('active'); // Remove active class from links
		$(this).parent().addClass('active'); //Set parent of clicked link class to active
		var currentTab = $(this).attr('href'); // Set currentTab to value of href attribute
		$('#tabs div.tab').hide(); // Hide all divs
		$(currentTab).show(); // Show div with id equal to variable currentTab
		$('p.rating').show();
		return false;
	});
		
	inverse = false;
	$('a.sortusers').click(function(){
		$(this).parent().parent().parent().parent().parent().find('table.listings').sortElements(function(a, b){
			var vala=$(a).find('p.username').find('a').text().toUpperCase();
			var valb=$(b).find('p.username').find('a').text().toUpperCase();		
			return vala > valb ? inverse ? -1 : 1 : inverse ? 1 : -1;
		});
			
		inverse = !inverse
	});
		

	$('a.sortprices').click(function(){
		$(this).parent().parent().parent().parent().parent().find('table.listings').sortElements(function(a, b){
			var vala=$(a).find('p.amount').text();
			var valb=$(b).find('p.amount').text();
			return parseFloat(vala.substr(1)) > parseFloat(valb.substr(1)) ? inverse ? -1 : 1 : inverse ? 1 : -1;
		});
			
		inverse = !inverse
	});
		
	
	$('a.sortdates').click(function(){
		$(this).parent().parent().parent().parent().parent().find('table.listings').sortElements(function(a, b){
			datea=new Date($(a).find('p.date').find('strong').text());
			dateb=new Date($(b).find('p.date').find('strong').text());
			return  datea > dateb ? inverse ? -1 : 1 : inverse ? 1 : -1;
		});
		inverse = !inverse;
	});

	$("button#filter").click(function(){
		showPage(<?php echo $this->project->idproject;?>); // somehow we need to make sure we have the idproject to build the table. this should work
	});

});//close (document).ready
	 
function inviteClick() {
	// go through the checkboxes and build an array of user ids
	arrayCB=new Array;
	$("input.invite-mobster:checked").each(function() {
		arrayCB.push($(this).val());		
	});
	// send this array of user ids to an ajax function
	postObject = new Object;
	postObject.id = <?php echo $this->project->idproject;?> ;
	postObject.invites=arrayCB.join(',');
	$("#ajaxtable").html('<img src="/images/working.gif"/>');
	$.post("/app/developer/invite/", postObject, function(data){
		$("#ajaxtable").html(data);
		$("#invitesSent").html('Invites ('+$("#tabvalue").val()+')');
	});
	
	
}
	
function checkAll() {
	$('input.invite-mobster').attr('checked', true);
	return false;
}
	
function checkNone() {
	$('input.invite-mobster').attr('checked', false);
	return false;
}	
</script>
<input type="hidden" name="idproject" id="idproject" value="<?php echo $this->idproject;?>"/>
<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h1>Manage Project</h1>
		<div id="project-summary">
			<hr/>
			<div id="mid">			
				<div id="project-image"><?php echo $this->getProjectImage($this->project);?></div>				
				<div id="container-right">
					<h2 class="project-title"><?php echo $this->project['Name'];?></h2>						
					<table id="project-info">
						<tbody>
							<tr>
								<td class="label">Description</td>
								<td><?php echo $this->showNewLines($this->escape($this->project['description']));?></td>
							</tr>
							<tr>
								<td class="label">Status </td>
								<td class="value-status"><?php echo Projects::$status[$this->project['Status']]; ?></td>
							</tr>
							<tr>
								<td class="label">Current Balance</td>
								<td class="value-funds">$ <?php echo $this->getBalance($this->currentUser->id);?></td>
							</tr>
							<tr>
								<td class="label">Funds in Escrow</td>
								<td class="value-funds">$ <?php echo $this->getFundsInEscrow($this->project['idproject']);?>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><a href="/app/index/deposit-funds"><img src="/images/buttons/add_funds.gif"/></a></td>
							</tr>
						</tbody>
					</table>	
				</div>						
				<div id="container-sharethis">
					<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=70027859-f0b1-4298-bb1d-6c123b42ea98&amp;type=website&amp;style=horizontal&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"></script>
				</div>
			</div>
			<hr/>
		</div><!--END: project-summary-->
		<div id="project-options" class="clearfix">
			<h2>Manage Projects Options</h2>
			<ul class="options">
				<li><a href="#manage-mobsters">View &amp; Manage Project Mobsters</a></li>
				<li><a href="#view-resources">View Project Resources</a></li> 
				<li><a href="#manage-comments">Manage Comments</a></li>
				<li><a href="/app/project/view/idproject/<?php echo $this->project['idproject'];?>/popup/1" target="_blank">View Project Public Profile</a></li>
			</ul>
			<ul class="options">
				<li><a href="#manage-comments"><img src="/images/buttons/group_message.gif"/></a></li>
				<!-- TODO: ADD BUTTON FUNCTIONALITY FOR SENDING REMINDERS <li><a href="#"><img src="/images/buttons/send_reminder.gif"/></a></li>-->
			</ul>
			
			<ul class="extend_bidding">
			<li><a id="header">Bidding Open: <?php echo $this->formatDate($this->project['StartDate']) .' to '. $this->formatDate($this->project['testenddate']); ?></a></li>
			<li></li>
			<li><?php echo $this->extendDateForm;?></li>
			</ul>
			
		</div><!--END: project-options-->
		<hr/>
		
		<div id="project-mobsters">
			<h2><a name="manage-mobsters">Project Mobsters</a> (<?php echo $this->totalTesters;?>)</h2>
	
			<div id="tabs">
				<ul>
					<li class="active"><a href="#tab-000" id='invitesSent'>Invites (<?php echo $this->invitesSent;?>)</a></li>
					<li><a href="#tab-100">Bids (<?php echo $this->projectArray[100];?>)</a></li>
					<li><a href="#tab-250">In Progress (<?php echo $this->projectArray[250];?>)</a></li>
					<li><a href="#tab-300">Pending Results (<?php echo $this->projectArray[300];?>)</a></li>
					<li><a href="#tab-400">Results (<?php echo $this->projectArray[400];?>)</a></li>
				</ul>
				<div class="tab" id="tab-000">
					<div id="filter_form">
						<table>
							<tr>
								<td><?php echo $this->inviteFilter->country;?></td>
								<td><?php echo $this->inviteFilter->network;?></td>
								<td><?php echo $this->inviteFilter->vendor;?></td>
								<td><?php echo $this->inviteFilter->model;?></td>
								<td><?php echo $this->inviteFilter->filter;?></td>
							</tr>
							<tr>
								<td><?php echo $this->inviteFilter->filtertype;?></td>
								<td colspan="2"><?php echo $this->inviteFilter->filterdata;?></td>
								<td><?php echo $this->inviteFilter->showinvites;?></td>
								<td></td>
							</tr>
						</table>
					<?php //echo $this->inviteFilter;?>
					</div>
					<div id='ajaxtable'></div>
				</div>				
				
				<?php
				$status=array(100, 250, 300, 400);  // These are the statuses we will render tabs for
				
				$test=$this->testList->current(); // get the first test

				for ($tab=0; $tab<4; $tab++):?>			
				<div class="tab" id="tab-<?php echo $status[$tab];?>">
					<table id="sort-bar"><tr><td>Sort Results By: <a href="javascript:void(0)" class="sortdates">Received Date</a> | <a href="javascript:void(0)" class="sortprices">Price</a> | <a href="javascript:void(0)" class="sortusers">Username</a></td></tr></table>

					<?php
					// we need to ignore records with Statuses which we will not render
					while($test && $test->Status < $status[$tab])  {
						$this->testList->next();
						$test=$this->testList->current();					
					}
	
					if (!$test || $test->Status > $status[$tab]):?> 
						<h3 class="message">You have no mobsters at this stage.</h3>
					<?php else:?>
					<?php
						while($test && $test->Status == $status[$tab]):?>
							<?php
								if($test->Avatar){
									$img_path = $test->Avatar;
								}else{
									$img_path="/images/image-not-found-black.gif";
								}
							?>

							<table class="listings">
								<tr class="new-bid">
									<td class="bid-info">
										<p class="amount"><?php if($test->Status==400){echo 'PAID';}else{echo '$'.$test->bidAmount;}?></p>
										<p class="date"><?php if($test->Status==400){echo 'Paid $'.$test->bidAmount.' ';}elseif($test->Status==250){echo 'Escrowed ';}elseif($test->Status==300){echo 'Test submitted ';}else{echo 'Received ';}?>on<br/> <strong><?echo $this->formatDate(date ("Y-m-d",$test->Timestamp)); ?></strong></p>
									</td>
									<td class="user-image"><img src="<?php echo $img_path; ?>" border="0" width='32' height='32'/></td>
									<td class="user-info">
										<p class="username">
											<?php echo $this->formatUserLink($test->username);?>
										</p>
										<p class="rating">
											<?php echo $this->ratingBar($test->idtester, $test->username,5,'static', '');?>
										</p>
										<br/>
										<br/>
										<p class="user-facts">
											<?php  echo $test->country;?> | <?php echo $test->city;?> | <?php echo $test->company;?><br/>		
											<?php echo $test->network;?> | <?php echo $test->vendor." ".$test->model;?><br/>
											<?php echo ($test->time_zone ? ProfileContactInfo::$timeZoneList[$test->time_zone]:'')?><br/> 
										</p>
									<?php
									switch ($test->Status) { // Actions
									
									case 100:
									?>				
									</td>
									<td>
										<a href='/app/developer/acceptbid/idtest/<?php echo $test->idtest;?>' class="accept">
											<span>Accept</span>
										</a> 
										<a href='/app/developer/rejectbid/idtest/<?php echo $test->idtest;?>' class="decline">
											<span>Decline</span>
										</a>
									<?php
									break;
									
									case 200: // Awaiting escrow
									?>
										<p class="status">$ <?php echo $test->bidAmount; ?> bid accepted on <?echo $this->formatDate(date ("Y-m-d",$test->Timestamp)); ?></p>
										<p class="status"><span class="blue-text">ATTENTION: You need to <a href="/app/developer/escrowfunds/idtest/<?php echo  $test->idtest;?>">escrow funds</a> before the test begins</span></p>
										<p class="status">Note that by clicking on 'escrow funds' above your funds will be placed in escrow and the tester will be instructed to begin work</p>
									</td>
									<td>
									<?php
									break;
							
									case 250: // In progress
									?>
										<p class="status"><span class="blue-text">STATUS: <?php $timeRemaining=$this->showTimeRemaining($test->Timestamp,$this->project['Duration']); echo (($timeRemaining==-1)?"Time expired for test":$timeRemaining." left to submit test case");?></span></p>
									</td>
									<td>
										<a href="/app/developer/paytester/idtest/<?php echo $test->idtest;?>">
											<img src='/images/buttons/pay_mobster_button.gif'>
										</a>

									<?php
									// If time is expired here we need to let the developer do something. Send a reminder, cancel the test. Whatever
									
									break;
	
									case 300: // Test case submitted
									?>
										<p class="status"><span class="blue-text">ATTENTION: Test report(s) submitted on <?echo $this->formatDate(date ("Y-m-d",$test->Timestamp)); ?></span></p>
									</td>
									<td>
										<a href="/app/developer/testresults/idtest/<?php echo $test->idtest; ?>" class='view-testcase-short'>
											<span>View Testcase</span>
										</a>
										<a href="/app/developer/paytester/idtest/<?php echo $test->idtest;?>" class="accept">
											<span>Accept</span>
										</a>
										<a href="/app/developer/declinetestcase/idtest/<?php echo $test->idtest;?>" class="decline">
											<span>Decline</span>
										</a>
									<?php						
									break;
									
									
									case 400: // Complete
									?>
										<p class="status"><span class="blue-text">STATUS: Test case accepted on <?echo $this->formatDate(date ("Y-m-d",$test->Timestamp)); ?></span></p>
									</td>
									<td>
										<a href="/app/developer/testresults/idtest/<?php echo $test->idtest; ?>" class='view-testcase-short'>
											<span>View Testcase</span>
										</a>
									<?php 
									break;
									
									case 499: // Cancelled
									?>
										<p class="status"><span class="blue-text">Test cancelled on <?echo $this->formatDate(date ("Y-m-d",$test->Timestamp)); ?></span></p>
									</td>
									<td>
									<?php		
									break;
									}
									?>								
									</td>
								</tr>
							</table>
							<div id="wall-container-2_<?php echo $test->idtest;?>">
								<?php // echo $this->showWall($test->idtest, 2,true,1,2,0); ?>
							</div>
							<?php
								$this->testList->next(); // fetch the next record
								$test=$this->testList->current();
							?>
						<?php endwhile;?>
					<?php endif;?>
				</div>
				<?php endfor;?>
				<table id="top-link"><tr><td><a href="#manage-mobsters">Back to top of list</a></td></tr></table>
			</div>
		</div><!--END: project-mobsters-->

		<div id="project-resources">
			<h2><a name="view-resources">Project Resources</a></h2>
			<div class="form_element clearfix">
				<div class="form_label">
					<label>Test Plans</label>
					<div class="form_description">
						<p>These are the official test plans for the project.</p>
					</div>
				</div>
				<div class="form_helptip">
					<span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>You can download the original testplans that you had uploaded during the project definition of the project.</p></span>				
				</div>
				<div class="file-listing">
					<ul>
						<?php foreach($this->uploadPlan as $file):?>
						<li><a href="/app/project/download/<?php echo $file['idfiles'];?>"><?php echo $file['filename'];?></a></li>
						<?php endforeach;?>
					</ul>
				</div>	
			</div>	
			<div class="form_element clearfix">
				<div class="form_label">
					<label>NDA FIles</label>
					<div class="form_description">
						<p>Listing of current Non-disclosure Agreements and other legal documents for the project mobsters.</p>
					</div>
				</div>
				<div class="form_helptip">
					<span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>You can download the original NDA documents that you had uploaded during the project definition of the project.</p></span>				
				</div>
				<div class="file-listing">
					<ul>
						<?php foreach($this->ndaFile as $file):?>
						<li><a href="/app/project/download/<?php echo $file['idfiles'];?>"><?php echo $file['filename'];?></a></li>
						<?php endforeach;?>
					</ul>
				</div>	
			</div>	
	
			<div class="form_element clearfix">
				<div class="form_label">
					<label>Additional Support Documentation</label>
					<div class="form_description">
						<p>These are additional project files that you have uploaded to assist mobsters with their testing.</p>
					</div>
				</div>
				<div class="form_helptip">
					<span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>You can download the original additional project files  that you had uploaded during the project definition of the project.</p></span>			
				</div>
				<div class="file-listing">
					<ul>
						<?php foreach($this->files as $file):?>
						<li><a href="/app/project/download/<?php echo $file['idfiles'];?>"><?php echo $file['filename'];?></a></li>
						<?php endforeach;?>
					</ul>
				</div>	
			</div>
		</div><!--END: project-resources-->

		<!-- Project Wall -->
		
		<div id="wall-container-1_<?php echo $this->project->idproject;?>">
			<?php // echo $this->showWall($this->project->idproject, 1,true,1,4,0); ?>
		</div>
		
	</div><!--END: red-mid-->
	<div class="red-bottom"></div>
</div>
