<div id="container_column_middle_wide_app"> 
	<div id="container_title_links">
		<h2>Create A Survey Project</h2>
	</div>
	
	<div id="container_tasks_select" class="clearfix">
		<h3>Choose From One Of Our Service Levels</h3>
		<ul class="tasks_boxes">
			<li><a href="/app/survey/rsrchrnew"><em>BASIC</em></a></li>
			<li><a href="/app/survey/rsrchrnew"><em>PREMIUM</em></a></li>
			<li><a href="/app/survey/rsrchrnew"><em>MANAGED</em></a></li>
		</ul>
	</div>
	<br />
	<img class="services-chart" src="/images/banner-product-info-mobsurvey.gif" alt="MOBTEST: Mobile surveys. Global panels" />
	
</div> 
