<div id="container_column_middle">
<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div class="form-title">Submit Test Case</div>
<div class="app-form-normal">
<?php
$idtest=$this->idtest;
?>


	<!--Start content --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
	<div id="container-profile-wide">
		<script type="text/javascript">
			function beginDownload() {
				document.write('<div><iframe height="0" width="0" frameborder="0" src="/app/developer/downloadsubmitted/?idtest=<?php echo $idtest;?>"></iframe></div>');
				}		
			window.onLoad=beginDownload();
		</script>
		<div class="horizontal-container">
	    	<div class="column-left-no-bottom-border">
				<h1>Download Submitted Test Case</h1>
				<p>Your download will begin in a moment. If it doesn't, click <a class="emphasized-link" href="/app/developer/downloadsubmitted/?idtest=<?php echo $idtest;?>">here</a> to download manually.</p>
				<p><a href="/app/developer/showproject/<?php echo $this->idproject;?>"><img src="/images/button-continue.gif" /></a></p>
			</div>
		</div>
    </div>	
</div>
<div class="bottom-curve">&nbsp;</div>
</div>