body,html {
	font-size:1em;
	margin: 2px 2px 2px 2px;
	font-family: Helvetica, Arial, sans-serif;
	background: #fff;
}

*{
	margin:0;
	padding:0;
}

/* Typography */
body {
  font-size:62.5%;/*Sets default size to 10px. Now 1em=10px, 1.2em = 12px, etc..*/
  color:#414141;
}

a:link, a:visited {
  text-decoration:none;
  color:#FFF;
}
a:hover, a:active {
  text-decoration: none;
}
p a:link, p a:visited {
}
h1 a:link, h1 a:visited, 
h2 a:link, h2 a:visited, 
h3 a:link, h3 a:visited, 
h4 a:link, h4 a:visited {
  text-decoration: none;
}
h1 a:hover, h1 a:active, 
h2 a:hover, h2 a:active, 
h3 a:hover, h3 a:active, 
h4 a:hover, h4 a:active {
  text-decoration: none;
}
h1,h2 {
font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
  color:#b42025;
font-weight:300;
}
h3, h4, h5 {
font-family:Helvetica Neue, Helvetica, san-serif;
  font-weight:bold;
  color:#b42025;
}

h1 {
  color:#333333;
  font-size: 2.6em; /* 10x2.6=26px */
  line-height: 1.0em;
  margin: 0 0 .75em 0;
	z-index:-9999;
	font-weight:300;
}
h2 {
  font-size: 2.0em; /* 16x1=16px */
  line-height: 1.125em;/* 16x1.125=18px */
  margin:.7em 0 .75em 0;
}
h3 {
font-size:1.3em;/* 16x0.875em=14px */
  margin:1.2em 0 1em 0; /* 15x1.2=18px */
}
h4 {
  font-size:1.4em;/* 16x0.75em=11px */
  margin:.786em 0 .5em 0; /* 14x1.286=18px */
}
h5 {
  	font-size:1.3em;/* 16x0.75em=11px */
	margin:1em 0 .5em 0; /* 12x1.5=18px */
}

h1 a, h2 a, h3 a, h4 a{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;	
}


ul {
  margin:0 0 15px  25px;
  list-style:disc outside;
}
ul li {
	list-style:outside;
	
}
li, blockquote {
  font-size:.75em; /* 16x.75=12px */
}
li li {
  font-size:1em; /* maintain font size for nested lists */
}
p, li, form {
  font-family: Helvetica, Arial, sans-serif;
  margin:0 0 1.5em 0;
	line-height:1.4em;
	font-size:1.3em;
}

form p,
form ul li,
form ol li{
	font-size:1.0em;	
}

li {
  margin-bottom:0;
}

b, strong {
	font-weight:bold;
	color:#b42025;
}

b.black, strong.black{
	font-weight:bold;
	color:#000;
}

ol.bolder{
	font-weight:bold;
	color:#B42025;
}

ol.bolder p{
	font-weight:normal;
	color:#414141;
	font-size:1.0em;
}

ol.numbers{
	list-style-type:decimal;
	margin-left:30px;
	margin-bottom:1.5em;
}
/* Layout Divs */
div.main{
	margin:0px;
	padding:2px;
}

div.header{
	text-align:center;
}

div.footer{
	background:#7d0c0e;
	text-align:center;
	height:20px;
	padding:5px;
	border: 1px solid #2A2A2A;	
	text-shadow: 0 -1px 1px #000;
	color:#FFF;
	background-image: -moz-linear-gradient(top, #7d0c0e, #a91e24); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7d0c0e),color-stop(1, #a91e24));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c3c3c', EndColorStr='#111111')";
}

div.footer a{
	color:#7cc4e7;
	font-size:1.1em; 
	text-shadow:none;
}


.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}


/* Form Sytling */
form label{
	padding:5px 10px;
	font-weight:bold;
	color:#414141;	
}

form input[type=text]{
	padding:5px;
}

ul.errors {
	color:#B42025;
	background-color:#fff457;
	font-weight:bold;
	padding:4px 4px 4px 4px;
	margin:8px 0 0 0;
}

.errors li {
	font-size:1.2em;
	background:url(/images/icons/form_error.png) no-repeat;
	padding:0 0 0 20px;
	list-style-type:none;
	
}
table.subtable td a{
	color:#000;
	height:13px;
	padding:10px;
	font-weight:bold;
	margin-bottom:10px;
	
}


/*****Styles for Account Details page*****/
div#account_buttons ul{
	margin:10px 0;
	list-style-type:none;
}

div#account_buttons ul li{
	display:inline;
	margin: 10px 125px;
}




#month_balance form.month_selector{
	float:left;
	margin:0 0 0 0;
}

#month_balance #balance{
	float:right;
}

#balance p {
	margin:0;
}



.account_transactions table{
	width:100%;

	margin:0 0 0px 0;
}

.account_transactions table thead{
	background:#B42025;
}

.account_transactions th, 
.account_transactions th a, 
.account_transactions .footer-results, 
.account_transactions .footer-results a {
	font-weight:bold;
}

.account_transactions table tfoot{
	background:#B42025;
	font-weight:bold;
}

.account_transactions .rowodd td{
	background:#FFF;
}

.account_transactions .row_even td{
	background:#F1F1F1;
}

.account_transactions th, .account_transactions td {
	padding: 8px 8px 8px 8px;

}

.account_transactions .footer-results td 
 {
	background:#B42025;
	color:#FFF;
}


