<div id="inbox-messages-list">
<ul>
  <li class="list-titles">
  <div class="message_item clearfix">
    <div class="sent_by">From</div>
    <div class="message_content">Message</div>
  </div>
  </li>
<?php foreach($this->messages as $message):?>
<li>
<div class="message_item clearfix">
  <div class="sent_by">
 	 <?php if($message['showed'] == "0" && $this->currentUser->id == $message['owner']): ?>
		<img src="/images/icons/asterisk_orange.png" title="New Message"/>
	<?php endif; ?>
  	<?php echo $this->formatUserLink($message['username']);?><div><?php echo date("F j, Y, g:i a", $message['posted']);?></div></div>
 <div class="message_content">
  	<a href='/app/inbox/showmessage/<?php echo $message['id'];?>'><?php echo $message['subject'];?></a><br/><?php echo substr(ltrim(strip_tags($message['message'])),0,130);?>...
 </div>
 	 <?php if($message['status'] == "1"): ?>
	  <div class="message_controls">
	  	<a href="/app/inbox/compose/user/<?php echo $message['username'];?>/replyto/<?php echo $message['id'];?>" id="reply-button"><span>Reply</span></a>
    		<div id="divInboxToggle"<?php echo $message['id'];?> >
      		<a onclick="archiveMessage(<?php echo $message['id'];?>);" id="archive-button"><span>Archive</span></a>
    		</div>
	  </div>
	  <?php endif; ?>
</div>
</li>
<?php endforeach;?>
</ul>
</div>