<script type="text/javascript" src="/js/inbox/list.js"></script>
<div id="inbox_messages">
  <b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
<div class="form-title">Archives</div>
<div id="inboxtable">
	<?php echo $this->render('inbox/_layout.phtml'); ?>
</div>

<div class="bottom-curve">&nbsp;</div>
</div>