<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h2><?php echo $this->translate->_('app_inbox_private_title'); ?></h2>
		<div id="wall-container-<?php echo $this->postType?>_<?php echo $this->idtarget?>" style="margin-top: 30px">
			<?php echo $this->showWall($this->idtarget, $this->postType,$this->showcomment,$this->page,$this->resultsPerPage,$this->timestamp,$this->where,$this->filter); ?>	
		</div>
	</div>
	<div class="red-bottom"></div>
</div>