<div id="inbox_messages">
  <b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
    <div class="form-title">Sent Messages</div>
<div id="inbox-messages-list">
  <ul>
    <li class="list-titles">
    <div class="message_item clearfix">
      <div class="sent_by">To</div>
      <div class="message_content">Message</div>
    </div>
    </li>
<?php foreach($this->messages as $message):?>
<li>
<div class="message_item clearfix">
  <div class="sent_by"><?php echo $message['username'];?><div><?php echo date("F j, Y, g:i a", $message['posted']);?></div></div>
  <div class="message_content"><a href='./showmessage/id/<?php echo $message['id'];?>'><?php echo $message['subject'];?></a><br/><?php echo substr(ltrim($message['message']),0,40);?>...</div>
</div>
</li>
<?php endforeach;?>
</ul>
</div>
<div class="bottom-curve">&nbsp;</div>
</div>