<div id="container_column_middle">
    <div class="red-top"></div>
    <div class="red-mid">
        <h2><?php echo $this->translate->_('app_help_title'); ?></h2>

        <h1><?php echo $this->translate->_('app_help_subtitle'); ?></h1>
        <br/>

        <h2><a href="/app/help/testers-faq"><?php echo $this->translate->_('app_help_testerfaq'); ?></a></h2>
        <br/>
        <br/>

        <p><?php echo $this->translate->_('app_help_email'); ?></p>

    </div>
</div>
<div class="red-bottom"></div>
<br class="clear"/>
