<div id="container_column_middle">    	
<h1>&nbsp;Press and Blogosphere Coverage</h1>
<!--b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>-->
<div class="buzz-section">
<div class="buzz-section-title">Mob4Hire in the Blogosphere:</div>

<ul>
<li>
<div class="buzz-date">October 4 2010 - Financial Post</div>
<div class="buzz-item">
<a href="http://www.financialpost.com/entrepeneur/advice/Reward+goes+best+firms/3619275/story.html"  target="_blank"><b>Reward goes to best firms</b></a>
</div>
</li>


<li>
<div class="buzz-date">August 5 2010 - The Daily CrowdSource</div>
<div class="buzz-item">
<a href="http://dailycrowdsource.com/2010/08/05/technology/mob4hire-crowdsourcing-for-the-mobile-industry/"  target="_blank"><b>Mob4Hire: Crowdsourcing for the Mobile Industry</b></a>
</div>
</li>

<li>
<div class="buzz-date">July 23 2010 - MRWEB</div>
<div class="buzz-item">
<a href="http://www.mrweb.com/mrt/mob10jul.htm"  target="_blank"><b>How to make a Big Brand App not suck.</b></a>
</div>
</li>

<li>
<div class="buzz-date">June 30 2010 - Nokia Developer News</div>
<div class="buzz-item">
<a href="http://blogs.forum.nokia.com/blog/nokia-developer-news/2010/06/30/get-ux-feedback-with-mob4hire"  target="_blank"><b>  Need Feedback? Try Mob4Hire to Gather Information from Testers Worldwide -Forum Nokia</b></a>
</div>
</li>

<li>
<div class="buzz-date">June  &nbsp;29th 2010 - NAVTEQ Network for Developers YouTube Channel</div>
<div class="buzz-item">
<a href="http://www.youtube.com/watch?v=DyIb_jS4-Js"  target="_blank"><b>Our CEO, Stephen King, shares developer best practices and more on NN4D (NAVTEQ Network for Developers) YouTube Channel.</b></a><br/>
<br/><a href="http://www.youtube.com/watch?v=DyIb_jS4-Js" target="_blank"><b>Part 1</b></a> | 
<a href="http://www.youtube.com/watch?v=4JDmsEISBOg&feature=related" target="_blank"><b>Part 2</b></a> | 
<a href="http://www.youtube.com/watch?v=46cO49Mw2HE&feature=related" target="_blank"><b>Part 3</b></a> | 
<a href="http://www.youtube.com/watch?v=KfpOVBScgnU&feature=related" target="_blank"><b>Part 4</b></a>

</div>
</li>


<li>
<div class="buzz-date">June  &nbsp;24th 2010 - Meffys | Mobile Entertainment Awards 2010</div>
<div class="buzz-item">
<a href="http://www.meffys.com/attend/meffys-winners-showcase-dynamic-mobile-media-industry"  target="_blank"><b>Mob4Hire wins Meffy for "Innovative Business Model". The Meffys have become the global standard for measuring success and serve as  a window to themobile  industry&acute;s future</b></a>
</div>
</li>

<li>
<div class="buzz-date">June  &nbsp;14th 2010 - Nokia E71</div>
<div class="buzz-item">
<a href="http://e71bynokia.blogspot.com/2010/06/mob4hire-mobile-crowd-testing-and.html"  target="_blank"><b>A Nice Introduction of our Company to Nokia E71 Users.</b></a>
</div>
</li>

<li>
<div class="buzz-date">June 17 2010 - The Globe And Mail</div>
<div class="buzz-item">
<a href="http://www.theglobeandmail.com/report-on-business/your-business/start/location/the-end-of-the-office/article1607287/?cmpid=rss1"  target="_blank"><b>Report On Business - The End Of The Office</b></a>
</div>
</li>

<li>
<div class="buzz-date">June  &nbsp;9th 2010 - MyCustomer.com</div>
<div class="buzz-item">
<a href="http://www.mycustomer.com/topic/marketing/app-ortunity-knocks-are-apps-next-mobile-marketing-battleground/108913"  target="_blank"><b>App-ortunity knocks: Are apps the next customer engagement battleground?</b></a>
</div>
</li>

<li>
<div class="buzz-date">May  &nbsp;6th 2010 - African Review</div>
<div class="buzz-item">
<a href="http://www.africanreview.net/ict/the-significance-of-a-wider-ecosystem"  target="_blank"><b>The Significance of a Wider Ecosystem</b></a>
</div>
</li>



<li>
<div class="buzz-date">Apr  &nbsp;14th 2010 - Market Research Web www.mrweb.com</div>
<div class="buzz-item">
<a href="http://www.mrweb.com/drno/news11528.htm"  target="_blank"><b>Mob4Hire Upgrades Mobile Usability Offer</b></a>
</div>
</li>


<li>
<div class="buzz-date">Apr  &nbsp;6th 2010 - Unlimited Magazine</div>
<div class="buzz-item">
<a href="http://www.unlimitedmagazine.com/articles/so-you-want-to-start-a-micro-multinational%E2%80%A6/"  target="_blank"><b>So, you want to start a micro-multinational ...?</b></a>
</div>
</li>

<li>
<div class="buzz-date">Apr  &nbsp;1st 2010 - Backbone Magazine / Branham300</div>
<div class="buzz-item">
<a href="http://www.backbonemag.com/Magazine/2010-04/Top300-2010/top-25-up-and-comers.aspx"  target="_blank"><b>Mob4Hire named to top 25 ICT Up and Comers in Branham300 annual list of top 300 technology companies in Canada.</b></a>
</div>
</li>

<li>
<div class="buzz-date">Mar  &nbsp;18th 2010 - TechVibes</div>
<div class="buzz-item">
<a href="http://www.techvibes.com/blog/mob4hire-releases-first-look-at-their-global-wireless-survey"  target="_blank"><b>Mob4Hire releases first look at their Global Wireless Survey</b></a>
</div>
</li>


<li>
<div class="buzz-date">Mar  &nbsp;11th 2010 - bnetTV</div>
<div class="buzz-item">
<a href="http://www.youtube.com/watch?v=WmMNsEnEqK4"  target="_blank"><b>Video interview with Stephen King from MWC Barcelona (Youtube)</b></a>
</div>
</li>

<li>
<div class="buzz-date">Mar  &nbsp;9th 2010 - mSearchGroove/bnetTV (Peggy Ann Salze)</div>
<div class="buzz-item">
<a href="http://www.bnettv.com/viewArticle.php?id=54&actionLogin=fail&id=54"  target="_blank"><b>Don't Crash. Don't Suck.</b></a>
</div>
</li>

<li>
<div class="buzz-date">Feb  &nbsp;26th 2010 - Mobile Marketing Magazine</div>
<div class="buzz-item">
<a href="http://www.mobilemarketingmagazine.co.uk/2010/02/the-wisdom-of-crowds.html"  target="_blank"><b>The Wisdom of Crowds</b></a>
</div>
</li>

<li>
<div class="buzz-date">Feb  &nbsp;19th 2010 - MobHappy</div>
<div class="buzz-item">
<a href="http://mobhappy.com/blog1/2010/02/19/mob4hire-taking-off"  target="_blank"><b>Mob4Hire Taking Off</b></a>
</div>
</li>

<li>
<div class="buzz-date">Jan  &nbsp;14th 2010 - Global Intelligence Alliance</div>
<div class="buzz-item">
<a href="http://www.globalintelligence.com/insights-analysis/bulletins/best-practices-in-mobile-crowdsourcing/"  target="_blank"><b>Best Practices in Mobile Crowdsourcing</b></a>
</div>
</li>

<li>
<div class="buzz-date">Nov  &nbsp;11th 2009 - Little About</div>
<div class="buzz-item">
<a href="http://www.littleabout.com/news/44164,client-king.html"  target="_blank"><b>Client is King; is and shall ever be </b></a>
</div>
</li>

<li>
<div class="buzz-date">Nov  &nbsp;10th 2009 - CNET</div>
<div class="buzz-item">
<a href="http://news.cnet.com/8301-17938_105-10394722-1.html"  target="_blank"><b>Smartphone users, keep complaining</b></a>
</div>
</li>

<li>
<div class="buzz-date">Nov  &nbsp;10th 2009 - MRWEB</div>
<div class="buzz-item">
<a href="http://www.mrweb.com/mrt/mob09nov.htm"  target="_blank"><b>Fear The One Star</b></a>
</div>
</li>


<li>
<div class="buzz-date">Oct  &nbsp;16th 2009 - Cook &amp; Schmidt</div>
<div class="buzz-item">
<a href="http://www.flickr.com/photos/cookandschmid/4017455344/"  target="_blank"><b>Mob4Hire</b></a>
</div>
</li>


<li>
<div class="buzz-date">Oct  &nbsp;15th 2009 - Don't Panic!</div>
<div class="buzz-item">
<a href="http://www.slideshare.net/sevenval/mobile-developers-guide-to-the-galaxy-edition-2"  target="_blank"><b>Mobile Developer's Guide To The Galaxy Edition 2</b></a>

</div>
</li>

<li>
<div class="buzz-date">Oct  &nbsp;12th 2009 - openforum.com</div>
<div class="buzz-item">
<a href="http://www.openforum.com/idea-hub/topics/technology/article/3-edgy-tech-ideas-for-smart-smbs-jennifer-van-grove"  target="_blank"><b>3 Edgy Tech Ideas for Smart SMBs</b></a>
</div>
</li>

<li>
<div class="buzz-date">Oct  &nbsp;6th 2009 - Motodev</div>
<div class="buzz-item">
<a href="http://ow.ly/ud1O"  target="_blank"><b>Stephen King from Mob4Hire at the MOTODEV Summit</b></a>
</div>
</li>

<li>
<div class="buzz-date">Sep  &nbsp;29th 2009 - Goldsmith Strategic Services</div>
<div class="buzz-item">
<a href="http://goldsmithstrategicservices.com/blog/?p=226"  target="_blank"><b>Shopper Marketing's Killer App?</b></a>
</div>
</li>


<li>
<div class="buzz-date">Aug  &nbsp;19th 2009 - canada.com:</div>
<div class="buzz-item">
<a href="http://www2.canada.com/theprovince/news/money/story.html?id=734cd099-6c50-41ba-b2a4-4e8b62cba889" target="_blank"><strong>Wavefront opens hot space</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Aug  &nbsp;19th 2009 - mediacastermagazine.com:</div>
<div class="buzz-item">
<a href="http://www.mediacastermagazine.com/issues/ISArticle.asp?aid=1000338220" target="_blank"><strong>B.C. Launches High-Tech Hub for Wireless &amp; New Media Industry</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Aug  &nbsp;19th 2009 - blackberrydeveloperconference.com:</div>
<div class="buzz-item">
<a href="http://www.blackberrydeveloperconference.com/" target="_blank"><strong>CEO Stephen King will be a guest speaker at the Blackberry Developer Conference 2009</strong></a>
</div>
</li>
<li>
<div class="buzz-date">May  &nbsp;17th 2009 - voip.biz-news.com:</div>
<div class="buzz-item">
<a href="http://voip.biz-news.com/news/en_US/2009/05/17/0002/testing-testing-testing" target="_blank"><strong>Testing, Testing, Testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Apr. &nbsp;8th 2009 - itmagz.com:</div>
<div class="buzz-item">
<a href="http://www.itmagz.com/index.php/technology-mainmenu/expertspeak-mainmenu-42/477-trends-in-software-testing.html" target="_blank"><strong>Trends In Software Testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;30th 2009:</div>
<div class="buzz-item">
<a href="http://www.prweb.com/releases/2009/03/prweb2274974.htm" target="_blank"><strong>Mob4Hire Signs Mobile Testing Marketing Deal with Gamelion</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;26th 2009:</div>
<div class="buzz-item">
<a href="http://www.marketwire.com/press-release/Wavefront-966285.html" target="_blank"><strong>Wavefront Helps B.C. Developers Field Test Their Mobile Apps in 91 Countries With Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.vnunet.com/vnunet/news/2236440/o2-app-store-brings-developers" target="_blank"><strong>O2 Litmus apps store links developers and users</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.pocketgamer.biz/r/PG.Biz/O2+Litmus/news.asp?c=11626" target="_blank"><strong>O2 Litmus store pays users to test applications</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.pocket-lint.com/news/news.phtml/22218/23242/o2-pay-customers-testing-litmus.phtml" target="_blank"><strong>O2 to pay customers to test Litmus apps</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.itproportal.com/portal/news/article/2009/2/16/o2-kickstarts-litmus-apps-store/" target="_blank"><strong>O2 Kickstarts Litmus Apps Store</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.pcadvisor.co.uk/news/index.cfm?newsid=110847" target="_blank"><strong>O2 customers test apps to earn cash</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.t3.com/news/o2-recruiting-customers-for-o2-litmus?=38126" target="_blank"><strong>O2 recruiting customers for O2 Litmus</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.macworld.co.uk/digitallifestyle/news/index.cfm?newsid=25015&pagtype=allchandate" target="_blank"><strong>Earn money testing mobile apps promises 02</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.techvibes.com/blog/mob4hire-takes-2nd-place-at-mobile-monday-peer-awards-in-mwc-barcelona" target="_blank"><strong>Mob4Hire takes 2nd place at Mobile Monday Peer Awards in MWC Barcelona</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.telco2.net/blog/2009/02/getting_developer_communities.html" target="_blank"><strong>O2 Litmus: Better than the Apple App Store</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://blog.mobilegamesblog.com/2009/02/mwc-o2-rewards-litmus-testers.html" target="_blank"><strong>MWC: O2 Rewards Litmus Testers</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.crowdsourcinglinks.com/2009/01/18/mob4hire/" target="_blank"><strong>Mob4hire Featured on Crowd Sourcing Links.com</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://venturebeat.com/2009/02/16/mobile-peer-award-winners/" target="_blank"><strong>Mobile Peer Award winners</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. &nbsp;4th 2009:</div>
<div class="buzz-item">
<a href="http://www.bnettv.com/player.php?id=2252&title=Mob4Hire:%20CrowdSourced%20Mobile%20Testing" target="_blank"><strong>BNetTV talks with CEO Stephen King In Barcelona</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. &nbsp;26th 2009 - mTrends - mobile media lifestyle trends:</div>
<div class="buzz-item">
<a href="http://www.m-trends.org/2009/01/mobilemonday-mobile-peer-awards-finalists.html" target="_blank"><strong>MobileMonday Mobile Peer Awards Finalists</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. &nbsp;26th 2009 - oneMobile:</div>
<div class="buzz-item">
<a href="http://www.onemobile.it/26/01/2009/esempi-di-mobile-crowdsourcing-txteagle-e-mob4hire/" target="_blank"><strong>Esempi di mobile crowdsourcing: txteagle e Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. &nbsp;26th 2009 - Venturebeat:</div>
<div class="buzz-item">
<a href="http://venturebeat.com/2009/01/26/mobilemonday-announces-peer-awards-finalists/" target="_blank"><strong>MobileMonday announces Peer Awards finalists</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. &nbsp;26th 2009 - Techcrunch:</div>
<div class="buzz-item">
<a href="http://uk.techcrunch.com/2009/01/26/20-mobile-startups-make-it-to-the-barcelona-beach-side-awards/" target="_blank"><strong>20 mobile startups make it to the Barcelona beach-side awards</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. &nbsp;18th 2008 - CrowdsourcingLinks.com:</div>
<div class="buzz-item">
<a href="http://www.crowdsourcinglinks.com/2009/01/18/mob4hire/" target="_blank"><strong>Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Dec. &nbsp;9th 2008 - World's Oldest Living Digital Marketer Tells All:</div>
<div class="buzz-item">
<a href="http://www.oldestliving.com/2008/12/with-mob4hire-world-is-your-mobile-test.html" target="_blank"><strong>With Mob4Hire, The World Is Your Mobile Test<br/> Lab</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Nov. &nbsp;12th 2008 - Yahoo Finance:</div>
<div class="buzz-item">
<a href="http://biz.yahoo.com/iw/081121/0451573.html" target="_blank"><strong>Mob4Hire to Power Crowd Sourced Application Testing for O2 Litmus</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Nov. &nbsp;12th 2008 - Techvibes Technology News:</div>
<div class="buzz-item">
<a href="http://www.techvibes.com/blog/calgarys-mob4hire.com-signs-contract-with-o2-litmus-developer-network-in-u.k.-partners-with-motodev" target="_blank"><strong>Calgary's Mob4Hire.com Signs Contract with O2 Litmus <br/>Developer Network in U.K.; Partners with MotoDev</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Nov. &nbsp;12th 2008 - CNET: Webware:Cool Web apps for everyone:</div>
<div class="buzz-item">
<a href="http://news.cnet.com/8301-17939_109-10095840-2.html?tag=mncol" target="_blank"><strong>Mob4Hire: Crowdsource your app testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Nov. &nbsp;10th 2008 - Mike Rowehl: This is Mobility :</div>
<div class="buzz-item">
<a href="http://www.thisismobility.com/blog/2008/11/10/is-mobile-really-global/" target="_blank"><strong>Is Mobile Really Global?</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Nov. &nbsp;8th 2008 - MOTODEV // From The Fast Track :</div>
<div class="buzz-item">
<a href="http://developer.motorola.com/fromfasttrack/November_08/target="_blank""><strong>Does Your Application Pass The Test?</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Oct. &nbsp;23rd 2008 - Open Gardens Blog :</div>
<div class="buzz-item">
<a href="http://opengardensblog.futuretext.com/archives/2008/10/mob4hire_is_a_c.html" target="_blank"><strong>Mob4hire is a cool concept</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Sep. &nbsp;27th 2008 - Alberta Venture :</div>
<div class="buzz-item">
<a href="http://www.albertaventure.com/?p=2759" target="_blank"><strong>The Next Wireless Wave</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Sep. &nbsp;27th 2008 - Under The Radar Blog :</div>
<div class="buzz-item">
<a href="http://feeds.feedburner.com/~r/undertheradarblog/mjce/~3/404221514/pc_url_4824602" target="_blank"><strong>Mob4Hire - A Crowdsourcing Company With An Excellent Business Plan</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Aug. &nbsp;27th 2008 - J2ME &amp; Soccer :</div>
<div class="buzz-item">
<a href="http://j2mesoccer.splinder.com/post/18191681/" target="_blank"><strong>Mob4Hire, a new way for J2ME testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Aug. &nbsp;23rd 2008 - Vision &amp; Execution'is Weblog :</div>
<div class="buzz-item">
<a href="http://visionandexecution.wordpress.com/2008/08/23/not-invented-here-nih-is-a-good-thing/" target="_blank"><strong>Not Invented Here (NIH) is a Good Thing!</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Aug. &nbsp;22nd 2008 - Sony Ericsson Developer World :</div>
<div class="buzz-item">
<a href="https://developer.sonyericsson.com/site/global/newsandevents/latestnews/newsaug08/p_crowdsourced_testing_mob4hire.jsp" target="_blank"><strong>Interview with Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;28th 2008 - The Market-Intelligent Executive :</div>
<div class="buzz-item">
<a href="http://jasonmsherman.typepad.com/marketiq/2008/07/focus-groups-vs.html" target="_blank"><strong>Focus Groups vs Crowdsourcing Debate</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;24th 2008 - Education Arcana :</div>
<div class="buzz-item">
<a href=" http://junestag.blogspot.com/2008/07/mobile-learning-projects.html" target="_blank"><strong>Mobile Learning Projects</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;21st 2008 - Little Springs Design :</div>
<div class="buzz-item">
<a href=" http://www.littlespringsdesign.com/blog/blog/2008/07/21/usability-testing-of-multiple-device-software-and-sites/" target="_blank"><strong>usability testing of multiple-device software and sites</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;2nd 2008 - Gazeta.pl Gospodarka :</div>
<div class="buzz-item">
<a href=" http://gospodarka.gazeta.pl/gospodarka/1,33181,5416991,Madrzejsi_dzieki_telefonom.html" target="_blank"><strong>Madrzejsi dzieki telefonom</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;15th 2008 - Communities Dominate Brands :</div>
<div class="buzz-item">
<a href="http://communities_dominate.blogs.com/brands/2008/07/use-community-t.html" target="_blank"><strong>Use community to test your application, great idea: Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;14th 2008 - Cellphones in Learning :</div>
<div class="buzz-item">
<a href="http://www.cellphonesinlearning.com/2008/07/text-messegers-for-hire-mobile-jobs-for.html" target="_blank"><strong>Text Messagers For Hire: Mobile Jobs for the 21st Century Learner</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;12th 2008 - Backbone magazine :</div>
<div class="buzz-item">
<a href="http://www.backbonemag.com/Web2/default.asp" target="_blank"><strong>Mob4Hire makes Pick 20 top 20 Web 2.0 companies</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jul. &nbsp;12th 2008 - Backbone magazine :</div>
<div class="buzz-item">
<a href="http://www.backbonemag.com/Web2/Cambrian_House_2008.asp" target="_blank"><strong>Cambrian House crowdsources its way to a spot in the PICK 20</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jun. &nbsp;18th 2008 - Futurismic :</div>
<div class="buzz-item">
<a href="http://futurismic.com/2008/06/18/crowd-sourced-apps-for-the-mobile-web/" target="_blank"><strong>Crowd Sourced Apps for the Mobile Web</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jun. &nbsp;17th 2008 - Forbes :</div>
<div class="buzz-item">
<a href="http://www.forbes.com/technology/2008/06/16/smart-mobile-apps-tech-wireless08-cx_ew_0616smart.html" target="_blank"><strong>How Your Phone Can Make You Smarter</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;14th 2008 - J-Mango :</div>
<div class="buzz-item">
<a href="http://jmango.wordpress.com/2008/05/14/mob4hire-mobile-testing-made-easier-crowsourcing-style/" target="_blank"><strong>Mob4Hire: Mobile Testing made easier crowdsourcing style</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;13th 2008 - Mobile Zeitgeist :</div>
<div class="buzz-item">
<a href="http://www.mobile-zeitgeist.com/2008/05/13/crowdsourcing-plattform-mob4hire-enduser-testen-mobile-applikationen/" target="_blank"><strong>Crowdsourcing Platform Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;13th 2008 - MobileMammoth :</div>
<div class="buzz-item">
<a href="http://www.mobilemammoth.com/mobile-websites/get-your-mobile-app-tested-on-the-cheap" target="_blank"><strong>Get Your Mobile App Tested on The Cheap</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;&nbsp;&nbsp;8th 2008 - Gabor Torok's Forum Nokia Blog :</div>
<div class="buzz-item">
<a href="http://blogs.forum.nokia.com/blog/gabor-toroks-forum-nokia-blog/development/2008/05/08/mobile-software-development-functional-testing" target="_blank"><strong>Mobile software development - Functional testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;&nbsp;&nbsp;8th 2008 - Mobile Phone Development :</div>
<div class="buzz-item">
<a href="http://mobilephonedevelopment.com/archives/593" target="_blank"><strong>Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;&nbsp;&nbsp;7th 2008 - Born To Be Wireless :</div>
<div class="buzz-item">
<a href="http://borntobewireless.blogspot.com/2008/05/mob4hire-launches.html" target="_blank"><strong>Mob4Hire launches</strong></a>
</div>
</li>

<li>
<div class="buzz-date">May &nbsp;&nbsp;&nbsp;5th 2008 - B.E.T.A. Daily :</div>
<div class="buzz-item">
<a href="http://www.betadaily.com/2008/05/05/15-cool-web-services-made-up-of-the-people-aka-crowdsourcing/" target="_blank"><strong>15 Cool Web Services Made Up Of The People aka CrowdSourcing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Apr. &nbsp;&nbsp;&nbsp;1st 2008 - bnetTV :</div>
<div class="buzz-item">
<a href="http://www.bnettv.com/player.php?id=1406&title=Mob4Hire" target="_blank"><strong>Mob4Hire interview</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 30th 2008 - bizdeveloppement.blogspot.com :</div>
<div class="buzz-item">
<a href="http://bizdeveloppement.blogspot.com/2008/03/gagner-de-largent-avec-son-telephone.html" target="_blank"><strong>Gagner de l'argent avec son telephone</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - Reuters :</div>
<div class="buzz-item">
<a href="http://www.reuters.com/article/pressRelease/idUS132325+28-Mar-2008+BW20080328" target="_blank"><strong>Mob4Hire uses Crowdsourcing to Solve Mobile Application Woes</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - TechAddress :</div>
<div class="buzz-item">
<a href="http://www.techaddress.com/2008/03/28/mob4hire-crowdsourced-mobile-app-testing/" target="_blank"><strong>Mob4Hire - Crowdsourced Mobile App Testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - shopblog.org :</div>
<div class="buzz-item">
<a href="http://shopblog.org/2008/03/28/become-a-mobile-applications-tester/" target="_blank"><strong>Become A Mobile Applications Tester</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - CNBC :</div>
<div class="buzz-item">
<a href="http://www.cnbc.com/id/23843034/"><strong>Mob4Hire Launches in Beta: Uses Crowdsourcing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - PR-inside :</div>
<div class="buzz-item">
<a href="http://www.pr-inside.com/mob4hire-launches-in-beta-uses-crowdsourcing-r508306.htm"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - NetworkMarketing :</div>
<div class="buzz-item">
<a href="http://networkmarketing.best-update.com/?p=819" target="_blank"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - TMCnet :</div>
<div class="buzz-item">
<a href="http://telecom-expense-management-solutions.tmcnet.com/news/2008/03/28/3353040.htm;" target="_blank"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - denverpost.com :</div>
<div class="buzz-item">
<a href="http://finance.denverpost.com/mng-denver?Account=denverpost&GUID=5023575&Page=MediaViewer&ChannelID=3191" target="_blank"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - Yahoo (News):</div>
<div class="buzz-item">
<a href="http://news.yahoo.com/s/prweb/20080328/bs_prweb/prweb810274" target="_blank"><strong>Mob4Hire Launches in Beta: Uses Crowdsourcing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - About.com :</div>
<div class="buzz-item">
<a href="http://markets.about.com/about?GUID=5023575&Page=MediaViewer&ChannelID=3191" target="_blank"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - 901am :</div>
<div class="buzz-item">
<a href="http://www.901am.com/2008/mob4hire-launches-makes-it-easier-to-solve-mobile-application-woes.html" target="_blank"><strong>Mob4Hire launches, makes it easier to solve mobile application woes</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - CenterNetworks :</div>
<div class="buzz-item">
<a href="http://www.centernetworks.com/mob4hire-mobile-testing" target="_blank"><strong>Mob4Hire - Crowdsourced Mobile App Testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - Yahoo (Business):</div>
<div class="buzz-item">
<a href="http://biz.yahoo.com/bw/080328/20080328005178.html?.v=1" target="_blank"><strong>Testing mobile sites</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - Ad Hoc News :</div>
<div class="buzz-item">
<a href="http://www.ad-hoc-news.de/CorporateNews/en/16095487/Mob4Hire+Launches+in+Beta+Uses+Crowdsourcing+to+Solve" target="_blank"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - PRWeb :</div>
<div class="buzz-item">
<a href="http://www.prweb.com/releases/Mobile_Applications/Testing_Crowdsourcing/prweb810274.htm" target="_blank"><strong>Mob4Hire Launches in Beta</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 28th 2008 - CrowdsourcingDirectory :</div>
<div class="buzz-item">
<a href="http://www.crowdsourcingdirectory.com/?p=108#more-108" target="_blank"><strong>News from the 'Home of Crowdsourcing': Mob4Hire</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Mar. 16th 2008 - Symbian Programming :</div>
<div class="buzz-item">
<a href="http://symbianprogramming.blogspot.com/2008/03/symbian-news.html" target="_blank"><strong>Mob4Hire: Crowd Sourced application testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Feb. &nbsp;&nbsp;&nbsp;5th 2008 - webfugitive :</div>
<div class="buzz-item">
<a href="http://www.webfugitive.com/?p=22" target="_blank"><strong>They put the mob in mobile</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. 26th 2008 - bemoko :</div>
<div class="buzz-item">
<a href="http://blog.bemoko.com/2008/01/26/testing-mobile-sites/" target="_blank"><strong>Testing mobile sites</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. 24th 2008 - itWorldCanada :</div>
<div class="buzz-item">
<a href="http://www.itworldcanada.com/a/News/277c0651-3daf-4a9e-ba0c-14d30edfe0f9.html" target="_blank"><strong>Mob4hire taps into the crowd for mobile app tests</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. 18th 2008 - TechVibes :</div>
<div class="buzz-item">
<a href="http://www.techvibes.com/blog/mob4hire-crowdsources-testing-for-mobile-apps" target="_blank"><strong>Mob4hire Crowdsources Mobile App Testing</strong></a>
</div>
</li>

<li>
<div class="buzz-date">Jan. 15th 2008 - TechVibes :</div>
<div class="buzz-item">
<a href="http://techvibesblog.com/alberta-start-up-index-january-2008-beta/" target="_blank"><strong>Alberta Start-up Index - January 2008</strong></a>
</div>
</li>
</ul>
</div>
<!--div class="bottom-curve">&nbsp;</div>-->
<br class="clear" />
</div>
