<div id="container_column_middle">
            	
<h1>Press Releases</h1>
  <!--<div style="position:relative; left:30px; z-index:0;">-->
<p>Mob4Hire Press Releases are milestones we wish to share with you, and hopefully get picked &nbsp;up by a widely read online audience. <a href="http://www.prweb.com/rss2/126654.xml" target="_blank">Click here to setup your own Mob4Hire RSS feed.</a> &nbsp;Thanks for reading!</p>
<!--b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>-->
<div class="buzz-section">
  
<div class="buzz-section-title">Mob4hire press releases:</div>
<ul>

<?php foreach ($this->channel as $item):?>
	<li>
		<div class="buzz-date"> <?php echo date('F jS Y', strtotime($item->pubDate()));?></div>
		<div class="buzz-item">
			<a href="<?php echo $item->link();?>" target="_blank"><?php echo $item->title();?></a>
		</div>
	</li>
<?php endforeach;?>
<li>
<div class="buzz-date">January 22nd 2009</div>
<div class="buzz-item">
<a href="http://www.mob4hire.com/mobile_innovation_global_award.pdf" target="_blank">  Mob4Hire Named as Top 15 Innovator in GSMA's 2009 Mobile Innovation Global Competition</a>
</div>
</li>
<li>
<div class="buzz-date">November 20th 2008</div>
<div class="buzz-item">
<a href="http://www.prweb.com/releases/2008/11/prweb1642744.htm" target="_blank">  Mob4Hire Appoints Stephen King as CEO</a>
</div>
</li>
<li>
<div class="buzz-date">November 12th 2008</div>
<div class="buzz-item">
<a href="http://www.mob4hire.com/Mob4Hire_O2_Litmus_Press_Release.pdf" target="_blank">  Mob4Hire to power crowd sourced application testing for O2 Litmus</a>
</div>
</li>
<li>
<div class="buzz-date">March 27th 2008</div>
<div class="buzz-item">
<a href="http://www.mob4hire.com/Mob4Hire_Launches_Beta.pdf" target="_blank">  Mob4Hire launches Beta</a>
</div>
</li></ul>

</div>
<!--div class="bottom-curve">&nbsp;</div>-->
            <br class="clear" />
</div>