<div id="container_column_middle">

    	<?php if ($this->activatedOK) { ?>
			
			<b class="rtop red">
			  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
			</b>
			<div class="form-container">
				
				<p><?php echo $this->translate->_('default_index_activate_OK'); ?></p>
				<br/>
				<?php echo $this->loginForm; ?>
			</div>
		    <b class="rbottom red">
			  <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
			</b>
			
		<?php } else if ($this->userAlreadyActive) { ?>
		    <p><?php echo $this->translate->_('default_index_activate_ALREADYACTIVE'); ?></p>
		<?php } else { ?>
		    <p><?php echo $this->translate->_('default_index_activate_BAD'); ?></p>
			<br/>			
			<p><?php echo $this->translate->_('default_index_activate_continue'); ?></p>
		<?php } ?>
	

</div>
