<meta http-equiv="refresh" content="5;url=http://www.yoursite.com/login_page.php" />
<h2>Thank you <?php echo $this->currentUser->username; ?>, your registration is complete</h2>
<p>We have created a new account for you using Facebook Connect</p>
<br/>
<p>Logging you in now...<a href="/app/">Hang on</a>...</p>