<div id="container_column_middle_wide">
    <b class="rtop red">
        <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
    </b>

    <div class="listings-title">
        <?php echo $this->translate->_('default_index_justRegistered_title'); ?>
    </div>
    <div class="red-borders-content">

        <p><?php echo $this->translate->_('default_index_justRegistered_title_sub'); ?></p>

        <p>
            <?php echo sprintf($this->translate->_('default_index_justRegistered_user'), '<strong>' . $this->escape($this->username) . '</strong>') ?>
        </p>
        <?php echo $this->translate->_('default_index_justRegistered_description'); ?>

        <div class="clear">&nbsp;</div>
    </div>
    <div class="bottom-curve">&nbsp;</div>
</div>