	<div class="container_column_middle user-login">
<b class="rtop red">
  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
</b>
<div class="form-title"><?php echo $this->translate->_('default_index_login_title'); ?></div>
<div class="form-container">
<p><?php echo $this->translate->_('default_index_login_caption1'); ?></p>
<?php echo $this->loginForm; ?>
 
<?php if ($this->loginError) : ?>
	<div class="errors"><p><strong><?php echo $this->translate->_('default_index_login_error1'); ?> <a href="mailto:support@mob4hire.com">support@mob4hire.com</a>.</strong></p></div>
<?php endif; ?>


<?php if ($this->loginFacebookError) : ?>
	<div class="errors"><p><?php echo $this->translate->_('default_index_login_facebookerror'); ?></p></div>
<?php endif; ?>
 
<?php if ($this->notActivated) : ?>
	<div class="errors"><p><?php echo $this->translate->_('default_index_login_notActivated'); ?></p></div>
<?php endif; ?>
</div>
<div class="bottom-curve">&nbsp;</div>
</div>