<script type="text/javascript" src="/js/notifications/notification.js"></script>
<script type="text/javascript" src="/js/wall.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		showNotifications();
	//toggle expand/collapse of user  wall 
	 $('#wallpost-user .expand').toggle(
		function() {
			$('#usr<?php echo $this->currentUser->id;?>').hide('slow');
			$('#wallpost-user .expand').text(' [+] ');
		},
		function(){
			$('#usr<?php echo $this->currentUser->id;?>').show('slow');
			$('#wallpost-user .expand').text(' [-] ');
		});
		showWall(<?php echo $this->currentUser->id;?>, 3);
		
	$('.expand-project-wall').toggle(
		function() {
			$(this).parent().parent().find('.test-msg-wall').hide('slow');
			$(this).text(' [+] ');
		},
		function() {
			$(this).parent().parent().find('.test-msg-wall').show('slow');
			$(this).text(' [-] ');
		}
	);

	$('.expand-project-wall').each(
				function(index,value) {
							divid=$(this).parent().parent().find('.test-msg-wall').attr('id');
							showWall(divid.substr(3), 1); // Load project wall
						});
						
	$('.expand-test-wall').toggle(
		function() {
			$(this).parent().parent().find('.test-msg-wall').hide('slow');
			$(this).text(' [+] ');
		},
		function() {
			$(this).parent().parent().find('.test-msg-wall').show('slow');
			$(this).text(' [-] ');
		}
	);

	$('.expand-test-wall').each(function(index,value) {
							divid=$(this).parent().parent().find('.test-msg-wall').attr('id');
							showWall(divid.substr(3), 2); // Load test wall
						});
     });
     
 </script>
 <?php 
 $wall = new Wall();
 $projectTable=new Projects();
 $status=array(100=>"Draft", 101=>"Under Review", 102=>"Rejected", 
			200=>"Waiting for Project Bid Start Date", 201=>"Waiting for Mobsters to Apply",202=>"Waiting for Mobsters to Apply", 
			300=>"Bidding Closed", 
			400=>"Testing Ended",401=>"Completed",
			500=>"Archived",501=>"Deleted");
$testStatus=array(0=>'Awaiting bids', 
					50=>'Bid Invited',
					75=>'Bid Rejected',
					100=>'Bid Submitted',
					200=>'Bid Accepted (Awaiting escrow)',
					250=>'In progress',
					300=>'Test report submitted',
					350=>'Test report rejected',
					400=>'Escrow released',
					499=>'Test cancelled');
 ?>
<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h1>Dashboard</h1>
		<ul id="dashboard-summary">
			<li id="username">
				<span class="user"><?php echo $this->currentUser->username; ?></span>
				<span class="label">User</span>
			</li>
			<li id="messages">
				<a href="/app/inbox"><img class="new-mail" src="/images/app/icons/new-mail.gif" /></a>
				<span class="mail-count"><?php echo $wall->countPosts($this->currentUser->id, 3, $this->lastLogin);?></span>
				<span class="label">New Messages</span>
			</li>
			<li id="balance">
				<span class="amount">$<?php echo $this->getBalance($this->currentUser->id);?></span>
				<span class="label">Balance</span>				
			</li>
			<li id="rating">
				<?php echo $this->ratingBar('', $this->currentUser->username,5,'static','', 'true');?>				
			</li>
			<li id="last-login">
				<span class="date"><?php echo date("D M j G:i:s",$this->lastLogin);  ?></span>
				<span class="label">Last Logged In</span>
			</li>
		</ul>
		
		
		<div id="dashboard-notification">
			<span class="label">Notifications:</span>
			<!--span class="message">You have a new bid from user123 for projectxzy<!--TODO: Code for notifications goes here ></span-->
			<div id="notificationstable"></div>
			<span class="options">
				<a href=#>View Next</a><!--TODO: Code to view Next --> | <a href="#">Clear</a><!-- TODO: Code to clear notifications here -->
			</span>
		</div>
		<div id="projects-managing">
			<h2>Projects I'm Managing</h2>
			<?php foreach($this->myProjects as $project):?>
			<div class="project">
				<div class="change-summary"><span class="no-change"><?php $projectSummary=$projectTable->getDeveloperProjectUpdateNotices($project['idproject'],$this->lastLogin);
				echo $projectSummary['message'];?></span> </div>
				<?php echo $this->getProjectImage($project);?>
				<div class="project-info">
					<h3 class="title"><?php echo $project->Name;?></h3>
					<a class="manage-your-app" href="/app/developer/showproject/idproject/<?php echo $project->idproject;?>"><span>Manage Your App</span></a>
					<table class="summary">
						<tbody>
						<tr>
							<td class="info-label">STATUS:</td>
							<td class="value status"><?php echo $status[$project['Status']];?></td>
							<td class="info-label">TYPE:</td>
							<td class="value testtype"><span class="mobblack">MOB</span><span class="mobred"><?php echo strtoupper($project['projecttype']);?></span></td>
						</tr>
						<tr>
							<td class="info-label">START:</td>
							<td class="value"><?php $theTime=strtotime($project['StartDate']);
										$theDate=date("F j, Y",$theTime);
										echo $theDate;?></td>
							<td class="info-label">DURATION:</td>
							<td class="value"><?php echo $project['Duration'];?> Day(s)</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="clear">&nbsp;</div>
				<div class="project-wall">
					<div class="project-msgs">
						<h2><span class='expand-project-wall' id="toggleButton<?php echo $project['idproject'];?>"> [-] </span>Project Wall <?php $temp=$projectSummary['newProjectWall'];
						if($temp>0){echo "($temp new messages)";}?></h2>
							
						
						<div class="test-msg-wall" id='prj<?php echo $project['idproject'];?>'></div>
					</div>
				</div>
			</div><!--END project -->
			<?php endforeach;?>
		</div><!--END projects managing -->


		<div id="projects-testing">
			<h2>Projects I'm Working On</h2>
			<?php $idproject=0;?>
			<?php foreach($this->myTests as $test):?>
			<?php if($idproject!=$test['idproject']){
			//new project
			if($idproject!=0)
			{ echo '</div>';}?>
			<div class="project">
				<div class="change-summary"><span class="no-change"><?php $projectSummary=$projectTable->getTesterProjectUpdateNotices($test['idproject'],$this->currentUser->id, $this->lastLogin);
					echo $projectSummary['message'];?></span></div>
				<?php echo $this->getProjectImage($project);?>
				<div class="project-info">
					<h3 class="title"><?php echo $test->Name;?></h3>
					<a class="apply-project" href="/the-mob/view/idproject/<?php echo $test->idproject;?>"></a>
					<table class="summary">
						<tbody>
						<tr>
							<td class="info-label">STATUS:</td>
							<td class="value status"><?php echo $status[$test['projectStatus']];?></td>
							<td class="info-label">TYPE:</td>
							<td class="value testtype"><span class="mobblack">MOB</span><span class="mobred"><?php echo strtoupper($test['projecttype']);?></span></td>
						</tr>
						<tr>
							<td class="info-label">START:</td>
							<td class="value"><?php $theTime=strtotime($test['StartDate']);
										$theDate=date("F j, Y",$theTime);
										echo $theDate;?></td>
							<td class="info-label">DURATION:</td>
							<td class="value"><?php echo $test['Duration'];?> Day(s)</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="clear">&nbsp;</div>
				<div class="project-wall">
					<div class="project-msgs">
						<h2><span class='expand-project-wall' id="toggleButton<?php echo $test['idproject'];?>"> [-] </span>Project Wall <?php $temp=$projectSummary['newProjectWall'];
						if($temp>0){echo "($temp new messages)";}?></h2>
							
						
						<div class="test-msg-wall" id='prj<?php echo $test['idproject'];?>'></div>
					</div>
				</div>
				<?php }
				
					?>
					<hr></hr>
					<div class="project-info">
					<table class="summary">
						<tbody>
						<tr>
							<td class="info-label">STATUS:</td>
							<td class="value status"><?php echo $testStatus[$test['Status']];?></td>
							<td class="info-label">BID:</td>
							<td class="value">$<?php echo $test['bidAmount'];?></td>
						</tr>
						<tr>
							<td class="info-label">NETWORK:</td>
							<td class="value"><?php echo $test['networkName'];?></td>
							<td class="info-label">HANDSET:</td>
							<td class="value"><?php echo $test['vendor'].' '.$test['model'];?></td>
						</tr>
						</tbody>
						</table>
						</div>
					<div class='test-wall'>
					<h2><span class='expand-test-wall' id="toggleButton<?php echo $test['idtest'];?>"> [-]</span>Test Wall 	<?php $temp=$wall->countPosts($test['idtest'], 2,$this->lastLogin);
				if($temp>0){echo "($temp new messages)";}?></h2>
					
					<div class="test-msg-wall" id='tst<?php echo $test['idtest'];?>'></div>
				</div>
					
					
					<?php 
				
				$idproject=$test['idproject'];?>
			
			<?php endforeach;?>
			</div><!--END project -->
		</div><!--END projects testing -->

		<div id="m4h-roles">
			<h2>Available Roles</h2>
			<div id="role-mobsters">
				<h3>MOBSTER</h3>
				<div class="role-available"><!--TODO: Code for checking if this role is available -->
					<img class="icon" src="/images/app/role-icon-mobster-available.png" />
					<h4 class="role-name">Make Money Testing &amp; Completing Surveys</h4>
					<p><span class="mobblack">MOB</span><span class="mobred">TEST</span></p>
					<a class="role-button" href="#"><!--TODO: Link to list of current projects to test --><img src="/images/buttons/start_sm.gif" /></a>
				</div>
			</div>

			<div id="role-developer-researcher">
				<h3>DEVELOPER &amp; MARKET RESEARCHER</h3>
				<div class="role-row">
					<div class="role-available"><!--TODO: Code for checking if this role is available -->
						<img class="icon" src="/images/app/role-icon-mobtest-available.png" />
						<h4 class="role-name">Upload an App to be Tested</h4>
						<p><span class="mobblack">MOB</span><span class="mobred">TEST</span></p>
						<a class="role-button" href="#"><!--TODO: Link to list of current projects to manage --><img src="/images/buttons/start_sm.gif" /></a>
					</div>
					<div class="role-not-available"><!--TODO: Code for checking if this role is available -->
						<a href="#"><!--TODO: Link to complete profile --><img class="icon" src="/images/app/role-icon-mobsurvey-na.png" /></a>
						<h4 class="role-name">Create a Custom Survey</h4>
						<p><span class="mobblack">MOB</span><span class="mobred">SURVEY</span></p>
						<a class="role-button" href="#"><!--TODO: Link to mobsurvey info --><img src="/images/buttons/more-info-button.gif" /></a>
						<a class="role-button" href="#"><!--TODO: Link to complete profile --><img src="/images/buttons/apply_now_button_sm.gif" /></a>
					</div>
					<div class="role-not-available"><!--TODO: Code for checking if this role is available -->
						<a href="#"><!--TODO: Link to complete profile --><img class="icon" src="/images/app/role-icon-mobexperience-na.png" /></a>
						<h4 class="role-name">Create a Predefined Survey</h4>
						<p><span class="mobblack">MOB</span><span class="mobred">EXPERIENCE</span></p>
						<a class="role-button" href="#"><!--TODO: Link to mobexp info --><img src="/images/buttons/more-info-button.gif" /></a>
						<a class="role-button" href="#"><!--TODO: Link to complete profile --><img src="/images/buttons/apply_now_button_sm.gif" /></a>
					</div>
					<div class="role-not-available"><!--TODO: Code for checking if this role is available -->
						<a href="#"><img class="icon" src="/images/app/role-icon-mobexperience-na.png" /></a>
						<h4 class="role-name">Lorem ipsum dolor sit amem</h4>
						<p><span class="mobblack">MOB</span><span class="mobred">PRODUCT</span></p>
						<a class="role-button" href="#"><img src="/images/buttons/more-info-button.gif" /></a>
						<a class="role-button" href="#"><img src="/images/buttons/apply_now_button_sm.gif" /></a>
					</div>
				</div><!--END role-row-->
				<div class="role-row">
					<div class="role-not-available"><!--TODO: Code for checking if this role is available -->
						<a href="#"><img class="icon" src="/images/app/role-icon-mobexperience-na.png" /></a>
						<h4 class="role-name">Lorem ipsum dolor sit amem</h4>
						<p><span class="mobblack">MOB</span><span class="mobred">PRODUCT</span></p>
						<a class="role-button" href="#"><img src="/images/buttons/more-info-button.gif" /></a>
						<a class="role-button" href="#"><img src="/images/buttons/apply_now_button_sm.gif" /></a>
					</div>
				</div>
			</div><!--END role-developer-researcher -->				
			
		</div><!--END m4h-roles-->
	</div>
	<div class="red-bottom"></div>
</div>