<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        PayPal
    </div>
    <div class="app-form-normal">
        <div class="form-container">
            <h2>PayPal Deposit Unsuccessful</h2>
            <p>
                Your PayPal deposit has not been made. Testers will not begin work until a deposit has been made to your account and funds have been put in escrow.
            </p>
            <br/>
            <div class="clear">
                &nbsp;
            </div>
        </div>
        <div class="submit_buttons clearfix">
            <div class="button" id="continue">
                <a href="/app/index/account-details"><span>Continue</span></a>
            </div>
            <div class="clear">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="bottom-curve">
        &nbsp;
    </div>
</div>
