
<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        PayPal
    </div>
    <div class="app-form-normal">
        <div class="form-container">
            <h2>Thank you for your deposit</h2>
     		<p>Your new balance will be reflected in your Mob4Hire account as soon as PayPal reports that the funds have cleared. Any pending Premium Tests will then be able to commence.</p>
			<p>Please allow 48 hours for payment clearance before emailing <a class="emphasized-link" href="mailto:support@mob4hire.com"> support@mob4hire.com</a>.</p><br />
          <br/>
            <div class="clear">
                &nbsp;
            </div>
        </div>
        <div class="submit_buttons clearfix">
            <div class="button" id="continue">
                <a href="/app/index/account-details"><span>Continue</span></a>
            </div>
            <div class="clear">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="bottom-curve">
        &nbsp;
    </div>
</div>