<div id="container_column_middle"> 
  <b class="rtop red">
    <b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b>
  </b>
  <div class="form-title">
      <?php echo $this->translate->_('app_index_withdrawFunds_title'); ?>
  </div> 
  <div class="app-form">
	<?php if (isset($this->message)):?>
		<p><?php echo $this->message;?> </p> 
	<?php else:?>
		<p><h2><?php echo $this->translate->_('app_index_withdrawFunds_newPolicy'); ?></h2></p>
		
		<?php echo $this->translate->_('app_index_withdrawFunds_direction'); ?>

  	<form method='post'> 
      	<fieldset> 
          <div class="form_element clearfix">
            <div class="form_label">
              <label for="add"><?php echo $this->translate->_('app_index_withdrawFunds_emailLabel'); ?>:</label>
            </div>
            <div class="form_input">
              <input type="text" name="act" />
            </div>
          </div>
          <div class="form_element clearfix">
            <div class="form_label">
            	<label for="add"><?php echo $this->translate->_('app_index_withdrawFunds_currentBalance'); ?></label>

            </div>
            <div class="form_input">
			  $<?php echo $this->balance; ?> <?php echo $this->translate->_('app_index_withdrawFunds_balanceDetails'); ?>
            </div>
          </div>
		  
		  <div class="form_element clearfix">
            <div class="form_label">
              <label for="amount"><?php echo $this->translate->_('app_index_withdrawFunds_amount'); ?>:</label>
            </div>
            <div class="form_input">
              <input type="text" name="amount" /> 
            </div>
          </div>
          <div class="form_element clearfix">
            <div class="form_label">
              <label for="instructions"><?php echo $this->translate->_('app_index_withdrawFunds_specialInstructions'); ?>:</label>
            </div>
            <div class="form_input">
              <textarea name="instructions" cols="20" rows="5"></textarea> 
            </div>
          </div>
          <div class="submit_buttons clearfix">
            <div class="button">
              <input class="text_button_red" type="submit" name="submit" value="<?php echo $this->translate->_('form_button_submit'); ?>" />
            </div>
            <div class="clear">&nbsp;</div>
          </div>   
        </fieldset> 
      </form> 
<?php endif;?>      
  </div>
<div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app--> 
