<h1>Tester Stats Page</h1>
<?php echo $this->blah;?>
<?php if($this->flag=='1'):?>
<h2>For the date range of <?php echo $this->startDate;?> and <?php echo $this->endDate;?></h2>
<?php endif;?>
<?php if($this->flag<>'1'):?>
<h2>The statistics for <?php echo $this->flag;?></h2>
<?php endif;?>

<h3>Total Mobsters</h3>
<p>
Total # of mobsters: <b><?php echo $this->totalMobsters;?></b><br/>
Total # of mobster testers: <b><?php echo $this->totalTesters;?></b><br/>
Total # of mobster handsets: <b><?php echo $this->totalHandSets;?></b><br/>
Total # of mobster countries: <b><?php echo $this->totalCountries;?></b><br/>
Total # of mobster networks: <b><?php echo $this->totalNetworks;?></b><br/>
Total # of MobPro testers: <b><?php echo $this->mobPro;?></b><br/>
Percentage of testers with registered handsets is: <b><?php echo $this->percentTestersWithHandset.'%';?></b><br/>
</p>

<h3>New Mobsters</h3>
<p>
# of new users: <b><?php echo $this->newUsers;?></b> <i>
<?php 
if($this->newUsersDelta>0)
{
	echo '+'.$this->newUsersDelta.'%';
}
else
{
	echo $this->newUsersDelta.'%';
}?></i><br/>
Average # new users per day: <b><?php echo $this->avgNewUsersDaily;?></b> <i>
<?php 
if($this->avgNewUsersDailyDelta>0)
{
	echo '+'.$this->avgNewUsersDailyDelta.'%';
}
else
{
	echo $this->avgNewUsersDailyDelta.'%';
}?></i><br/>
Average # new users per week: <b><?php echo $this->avgNewUsersWeekly;?></b> <i>
<?php 
if($this->avgNewUsersWeeklyDelta>0)
{
	echo '+'.$this->avgNewUsersWeeklyDelta.'%';
}
else
{
	echo $this->avgNewUsersWeeklyDelta.'%';
}?></i><br/>

# of new testers: <b><?php echo $this->newTesters;?></b> <i>
<?php 
if($this->newTestersDelta>0)
{
	echo '+'.$this->newTestersDelta.'%';
}
else
{
	echo $this->newTestersDelta.'%';
}?></i><br/>
Average # new testers per day: <b><?php echo $this->avgNewTestersDaily;?></b> <i>
<?php 
if($this->avgNewTestersDailyDelta>0)
{
	echo '+'.$this->avgNewTestersDailyDelta.'%';
}
else
{
	echo $this->avgNewTestersDailyDelta.'%';
}?></i><br/>
Average # new testers per week: <b><?php echo $this->avgNewTestersWeekly;?></b> <i>
<?php 
if($this->avgNewTestersWeeklyDelta>0)
{
	echo '+'.$this->avgNewTestersWeeklyDelta.'%';
}
else
{
	echo $this->avgNewTestersWeeklyDelta.'%';
}?></i><br/>
# of new handsets registered: <b><?php echo $this->newHandSets;?></b> <i>
<?php 
if($this->newHandSetsDelta>0)
{
	echo '+'.$this->newHandSetsDelta.'%';
}
else
{
	echo $this->newHandSetsDelta.'%';
}?></i><br/>
</p>
<h3>Mobster Engagement</h3>
<p>
% mobsters that have bid in period: <b><?php echo $this->percentTestersBid.'%';?></b> <i>
<?php 
if($this->percentTestersBidDelta>0)
{
	echo '+'.$this->percentTestersBidDelta.'%';
}
else
{
	echo $this->percentTestersBidDelta.'%';
}?></i><br/>
% mobsters that tested in period: <b><?php echo $this->percentTestersTesting.'%';?></b> <i>
<?php 
if($this->percentTestersTestingDelta>0)
{
	echo '+'.$this->percentTestersTestingDelta.'%';
}
else
{
	echo $this->percentTestersTestingDelta.'%';
}?></i><br/>
Average # of mobsters per project: <b><?php echo $this->avgTestersPerProject;?></b> <i>
<?php 
if($this->avgTestersPerProjectDelta>0)
{
	echo '+'.$this->avgTestersPerProjectDelta.'%';
}
else
{
	echo $this->avgTestersPerProjectDelta.'%';
}?></i><br/>
Average $$$ per mobster/project: <b><?php echo '$'.$this->avgPayPerTest;?></b> <i>
<?php 
if($this->avgPayPerTestDelta>0)
{
	echo '+'.$this->avgPayPerTestDelta.'%';
}
else
{
	echo $this->avgPayPerTestDelta.'%';
}?></i><br/>
</p>



