<script type='text/Javascript'>
// identify devices from regdevices table 100 at a time
$(document).ready(function(){
	var page=<?php echo $this->page;?>;
	$.getJSON("/app/test/",{page: page}, ajaxCallback);
	
});

function ajaxCallback(j) {
	// check if counter has been defined
	if (typeof ajaxCallback.page == 'undefined' ) {
		// It has not... perform the initilization
		ajaxCallback.page = <?php echo $this->page;?>;
	}

	if (j[0].useragent=='DONE')
		$("#ajaxdiv").html('DONE');
	else {
		var json='';
		for (var i = 0; i < j.length; i++) {
			json += ''+j[i].useragent + '"=>' + j[i].id + '<br/>';
		}		
		$("#ajaxdiv").html(json);
		$.getJSON("/app/test/",{page: ++ajaxCallback.page}, ajaxCallback); // function is called recursively until we are 'DONE'
	}
}

</script>

<div id='ajaxdiv'>
</div>
