<script type="text/javascript">
	
	var subtotal = <?php echo $this->subtotal;?>;
	
	$(document).ready(
		function(){
			$('#addfunds').blur(updateAmounts);
			$("form input:radio[@name=paymethod]").click(updateHidden);
			updateAmounts();
			updateHidden();
		}
	);
	
	
	function updateHidden(){
		$('#amount').val(getAmount($('#balance').html()));
		
		$('#paymethodhidden').val($("form input:radio[@name=paymethod]:checked").val());
		
	}
		
	
	function updateAmounts(){
		var fundsToAdd = parseInt($('#addfunds').val());
		if(!isNaN(fundsToAdd)){
			var newSub = subtotal + fundsToAdd;
			$('#subtotal').html('$'+newSub.toFixed(2));
			
			var currentBalance = getAmount($('#lessfunds').html());
				
			var newTotal = newSub - currentBalance;
						
			$('#balance').html('$'+ ((newTotal < 0)?'0':newTotal));
			
		}
		
	}
	
	function getAmount(input){
		
		var sAmount = input.substring(1);
	
		var amount = parseInt(sAmount);
		if(!isNaN(amount)){
			return amount;
		}
		return 0;
	}
	
		
</script>
<div id="container_column_middle">
	<b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
  <div class="form-title">
	    Manage MobAccelerator Project
	</div>
  <div class="app-form">
  	<div class="steps clearfix">
  	  <ul>
    	<li><a href="/app/accelerator/definition" style="text-decoration: none">Step 1<br />Definition</a></li>
		<li><a href="/app/accelerator/selectpanel" style="text-decoration: none">Step 2<br />Panel Selection</a></li>
        <li><a href="/app/accelerator/resources" style="text-decoration: none">Step 3<br />Resources</a></li>
        <li class="current-step" >Step 4<br />Estimates</li>
  	  </ul>
	</div> 
  	<?php echo $this->estimates; ?>
	<?php echo $this->estimatesPt2; ?><!--estimates form part2-->
	<div class="clear">&nbsp;</div>
	</div> 
  <div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 
