<script type="text/javascript" src="/js/contactlist/contacts.js"></script>
<link href="/css/contacts.css" media="screen" rel="stylesheet" type="text/css" />
<div  class="simple_overlay" id="contactpop" style="display:hidden"><div class="close"></div><div id="contactstable"></div></div>
<script type="text/javascript">
    $(document).ready(setInitialLists);
   
    function setInitialLists(){
		initialNetwork();
		initialHandset();
	   }
	
	function initialNetwork(){
		
		var country = $('select#country').val();
		
		// disable the networks until the countries are populated
		$('#network').attr('disabled', 'disabled');
		$('#network').parent('div').append('<div id="workingnetwork"><img src="/images/working.gif"/> Updating..Please Wait</div>');
		
		$.getJSON("/ajax/index/networkselect",{id: country}, function(j){
			var options = '';
			for (var i = 0; i < j.length; i++) {
				options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
			}
			
			$('#network').removeAttr("disabled");
			$('#workingnetwork').hide();
			
			$("#network").html(options);
			$('#network option:first').attr('selected', 'selected');
		});
		
		$.post("/ajax/index/getcountrycode/", {id: country}, function(data){
			$("#code").val(data);
		});
	}
	
	
	function initialHandset(){
		
		var manuf = $('select#vendor').val();
		
		$('#model').parent('div').append('<div id="workinghandset"><img src="/images/working.gif"/> Updating..Please Wait</div>');
		
		
		$.getJSON("/ajax/index/modelSelect",{id: manuf}, function(j){
			var options = '';
			for (var i = 0; i < j.length; i++) {
				options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
			}
			$("#model").html(options);
			$('#model option:first').attr('selected', 'selected');
			
			$('#workinghandset').hide();
			
		});
	}
	
</script>
<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        Manage MobAccelerator Project
    </div>
    <div class="app-form">
    	<a href="/app/accelerator/clear" class="clear-form"><span>Clear Form</span></a>
		
        <div class="steps clearfix">
            <ul>
               <?php if(Zend_Registry::get('defSession')->project && isset(Zend_Registry::get('defSession')->project->idproject)): ?>		   
				    <li><a href="/app/accelerator/definition" style="text-decoration: none">Step 1<br />Definition</a></li>
					<li class="current-step"><a href="/app/accelerator/selectpanel" style="text-decoration: none">Step 2<br />Panel Selection</a></li>
	        		<li><a href="/app/accelerator/resources" style="text-decoration: none">Step 3<br />Resources</a></li>
			        <li><a href="/app/accelerator/estimates" style="text-decoration: none">Step 4<br />Estimates</a></li>
				<?php else: ?>
				    <li>Step 1<br />Definition</li>
					<li class="current-step">Step 2<br />Panel Selection</li>
    	    		<li>Step 3<br />Resources</li>
			        <li>Step 4<br />Estimates</li>				
				<?php endif; ?>
            </ul>
        </div>
    	<?php echo $this->zForm; ?>
    	<div class="clear">&nbsp;</div>
	    </div>
	    <div class="bottom-curve">&nbsp;</div>
</div>
<!--End: container_column_middle_wide_app -->

