<?php
$translate = Zend_Registry::get('Zend_Translate');
?>
<div class="project">
	<div class="item">
		<div class="change-summary">
			<span class="no-change"> 			
				<?php echo $translate->_('app_contact_error_empty'); ?>
			</span>
		</div>
	
		<div class="item-info">
			<span class="title">
				<?php if($this->mode == "invites" || $this->mode == "current"):?>
						<?php // not sure what this is ?>
				<?php else:?>
					<?php echo $translate->_('app_contact_error_sorry'); ?>
				<?php endif;?>
			</span>
			<table class="item-summary">
				<tbody>	
					<tr>
						<?php if($this->mode == "current"):?>
							<td><span class="value"><?php echo $translate->_('app_contact_error_group'); ?>
							</span></td>
						<?php elseif($this->mode == "invites"):?>
							<td><span class="value"><?php echo $translate->_('app_contact_error_invites'); ?>
							</span></td>
						<?php else:?>
							<td><span class="value"><?php echo $translate->_('app_contact_error_match'); ?>
							</span></td>
						<?php endif;?>
					</tr>
					
				</tbody>
			</table>
			</div>
	
	</div>
</div>




	