<?php
$translate = Zend_Registry::get('Zend_Translate');
?>
<div class="item-pagination">
	<ul class="pagination-tab">
		<?php if ($this->hasPrevious == false):?>
			<li class="previous-off"> <?php echo $translate->_('app_contact_pagination_previous'); ?></li>
		<?php else :?>	
			<li class="previous"><a href="javascript:void(0)" onclick="showContacts(<?php echo $this->active-1;?><?php if($this->container) echo ",".$this->container;?>)"> <?php echo $translate->_('app_contact_pagination_previous'); ?></a></li>
		<?php endif;?>
		
		<?php for($i=1;$i <= $this->pages; $i++):?>
			<li><a <?php if ($this->active == $i){ echo 'class="active"';} ?> href="javascript:void(0)" onclick="showContacts(<?php echo $i?><?php if($this->container) echo ",".$this->container;?>)"><?php echo $i;?></a></li>
		<?php endfor;?>
	 	<?php if ($this->hasNext == false):?>
			<li class="next-off"><?php echo $translate->_('app_contact_pagination_next'); ?> </li>
		<?php else :?>	
			<li class="next"><a href="javascript:void(0)" onclick="showContacts(<?php echo $this->active+1;?><?php if($this->container) echo ",".$this->container;?>)"><?php echo $translate->_('app_contact_pagination_next'); ?> </a></li>
		<?php endif;?>		
	</ul>
</div>




	