<?php
$translate = Zend_Registry::get('Zend_Translate');
$contact = $this->contact;
$showSelector = $this->options['selector'];
$contacts = new Contacts(); ?>
<div class="item contact">
	<div class="item-icon">
		<?php if($showSelector == 'true'):?>
		 	<input class="item-selector" type="checkbox" name="selection[]" value="<?php echo $contact->iduser;?>" />
		<?php endif;?>
		<a>
		<?php if($this->options['layout'] == "compact"):?>
		<img class="user-image" style="margin-top: 3px" height="32" border="0" width="32" src="<?php echo (($img_path=$contact->Avatar) ? $img_path : "/images/image-not-found.gif"); ?>">
		<?php else:?>
		<img class="user-image" style="margin-top: 6px" height="64" border="0" width="64" src="<?php echo (($img_path=$contact->Avatar) ? $img_path : "/images/image-not-found.gif"); ?>">
		<?php endif;?>
		</a>
	</div>
	
	<div class="item-action">
		<?php if($this->options['layout'] == "standard"):?>
			<?php echo $this->styleButton($translate->_('app_contact_layout_profileButton'),"/app/profile/view/user/".$contact->username.""); ?>
			<?php if(!$contacts->hasContact(Zend_Registry::get('defSession')->currentUser->id,$contact->iduser)):?>
				<?php echo $this->styleButton($translate->_('app_contact_layout_profileAddButton'),"javascript:void(0);","addContact(this,".$contact->iduser.")"); ?>
			<?php endif;?>
		<?php endif;?>
	</div>

	<div class="item-info">
	<span class="title">
		<?php echo $this->formatUserLink($contact->username,$this->options['layout']);?>
	</span>
	<span style="float:right"><?php echo $this->ratingBar($contact->iduser, $contact->username,5,'static', '',false);?></span>
	<table class="item-summary">
		<tbody>
			<tr >
				<td class="info-label"><?php echo $translate->_('mobile_profile_view_country'); ?></td>
				<td class="value status" style="width:150px"><?php if(!isset($contact->country)){ echo $translate->_('mobile_profile_view_countryMissing');}else{ echo $contact->country; }; ?></td>
				<td class="info-label"><?php echo $translate->_('mobile_profile_view_since'); ?></td>
				<td class="value">
				<?php if($contact->registered_on > 0): ?>
					<?php echo date("F d, Y", strtotime($contact->registered_on));?>
					<?php endif;?>
					</td>
			</tr>
			<tr >
				<td class="info-label"><?php echo $translate->_('mobile_profile_view_lastOnline'); ?></td>
				<td class="value" style="width:150px"><?php echo $this->showElapsedTime(strtotime($contact->last_login));?></td>
				<td class="info-label"><?php echo $translate->_('mobile_profile_view_totalFeedback'); ?></td>
				<td class="value"><a href="/app/profile/rating/id/<?php echo $contact->iduser;?>" alt="Feedback"><?php echo $contact->total_votes; ?></a></td>
			</tr>
			
			<tr>
				<td class="info-label"><?php echo $translate->_('mobile_profile_view_handsets'); ?></td>
				<td colspan="3" >
					<?php if(isset($this->handsets)){
						$model = '';
						for($i=0;$i<sizeof($this->handsets);$i++){
							
							$handset = $this->handsets[$i];
							if($i>5){
								$model .= " More....";
								break;
							}
							$model .= $handset->vendor ." ".$handset->model ." | "; 
						}
						$model = substr($model,0,-2);
						echo $model;
					}
					?>		
				</td>
			</tr>
			
			<?php if($this->options['layout'] == "compact"):?>
			<tr><td colspan="4" >	
				<div >
				<?php if(Zend_Registry::get('defSession')->currentUser->id != $contact->iduser):?>
				<?php if(!$contacts->hasContact(Zend_Registry::get('defSession')->currentUser->id,$contact->iduser)):?>
						<a href="javascript:void(0);" onclick="addContact(this,<?php echo $contact->iduser;?>)" data-inline="true"  data-role="button"><?php echo $translate->_('mobile_profile_view_addAsContact'); ?></a>
				<?php else:?>		
						<a href="javascript:void(0);" onclick="removeContact(<?php echo $contact->iduser;?>)" data-inline="true"  data-role="button"><?php echo $translate->_('mobile_profile_view_removeFromContact'); ?></a>
				<?php endif;?>		
						<a href="/mobile/profile/view/user/<?php echo $contact->username;?>"  data-inline="true" data-role="button"><?php echo $translate->_('app_contact_layout_profileButton'); ?></a>
				<?php endif;?>
				</div>
			</td></tr>
			<?php endif;?>
			
		</tbody>
	</table>
	</div>
</div>



