<div id="container_column_middle">
<div class="red-top"></div>
	<div class="red-mid">
	<h2><?php echo $this->translate->_('app_contacts_manage_title'); ?></h2>
	<div id="contacts-container">
		<?php echo $this->showMyContacts($this->page,$this->resultsPerPage,$this->options);?>
	</div>	
	</div>
	<div class="red-bottom"></div>
</div><!--End: container_column_middle_wide --> 