<script type="text/javascript" src="/js/contactlist/contacts.js"></script>
<link href="/css/contacts.css" media="screen" rel="stylesheet" type="text/css" />
<div  class="simple_overlay" id="contactpop" style="display:hidden"><div class="close"></div><div id="contactstable"></div></div>

<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div class="form-title">
    Compose Message
</div>
<div class="app-form" id="compose-message">
  <?php echo $this->form;?>
    <div id='ajaxDiv'></div>
  </div>
<div class="bottom-curve">&nbsp;</div>

