<script type="text/javascript" src="/js/wall.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	//toggle expand/collapse of user  wall 
	 $('#wallpost-user .expand').toggle(
		function() {
			$('#usr<?php echo $this->currentUser->id;?>').hide('slow');
			$('#wallpost-user .expand').text('+');
		},
		function(){
			$('#usr<?php echo $this->currentUser->id;?>').show('slow');
			$('#wallpost-user .expand').text('-');
		});
		showWall(<?php echo $this->currentUser->id;?>, 3);
		
	$('.expand-project-wall').toggle(
		function() {
			divid=$(this).parent().find('.project-wall-ajax').attr('id');
			$(this).parent().find('.project-wall-ajax').show('slow');
			$(this).text('-');
			showWall(divid.substr(3), 1); // Load project wall
		},
		function() {
			$(this).parent().find('.project-wall-ajax').hide('slow');
			$(this).text('+');
		}
	);

/*	$('.expand-project-wall').each(function(index,value) {
							divid=$(this).parent().find('.project-wall-ajax').attr('id');
							showWall(divid.substr(3), 1); // Load project wall
						});
*/
     });
     
 </script>
<div id="container_column_middle">
	<div class="red-top"></div>
	<div class="red-mid">
		<h1 class="header-links">Inbox <span class="msg-count-sm"><!--TODO: Insert code for new total posts count here --></span></h1>
		<ul id="nav-page">
			<li><a href="#your-wall">Your Wall</a> | </li>
			<li><a href="#project-wall">Project Wall &amp; Test Messages</a></li>
		</ul>
		<div class="clear"></div>
		<div id="wallpost-user">
<!--			<h2><a name="#your-wall">Your Wall</a> <span class="msg-count-med">(2--><!--TODO: Insert code for new user posts count here --><!--)</span></h2>--> 
			<!-- TODO: Insert wall code here... -->
			<h2>Your Wall</h2>
			<button class="expand">-</button>
			<div class="test-msg-wall" id='usr<?php echo $this->currentUser->id;?>'></div>

		</div>
		<div id="wallpost-project">
			<h2><a name="#project-wall">Project Wall &amp; Test Messages</a> <span class="msg-count-med"><!--TODO: Insert code for new project posts count here --></span></h2>
	<?php
//	print_r($this->projectWalls);
	$oldproject=0;
	if(count($this->projectWalls)):
		foreach($this->projectWalls as $wall):?>
			<?php if  ($wall['idproject'] != $oldproject):?>
				<?php if ($oldproject):?>
						</div> <!-- close test-msgs-->
					</div><!--close project-->
				<?php endif;?>
				<div class="project">
				<div class="project-name"><?php echo $wall['projectname'];?><!--TODO: Add expand button for "project messages" and "test messages" here --></div>
					<div class="project-msgs">
						<button class='expand-project-wall' id="toggleButton<?php echo $wall['idproject'];?>">+</button><h3>Project Wall <?php if($wall['totalMessages']>0){echo '('.$wall['totalMessages'].' messages)';}?></h3>
						<div id='prj<?php echo $wall['idproject'];?>' class='project-wall-ajax'></div>
					</div>
					<div class="test-msgs">
						<h3>Private walls</h3>
				<?php $oldproject=$wall['idproject'];?>
				
			<?php endif;?>
			<?php if($wall['idtest']): // test wall post?>
				<h3><a name="#your-wall" id="toggle" href="#" onclick="showWall(<?php echo $wall['idtest'];?>, 2);
							$('#toggleButton<?php echo $wall['idtest'];?>').text('-');
							$('#toggleButton<?php echo $wall['idtest'];?>').toggle(function(){$('#tst<?php echo $wall['idtest'];?>').hide('slow');
							$('#toggleButton<?php echo $wall['idtest'];?>').text('+');
							},function(){
							$('#tst<?php echo $wall['idtest'];?>').show('slow');
							showWall(<?php echo $wall['idtest'];?>, 2);
							$('#toggleButton<?php echo $wall['idtest'];?>').text('-');
							}); return false;"><button id="toggleButton<?php echo $wall['idtest'];?>">+</button></a>Test <?php echo $wall['idtest'].' Wall ';?> <?php if($wall['totalMessages']>0){echo '('.$wall['totalMessages'].' messages)';}?></h3>
							<div id='tst<?php echo $wall['idtest'];?>'></div>
			<?php endif;?>
		<?php endforeach;?>
				</div> <!-- close test-msgs-->
			</div><!--close project-->

	<?endif;?>
		</div>
	</div>
	<div class="red-bottom"></div>
</div>