<script type="text/javascript" src="/js/inbox/list.js"></script>

<script type="text/javascript" >
	function archive(id){
	postObject = new Object;
	postObject.id = id;
	
	$.post("/app/inbox/archive/", postObject, function(data){
		window.location.href="/app/inbox"; // you can't do this like you were doing it. you need to wait until all the Ajax calls have finished	
		});
	}
	
	
</script>
<div id="inbox_messages">
  <b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
<div class="form-title">Message from <?php echo $this->message->username;?></div>

<div id="inbox-messages-list">
  <div id="inbox-controls">
    <div id="message-controls">
      <ul>
        <li>
    			<a href="/app/inbox/compose/user/<?php echo $this->message->username;?>/replyto/<?php echo $this->message->id;?>" id="reply-button">
    			  <span>Reply</span>
    			</a>
    		</li>
    		<li>
    			<a onclick="archive(<?php echo $this->message->id;?>);" id="archive-button">
    			  <span>Archive</span>
    			</a>
    		</li>
			</ul>
		</div>
		<div id="message-previous-next">
		  <ul>
		    <li>
		     <!-- <a href="" id="previous-message">
		        <span>Previous Message</span>
		      </a>-->
		    </li>
		    <li>
		      <!--<a href="" id="next-message">
		        <span>Next Message</span>-->
		    </li>
		  </ul>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	
	<div id="message-subject">
	<label>Subject:</label> <?php echo $this->message->subject;?>
	</div>
	
	<div id="message-content">	
		<?php echo $this->message->message;?>
	</div>
	<div class="clear">&nbsp;</div>
</div>

<div class="bottom-curve">&nbsp;</div>
</div>