<?php $translate = Zend_Registry::get('Zend_Translate'); ?>

<table class="current_handsets">
    <thead>
    <tr>
        <th scope="col"><a href="javascript:void(0)"
                           onclick="showPage('<?php echo $this->whereClause; ?>','n.idcountry,n.network,d.vendor,d.model', 1)"><?php echo $translate->_('ajax_index_listhandsetsajax_country'); ?></a>
        </th>
        <th scope="col"><a href="javascript:void(0)"
                           onclick="showPage('<?php echo $this->whereClause; ?>','n.network,n.idcountry,d.vendor,d.model', 1)"><?php echo $translate->_('ajax_index_listhandsetsajax_network'); ?></a>
        </th>
        <th scope="col"><a href="javascript:void(0)"
                           onclick="showPage('<?php echo $this->whereClause; ?>','d.vendor,n.network,n.idcountry,d.model', 1)"><?php echo $translate->_('ajax_index_listhandsetsajax_manufacturer'); ?></a>
        </th>
        <th scope="col"><a href="javascript:void(0)"
                           onclick="showPage('<?php echo $this->whereClause; ?>','d.model,n.idcountry,n.network,d.vendor', 1)"><?php echo $translate->_('ajax_index_listhandsetsajax_model'); ?></a>
        </th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td class="footer_nav_results" colspan="7">
            <?php if ($this->pageNumber > 1):  // Do not show 'Prev link 'if we are already on the first page ?>
                <a href="javascript:void(0)"
                   onclick="showPage('<?php echo $this->whereClause; ?>','<?php echo $this->orderBy; ?>' , <?php echo $this->pageNumber - 1; ?>)"><?php echo $translate->_('ajax_index_listhandsetsajax_previous'); ?></a>
            <?php endif; ?>

            <?php for ($i = 10 * (int)(($this->pageNumber - 1) / 10) + 1; $i <= 10 * (int)(($this->pageNumber - 1) / 10) + 10 && $i <= $this->numberOfPages; $i++): ?>
                <?php if ($i != $this->pageNumber): ?>
                    <a href="javascript:void(0)" onclick="showPage('<?php echo $this->whereClause; ?>','<?php echo $this->orderBy; ?>', <?php echo $i; ?>)">
                <?php endif; ?>
                <?php echo $i; ?>
                <?php if ($i != $this->pageNumber): ?>
                    </a>
                <?php endif; ?>
            <?php endfor; ?>


            <?php if ($this->pageNumber < $this->numberOfPages):  // Do not show 'Last' link 'if we are already on the last page ?>
                <a href="javascript:void(0)"
                   onclick="showPage('<?php echo $this->whereClause; ?>','<?php echo $this->orderBy; ?>', <?php echo $this->pageNumber + 1; ?>)"><?php echo $translate->_('ajax_index_listhandsetsajax_previous'); ?></a>
            <?php endif; ?>
        </td>
    </tr>
    </tfoot>

    <tbody>
    <?php $i = 0; // used to swap background colour of table row ?>
    <?php foreach ($this->handsetList as $handset) : ?>
        <tr class="<?php echo($i % 2 ? 'row_even' : 'rowodd'); ?>">
            <td><?php echo $this->escape($handset->country); ?></td>
            <td><?php echo $this->escape($handset->network); ?></td>
            <?php if (!$handset->vendor): ?>
                <?php
                // We have no vendor and model from the select boxes so hopefully we have a manualid
                // manualid has vendor and model separated by a tab,  explode the string
                $temp = array();
                $temp = explode("\t", $handset->manualid);
                $handset->vendor = (($temp[0]) ? $temp[0] : 'Unknown'); // put these in the handset variable ready to print out
                $handset->model = ((isset($temp[1])) ? $temp[1] . "  *" : 'Handset');
                ?>
            <?php endif; ?>
            <td><?php echo $this->escape($handset->vendor); ?></td>
            </td>
            <td><?php echo $this->escape($handset->model); ?></td>
            </td>

            <?php if (!true):
                // Hiding MAC entry?>
                <td><input type="text" name="mac_<?php echo $handset->idregdevice; ?>"
                           value="<?php echo $handset->mac_id; ?>"/></td>
                <?php if ($this->canEditHandset($handset->idregdevice)): ?>
                    <td width="20px">
                        <a onclick="assignMacID(<?php echo $handset->idregdevice; ?>);">
                            <?php if ($handset->mac_id): ?>
                                <img src="/images/buttons/edit_button.gif" alt="Edit">
                            <?php else: ?>
                                <img src="/images/buttons/add_button.gif" alt="Add">
                            <?php endif; ?>
                        </a>
                    </td>
                <?php endif; ?>
            <?php endif; ?>

            <td width="20px">
                <a onclick="removeHandset(<?php echo($handset->idregdevice) ?>);">
                    <div id='divRegToggle<?php echo $handset->idregdevice ?>'>
                        <img src="/images/icons/delete.png" alt="remove">
                    </div>
                </a>
            </td>


        </tr>
        <?php $i++; ?>
    <?php endforeach; ?>

    <?php if ($this->error): ?>
        <tr>
            <td colspan=4>
                <p><?php echo $this->error ?></p>
            </td>
        </tr>

    <?php endif; ?>

    </tbody>
</table>
