
<style>
	#formDiv {
	position: absolute;
	top: 300px;
	left: 500px;
	background-color: #FF0000;
	color: #33532F;
	border: 1px solid #33532F;
	padding: 12px 6px 0px 6px;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 9pt; 
	text-align: center; 
	}
</style>
<div id="formDiv">
<strong>Your Contacts</strong><br /><br />
<form name="contactListForm" id="contactListForm" method="post">
	<TABLE>
	<?php foreach ($this->contacts as $key=>$value):?>
	<tr>
	<td><INPUT type='checkbox' name='contacts[]' id='contacts[]' value='<?php echo $value->username;?>'></td><td><?php echo $value->username;?></td><br/>
	</tr>
	<? endforeach;?>
	</TABLE>
	<input type="submit" name="btnSave" id="btnSave" value="Ok"><input type="button" name="btnCancel" id="btnCancel" value="Cancel">
 </form>
</div>
<SCRIPT  type="text/javascript">
formInfo = "";  
 $("#btnCancel").click(function(){    
	returnResponse("Cancelled");  
});  

$("#contactListForm").submit(function(){
	// Make comma separated list of checked usernames

	var checkboxes=[];
	$('input:checkbox:checked').each(function(i) {
             checkboxes[i]=this.value;
	});
	formInfo = new Object;
	formInfo.contacts=checkboxes.join(",");
	returnResponse(formInfo);  });  
	
function returnResponse(fI){    
	$("#formDiv").remove();    
	processData(fI);  
}
</SCRIPT>