<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Question</th>
			<th>Answer Group</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($this->surveyQuestionList as $list):?>
			<tr>
				<td><?php echo $list['idquestion'];?></td>
				<td><?php echo $list['text'];?></td>
				
				<td><?php echo $list['answergroup'];?></td>
				<td>
					<input type="button" name="removequestion" id="removequestion" value="Remove" onclick="removeQuestion(<?php echo $list['idsurvey_question'].','.$this->idsurvey;?>);"/>
				</td>
			</tr>
		<?php endforeach;?>
	</tbody>
</table>
		
