		<div data-role="navbar" data-theme="m">
			<ul>
				<li><a rel="external" href="/mobile/group" >All Groups</a></li>
				<li><a rel="external" href="/mobile/group/self" class="ui-btn-active">My Groups</a></li>
			</ul>
		</div>
		<h5>My Groups</h5>
		<div id="groups-container">
			<?php echo $this->showGroups($this->mode, $this->page, $this->resultsPerPage, $this->options)?>
		</div>

