<link href="/css/dropzone.min.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/js/dropzone.min.js"></script>
<script type="text/javascript">

    // Preloads the file tables (method in files/list.js
    $(document).ready(function () {
        Dropzone.autoDiscover = false;
        var uploadDrop = new Dropzone("div#projImg", {
            paramName: "projImg",
            url: <?php if(isset(Zend_Registry::get('defSession')->project->idproject)): ?>
                "/ajax/index/uploadprojectimage/",
            <?php else: ?>
            "/ajax/index/uploadtemporary/",
            <?php endif; ?>
            maxFilesize: 2, // MB
            maxFiles: 1,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                });

                this.on("success", function (file, message) {
                    $('#uploads').html(message);
                });

                this.on("sending", function (form) {
                });
            }
        });
    });
</script>


<script type="text/javascript">
	$(document).ready(function(){
	// make sure the project image shows on first page load if there is one
	postObject = new Object;
	postObject.fcn="projImg";
		
        $.post("/ajax/index/listfiles/", postObject, function(data){
            $("#uploads").html(data); // hmm. if the user has uploaded more than one image this will display all of them
        });        
	});
    
	$(document).ready(function (){
        var inputTestType = $("input[name=testPkg]");
        inputTestType.change(enableFeaturesByTestType);
        
        var inputBidAmount = $("input[name=transType]");
        inputBidAmount.change(enableFeaturesByTestType);
        
        enableFeaturesByTestType();
	});
    
	function enableFeaturesByTestType(){
        if ($("input[name=testPkg]:checked").val() == '1') {
            // Code for handling basic tests
            // Remove the closed type of testing
		$('#inviteType-1').attr("readonly", "readonly");
		$('label[for=inviteType-1]').attr("readonly", "readonly");
		$('#inviteType-0').attr("checked", "checked");
            
		$('#transType-1').attr("readonly", "readonly");
		$('label[for=transType-1]').attr("readonly", "readonly");
		$('#transType-0').attr("checked", "checked");
		$('#amtMobsters').val('10');
        }
        else {
		$('#inviteType-1').removeAttr('readonly');
		$('label[for=inviteType-1]').removeAttr('readonly');
		$('#transType-1').removeAttr('readonly');
		$('label[for=transType-1]').removeAttr('readonly');
		$('#amtMobsters').val('500');
        }
        
        // Code for handling fixed fees
        if ($("input[name=transType]:checked").val() == '0') {
//		$('label[for=bidAmount]').attr("readonly", "readonly");
//		$('#bidAmount').attr("readonly", "readonly");

		$('label[for=amtMobsters]').attr("readonly", "readonly");
		$('#amtMobsters').attr("readonly", "readonly");
        }
        else {
//		$('#bidAmount').removeAttr('readonly');
//		$('label[for=bidAmount]').removeAttr('readonly');
			
		$('#amtMobsters').removeAttr('readonly');
		$('label[for=amtMobsters]').removeAttr('readonly');
			
        }
        
    }
</script>
<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        <?php echo $this->translate->_('app_project_definition_title'); ?>
    </div>
    <div class="app-form">
        <?php echo $this->styleButton($this->translate->_('app_project_definition_btnClear'),"/app/project/clear"); ?>
        <div class="steps clearfix">
		    <ul>
		       <?php if(Zend_Registry::get('defSession')->project && isset(Zend_Registry::get('defSession')->project->idproject) ): ?>		   
				    <li class="current-step"><a href="/app/project/definition" style="text-decoration: none"><?php echo $this->translate->_('app_project_definition_step1'); ?><br /><?php echo $this->translate->_('app_project_definition_step1Definition'); ?></a></li>
					<li><a href="/app/project/selectpanel" style="text-decoration: none"><?php echo $this->translate->_('app_project_definition_step2'); ?><br /><?php echo $this->translate->_('app_project_definition_step2Panel'); ?></a></li>
		    		<li><a href="/app/project/resources" style="text-decoration: none"><?php echo $this->translate->_('app_project_definition_step3'); ?><br /><?php echo $this->translate->_('app_project_definition_step3Resources'); ?></a></li>
			        <li><a href="/app/project/estimates" style="text-decoration: none"><?php echo $this->translate->_('app_project_definition_step4'); ?><br /><?php echo $this->translate->_('app_project_definition_step4Estimates'); ?></a></li>
				<?php else: ?>
				    <li class="current-step"><?php echo $this->translate->_('app_project_definition_step1NoLink'); ?><br /><?php echo $this->translate->_('app_project_definition_step1NoLinkDefinition'); ?></li>
					<li><?php echo $this->translate->_('app_project_definition_step2NoLink'); ?><br /><?php echo $this->translate->_('app_project_definition_step2NoLinkPanel'); ?></li>
		    		<li><?php echo $this->translate->_('app_project_definition_step3NoLink'); ?><br /><?php echo $this->translate->_('app_project_definition_step3NoLinkResources'); ?></li>
			        <li><?php echo $this->translate->_('app_project_definition_step4NoLink'); ?><br /><?php echo $this->translate->_('app_project_definition_step4NoLinkEstimates'); ?></li>				
				<?php endif; ?>
		    </ul>
		</div>
        <?php
        echo $this->definition;
        ?>
    </div>
    <b class="rbottom red"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
</div>
<!--End: container_column_middle_wide_app -->
