<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
		There was a problem with your request
    </div>
    <div class="app-form-normal">
	<div class="form-container">
			<h1><?php echo $this->errorTitle; ?></h1>	<br/>
			<p><?php echo $this->error; ?></p>
	</div>
	<div class="clear">&nbsp;</div>
	</div>
    <b class="rbottom red"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
</div>
<!--End: container_column_middle_wide_app -->
