<script type="text/javascript">
	
	var subtotal = <?php echo $this->subtotal;?>;
	
	$(document).ready(
		function(){
			$('#addfunds').blur(updateAmounts);
			$("form input:radio[@name=paymethod]").click(updateHidden);
			updateAmounts();
			updateHidden();
		}
	);
	
	
	function updateHidden(){
		$('#amount').val(getAmount($('#balance').html()));
		
		$('#paymethodhidden').val($("form input:radio[@name=paymethod]:checked").val());
		
	}
		
	
	function updateAmounts(){
		var fundsToAdd = parseInt($('#addfunds').val());
		if(!isNaN(fundsToAdd)){
			var newSub = subtotal + fundsToAdd;
			$('#subtotal').html('$'+newSub.toFixed(2));
			
			var currentBalance = getAmount($('#lessfunds').html());
				
			var newTotal = newSub - currentBalance;
						
			$('#balance').html('$'+ ((newTotal < 0)?'0':newTotal.toFixed(2)));
			
		}
		
	}
	
	function getAmount(input){
		
		var sAmount = input.substring(1);
	
		var amount = parseInt(sAmount);
		if(!isNaN(amount)){
			return amount.toFixed(2);
		}
		return 0;
	}
	
		
</script>
<div id="container_column_middle">
	<b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
  <div class="form-title">
	    <?php echo $this->translate->_('app_project_estimates_title'); ?>
	</div>
  <div class="app-form">
  	<div class="steps clearfix">
  	  <ul>
    	<li><a href="/app/project/definition" style="text-decoration: none"><?php echo $this->translate->_('app_project_step1'); ?><br /><?php echo $this->translate->_('app_project_step1Definition'); ?></a></li>
		<li><a href="/app/project/selectpanel" style="text-decoration: none"><?php echo $this->translate->_('app_project_step2'); ?><br /><?php echo $this->translate->_('app_project_step2Panel'); ?></a></li>
        <li><a href="/app/project/resources" style="text-decoration: none"><?php echo $this->translate->_('app_project_step3'); ?><br /><?php echo $this->translate->_('app_project_step3Resources'); ?></a></li>
        <li class="current-step" ><?php echo $this->translate->_('app_project_step4'); ?><br /><?php echo $this->translate->_('app_project_step4Estimates'); ?></li>
  	  </ul>
	</div> 
  	<?php echo $this->estimates; ?><!--estimates form-->
	
	<!--estimates table-->

<div id="billing-info" class="clearfix">
	<div class="bill-to">
    <div class="header">Bill to: <?php echo $this->estimate["billto"]; ?></div>
    <ul>
      <li><?php echo $this->estimate["billToName"]; ?></li>
      <li><?php echo $this->estimate["billtoAddr"]; ?></li>
      <li><?php echo $this->estimate["billtoCity"]; ?></li>
      <li><?php echo $this->estimate["billtoCountry"]; ?></li>
      <li><?php echo $this->estimate["billtoInfo"]; ?></li>
    </ul>
	</div>
	
	<div class="estimate-info">
    <div class="header">Estimate # <?php echo $this->estimate["est#"]; ?></div>
    <ul>
      <li><?php echo $this->estimate["mob"]; ?></li>
      <li><?php echo $this->estimate["mobAddr"]; ?></li>
      <li><?php echo $this->estimate["mobCity"]; ?></li>
      <li><?php echo $this->estimate["mobCountry"]; ?></li>
      <li><?php echo $this->estimate["mobInfo"]; ?></li>
    </ul>
	</div>
</div>
	
<table class="estimate-table">
	<tr>
	  <th>#</th>
	  <th>Item</th>
	  <th>Description</th>
	  <th>Quantity</th>
	  <th>Rate</th>
	  <th>Amount</th>
	  <th></th>
	</tr>
	<?php if($this->projectData->package==1): ?>
		<tr>
		    <td>1</td>
		    <td>License Fee</td>
		    <td id="desc">MOB<span class="mobred">TEST</span> Basic Project Fee</td>
		    <td id="quantity1">1</td>
		    <td id="rate1">FREE</td>
		    <td id="total1">$0</td>
		    <td></td>
	   </tr>
	   <tr>
			<td>2</td>
		    <td>Mobster Transaction</td>
		    <td>Price Per Mobster</td>
		  	<td id="quantity2">1</td>
		  	<td id="rate2">Varies with Open Bids.</td>
		   	<td id="total2">$0</td>
	   </tr>
	   <tr class="form-border-bottom">
		    <td>3</td>
		    <td>Additional Funds</td>
		    <td>Add'l funds are required before you can accept bids. Funds can be added at any time through the Account tab</td>
		    <td>&nbsp;</td>
		    <td>$<input type="text" name="addfunds" id="addfunds" value="0"/></td>
		    <td id="total3">$0</td>
	  </tr>
	   
	<?php elseif($this->projectData->package==2): ?>
		<tr>
		    <td>1</td>
		    <td>License Fee</td>
		    <td id="desc">MOB<span class="mobred">TEST</span> <?php echo $this->testType;?> Project Fee</td>
		    <td id="quantity1">1</td>
		    <td id="rate1">$<?php echo $this->configuration->m4h->premiumTestFee;?></td>
		    <td id="total1">$<?php echo $this->configuration->m4h->premiumTestFee;?></td>
	   </tr>
	   <?php if(($this->projectData['flatfee']==1)): ?> 
	  <tr>
			<td>2</td>
		    <td>Mobster Transaction</td>
		    <td>Price Per Mobster</td>
		    <td id="quantity2"><?php echo $this->projectData->maxtests;?></td>
		   	<td id="rate2">$<?php echo $this->projectData->budget;?></td>
		   	<td id="total2">$<?php echo $this->fixedfee;?></td>
	   </tr>
	   <tr>
		    <td>3</td>
		    <td>Mob4Hire Commission</td>
		    <td>Charges for Fixed Fees</td>
		    <td></td>
		    <td></td> 
		    <td id="feeTotal">$<?php echo $this->commission;?></td>
  	   </tr>
	   <?php else: ?>
		 <tr>
			<td>2</td>
		    <td>Mobster Transaction</td>
		    <td>Price Per Mobster</td>
		  	<td id="quantity2">1</td>
		  	<td id="rate2">Varies with Open Bids.</td>
		   	<td id="total2">$0</td>
	   </tr>	
	   <?php endif; ?>
	   <tr class="form-border-bottom">
		    <td>3</td>
		    <td>Additional Funds</td>
		    <td>Add'l funds are required before you can accept bids. Funds can be added at any time through the Account tab</td>
		    <td>&nbsp;</td>
		    <td>$<input type="text" name="addfunds" id="addfunds" value="0"/></td>
		    <td id="total3">$0</td>
	  </tr>
	<?php else: ?>
		<tr>
		    <td></td>
		    <td>License Fee</td>
		    <td id="desc">MOB<span class="mobred">TEST</span> Managed Services</td>
		    <td id="quantity1">1</td>
		    <td id="rate1">A quote will be provided to you</td>
		    <td id="total1"></td>
	   </tr>
	<?php endif; ?>
	
  <tr>
    <td colspan="4"><em>Thanks for your business</em></td>
    <td class="form-border-bottom">Subtotal</td>
    <td class="form-border-bottom" id="subtotal">$<?php echo $this->subtotal;?></td>
  </tr>	
	<tr>
    <td colspan="4">&nbsp;</td>
    <td class="form-border-bottom">Less: Existing funds in your Mob4hire account</td>
    <td class="form-border-bottom" id="lessfunds">$<?php echo $this->getBalance($this->currentUser->id);?></td>
  </tr>
	<tr>
    <td colspan="4">&nbsp;</td>
    <td class="form-border-bottom-thick">Estimate</td>
    <td class="form-border-bottom-thick" id="balance">$0</td>
  </tr>
</table>
	<?php echo $this->estimatesPt2; ?><!--estimates form part2-->
	
	</div> 
	<b class="rbottom red">
    <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
  </b>	
</div><!--End: container_column_middle_wide_app --> 
