<div id="container_column_middle"> 
 		<div id="ajaxtable">
		<? // For the dynamically generated table see listprojectsajax.phtml and its associated controller?>
		</div>
</div><!--End: container_column_middle_wide --> 
