<div id="container_column_middle">
<div class="red-top"></div>
	<div class="red-mid">
	<h2>Projects I'm Working On</h2> 
	<div id="project-container">
		<?php echo $this->showProjects("tester", "StartDate desc",1,5,array('showcomments' =>false,'navigation'=>'none')); ?>
	</div>
	</div>
	<div class="red-bottom"></div>
</div><!--End: container_column_middle_wide --> 
