<div id="container_column_middle">
<div class="red-top"></div>
	<div class="red-mid">
	<h2>Search Projects</h2> 
	<div id="project-container">
		<?php echo $this->showProjects("custom", "StartDate desc,Name",$this->page,$this->resultsPerPage,$this->options); ?>
	</div>
	</div>
	<div class="red-bottom"></div>
</div><!--End: container_column_middle_wide --> 
