<h2><?php echo $this->translate->_('mobile_user_register_title'); ?></h2>
<h3><?php echo $this->translate->_('mobile_user_register_title_sub'); ?></h3>
<div class="list">
<ul>
	<?php echo $this->translate->_('mobile_user_register_list'); ?>
</ul>
</div>
<br/>
<?php if (isset($this->globalPageError)) { ?>
<div class="pageerror">
<?php 
if ($this->globalPageError == 'username') 
{ 
	echo $this->translate->_('This username is already registered, please choose another one.');
} 
else if ($this->globalPageError == 'email') 
{
	echo $this->translate->_('This email address is already registered, please choose another one.'); 
} 
 ?>
</div>
<?php } ?>
<?php echo $this->registerForm; ?>