<div id="container_column_middle">
  <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>

  	 <div class="form-title clearfix">
      	<div style="float:left;">Remove Project</div>  	
 	 </div>
		
		<div class="app-form">
	     <br/>
		 <p>
		   Your draft project has been removed from the system. If you would like to add a new project click <a href="/app/project/newproject" title="Launch New Project" alt="New Project">here</a>
		   </p>
		 <br/>
		 </div>
		 
    <div class="clear">&nbsp;</div>
   	<div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 
