<?php $translate = Zend_Registry::get('Zend_Translate'); ?>

<div id="container_column_middle">
<div class="red-top"></div>
	<div class="red-mid">
	<h2><?php echo $translate->_('app_project_draft_heading'); ?></h2> 
	<div id="project-container">
		<?php echo $this->showProjects("draft", "StartDate desc",1,5,array('showcomments' =>false,'navigation'=>'none')); ?>
	</div>
	</div>
	<div class="red-bottom"></div>
</div><!--End: container_column_middle_wide --> 
