<link href="/css/dropzone.min.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/js/dropzone.min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.3.0/build/utilities/utilities.js"></script>
<script type="text/javascript">

    // Preloads the file tables (method in files/list.js
    $(document).ready(function () {
        preloadCurrentTable("uploadPlan");
        preloadCurrentTable("testOutput");
        preloadCurrentTable("genFiles");
        preloadCurrentTable("ndaFile");
        preloadCurrentTable("screenShots");
        preloadCurrentTable("documentation");

        $("[id*=divdev]").each(function (i) {
            // Get the id
            var divId = this.id.substring(3);
            preloadCurrentTable(divId);

        });

        Dropzone.autoDiscover = false;
        var uploadDrop = new Dropzone("div#uploadPlan", {
            paramName: "uploadPlan",
            url: "/ajax/index/upload/?file=uploadPlan",
            maxFilesize: 8, // MB
            maxFiles: 2,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                    $('#loading').hide();
                });

                this.on("success", function (file, message) {
                    document.getElementById('divuploadPlan').innerHTML = message;
                });

                this.on("sending", function (form) {
                    $('#divuploadPlan').prepend("<div id='loading'><img src='/images/working.gif'/></div>");
                });
            }
        });

        var testOutputDrop = new Dropzone("div#testOutput", {
            paramName: "testOutput",
            url: "/ajax/index/upload/?file=testOutput",
            maxFilesize: 8, // MB
            maxFiles: 2,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                    $('#loading').hide();
                });

                this.on("success", function (file, message) {
                    document.getElementById('divtestOutput').innerHTML = message;
                });

                this.on("sending", function (form) {
                    $('#divtestOutput').prepend("<div id='loading'><img src='/images/working.gif'/></div>");
                });
            }
        });

        var testgenFiles = new Dropzone("div#genFiles", {
            paramName: "genFiles",
            url: "/ajax/index/upload/?file=genFiles",
            maxFilesize: 8, // MB
            maxFiles: 2,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                    $('#loading').hide();
                });

                this.on("success", function (file, message) {
                    document.getElementById('divgenFiles').innerHTML = message;
                });

                this.on("sending", function (form) {
                    $('#divgenFiles').prepend("<div id='loading'><img src='/images/working.gif'/></div>");
                });
            }
        });


        var testndaFiles = new Dropzone("div#ndaFile", {
            paramName: "ndaFile",
            url: "/ajax/index/upload/?file=ndaFile",
            maxFilesize: 8, // MB
            maxFiles: 2,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                    $('#loading').hide();
                });

                this.on("success", function (file, message) {
                    document.getElementById('divndaFile').innerHTML = message;
                });

                this.on("sending", function (form) {
                    $('#divndaFile').prepend("<div id='loading'><img src='/images/working.gif'/></div>");
                });
            }
        });

        var testscreenShots = new Dropzone("div#screenShots", {
            paramName: "screenShots",
            url: "/ajax/index/upload/?file=screenShots",
            maxFilesize: 8, // MB
            maxFiles: 2,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                    $('#loading').hide();
                });

                this.on("success", function (file, message) {
                    document.getElementById('divscreenShots').innerHTML = message;
                });

                this.on("sending", function (form) {
                    $('#divscreenShots').prepend("<div id='loading'><img src='/images/working.gif'/></div>");
                });
            }
        });

        var testDocumentation = new Dropzone("div#screenShots", {
            paramName: "documentation",
            url: "/ajax/index/upload/?file=documentation",
            maxFilesize: 8, // MB
            maxFiles: 2,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                    $('#loading').hide();
                });

                this.on("success", function (file, message) {
                    document.getElementById('divdocumentation').innerHTML = message;
                });

                this.on("sending", function (form) {
                    $('#divdocumentation').prepend("<div id='loading'><img src='/images/working.gif'/></div>");
                });
            }
        });

    });

    function removeFile(fcn, filename) {

        if (confirm("This cannot be undone. Are you sure you want to delete this file?")) {

            $('#divWorkToggle' + filename).html('<img src="/images/working.gif');
            var uploadHandler = {
                success: function (o) {
                    document.getElementById('div' + fcn).innerHTML = o.responseText;
                }
            };
            YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/delete/?id=" + filename + "&fcn=" + fcn, uploadHandler);
        }
    }

    function changeVisibility(fcn, filename) {
        $('#divWorkToggle' + filename).html('<img src="/images/working.gif');
        var uploadHandler = {
            success: function (o) {
                document.getElementById('div' + fcn).innerHTML = o.responseText;
            }
        };
        YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/changevisibility/?id=" + filename + "&fcn=" + fcn, uploadHandler);
    }


</script>
<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>

    <div class="form-title">
        <?php echo $this->translate->_('app_project_resources_title'); ?>
    </div>
    <div class="app-form">
        <div class="steps clearfix">
            <ul>
                <li><a href="/app/project/definition"
                       style="text-decoration: none"><?php echo $this->translate->_('app_project_step1'); ?>
                        <br/><?php echo $this->translate->_('app_project_step1Definition'); ?></a></li>
                <li><a href="/app/project/selectpanel"
                       style="text-decoration: none"><?php echo $this->translate->_('app_project_step2'); ?>
                        <br/><?php echo $this->translate->_('app_project_step2Panel'); ?></a></li>
                <li class="current-step"><?php echo $this->translate->_('app_project_step3'); ?>
                    <br/><?php echo $this->translate->_('app_project_step3Resources'); ?></li>
                <li><a href="/app/project/estimates"
                       style="text-decoration: none"><?php echo $this->translate->_('app_project_step4'); ?>
                        <br/><?php echo $this->translate->_('app_project_step4Estimates'); ?></a></li>
            </ul>
        </div>
        <?php
        echo $this->resources;
        ?>
    </div>
    <b class="rbottom red"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
</div>
<!--End: container_column_middle_wide_app -->
