<script type="text/javascript" src="/js/contactlist/contacts.js"></script>
<link href="/css/contacts.css" media="screen" rel="stylesheet" type="text/css" />
<div  class="simple_overlay" id="contactpop" style="display:hidden"><div class="close"></div><div id="contactstable"></div></div>
<script type="text/javascript">
    $(document).ready(setInitialLists);
   
    function setInitialLists(){
		initialNetwork();
		initialHandset();
	   }
	
	function initialNetwork(){
		
		var country = $('select#country').val();
		
		// disable the networks until the countries are populated
		$('#network').attr('disabled', 'disabled');
		$('#network').parent('div').append('<div id="workingnetwork"><img src="/images/working.gif"/> Updating..Please Wait</div>');
		
		$.getJSON("/ajax/index/networkselect",{id: country}, function(j){
			var options = '';
			for (var i = 0; i < j.length; i++) {
				options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
			}
			
			$('#network').removeAttr("disabled");
			$('#workingnetwork').hide();
			
			$("#network").html(options);
			$('#network option:first').attr('selected', 'selected');
		});
		
		$.post("/ajax/index/getcountrycode/", {id: country}, function(data){
			$("#code").val(data);
		});
	}
	
	
	function initialHandset(){
		
		var manuf = $('select#vendor').val();
		
		$('#model').parent('div').append('<div id="workinghandset"><img src="/images/working.gif"/> Updating..Please Wait</div>');
		
		
		$.getJSON("/ajax/index/modelSelect",{id: manuf}, function(j){
			var options = '';
			for (var i = 0; i < j.length; i++) {
				options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
			}
			$("#model").html(options);
			$('#model option:first').attr('selected', 'selected');
			
			$('#workinghandset').hide();
			
		});
	}
	
</script>

<div id="container_column_middle">
  <b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
  <div class="form-title">
	    <?php echo $this->translate->_('app_project_selectpanel_title'); ?>
	</div>
  <div class="app-form">
  	<div class="steps clearfix">
  	  <ul>
		<li><a href="/app/project/definition" style="text-decoration: none"><?php echo $this->translate->_('app_project_step1'); ?><br /><?php echo $this->translate->_('app_project_step1Definition'); ?></a></li>
		<li class="current-step"><?php echo $this->translate->_('app_project_step2'); ?><br /><?php echo $this->translate->_('app_project_step2Panel'); ?></li>
	    <li><a href="/app/project/resources" style="text-decoration: none"><?php echo $this->translate->_('app_project_step3'); ?><br /><?php echo $this->translate->_('app_project_step3Resources'); ?></a></li>
		<li><a href="/app/project/estimates" style="text-decoration: none"><?php echo $this->translate->_('app_project_step4'); ?><br /><?php echo $this->translate->_('app_project_step4Estimates'); ?></a></li>
  	  </ul>
	</div> 
  	<?php echo $this->selectpanel; ?>
	</div> 
	<b class="rbottom red">
    <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
  </b>	
</div><!--End: container_column_middle_wide_app --> 
