<script src="/js/projects/list.js" type="text/javascript">
<script type="text/javascript">
	var resultsPerPage = 4; 
	var showComment = true; 
	var mode = "all";
	var navigation = "top";
</script>
tester
<div id="project-container">
	<?php echo $this->showProjects("all", "StartDate desc,Name",1,4,array('showcomments' =>false,'navigation'=>'top')); ?>
</div>