<style>
 .fixps p{ /* remove extra space between p tags in description */
   margin:0;
 }
 .fixtextcenter {
  margin:-7px 0 0 -7px; /* line up tops and lefts of carriers and handsets sections ie: (Any)*/
 }
</style>


<script type="text/javascript" src="/js/comments/comment.js"></script>
<script type="text/javascript" src="/js/files/list.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
		showComments("pro<?php echo $this->proj['idproject']; ?>")
		preloadTable(<?php echo $this->proj['idproject']; ?>,"uploadPlan");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"testOutput");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"ndaFile");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"screenShots");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"documentation");
	});
	
	function postComment(){     	
		var comment = tinyMCE.get('comment').getContent();
		addComment("pro<?php echo $this->proj['idproject']; ?>",comment);	
    }
</script>
<div id="container_column_middle">
  <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
  <div class="form-title clearfix">
      <div style="float:left;"><?php echo $this->translate->_('app_project_view_title'); ?></div>
      <div id="project-status"><?php echo Projects::$status[$this->proj['Status']]; ?>
	  	
	  </div>
  </div>
  <div id="project-overview" class="app-form">
    <div id="project-info" class="clearfix form-border-bottom">
      <div id="project-info-left">
      	<div id="project-title"><?php echo $this->proj['Name']; ?></div>
      	<div id="project-desc"><?php echo $this->showNewLines($this->escape($this->proj['description']));?></div>

      	<div class="submit_buttons clearfix" >
         	<?php if($this->currentUser->id != $this->proj['iddeveloper'] && ($this->projectTable->canApplyForProject($this->currentUser->id,  $this->proj['idproject']))): ?>
              <div  style="float:left" class="button" >
                <a href="/app/mobster/submitbid/idproject/<?php echo $this->proj['idproject'];?>"><span style="text-align:center;padding-top:20px;width:100px;height:20px" class="text_button_red"><?php echo $this->translate->_('form_button_apply'); ?></span></a>
              </div>
      	    <?php endif; ?>
          <div class="clear">&nbsp;</div>
          </div>
    	</div>
      
    	<div id="project-info-right">
 	      
      	 <?php 	echo $this->getProjectImage($this->proj);	?>	  
          <div id="project-username">
	<?php echo $this->formatUserLink($this->proj['username']);?>        
        </div>
        <div id="project-rating">
      	<div id="rating-title"><?php echo $this->translate->_('app_project_view_rating'); ?></div>
	<div style="margin-left:15px;"><?php echo $this->ratingBar($this->proj['iddeveloper'], $this->proj['username'] ,5,'static', '');?></div>
	
	      </div>
	  </div>
  	</div>
    
	<table>	
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_statusLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_statusHelp'); ?></p></span></td>
      </td>
      <td><?php echo Projects::$status[$this->proj['Status']]; ?></td>
    </tr>	
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_periodLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_periodHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->formatDate($this->proj['StartDate']);?> <?php echo $this->translate->_('app_project_view_periodTo'); ?> <?php echo $this->formatDate($this->proj['testenddate']);?> <br/>
      <?php echo $this->translate->_('app_project_view_periodCompletedBy'); ?> <?php echo $this->formatDate($this->proj['testenddate'], $this->proj['Duration']);?>.</td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_invitationLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_invitationHelp'); ?></p></span></td>
      </td>
      <td>	<?php echo (($this->proj['inviteonly']) ? $this->translate->_('app_project_view_Closed') : $this->translate->_('app_project_view_Open'));?><br/>
		<?php echo (($this->proj['flatfee']) ? $this->translate->_('app_project_view_Flat').$this->proj['budget']. $this->translate->_('app_project_view_Currency') : $this->translate->_('app_project_view_Bid').(($this->proj['budget'])?$this->translate->_('app_project_view_Guide').$this->proj['budget']. $this->translate->_('app_project_view_Currency'): ""));?>      
     </td>
    </tr>


    <tr class="form-border-bottom">
      <td class="label"><?php echo $this->translate->_('app_project_view_descriptionLabel'); ?></td>
      <td class="form_helptip"></td>
      </td>
      <td><div class="fixps"><?php echo $this->proj['longDesc']; ?></div></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_typeLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_typeHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->proj['testType']; ?> </td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_categoryLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_categoryHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->proj['categories']; ?> </td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_timeLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_timeHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->proj['estTime']; ?></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_dataLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_dataHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->proj['estData']; ?></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_difficultyLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_difficultyHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->proj['testClass']; ?> </td>
    </tr>
    <tr class="form-border-bottom">
      <td class="label"><?php echo $this->translate->_('app_project_view_otherLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_otherHelp'); ?></p></span></td>
      </td>
      <td><?php echo $this->proj['otherReq']; ?> </td>
    </tr>

    <tr >
      <td class="label"><?php echo $this->translate->_('app_project_view_carriersLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_carriersHelp'); ?></p></span></td>
      </td>
      <td><div class="fixtextcenter"><?php echo $this->networkTable($this->proj['idproject']);?></div></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_handsetsLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_handsetsHelp'); ?></p></span></td>
      </td>
      <td><div class="fixtextcenter"><?php echo $this->handsetTable($this->proj['idproject']);?></div></td>
    </tr>
    <tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_criteriaLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_criteriaHelp'); ?></p></span></td>
      </td>
      <td><div class="fixps"><?php echo $this->proj['region']; ?></div></td>
    </tr>
    <tr class="form-border-bottom">
      <td class="label"><?php echo $this->translate->_('app_project_view_ndaLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_ndaHelp'); ?></p></span></td>
      </td>
      <td><b><?php echo $this->proj['username']; ?>  <?php echo (($this->proj['nda'])? $this->translate->_('app_project_view_ndaDoes') : $this->translate->_('app_project_view_ndaDoesNot')); ?></b> <?php echo $this->translate->_('app_project_view_ndaDesc'); ?> 
			 <div id="divndaFile" class="fixps"></div>
	  </td>
    </tr>
    
	<!-- Files -->
	<tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_plansLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_plansHelp'); ?></p></span></td>
      </td>
	  <td><?php echo $this->translate->_('app_project_view_plansDesc'); ?>
		  <div id="divuploadPlan" class="fixps"></div>
	  </td>
    </tr>
	
	<tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_reportingLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_reportingHelp'); ?></p></span></td>
      </td>
	  <td><b><?php echo $this->translate->_('app_project_view_reportingDesc'); ?></b><br/>
		  <br/><?php echo $this->proj['instructions']; ?>
		  <div id="divtestOutput" class="fixps"></div>
	  </td>
    </tr>
	
	<tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_screenshotsLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_screenshotsHelp'); ?></p></span></td>
      </td>
	  <td>
		  <div id="divscreenShots" class="fixps"></div>
	  </td>
    </tr>
	
	<tr>
      <td class="label"><?php echo $this->translate->_('app_project_view_documentationLabel'); ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p><?php echo $this->translate->_('app_project_view_documentationHelp'); ?></p></span></td>
      </td>
	  <td><b><?php echo $this->translate->_('app_project_view_documentationDesc'); ?></b><br/>
		  <div id="divdocumentation"></div>
	  </td>
    </tr>
	  
	</table>
    <div class="submit_buttons clearfix" >
      <?php if($this->currentUser->id != $this->proj['iddeveloper'] && ($this->projectTable->canApplyForProject($this->currentUser->id,  $this->proj['idproject']))): ?>
        <div  style="float:left" class="button" >
          <a href="/app/mobster/submitbid/idproject/<?php echo $this->proj['idproject'];?>"><span style="text-align:center;padding-top:20px;width:100px;height:20px" class="text_button_red"><?php echo $this->translate->_('form_button_apply'); ?></span></a>
        </div>
      <?php endif; ?>
      <div class="clear">&nbsp;</div>
    </div>
	</div>
	<div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 
