<h2>Congratulations on completing the project! <?php echo $this->projectname; ?></h2>

<p>Your Developer has released the funds and they are now available in your account.</p>
<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>
<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email. Thanks again for participating!</p>