<h2><?php echo ($this->project['username']); ?>  needs participants for a new Mob4Hire project <i><?php echo ($this->project['Name']); ?></i></h2>

<?php if (isset($this->project['invitemessage']) && $this->project['invitemessage'] != ''): ?>
<p> Additional Comments from the Developer:</p>
<p><?php echo $this->project['invitemessage']; ?></p>
<?php endif; ?>

<p>You can view the project from your Mob4Hire account or by clicking on this <a href="<?php echo $this->url ?>/app/project/view/idproject/<?php echo ($this->project['idproject']); ?>">link</a> to see if you are interested and qualify.</p>

<p>If you have any questions or comments, please contact support@mob4hire.</p>

<p>To ensure you receive project mail, please ensure e-mail from 'no-reply' isn't directed to a spam filter.</p>