<h2>Congratulations! Your project has been accepted and is under review.</h2>

<p>We will endeavour to have your project active with the next 24 hours.</p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>


