<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<?php
	echo $this->jQuery();
?>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css_app.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>
<?php
	//echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>

</head>
<body>
	<div id="container_site">
	<?php echo $this->render('app_header.phtml'); ?>
   
	<div id="container_content">
	<div id="crutch">&nbsp;</div>
		<div id="container_column_left">
		  <?php 
        echo 
          $this->partial('/partial/sidemenu.phtml', 
					  array(
							'title'=>'Admin Dashboard', 
							'currentPage'=>$this->currentPage,
							'menuitems'=>array(
									array(
										'id'=>'adminPage', 
										'text'=>"Admin Page", 
										'path'=>'/admin/index', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'projectlinks', 
										'text'=>'Project List', 
										'path'=>'/admin/project/listprojects', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'stats', 
										'text'=>"Stats Page", 
										'path'=>'/admin/stats', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'management', 
										'text'=>"Management Page", 
										'path'=>'/admin/community', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'payment', 
										'text'=>"Accounts Adjustment Page", 
										'path'=>'/admin/community/payment', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'account-details', 
										'text'=>"User Account Transactions", 
										'path'=>'/admin/community/account-details', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'survey-index', 
										'text'=>"Survey Admin Page", 
										'path'=>'/admin/survey/index', 
										'nestedmenus'=>''
									),
									array(
											'id'=>'sms-index',
											'text'=>"SMSLab Admin Page",
											'path'=>'/admin/sms/index',
											'nestedmenus'=>''
									)											 
								)
							)
					); 
			?>
  			
		</div>
			  <div id="container_column_middle_wide">
		<?php echo $this->layout()->content ?>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
  </div><!--End: container_site-->
<?php echo $this->render('footer.phtml'); ?>
</body>
</html>