<?php
$translate = Zend_Registry::get('Zend_Translate');
?>

	<div id="container_header" class="clearfix">
  			<div id="logo"><a href="http://www.mob4hire.com"><span>Mob4Hire</span></a></div>
        <div id="language_toggle_right">
            <a href="/index?lang=en"><span class="flag flag-icon flag-icon-us"></span></a>
            <a href="/index?lang=zh_TW"><span class="flag flag-icon flag-icon-cn"></span></a>
        </div>
        <div id="container_login_register" class="clearfix">
      		<?php if (!$this->currentUser):?>
		<!-- this is where i will add 2 text boxes
		what would richard do add a headerAction in a controller or write php directly here?
		No PHP required. Simply a form whose action is the existing UserController
		-->
        	<?php echo $this->loginForm;?>
<!--       			<div id="login_button"><a href="/user/login"><span>Login Form</span></a></div> -->
      		<?php else:?>

                <table class="header_user">
                    <tr>

                        <td>
                            <div id="logged_in_username"
                                 class="welcome_back"><?php echo $translate->_('layouts_header_welcome'); ?><br/>
                                <a href="/app"><?php echo $this->currentUser->username; ?></a><br/>
                                <a href="/app/index/account-details"><?php echo $translate->_('layouts_header_balance'); ?>
                                    $<?php echo $this->getBalance($this->currentUser->id); ?></a>
                                <a href="/app/profile/rating"><?php echo $this->ratingBar('', $this->currentUser->username, 5, 'static', ''); ?></a>
                            </div>
                        </td>
                        <td class="header_controls">
                            <div style="text-decoration:none;height: 23px"><a href='/index/logout'><span class="text_button"><?php echo $translate->_('layouts_header_logout_button'); ?></span></a>
                            </div>
                            <!-- <div id="home_button"><a href="/"><span>Home</span></a></div> -->
                            <div style="text-decoration:none;height: 23px"></div><!--a href="/app"><span class="text_button"><?php //echo $this->translate->_('layouts_header_dashboard_button'); ?></span></a-->

                        </td>
                    </tr>
                </table>
			    <?php // echo $this->partial("partial/_search.phtml",'app');?>
      		<?php endif;?>
        </div>
      </div><!--End: container_header-->
        <!--Main Top Navigation Menu Goes Here-->
        <div id="container_top_nav">
            <ul>
              <li>
                  <a href="/app"  style="text-decoration:none;padding-top:9px"><span style="display:block" class="text_button_nav"><?php echo $translate->_('layouts_header_nav_dashboard'); ?></span></a>
              </li>
          	  <li>
                	<a href="/app/project/compatible" style="text-decoration:none;padding-top:9px"><span style="display:block" class="text_button_nav"><?php echo $translate->_('layouts_header_nav_projects'); ?></span></a>
              </li>
          	  <li>
                	<a href="/app/inbox/"  style="text-decoration:none;padding-top:9px"><span style="display:block" class="text_button_nav"><?php echo $translate->_('layouts_header_nav_inbox'); ?></span></a>
              </li>
             <!-- <li id="nav_groups">
                	<a href="/app/group/"><span>Groups</span></a>
              </li>
              
              
          		<li id="nav_my_tests">
                	<a href='/app/index/'><span>My Tests And Surveys</span></a>
			</li>-->
            	<!--<li id="nav_my_surveys">
              	<a href='/app/developer/'><span>My Surveys</span></a>
            	</li>
          		<li id="nav_account">
                	<a href="/app/index/account-details"><span>Account</span></a>
               	</li>-->
          		<li>
                	<a href="/app/profile"  style="text-decoration:none;padding-top:9px"><span style="display:block" class="text_button_nav"><?php echo $translate->_('layouts_header_nav_profile'); ?></span></a>
               	</li>
          		<li>
                	<a href="/app/help"  style="text-decoration:none;padding-top:9px"><span style="display:block" class="text_button_nav"><?php echo $translate->_('layouts_header_nav_help'); ?></span></a>
              </li>
            </ul><!--End: main_top_nav-->

        </div>
       	<br class="clear" />
