<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css_app.phtml'); ?>	
<?php // application.js screws up the new file picker for the group image on the add page?>
<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
<script type="text/javascript" src="/js/jquery/js/jquery-ui-1.7.2.custom.min.js"></script>
<script src="/js/addons/jquery.filestyle.js" type="text/javascript"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.3.0/build/utilities/utilities.js"></script>
<script type="text/javascript" language="javascript" src="/js/wall/wall.js"></script>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-291346-21");
	pageTracker._trackPageview();
} catch(err) {}
</script>

<!-- begin olark code -->  
<script type='text/javascript'>/*<![CDATA[*/ (function(d,u,o){window.olark={__k:o};var h=d.location.protocol=='https:'?'https://':'http://'; d.write(unescape("%3Cscript src='"+h+u+"' type='text/javascript'%3E%3C/script%3E")); })(document,'static.olark.com/javascript/olark.js', '1681-980-10-6578'); /*]]>*/</script>
 <!-- end olark code -->

<?php
	echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>

</head>
<body>
	<div id="container_site">
	<?php echo $this->render('app_header.phtml'); ?>
   
	<div id="container_content">
	  <div id="crutch">&nbsp;</div>
		<div id="container_column_left">
		<?php 
      echo 
        $this->partial('/partial/sidemenu.phtml', 
				  array(
						'title'=>'Groups', 
						'currentPage'=>$this->currentPage,
						'menuitems'=>array(
								array(
									'id'=>'index', 
									'text'=>"All Groups", 
									'path'=>'/app/group/index', 
									'nestedmenus'=>''
								),	
				  				array(
									'id'=>'self', 
									'text'=>'My Groups', 
									'path'=>'/app/group/self', 
									'nestedmenus'=>''
								),
								array(
									'id'=>'add', 
									'text'=>"Create New Group", 
									'path'=>'/app/group/add', 
									'nestedmenus'=>''
								)
							)
						)
				); 
		?>
			
		</div>
	  <div id="container_column_middle_wide">
		<?php echo $this->layout()->content ?>
		</div>
	</div>
  </div><!--End: container_site-->
	<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>