<!-- JQuery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/js/jquery/js/jquery-ui-1.7.2.custom.min.js"></script>
<script src="/js/addons/jquery.filestyle.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="/js/application.js"></script>
<script type="text/javascript" src="/js/yahoo/utilities.js"></script>
<script type="text/javascript" language="javascript" src="/js/wall/wall.js"></script>
<?php 
//<script type="text/javascript" language="javascript" src="/js/main.min.js"></script>
?>
<!--script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-291346-21");
	pageTracker._trackPageview();
} catch(err) {}
</script-->


