<?php 
//<link href="http://static.mob4hire.com/css/rating.css" media="screen" rel="stylesheet" type="text/css" />
//<link href="http://static.mob4hire.com/css/app/master.css" media="screen" rel="stylesheet" type="text/css" />
//<link href="http://static.mob4hire.com/css/app/webapp.css" media="screen" rel="stylesheet" type="text/css" />
//<link href="http://static.mob4hire.com/css/app/style.css" media="screen" rel="stylesheet" type="text/css" />
//<link href="http://static.mob4hire.com/css/item.css" media="screen" rel="stylesheet" type="text/css" />
//<link href="http://static.mob4hire.com/css/app/wall.css" media="screen" rel="stylesheet" type="text/css" />
//@import url('http://static.mob4hire.com/css/app/layout.css?version=2010-10-01-1651');
//@import url('http://static.mob4hire.com/css/app/navigation.css?version=2010-10-01-1651');
//@import url('http://static.mob4hire.com/css/forms.css?version=2010-10-01-1651');
//@import url(http://static.mob4hire.com/css/styles.css);
//<!-- RSS -->
//<link href="/rss" type="application/rss+xml" rel="alternate" title="Mob4Hire Project RSS Feed" />

?>
<link href="/css/app.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/supplement.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/flags/flag-icon.css" media="screen" rel="stylesheet" type="text/css" />
