<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<?php echo $this->headTitle();?>
<link rel="shortcut icon" href="/favicon.ico" />
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<?php echo $this->headMeta();?>