<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css_app.phtml'); ?>	
<?php echo $this->render('head_scripts.phtml'); ?>

<?php
	echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>

</head>
<body>
	<div id="container_site">
	<?php echo $this->render('app_header.phtml'); ?>
   
	<div id="container_content">
	  <div id="crutch">&nbsp;</div>
		<div id="container_column_left">
		<?php 
      echo 
        $this->partial('/partial/sidemenu.phtml', 
				  array(
						'title'=>$this->translate->_('layouts_inbox_menu_title'),
						'currentPage'=>$this->currentPage,
						'menuitems'=>array(
								array(
									'id'=>'index', 
									'text'=>$this->translate->_('layouts_inbox_menu_all'),
									'path'=>'/app/inbox/index', 
									'nestedmenus'=>''
								),	
				  				array(
									'id'=>'unread', 
									'text'=>$this->translate->_('layouts_inbox_menu_unread').'<span class="unread-count">('.$this->unread.')</span>',
									'path'=>'/app/inbox/new', 
									'nestedmenus'=>''
								),
								array(
									'id'=>'private', 
									'text'=>$this->translate->_('layouts_inbox_menu_private'),
									'path'=>'/app/inbox/private', 
									'nestedmenus'=>''
								)
							)
						)
				); 
		?>
		<?php 
      echo 
        $this->partial('/partial/sidemenu.phtml', 
				  array(
						'title'=>$this->translate->_('layouts_inbox_menu_contacts_title'),
						'currentPage'=>$this->currentPage,
						'menuitems'=>array(
								array(
									'id'=>'manage', 
									'text'=>$this->translate->_('layouts_inbox_menu_contacts_manage'),
									'path'=>'/app/contacts/manage', 
									'nestedmenus'=>''
								)
							)
						)
				); 
		?>
		
			
		</div>
	  <div id="container_column_middle_wide">
		<?php echo $this->layout()->content ?>
		</div>
	</div>
  </div><!--End: container_site-->
	<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>