<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
<!--script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-291346-21");
	pageTracker._trackPageview();
} catch(err) {}
</script-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Mob4Hire</title>
	<link rel="stylesheet" href="/css/mobile/mobile_app.css" />
	<link rel="stylesheet" href="/css/mobile/item_compact.css" />
	<link rel="stylesheet" href="/css/rating.css" />
	<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="/css/jqm/jqm-m4h.min.css" />
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/js/mobile/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script>
        function showError(msg){
            noty({
                text: msg,
                layout: 'top',
                theme:'relax',
                closeWith: ['click', 'hover'],
                type: 'error',
                timeout:2500
            });
        }

        function showMessage(msg){
            noty({
                text: msg,
                layout: 'center',
                theme:'relax',
                closeWith: ['click', 'hover'],
                type: 'success',
                timeout:2500
            });
        }

    </script>
	<?php
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
	?>	
</head>
<body>
<div data-role="page" data-theme="a">
	<div data-role="header" style="padding-top:4px" >
		<h1><img width="120" height="13" src="/images/mobile/logo.png" alt="Mob4Hire"/></h1>
	<?php if($this->currentUser):?>
		<a href="/mobile/user/logout"  rel="external" ><?php echo $this->translate->_('layouts_mobile_logout'); ?></a>
		<a href="/mobile/app" class="ui-btn-right" rel="external" ><img src="/images/mobile/home.png" alt="Home"/></a>
		<div data-role="navbar" data-theme="a">
			<ul>
				<li><a href="/mobile/project" rel="external"><?php echo $this->translate->_('layouts_mobile_menu_projects'); ?></a></li>
				<!--<li><a href="/mobile/group" rel="external"><?php echo $this->translate->_('layouts_mobile_groups'); ?></a></li>-->
				<li><a href="/mobile/profile" rel="external"><?php echo $this->translate->_('layouts_mobile_menu_profile'); ?></a></li>
				<li><a href="/mobile/wall" rel="external"><?php echo $this->translate->_('layouts_mobile_menu_inbox'); ?> <?php if(($msgCount=$this->getUnreadMessages($this->currentUser->id))>0)echo "(".$msgCount.")";?> </a></li>
			</ul>
		</div>
		<?php echo $this->submenu ?>
	<?php endif;?>
	

	</div>
 	<div data-role="content" class="main">
		<?php echo $this->layout()->content ?>
	</div>
 	<div class="footer"  >
  		(c) <?php echo date('Y');?> Mob4Hire Inc.  <a rel="external" href="/index/index/fullsite"><?php echo $this->translate->_('layouts_mobile_footer_full_site'); ?></a> | <a href="/mobile/index/terms"><?php echo $this->translate->_('layouts_mobile_footer_terms'); ?></a>
	</div>
</div>
</body>
</html>