<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-291346-21");
	pageTracker._trackPageview();
} catch(err) {}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Mob4Hire</title>
	<link rel="stylesheet" href="/css/mobile/mobile_app.css" />
	<link rel="stylesheet" href="/css/mobile/item_compact.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.css" />
	<link rel="stylesheet" href="/css/jqm/jqm-m4htheme.css" />
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.js"></script>
	
	<?php
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
	?>	
</head>
<body>
<div data-role="page" data-theme="m">
 	<div data-role="content" class="main">
		<?php echo $this->layout()->content ?>
	</div>
</div>
</body>
</html>