<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php
	echo $this->jQuery();
?>
	
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css_app.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>

<?php
	//echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>



</head>

<body>
	<div id="container_site">
	<?php echo $this->render('app_header.phtml'); ?>
   
	<div id="container_content">
	  <div id="crutch">&nbsp;</div>
		<div id="container_column_left">
		  <?php 
		  $translate = Zend_Registry::get('Zend_Translate');
			echo $this->partial('/partial/sidemenu.phtml', 
					  array(
							'title'=>$translate->_('application_layouts_mobster_title'), 
							'currentPage'=>$this->currentPage,
							'menuitems'=>array(
									array(
										'text'=>$translate->_('application_layouts_mobster_canApply'), 
										'id'=>'compatible', 
										'path'=>'/app/project/compatible', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'mobster', 
										'text'=>$translate->_('application_layouts_mobster_workingOn'), 
										'path'=>'/app/mobster', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'all',
										'text'=>$translate->_('application_layouts_mobster_allProjects'), 
										'path'=>'/app/project/all', 
										'nestedmenus'=>''
									) 
								)
							)
					); 
			?>
 		<?php 
			echo $this->partial('/partial/sidemenu.phtml', 
					  array(
							'title'=>$translate->_('application_layouts_mobster_developerTitle'), 
							'currentPage'=>$this->currentPage,
							'menuitems'=>array(
									array(
										'id'=>'developer',
										'text'=>$translate->_('application_layouts_mobster_managing'), 
										'path'=>'/app/developer', 
										'nestedmenus'=>''
									) ,
									array(
										'id'=>'draft', 
										'text'=>$translate->_('application_layouts_mobster_draft'), 
										'path'=>'/app/project/draft', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'mobtest', 
										'text'=>$translate->_('application_layouts_mobster_newProject'), 
										'path'=>'/app/project/newproject', 
										'nestedmenus'=>''
									)/*,
									array(
										'id'=>'mobsurvey', 
										'text'=>"Create A New MobSurvey", 
										'path'=>'/app/survey/definition', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'mobaccelerator', 
										'text'=>"Create A MobAccelerator Project", 
										'path'=>'/app/accelerator/definition', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'mobexperience', 
										'text'=>"Create A MobExperience Project", 
										'path'=>'/app/experience/definition', 
										'nestedmenus'=>''
									)*/
								)
							)
					); 
			?>
  			
		</div>
			  <div id="container_column_middle_wide">
		<?php echo $this->layout()->content ?>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
  </div><!--End: container_site-->
  <?php echo $this->render('footer.phtml'); ?>
</body>
</html>