<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" /> 
<!--	<link rel="stylesheet" href="/css/mobile_app.css" /> -->

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<link rel="stylesheet" href="/css/jqm.css"/>
	
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>

	<title>Mob4Hire</title>
</head>

<body>
	<div data-role="page">
		<div data-role="header">
			<h1><?php echo $this->header; ?></h1>
		</div>
		<div data-role="content">
			<?php echo $this->layout()->content ?>
		</div>
		<div data-role="footer">
			<h4>(c) 2010 Mob4Hire Inc</h4>
		</div>
	</div>

</body>

</html>
