<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

	<link type="text/css" rel="stylesheet" media="screen" href="/js/jQTouch/jqtouch/jqtouch.css">
	<link type="text/css" rel="stylesheet" media="screen" href="/js/jQTouch/themes/jqt/theme.css">
	<link type="text/css" rel="stylesheet" media="screen" href="/css/iphone.css">

	<script type="text/javascript" src="/js/jQTouch/jqtouch/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/js/jQTouch/jqtouch/jqtouch.js"></script>
	<script type="text/javascript" src="/js/touchsurvey.js"></script>
	
	<title>Mob4Hire</title>
</head>

<body id="jqt">
	  <?php echo $this->layout()->content ?>
</body>

</html>