<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>

<?php
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>

</head>

<body>
	<div id="container_site">
		<?php echo $this->render('header.phtml'); ?>
		<div id="container_content">
			<div id="container_column_left">            	
 
            </div>
			<div id="container_column_right">
				<?php echo $this->rightColumnImage();?>
			</div>
			<?php echo $this->layout()->content ?>
		</div>
	</div><!--End: container_site-->  
		<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>