        	<div id="container_column_single">
				<h2>Privacy Statement for Mob4Hire.com</h2>
				<p>Mob4Hire.com has created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses the information gathering and dissemination practices for this Web site: Mob4Hire.com.</p>
				<p>For each visitor to Mob4Hire.com web site, our web server automatically recognizes only the consumer's domain name, but not the e-mail address. Mob4Hire.com collects only the domain name, but not the e-mail address of visitors to our web site, aggregate information on what pages consumers access or visit, information volunteered by the consumer, such as survey information and/or site registrations. The information we collect is used to improve the content of our web site, used to notify consumers about updates to our web site, not shared with other organizations for commercial purposes.</p>
				<p>When you participate on the Mob4Hire.com web site, we request certain information. Mob4Hire.com does not share any of your personally identifiable or transactional information with any person or entity. No other third party receives your personally identifiable information or other transactional data except for those with whom you have transactions.</p>
				<p>If you supply Mob4Hire.com with your postal address on-line you will only receive the information for which you provided us your address. Persons who supply us with their telephone numbers on-line will only receive telephone contact from us with information regarding orders they have placed on-line.</p>
				<p>Personally Identifiable Information-When visiting Mob4Hire.com's or any Client's Web site and signing up for or using Mob4Hire.com services through any Service Page, you may choose to supply Mob4Hire.com with information that identifies users personally. For End-Users (Suppliers of Service), this information may include name and contact information, gender, birth date, occupation and industry, shipping and billing information, credit card numbers and other payment information, behavior patterns, purchase history, and other information.</p>
				<p>From time to time, Mob4Hire.com may use customer information for new, innovative and unanticipated uses not previously disclosed or described in our privacy notice. If our information practices change at some time in the future we will post the policy changes to the Mob4Hire.com web site to notify you of these changes and provide you with the ability to opt out of these new uses or changes. If you are concerned about how your information is used, you should check back at our web site periodically.</p>
				<p>Customers may prevent their information from being used for purposes other than those for which it was originally collected by contacting us here. Upon request we provide site visitors with access to all information [including proprietary information] that we maintain about them.</p>
				<p>Aggregate Information--Mob4Hire.com collects non-identifying, general, generic and aggregate information to better design our Web site and services, and shares the aggregate data with advertisers and other third parties. With respect to security: Mob4Hire.com uses industry-standard encryption technologies when transferring and receiving consumer and transaction data exchanged with our site.</p>
				<h3>Contacting the Web Site</h3>
				<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, please contact us.</p>             
            </div>
