<?php if ($this->deviceAdded) : ?>
	<script>
		showMessage(<?php echo $this->translate->_('mobile_app_index_new_device_added'); ?>);
	</script>
<?php endif; ?>

<div id="projects-testing">
	<?php if ($this->hasTests):?>
	<h2><?php echo $this->translate->_('mobile_app_index_projectsWorking'); ?></h2>
	<?php echo $this->showProjects("tester", "StartDate desc",1,0,array('showcomments' =>false,'navigation'=>'none','layout'=>'compact')); ?>
	<?php endif;?>
</div><!--END projects testing -->
		
<!-- Not testing or developing -->
<div id="projects-none">
	<?php if ( !$this->hasTests):?>
		<h2><?php echo $this->translate->_('mobile_app_index_projectsTesting'); ?></h2>
		<?php echo $this->showProjects("compatible", "StartDate desc",1,0,array('showcomments' =>false,'navigation'=>'none','layout'=>'compact')); ?>
		<?php endif;?>
</div><!--END projects testing -->