<?php if($this->mouse==2):?>
<h3><a href="/admin/project/view/idproject/<?php echo $this->idproject;?>">BACK</a></h3>
<br/>
<h1>Email Verification Page.  Still needs to be finished</h1>
<p>Do you want to send out <?php echo count($this->users);?> emails?<br/></p>

<form name="VerifyEmails" action="/admin/project/confirmemails" method="POST" >
<input type="hidden" name="confirmed" value="1"/>
<input type="hidden" name="projectID" value=<?php echo $this->idproject;?> />
<input type="submit" value="Send Emails" />
</form>
<?php endif;?>
<?php if($this->mouse==1):?>
<h1>Emails Sent</h1>
<h3><a href="/admin/project/view/idproject/<?php echo $this->idproject;?>">BACK</a></h3>
<?php endif;?>
