<script type="text/javascript" src="http://yui.yahooapis.com/2.3.0/build/utilities/utilities.js"></script>

<script type="text/javascript" src="/js/files/list.js"></script>
<script type="text/javascript">
    
	
	$(document).ready(function(){
		//showComments("pro<?php echo $this->proj['idproject']; ?>");
		loadFiles();
	
		// Show network table
		postObject= new Object; // make sure that the table shows on page load
		postObject.id = <?php echo $this->proj['idproject']; ?>;
		$.post("/ajax/index/addnetworksprojectajax/", postObject, function(data){
				$("#networktable").html(data);
		});
		
		
		postObject= new Object; // make sure that the table shows on page load
		postObject.id = <?php echo $this->proj['idproject']; ?>;
		$.post("/ajax/index/addhandsetsprojectajax/", postObject, function(data){
			$("#handsettable").html(data);
		});
	});	
	
	function loadFiles(){
		
		preloadTable(<?php echo $this->proj['idproject']; ?>,"uploadPlan");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"testOutput");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"genFiles");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"ndaFile");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"screenShots");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"documentation");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"projImg");
		
		$("[id*=divdev]").each(function (i){
			// Get the id
			var divId = this.id.substring(3);
			preloadTable(<?php echo $this->proj['idproject']; ?>,divId);
			
		});
		
	}
	
	// Load the file menus on start up 
    	function buttonClick(element) {
     		var allowedfiletypes=new Object;
    		allowedfiletypes['uploadPlan']=".pdf,.doc,.xls,docx,xlsx,.txt";
    		allowedfiletypes['testOutput']=".pdf,.doc,.xls,docx,xlsx,.txt";
    		allowedfiletypes['genFiles']=".jar,.jad,.sis,.apk,.cab,.zip,.rar"; //todo: Work out what should be allowed here 
    		allowedfiletypes['ndaFile']=".pdf,.doc,.xls,.docx,.xlsx,.txt";
			allowedfiletypes['projImg']=".gif,.jpg,.jpeg,.png";
    		allowedfiletypes['screenShots']=".gif,.jpg,.jpeg,.png";
    		allowedfiletypes['documentation']=".pdf,.doc,.xls,.docx,.xlsx,.txt";
    		allowedfiletypes['dev']=".jar,.jad,.sis,.apk,.cab,.zip,.rar"; //todo: Work out what should be allowed here 
    	
    		// infer the name of the file control based on the name of the button that we clicked
    		filecontrolname=element.name.substring(3);
    		// check if this is an allowed value for file control
    		if ((filecontrolname.substring(0,3)!='dev')&&(allowedfiletypes[filecontrolname]==undefined)) {
    				document.getElementById('div'+filecontrolname).innerHTML="unknown file control id";
    		}
    		else {
    			// get the file control
    			filecontrol=document.getElementById(filecontrolname);
    			// and the filename from it
    			filename = filecontrol.value;
    			strpos=filename.lastIndexOf(".");
    			extension = filename.substr(strpos).toLowerCase();
    			if(filecontrolname.substring(0,3)=='dev') { // check for specific handset upload
    				allowedextensions=allowedfiletypes['dev'];
    			}
    			else {
    				allowedextensions=allowedfiletypes[filecontrolname];
    			}
    			
    			if (!allowedextensions.match(extension)) {
    				$('#div'+filecontrolname).prepend("<div id='divError'><img src='/images/icons/form_error.png'/> filetype "+extension+" not allowed. Only files of type "+allowedextensions+" are allowed</div>");
					setTimeout(function(){ $('#divError').fadeOut('slow'); }, 2000);

    			}
    			else {		
    				//the second argument of setForm is crucial,
    				//which tells Connection Manager this is a file upload form
    				YAHOO.util.Connect.setForm(element.form, true);
    	
    				var uploadHandler = {
    					upload: function(o) {
    						document.getElementById('div'+filecontrolname).innerHTML = o.responseText;
    						filecontrol.value=""; // reset the file control
    						}
    					};
										
    				YAHOO.util.Connect.asyncRequest("POST", "/ajax/index/upload/?id=<?php echo $this->proj['idproject']; ?>&file="+filecontrolname , uploadHandler);
				
					$('#div'+filecontrolname).prepend("<div id='loading'><img src='/images/working.gif'/> Uploading File</div>");
    			}
    		}
      	}
    

    	function removeFile(fcn,filename){
								
				if (confirm("This cannot be undone. Are you sure you want to delete this file?")) {
				
					$('#divWorkToggle'+filename).html('<img src="/images/working.gif');
					var uploadHandler = {
						success: function(o){
							document.getElementById('div' + fcn).innerHTML = o.responseText;
							filecontrol.value = ""; // reset the file control
						}
					};
					YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/delete/?id=" + filename + "&fcn=" + fcn, uploadHandler);
				}
    	}
		
		function changeVisibility(fcn,filename){
								
				
					$('#divWorkToggle'+filename).html('<img src="/images/working.gif/>');
					var uploadHandler = {
						success: function(o){
							document.getElementById('div' + fcn).innerHTML = o.responseText;
							filecontrol.value = ""; // reset the file control
						}
					};
					YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/changevisibility/?id=" + filename + "&fcn=" + fcn, uploadHandler);
				
    	}
		
		
	

	$(function(){
		$("button#addcarrier").click(function(){
			
			// Show working if available
			$('#workingnetwork').show();
			
			postObject= new Object;
			postObject.country=$('#country').val();
			postObject.network=$('#network').val();
			postObject.id = <?php echo $this->proj['idproject']; ?>;
			$.post("/ajax/index/addnetworksprojectajax/", postObject, function(data){
				$("#networktable").html(data);
				$('#workingnetwork').hide();
			});
		
		})
	})
	
	
	function removeNetwork(countryId, networkId){
		$('#workingnetwork').show();
		
		postObject= new Object;
			postObject.country=countryId;
			postObject.network=networkId;
			postObject.id = <?php echo $this->proj['idproject']; ?>;
			$.post("/ajax/index/removenetworkproject/", postObject, function(data){
				$("#networktable").html(data);
				$('#workingnetwork').hide();
			});
		
	}
	

$(function(){
	$("button#addmodel").click(function(){

		// Show working if available
		$('#workinghandset').show();
		
		postObject= new Object;
		postObject.platform=$('#platform').val();
		postObject.vendor=$('#vendor').val();
		postObject.model=$('#model').val();
		postObject.id = <?php echo $this->proj['idproject']; ?>;
		$.post("/ajax/index/addhandsetsprojectajax/", postObject, function(data){
			$("#handsettable").html(data);
			$('#workinghandset').hide();
		});
	
	})
})


function removeHandset(platformId, vendorId, modelId){
	$('#workinghandset').show();
	
	postObject= new Object;
		postObject.platform=platformId;
		postObject.vendor=vendorId;
		postObject.model=modelId;
		postObject.id = <?php echo $this->proj['idproject']; ?>;
		$.post("/ajax/index/removehandsetproject/", postObject, function(data){
			$("#handsettable").html(data);
			$('#workinghandset').hide();
		});
	
}
	
</script>
<div id="container_column_middle">
  <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
  <div class="form-title clearfix">
      <div style="float:left;">Project Overview<?php if(isset($this->status)) echo $this->status ?>   </div>
  </div>
 
 	<div id="project-overview" class="app-form">
	 <?php if(isset($this->updatestatus)) echo $this->updatestatus ?>
	  <a href="/admin/project/approve/id/<?php echo $this->proj['idproject']; ?>">Approve</a>
   	
	 <?php $errorsMessages =$this->form->getErrors(); if(isset($errorMessages)) echo var_dump($errorMessages); ?>
	
	 <?php echo $this->form;?>

		
	<table>	
	<tr>
      <td class="label">Comments To <?php echo $this->proj['username']; ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>In addition to the information that is found on your personal profile (such as skills and experience), this message is an opportunity for you to convince the person who posted the project WHY you would be a great selection for their project.</p></span></td>
      </td>
      <td >    	
		<?php echo $this->comments;  ?>
   	 </td>
	 </tr>	 
	  
	  <tr>
      <td class="label">Comments</td>
	  	<td colspan="2">
			<div id="commentstable"></div>
	  	</td>
	  </tr>
	  
	</table>
		 
	</div>
	<div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 
