<script type="text/javascript">
	
	
	  $('div.select-all input').live('click', function(){
        var name = $(this).val();
        
        // make all other checkboxes in the range follow the leader
        var state = $(this).attr('checked');
        
        // cope with either parameter as an array or a single field
        $('input[name="'+name+'"], input[name="'+name+'[]"]').each(function(){
            $(this).attr('checked', state);		
        });
	  });
	  
	  
	  function sendEmails(){
	  	
		
		
	  }

	
	
</script>


<div id="container_column_middle"> 
	<form>
		<input style="position:relative;" id="send" type="submit" value="Send Emails" />
		<input id="idproject" type="hidden" value="<?php echo $this->project['idproject'];?>" />
	<table>
		<thead>
		<tr>
			<th><div class="select-all">
    				<label for="item_all">select all</label><input style="position:relative;" id="item_all" type="checkbox" value="emails" checked="true" />
				</div>
			</th>
			<th>Username</th>
			<th>First</th>
			<th>Last</th>
			<th>Country</th>
			<th>Email</th>
		</tr>
		</thead>
		
	<?php  foreach ($this->users as $user): ?>
	<tr>
	<td><input style="position:relative;" type="checkbox" name="emails[]" value="<?php echo $user['id'] ?>"  checked="true"></td>
    <td><?php echo $user['username']; ?></td>
    <td><?php echo $user['first_name']; ?></td>
    <td><?php echo $user['last_name']; ?></td>
	<td><?php echo $user['idcountry']; ?></td>
	<td><?php echo $user['email']; ?></td>

	</tr>
	<?php endforeach; ?>
	</table>
	</form>
</div><!--End: container_column_middle_wide --> 
