<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<?php

$projectStatus = array('0'=>'Awaiting bids',
				'100' => 'Draft',
				'50'=>'Bids invited',
				'101'=>'Under Review',
				'200'=>'Waiting for Project Bid Start Date',
				'201'=>'Waiting for Mobsters to Apply',
				'300'=>'Bidding Closed',
				'400'=>'Testing Ended',
				'401'=>'Completed',
				'499'=>'Closed',
				'500'=>'Archived',
				'501'=>'Deleted');

?>

<h1>Mob4Hire Project Listings</h1>
<form name="ProjectList" action="/admin/project/listprojects" method="post">
<input type="hidden" name="statusFlag" value=0 />
<b>Project Status: </b><select name="statusSelect">
	<option value=-1 <?php if($this->selected==-1) echo 'SELECTED';?>>All Projects</option>
	<option value=100 <?php if($this->selected==100) echo 'SELECTED';?>>Draft</option>
	<option value=101 <?php if($this->selected==101) echo 'SELECTED';?>>Under Review</option>
	<option value=200 <?php if($this->selected==200) echo 'SELECTED';?>>Waiting for Project Bid Start Date</option>
	<option value=201 <?php if($this->selected==201) echo 'SELECTED';?>>Waiting for Mobsters to Apply</option>
	<option value=300 <?php if($this->selected==300) echo 'SELECTED';?>>Bidding Closed</option>
	<option value=400 <?php if($this->selected==400) echo 'SELECTED';?>>Testing Ended</option>
	<option value=401 <?php if($this->selected==401) echo 'SELECTED';?>>Completed</option>
	<option value=500 <?php if($this->selected==500) echo 'SELECTED';?>>Archived</option>
	<option value=501 <?php if($this->selected==501) echo 'SELECTED';?>>Deleted</option>
</select>
<input type="submit" value="Get Projects" />
</form>
<table class='dynamicTable' align=center border=1>
<thead>
	<tr>
		<th>Developer</th>
		<th>Project Name</th>
		<th>Start Date</th>
		<th>Duration</th>
		<th>Status</th>
		<th>Awaiting Bids</th>
		<th>Invited</th>
		<th>Bids</th>
		<th>Rejected</th>
		<th>Accepted</th>
		<th>In Progress</th>
		<th>Test Submitted</th>
		<th>Test Rejected</th>
		<th>Paid</th>
		<th>Cancelled</th>
		
		
	</tr>
</thead>
<tbody>
<?php foreach($this->projectList as $project):?>
	<tr>
		<td><?php echo $project['Developer'];?></td>
		<td><a href="/admin/project/view/idproject/<?php echo $project['idproject'];?>"><?php echo $project['Name'];?></a></td>
		<td><?php echo $project['StartDate'];?></td>
		<td><?php echo $project['Duration'].' days';?></td>
		<td><?php echo $projectStatus[$project['Status']];?></td>
		<td><?php echo $project['Awaiting'];?></td>
		<td><?php echo $project['Invited'];?></td>
		<td><?php echo $project['Bids'];?></td>
		<td><?php echo $project['Rejected'];?></td>
		<td><?php echo $project['Accepted'];?></td>
		<td><?php echo $project['InProgress'];?></td>
		<td><?php echo $project['Submitted'];?></td>
		<td><?php echo $project['RejectReport'];?></td>
		<td><?php echo $project['Escrowed'];?></td>
		<td><?php echo $project['Cancelled'];?></td>
		
		
	</tr>

<?php endforeach;?>
</tbody>	
</table>

</body>
</html>
