<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>
<?php

$projectStatus = array('0'=>'Awaiting bids',
				'100' => 'Draft',
				'50'=>'Bids invited',
				'101'=>'Under Review',
				'200'=>'Waiting for Project Bid Start Date',
				'201'=>'Waiting for Mobsters to Apply',
				'300'=>'Bidding Closed',
				'400'=>'Testing Ended',
				'401'=>'Completed',
				'499'=>'Closed',
				'500'=>'Archived',
				'501'=>'Deleted');

?>

<h1>Mob4Hire Project Listings</h1>
<table class='dynamicTable' align=center border=1>
<thead>
	<tr>
		<th>Developer</th>
		<th>Project Name</th>
		<th>Start Date</th>
		<th>Duration</th>
		<th>Status</th>
		<th>Approve</th>
		
		
	</tr>
</thead>
<tbody>
<?php foreach($this->projectList as $project):?>
	<tr>
		<td><?php echo $project['Developer'];?></td>
		<td><a href="/admin/project/edit/id/<?php echo $project['idproject'];?>"><?php echo $project['Name'];?></a></td>
		<td><?php echo $project['StartDate'];?></td>
		<td><?php echo $project['Duration'].' days';?></td>
		<td><?php echo $projectStatus[$project['Status']];?></td>
		<td><a href="/admin/project/approve/id/<?php echo $project['idproject'];?>">Approve Project</a></td>
		
		
	</tr>

<?php endforeach;?>
</tbody>	
</table>

</body>
</html>
