
<h3><a href="/admin/project/view/idproject/<?php echo $this->idproject;?>">BACK</a></h3>
<br/>
<h1>Test Report <?php echo $this->result['idtest'];?></h1>
OS Brand: <?php echo $this->result['osbrand'];?><br/>
OS Version: <?php echo $this->result['osversion'];?><br/>
Firm Ware Version: <?php echo $this->result['firmwareversion'];?>
Number of Bugs: <?php echo $this->result['numberofbugs'];?>
<h3>Extra Feed Back</h3>
<p><?php echo $this->result['extrafeedback'];?></p>

