<div id="title">
<h1>Email tester sendProjectApprovedEmail and sendTesterInvites</h1>
</div>

<div id="parameter list">
<ul>
<li>projectid = <?php echo $this->projid; ?></li>
<li>startDate = <?php echo $this->startdate; ?></li>
<li>Now = <?php echo $this->now; ?></li>
</ul>
</div>

<div id="projectdata">
<?php
{
//echo print_r($this->projectdata);
}
?>
</div>

<div id="message">
<br /><br />
<?php echo $this->message; ?>
<br /><br />
</div>