<h2>Congratulations, your bid for project '<?php echo $this->projectname; ?>' has been accepted by the Developer!</h2>

<p>You should use a <?php echo $this->vendor. ' '.$this->model.' on the '.$this->network.' network in '.$this->country.'.';?></p>  

<p>Please do not begin work until you are notified that your funds have been placed in escrow.</p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>

<p>Thank you for joining this project and for being part of the Mob...good luck!</p>
