<h2>Recent messages posted on Mob4Hire group  <i><?php echo ($this->name); ?></i></h2>
<h3>as of <?php echo date('l, F d Y', $this->timestamp)?></h3>

<?php echo $this->showDailyDigestWall($this->iduser,$this->idgroup,6,1,100,$this->timestamp); ?>

<p>Thanks for participating in the Mob4Hire community and look forward to your input</p>

<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email. Do not reply to this email.</p>

<p>You can manage your email preferences from your Mob4Hire account by logging on and choosing Profile from the main dashboard</p>


