<h2><?php echo $this->username; ?> has submitted a test case for your project: ' <?php echo $this->projectname; ?>'.</h2>

<p>You can view the test case at: <?php echo $this->url;?>/app/developer/testresults/idtest/<?php echo $this->idtest;?></p>

<?php if (isset($this->comments) && $this->comments != ''): ?>
<p>Additional Comments from the Mobster:</p>
<p><?php echo $this->comments; ?></p>
<?php endif; ?>

<p>Click <a href="<?php echo $this->url?>/app/developer/showproject/idproject/<?php echo $this->idproject; ?>">HERE</a> to login to your account and review the bid.</p>
<p>If you have any questions or comments, please contact support@mob4hire as a forward from this email.</p>