<div class="item-pagination">
	<ul class="pagination-tab">
		<?php if ($this->hasPrevious == false):?>
			<li class="previous-off"> Previous</li>
		<?php else :?>	
			<li class="previous"><a href="javascript:void(0)" onclick="showPg('<?php echo $this->order?>',<?php echo $this->active-1;?>)"> Previous</a></li>
		<?php endif;?>
		
		<?php for($i=1;$i <= $this->pages; $i++):?>
			<li><a <?php if ($this->active == $i){ echo 'class="active"';} ?> href="javascript:void(0)" onclick="showPg('<?php echo $this->order?>',<?php echo $i?>)"><?php echo $i;?></a></li>
		<?php endfor;?>
	 	<?php if ($this->hasNext == false):?>
			<li class="next-off">Next </li>
		<?php else :?>	
			<li class="next"><a href="javascript:void(0)" onclick="showPg('<?php echo $this->order?>',<?php echo $this->active+1;?>)">Next </a></li>
		<?php endif;?>		
	</ul>
</div>




	