<div class="project">
	<div class="item">
		<div class="change-summary">
			<span class="no-change"> 			
				No more items			
			</span>
		</div>
	
		<div class="item-info">
			<span class="title">Sorry</span>
			<table class="item-summary">
				<tbody>	
					<tr>
						<?php if($this->mode == "compatible"):?>
							<td><span class="value">Not seeing any projects available? Mob4Hire matches projects to you based upon the handsets that you have registered on the system. Go <a href="/app/profile/mobster" alt="Add Mobster Profile">here to update your profile</a> 
							</span></td>
						<?php elseif($this->mode == "developer"):?>
							<td><span class="value">You are not current managing any project. To get started go <a href="/app/project/newproject" alt="Start New Project">here to start a project</a> 
							</span></td>
						<?php else:?>
							<td><span class="value">We could not find any projects to match your request. 
							</span></td>
						<?php endif;?>
					</tr>
					
				</tbody>
			</table>
			</div>
	
	</div>
</div>




	