<?php $project = $this->project;
$projectTable = new Projects(); ?>
<div class="project">
	<div class="item">
		<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $project->iddeveloper == Zend_Registry::get('defSession')->currentUser->id): ?>
		<div class="change-summary">
			<span class="no-change"> 			
				<?php $projectSummary=$projectTable->getDeveloperProjectUpdateNotices($project['idproject'],$this->lastLogin);
					echo $projectSummary['message'];?>
			
			</span>
		</div>
		<?php endif; ?>
		<div class="item-icon">
			<?php echo $this->getProjectImage($project);?>
		</div>
		<div class="item-action">
		<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $project->iddeveloper == Zend_Registry::get('defSession')->currentUser->id): ?>
			<?php  if($project['Status']==100) : ?> 
				<?php echo $this->styleButton("edit your app","/app/developer/definition/idproject/".$project['idproject'].""); ?>
				<?php elseif ($project['Status'] > 101): ?>
				<?php if ($project['Status'] == 201): // Allow developer to stop bidding?>
					<?php echo $this->styleButton("close bidding","/app/developer/closebidding/idproject/".$project['idproject'].""); ?>
				<?php endif;?> 
				<?php echo $this->styleButton("manage project","/app/developer/showproject/idproject/".$project['idproject'].""); ?>
			<?php endif;?>
		<?php elseif(isset(Zend_Registry::get('defSession')->currentUser) && isset($this->tests)):?>
			<?php echo $this->styleButton("vieweh","/app/mobster/showproject/idproject/".$project['idproject'].""); ?>
		<?php elseif(isset(Zend_Registry::get('defSession')->currentUser)): ?>
			<?php if($project->Status =="201" ): ?>
				<?php echo $this->styleButton("apply","/the-mob/view/idproject/".$project['idproject'].""); ?>
			<?php endif; ?>
			<?php echo $this->styleButton("vieweh","/the-mob/view/idproject/".$project['idproject'].""); ?>
		<?php else: ?>	
			<?php if($project->Status =="201" ): ?>
				<?php echo $this->styleButton("login to apply","/user/login"); ?>
			<?php endif; ?>
		<?php endif;?>
		</div>
		<div class="item-info">
			<span class="title"><a href="/app/project/view/idproject/<?php echo $project->idproject?>" alt="View Project"><?php echo $project->Name;?></a></span>
			<table class="item-summary">
				<tbody>	
					<tr>
						<td colspan=4><span class="footer"><?php echo $project->description;?></span></td>
					</tr>
					<tr >
						<td class="info-label">STATUS:</td>
						<td class="value status"><?php echo Projects::$status[$project['Status']];?></td>
						<td class="info-label">TYPE:</td>
						<td class="value testtype"><span class="mobblack">MOB</span><span
							class="mobred"><?php echo strtoupper($project['projecttype']);?></span></td>
					</tr>
					<tr>
						<td class="info-label">START:</td>
						<td class="value"><?php echo $this->formatDate($project['StartDate']);?></td>
						<td class="info-label">DURATION:</td>
						<td class="value"><?php echo $project['Duration'];?> Day(s)</td>
					</tr>
				</tbody>
			</table>
			</div>
	</div>
	
	<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $this->options['showcomments'] == true):?>
	<div class="change-summary" style="clear:both"><a onclick="toggleProjectWall(<?php echo $project['idproject'];?>,1)"><span class="no-change">
	Public Project Messages [+]</span></a></div>
	<div class="wall-container" id="wall-container-<?php echo $project['idproject'];?>" style="display:none;"></div>
	<?php endif; ?>
	
	<?php if(isset(Zend_Registry::get('defSession')->currentUser) && isset($this->tests)):?>
			
	<?php foreach($this->tests as $test): ?>
			
	<div class="item">
			<div class="change-summary">
				<span class="no-change">Your Test</span>
			</div>
			<div class="item-action">
				<?php
						switch ($test['Status']) { // buttons go here
							case 0:
								break;
							case 50:
								break;
							case 75:
								 echo $this->styleButton("bid again","/app/mobster/submitnewbid/idtest/".$test['idtest'].""); 
								break;
							case 100:
								break; 
							case 200:
								break;
							case 250:
								 echo $this->styleButton("submit results","/app/mobster/submittestresults/idtest/".$test['idtest']."");
								 echo $this->styleButton("get test plan","/app/mobster/downloadtestcase/idproject/".$test['idtest']."");			
							break;
							}//END OF SWITCH
							?> 
			</div>
		<div class="item-info">
			<table class="item-summary">
				<tbody>
						<tr>
							<td class="info-label">STATUS:</td>
							<td class="value status"><?php echo Tests::$status[$test['Status']];?></td>
							<td class="info-label">BID:</td>
							<td class="value">$<?php echo $test['bidAmount'];?></td>
						</tr>
						<tr>
							<td class="info-label">NETWORK:</td>
							<td class="value"><?php echo $test['networkName'];?></td>
							<td class="info-label">HANDSET:</td>
							<td class="value"><?php echo $test['vendor'].' '.$test['model'];?></td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
	<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $this->options['showcomments'] == true):?>
		<div class="change-summary"><a onclick="toggleProjectWall(<?php echo $test['idtest'];?>,2)"><span class="no-change">Private Message About This Test [+]</span>
		</a></div>
		<div class="wall-container" id="wall-container-<?php echo $test['idtest'];?>" style="display:none;">
		</div>
	<?php endif; ?>
<?php endforeach;?>
<?php endif;?>

</div>



	