<?php
$files = new ProjectFiles();
$translate = Zend_Registry::get('Zend_Translate');
?>
<?php if ($this->wall && count($this->wall) > 0): ?>
    <?php while ($c = $this->wall->current()): // there are posts on the wall ?>
        <?php if ($c->idparent == $c->idmessage): ?>
            <div id="wallpost-thread-<?php echo $c->idmessage; ?>" class="wall">

            <div id="loadingMsg<?php echo $c->idmessage; ?>" style="display:none"
                 class="loading-wall"><?php echo $translate->_('app_wall_posting'); ?></div>

            <div class="item" id="msg<?php echo $c->idmessage; ?>">
                <div class="change-summary">
					<span class="no-change">	
						<?php
                        $parent = $c->idparent;
                        $postType = $c['postType'];
                        ?>

                        <?php if ($c['idtest'] <> ''): ?>
                            <img
                                src="/images/icons/message_text.png" width="16" height="16" /><?php echo $translate->_('app_wall_title_privateproject'); ?><?php echo $c['projectName']; ?> <?php echo $translate->_('app_wall_posted'); ?>
                            <?php $idtarget = $c['idtest']; ?>
                        <?php elseif ($c['idproject'] <> ''): ?>
                            <img
                                src="/images/icons/message_project.png" width="16" height="16" /><?php echo $translate->_('app_wall_title_project'); ?><?php echo $c['projectName']; ?> <?php echo $translate->_('app_wall_posted'); ?>
                            <?php $idtarget = $c['idproject']; ?>
                        <?php
                        elseif ($c['idgroup'] <> ''): ?>
                            <img
                                src="/images/icons/message_project.png" width="16" height="16" /><?php echo $translate->_('app_wall_title_group'); ?> <?php echo $c['groupName']; ?> <?php echo $translate->_('app_wall_posted'); ?>
                            <?php $idtarget = $c['idgroup']; ?>
                        <?php
                        else: ?>
                            <img
                                src="/images/icons/message_private.png" width="16" height="16"/><?php echo $translate->_('app_wall_title_private'); ?>
                            <?php $idtarget = $c['idreceiver']; ?>
                        <?php endif; ?>
					</span>

                </div>

                <div class="item-action">
                    <?php if ($this->options['layout'] == "standard"): ?>
                        <?php echo $this->styleButton($translate->_('app_wall_button_reply'), 'javascript:void(0);', '_clickComment("par-' . $c['idmessage'] . '")'); ?>
                        <?php if ($this->canDeleteFromWall($c['idmessage'])): ?>
                            <?php echo $this->styleButton($translate->_('app_wall_button_remove'), 'javascript:void(0);', "_removeComment(" . $c['idmessage'] . "," . $idtarget . "," . $postType . ")"); ?>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>

                <div class="item-icon">
                    <a><img class="user-image" height="32" border="0" width="32"
                            src="<?php echo(($img_path = $c->Avatar) ? $img_path : "/images/image-not-found-black.gif"); ?>"></a>
                </div>

                <div class="item-info">
						
						<span class="link">

						<?php if ($c['idposter'] == Zend_Registry::get('defSession')->currentUser->id): ?>
                         <?php echo $translate->_('app_wall_text_you'); ?></span>
                        <?php else: ?>
                            <?php echo $this->formatUserLink($c['postername'], $this->options['layout']); ?></span>
                        <?php endif; ?>

                        <?php if ($c['idreceiver']): ?>
                            <?php echo $translate->_('app_wall_text_to'); ?> </span>
                            <span class="link">
                                   <?php if ($c['idreceiver'] == Zend_Registry::get('defSession')->currentUser->id): ?>
                                <?php echo $translate->_('app_wall_text_you'); ?>
                            </span>
                        <?php else: ?>
                            <?php echo $this->formatUserLink($c['receivername'], $this->options['layout']); ?>
                            </span>
                        <?php endif; ?>
                  <?php
                    endif; ?>
                    </span>
                    <table class="item-summary">
                        <tr>
                            <td class="value"><?php echo $this->showNewLines($c['message']); ?></td>
                        </tr>
                        <tr>
                            <td class="value footer"><?php echo $translate->_('app_wall_text_date_about'); ?> <?php echo $this->showElapsedTime($c['timestamp']); ?></td>
                        </tr>
                        <?php if ($c->hasFile): ?>
                            <tr>
                                <td class="value"><img border="0" src="/images/icons/attach.png" width="16" height="16"> <?php echo $translate->_('app_wall_text_attachments'); ?></td>
                            </tr>
                            <tr>
                                <td class="value">
                                    <div id='divwal<?php echo $c->idmessage; ?>'>
                                        <?php echo $this->partial('partial/filelayout.phtml', 'app', array('projectFiles' => $files->getFilesForProjectByCategory(0, 'wal' . $c->idmessage), 'filecontrolname' => 'wal' . $c->idmessage)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endif; ?>

                        <?php if ($this->options['layout'] == "compact"): ?>

                            <tr>
                                <td colspan="4">
                                    <div data-role="controlgroup" data-type="horizontal">
                                        <a data-inline="true" data-role="button" href="javascript:void(0);"
                                           onclick="_clickComment('par-<?php echo $c['idmessage'] ?>')"><?php echo $translate->_('app_wall_button_reply'); ?></a>
                                        <?php if ($this->canDeleteFromWall($c['idmessage'])): ?>
                                            <a data-inline="true" data-role="button" href="javascript:void(0);"
                                               onclick="_removeComment(<?php echo $c['idmessage'] ?>,<?php echo $idtarget; ?>,<?php echo $postType; ?>)"><?php echo $translate->_('app_wall_button_remove'); ?></a>
                                        <?php endif; ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endif; ?>

                    </table>

                </div>


            </div>
            <?php

            $this->wall->next();

            while (($c = $this->wall->current()) && ($c->idparent == $parent)): // iterate through all the records with this parent
                ?>

                <div id="wallpost-thread-<?php echo $c->idmessage; ?>">

                    <div class="item bordered" style="margin-left:50px">
                        <div class="item-action">
                            <?php if ($this->options['layout'] == "standard"): ?>
                                <?php if ($this->canDeleteFromWall($c['idmessage']) && $this->options['layout'] == "standard"): ?>
                                    <?php echo $this->styleButton($translate->_('app_wall_button_remove'), "javascript:_removeComment(" . $c['idmessage'] . "," . $idtarget . "," . $postType . ")"); ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>

                        <div class="item-icon">
                            <a><img class="user-image" height="32" border="0" width="32"
                                    src="<?php echo(($img_path = $c->Avatar) ? $img_path : "/images/image-not-found-black.gif"); ?>"></a>
                        </div>

                        <div class="item-info">
						
						<span class="link">
							<?php if ($c['idposter'] == Zend_Registry::get('defSession')->currentUser->id): ?>
                                <?php echo $translate->_('app_wall_text_you'); ?>
                            <?php else: ?>
                                <?php echo $this->formatUserLink($c['postername'], $this->options['layout']); ?>
                            <?php endif; ?>
						</span>
                            <span class="italic-grey"> <?php echo $translate->_('app_wall_text_replied'); ?></span>
                            <table class="item-summary">
                                <tbody>
                                <tr>
                                    <td class="value"><?php echo $this->showNewLines($c['message']); ?></td>
                                </tr>
                                <tr>
                                    <td class="value footer">
                                        <?php echo $translate->_('app_wall_text_date_about'); ?> <?php echo $this->showElapsedTime($c['timestamp']); ?></td>
                                </tr>
                                <?php if ($c->hasFile): ?>

                                    <tr>
                                        <td class="value"><img border="0" src="/images/icons/attach.png" width="16" height="16"> Attachment(s)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="value footer">
                                            <div id='divwal<?php echo $c->idmessage; ?>'>
                                                <?php echo $this->partial('partial/filelayout.phtml', array('projectFiles' => $files->getFilesForProjectByCategory(0, 'wal' . $c->idmessage), 'filecontrolname' => 'wal' . $c->idmessage)); ?>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endif; ?>

                                <?php if ($this->options['layout'] == "compact"): ?>
                                    <tr>
                                        <td colspan="4">
                                            <div data-role="controlgroup" data-type="horizontal">
                                                <?php if ($this->canDeleteFromWall($c['idmessage'])): ?>
                                                    <a data-inline="true" data-role="button" href="javascript:void(0);"
                                                       onclick="_removeComment('par-<?php echo $c['idmessage'] ?>',<?php echo $idtarget; ?>,<?php echo $postType; ?>)"><?php echo $translate->_('app_wall_button_remove'); ?></a>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                </tbody>
                            </table>


                        </div>
                    </div>

                    <?php $this->wall->next(); ?>
                </div>
            <?php endwhile; ?>

            <div id="par-<?php echo $parent; ?>" class="item" style="display: none;">

                <div class="item-action">
                    <?php if ($this->options['layout'] == "standard"): ?>
                        <?php echo $this->styleButton($translate->_('app_wall_button_comment'), 'javascript:void(0);', '_addComment("comment-' . $parent . '","' . $idtarget . '","' . $postType . '","' . $parent . '","0")'); ?>
                        <?php echo $this->styleButton($translate->_('app_wall_button_attachment'), 'javascript:void(0);', "_attachDoc(" . $idtarget . "," . $postType . "," . $parent . ")"); ?>
                    <?php endif; ?>
                </div>

                <div class="item-info">
                    <table class="item-summary">
                        <tbody>
                        <tr>
                            <td class="info-label"><?php echo $translate->_('app_wall_text_comment'); ?>:</td>
                            <td class="value"><textarea class="comment" rows="3" cols="20" width="80%"
                                                        id="comment-<?php echo $parent; ?>"></textarea></td>
                        </tr>
                        <?php if ($this->options['layout'] == "compact"): ?>

                            <tr>
                                <td colspan="4" style="text-align:right">
                                    <div data-role="controlgroup" data-type="horizontal">
                                        <a data-inline="true" data-role="button" href="javascript:void(0);"
                                           onclick="_addComment('comment-<?php echo $parent; ?>',<?php echo $idtarget; ?>,<?php echo $postType; ?>,0)"><?php echo $translate->_('app_wall_text_comment'); ?></a>
                                    </div>
                                </td>
                            </tr>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="display:none;" id="file-<?php echo $parent; ?>" class="item">

                <div class="item-info">
                    <table class="item-summary">
                        <tbody>
                        <tr>
                            <td class="info-label"><?php echo $translate->_('app_wall_text_attachments'); ?>:</td>
                            <td class="value">
                                <div class="file_input">
                                    <div id='fileinput-<?php echo $parent; ?>'>
                                        <!-- File data added here -->
                                    </div>
                                    <div id="uploadFile-<?php echo $parent; ?>" style="display:none"
                                         class="loading-wall"> <?php echo $translate->_('app_wall_text_preparing'); ?>....
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        <?php endif; ?>
        </div>
    <?php endwhile; ?>

<?php endif; ?>

  


