<?php $translate = Zend_Registry::get('Zend_Translate'); ?>
<div  class="item"  id="par-<?php echo $this->postType;?>-<?php echo $this->idtarget;?>">
				
				<div class="item-action">
					<?php if($this->options['layout'] == "standard"):?>
						<?php echo $this->styleButton($translate->_('app_wall_button_comment'),'javascript:void(0);','_addComment("maincomment-'.$this->postType.'-'.$this->idtarget.'","'.$this->idtarget.'","'.$this->postType.'","0",$("div#fileinput-'.$this->postType.'-'.$this->idtarget.' .idmessage").val());') ;?>
						<?php echo $this->styleButton($translate->_('app_wall_button_attachment'),'javascript:void(0);','_attachDoc("'.$this->idtarget.'","'.$this->postType.'","0")');?>
					<?php endif;?>
				</div>
				
				<div class="item-info" style="margin-left:10px">
						<table class="item-summary">
							<tbody>
								<tr>
									<td class="info-label"><?php echo $translate->_('app_wall_text_comment'); ?>:</td>
									<td><textarea id="maincomment-<?php echo $this->postType;?>-<?php echo $this->idtarget;?>" class="comment" rows="3" cols="20" width="80%"></textarea></td>
								</tr>
								<?php if($this->options['layout'] == "compact"):?>
								<tr><td colspan="4" style="text-align:right">	
								<div data-role="controlgroup" data-type="horizontal">
									<a data-inline="true"  data-role="button" href="javascript:void(0);" onclick="_addComment('maincomment-<?php echo $this->postType;?>-<?php echo $this->idtarget;?>',<?php echo $this->idtarget;?>,<?php echo $this->postType;?>,0)"><?php echo $translate->_('app_wall_text_comment'); ?></a>
								</div>
								</td></tr>
								<?php endif;?>
							</tbody>
						</table>	
			 	</div>		
				</div>
				
				<div style="display:none;" id="file-<?php echo $this->postType;?>-<?php echo $this->idtarget;?>" class="item">
				
					<div class="item-info">
						<table class="item-summary">
							<tbody>
								<tr>
									<td class="info-label"><?php echo $translate->_('app_wall_text_attachments'); ?></td>
									<td class="value">
									<div class="file_input">
										<div id='fileinput-<?php echo $this->postType;?>-<?php echo $this->idtarget;?>'>
										<!-- File data added here -->
										</div>
										<div id="uploadFile-<?php echo $this->postType;?>-<?php echo $this->idtarget;?>" style="display:none" class="loading-wall"> <?php echo $translate->_('app_wall_text_preparing'); ?>....</div>
									</div>
								</td>
								</tr>
							</tbody>
						</table>	
			 		</div>
					
				</div>
	

	
	
	<!-- Comment Loading Div -->
	<div id="loadingMsg0" class="loading-wall" style="display:none"> <?php echo $translate->_('app_wall_text_posting_your_message'); ?></div>