<script type="text/javascript">
	
	var subtotal = <?php echo $this->subtotal;?>;
	
	$(document).ready(
		function(){
			$('#addfunds').blur(updateAmounts);
			$("form input:radio[@name=paymethod]").click(updateHidden);
			updateAmounts();
			updateHidden();
		}
	);
	
	
	function updateHidden(){
		$('#amount').val(getAmount($('#balance').html()));
		
		$('#paymethodhidden').val($("form input:radio[@name=paymethod]:checked").val());
		
	}
		
	
	function updateAmounts(){
		var fundsToAdd = parseInt($('#addfunds').val());
		if(!isNaN(fundsToAdd)){
			var newSub = subtotal + fundsToAdd;
			$('#subtotal').html('$'+newSub.toFixed(2));
			
			var currentBalance = getAmount($('#lessfunds').html());
				
			var newTotal = newSub - currentBalance;
						
			$('#balance').html('$'+ ((newTotal < 0)?'0':newTotal));
			
		}
		
	}
	
	function getAmount(input){
		
		var sAmount = input.substring(1);
	
		var amount = parseInt(sAmount);
		if(!isNaN(amount)){
			return amount;
		}
		return 0;
	}
	
		
</script>
<div id="container_column_middle">
	<b class="rtop red">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
  <div class="form-title">
	    Manage Mobexperience Project
	</div>
  <div class="app-form">
  	<div class="steps clearfix">
  	  <ul id="experience-nav">
  	  	<?php if(Zend_Registry::get('defSession')->project && isset(Zend_Registry::get('defSession')->project->idproject)): ?>		   
		    <li ><a href="/app/experience/definition" style="text-decoration: none">Step 1<br />Definition</a></li>
			<li><a href="/app/experience/selectpanel" style="text-decoration: none">Step 2<br />Panel Selection</a></li>
        	<li><a href="/app/experience/resources" style="text-decoration: none">Step 3<br />Resources</a></li>
        	<li><a href="/app/experience/questions" style="text-decoration: none">Step 4<br />Questions</a></li>
	        <li class="current-step" >Step 4<br />Estimates</li>
        <?php else: ?>
		    <li>Step 1<br />Definition</li>
			<li>Step 2<br />Panel Selection</li>
    		<li>Step 3<br />Resources</li>
    	 	<li>Step 4<br />Questions</li>
			<li class="current-step">Step 5<br />Estimates</li>				
		<?php endif; ?>
  	  </ul>
	</div> 
  	<?php echo $this->estimates; ?><!--estimates form-->
	
	<!--estimates table-->

	<?php echo $this->estimatesPt2; ?><!--estimates form part2-->
	<div class="clear">&nbsp;</div>
	</div> 
  <div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 
