<script type="text/javascript">
//Preloads the file tables (method in files/list.js
$(document).ready(function() {
	loadQuestionList("<?php echo $this->idsurvey;?>");
});
</script>

<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
            Manage Mobexperience Project
    </div>
    <div class="app-form">
        <div class="steps clearfix">
            <ul id="experience-nav">
               		<li ><a href="/app/experience/definition" style="text-decoration: none">Step 1<br />Definition</a></li>
					<li><a href="/app/experience/selectpanel" style="text-decoration: none">Step 2<br />Panel Selection</a></li>
	        		<li><a href="/app/experience/resources" style="text-decoration: none">Step 3<br />Resources</a></li>
	        		<li class="current-step">Step 4<br />Questions</li>
			        <li><a href="/app/experience/estimates" style="text-decoration: none">Step 5<br />Estimates</a></li>
            </ul>
        </div>
		
		
        <?php
        echo $this->zForm;
        ?>
        <div class="clear">&nbsp;</div>
    </div>
    <div class="bottom-curve">&nbsp;</div>
</div>
<!--End: container_column_middle_wide_app -->
