
<table>
	<tr>
		<td><a href="javascript:void(0)" onclick="showPage(250)">In Progress</a></td>
		<td><a href="javascript:void(0)" onclick="showPage(400)">Completed</a></td>
		<td><a href="javascript:void(0)" onclick="showPage(100)">Bid not yet accepted</a></td>
		<td><a href="javascript:void(0)" onclick="showPage(200)">Awaiting escrow</a></td>
		<td><a href="javascript:void(0)" onclick="showPage(50)">Bid Invited</a></td>
		<td><a href="javascript:void(0)" onclick="showPage(75)">Bid rejected</a></td>
		<td><a href="javascript:void(0)" onclick="showPage('')">All Projects</a></td>
	</tr>
</table>

<table class="current_projects">
	<thead>
		<tr>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Name</a></th>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Type</a></th>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Id</a></th>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Date</a></th>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Duration</a></th>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Worth</a></th>
			<th scope="col"><a href="javascript:void(0)" onclick="showPage(<?php echo $this->status;?>)">Status</a></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td class="footer_nav_results" colspan="5">
			</td>
		</tr>
	</tfoot>
                    
	<tbody>
		<?php $i=0; // used to swap background colour of table row ?>
		<?php foreach($this->projectList as $project) : ?>
			<tr class="<?php echo ($i%2 ? 'row_even' : 'row_odd');?>">
				<td><?php echo $this->escape($project->Name);?></td>
				<td>Testing</td>
				<td><?php echo $this->escape($project->idtest);?></td>
				<td><?php echo date('Y-m-d', $project->Timestamp);?></td>
				<td><?php echo $this->escape($project->Duration);?> days</td>
				<td><?php echo $this->escape($project->bidAmount);?></td>
				<td><?php echo Tests::$status[$project->Status];?></td>
			</tr>
			<?php $i++;?>
		<?php endforeach; ?>
		
		</tbody>
</table> 