<script type="text/javascript">
$(document).ready(function() {
	showPage("StartDate desc", 1);
});

function showPage(orderBy, pageNumber)
{
	postObject = new Object;
	postObject.orderBy = orderBy;
	postObject.pageNumber = pageNumber;
	postObject.mode ='open';

	$.post("/the-mob/listprojectsajax/", postObject, function(data){

			$("#ajaxtable").html(data);
	});

}
</script>

<div id="container_column_middle"> 
	<div id="ajaxtable">
		<? // For the dynamically generated table see listprojectsajax.phtml and its associated controller?>
	</div>
</div><!--End: container_column_middle_wide --> 
