<script type="text/javascript" src="http://yui.yahooapis.com/2.3.0/build/utilities/utilities.js"></script>
<script type="text/javascript">

		var uploaded = 0; //determines if any file was uploaded and prevents the page from posting if not.
 	
$(document).ready(function() {
		$("[id*=divtsc]").each(function (i){
			// Get the id
			var divId = this.id.substring(3);
			preloadTable(<?php echo $this->idproject ?>,divId);
		});
		
	$('#next').click(function(event){ //trap the next step button
		if ($(':file').val()=="")
		{
			if(!uploaded)
			{
				alert('You must upload your test results before clicking the Next Step button');
				return false;
			}
		}
		else
			{
			alert('Please press the upload button to actually upload your selected file before pressing the Next Step button.');
			return false;
			}
			
		return true;
	});
	
	$('#cancel').click(function(event){ //trap the cancel button
			if(uploaded>0)
			{	
				alert('Please remove all files to cancel or click the Next Step button to submit these test results.');
				return false;
			}
	});
	
});	//end document.ready()

	// Load the file menus on start up 
	function buttonClick(element) {
			
     		var allowedfiletypes=new Object;
    		allowedfiletypes['tsc']=".pdf,.doc,.xls,.docx,.xlsx,.rtf,.txt,.zip,.rar,.jpg,.jpeg,.gif,.png";
    	
    		// infer the name of the file control based on the name of the button that we clicked
    		filecontrolname=element.name.substring(3);

    		// check if this is an allowed value for file control
    		if ((filecontrolname.substring(0,3)!='tsc')&&(allowedfiletypes[filecontrolname]==undefined)) {
    				$('#div'+filecontrolname).prepend("<div id='divError'><img src='/images/icons/form_error.png'/>Unknown Error</div>");

    		}
    		else {
    			// get the file control
    			filecontrol=document.getElementById(filecontrolname);
    			// and the filename from it
    			filename = filecontrol.value;
				
    			strpos=filename.lastIndexOf(".");
    			extension = filename.substr(strpos).toLowerCase();
    			if(filecontrolname.substring(0,3)=='tsc') { // check for specific handset upload
    				allowedextensions=allowedfiletypes['tsc'];
    			}
    			else {
    				allowedextensions=allowedfiletypes[filecontrolname];
    			}
    			
    			if (!allowedextensions.match(extension)) {
    				$('#div'+filecontrolname).prepend("<div id='divError'><img src='/images/icons/form_error.png'/> filetype "+extension+" not allowed. Only files of type "+allowedextensions+" are allowed</div>");
					setTimeout(function(){ $('#divError').fadeOut('slow'); }, 2000);

    			}
    			else {		
    				//the second argument of setForm is crucial,
    				//which tells Connection Manager this is a file upload form
    				YAHOO.util.Connect.setForm(element.form, true);
    	
    				var uploadHandler = {
    					upload: function(o) {
    						document.getElementById('div'+filecontrolname).innerHTML = o.responseText;
							filecontrol.value = "";// reset the file control
    						$('input').val('');// clear the textbox
    						$('#loading').hide();
							uploaded++;//set # of uploaded files
    						}
    					};
					$('#div'+filecontrolname).prepend("<div id='loading'><img src='/images/working.gif'/> Uploading File</div>");
						
					var url = "/ajax/index/upload/?file="+filecontrolname +"&id=<?php echo $this->idproject; ?>";
						
    				YAHOO.util.Connect.asyncRequest("GET", url  , uploadHandler);
    			}
    		}
	
	}
	
    	function removeFile(fcn,filename){
								
		if (confirm("This cannot be undone. Are you sure you want to delete this file?")) {
				
			$('#divWorkToggle'+filename).html('<img src="/images/working.gif');
			var uploadHandler = {
				success: function(o){
					document.getElementById('div' + fcn).innerHTML = o.responseText;
					filecontrol.value = ""; // reset the file control
					uploaded--;
				}
			};
			YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/delete/?id=" + filename + "&fcn=" + fcn, uploadHandler);
		}
    	}
		
</script>

<div id="container_column_middle">


<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div class="form-title">Submit Test Case</div>
<div class="app-form-normal">
	<?php if($this->complete == true): ?>

			<h2>Thank you for submitting your test case(s)</h2>
			<p>The developer now has 5 days to review your submission, after which you will be paid.</p>
			<p>If you have any questions or issues with the premium testing process, please email <a href="mailto:support@mob4hire.com">support@mob4hire.com</a></p>
			<p>Thanks from the Mob4Hire team.</p>  
			<div class="submit_buttons clearfix">
				<div class="button" id="continue">
					<a href="/app/mobster"><span>Continue</span></a>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
	
	<?php else: ?>
		<p>To submit your completed test case to the developer, please upload it below, making sure you click the upload button.</p>
		<?php echo $this->form; ?>
	<?php endif; ?>

</div>
<div class="bottom-curve">&nbsp;</div>
</div>