<div id="container_column_middle">
<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div class="form-title">
  Apply For Project
</div>
<div class="app-form-normal">
	<script type="text/javascript">
	function allowNumbersOnly(e){					
		var keynum;
		var keychar;
		var numcheck;

		if(e.keyCode) // IE
		{
			keynum = e.keyCode;
		}
		else if(e.which) // Netscape/Firefox/Opera
		{
			keynum = e.which;
		}
		if ((keynum==8)||(keynum==9)||(keynum==13)||(keynum==37)||(keynum==39)||(keynum==46))
			return true;						
		keychar = String.fromCharCode(keynum);
		numcheck = /\d/;
		return numcheck.test(keychar);
	}
	</script>

<?php if ($this->validated):?>

<form name='submitbid' method='post' action="/app/mobster/submitnewbid/idtest/<?php echo $this->test['idtest'];?>">
  <p>Estimate the time you think it will take to complete the test case for this app and submit a bid that you feel will compensate you for your time.</p>     		
    <div class="project-image">
    <?php echo $this->getProjectImage($this->project);?>
    </div>
    <div>
    <table>
      <tr>
      <td>
        <h2><?php echo $this->project['Name'];?></h2>
      </td>
      <td class="version">
        <?php echo $this->project['version'];?>
     </td>
   </tr>
   <tr>
     <td class="app-short-desc" colspan="2">
       <p><?php echo $this->project['description'];?></p>
     </td>
   </tr>
   <tr>
     <td class="app-info" colspan="2">Submitted <?php  if($this->project['timestamp']) echo $this->showTimeElapsed($this->project['timestamp']). ' ago';?>  by <span class="username"><?php echo $this->project['username'];?></span></td>
   </tr>
   <tr>
     <td class="app-info" colspan="2">Bidding ends on <?php echo $this->formatDate($this->project['testenddate']); ?></td>
   </tr>                  
  </table>
  </div>
  <div class="clear">&nbsp;</div>
  <hr />

      
      <input type="hidden" name="submit" value="submit">
      <table>
        <tr>
          <td><strong>Your Bid: $ </strong></td>
          <td><input type="text" name="bidamount" onkeypress="return allowNumbersOnly(event);"></td>
        </tr>
      </table>
      <p><strong>Comment (Optional):</strong><br />
      <textarea rows="7" cols="80" name="comments"></textarea></p>
      <div class="submit_buttons clearfix">
        <div class="button">
          <input type="submit" name="submit" id="submit" value="submit" />
        </div>
        <div class="button">
          <a href="/app/mobster" id="cancel"><span>Cancel</span></a>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </form>
  <?php elseif (isset($this->errorcode)):// unexpected error ?>
			<h2>Sorry. This project is no longer open for testing</h2>
<?php elseif (isset($this->result)): ?>
	<?php if  ($this->result > 0) : //success ?>
 		<div id="container-profile-wide">
			<div class="horizontal-container">
				<div class="column-left">
    				<h1>Thank you for submitting your bid </h1>
    				<p>It has now been sent to developer. They will either accept or decline your offer and you will be notified via message to your Mob4Hire inbox.
					To learn more about this process, please visit the <a href="/the-mob/testers-faq" target="_parent">FAQ</a>.</p>
				</div>
			</div>
    		<div id="submitbidform-container">
                         <p><a href="/app/mobster"><img src="/images/buttons/continue_red.gif" /></a></p>
 		</div>
	<?php else: // unexpected error ?>
		<h2>Sorry. This project is no longer open for testing</h2>
	<?php endif;?>
<?php endif;?>
</div>
  <div class="clear">&nbsp;</div>
  </div>
  <div class="bottom-curve">&nbsp;</div>
</div>