<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");


if (isset($_GET['idtest'])) {
	$idtest=$_GET['idtest'];
}
if (isset($_GET['z']))
	$z=$_GET['z']; // If z is set the given file is removed
else $z=-1;

if(isset(Zend_Registry::get('defSession')->gapp)) {
	if ($z!=-1) {
		array_splice(Zend_Registry::get('defSession')->gapp->submittedtestcase, $z, 1); // remove array element (should really delete the file here too)
	}
	else if(!($errormessage=((isset($_FILES['testFile']))?0:"Error uploading file"))&&($errormessage=handleUploads($_FILES['testFile'], "$_SERVER[DOCUMENT_ROOT]/uploads/testcases/".$idtest.'/',
				array('.pdf','.doc','.jpg','.txt')))===TRUE) {
		if($_FILES["testFile"]['name']!="") {
				array_push(Zend_Registry::get('defSession')->gapp->submittedtestcase, "/uploads/".$idtest.'/'.rawurlencode(str_replace(" ", "-",$_FILES["testFile"]['name'])));
		}
	}
	else
		echo $errormessage;
	
	?>
	<table>
	<?php 
	foreach(Zend_Registry::get('defSession')->gapp->submittedtestcase as $z=>$url) {
		$filename=strrchr($url, '/');
		?>
		<tr>
		<td>
		<?php echo $filename;?>
		</td>
		<td>
		<a href='javascript:void(0)' onClick='removeClick(<?php echo "$z";?>)'>remove</a>
		</td>
		</tr> 
		<?php  
	}
	?>
	</table>
	<?php 	
}



function handleUploads($filecontrol, $uploaddir, $allowedExtensions) {
	// TODO Implement mime type check as well as file extension`
	if (!file_exists($uploaddir))
		mkdir($uploaddir, 0700);

	if ($filecontrol['name']==NULL) // No file uploaded
		return TRUE; // Nothing to upload

	switch ($filecontrol['error']) {
		case UPLOAD_ERR_OK : 		// Value 0 : File uploaded successfully
			break;
		case UPLOAD_ERR_INI_SIZE: 	// Value 1 : File size exceeded php.ini value
		case UPLOAD_ERR_FORM_SIZE: 	// Value 2 : File size exceeded MAX_FILE_SIZE form value
			return "Your file exceeded the maximum size";
			break;
		case UPLOAD_ERR_PARTIAL: 	// Value 3 : File was only partially uploaded
			return "File was only partially uploaded";
			break;
		case UPLOAD_ERR_NO_FILE : 	// Value 4 : No file was uploaded
			return "No file was uploaded";
			break;
		default:
			return "an unknown error occured";
	}
	$ext = strtolower(strchr($filecontrol['name'],'.'));
	
	if (!in_array($ext, $allowedExtensions)) {
		return ("File type $ext not allowed");
	}
		
	$uploadfile = $uploaddir . rawurlencode(str_replace(" ", "-", basename($filecontrol['name'])));
	
	
	if (!move_uploaded_file($filecontrol['tmp_name'], $uploadfile)) {
    	return ("File upload failed. Please retry.");
	}
	else {
		chmod($uploadfile, 0600);
    	return TRUE;
	}
}
?>