<?php $project = $this->project;  $test = $this->test; ?>				
<?php $this->partial('partial/_project_default_status.phtml','app', array('options'=>array('showcomments' =>false,'navigation'=>'none','layout'=>'compact'),'project'=>$project,'tests'=>$test,'lastLogin'=>strtotime(Zend_Registry::get('defSession')->currentUser->last_login)) );?>
<?php // Tester on the projct 	
$tests = new Tests();
if(($this->project['iddeveloper'] == $this->currentUser->id) || $tests->isActiveTesterOnProject($this->project['idproject'], $this->currentUser->id)):?>
	<?php echo $this->partial('partial/mobilefilelayout.phtml','mobile',array('project'=>$project,'idproject'=>$project['idproject']));?>
		
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_project_view_wall'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr >
				<?php echo $this->showWall($this->project['idproject'], 1,true,1,3,0,'','',array('layout'=>'compact')); ?>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
<?php endif;?>

		