<h2><?php echo $this->translate->_('mobile_project_submitbid_title'); ?></h2>
<div class="app-form-normal">
    <?php if ($this->bidSubmitted): ?>
        <div class="form-container">
            <h1><?php echo $this->translate->_('mobile_project_submitbid_success'); ?></h1>    <br/>

            <p><?php echo $this->translate->_('mobile_project_submitbid_success_2'); ?></p>

            <div class="clear">&nbsp;</div>
        </div>

        <div class="submit_buttons clearfix">
            <div class="button" id="continue">
                <a href="/mobile/app"><span><?php echo $this->translate->_('mobile_project_submitbid_continue'); ?></span></a>
            </div>
            <div class="clear">&nbsp;</div>
        </div>

    <?php elseif (isset($this->idproject)): ?>

    <?php if ($this->currentUser->username == $this->app->devUsername): ?>
        <h1><?php echo $this->translate->_('mobile_project_submitbid_error_title'); ?></h1>
        <p><?php echo $this->translate->_('mobile_project_submitbid_error_ownApp'); ?></p>

        <div class="submit_buttons clearfix">
            <div class="button" id="continue">
                <a href="/mobile/app"><span><?php echo $this->translate->_('mobile_project_submitbid_continue'); ?></span></a>
            </div>
            <div class="clear">&nbsp;</div>
        </div>

    <?php elseif (($this->app->status != 201) || ((int)$this->app->maxTesters && $this->app->testsinprogress >= $this->app->maxTesters)): ?>
        <h1><?php echo $this->translate->_('mobile_project_submitbid_error_title'); ?></h1>
        <p><?php echo $this->translate->_('mobile_project_submitbid_error_notOpen'); ?></p>

        <div class="submit_buttons clearfix">
            <div class="button" id="continue">
                <a href="/mobile/app"><span><?php echo $this->translate->_('mobile_project_submitbid_continue'); ?></span></a>
            </div>
            <div class="clear">&nbsp;</div>
        </div>


    <?php elseif (!$this->canApply): ?>
        <h1><?php echo $this->translate->_('mobile_project_submitbid_error_title'); ?></h1>
        <p><?php echo $this->translate->_('mobile_project_submitbid_error_device'); ?></p>
        <p><?php echo $this->translate->_('mobile_project_submitbid_error_device_2'); ?></p>

        <div class="submit_buttons clearfix">
            <div class="button" id="continue">
                <a href="/mobile/app"><span><?php echo $this->translate->_('mobile_project_submitbid_continue'); ?></span></a>
            </div>
            <div class="clear">&nbsp;</div>
        </div>


    <?php else: ?>
    <form name='submitbid' method='post'
          action="/mobile/project/submitbid/idproject/<?php echo $this->app->idproject; ?>">
        <div data-role="fieldcontain">
            <input type="hidden" name="submit" value="submit">

            <?php if (isset($this->errors[0])): ?>
                <?php $errormsg = array('1' => $this->translate->_('mobile_project_submitbid_error_array_1'), '2' => $this->translate->_('mobile_project_submitbid_error_array_2') . " \$1", '3' => $this->translate->_('mobile_project_submitbid_error_array_3'), '4' => $this->translate->_('mobile_project_submitbid_error_array_4'), '5' => $this->translate->_('mobile_project_submitbid_error_array_5') . $this->errorcode); ?>
                <h1> <?php echo $this->translate->_('mobile_project_submitbid_error_array_title'); ?>:</h1>
                <?php foreach ($this->errors as $error): ?>
                    <h3 class="title_error"><img src="/images/icons/form_error.png"/> <?php echo $errormsg[$error]; ?>
                    </h3>
                <?php endforeach; ?>
                <br/>
            <?php endif; ?>
            <p>
                <?php echo $this->translate->_('mobile_project_submitbid_estimate'); ?>
            </p>


            <?php echo $this->partial('partial/_project_default_status.phtml', 'app', array('options' => array('hidebuttons' => true, 'showcomments' => false, 'navigation' => 'none', 'layout' => 'compact'), 'project' => $this->project, 'lastLogin' => strtotime(Zend_Registry::get('defSession')->currentUser->last_login))); ?>

            <div class="clear">&nbsp;</div>

            <div class="item contact">
                <div class="change-summary">
                <span class="change">
                    <?php echo $this->translate->_('mobile_project_submitbid_carrierHandsetOptions'); ?>
                </span>

                </div>

                <div class="item-info" style="margin-right:30px;margin-left:20px;">
                    <table class="item-summary">
                        <tbody>
                        <tr>
                            <td class="info-label"><?php echo $this->translate->_('mobile_project_submitbid_carrier'); ?></td>
                            <td colspan="3" style="margin-right:20px;"><select data-inline="true"
                                                                               name="supportednetworks">
                                    <?php
                                    $i = 0;
                                    foreach ($this->compatiblenetworks as $idnetwork => $text) {
                                        ?>
                                        <option <?php if ($i == 0) echo " selected "; ?>value=<?php echo $idnetwork; ?>>
                                            <?php echo $text; ?>
                                        </option>

                                        <?php
                                        $i++;
                                    }
                                    ?>
                                </select>
                        </tr>
                        <tr>
                            <td class="info-label"><?php echo $this->translate->_('mobile_project_submitbid_handset'); ?></td>
                            <td colspan="3" style="margin-right:20px;"><select data-inline="true"
                                                                               name="supportedhandsets">
                                    <?php
                                    $i = 0;
                                    foreach ($this->compatibledevices as $iddevice => $text) {
                                        ?>
                                        <option <?php if ($i == 0) echo " selected "; ?>value=<?php echo $iddevice; ?>>
                                            <?php echo $text; ?>
                                        </option>

                                        <?php
                                        $i++;
                                    }
                                    ?>
                                </select>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="clear">&nbsp;</div>

            <div class="item contact">
                <div class="change-summary">
                <span class="change">
                    <?php echo $this->translate->_('mobile_project_submitbid_bidOptions'); ?>
                </span>

                </div>

                <div class="item-info" style="margin-right:30px;margin-left:20px;">
                    <table class="item-summary">
                        <?php if ($this->app->flatfee): ?>

                            <tbody>
                            <tr>
                                <td class="info-label"
                                    colspan="4"><?php echo $this->translate->_('mobile_project_submitbid_flat_bid_instruction'); ?></td>
                            </tr>
                            <tr>
                                <td class="info-label">
                                    <strong><?php echo $this->translate->_('mobile_project_submitbid_bid'); ?>
                                        : </strong></td>
                                <td colspan="3" style="margin-right:20px;">
                                    <input name="bidAmount" type="text" onkeypress="return allowNumbersOnly(event);"
                                           maxlength="7" value="<?php if ($this->app->flatfee)
                                        echo $this->app->budget . '"' . ' disabled="true';
                                    elseif (isset($_POST['bidAmount']))
                                        echo $_POST['bidAmount'];
                                    else echo ''; ?>"/>
                                </td>

                            </tr>
                            </tbody>

                        <?php else: ?>

                            <tbody>
                            <tr>
                                <td class="info-label"
                                    colspan="4"><?php echo $this->translate->_('mobile_project_submitbid_bid_instruction'); ?></td>
                            </tr>
                            <tr>
                                <td class="info-label">
                                    <strong><?php echo $this->translate->_('mobile_project_submitbid_bid'); ?>
                                        : </strong></td>
                                <td colspan="3" style="margin-right:20px;">
                                    <input name="bidAmount" type="text" onkeypress="return allowNumbersOnly(event);"
                                           maxlength="7" value="<?php if ($this->app->flatfee)
                                        echo $this->app->budget . '"' . ' disabled="true';
                                    elseif (isset($_POST['bidAmount']))
                                        echo $_POST['bidAmount'];
                                    else echo ''; ?>"/>
                                </td>

                            </tr>
                            </tbody>

                        <?php endif; ?>

                    </table>
                </div>
            </div>

            <div class="clear">&nbsp;</div>

            <div class="item contact">

                <div class="change-summary">
                <span class="change">
                    <?php echo $this->translate->_('mobile_project_submitbid_message'); ?>
                </span>

                </div>
                <textarea name="comments" cols="70" rows="10"></textarea>
            </div>
            <br/>
            <input data-inline="true" data-theme="a" type="submit" name="submit" id="submit"
                   value="<?php echo $this->translate->_('mobile_project_submitbid_btnSubmit'); ?>""/>

        </div>
    </form>
</div>
<?php endif; ?>
<?php endif; ?>
</div>

