<?php $translate = Zend_Registry::get('Zend_Translate'); ?>
<div class="project">
	<div class="item">
		<div class="change-summary">
			<span class="no-change"> 			
				<?php echo $translate->_('app_partial_project_error_noChange'); ?>		
			</span>
		</div>
	
		<div class="item-info">
			<span class="title"><?php echo $translate->_('app_partial_project_error_sorry'); ?></span>
			<table class="item-summary">
				<tbody>	
					<tr>
						<?php if($this->mode == "compatible"):?>
							<td><span class="value"><?php echo $translate->_('app_partial_project_error_compatible1'); ?><a href="/app/profile/mobster" alt="Add Mobster Profile"><?php echo $translate->_('app_partial_project_error_compatible2'); ?></a> 
							</span></td>
						<?php elseif($this->mode == "developer"):?>
							<td><span class="value"><?php echo $translate->_('app_partial_project_error_developer1'); ?><a href="/app/project/newproject" alt="Start New Project"><?php echo $translate->_('app_partial_project_error_developer2'); ?></a> 
							</span></td>
						<?php else:?>
							<td><span class="value"><?php echo $translate->_('app_partial_project_error_noProjects'); ?>
							</span></td>
						<?php endif;?>
					</tr>
					
				</tbody>
			</table>
			</div>
	
	</div>
</div>

