<?php $project = $this->project;
$projectTable = new Projects();

$surveys = new Survey(); 
$survey = $surveys->getSurveyByProjectID($project['idproject']);
$translate = Zend_Registry::get('Zend_Translate');
?>
<div class="project">
	<div class="item">
		<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $project->iddeveloper == Zend_Registry::get('defSession')->currentUser->id): ?>
		<div class="change-summary">
			<span class="no-change"> 			
				<?php $projectSummary=$projectTable->getDeveloperProjectUpdateNotices($project['idproject'],$this->lastLogin);
					echo $projectSummary['message'];?>
			
			</span>
		</div>
		<?php endif; ?>
		<div class="item-icon">
				
		<?php echo ($this->options['layout'] == "compact")? $this->getProjectImage($project,32,32):$this->getProjectImage($project);?>
		</div>
		<div class="item-action">
		<?php if($this->options['layout'] == "standard"):?>
			<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $project->iddeveloper == Zend_Registry::get('defSession')->currentUser->id): ?>
				<?php  if($project['Status']==100) : ?> 
					<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnEdit'),"/app/project/definition/idproject/".$project['idproject'].""); ?>
					<?php elseif ($project['Status'] > 101): ?>
					<?php if ($project['Status'] == 201): // Allow developer to stop bidding?>
						<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnCloseBids'),"/app/developer/closebidding/idproject/".$project['idproject'].""); ?>
					<?php endif;?> 
					<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnManage'),"/app/developer/showproject/idproject/".$project['idproject']); ?>
				<?php endif;?>
			<?php elseif(isset(Zend_Registry::get('defSession')->currentUser) && isset($this->tests)):?>
				<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnView'),"/app/mobster/showproject/idproject/".$project['idproject'].""); ?>
			<?php elseif(isset(Zend_Registry::get('defSession')->currentUser)): ?>
				<?php if($project->Status =="201" ): ?>
					<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnApply'),"/the-mob/view/idproject/".$project['idproject'].""); ?>
				<?php endif; ?>
				<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnView'),"/the-mob/view/idproject/".$project['idproject'].""); ?>
			<?php else: ?>	
				<?php if($project->Status =="201" ): ?>
					<?php echo $this->styleButton($translate->_('app_partial_project_default_status_btnLogin'),"/user/login"); ?>
				<?php endif; ?>
			<?php endif;?>
		<?php endif;?>
		</div>
		<div class="item-info">
			<span class="title">
				<?php if($this->options['layout'] == "compact"):?>
					<a href="/mobile/project/view/id/<?php echo $project->idproject?>" alt="View Project"><?php echo $project->Name;?></a>
				<?php else:?>
					<a href="/app/project/view/idproject/<?php echo $project->idproject?>" alt="View Project"><?php echo $project->Name;?></a>
				<?php endif;?>	
			</span>
			<table class="item-summary">
				<tbody>	
					<tr>
						<td colspan=4><span class="footer"><?php echo $project->description;?></span></td>
					</tr>
					<tr >
						<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_status'); ?>:</td>

						<td class="value status"><?php echo Projects::$status[$project['Status']];?></td>
						<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_developer'); ?>:</td>
						<td class="value" style="width:150px"><?php echo $this->formatUserLink($project->username, $this->options['layout']);?></td>
					</tr>
					<tr>
						<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_type'); ?>:</td>
						<td class="value testtype" colspan="3"><span class="mobblack">MOB</span><span
							class="mobred"><?php echo strtoupper($project['projecttype']);?></span></td>
					</tr>
					<tr>
						<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_start'); ?>:</td>
						<td class="value"><?php echo $this->formatDate($project['StartDate']);?></td>
						<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_duration'); ?>:</td>
						<td class="value"><?php echo $project['Duration'];?><?php echo $translate->_('app_partial_project_default_status_days'); ?></td>
					</tr>
				<?php if($this->options['layout'] == "compact" && empty($this->options['hidebuttons']))://compact layout has actions below the table?>
					<tr>
					<td colspan="4" >	
					<div data-role="controlgroup" data-type="horizontal">
			
				<?php if(isset(Zend_Registry::get('defSession')->currentUser)): ?>
					<?php if($project->Status =="201" ): ?>
						<a href="/mobile/project/submitbid/idproject/<?php echo $project['idproject']?>" rel="external" data-inline="true" data-role="button"><?php echo $translate->_('app_partial_project_default_status_btnApply'); ?></a>
					<?php endif; ?>
						<a href="/mobile/project/view/id/<?php echo $project['idproject']?>" rel="external" data-inline="true"  data-role="button"><?php echo $translate->_('app_partial_project_default_status_btnView'); ?></a>
				<?php endif;?>
					</div>
					</td>
					</tr>
					<?php endif;?>
				</tbody>
			</table>
			
			</div>
	</div>
	
	<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $this->options['showcomments'] == true):?>
	<div class="change-summary" style="clear:both"><a onclick="toggleProjectWall(<?php echo $project['idproject'];?>,1)"><span class="no-change">
	<?php echo $translate->_('app_partial_project_default_status_ppm'); ?> [+]</span></a></div>
	<div class="wall-container" id="wall-container-1_<?php echo $project['idproject'];?>" style="display:none;"></div>
	<?php endif; ?>
	
	<?php if(isset(Zend_Registry::get('defSession')->currentUser) && isset($this->tests)):?>
			
	<?php foreach($this->tests as $test): ?>
			
	<div class="item">
			<div class="change-summary">
				<span class="no-change"><?php echo $translate->_('app_partial_project_default_status_tests'); ?></span>
			</div>
			<div class="item-action">
				<?php if($this->options['layout'] == "standard"){
						switch ($test['Status']) { // buttons go here
							case 0:
								break;
							case 50:
								break;
							case 75:
								 echo  $this->styleButton($translate->_('app_partial_project_default_status_btnBidAgain'),"/app/mobster/submitnewbid/idtest/".$test['idtest']);
								break;
							case 100:
								break; 
							case 200:
								break;
							case 250:
								if(isset($survey)){
									echo $this->styleButton($translate->_('app_partial_project_default_status_btnDownloads'),"/app/mobster/downloadtestcase/idproject/".$project['idproject']);
									 echo $this->styleButton($translate->_('app_partial_project_default_status_btnSurvey'),"/survey/".$survey['idsurvey']);
								}else{
		 							 echo $this->styleButton($translate->_('app_partial_project_default_status_btnSubmit'),"/app/mobster/submittestresults/idtest/".$test['idtest']);
									 echo $this->styleButton($translate->_('app_partial_project_default_status_btnGetTestPlan'),"/app/mobster/downloadtestcase/idproject/".$project['idproject']);
								}			
							break;
							}//END OF SWITCH
					}
							?> 
			</div>
		<div class="item-info" style="margin-left:40px">
			<table class="item-summary">
				<tbody>
						<tr>
							<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_status'); ?></td>
							<td class="value status"><?php echo Tests::$status[$test['Status']];?></td>
							<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_bid'); ?></td>
							<td class="value">$<?php echo $test['bidAmount'];?></td>
						</tr>
						<tr>
							<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_network'); ?></td>
							<td class="value"><?php echo $test['networkName'];?></td>
							<td class="info-label"><?php echo $translate->_('app_partial_project_default_status_handset'); ?></td>
							<td class="value"><?php echo $test['vendor'].' '.$test['model'];?></td>
						</tr>
						<?php if($this->options['layout'] == "compact")://compact layout has actions below the table?>
						<tr>
						<td colspan="4"  >	
						<div >
							<?php switch ($test['Status']) { // buttons go here
							case 0:
								break;
							case 50:
								break;
							case 75:
								echo '<a rel="external" href="/mobile/project/submitbid/idproject/'.$project['idproject'].'" data-inline="true" data-role="button">'.$translate->_('app_partial_project_default_status_btnBidAgain').'</a>';
								break;
							case 100:
								break; 
							case 200:
								break;
							case 250:
								// check for survey. If that is the case have download and take survey buttons. 
								if(isset($survey)){
									echo '<a rel="external" href="/mobile/project/instructions/id/'.$project['idproject'].'" data-inline="true" data-role="button" >'.$translate->_('app_partial_project_default_status_btnGetApp').'</a>';
									echo '<a rel="external" href="/survey/'.$survey['idsurvey'].'" data-inline="true" data-role="button" >'.$translate->_('app_partial_project_default_status_btnSurvey').'</a>';
								}else{
									// echo '<a rel="external" href="" data-inline="true" data-role="button" >SUBMIT RESULTS</a>';
									echo '<a rel="external" href="/mobile/project/view/id/'.$project['idproject'].'" data-inline="true" data-role="button" >'.$translate->_('app_partial_project_default_status_btnDownloads').'</a>';
								}			
							break;
							}//END OF SWITCH?>
						</div>
						</td>
						</tr>
						<?php endif;?>
				</tbody>
			</table>
		</div>
	</div>
	<?php if(isset(Zend_Registry::get('defSession')->currentUser) && $this->options['showcomments'] == true):?>
		<div class="change-summary"><a onclick="toggleProjectWall(<?php echo $test['idtest'];?>,2)"><span class="no-change"><?php echo $translate->_('app_partial_project_default_status_privateMessages'); ?></span>
		</a></div>
		<div class="wall-container" id="wall-container-2_<?php echo $test['idtest'];?>" style="display:none;">
		</div>
	<?php endif; ?>
<?php endforeach;?>
<?php endif;?>

</div>


	