<script type="text/javascript">
<!--
function changeSearchType(type){
	$("div.search-type span.label").html(type);

	$("#search-category").val(type);
}
//-->
</script>

<form id="main-search" action="/app/search" method="post" accept-charset="UTF-8" name="global-search" >
 <fieldset>
  <div class="search-type">
  <span class="label">People</span>
  <select name="type" id="search-category" class="search-category">
	  <option value="People" selected="selected">People</option>
	  <option value="Projects">Projects</option>
	  <option value="Inbox">Inbox</option>
	  <option value="Groups">Groups</option>
  </select>
  
  <ul>
  		<li><a href="javascript:void(0);" onclick="changeSearchType('People');">People</a></li>
  		<li><a href="javascript:void(0);" onclick="changeSearchType('Projects');">Projects</a></li>
  		<!-- <li><a href="javascript:void(0);" onclick="changeSearchType('Groups');">Groups</a></li>
  		<li><a href="javascript:void(0);" onclick="changeSearchType('Inbox');">Inbox</a></li> -->
   </ul>
  </div>
 <input name="search" id="search" class="search-term" type="text" value="">
 <input name="submit" value="Search" id="submit" type="submit">
 </fieldset>
 </form>



	