<form>
	<?php if ($this->project['weburl']):?>
		<?php echo $this->mobViewHelper('Mobile Website',  '<a href="'.$this->project['weburl'].'">'.$this->project['weburl']).'</a>'; ?>
	<?php endif; ?>
	<?php if ($this->project['appurl']):?>
		<?php echo $this->mobViewHelper('App Store URL', '<a href="'.$this->project['appurl'].'">'.$this->project['appurl']).'</a>'; ?>
	<?php endif; ?>
	
	<?php foreach(ProjectFiles::$cattypes as $index=>$category):?>
		<?php fb(print_r($category,true));?>
		<?php if ($files=$this->projectfiles->getFilesForProjectByCategory($this->project['idproject'], $index)):?>
			<?php
				$filelist='';
				foreach($files as $file) {
					$filelist.="<a href='/app/project/download/".$file['idfiles']."'>".$file['filename']."</a><br/>";
				}
			?>
			<?php echo $this->mobViewHelper($category[0],  $filelist);?>
		<?php endif;?>
	<?php endforeach;?>
</form>