

<!-- Blog spot feeds. The key will have to be updated -->
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAS2lPC-u1NcUVyVqCxZvmRBQSsAKcA1jn7aKEiQ-eqra4M9X4yhScXKsBoQxPG6xRnCbLMV3NELIIWA">
</script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js" type="text/javascript">
</script> 

<script type="text/javascript">
    function loadFeedControl(){
    
        var options = {
            numResults: 4,
            linkTarget: google.feeds.LINK_TARGET_BLANK,
            stacked: true,
            title: 'Latest Posts on MobBlog'
        
        }
        
        var feed = "http://mob4hire.blogspot.com/feeds/posts/default?alt=rss";
        var fg = new GFdynamicFeedControl(feed, "feedControl", options);
    }
    
    /**
     * Use google.load() to load the AJAX Feeds API
     * Use google.setOnLoadCallback() to call loadFeedControl once the page loads
     */
    google.load("feeds", "1");
    google.setOnLoadCallback(loadFeedControl);
    
</script>
<!-- end blog feed--><!-- Twitter JS -->
<script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"type="text/javascript">
</script>
<script type="text/javascript">
    getTwitters('twitterControl', {
        id: 'mob4hire',
        count: 4,
        enableLinks: false,
        ignoreReplies: true,
        clearContents: true,
        template: '<div class="twitter-entry"><div class="twitterTime">%time% </div><div class="twitterStatus"><a href="http://www.twitter.com/mob4hire" target="_blank">"%text%"</a></div></div>'
    
    
    });
</script>
<!-- end twitter -->
<link href="/css/buzz.css" media="screen" rel="stylesheet" type="text/css" />
<div id="container_column_middle">
    <h2>Buzz</h2>
    
    <div class="buzz-section">
      <b class="rtop red">
        <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
      </b>
        <div class="buzz-section-title">Follow the latest news on Mob4Hire.</div>
        <div class="buzz-icon">
          <a href="http://twitter.com/mob4hire" target="_blank" style="margin:0 10px 0 0;"><img src="/images/icons/twitter_horizontal.gif" alt="Mob4hire Twitter Account" /></a>
        </div>
        <div class="buzz-icon">
          <a href="http://mob4hire.blogspot.com" target="_blank"><img src="/images/icons/blogger_horizontal.gif" alt="MobBlog" /></a>
        </div>
        <div class='clear'></div>
    </div>      
    <div class="buzz-section-title">
      <a name="twitter" class="banner" href="http://twitter.com/mob4hire">Follow us on Twitter</a>
    </div>
    <div id="twitterControl">
        <p>
            Loading...<img src="/images/indicator.gif" />
        </p>
    </div>
    <div id="feedControl">
        <p>
            Loading...<img src="../images/indicator.gif" />
        </p>
    </div>
        <br class="clear" />
</div>
