
            <div id="container_column_middle">
			
                       	
            	<h1>&nbsp;Media Kit</h1>
				<div style="padding: 0 10px 0 10px;">
                <p>Hey you. Media guy/gal. Blogger. Tweeter'er. P.R. representative. Social media evangelist. Welcome to Mob4Hire!</p>
                <p>Here's a few images that you can use for your references to Mob4Hire ... we promise not to delete or deprecate them. There's also a standard "About us" boilerplate beneath the images.</p>
                <p>Really appreciate and value your time ... and thanks for spreading the word about us. We're interested in reciprocal links, of course, so if you publish something, please email the URL of your blog post / article to <a href="mailto:buzz@mob4hire.com">buzz@mob4hire.com</a>, and use the Title as subject of the email. We'll post it <a href="press-coverage">here</a>.</p>
<p>If you need any more information, please don't hesitate to <a href="mailto:buzz@mob4hire.com">contact us</a>!</p>
                </div>
				<!--b class="rtop red">
                  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
                </b>-->
                <div class="buzz-section">
                <div class="buzz-section-title">Company Images</div>
                <ul>
                  <li>                
                   <div class="m4h_graphic"> <a href="/images/mk-mob4hire-logo.gif" target="_blank"><img src="/images/mk-mob4hire-logo.gif" alt="mob4hire logo"/></a></div>
                    <div class="m4h_graphic_info">
<table>
                        <tbody>
                            <tr>
                                <td>Mob4Hire Logo with Tagline</td>
<!--                                <td><a href="#">.jpeg format</a></td>
                                <td><a href="http://www.mob4hire.com/images/m4h-logo.gif">.gif format</a></td>
-->
                            </tr>
                            <tr>
                            	<td colspan="3">.gif<input type="text" size="48" value="http://www.mob4hire.com/images/mk-mob4hire-logo.gif" /></td>
                            </tr>
                            <tr>
                            	<td colspan="3">.eps<input type="text" size="48" value="http://www.mob4hire.com/images/mk-mob4hire-logo.eps" /></td>
                            </tr>                                             
                        </tbody>
                    </table>  
</div>                  
                    <br class="clear" />
                </li>                


                  <li>                
                   <div class="m4h_graphic"> <a href="/images/mk-mob4hire-brand-logo.gif" target="_blank"><img src="/images/mk-mob4hire-brand-logo.gif" alt="mob4hire logo"/></a></div>
                    <div class="m4h_graphic_info">
<table>
                        <tbody>
                            <tr>
                                <td>Mob4Hire Logo</td>
                            </tr>
                            <tr>
                            	<td colspan="3">.gif<input type="text" size="48" value="http://www.mob4hire.com/images/mk-mob4hire-brand-logo.gif" /></td>
                            </tr>
                            <tr>
                            	<td colspan="3">.eps<input type="text" size="48" value="http://www.mob4hire.com/images/mk-mob4hire-brand-logo.eps" /></td>
                            </tr>                                             
                        </tbody>
                    </table>  
</div>                  
                    <br class="clear" />
                </li> 


                <li>    
                    <div class="m4h_graphic">
                    <a href="/images/mk-mob4hire-with-crowd.gif" target="_blank"><img src="/images/mk-mob4hire-with-crowd.gif" alt="mob4hire logo with crowd and message"/></a>
                    </div>
                    <div class="m4h_graphic_info">
<table>
                        <tbody>
                            <tr>
                                <td>Mob4Hire Logo with Crowd</td>
                            </tr>
                            <tr>
                            	<td colspan="3">.gif<input type="text" size="48" value="http://www.mob4hire.com/images/mk-mob4hire-with-crowd.gif" /></td>
                            </tr>
                            <tr>
                            	<td colspan="3">.eps<input type="text" size="48" value="http://www.mob4hire.com/images/mk-mob4hire-with-crowd.eps" /></td>
                            </tr>                                             
                                  
                        </tbody>
                    </table>  
</div>                  
                    <br class="clear" />
                </li> 

        

                <li>    
                    <div class="m4h_graphic">
                    <a href="/images/Mob4Hire-logo-with-crowd-and-message.jpg" target="_blank"><img src="/images/Mob4Hire-logo-with-crowd-and-message.jpg" alt="mob4hire logo with crowd and message"/></a>
                    </div>
                    <div class="m4h_graphic_info">
<table>
                        <tbody>
                            <tr>
                                <td>Mob4Hire Logo with Crowd and Background</td>
                             </tr>
                            <tr>
                            	<td colspan="3">.jpg<input type="text" size="48" value="http://www.mob4hire.com/images/Mob4Hire-logo-with-crowd-and-message.jpg" /></td>
                            </tr>                                        
                        </tbody>
                    </table>  
</div>                  
                    <br class="clear" />
                </li> 


                <li>                
                    <div class="m4h_graphic"><a href="/images/mob4hireLogoWithText_press.png" target="_blank"><img src="/images/mob4hireLogoWithText_press.png" alt="mob4hire logo with text"/></a></div>
                    <div class="m4h_graphic_info">
<table>
                        <tbody>
                            <tr>
                                <td>Mob4Hire Old School Logo (our original circa 2007)</td>
                            </tr>
                            <tr>
                            	<td colspan="3">.png<input type="text" size="48" value=http://www.mob4hire.com/images/mob4hireLogoWithText_press.png" /></td>
                            </tr>                                        
                        </tbody>
                    </table>  
</div>                
                    <br class="clear" />  
                </li>  



                </ul> 
                </div>
                <!--div class="bottom-curve">&nbsp;</div>-->
		<!--
		<div style="position:absolute; top:20px; right:30px; width:202px; height:430px; border:1px dashed #B51515; padding:20px;">
		<b style="color:#B51515; font-size:15px;">Press Box:</b><br /><br /><br />
		<img src="/images/mob4hireLogo_press.png" alt="mob4hire logo" style="position:absolute; border:1px solid #D4D4D4;">		
		<img src="/images/mob4hireLogoWithText_press.png" alt="mob4hire logo with text" style="position:absolute; top:180px; border:1px solid #D4D4D4;"><br />
		<img src="/images/mob4hireLogoBeta_press_01.png" alt="mob4hire beta" style="position:absolute; top:390px; border:1px solid #D4D4D4;"><br />
	</div>-->
<div style="padding: 0 10px 0 10px;">	
<h3>Press Boilerplate</h3>
<p>With tens of thousands of mobile enthusiasts in 150+ countries worldwide, Mob4Hire (http://www.mob4hire.com) is the largest real world; crowd sourced testing and market research community for mobile apps. By incorporating user feedback and in market testing to developers, we help make mobile software better. </p><p>Mob4Hire significantly reduces mobile application testing costs and reduces time to market by connecting developers with eager, lower priced, crowd sourced testers and focus groups. Mob4Hire also provides their unique micro-payment crowd-sourced MAAP technology (Mob4Hire as a Platform) to developer networks and app stores such as O2 Litmus to allow for private labeled communities to be added to Carrier and Handset Manufacturer enterprise systems.</p><p>Founded in 2007, Mob4Hire is headquartered in Calgary, Alberta, Canada with offices in Victoria, British Columbia and London, U.K.</p>
</div>
            <br class="clear" />
            
          	</div>
