
<!-- Blog spot feeds. The key will have to be updated -->
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAS2lPC-u1NcUVyVqCxZvmRBQSsAKcA1jn7aKEiQ-eqra4M9X4yhScXKsBoQxPG6xRnCbLMV3NELIIWA">
</script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js" type="text/javascript">
</script> 

<script type="text/javascript">
    function loadFeedControl(){
    
        var options = {
            numResults: 4,
            linkTarget: google.feeds.LINK_TARGET_BLANK,
            stacked: true,
            title: 'Latest Posts on MobBlog'
        
        }
        
        var feed = "http://mob4hire.blogspot.com/feeds/posts/default?alt=rss";
        var fg = new GFdynamicFeedControl(feed, "feedControl", options);
    }
    
    /**
     * Use google.load() to load the AJAX Feeds API
     * Use google.setOnLoadCallback() to call loadFeedControl once the page loads
     */
    google.load("feeds", "1");
    google.setOnLoadCallback(loadFeedControl);
    
</script>
<!-- end blog feed--><!-- Twitter JS -->
<script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"type="text/javascript">
</script>
<script type="text/javascript">
    getTwitters('twitterControl', {
        id: 'mob4hire',
        count: 4,
        enableLinks: false,
        ignoreReplies: true,
        clearContents: true,
        template: '<div class="twitter-entry"><div class="twitterTime">%time% </div><div class="twitterStatus"><a href="http://www.twitter.com/mob4hire" target="_blank">"%text%"</a></div></div>'
    
    
    });
</script>
<!-- end twitter -->
<div id="container_column_middle">

    <h1>&nbsp;Summary</h1>
    <!--b class="rtop red">
      <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
    </b>-->
    <div class="buzz-section">

        <div class="buzz-section-title">Follow the latest  on Mob4Hire</div>
        <div class="buzz-icon">
          <p>Follow Mob4Hire on our entrepreneurial adventure:</p>
          <a href="http://twitter.com/mob4hire" target="_blank"><img src="/images/icons/twitter_horizontal.gif" alt="Mob4hire Twitter Account" width="150" height="43" /></a>        
          <a href="http://mob4hire.blogspot.com" target="_blank"><img src="/images/icons/blogger_horizontal.gif" alt="MobBlog" width="150" height="43"/></a>                  <a href="http://www.linkedin.com/groups?home=&gid=2400665" target="_blank"><img src="/images/icons/linkedlogo.gif" alt="Mob4Hire LinkedIn Group" width="150" height="43" /></a>   
          <a href="http://www.facebook.com/group.php?gid=16319165190" target="_blank"><img src="/images/icons/facebooklogo.gif" alt="Mob4Hire Facebook Group" width="150" height="43" /></a>
        </div>

      	<div class="buzz-icon">

<!-- THESE PROJECT FEEDS AREN'T QUITE WORKING YET

	        <p>Link to our Twitter and RSS feed projects ... find out about projects as soon as they are posted:</p>
          <a href="http://twitter.com/mob4tests" target="_blank"><img src="/images/icons/twitter_horizontal.gif" alt="Mob4hire Twitter Account" width="150" height="43" /></a>        
          <a href="http://v3.mob4hire.com/rss" target="_blank"><img src="/images/icons/mob4hire-project-rss-feed.gif" alt="Mob4Hire project RSS feed"/></a>

-->

        </div>
       <br class="clear" />
    </div>
    <!--div class="bottom-curve">&nbsp;</div>-->
	<br /><br />
    
    <!--b class="rtop red" style="background:#FFF;">
      <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
    </b>-->
    <div class="buzz-section-title" id="twitter">
      <a name="twitter" class="banner" href="http://twitter.com/mob4hire">Follow us on Twitter</a>
    </div>
    <div id="twitterControl">
        <p>
            Loading...<img src="/images/indicator.gif" />
        </p>
    </div>
    <!--div class="bottom-curve">&nbsp;</div>-->
    <!--b class="rtop red" style="background:#FFF;">
      <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
    </b>-->
	<br /><br />
    <div id="feedControl">
        <p>
            Loading...<img src="../images/indicator.gif" />
        </p>
    </div>
    <!--div class="bottom-curve">&nbsp;</div>-->
       
</div>