<h2>
    <?php echo $this->translate->_('mobile_app_account_title'); ?>
</h2>
  <div class="account_transactions">
    <table data-theme="a">
      <tr id="month_balance">
        <td colspan="5">
          <div class="clearfix">
            <div id="month-selector-form">
            </div>
            <div id="balance"><strong><?php echo $this->translate->_('mobile_app_account_balance'); ?>: $<?php echo $this->getBalance($this->currentUser->id);?> <?php echo $this->translate->_('mobile_app_account_balanceCurrency'); ?></strong></div>
          </div>
        </td>
      </tr>
      <tr>
      	<th><?php echo $this->translate->_('mobile_app_account_columnDate'); ?></th>
      	<th><?php echo $this->translate->_('mobile_app_account_columnDescription'); ?></th>
      	<th><?php echo $this->translate->_('mobile_app_account_columnDebit'); ?></th>
      	<th><?php echo $this->translate->_('mobile_app_account_columnCredit'); ?></th>
      	<th><?php echo $this->translate->_('mobile_app_account_columnBalance'); ?></th>
      </tr>
    
    	<?php $i=0; // used to swap background colour of table row ?>
    	<?php foreach($this->account as $transaction):?>
            <tr class="<?php echo ($i%2 ? 'row_even' : 'rowodd');?>">
    		<td><?php echo date("Y-m-d",$transaction->Timestamp);?></td>
    		<td><?php echo $transaction->transactiontype;?></td>
    		<td class="currency"><?php echo (($transaction->amount < 0) ? number_format(-1*$transaction->amount, 2, '.','') : '&nbsp;');?></td>
    		<td class="currency"><?php echo (($transaction->amount > 0) ? $transaction->amount : '&nbsp;');?></td>
    		<td class="currency"><?php echo $transaction->newBalance;?></td>
    	</tr>
    	<?php $i++;?>
    	<?php endforeach;?>
	

    </table>
  </div>

