<h2>Change Password</h2>

<h5>Change the password for your account</h5>
<?php echo $this->form; ?>


<?php if ($this->currentPassError) : ?>
	<div class="errors">The current password does not match the value on your account.<br/>
	</div>		
<?php endif; ?>

