<?php $contacts = new Contacts();
	 $contact = $this->contact;?>	

	<div id="contacts-container">
	<div class="item contact">
		<div class="item-icon">
			<a><img class="user-image" style="margin-top: 6px" height="32" border="0" width="32" src="<?php echo (($img_path=$contact->Avatar) ? $img_path : "/images/image-not-found.gif"); ?>"></a>
		</div>
		
		<div class="item-info" style="margin-right:30px;">
		<span class="title"><?php echo $this->formatUserLink($contact->username,"compact");?></span>
		<span style="float:right;width:130px"><?php echo $this->ratingBar($contact->iduser, $contact->username,5,'static', '',false);?></span>
		<table class="item-summary">
			<tbody>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_country'); ?></td>
					<td class="value status" style="width:150px"><?php if(!isset($contact->country)){ echo $this->translate->_('mobile_profile_view_countryMissing');}else{ echo $contact->country; }; ?></td>
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_since'); ?></td>
					<td class="value"><?php echo date("F d, Y", strtotime($contact->registered_on));?></td>
				</tr>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_lastOnline'); ?></td>
					<td class="value" style="width:150px"><?php echo $this->showElapsedTime(strtotime($contact->last_login));?></td>
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_totalFeedback'); ?></td>
					<td class="value"><?php echo $contact->total_votes; ?></td>
				</tr>
				
				<tr>
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_handsets'); ?></td>
					<td colspan="3" >
						<?php if(isset($this->handsets)){
							$model = '';
							for($i=0;$i<sizeof($this->handsets);$i++){
								
								$handset = $this->handsets[$i];
								if($i>5){
									$model .= " ....";
									break;
								}
								$model .= $handset->vendor ." ".$handset->model ." | "; 
							}
							$model = substr($model,0,-2);
							echo $model;
						}
						?>		
					</td>
				</tr>
				
			<tr><td colspan="4" >	
				<div data-role="controlgroup" data-type="horizontal">
				<?php if(Zend_Registry::get('defSession')->currentUser->id != $contact->iduser):?>
				<?php if(!$contacts->hasContact(Zend_Registry::get('defSession')->currentUser->id,$contact->iduser)):?>
						<a href="javascript:void(0);" onclick="addContact(this,<?php echo $contact->iduser;?>)" data-inline="true"  data-role="button"><?php echo $this->translate->_('mobile_profile_view_addAsContact'); ?></a>
				<?php else:?>		
						<a href="javascript:void(0);" onclick="removeContact(<?php echo $contact->iduser;?>)" data-inline="true"  data-role="button"><?php echo $this->translate->_('mobile_profile_view_removeFromContact'); ?></a>
				<?php endif;?>		
				<?php endif;?>
				</div>
			</td></tr>
				
				
			</tbody>
		</table>
		</div>
	</div>
	<?php // Personal Profile ?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_profile_view_personalProfile'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:30px;margin-left:20px;">
		<table class="item-summary" >
			<tbody>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_about'); ?></td>
					<td colspan="3" style="margin-right:20px;"><i>
					<?php if($this->profile['personal_description']==""):?>
						(<?php echo $this->translate->_('mobile_profile_view_empty'); ?>)
					<?php elseif($this->profile['personal_description']==10):?>
						<?php echo $this->profile['personal_description_other'];?>
					<?php else:?>	
						<?php echo ProfileContactInfo::$descriptionList[$this->profile['personal_description']]; ?></td>
					<?php endif;?>
					</i>
				</tr>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_company'); ?></td>
					<td class="" style="width:150px"><?php echo $this->profile['company']=="" ?"--":$this->profile['company']; ?></td>
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_timezone'); ?></td>
					<td class=""><?php echo ProfileContactInfo::$timeZoneList[$this->profile['time_zone']]; ?></td>
				</tr>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_title'); ?></td>
					<td class="" style="width:150px"><?php echo $this->profile['position']=="" ?" ":$this->profile['position']; ?></td>
					<td class="info-label"></td>
					<td class=""></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<?php // Testing History 
	if(isset($this->mobster)): ?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_profile_view_testingProfile'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:20px;margin-left:20px;">
		<table class="item-summary">
			<tbody>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_description'); ?></td>
					<td colspan="5" ><i><?php echo  $this->mobster['experience']=="" ?" ":strip_tags($this->mobster['experience']); ?></i></td>
				</tr>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_skill'); ?></td>
					<td style="width:250px"><?php echo ($this->mobster['previous_testing']) ? ProfileMobster::$previousTesting[$this->mobster['previous_testing']]:"--"; ?></td>
				</tr>				
			</tbody>
		</table>
		</div>
		
		<div class="change-summary">
			<span class="no-change">			
				<?php echo $this->translate->_('mobile_profile_view_latestRatings'); ?>
			</span>
		</div>
		
		<div class="item-info" style="margin-right:0;margin-left:20px;">
		<table class="item-summary">
			<tbody>		
			<?php if ($this->testerratings->current()):?>
			<?php foreach($this->testerratings as $rating): ?>
				<tr>
				 <?php if($rating->total_value):?>
					<td class="info-label"></td>
					<td style="width:150px">
						<a style="color:black" href="/mobile/project/view/id/<?php echo $rating->idproject;?>"><?php echo $rating->name;?></a>
					</td>
					<td style="width:95px">
						<?php echo $this->showRatingBar($rating->total_value/$rating->total_votes);?>
					</td>
					<td class="footer">
						<?php echo $rating->comments;?>
					</td>
				<?php endif;?>
				</tr>
			<?php endforeach;?>
			<?php else:?>
					<td class="info-label"></td>
					<td style="width:150px">
						<?php echo $this->translate->_('mobile_profile_view_noRatingsProvided'); ?>
					</td>
			<?php endif;?>
				
			</tbody>
		</table>
		</div>
		
	</div>
	<?php endif;?>
	
	<?php // developer profile
	if(isset($this->developer)): ?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				<?php echo $this->translate->_('mobile_profile_view_developerProfile'); ?>
			</span>
		</div>
				
		<div class="item-info" style="margin-right:20px;margin-left:20px;">
		<table class="item-summary">
			<tbody>
				<tr >
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_company'); ?></td>
					<td class="" style="width:150px"><?php echo $this->profile['company']=="" ?"--":$this->profile['company']; ?></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_primaryBusiness'); ?></td>
					<td class=""><?php echo $this->showDeveloperRevenueType($this->developer['revenue']) ?></td>
				</tr>
				<tr>
					<td class="info-label"><?php echo $this->translate->_('mobile_profile_view_platforms'); ?></td>
					<td style="width:150px"><?php echo $this->showDeveloperPlatforms($this->developer['platform']) ?></td>
				</tr>				
			</tbody>
		</table>
		</div>
		<div class="change-summary">
			<span class="no-change">			
				<?php echo $this->translate->_('mobile_profile_view_latestRatings'); ?>
			</span>
		</div>
		
		<div class="item-info" style="margin-right:0;margin-left:20px;">
		<table class="item-summary">
			<tbody>		
			<?php if ($this->developerratings->current()):?>
			<?php foreach($this->developerratings as $rating): ?>
				<tr>
				 <?php if($rating->total_value):?>
					<td class="info-label"></td>
					<td style="width:150px">
						<a style="color:black" href="/mobile/project/view/id/<?php echo $rating->idproject;?>"><?php echo $rating->name;?></a>
					</td>
					<td style="width:95px">
						<?php echo $this->showRatingBar($rating->total_value/$rating->total_votes);?>
					</td>
					<td class="footer">
						<?php echo $rating->comments;?>
					</td>
				<?php endif;?>
				</tr>
			<?php endforeach;?>
			<?php else:?>
					<td class="info-label"></td>
					<td style="width:150px">
						<?php echo $this->translate->_('mobile_profile_view_noRatingsProvided'); ?>
					</td>
			<?php endif;?>
			</tbody>
		</table>
		</div>
		
	</div>
	<?php endif;?>
	

	<!--
	<?php // Show the groups they are involved in?>
		<?php if(isset($this->groups) && $this->groups->current()): 
			$groups = new Groups(); 
		?>
	<div class="item contact">
		<div class="change-summary">
			<span class="change">			
				Active Group Membership
			</span>
		</div>
				
		<div class="item-info" style="margin-right:20px;margin-left:20px;">
		<table class="item-summary">
			<tbody>
			<?php foreach($this->groups as $group):?>
				<?php if($group->type==1 || $groups->inGroup(Zend_Registry::get('defSession')->currentUser->id, $group->idgroup))?>
				<tr>
					<td class="info-label"><img width="32" height="32" src="<?php echo (($img_path=$group->image) ? $img_path : "/images/image-not-found.gif"); ?>"/></td>
					<td class="value"><a style="color:black" rel="external" href="/mobile/group/view/id/<?php echo $group->idgroup?>" alt="view group"><?php echo $group->name; ?></td>
				</tr>			
			<?php endforeach;?>
			</tbody>
		</table>
		</div>
		
		
	</div>
	<?php endif;?>
	-->
	
	</div>
	<?php // Private Wall only show if not the current user. i.e. don't show your own wall?>
	<?php if($this->id != $this->currentUser->id):?>
	<a name="messages"></a>
	<h2><?php echo $this->translate->_('mobile_profile_view_wall_messages'); ?> <?php echo $contact->username?></h2>
	  <div class="clear">&nbsp;</div>
    	<div id="wall-container-3_<?php echo $this->profile['id'];?>" class="wall-container">
			<?php echo $this->showWall($this->profile['id'], 3,true,1,3,0,'','',array('layout'=>'compact')); ?>
		</div>
 	<?php endif;?>
			
	</div>
