<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
            	<h1><span><?php echo $this->formatProduct('MOBACCELERATOR')?></span></h1>
<h2>How do you get discovered and sell more apps?</h2>
<p>In this complicated world of mobile app store "discovery," you need every edge you can get, so it's important to think about the in-store experience for your mobile apps... For example: How does your app get discovered? Does the marketing copy you wrote make the user want to buy? How about the screen shots ... are they compelling? What is your customer demographic ... how can you make the software more appealing? Does your branding resonate? And, how do you competitors compare?</p>
<p>Unfortunately, it's very difficult to do after-market analysis of your software and marketing because you don't generally know who your users are, so many developers just don't do it. Relying on pricing changes seems like it's the only thing app marketers can rely on. But, all the traditional branding needs are still there ... copy, images, social media outreach ...</p>
<p>With <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span>, you start to develop an understanding of your customers in the marketplace:</p>
<ul>
<li>The Mobster goes to an app store(s) to download / purchase your app.</li>
<li>The Mobster installs and runs the app for a little while.</li>
<li>The Mobster completes the standardized <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span> survey.</li>
</ul>
<p>This gives you two results: it increases the number of downloads you get, and you get invaluable feedback about your app and in-store buying experience.</p>
<p><a href="managed">Contact our Managed Services team for more information.</a></p>
<br />
<h2>From Discovery to Download</h2>
<p>With Mob4Hire, you know your users. Using <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span>, you pay mobile users to download your software from whatever mobile app store you want to learn about. They go shopping and decide to download / purchase. We verify their purchase by having them forward their app store receipt to our systems. Once they install the software, they answer our standardized <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span> survey which includes several sections:</p>
<ul>
<li>Screening</li>
<li>Customer Loyalty</li>
<li>In-store Experience</li>
<li>User install experience</li>
</ul>
<p>
With <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span>, we've used our 50+ years of combined customer loyalty science, product, sales and branding experience to create a standard survey that you can ask mobile users about their experience with your software, from discovery to download.</p>
<P>Then, you can make it even better in the next release ... AND also improve your in-app-store presence so you can create better marketing and viral ad campaigns.</p>
<hr>
<h2>Driving Traffic to Create Volume in App Stores</h2>
<p>
Using <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span>, you can drive many downloads from an app store. Like paying for advertising to drive traffic, you can pay Mobsters to go to an app store and download your app. Imagine Mobsters go to the app store, look around, install your application, give it a test run and then complete a <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span> market research survey. You've just driven downloads of your app, which may get you into the top lists (or may not ... you'll have to figure the volume out depending on the app store's you submit to) and got valuable feedback on the application and the appstore itself.</p>
<p>Like advertising, this gives you a fighting chance ... being in the top ranks gets you attention, and other users may decide to download your software. But, REALLY, only if you've got good software and users give you good reviews. So, you can PAY for traffic and volume, but ultimately, the success of your software depends on how much users like it.
</p>
<ul>
<li>Getting ranked = more exposure = more downloads.</li>
<li>However, it's not permanent, app stores are structured for maximum turnover.</li>
<li>If an app is good it will be run and seen; in general, every second the app's open is a second it can be seen by or recommended to others.</li>
</ul>
<hr>
<h2>"Gaming the System"</h2>
<P>But, WAIT, you may say. That's "Gaming the System." We don't think so, and we thought we'd be clear about that up-front.</p>
<p>We had a big long debate about this internally. Ultimately, we felt paying people to drive top store rankings was no different than paying for AdMob banners, paying for in-game marketing links, or even paying for press releases ... it's all about driving traffic to your mobile app download. Secondly, apps need to be good, i.e. "sticky," in order to sustain download volumes. A bad app is a bad app ... no one will recommend it or give it a good review if it's not great. On average mobile app enthusiasts need to see 4 stars before they'll download it, so it makes for a good system of checks and balances. No one will pay indefinitely to maintain top rankings (either with Mob4Hire or AdMob or whatever) ... all apps need to do that naturally and virally because users love them. We like that, because we, like you, believe in GREAT software!</p>
<p>"Gaming the system" includes things such as "Astroturfing" ... paying people to write good reviews, post blog recommendations, and give 5-star ratings to obviously-crappy 1-star apps. That's dishonest, and at Mob4Hire, we don't like that.</p>
<p>When using <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">ACCELERATOR</span>, Mobsters will be completing our standard "mobile mystery shopping" survey using the Mob4Hire Survey Engine, and the results are private.</p>
<p><strong>You CANNOT pay Mobsters to rate you in the app stores, specifically, you CANNOT pay Mobsters to give you 5 stars and positive reviews (nor give your competitors bad reviews).</strong></p>
<p>Thanks for your understanding!</p>


<br /><br />
          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />

