<div id="container_column_middle_wide">
	<div class="red-top"></div>
	<div class="red-mid">           	
		<div class="middle_row_partner clearfix">
		<div id="survey-2010-banner">
			<h1>The Impact of Mobile User Experience on Network Operator Customer Loyalty</h1>
			<h2><span style="font-weight:normal;">MOB</span>4HIRE 2010 REPORT</h2>
    	</div>
	</div>


	<div class="middle_row_partner clearfix">
		<div id="container_column_right">
		<div style="margin-left: -30px;">
			<h3>Report License</h3>
			<p>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="LTVDPECSJGYZL">
				<table>
				<tr>
					<td>
						<input type="hidden" name="on0" value="Report License">Report License
					</td>
				</tr>
				<tr>
					<td>
						<select name="os0"  >
						<option value="Individual License (1 to 3 people)">Individual License (1-3) $495.00</option>
						<option value="Corporate License (3+ people)">Corporate License (3+) $995.00</option>
						</select>
					</td>
				</tr>
				</table>
				<br/>
				<input type="hidden" name="currency_code" value="USD">
				<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</p>
			<p>
				<img alt="PayPal Verified" src="/images/paypal-verified.jpg"><img alt="100% Satisfaction Guaranteed!" src="/images/100guarantee.jpg">				
			</p>
			
			<p>Thank you for being our customer!</p>
			<p>Want to cost-effectively run your own global survey with Mob4Hire? Check out <a href="/services/market-research">MOB<span class="mobred">SURVEY</span>.</a> </p>
			</div>
			<p>
				<img alt="Impact of Mobile Survey Cover" src="/images/impact-of-mobile-survey-cover.gif"/>
			</p>
			
		</div>
		
		<div id="container_column_left_wide">  
			<h2 style="margin-top:0; line-height:1;">Overview</h2>
			<p>Mob4Hire, in collaboration with leading customer loyalty scientist <a rel="Business Over Broadway" target="_blank" href="http://businessoverbroadway.com/">Business Over Broadway</a>, is pleased to present Summer Report 2010 of its &quot;Impact of Mobile User Experience on Network Operator Customer Loyalty&quot; international research, conducted during the Spring. The 111-country survey analyzes the impact of mobile apps across many dimensions of the app ecosystem as it relates to customer loyalty of network operators.</p>
			<p>The 26-page report includes 22 figures including 3 ranked grids comparing 32 different network operators&rsquo; performances:</p>
			<ol class="numbers">
				<li><strong class="black">Network Operator Performance Grid</strong> ranked on Customer Service Quality and Coverage/Reliability Quality</li>
				<li><strong class="black">Hayes Wireless RAPID Loyalty Grid</strong> that compares purchasing growth and new customer growth</li>
				<li><strong class="black">Mob4Hire Mobile App Performance Grid</strong> ranked on Mobile App Stability and Mobile App Customer Satisfaction</li>
			</ol>
			<p>According to the survey, the two best network operators in the world are Vodafone and Zain, which are the only two that appear in the top quadrant of all three grids.</p>
			<h2>Key Findings</h2>
			<p>The key finding quantifies that mobile applications and handsets are becoming increasingly important factors in network operator customer loyalty. Top drivers of network customer loyalty, however, continue to be coverage/reliability and customer service quality. Network operators who continue to struggle in these primary two dimensions are at a great disadvantage to others who are already starting their smartphone mobile strategies.</p>
			<ul>
				<li>Sixty-five percent of respondents indicated that mobile applications are important in their decision to select a network operator.</li>
				<li>When defecting from a network operator, 37% of smartphone users cite lack of mobile apps as a reason for their defection. </li>
				<li>Seventy-nine percent of the respondents indicated they are likely to recommend their network operator to a friend.  Fifty-five percent of respondents said they are likely to purchase additional services from their network operator.</li>
				<li>Thirty-seven percent of respondents think their network operator&rsquo;s coverage is inadequate. Half of the respondents said customer service is not adequate.</li>
				<li>Twenty-seven percent of respondents said they are likely to switch to another network operator within 12 months.</li>
				<li>Smartphone users need to see at least a 4-star user review rating in an app store before they download / purchase a mobile application.</li>
				<li>Eighty-nine percent of mobile users report they have experienced a mobile app crash on their phone.</li>
			</ul>
			<h2>Companies Referenced</h2>
			<p>Network Operators: Tigo, Mobitel, Sun Cellular, O2, Zain, Globe Telecom, Ufone, Vodafone, Warid Telcom, BSNL, Tele2, Telenor, Indosat, Mtel, Dialog, Smart Communications, Movistar, Airtel, Mobilink, 3, Claro, Telkomsel, T-Mobile, Reliance Mobile, Orange, AT&amp;T Mobility, Rogers Wireless, Idea Cellular, MTN, XL, Telcel, Safaricom</p>
			<p>Handset Manufacturers: Apple, RIM, HTC, Sony Ericsson, Nokia, Samsung, LG, Motorola</p>
			<h2>Table of Contents</h2>
			<ul>
				<li>Methodology	2</li>
				<li>Panel Description	2</li>
				<li>Key Metrics Used in the Study	2</li>
				<li>Executive Summary	3</li>
				<li>Top Wireless Insights	3</li>
				<li>Top Mobile Insights	3</li>
				<li>Operator Performance &amp; Loyalty Grids	6</li>
				<li>Network Operator Performance Grid	7</li>
				<li>Network Operator Customer Loyalty Grid	8</li>
				<li>Network Operator RAPID Loyalty Measurement Rankings	9</li>
				<li>Network Operator Loyalty Insights	10</li>
				<li>Network Operator Business Attributes	13</li>
				<li>Drivers of Customer Loyalty	15</li>
				<li>Operator Mobile App Performance Grid	16</li>
				<li>Mobile App User Experience Insights	17</li>
				<li>Impact of Mobile Applications on Ecosystem	20</li>
				<li>Mobile Handsets	21</li>
				<li>Smartphone vs. Feature Phones	22</li>
				<li>RAPID Loyalty Measurement Primer	23</li>
				<li>Customer Loyalty	23</li>
				<li>Customer Lifetime Value	24</li>
				<li>References	25</li>
				<li>Who we are	26</li>
			</ul>
			<h2>Figures</h2>
			<ul>
				<li>Figure 1  Reasons for switching to a different network provider.	6</li>
				<li>Figure 2 Network Operator Performance Grid (Customer Service Quality and Coverage / Reliability)	7</li>
				<li>Figure 3. Hayes Loyalty Grid for Network Operators	8</li>
				<li>Figure 4. RAPID Loyalty Indices	10</li>
				<li>Figure 5. Loyalty Questions	10</li>
				<li>Figure 6. Retention Loyalty Questions	11</li>
				<li>Figure 7. Advocacy Loyalty Questions	11</li>
				<li>Figure 8. Purchasing Loyalty Questions	12</li>
				<li>Figure 9. Product and Service Quality Ratings for Network Operators	13</li>
				<li>Figure 10. Customer Service Quality Ratings for Network Operators	13</li>
				<li>Figure 11. Coverage and Reliability Ratings for Network Operators	14</li>
				<li>Figure 12. Network Operator Mobile Application Performance Grid	16</li>
				<li>Figure 13. Star Ratings Needed before Purchasing/Downloading Mobile Apps	17</li>
				<li>Figure 14. Crash Frequency Ratings	17</li>
				<li>Figure 15. Number of mobile applications downloaded in the past three months	18</li>
				<li>Figure 16. Number of mobile applications purchased in the past three months.	18</li>
				<li>Figure 17. Number of mobile applications downloaded in past three months.	19</li>
				<li>Figure 18. Number of mobile applications purchased in the past three months.	19</li>
				<li>Figure 19. Reasons for switching network operators	20</li>
				<li>Figure 20. Satisfaction Ratings of Mobile Ecosystem by Handset Manufacturer	21</li>
				<li>Figure 21. Loyalty Ratings by Smartphone and Feature Phone Respondents	22</li>
				<li>Figure 22. Customer Loyalty and Customer Lifetime Value	24</li>
			</ul>
			<h2>Methodology</h2>
			<p>Conducted by Bob Hayes, Ph.D. (<a target="_blank" href="http://www.businessoverbroadway.com">BusinessOverBroadway.com</a>) and Mob4Hire.com, the survey applied Dr Hayes RAPID Loyalty Measurement science to Mob4Hire&rsquo;s extensive international &quot;mob&quot; of mobile users on it&rsquo;s crowd-sourced mobile testing and market research platform.</p>
			<p>Mob4Hire has a proprietary, worldwide sample of over 45,000 panelists (or Mobsters) who represent early adopting, mobile savvy users who live a mobile lifestyle. Mobsters are recruited through an opt-in process through the Mob4Hire.com website. Mobsters&rsquo; opinions about their mobile experience help identify factors that predict customer purchasing behavior and revenue growth across the entire mobile ecosystem.</p>
			<p>All respondents for this study were rewarded with an incentive for filling out the survey. The survey was fielded in Spring 2010, asking a sample of 5000 Mobsters ages 18 or older about their user experience with respect to their current network operator, mobile phones and mobile applications. The survey respondents were primarily male (82%) with a median age of 25 years. A highly educated sample, 57% of the respondents have a 4-year degree or higher. The worldwide sample of respondents represented 111 countries, 204 network operators and 179 distinct mobile handsets.</p>
			<h2>Stephen King, CEO, Mob4Hire</h2><p>&quot;Mob4Hire&rsquo;s mobile community of &lsquo;real people on real handsets with real opinions&rsquo; are in virtually every country on the planet. Nowhere is the effect of customer loyalty played out more immediately than on the battlefield of mobile apps, so being able to understand how to incorporate user feedback into app and marketing development can make the difference between success and failure. Our survey shows that on average, people need to see 4 star ratings in mobile apps before they&rsquo;ll download. The fascinating aspect of this is that the experience of using mobile apps on handsets also affects network operators churn and accordingly affect growth.&quot;</p>
			<h2>Dr. Bob Hayes, Ph.D.</h2>
			<p>&quot;The wireless industry is evolving quickly, but the fundamentals of providing the core products of wireless coverage and service are still a struggle for many network operators. These firms are also unprepared for creating a good mobile app ecosystem. Our survey shows that 65% of customers consider mobile apps when selecting a new network operator, so those that don&rsquo;t quickly implement a good strategy are going to miss out on the mobile app gold rush. We were able to understand this information from a global panel of mobile users using Mob4Hire&rsquo;s platform and survey tools at a fraction of the cost of other data collection methods.&quot;</p>
		</div>	
		
	</div>

</div></div>
<div class="red-bottom" style="margin-left: 216px;"></div>