<div id="container_column_middle_wide">           	
<h1>Managed Services</h1>
        	  	<h2>Mob4Hire provides both DIY "do-it-yourself" project management so you can submit and run crowd-sourced projects on your own. But, there are also times when you want to rely on our Managed Services team to run a project for you.</h2>
        	  	<p>We get it. You're super busy. So, if you find yourself waking up in a cold sweat at 3:00 a.m. screaming "There's not enough time! Too ... much ... pressure. I need someone to run this test for me!" then we can help.</p>
<p>Here are some of the things we can help you manage:</p>
<ul>
<li>We work with your team and write the test plan and script.</li>
<li>We post the project.</li>
<li>Administer NDA's, if required.</li>
<li>Select, manage and monitor Mobsters.</li>
<li>Define output documents, or create and administer a survey.</li>
<li>Return results to you. We can also arrange to interpret your survey results.</li>
<li>Rate the testers and release escrow.</li>
</ul>
                <p>The cost for managed services has two components; our Project Management fee, as well as Transaction fee's with the Mobsters. These can be a flat fee (i.e. pay each Mobster $20 for a completed project) or bidding (i.e. Mobsters offer to do the project for an amount they suggest). If you're on a tight budget, remember that you can manage your own project simply by logging in and posting it yourself ... in which case, it's mostly just the tester transactions you'll be paying. For more informaion, please visit our <a href="/services/pricing">pricing</a> page.</p> 
         	  	<h2>Ask For a Quote</h2>
				<p><strong>Just fill in the following form to give us an idea of what you need, and we'll get back to you asap.</strong> Trust in the Mob!</p>
                <br />
				
         	  	<form class="managed-form" action="" method="POST" enctype="multipart/form-data" name="EmailManagedServicesForm">
    	<label for="fullname">
        	<span>What is your full name?</span>
			<input id="fullname" type="text" name="fullname" width="50">
        </label>
    	<label for="company">
        	<span>Company name?</span>
			<input id="company" type="text" name="company" width="50">
        </label>
    	<label for="email">
        	<span>Email address?</span>
			<input type="text" id="email" name="email" width="50">
        </label>
    	<label for="typeofcontent">
        	<span>Is this a mobile app, mobile website, mobile ad campaign, SMS test, or ... ?</span>
    		<input type="text" id="typeofcontent" name="typeofcontent" width="50">
        </label>
    	<label for="numbertesters">
        	<span>How many testers do you require?</span>
			<input id="numbertesters" type="text" name="numbertesters" width="50">
        </label>
    	<label for="description">
        	<span>Step-by-step description of exactly what you want each tester to do</span>
			<textarea id="description" name="description" cols="50" rows="8"></textarea>
        </label>
    	<label for="testertime">
        	<span>How long will it take each person to do everything you require?</span>
			<input id="testertime" type="text" name="testertime" width="50" value="">
        </label>
    	<label for="testerdata">
        	<span>How much data will each person be downloading / uploading during test?</span>
			<input id="testerdata" type="text" name="testerdata" width="50" value="">
        </label>
    	<label for="typeoftest">
        	<span>Will this be a single test, multiple tests, repeated tests or regression testing?</span>
			<input id="typeoftest" type="text" name="typeoftest" width="50" value="">
        </label>
    	<label for="countrieshandsets">
        	<span>List the countries, networks and handset models you need to include in the project</span>
			<textarea id="countrieshandsets" name="countrieshandsets" cols="50" rows="4" ></textarea>
        </label>
    	<label for="nda">
        	<span>Do you have an NDA that you want signed by the testers?</span>
			<select id="nda" name="nda">
                <option value="yes" selected="selected">Yes</option>
                <option value="no">No</option>
                <option value="uncertain">Not Sure</option>
            </select>
        </label>
    	<label for="results">
        	<span>What are the deliverables at projects end - what results would you like to receive and in what format? (If need be, we can use our Survey engine to ask questions)</span>
			<textarea id="results" name="results" cols="50" rows="4" ></textarea>
        </label>
    	<label for="dates">
        	<span>When will you start the project? When do you need the project finished?</span>
			<input type="text" id="dates" name="dates" width="200" maxlength="75">
        </label>
		<p>After we get this information from you,<strong> we will send you an email with a quote for the work, or a request for a conference call to more clearly define your needs.</strong> Payment terms: 100% of the Mobster transaction fee must be paid to escrow before the project starts, in addition to 40% of the Managed Service fee. The balance of the fee is owing once the project is finalized. Rush managed service jobs incur a 30% surcharge for both managed service and mobster transaction fees.</p>
    	<label for="budget">
        	<span>Do you have budget allocated to the project?</span>
			<input id="budget" name="budget" type="checkbox" value="1" checked />
        </label>
    	<label for="hearaboutus">
        	<span>Where did you hear about us?</span>
			<input type="text" id="hearaboutus" width="200" name="hearaboutus">
        </label>
    	<label for="msic">
        	<span>Anything else you want to tell us / ask us about the project?</span>
			<textarea id="misc" name="misc" cols="50" rows="4"></textarea>
        </label>
		<p><strong>Thanks for your business!</strong> We look forward to working with you and we hope that we can also play a role in your future projects.</p>
		<input id="submit-grpahicbutton" type="image" src="/images/buttons/submit_red.jpg" value="Submit"/>
    </form>             
      
<br /><br />
          	</div>
            <br class="clear" />
