<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
<h1><span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">TEST</span></h1>
<h2>89% of mobile app enthusiasts experience phone crashes.</h2>
<img src="/images/dont_crash_example.gif" align="right" style="padding:6px 2px 6px 10px;">
<p>Mobile apps need both functional and usability testing. It's difficult and expensive to buy handsets and subscriptions or find users that are in-market for functional and usability testing. Due to time pressures, developers may release software without any user feedback or handset testing at all! It's no wonder that 89% of mobile app enthusiasts experience app crashes and less than 5% of mobile apps are still in use 3 months after downloading.</p>
<p>For companies using <span style="font-family:Helvetica,Arial,sans-serif;">MOB</span><span class="mobred">TEST</span>, this means they can:</p>
     <p><b>Reduce Costs from 65% to 90%</b> - After all, lower costs equal to greater profits for your business.</p>
		<p><b>Improve Time to Market</b> - Our testing community is available at the click of a button to help you test your application and in some cases can accelerate testing by 80%!</p>
		<p><b>Maximize Handset and Carrier Coverage</b> - With thousands of handsets on over 350 network operators in over 150 countries, you've got a world of opportunity. </p>
<blockquote>
	<div class="quote-top"></div>
	<div class="quote">Want to make sure your app works in every country on the planet?</div>
    <div class="quote-bottom"></div>
   	<cite class="author">Peggy Anne Salz, <span style="font-weight:normal;"><a href="http://www.MSearchGroove.com" target="_blank" >MSearchGroove.com</a></span></cite>
</blockquote>

<p><b>Remove Developer Bias</b> - When you look at the same code day after day, it is hard to see the forest for the trees. We will be able to give the developer a new set of eyes and ears anywhere in the world, on any handset, on any network.</p>
<p><b>Gather Early-Adopter Input</b> - It just makes sense to have technically savvy end-users be the ones to test your application. This is the market segment that gives the early thumbs-up or thumbs-down to most mobile apps. Paying them to test ensures that the job gets done with timely feedback.</p>
<img src="/images/buttons/MobExperience_Info.jpg" alt="MobTest logo" style="margin-left: -10px;" />
<h2>Some examples</h2>
<p>Mob4Hire has been used for thousands of test cycles. Here's a couple of sample projects:</p>
<ul>
<li>- <a href="http://www.mob4hire.com/the-mob/view/idproject/500" target="_blank">Egyptian Mobsters are needed to test voice and SMS quality for an international SIM card company</a></li>
<li>- <a href="http://www.mob4hire.com/the-mob/view/idproject/509" target="_blank">American iPhone Mobsters will assess a new mobile app from one of America's biggest shoe retailer and complete a survey.</a></li>
<li>- <a href="http://www.mob4hire.com/the-mob/view/idproject/482" target="_blank">Sign up for Taiwan mobile content subscription offer and confirm successful billing.</a></li>
</ul>

<p>Using Mob4Hire's crowd-sourced community for mobile application testing and market research reduces cost and time-to-market by connecting mobile developers with eager, cost-effective, crowd sourced testers and in-market focus groups, speeding up the mobile development process.</p>          	
<h2>What kind of projects can developers use Mob4Hire for? Lots!</h2>
<div class="sales_list">
<ul>
<li>VOIP</li>
<li>Mobile eCommerce</li>
<li>SMS and MMS testing</li>
<li>Ad campaigns</li>
<li>Games</li>
<li>Productivity</li>
<li>GPS and LBS apps</li>
<li>Multimedia and entertainment</li>
<li>Mobile 2.0 websites</li>
<li>Social networks</li>
<li>Mobile syncing with desktop or cloud applications</li>
<li>Server loads</li>
<li>Network operator performance</li>
<li>App performance when in "urban canyons"</li>
<li>What do YOU need to test?</li>
</ul>
</div>

<p>Mob4Hire provides a unique opportunity for developers to engage with REAL users with: real opinions, using real handsets, live-on networks, and in-market.</p><br><br>
          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />