<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid">
<h1>MOB<span class="mobred">EXPERIENCE</span></h1>
<h2>Don't let One Star user reviews kill your revenue growth.</h2>
<img src="/images/dont_suck_example.gif" align="right" style="padding:6px 2px 6px 10px;">
<p>People who download mobile apps regularly like to see a 4 + Star rating in user reviews on app stores before they'll even consider downloading or purchasing. Conversely,1 star ratings for your app will kill future revenue growth since only 3% of mobile app users say they'll download a 1 star app.<strong><br />Great software is your best marketing strategy!</strong></p><br /><br /><br />

<a href="/services/managed"><img src="/images/buttons/button-get-a-quote.gif" hspace="5" vspace="5" border="0" align="right" style="padding:6px 2px 6px 10px;"></a><p>The trick, of course, is to find out if users love your software BEFORE you release to an app store! (just in case they don't ...). Then, you can change revenue-killing bugs and bad design into killer-features that have users raving about your app.</p>
<p>That's why we created MOB<span class="mobred">EXPERIENCE</span>.  MOB<span class="mobred">EXPERIENCE</span> has been developed from over 50 years of software product management experience combined with the customer loyalty science of Dr. Bob Hayes, Ph.D. <a href="http://www.businessoverbroadway.com" target="_blank">www.businessoverbroadway.com</a>. The valuable user feedback will help you improve your users experience and increase your chances of viral revenue growth through word-of-mouth. In other words, help you create 5 Star apps!</p>

<img src="/images/mobexperience_case_study.gif" align="center" style="padding:6px 2px 6px 10px;"><br /><br />

<p>Our <a href="managed">Managed Services team</a> can help. We can quote on just running <?php echo $this->formatProduct('MOBSURVEY')?> as a panel sample (in other words, you write the survey questions and analyse the data).  Or, if you wish, we can help: design and complete the survey and help you analyze the data.</p>

<p>Ultimately, MOB<span class="mobred">EXPERIENCE</span> has been designed to give you deep, detailed analysis without you having to think too much about it. It gives vital user feedback to your product management and development teams. And, it's also a good way for your marketing team to understand what will work with their target customers as they design their product messaging and ad/link campaigns.</p>
</div></div>
<div class="red-bottom-sm"></div>
<br class="clear" />
