<div id="container_column_middle">
	<div class="red-top-sm"></div>
	<div class="red-mid" style="height: 561px;">
           	  <h1><?php echo $this->formatProduct('MOBTASKS')?></span></h1>
<h2>A Global Mobile Workforce</h2>
<img src="/images/dont_MOBTASKS_example.gif" align="right" style="padding:6px 2px 6px 10px;">
<p>Sometimes you NEED to be in a certain country to do certain things. Like take a picture. Buy a SIM or a competitors phone. Walk around. Read the language and interpret advertising. Check out virtual and real stores. Do local SEO. Do stuff.</p>
<p>You can think of the Mob4Hire crowd as a global community of people in over 152 countries, living a mobile lifestyle, that can do nearly anything you need them to (task must be ethical, of course), in exchange to being paid for their time and expertise. Our team of project managers makes sure you get quick results for your microtasks. And, thanks to our 128-bit encrypted escrow payment system, money will stay in our safekeeping until both parties agree that the tasks are complete. This guarantees your satisfaction!</p>

<p>Contact our <a href="managed">Managed Services team</a> for more information or to prepare a quote for either a single project, or an ongoing retainer to fulfill your mobile task requirements on an ongoing basis.</p>

          	</div></div>
			<div class="red-bottom-sm"></div>
            <br class="clear" />