<div id="container_column_middle">
  <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
  <div class="form-title">
		Accept bid
	</div>
	<div class="app-form-normal">
<?php if ($this->validated):?>
	<!--Start content --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

  
	<h2><?php echo  $this->project->Name;?> Project</h2>
	<h3>Bid:&nbsp;$<?php  echo number_format($this->test->bidAmount, 2);?> from <?php echo $this->tester['username']; ?></h3>
	
	<p>
		In order to accept this bid the funds below need to be transferred into escrow. These funds will not be released to the member until the work has been completed to your satisfaction. 
	</p>
	<p>Your app will be made available to the member as soon your funds have cleared.</p>      	
	<form method='post'>
	<table class="escrow-table">
		<tr>
			<td><strong>Your Mob4Hire account balance:</strong></td><td align='right'>&nbsp;$ <?php echo number_format($this->balance,2); ?></td>
		</tr>
		<tr>
			<td><strong>Member bid:</strong></td><td align='right'>&nbsp;$ <?php  echo number_format($this->test->bidAmount, 2); ?></td>
		</tr>
		<tr>
			<td><strong>Commission:</strong></td><td align='right'>&nbsp;$<?php echo number_format($this->test->commission, 2);?></td>        
		</tr>
		<?php  if ($this->salestax) {
			?>
			<tr>
				<td><strong>GST</strong></td><td align='right'>&nbsp;$<?php echo number_format($this->test->salestax, 2);?></td>        
			</tr>
		<?php 
		}
		?>
		<tr>
			<td><strong>Escrow Total:</strong></td><td align='right'>&nbsp;$<?php echo number_format($this->test->escrowAmount,2);?></td>
		</tr>
	</table>
	<?php if ($this->errorcode==1):?>
	<br/><br/>
	<strong>Message to tester (Optional)</strong><br />
	<textarea name="comments" cols="70" rows="10"></textarea>
	
		<div class="submit_buttons">
			<div class="button">
				<input type="submit" id="escrowfunds" value="Escrow Funds" />
			</div>
			<div class="button">
				<a href="/app/developer/showproject/idproject/<?php echo $this->project->idproject;?>" id="cancel"><span>Cancel</span></a>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	<?php else:?>
	<!--Not enough funds scenario display text here-->

	<p class="emphasize">Your account balance is currently not enough to escrow funds for this test.  
	<a class="emphasized-link" href="/app/index/deposit-funds/amount/<?php echo number_format($this->test->escrowAmount,2);?>">Please Deposit funds.</a></p>
	

	<?php endif;?>
	
	</form>

<?php elseif (isset($this->errorcode)):// unexpected error ?>
			<h2>canAcceptBid Error: <?php echo $this->errorcode; //TODO Make better error messages here?> </h2>
<?php elseif (isset($this->result)): ?>
	<?php if  ($this->result > 0) : //success ?>
		<p>$ <?php echo $this->test->escrowAmount;?> has been successfully deposited in Escrow. The member will be able to download your app and begin testing. You'll be able to keep in touch with them via the Mob4Hire messaging system.</p>
		<div class="submit_buttons">
		<div id="continue">
		<a href="/app/developer/showproject/idproject/<?php echo $this->test->idproject;?>"><span>Continue</span></a>
		</div>
		<div class="clear">&nbsp;</div>
		</div>
	<?php else: // unexpected error ?>
		<h2>acceptBid Error: <?php echo $this->result;?></h2>
	<?php endif;?>
<?php endif;?>
<div class="clear">&nbsp;</div>
</div>
<div class="bottom-curve">&nbsp;</div>
</div>