<div id="container_column_middle">
	<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
	<div class="form-title">Close Bidding</div>
	<div class="app-form-normal">
		<?php if (!$this->submit):?>
		<form method='post'>
		<div class="form-container">
			<h1>Close project to further applications.</h1><br/>
			<p>When you click on submit below your project will be closed to further applications from mobsters.</p>
		</div>
		<div class="submit_buttons clearfix">
			<div class="button">
				<input type="submit" name="submit" id="submit" value=""/>
			</div>
			<div class="button">
				<a href="javascript:history.back()" id="cancel" ><span>Cancel</span></a>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
		</form>
		<?php else:?>
		<div class="form-container">
			<h1>Thank you</h1><br/>
			<p>No further applications will be accepted for your project.</p>
		</div>
		<div class="submit_buttons clearfix">
			<div class="button" id="continue">
				<a href="/app/developer"><span>Continue</span></a>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
		<?php endif;?>
	</div>
	<div class="bottom-curve">&nbsp;</div>
</div>
		