<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

$idmake=$_GET['make'];
if ($idmake!=274) { // If make is other, do not display menu
	echo "<SELECT name = 'device'>\r";
	$devices=Zend_Registry::get('defSession')->gapp->getDevices($idmake);
	foreach($devices as $tid=>$name) {
		echo "<OPTION value='$tid'>$name</OPTION>\r";
	}
	echo "</SELECT>";
}
