<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

$idmake=$_GET['make'];
$iddevice=$_GET['device'];

if (isset($_GET['remove'])&&$_GET['remove']==1)
	Zend_Registry::get('defSession')->gapp->removeFilterDevice($idmake,$iddevice);
else
	Zend_Registry::get('defSession')->gapp->addFilterDevice($idmake,$iddevice);
echo '<table class="filter-options">';
if ($filterDevices=Zend_Registry::get('defSession')->gapp->getFilterDevices()) {
		$devicesadded=0;
		
	foreach($filterDevices as $idmake=>$array) {
		foreach($array as $iddevice)
		{
			if($idmake) {
				$devicesadded=1;
				$device=Zend_Registry::get('defSession')->gapp->getDevice($idmake, $iddevice);
				if (!$device)
					$device="";	
				echo "<tr><td>".$idmake." ".$device."</td>";
				echo "<td><a href='javascript:void(0)' onclick='updateHandsetFilterTable(document.form1,$idmake,$iddevice,1);'>remove</a></td>";
				echo "</tr>";
			}
		}
	}
	if (!$devicesadded) {
		echo "<tr><td>You have not added any devices</td></tr>";
	}
}
else echo "<tr><td>You have not added any devices</td></tr>";
echo '</table>';