<div id="container_column_middle">
<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
<div class="form-title">Accept Test Case</div>
<div class="app-form-normal">

<?php if ($this->validated):?>
	
	<p>		Please enter a short comment about the performance of <?echo $this->tester['username']?> on this test.<br/>
			This will enable developers to better select testers for their projects in future.<br/>
			When you click on accept below funds will be released from escrow to the tester and the test will be complete.</p>  
		
	<form name='ratetester' method='post'>
		<input type="hidden" name="submit" value="submit"/>
		<textarea cols='50' rows='4' name='comments'></textarea><br/>
		Please rate the tester for this test.
		<?php echo $this->rateUser();?>
		<br/><br/>
		<div class="submit_buttons">
			<div class="button">
				<input type="submit" name="submit" id="submit" value=""/>
			</div>

			<div class="button">
				<a href="/app/developer/showproject/idproject/<?php echo $this->test['idproject'];?>" id="cancel"><span>Cancel</span></a>   
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</form>
	
<?php elseif (isset($this->errorcode)):// unexpected error ?>
			<h2>canPayTester Errror: <?php echo $this->errorcode;?></h2>
<?php elseif (isset($this->result)): ?>
	<?php if  ($this->result > 0) : //success ?>
		<h1>Test case accepted</h1>
			<p>Thank you. Your funds have been released from escrow and <?php echo $this->tester['username'];?> has been paid.</p>					
									
									
			<a class="float-left" href="/app/developer/showproject/idproject/<?php echo $this->test['idproject'];?>"><img src="/images/buttons/continue_red.gif"/></a>   
	<?php else: // unexpected error ?>
		<h2>payTester Errror: <?php echo $this->result;?></h2>
	<?php endif;?>
<?php endif;?>
</div>
<div class="bottom-curve">&nbsp;</div>
</div>