<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");

include '../config.php';
include '../opendb.php';

// print_r(Zend_Registry::get('defSession')->gapp);
$idtester=mysql_escape_string($_GET['idtester']);
mysql_query("DELETE FROM invitedtesters WHERE appName='Zend_Registry::get('defSession')->gapp->appName' AND idtester=$idtester");
?>
			<h2>Chosen Testers</h2>
			<table summary="Tester Profiles">
				<thead>
				<tr>
					<th scope="col" class="tester-avatar"></th>
					<!--Tester Avatar Column - No Header-->
					<th scope="col" class="tester-name">Name</th>
<!-- 				<th scope="col" class="tester-rating"></th> -->
					<!--Rating Column - No Header-->
					<th scope="col" class="tester-city">Location</th>
					<th scope="col" class="tester-handset">Handset</th>
					<th scope="col" class="tester-silver-tested">Tests Completed</th>
					<th scope="col"></th>
				</tr>
				</thead>

			<tfoot>
			<tr>
				<td colspan="7"></td>
			</tr>
			</tfoot>

			<tbody>
			<?php 
			$qryInvites=mysql_query($debug="SELECT invitedtesters.*, testers.ContactFirstName,testers.ContactLastName, testers.City, testers.Avatar, regdevices.iddevice, o2devices.parent, Count(idtest) as testscompleted  FROM invitedtesters INNER JOIN testers ON testers.idtester=invitedtesters.idtester INNER JOIN regdevices ON regdevices.idtester=testers.idtester INNER JOIN o2devices ON o2devices.tid=regdevices.iddevice  left join tests on tests.idtester=testers.idtester AND tests.Status>=400 AND tests.Status!=499 WHERE invitedtesters.appName='Zend_Registry::get('defSession')->gapp->appName'  GROUP BY testers.idtester");
//			echo $debug;
			while($qryInvites && $invite=mysql_fetch_array($qryInvites)) {
				$make=Zend_Registry::get('defSession')->gapp->getMake($invite['parent']);
				$model=Zend_Registry::get('defSession')->gapp->getDevice($invite['parent'],$invite['iddevice']);
				if (!$model) {
					// look for device with make only
					$make="Unknown";
					$model=Zend_Registry::get('defSession')->gapp->getMake($invite['iddevice']);
					if (!$model) {
						$model="Device";
					}
				}
			?>
			<tr>
				<td class="tester-avatar"><img src="<?php echo $invite['Avatar'];?>" border="0" width="28" height="28"/></td>
				<td class="tester-name"><?php echo $invite['ContactFirstName']." ".$invite['ContactLastName']; ?><br />
					<span class="tester-type">Litmus tester</span>
				</td>
<!-- 			<td class="tester-rating"><img src="../images/rating-stars-3.gif" border="0" /></td> -->
				<td class="tester-city"><?php echo $invite['City'];?></td>
				<td class="tester-handset"><?php echo $make." ".$model;?></td>
				<td class="tester-silver-tested"><?php echo $invite['testscompleted'];?></td>
				<td class="tester-invite"><a href="javascript:void(0)" onclick="removeClick(<?php echo $invite['idtester'];?>)">Remove</a></td>
			</tr>
			<?php 
			}
			?>
			</tbody>
		</table>