<script type="text/javascript" src="/js/files/list.js">
</script>
<script type="text/javascript">
    $(document).ready(function(){
    
    		$("[id*=divtsc]").each( function (i){
    			// Get the id
    			var divId = this.id.substring(3);
    			preloadTable(<?php echo $this->idproject; ?>,divId);
    			
    		});
    	});
</script>
<div id="container_column_middle">
	<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
	<div class="form-title clearfix">
		<div style="float:left;">
			Test Results
		</div>
		<div id="project-status">
			For Test # <?php echo $this->test['idtest']; ?>
		</div>
	</div>
	<div class="app-form-normal">
		<div class="form-container">
			<h2>Test Details</h2>	<br/>
			<table>
				<tr>
					<?php if ( isset ($this->test['image'])) {
						$img_path = $this->profile['image'];
					} else {
						$img_path = "/images/image-not-found.gif";
					}
					?>
					<td valign="top">
						<img src="<?php echo $img_path; ?>" border="0" width='32' height='32'/>
							&nbsp;
					</td>
					<td valign="top" colspan="2">
						<div class="info">
							<div class="title">
								<?php echo $this->formatUserLink($this->test['username']);?>
							</div>
							<div style="margin:0 0 6px 0;">
								<?php echo $this->ratingBar($this->test['idtester'], $this->test['username'], 5, 'static', '');?>
							</div>
							<p>
								<?php echo $this->test['country'];?>&nbsp;
								<?php echo $this->test['network']; ?>
								<?php echo $this->test['vendor']." ".$this->test['model']; ?>
							</p>
						</div>
					</td>
				</tr>
			</table>
			<hr/>
			<?php if ( isset ($this->testresults)):?>
				<?php echo $this->mobViewHelper('os', $this->testresults->osbrand);?>
				<?php echo $this->mobViewHelper('version', $this->testresults->osversion);?>
				<?php echo $this->mobViewHelper('firmware version', $this->testresults->firmwareversion);?>
				<?php echo $this->mobViewHelper('comments', $this->testresults->extrafeedback);?>
				<?php echo $this->mobViewHelper('bugs found', $this->bugreports->count());?>
			<?php endif;?>
			<!-- View the test cases -->
			<h2>Uploaded Test Reports</h2>
			<hr/>
			<div class="form_element clearfix">
				<div class="form_label">
					<label>
						Files
					</label>
				</div>
			</div>
			<div class="form_helptip">
				&nbsp;
			</div>
			<div class="form_input">
				<div id="divtsc<?php echo $this->test['idtest']; ?>">
					<img src="/images/working.gif"/>
				</div>
			</div>
			<?php if ( isset ($this->bugreports)): ?>
				<h2>Bug Reports</h2>
				<?php $i = 1;?>
				<?php foreach ($this->bugreports as $bug):?>
					<hr/>
					<?php echo $this->mobViewHelper("Bug #$i", $bug->bugtitle);?>
					<?php echo $this->mobViewHelper("category", $bug->bugcategory);?>
					<?php echo $this->mobViewHelper("summary", $bug->briefsummary);?>
					<?php echo $this->mobViewHelper("Description", $bug->detaileddescription);?>
					<?php echo $this->mobViewHelper("Steps to reproduce", $bug->describesteps);?>
					<?php echo $this->mobViewHelper("Expected Outcome", $bug->expectedtohappen);?>
					<?php echo $this->mobViewHelper("Actual Outcome", $bug->whatdidhappen); ?>
					<?php echo $this->mobViewHelper("Prevented Usage", (($bug->preventusage)?'yes':'no'));?>
					<?php echo $this->mobViewHelper("Prevented Acceptable Usage", (($bug->acceptableusage)?'yes':'no'));?>
					<?php $i++; ?>
				<?endforeach;?>
			<?php endif;?>
			<div class="clear">&nbsp;</div>
			<h2>Comments:</h2>
			<?php echo $this->test['Comments'];?>
		</div>
		
		<div class="submit_buttons clearfix">
			<div class="button" id="continue">
				<a href="/app/developer/showproject/idproject/<?php echo $this->test['idproject'];?>"><span>Continue</span></a>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
	<div class="bottom-curve">&nbsp;</div>
</div>
