<?php
header("Cache-Control: no-cache");
header("Pragma: nocache");
/*
 * Upload data is held in a three dimensional array since there are several types of uploads
 * and executables can be uploaded for an arbitrary number of different handsets
 * Hence Generic executables are held in uploads[0][0][0] to uploadsp[0][0][z] depending on the number 
 * of files uploaded. Specific files are held in [1][0][0] to [1][0][z], up to [1][y][0] to [1][y][z]
 * depending on the number of devices selected. 
 *  
 */ 
// print_r($_FILES);

$x=$_REQUEST['x'];
$y=$_REQUEST['y'];
if (isset($_GET['z']))
	$z=$_GET['z']; // If z is set the given file is removed
else $z=-1;

// echo "x:$x y:$y z:$z";

if (isset($_GET['image']) && ($_GET['image'])==1)
	$image=1;
else
	$image=0;


	if ($z!=-1) {
		array_splice(Zend_Registry::get('defSession')->gapp->uploads[$x][$y], $z, 1); // remove array element (should really delete the file here too)
	}
	else if(!($errormessage=((isset($_FILES['testFile']))?0:"Error uploading file"))&&($errormessage=handleUploads($_FILES['testFile'], "$_SERVER[DOCUMENT_ROOT]/uploads/".Zend_Registry::get('defSession')->gapp->appName.'/',
				Zend_Registry::get('defSession')->gapp->allowedfiletypes[$x]))===TRUE) {
		if($_FILES["testFile"]['name']!="") {
			  	if(!isset(Zend_Registry::get('defSession')->gapp->uploads[$x]))
					Zend_Registry::get('defSession')->gapp->uploads[$x]=array();
				if (!isset(Zend_Registry::get('defSession')->gapp->uploads[$x][$y]))
					Zend_Registry::get('defSession')->gapp->uploads[$x][$y]=array();
				if ($image) {
			 		Zend_Registry::get('defSession')->gapp->uploads[$x][$y][0]="http://".UPLOAD_URL.rawurlencode(Zend_Registry::get('defSession')->gapp->appName).'/'.rawurlencode(str_replace(" ", "-",$_FILES["testFile"]['name']));
				}
				else
					array_push(Zend_Registry::get('defSession')->gapp->uploads[$x][$y], "http://".UPLOAD_URL.rawurlencode(Zend_Registry::get('defSession')->gapp->appName).'/'.rawurlencode(str_replace(" ", "-",$_FILES["testFile"]['name'])));
			}
		}
		else
			echo $errormessage;
	if (isset(Zend_Registry::get('defSession')->gapp->uploads[$x])&&isset(Zend_Registry::get('defSession')->gapp->uploads[$x][$y])) {
		if ($image) {
			?>
   			<img src="<?php echo Zend_Registry::get('defSession')->gapp->uploads[$x][$y][0];?>" width="102" height="102"/><br />
   			<a class="emphasize-red" href='javascript:void(0)' onClick='removeClick(<?php echo "$x,$y,0";?>)'>remove</a>
			<?php 
		}
		else {
			?>
			<table>
			<?php 
			foreach(Zend_Registry::get('defSession')->gapp->uploads[$x][$y] as $z=>$url) {
				$filename=strrchr($url, '/');
				?>
				<tr>
				<td>
				<?php echo $filename;?>
				</td>
				<td>
				<a href='javascript:void(0)' onClick='removeClick(<?php echo "$x,$y,$z";?>)'>remove</a>
				</td>
				</tr> 
				<?php  
			}
			?>
			</table>
			<?php 
		}
	}	



function handleUploads($filecontrol, $uploaddir, $allowedExtensions) {
	// TODO Implement mime type check as well as file extension`
	if (!file_exists($uploaddir))
		mkdir($uploaddir, 0700);

	if ($filecontrol['name']==NULL) // No file uploaded
		return TRUE; // Nothing to upload

	switch ($filecontrol['error']) {
		case UPLOAD_ERR_OK : 		// Value 0 : File uploaded successfully
			break;
		case UPLOAD_ERR_INI_SIZE: 	// Value 1 : File size exceeded php.ini value
		case UPLOAD_ERR_FORM_SIZE: 	// Value 2 : File size exceeded MAX_FILE_SIZE form value
			return "Your file exceeded the maximum size";
			break;
		case UPLOAD_ERR_PARTIAL: 	// Value 3 : File was only partially uploaded
			return "File was only partially uploaded";
			break;
		case UPLOAD_ERR_NO_FILE : 	// Value 4 : No file was uploaded
			return "No file was uploaded";
			break;
		default:
			return "an unknown error occured";
	}
	$ext = strtolower(strchr($filecontrol['name'],'.'));
	
	if (!in_array($ext, $allowedExtensions)) {
		return ("File type $ext not allowed");
	}
		
	$uploadfile = $uploaddir . rawurlencode(str_replace(" ", "-",basename($filecontrol['name'])));
	
	
	if (!move_uploaded_file($filecontrol['tmp_name'], $uploadfile)) {
    	return ("File upload failed. Please retry.");
	}
	else {
		chmod($uploadfile, 0600);
    	return TRUE;
	}
}
?>