
	<div>
		<h1>What We Do.</h1>
		<h2>We have sent an automated response to your email address.</h2><br />
		<p>We will assign a Sales and a Project Manager to your account who will respond directly to you as soon as possible to prepare a quote.</p>
		<p>Likely, we'll need to collect a bit more information. Our Managed Services team will assess the info you've already sent us, and may email you an additional request with some very specific questions related to your project.</p>
		<p>We look forward to making your project a success!</p>
		<p>Cheers,</p>
		<p>The Mob4Hire Team</p>
	</div>
