<script type="text/javascript" src="http://yui.yahooapis.com/2.3.0/build/utilities/utilities.js"></script>
<script type="text/javascript">
	 $(document).ready(function(){
        // make sure the project image shows on first page load if there is one
        postObject = new Object;
		postObject.fcn="projImg";
		
        $.post("/ajax/index/listfiles/", postObject, function(data){
            $("#uploads").html(data);
        });
        
		<?php if(isset($this->imageurl)): ?>
			$("#uploads").html("<img src='<?php echo $this->imageurl ?>'/>");
		<?php endif; ?>
		
        var inputTestType = $("input[name=svyPkg]");
        inputTestType.change(enableFeaturesByTestType);
        
       
        enableFeaturesByTestType();
    });
		
	function buttonClick(form){
        var allowedfiletypes = ".jpg,.jpeg,.gif,.png";
        
        filename = form.projImg.value;
        strpos = filename.lastIndexOf(".");
        extension = filename.substr(strpos).toLowerCase();
        
        if (!allowedfiletypes.match(extension)) {
            document.getElementById("uploads").innerHTML = "Only images of .jpg,.gif,.png images are accepted. " + extension + " not allowed. ";
        }
        else {
            //the second argument of setForm is crucial,
            //which tells Connection Manager this is a file upload form
            YAHOO.util.Connect.setForm(form, true);
            
            var uploadHandler = {
                upload: function(o){
                    document.getElementById("uploads").innerHTML = o.responseText;
                    form.projImg.value = ""; // reset the file control
                }
            };
            
			<?php if(isset(Zend_Registry::get('defSession')->project->idproject)): ?>
				YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/upload/?file=projImg", uploadHandler);
			<?php else: ?>
				YAHOO.util.Connect.asyncRequest("GET", "/ajax/index/uploadtemporary/", uploadHandler);
				 document.getElementById("uploads").innerHTML = '<img src="/images/working.gif" />';
			<?php endif; ?>	
        }
    }
		
   
    
    function enableFeaturesByTestType(){
        if ($("input[name=svyPkg]:checked").val() == '1') {
            // Code for handling basic tests
            // Remove the closed type of testing
            $('#inviteType-1').attr("disabled", "disabled");
            $('label[for=inviteType-1]').attr("disabled", "disabled");
			$('#inviteType-0').attr("checked", "checked");
            
   	   }
        else {
            $('#inviteType-1').removeAttr('disabled');
            $('label[for=inviteType-1]').removeAttr('disabled');
            
        }  
    }
</script>

<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title">
        Edit MobAccelerator Project
    </div>
    <div class="app-form">
    	<a href="/app/accelerator/clear" class="clear-form"><span>Clear Form</span></a>
		
        <div class="steps clearfix">
            <ul>
               <?php if(Zend_Registry::get('defSession')->project && isset(Zend_Registry::get('defSession')->project->idproject)): ?>		   
				    <li class="current-step">Step 1<br />Definition</li>
					<li><a href="/app/accelerator/selectpanel" style="text-decoration: none">Step 2<br />Panel Selection</a></li>
	        		<li><a href="/app/accelerator/resources" style="text-decoration: none">Step 3<br />Resources</a></li>
			        <li><a href="/app/accelerator/estimates" style="text-decoration: none">Step 4<br />Estimates</a></li>
				<?php else: ?>
				    <li class="current-step">Step 1<br />Definition</li>
					<li>Step 2<br />Panel Selection</li>
    	    		<li>Step 3<br />Resources</li>
			        <li>Step 4<br />Estimates</li>				
				<?php endif; ?>
            </ul>
        </div>
    	<?php echo $this->zForm; ?>
    	<div class="clear">&nbsp;</div>
	    </div>
	    <div class="bottom-curve">&nbsp;</div>
</div>
<!--End: container_column_middle_wide_app -->

