	<table class="subtable">
		<thead>
                    </thead>
                    <tfoot>
                 </tfoot>
                    
		<tbody>
			<?php $i=0; // used to swap background colour of table row ?>
			<?php foreach($this->networktable as $network) : ?>
				<tr class="<?php echo ($i%2 ? 'row_even' : 'row_odd');?>">
					<td><?php echo $this->escape($network->country.' '.(($network->network)? $network->network : 'Any'));?></td>
					<td class="remove"><a href='#' onclick='removeNetwork(<?php echo $this->escape($network->idcountry) ?>,<?php echo $this->escape($network->idnetwork) ?>)'>remove</a></td>
				</tr>
				<?php $i++;?>
			<?php endforeach; ?>
		</tbody>
	</table>
