<table class="subtable">
	 <thead>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
        <?php
        $i = 0; // used to swap background colour of table row
        ?>
        <?php
        foreach ($this->handsettable as $handset):
        ?>
        <tr class="<?php echo ($i%2 ? 'row_even' : 'row_odd');?>">
            <td>
                <?php
                echo $this->escape(substr($handset->platform, 2).' '.(($handset->vendor)?$handset->vendor:'').' '.(($handset->model)?$handset->model:'Any'));
                ?>
            </td>
            <td class="remove">
                <a href='#' onclick='removeHandset("<?php echo $this->escape($handset->platform) ?>","<?php echo $this->escape($handset->vendor) ?>","<?php echo $this->escape($handset->tid) ?>");'>
                	remove</a>
            </td>
        </tr>
        <?php
        $i++;
        ?>
        <?php
        endforeach;
        ?>
    </tbody>
</table>
