<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>
<link href="/css/buzz.css" media="screen" rel="stylesheet" type="text/css" />



</head>
<body class="buzz">
	<div id="container_site">
		<?php echo $this->render('header.phtml'); ?>
		<div id="container_content">
			<div id="container_column_left">
				<div class="left_column_submenu_top"></div>
				<div class="left_column_submenu_middle clearfix">	
					<?php echo $this->partial('/partial/sidemenu.phtml', 
										array(
												'title'=>'Buzz', 
												'currentPage'=>$this->currentPage,
												'menuitems'=>array(			array(
																		'id'=>'summary', 
																		'text'=>'Summary', 
																		'path'=>'/buzz/summary', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'', 
																		'text'=>'Company Blog', 
																		'path'=>'http://mob4hire.blogspot.com/', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'',
																		'text'=>'Twitter', 
																		'path'=>'http://twitter.com/mob4hire', 
																		'nestedmenus'=>''),
																	array(
																		'id'=>'press-releases', 
																		'text'=>'Press Releases', 
																		'path'=>'/buzz/press-releases', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'press-coverage', 
																		'text'=>'Press Coverage', 
																		'path'=>'/buzz/press-coverage', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'media-kit', 
																		'text'=>'Media Kit', 
																		'path'=>'/buzz/media-kit', 
																		'nestedmenus'=>''
																		)
																	)	
																
														
											));?>


				</div>
				<div class="left_column_submenu_bottom"></div>
				</div>
  
			<?php echo $this->layout()->content ?>
		</div>	
			<div id="container_column_right">
				<?php echo $this->rightColumnImage();?>
			</div>
	</div><!--End: container_site-->  
		<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>