<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>


</head>

<body>
	<div id="container_site">
		<?php echo $this->render('header.phtml'); ?>
		<div id="container_content">
			<div id="container_column_left">
				<div class="left_column_submenu_top"></div>
				<div class="left_column_submenu_middle clearfix">
					<?php echo $this->partial('/partial/sidemenu.phtml', 
										array(
												'title'=>'Company', 
												'currentPage'=>$this->currentPage,
												'menuitems'=>array(
																	array(
																		'id'=>'our-story', 
																		'text'=>'Our Story', 
																		'path'=>'./our-story', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'the-team',
																		'text'=>'The Team', 
																		'path'=>'./the-team', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'careers',
																		'text'=>'Careers', 
																		'path'=>'./careers', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'awards',
																		'text'=>'Awards', 
																		'path'=>'./awards', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'investor-relations',
																		'text'=>'Investor Relations', 
																		'path'=>'./investor-relations', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'contact-us',
																		'text'=>'Contact Us', 
																		'path'=>'./contact-us', 
																		'nestedmenus'=>''
																		),

											)
										));?>
				</div>
				<div class="left_column_submenu_bottom"></div>
			</div> 
			<div id="container_column_right">
				<?php echo $this->rightColumnImage();?>
			</div>
			
			<?php echo $this->layout()->content ?>
		</div>
	</div><!--End: container_site-->  
		<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>