<?php
$translate = Zend_Registry::get('Zend_Translate');
?>
<br class="clear" />
<div id="footer_box">
 <div id="footer">
        	<div class="copyright_links">
	        	<?php echo $translate->_('layouts_footer_copyrite'); ?> <?php echo date('Y');?> <?php echo $translate->_('layouts_footer_company'); ?> | <a href="/index/privacy"><?php echo $translate->_('layouts_footer_privacy'); ?></a> | <a href="/index/terms"><?php echo $translate->_('layouts_footer_terms'); ?></a> |
<a href='/mobile'><?php echo $translate->_('layouts_footer_mobile'); ?></a> 4.6.6
 	</div>
  </div>                
</div>
<!--script type="text/javascript" language="javascript" src="http://static.new.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script-->
