<?php 

// contains
//<link href="/css/rating.css" media="screen" rel="stylesheet" type="text/css" />
//<link href="/css/master.css?version=2010-06-28-1651" media="screen" rel="stylesheet" type="text/css" />
//<link href="/css/styles.css?version=2010-06-28-1651" media="screen" rel="stylesheet" type="text/css" />
//<link href="/css/item.css" media="screen" rel="stylesheet" type="text/css" />



?>
<link href="/css/main.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/supplement.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/flags/flag-icon.css" media="screen" rel="stylesheet" type="text/css" />