<div id="container_header" class="clearfix">
    <div id="logo">
        <a href="http://www.mob4hire.com"><span>Mob4Hire</span></a>
    </div>
    <div id="language_toggle_right">
        <a href="/index?lang=en"><span class="flag flag-icon flag-icon-us"></span></a>
        <a href="/index?lang=zh_TW"><span class="flag flag-icon flag-icon-cn"></span></a>
    </div>
    <?php if (!$this->currentUser): ?>
        <!-- this is where i will add 2 text boxes
        what would richard do add a headerAction in a controller or write php directly here?
        No PHP required. Simply a form whose action is the existing UserController
        -->
        <div id="container_login_register" class="clearfix">
            <?php echo $this->loginForm; ?>

        </div>



        <div id="header_right">



            <a href="/index/register">
                <span class="title"><?php echo $this->translate->_('layouts_header_join_mob4hire_title'); ?></span><br/>
                <span  style="float: left; width:150px" class="text"><?php echo $this->translate->_('layouts_header_join_mob4hire_text'); ?></span>
                <span  style="float: right" class="text_button"><?php echo $this->translate->_('layouts_header_join_mob4hire_button'); ?></span>
            </a>

            <!--a href='/social/'><img src='/images/fbconnect.png'/></a-->
        </div>

    <?php else: ?>

        <div id="logged_in_user" class="clearfix">
            <table class="header_user">
                <tr>

                    <td>
                        <div id="logged_in_username"
                             class="welcome_back"><?php echo $this->translate->_('layouts_header_welcome'); ?><br/>
                            <a href="/app"><?php echo $this->currentUser->username; ?></a><br/>
                            <a href="/app/index/account-details"><?php echo $this->translate->_('layouts_header_balance'); ?>
                                $<?php echo $this->getBalance($this->currentUser->id); ?></a>
                            <a href="/app/profile/rating"><?php echo $this->ratingBar('', $this->currentUser->username, 5, 'static', ''); ?></a>
                        </div>
                    </td>
                    <td class="header_controls">
                        <div id="logout_button"><!--<a onclick="logout()">--><a href='/index/logout'><span>logout</span></a>
                        </div>
                        <!-- <div id="home_button"><a href="/"><span>Home</span></a></div> -->
                        <div id="dashboard_button"><a href="/app"><span>Dashboard</span></a></div>

                    </td>
                </tr>
            </table>
        </div>

    <?php endif; ?>
</div>

<hr style="color:light-gray;" />

<br class="clear"/>
<!--iframe
    src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmob4hire.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35"
    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:193px; height:35px; float:right; display:block;"
    allowTransparency="true"></iframe>
<!--End: container_header-->

