<?php 
require_once 'Lib/Cache/CacheFactory.php';
require_once 'Lib/Util/Timer.php';
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<!-- for google webmaster tools testing only -->
<meta name="google-site-verification" content="Izx_2ileLM2xK83UfAFMgH29eA7dIiTedPxvLB8PI28" />

<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>

<?php
	//echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>


<script src="/js/addons/jquery.anythingslider.js" type="text/javascript" charset="utf-8"></script>

</head>
<?php flush(); ?>

<body>
	
	<div id="container_site">
		<?php 
			$headerContent = $this->render('header.phtml');
	    	echo $headerContent;
		?>
		<div id="container_content">
			<?php 
				$bodyContent = $this->layout()->content;
				echo $bodyContent;
			?>
		</div>
	</div><!--End: container_site-->  
		<?php 
			$footerContent = $this->render('footer.phtml');
			echo $footerContent;
		?>
	

</body>
</html>