<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-291346-21");
	pageTracker._trackPageview();
} catch(err) {}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Mob4Hire</title>
	<link rel="stylesheet" href="/css/mobile/mobile_app.css" />
	<link rel="stylesheet" href="/css/mobile/item_compact.css" />
	<link rel="stylesheet" href="/css/rating.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<link rel="stylesheet" href="/css/jqm/jqm-m4htheme.css" />
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
	
	<?php
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
	?>	
</head>
<body>
<div data-role="page" data-theme="m">
	<div data-role="header" style="padding-top:4px" >
		<h1><img width="120" height="13" src="/images/mobile/logo.png" alt="Mob4Hire"/></h1>
		<?php if($this->currentUser):?>
			<a href="/mobile/user/logout"  rel="external" >Logout</a>
			<a href="/mobile/app" class="ui-btn-right" rel="external" ><img src="/images/mobile/home.png" alt="Home"/></a>
		<?php endif;?>
		
		<div data-role="navbar" data-theme="m">
			<ul>
				<li><a href="/mobile/services/what" rel="external">What We Do</a></li>
				<li><a href="/mobile/services/who" rel="external">Who We Are</a></li>
				<li><a href="/mobile/services/index" rel="external">Contact Us</a></li>
			</ul>
		</div>
	
	
	<div data-role="navbar" data-theme="m">
	
</div>
	
	</div>
 	<div data-role="content" class="main">
		<?php echo $this->layout()->content ?>
	</div>
 	<div class="footer"  >
  		(c) <?php echo date('Y');?> Mob4Hire Inc.  <a rel="external" href="/index/index/fullsite">Full Site</a> | <a href="/mobile/index/terms">Terms Of Use</a>
	</div>
</div>
</body>
</html>