<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<?php
  // Copyright 2009 Google Inc. All Rights Reserved.
  $GA_ACCOUNT = "MO-291346-21";
  $GA_PIXEL = "/ga.php";

  function googleAnalyticsGetImageUrl() {
    global $GA_ACCOUNT, $GA_PIXEL;
    $url = "";
    $url .= $GA_PIXEL . "?";
    $url .= "utmac=" . $GA_ACCOUNT;
    $url .= "&utmn=" . rand(0, 0x7fffffff);
    $referer = (isset($_SERVER["HTTP_REFERER"])) ? $_SERVER["HTTP_REFERER"] : "";
    $query = $_SERVER["QUERY_STRING"];
    $path = $_SERVER["REQUEST_URI"];
    if (empty($referer)) {
      $referer = "-";
    }
    $url .= "&utmr=" . urlencode($referer);
    if (!empty($path)) {
      $url .= "&utmp=" . urlencode($path);
    }
    $url .= "&guid=ON";
    return str_replace("&", "&amp;", $url);
  }
?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title> Mob4Hire  | Crowd Testing and Research for Mobile Applications</title>
	<link href="/css/mobile.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<b class="rtop red">
  		<b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  	</b>
	<div id="content">
		<div id="logo-box">
			<div id="logo">
				<img src="/images/mobile/logo.gif" alt="Mob4Hire" />
			</div>
		</div>
		<div id="main-content">
			<?php echo $this->layout()->content ?>
		</div>
	
	</div>

<div id="footer">
  Copyright <?php echo date('Y');?> Mob4Hire Inc. | <a href="/index">Full Site</a> |<a href="/mobile/index/terms">Terms Of Use</a>
</div>
<b class="rbottom red">
		<b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
	</b>
<?php
  $googleAnalyticsImageUrl = googleAnalyticsGetImageUrl();
  echo '<img src="' . $googleAnalyticsImageUrl . '" />';?>

</body>
</html>