<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>

</head>

<body class="partners">
	<div id="container_site">
		<?php echo $this->render('header.phtml'); ?>
		<div id="container_content">
			<div id="container_column_left">
				<div class="left_column_submenu_top"></div>
				<div class="left_column_submenu_middle clearfix">	
					<?php echo $this->partial('/partial/sidemenu.phtml', 
										array(
												'title'=>'Partners', 
												'currentPage'=>$this->currentPage,
												'menuitems'=>array( array(
          												'id'=>'partners', 
          												'text'=>'Partners', 
          												'path'=>'/partners/partners', 
          												'nestedmenus'=>''
          												),
              										array(
																		'id'=>'clients', 
																		'text'=>'Clients', 
																		'path'=>'/partners/clients', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'associates',
																		'text'=>'Associates', 
																		'path'=>'/partners/associates', 
																		'nestedmenus'=>'')
																	)	
																
														
											));?>


				</div>
				<div class="left_column_submenu_bottom"></div>
				</div>
  
			<?php echo $this->layout()->content ?>
		</div>	
	</div><!--End: container_site-->  
		<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>