<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_scripts.phtml'); ?>
<?php echo $this->render('head_css_app.phtml'); ?>

<?php
	echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>
<?php
	echo $this->jQuery();
?>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
</head>

<body class="popout">
	<div id="container_site">
		<div id="container_content">
			<div id="container_column_middle_wide">
				<?php echo $this->layout()->content ?>
			</div>
			<div class="clear">&nbsp;</div>
		</div>  
			<div class="clear">&nbsp;</div>
	</div>
</body>
</html>