<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css_app.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>
<?php
	echo $this->jQuery();
?>
<?php
//	echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>
</head>

<body>
	<div id="container_site">
	<?php echo $this->render('app_header.phtml'); ?>
   
	<div id="container_content">
	  <div id="crutch">&nbsp;</div>
		<div id="container_column_left">
		  <?php 
        echo 
          $this->partial('/partial/sidemenu.phtml', 
					  array(
							'title'=>$this->translate->_('layouts_profile_menu_title'),
							'currentPage'=>$this->currentPage,
							'menuitems'=>array(
									array(
										'id'=>'index', 
										'text'=>$this->translate->_('layouts_profile_menu_general'),
										'path'=>'/app/profile/', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'mobster', 
										'text'=>$this->translate->_('layouts_profile_menu_mobster'),
										'path'=>'/app/profile/mobster', 
										'nestedmenus'=>''
									),
									/*array(
										'id'=>'developer',
										'text'=>$this->translate->_('layouts_profile_menu_developer'),
										'path'=>'/app/profile/developer', 
										'nestedmenus'=>''
									)  ,
									array(
										'id'=>'researcher',
										'text'=>$this->translate->_('layouts_profile_menu_researcher'),
										'path'=>'/app/profile/researcher', 
										'nestedmenus'=>''
									)  ,*/
									array(
										'id'=>'view',
										'text'=>$this->translate->_('layouts_profile_menu_public_profile'),
										'path'=>'/app/profile/view', 
										'nestedmenus'=>''
									)  ,

									array(
										'id'=>'rating',
										'text'=>$this->translate->_('layouts_profile_menu_view_ratings'),
										'path'=>'/app/profile/rating', 
										'nestedmenus'=>''
									)
								)
							)
					); 
			?>
  
   		<?php 
        echo 
          $this->partial('/partial/sidemenu.phtml', 
					  array(
							'title'=>$this->translate->_('layouts_profile_menu_account_title'),
							'currentPage'=>$this->currentPage,
							'menuitems'=>array(
									array(
										'id'=>'account-details', 
										'text'=>$this->translate->_('layouts_profile_menu_account_details'),
										'path'=>'/app/index/account-details', 
										'nestedmenus'=>''
									),
									array(
										'id'=>'withdraw-funds', 
										'text'=>$this->translate->_('layouts_profile_menu_account_withdraw'),
										'path'=>'/app/index/withdraw-funds', 
										'nestedmenus'=>''
									) 
								)
							)
					); 
			?>
  
  
			
		</div>
			  <div id="container_column_middle_wide">
		<?php echo $this->layout()->content ?>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
  </div><!--End: container_site-->
	<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>