<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>
<?php
	//echo $this->headTitle();
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>


</head>

<body>
	<div id="container_site">
		<?php echo $this->render('header.phtml'); ?>
		<div id="container_content">
			<div id="container_column_left">            	
            	<div class="left_column_submenu_top"></div>
				<div class="left_column_submenu_middle clearfix">
<?php echo $this->partial('/partial/sidemenu.phtml', 
										array(
												'title'=>'Our Services', 
												'currentPage'=>$this->currentPage,
												'menuitems'=>array(
																	array(
																		'id'=>'what-is-mob4hire', 
																		'text'=>'About', 
																		'path'=>'/services/what-is-mob4hire',
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'managed',
																		'text'=>'Get More Information', 
																		'path'=>'/services/managed', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'mobtestsuite',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">TESTSUITE</span>', 
																		'path'=>'/services/mobtestsuite', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'mobile-app-testing',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">TEST</span>', 
																		'path'=>'/services/mobile-app-testing', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'market-research',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">SURVEY</span>', 
																		'path'=>'/services/market-research', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'mobile-app-research',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">EXPERIENCE</span>', 
																		'path'=>'/services/mobile-app-research', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'star',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">STAR</span> Certified', 
																		'path'=>'/services/star', 
																		'nestedmenus'=>''
																		),																		
																	array(
																		'id'=>'mobsimtest',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">SIMTEST</span>', 
																		'path'=>'/services/mobsimtest', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'mobsmstest',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">SMSTEST</span>', 
																		'path'=>'/services/mobsmstest', 
																		'nestedmenus'=>''
																		),
																	array(
																		'id'=>'mobtasks',
																		'text'=>'<span class="mobblack">MOB</span><span class="mobred">TASKS</span>', 
																		'path'=>'/services/mobtasks', 
																		'nestedmenus'=>''
																		),
											)
										));?>
 				</div>
            	<div class="left_column_submenu_bottom"></div>
            </div>
			<?php echo $this->layout()->content ?>
		</div>
	</div><!--End: container_site-->  
		<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>