<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<?php echo $this->render('head_meta.phtml'); ?>
<?php echo $this->render('head_css.phtml'); ?>
<?php echo $this->render('head_scripts.phtml'); ?>

<?php
	echo $this->headScript();
	echo $this->headStyle();
	echo $this->headLink();
?>
  <script src="/js/addons/jquery.bigtarget.1.0.1.js"type="text/javascript"></script>
  <script src="/js/application.js" type="text/javascript"></script>
</head>

<body>
	<div id="container_site">
		<?php echo $this->render('header.phtml'); ?>
		<div id="container_content">
			<div id="container_column_left">
		<div class="left_column_submenu_top"></div>
				<div class="left_column_submenu_middle clearfix">
					<?php
						$menuitems=array(
										array(
												'id'=>'whatisthemob', 
												'text'=>'What Is It?', 
												'path'=>'/the-mob/whatisthemob', 
												'nestedmenus'=>''
											),
										/*array(
												'id'=>'projects', 
												'text'=>"Projects ($this->projectCount)", 
												'path'=>'/the-mob/projects', 
												'nestedmenus'=>''
											),
										array(
												'id'=>'handsets',
												'text'=>"Handsets($this->handsetCount)", 
												'path'=>'/the-mob/handsets', 
												'nestedmenus'=>''
											),
										/*array(
												'id'=>'surveys',
												'text'=>"Surveys(16)", 
												'path'=>'/the-mob/surveys', 
												'nestedmenus'=>''
											),*/
										array(
												'id'=>'testers', 
												'text'=>'Mobsters', 
												'path'=>'/the-mob/testers', 
												'nestedmenus'=>''
											),
										array(
												'id'=>'developers', 
												'text'=>'Developers & Marketers', 
												'path'=>'/the-mob/developers', 
												'nestedmenus'=>''
											),
										array(
												'id'=>'developer-networks',
												'text'=>"Carriers, OEM's, and O/S", 
												'path'=>'/the-mob/developer-networks', 
												'nestedmenus'=>''
											),
										array(
												'id'=>'market-researchers',
												'text'=>"Consumer Facing Brands", 
												'path'=>'/the-mob/market-researchers', 
												'nestedmenus'=>''
											)
									);
						if (! $this->currentUser) {
							array_push($menuitems, array(
													'id'=>'register',
													'text'=>"Register", 
													'path'=>'/user/register', 
													'nestedmenus'=>''
												)
									);

						}
																	
						echo $this->partial('/partial/sidemenu.phtml', 
										array(
												'title'=>'The Mob', 
												'currentPage'=>$this->currentPage,
												'menuitems'=>$menuitems
											));?>
 		
            </div>
	<div class="left_column_submenu_bottom"></div>
	</div>

			<?php echo $this->layout()->content ?>
		</div>
	</div><!--End: container_site-->  
		<?php echo $this->render('footer.phtml'); ?>
	

</body>
</html>