<html>
<head>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />		
</head>
<body>


<?php
	$projectStatus = array('0'=>'Awaiting bids',
				'100' => 'Draft',
				'50'=>'Bids invited',
				'101'=>'Under Review',
				'200'=>'Waiting for Project Bid Start Date',
				'201'=>'Waiting for Mobsters to Apply',
				'300'=>'Bidding Closed',
				'400'=>'Testing Ended',
				'401'=>'Completed',
				'499'=>'Closed',
				'500'=>'Archived',
				'501'=>'Deleted');
	
	$testStatus=array('0'=>'Awaiting bids', 
					'50'=>'Bid Invited',
					'75'=>'Bid Rejected',
					'100'=>'Bid Submitted',
					'200'=>'Bid Accepted (Awaiting escrow)',
					'250'=>'In progress',
					'300'=>'Test report submitted',
					'350'=>'Test report rejected',
					'400'=>'Escrow released',
					'499'=>'Test cancelled');

if($this->show==3)
{
	
	?>
		<h1>Cancel Test Page</h1>
		<h2><a href="/admin/project/canceltest">Start Again</a></h2>
	<?php 
	echo '<h3>'.$this->message.'</h3>';
	
}
elseif ($this->show==2) 
{
	?>
	<form name='selectTest' method='post' action="/admin/project/canceltest">
		<h1>Confirm Canceling of test</h1>
		<h2><a href="/admin/project/canceltest">Start Over</a></h2>
		<table class='dynamicTable' align=center border=1>
			<tbody>
				<tr>
					<td><b>Tester:</b></td>
					<td><?php echo $this->test['username']?></td>
					<td><b>Last Activitity:</b></td>
					<td><?php  $testDate=date('Y-m-d', $this->test['lasttimestamp']);
									echo $testDate;?></td>
					<td><b>Test Status:</b></td>
					<td><?php echo $testStatus[$this->test['Status']];?></td>
					<td><b>Tester Emai:</b></td>
					<td><?php echo $this->test['email'];?></td>
					
				</tr>
				<tr>
					<td><b>Bid Amount:</b></td>
					<td><?php echo '$'.$this->test['bidAmount'];?></td>
					<td><b>Commission:</b></td>
					<td><?php echo '$'.$this->test['commission'];?></td>
					<td><b>Sales Tax:</b></td>
					<td><?php echo '$'.$this->test['salestax'];?></td>
					<td><b>Total Escrow:</b></td>
					<td><?php echo '$'.$this->test['escrowAmount'];?></td>
				</tr>
				<tr>
					<td><b>Vendor:</b></td>
					<td><?php echo $this->test['vendor'];?></td>
					<td><b>Model:</b></td>
					<td><?php echo $this->test['model'];?></td>
					<td><b>Network:</b></td>
					<td><?php echo $this->test['network'];?></td>
					<td><b>Country:</b></td>
					<td><?php echo $this->test['country'];?></td>
				</tr>
				<tr>
					<td><b>Project Name:</b></td>
					<td><?php echo $this->test['projectname'];?></td>
					<td><b>Project Status:</b></td>
					<td><?php echo $projectStatus[$this->test['projectstatus']];?></td>
					<td><b>Developer:</b></td>
					<td><?php echo $this->test['devname'];?></td>
					<td><b>Project Start:</b></td>
					<td><?php echo $this->test['StartDate'];?></td>
				</tr>
			</tbody>
		</table><br/>
		
		<h2>Project Wall Messages</h2>
		<table class='dynamicTable' align=center border=1>
			<thead>
			<tr>
				<th>Poster</th>
				<th>Date Posted</th>
				<th>Message</th>
				<th>Is Deleted</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->wall as $row):?>
				<tr>
					<td><?php echo $row['postername'];?></td>
					<td><?php echo date("Y-m-d",$row['timestamp']);?></td>
					<td><?php echo $row['message'];?></td>
					<td><?php if($row['isDeleted']==1){echo 'YES';}else{echo 'NO';}?></td>
				</tr>
				<?php endforeach;?>
			</tbody>
		</table>
	Do you wish to send an email message about this test to the tester and developer?
	<select name='sendEmail'>
		<OPTION value ='1'>Yes</OPTION>
		<OPTION value ='0'>No</OPTION>
	</select>
	<input type="hidden" name="test" value="<?php echo $this->test['idtest'];?>"/><br/>
	Enter any addition information that you wish to have in the email below:<br/>
	<textarea name="messages" cols="50" rows="6"></textarea><br/>
	<input type='submit' name='cancelTest' value='Cancel Test'>
	</form>
	<?php 
}
elseif ($this->show==1) 
{
	?>
		<h1>Active Tests For <?php echo $this->projectName;?></h1>
		<h2><a href="/admin/project/canceltest">Back To Select Project Page</a></h2>
		<form name='selectTest' method='post' action="/admin/project/canceltest">
			<table class='dynamicTable' align=center border=1>
				<thead>
					<tr>
					<th>Username</th>				
					<th>Vendor</th>
					<th>Model</th>
					<th>Country</th>
					<th>Network</th>
					<th>Last Activity</th></tr>
				</thead>
				<tbody>
					<?php foreach($this->testList as $test):?>
						<tr>
							<td><a href="/admin/project/canceltest/idtest/<?php echo $test['idtest'];?>"><?php echo $test['testername'];?></a></td>
							<td><?php echo $test['make'];?></td>
							<td><?php echo $test['device'];?></td>
							<td><?php echo $test['country'];?></td>
							<td><?php echo $test['testernetwork'];?></td>
							<td><?php  $testDate=date('Y-m-d', $test['lasttimestamp']);
								echo $testDate;?></td>
						</tr>
					<?php endforeach;?>
				</tbody>
				
			</table>
		</form>
	<?php	
}
else 
{
	?>
		<h1>Cancel Test Page</h1>
		<form name='selectProject' method='post' action="/admin/project/canceltest">
			Order the list by: 
			<select name='orderBy'>
				<OPTION value ='p.StartDate DESC'>Start Date</OPTION>
				<OPTION value ='p.Name'>Project Name</OPTION>
				<OPTION value ='u.username'>Developer</OPTION>
				<OPTION value ='p.Status'>Project Status</OPTION>
			</select>
			<input type="submit" name="orderProject" value="Change Order">
			<table class='dynamicTable' align=center border=1>
				<thead>
				<tr>
					<th>Project</th>
					<th>Start Date</th>
					<th>Developer</th>
					<th>Project Status</th>
					</tr>
				</thead>
				<tbody>
				<?php foreach($this->projectList as $project):?>
					<tr>
						<td><a href="/admin/project/canceltest/idproject/<?php echo $project['idproject'];?>"><?php echo $project['Name'];?></a></td>
						<td><?php echo $project['StartDate'];?></td>
						<td><?php echo $project['username'];?></td>
						<td><?php echo $projectStatus[$project['Status']];?></td>
					</tr>
				<?php endforeach;?>
				</tbody>
			</table>
		</form>
	<?php
}
?>
</body>
