<script type="text/javascript">
$(document).ready(function() {
	showPage("all","StartDate desc", 1);
});

function showPage(mode, orderBy, pageNumber)
{
	postObject = new Object;
	postObject.orderBy = orderBy;
	postObject.pageNumber = pageNumber;
	strpos = location.href.lastIndexOf('/');
	postObject.mode = mode;

	$.post("/admin/project/listprojectsajax/", postObject, function(data){

			$("#ajaxtable").html(data);
	});

}
</script>
<div id="container_column_middle"> 
 		<div id="ajaxtable">
		<? // For the dynamically generated table see listprojectsajax.phtml and its associated controller?>
		</div>
</div><!--End: container_column_middle_wide --> 
