  <div class="current_projects">
	<b class="rtop red">
	  <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
  </b>
  <div class="form-title"><?php echo $this->title;?></div>
	<div id="sort_links">
  <ul>
		<li>Sort by:</li>
  		<li><a href="javascript:void(0)" onclick="showPage('moderation','StartDate desc,Name', 1)">Needing Moderation</a>&nbsp;|&nbsp;</li>
		<li><a href="javascript:void(0)" onclick="showPage('all','Name', 1)">Project Name</a>&nbsp;|&nbsp;</li>
  		<li><a href="javascript:void(0)" onclick="showPage('all','d.Username,Name', 1)">Developer</a>&nbsp;|&nbsp;</li>
  		<li><a href="javascript:void(0)" onclick="showPage('all','StartDate desc,Name', 1)">Start</a>&nbsp;|&nbsp;</li>
  		<li><a href="javascript:void(0)" onclick="showPage('all','Duration desc,Name', 1)">Duration</a></li>
    </ul>
  </div>
  <div id="project_listings">
      <script>
      $(".project_item a").bigTarget({
			    hoverClass: 'over', // CSS class applied to the click zone onHover    
			    clickZone : 'div:eq(0)' // jQuery parent selector
			  });
      </script>
			<?php $i=0; // used to swap background colour of table row ?>
			<?php foreach($this->projectList as $project) : ?>
     				<div class="project_item <?php echo ($i%2 ? 'row_even' : 'row_odd');?>">
				<table cellspacing="1" cellpadding="10">
				<tr>
				<td>
					<div class="project-image">
					<a href="./view/idproject/<?php echo $project->idproject?>">
						<?php 
						if($img_path = $project->ImagePath) {
							echo '<img src='.$project->ImagePath. ' height="100" width="100" alt="' . $project->Name . '" />';
						}
						else {
							echo '<img src="/images/icons/no_project_image.gif" height="100" width="100" alt="' . $project->Name . '" />';
						}
						?>
					</a>
					</div>
				</td>
				<td style="vertical-align: top">
				  <div class="title-box">
  					<div class="title"><a href="./view/idproject/<?php echo $project->idproject?>"><?php echo $this->escape($project->Name);?></a>&nbsp;-&nbsp;<?php echo $this->formatUserLink($this->escape($project->username));?>&nbsp;<span class="status">(<?php echo $this->escape(Projects::$status[$project->Status]);?>)</span></div>
								<div class="action-link">
								<a href="/admin/project/edit/<?php echo $project->idproject?>" >
									<img src="/images/buttons/edit_button.gif" title="Edit Your Project" alt="Edit"/>
								</a>
						
						</div>
  					
					
					<div class="clear">&nbsp;</div>
					</div>
					<p><?php echo $this->escape(substr($project->description, 0, 140));?></p>
					
					<?php  
					      $details_str = '';
					      if($project_date = $this->formatDate($this->escape($project->StartDate))){
					        $details_str .= $project_date;
					      }
       					if($details_str) { $details_str .= "&nbsp;-&nbsp;"; }
       					if($project_duration = $this->escape($project->Duration)){
         					$details_str .= $project_duration. '&nbsp;Day Duration';
       					}
       				if($details_str) {
       				  echo '<p class="project-details">'. $details_str. "</p>\n";
       				}
       		?>
				</td>
				</tr>
				</table>
				</div>
				<?php $i++;?>
			<?php endforeach; ?> 
	</div> 

  <div class="footer_nav_results">
    <ul>
		<?php if ($this->pageNumber > 1):  // Do not show 'Prev link 'if we are already on the first page ?>
			<li><a href="javascript:void(0)" onclick="showPage('StartDate desc', <?php echo $this->pageNumber-1;?>)">Previous</a></li>
		<?php endif;?>
		<?php for ($i=10*(int)(($this->pageNumber-1)/10)+1; $i <= 10*(int)(($this->pageNumber-1)/10)+10 && $i<=$this->numberOfPages; $i++): ?>
		  <li>
			<?php if($i!=$this->pageNumber):?>
				<a href="javascript:void(0)" onclick="showPage('StartDate desc', <?php echo $i; ?>)">
			<?php endif;?><?php echo trim($i); ?><?php if($i!=$this->pageNumber):?></a>
			<?php endif;?></li>
		<?php endfor; ?>
		<?php if  ($this->pageNumber < $this->numberOfPages):  // Do not show 'Last' link 'if we are already on the last page ?>
			<li><a href="javascript:void(0)" onclick="showPage('StartDate desc', <?php echo $this->pageNumber+1;?>)">Next</a></li>
		<?php endif;?>
		</ul>
  </div>  
		<b class="rbottom red">
      <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
    </b>  
  	</div>