<h1>Select the project that you wish to re-open</h1>
<h2><?php echo $this->message;?></h2>
<form name="ProjectList" action="/admin/project/open" method="post">
<input type="hidden" name="statusFlag" value=0 />
<b>Project Status: </b><select name="projectToOpen">
	<?php foreach($this->projectList as $project):?>
		<option value=<?php echo $project['idproject'];?>><?php echo $project['Name']?></option>
	<?php endforeach;?>
</select>
<input type="submit" value="Re-open Project"></input>
</form>
