<script type="text/javascript" src="/js/comments/comment.js"></script>
<script type="text/javascript" src="/js/files/list.js"></script>
<script type="text/javascript" src="dynamicTable_c.js"></script>
<link rel="stylesheet" href="styles/dynamicTable.css" type="text/css" />	
<script type="text/javascript">
    $(document).ready(function(){
		showComments("pro<?php echo $this->proj['idproject']; ?>")
		preloadTable(<?php echo $this->proj['idproject']; ?>,"uploadPlan");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"testOutput");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"ndaFile");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"screenShots");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"documentation");
		preloadTable(<?php echo $this->proj['idproject']; ?>,"genFiles");
		
		$("[id*=divdev]").each(function (i){
			// Get the id
			var divId = this.id.substring(3);
			preloadTable(<?php echo $this->proj['idproject']; ?>,divId);
			
		});
	});
	
	function postComment(){     	
		var comment = tinyMCE.get('comment').getContent();
		addComment("pro<?php echo $this->proj['idproject']; ?>",comment);	
    }
</script>

<h3><a href='/admin/project/listprojects' >BACK</a></h3>

<br/>
<div id="container_column_middle">
  <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
  <div class="form-title clearfix">
      <div style="float:left;">Project Overview</div>
      <div id="project-status"><?php echo Projects::$status[$this->proj['Status']]; ?></div>
  </div>
  <div id="project-overview" class="app-form">
    <div id="project-info" class="clearfix form-border-bottom">
      <div id="project-info-left">
      	<div id="project-title"><?php echo $this->proj['Name']; ?></div>
      	<div id="project-desc"><?php echo $this->showNewLines($this->escape($this->proj['description']));?>
      	<br/><br/>
      	<?php if($this->proj['Status']==201): ?>
			<form name="showProjects" action="/admin/project/confirmemails" method="post" id="project-overview">
				This project is awaiting bids would you like to send invite emails to those testers that qualify?
				<input type="hidden" name="projectID" value="<?php echo $this->idproject;?>" />
				<br/><br/><input type="submit" value="Prepare Email List" />
			</form>
		<?php elseif($this->proj['Status']==101): ?>
			<?php echo $this->styleButton("Edit","/admin/project/edit/id/".$this->idproject); ?>
		<?php endif;?>
      	
      	</div>
 
    	</div>
      
    	<div id="project-info-right">
 	      
      	  <?php
      	  if($img_path = $this->proj['ImagePath']) {
            echo '<img src=' . $img_path. ' height="100" width="100" alt="' . $this->proj['Name'] . '" /><br/>';
          }
          ?>	  
          <div id="project-username">
	<?php echo $this->proj['username'];?>        
        </div>
        <div id="project-rating">
      	<div id="rating-title">Rating</div>
	<?php echo $this->ratingBar('', $this->proj['username'],5,'static', '');?>
	      </div>
	  </div>
  	</div>
    
	<table>	
    <tr>
      <td class="label">Project Status</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>The project status helps identify which stage of the Mob4Hire system that the project is in. Note that the project may not always be publicly visible depending on it's status: Draft, In moderation, Rejected, Live (project has been posted, but "start date" hasn't arrived), In progress, Finished ("end data" is passed, but the duration period for Mobsters to return results is still active), Completed and Archived. </p></span></td>
      </td>
      <td><?php echo Projects::$status[$this->proj['Status']]; ?></td>
    </tr>	
    <tr>
      <td class="label">Test Period</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>These are the dates the project is in progress. In some projects, there may be additional time allowed for the Mobsters to return their results.</p></span></td>
      </td>
      <td><?php echo $this->formatDate($this->proj['StartDate']);?> to <?php echo $this->formatDate($this->proj['testenddate']);?>. <br/>
      Results to be completed by <?php echo $this->formatDate($this->proj['testenddate'], $this->proj['Duration']);?>.</td>
    </tr>
    <tr>
      <td class="label">Invitation</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>An invitation is how we request that you participate in a project. When considering the payment, flat fee means you will get paid a specified amount per completed test and it's non-negotiable. Bidding means that you need to suggest an amount to complete the project; when considering your bid, take into account the amount of time it will take, how complex the project is, and how much data will be transferred (as you may incur additional data costs depending on the plan you have with your network operator). Also, developers may not have an idea about the operator plans in your country, so take some time to educate the developer on special nuances of your region.</p></span></td>
      </td>
      <td>	<?php echo (($this->proj['inviteonly']) ? "Closed. Only invited Mobsters need apply." : "Open. Everyone that qualifies can apply.");?><br/>
		<?php echo (($this->proj['flatfee']) ? "Flat fee: you get paid a preset amount of $" : "Bidding: Based on the project details, suggest a bid amount.").$this->proj['budget']. "&nbsp;USD";?>      
     </td>
    </tr>
    <tr class="form-border-bottom">
      <td class="label">Description</td>
      <td class="form_helptip"></td>
      </td>
      <td><?php echo $this->proj['longDesc']; ?> </td>
    </tr>
    <tr>
      <td class="label">Type Of Test</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>A test can be either functional, or usability, or both. This is a non-restrictive field; use this info to help guide your decision to participate in the project.</p></span></td>
      </td>
      <td><?php echo $this->proj['testType']; ?> </td>
    </tr>
    <tr>
      <td class="label">Test Category</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>There are many different test categories; the developer indicates here which ones the project fits into. This is a non-restrictive field; use this info to help guide your decision to participate in the project.</p></span></td>
      </td>
      <td><?php echo $this->proj['categories']; ?> </td>
    </tr>
    <tr>
      <td class="label">Estimated Time</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>When the developer posts the project, they believe it should only take this amount of time to complete it from start to finish. Use this info to guide your bid, or in the case of a flat fee project, help you decide if it's about the right amount when you consider how much your time is worth.</p></span></td>
      </td>
      <td><?php echo $this->proj['estTime']; ?></td>
    </tr>
    <tr>
      <td class="label">Estimated Data</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>Different projects require different amounts of data to be transferred back and forth to your handset. If all you need to do is install an app, the amount of data is the size of the app. If it's a multi-media streaming app, then the amount of data will be ... way more. Use this info to help guide your bidding (or in the case of flat fee, if you can even afford to do it). Of course, your personal data charges will vary, since you might be on Wifi, or on an unlimited data plan, or maybe you have a pre-paid card with no data plan at all and you're paying an outlandish amount for every byte you receive. Whatever the case, use this info to help guide your decision to participate.</p></span></td>
      </td>
      <td><?php echo $this->proj['estData']; ?></td>
    </tr>
    <tr>
      <td class="label">Estimated Difficulty</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>When the developer posted this project, they estimated how easy or difficult they think the project is. You may or may not agree, since everyone's skill set differs. In any event, you can use this field to help you understand the scope of the project before you wish to participate. Naturally, more complicated and more difficult projects will (should!) pay more money. There are five levels of difficulty: "Easy," "Moderate," "Average," "Advanced," "Difficult."</p></span></td>
      </td>
      <td><?php echo $this->proj['testClass']; ?> </td>
    </tr>
    <tr class="form-border-bottom">
      <td class="label">Other Requirements</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>The person who posted the project may require you to have other things before deciding to participate in the project. For example, a car, a PC with a bluetooth card, a specific operating system version, a digital camera to take a picture of your handset screen, a video camera (and the ability to upload a video) to maybe record your handset screen as you move around your city, the ability to spend a weekend traveling to five towns in your areas, they may want you to shave your head, OR ... WHATEVER else they need you to have. If you DON'T have these requirements, DO NOT participate, otherwise it just wastes everyone's time. If you DO have these requirements, and they are pretty drastic, make sure you consider looking at how much you'll get paid.</p></span></td>
      </td>
      <td><?php echo $this->proj['otherReq']; ?> </td>
    </tr>
    <tr>
      <td class="label">Countries And Network Carriers</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>This is pretty important. If you aren't in that country or on carrier(s) specified, YOU DON'T QUALIFY for the project.</p></span></td>
      </td>
      <td><?php echo $this->networkTable($this->proj['idproject']);?></td>
    </tr>
    <tr>
      <td class="label">Operating System And Handsets</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>This is pretty important. If you don't have the handset(s) listed, YOU DON'T QUALIFY for the project. Be careful here; in some cases, the handset they are looking for may be named something else, or perhaps you haven't fully updated your "Device" section of your Profile. Just make sure you can do the work before you decide to participate, ok?</p></span></td>
      </td>
      <td><?php echo $this->handsetTableWithFiles($this->proj['idproject']);?></td>
    </tr>
	
	
	
	
	<tr>
      <td class="label">Generic Files </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p></p></span></td>
      </td>
	  <td><b>Generic App Files</b><br/>
		  <div id="divgenFiles"></div>
	  </td>
    </tr>
	
	
    <tr>
      <td class="label">Other selection criteria</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>The project may have a few other requirements; most notably the region where you live. Again, pay attention to this field to see if you qualify for the project.</p></span></td>
      </td>
      <td><?php echo $this->proj['region']; ?> </td>
    </tr>
    <tr class="form-border-bottom">
      <td class="label">Non-Disclosure Agreement</td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>A non-disclosure agreement (NDA) is a legal document that exists between the person who posted the project and you. Typically, these will be required in highly-private projects, and if you talk about the project, or blog about it, or take pictures and post them on public sites, then you would be violating the agreement (which in most cases is covered by international law). If required, you'll need to sign the document that is provided to you, and in most cases, fax it back to the developer before you can start on the project. EVEN IF AN NDA IS NOT REQUIRED, SECRECY IS STILL REQUIRED BY THE TERMS AND CONDITIONS OF MOB4HIRE, WHICH YOU'VE AGREED TO ALREADY. We're not fooling around here ... your confidentiality is of utmost importance.</p></span></td>
      </td>
      <td><b><?php echo $this->proj['username']; ?>  <?php echo (($this->proj['nda'])? 'DOES' : 'DOES NOT'); ?></b> require a specific non-disclosure agreement (NDA). Please note: whether an NDA is required or not, you must still follow the agreed-upon Terms and Conditions of Mob4hire regarding secrecy, confidentiality and privacy.
			 <div id="divndaFile"></div>
	  </td>
    </tr>
    
	<!-- Files -->
	<tr>
      <td class="label">Test Plans </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>The Test Plan(s) are the directions you will needs to follow to complete the test. </p></span></td>
      </td>
	  <td>These are the documents that must be followed in order to complete the test. Please read carefully before bidding.
		  <div id="divuploadPlan"></div>
	  </td>
    </tr>
	
	<tr>
      <td class="label">Test Reporting Instructions </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>These are the instructions on how the test plan should be recorded. </p></span></td>
      </td>
	  <td><b>These are the instructions on how to deliver the results. Please read carefully before bidding.</b><br/>
		  <br/><?php echo $this->proj['instructions']; ?>
		  <div id="divtestOutput"></div>
	  </td>
    </tr>
	
	<tr>
      <td class="label">Screenshots </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>These are images to help you during the testing</p></span></td>
      </td>
	  <td><br/>
		  <div id="divscreenShots"></div>
	  </td>
    </tr>
	
	

	
	<tr>
      <td class="label">Supporting Documentation </td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      	<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>Any addition files that you will need to bid on the test </p></span></td>
      </td>
	  <td><b>These are additional documents that can help you bid.</b><br/>
		  <div id="divdocumentation"></div>
	  </td>
    </tr>
	
	
	<tr>
      <td class="label">Comments To <?php echo $this->proj['username']; ?></td>
      <td class="form_helptip"><span class="whats-this"><a href="javascript:void(0);">
      			<img src="/images/icons/whats_this.gif" alt="What's This" /></a><p>In addition to the information that is found on your personal profile (such as skills and experience), this message is an opportunity for you to convince the person who posted the project WHY you would be a great selection for their project.</p></span></td>
      </td>
      <td >    	
		<?php echo $this->comments;  ?>
   	 </td>
	 </tr>	 
	  
	  <tr>
      <td class="label">Comments</td>
	  	<td colspan="2">
			<div id="commentstable"></div>
	  	</td>
	  </tr>
	  
	</table>
	<div class="submit_buttons clearfix">

    <div class="clear">&nbsp;</div>
    </div>
	</div>
	<div class="bottom-curve">&nbsp;</div>
</div><!--End: container_column_middle_wide_app --> 

<?php 
$status = array('0'=>'Awaiting bids',
				'50'=>'Bids invited',
				'75'=>'Bid rejected',
				'100'=>'Bids Submitted',
				'200'=>'Bid accepted (Awaiting Escrow)',
				'250'=>'In progress',
				'300'=>'Test report submitted',
				'350'=>'Test report rejected',
				'400'=>'Escrow released',
				'499'=>'Test cancelled');

$projectStatus = array('0'=>'Awaiting bids',
				'100' => 'Draft',
				'50'=>'Bids invited',
				'101'=>'Under Review',
				'200'=>'Waiting for Project Bid Start Date',
				'201'=>'Waiting for Mobsters to Apply',
				'300'=>'Bidding Closed',
				'400'=>'Testing Ended',
				'401'=>'Completed',
				'500'=>'Archived',
				'501'=>'Deleted');
?>
<h2>Tester Information</h2>
<table class='dynamicTable' align=center border=1>
<thead>
	<tr>
		<th>idtest</th>
		<th>Username</th>
		<th>Email</th>
		<th>Country</th>
		<th>Network</th>
		<th>Make</th>
		<th>Model</th>
		<th>Bid Amount</th>
		<th>Status</th>
		<th>Date</th>
		<th>Messages</th>
		<th>Reports</th>
	</tr>
</thead>
<tbody>


<?php
foreach($this->testList as $test): ?>
	<tr>
		<td><?php echo $test['idtest'];?></td>
		<td><?php echo $test['testername'];?></td>
		<td><?php echo $test['testeremail'];?></td>
		<td><?php echo $test['testercountry'];?></td>
		<td><?php echo $test['testernetwork'];?></td>
		<td><?php echo $test['make'];?></td>
		<td><?php echo $test['device'];?></td>
		<td><?php echo $test['bidAmount'];?></td>
		<td><?php echo $status[$test['status']];?></td>
		<td><?php $date=date('Y-m-d', $test['Timestamp']);
		echo $date;?></td>
		<td>
		<a href="/admin/project/viewmessages?user1=<?php echo $test['testername'];?>&user2=<?php echo $this->proj['username'];?>" target="new">messages</a>
		</td>
		<td>
		<?php 
		if ($test['status'] >=300 && $test['status']<499) 
		{
			echo "<a href='/admin/project/showtestreport?idtest=$test[idtest]&idproject=$this->idproject'>Test report</a>";
			}
		?>
		</td>
		
	</tr>

<?php endforeach;?>



<?php 
//while ($qryProjects && $test=$qryProjects->fetch()) {
//	$date=date('Y-m-d', $test['Timestamp']);
//	echo "<tr><td>".$test['idtest']."</td><td>".$test['testername']."<br/>".$test['testercountry']."</td><td><a href='mailto:".$test['EmailAddress']."'>".$test['EmailAddress']."</a></td><td>".$test['country']."</td><td>".$test['network']."</td><td>".$test['make']."</td><td>".$test['device']."</td><td>".$test['bidAmount']."</td><td>".$status[$test['Status']]."<td>".$date."</td>";
//	// messages between tester and developer
//	echo "<td><a href='./messages.php?user1=$test[testername]&user2=<developer name>' target='_new'>messages</a></td><td>";
//	//add admin actions here	
//	if ($test['Status'] >=300 && $test['Status']<499) {
//		echo "<a href='./showtestreport.php?idtest=$test[idtest]'>Test report</a>";
//	}
//	echo "</td></tr>";
//	
//}
?>
</tbody></table>