<h1>Messages between <?php echo $this->developer.' and '.$this->tester;?></h1>
<?php foreach($this->items as $item)
{
	if($item['owner']==$this->testerID)
	{
		echo '<b>Owner: </b>'.$this->tester.'<br/>';
		echo '<b>Sender: </b>'.$this->developer.'<br/>';
	}
	else
	{
		echo '<b>Owner: </b>'.$this->developer.'<br/>';
		echo '<b>Sender: </b>'.$this->tester.'<br/>';
	}
	
	echo '<b>Subject: </b>'.$item['subject'].'<br/>';
	echo '<b>Message: </b>'.$item['message'].'<br/><br/>';
}?>