<form name="payment" action="/admin/community/account-details" method="post">

<h1>View User Account Details</h1>
Enter username: <input type="text" name="iduser" />
<input type="submit" value="Search By Username" />
</form>
<form name="payment2" action="/admin/community/account-details" method="post">
<input type="hidden" name="emailCheck" value="1"/>
Enter user's email address: <input type="text" name="email" />
<input type="submit" value="Search By Email Address" />
</form>
<div id="container_column_middle">
  <b class="rtop red">
    <b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b>
  </b>
	<div class="form-title">
      Account Details             
  </div>
  <div class="account_transactions">
    <table>
      <tr id="month_balance">
        <td colspan="6">
          <div class="clearfix">
            <div id="month-selector-form">
            	<form class="month_selector">
              	<!--<select>
                  <option value="current_month">This Month</option>
                  <option value="past_30">Past 30 Days</option>
                  <option value="august">August 2009</option>
                  <option value="july">July 2009</option>
                </select>-->
              </form>
            </div>
            <div id="balance"><strong><?php if($this->showStuff==1){echo $this->username."'s ";} ?>Current Balance: $<?php if($this->showStuff==1){echo $this->getBalance($this->iduser);}?> USD</strong></div>
          </div>
        </td>
      </tr>
      <tr>
      	<th><a href="#">Date</a></th>
      	<th><a href="#">Description</a></th>
      	<th><a href="#">Code</a></th>
      	<th><a href="#">Debit</a></th>
      	<th><a href="#">Credit</a></th>
      	<th><a href="#">Balance</a></th>
      </tr>
    
    	<?php $i=0; // used to swap background colour of table row ?>
    	<?php if($this->showStuff==1):?>
    	<?php foreach($this->account as $transaction):?>

    			<tr class="<?php echo ($i%2 ? 'row_even' : 'rowodd');?>">
    		<td><?php echo date("Y-m-d",$transaction->Timestamp);?></td>
    		<td><a href="/admin/community/edit-transaction/transactionid/<?php echo $transaction->transactionid;?>"><?php if($transaction->transactiontype){echo $transaction->transactiontype;}else{echo '----';}?></a></td>
    		<td><?php echo $transaction->transactioncode;?></td>
    		<td class="currency"><?php echo (($transaction->amount < 0) ? number_format(-1*$transaction->amount, 2, '.','') : '&nbsp;');?></td>
    		<td class="currency"><?php echo (($transaction->amount > 0) ? $transaction->amount : '&nbsp;');?></td>
    		<td class="currency"><?php echo $transaction->newBalance;?></td>
    	</tr>
    	<?php $i++;?>
    	<?php endforeach;?>
		<?php endif;?>
     	<tr class="footer-results">
         	<td>&nbsp;</td>
         	<td>&nbsp;</td>
         	<td align="right"></td>
             <td class="currency"></td>
             <td class="currency"></td>
             <td>&nbsp;</td>
       </tr>
    </table>
  </div>
  <b class="rbottom red">
    <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
  </b>
</div><!--End: container_column_middle_wide_app-->
<?php echo '<h2>'.$this->message.'</h2>';?>
