<h1>Assign Device</h1>
<h2><a href="/admin/community/listmanualid">BACK</a></h2>
<form name="tryit" action="/admin/community/assigndevice" method="post">
	<table>
	<tr>
	<td>
		<?php echo $this->form->getElement('platform');?>
	</td>
	<td>
		<?php echo $this->form->getElement('vendor');?>
	</td>
	<td>
		<?php echo $this->form->getElement('model');?>
	</td>
	<td>
		<input type="submit" value="assign"/>
	</td>
	</table>
<input type="hidden" name="idreg" value="<?php echo $this->idreg;?>" />
<?php echo $this->message;?>
</form>