<html>
<head>
<?php  $transactioncodes=array(0 => 'Paypal deposit',1 => 'Paypal withdrawal',
			2 => 'escrow in - pay for test',3 => 'escrow out - get paid for test',
			4 => 'escrow out - escrow returned to developer',5 => 'premium commision fee',
			6 => 'managed services fee', 7 => 'error adjustment payment' , 
			8 => 'transfer funds', 9 => 'manual deposit', 10 => 'manual withdrawal',
			11 => 'mobster bonus',12 => 'error adjustment withdrawal');
			$transType="Credit";?>
		
</head>
<body>

<form name="payment" action="/admin/community/edit-transaction" method="post">
<h1>Edit Account Transaction</h1>
<table>
	<tbody>
	<tr>
		<td><b>Transaction ID:</b></td>
		<td><?php echo $this->transInfo['transactionid'];?></td>
		<td><b>Username:</b></td>
		<td><?php echo $this->username;?></td>
		<td><b>Test ID:</b></td>
		<td><?php if($this->transInfo['idtest']>0){ echo $this->transInfo['idtest'];}else{echo 'N/A';}?></td>
	</tr>
	<tr>
		<td><b>Date:</b></td>
		<td><?php echo date("F j, Y",$this->transInfo['Timestamp']);?></td>
		<td><b>Transaction Code:</b></td>
		<td><?php echo $this->transInfo['transactioncode'];?></td>
		<td><b>Transaction Type:</b></td>
		<td><?php echo $transactioncodes[$this->transInfo['transactioncode']];?></td>
	</tr>
	<tr>
		<td><b>Amount:</b></td>
		<td>$<?php if($this->transInfo['amount']>0)
		{
			echo $this->transInfo['amount'];
		}
		else
		{
			$transType="Debit";
			echo -1*$this->transInfo['amount'];
		}?></td>
		<td><b>Payment Type:</b></td>
		<td><?php echo $transType;?></td>
		<td><b>New Balance:</b></td>
		<td>$<?php echo $this->transInfo['newBalance'];?></td>
		
	</tr>
	<tr>
		<td><b>Description:</b></td>
		<td colspan="5"><input type="text" name="description" value="<?php echo $this->transInfo['transactiontype'];?>" size="80" /> </td>
	</tr>
	</tbody>
</table>
	<input type="submit" value="Edit Description" /><br/>
	<?php if($this->check==1):?>
	<a href="/admin/community/account-details/iduser/<?php echo $this->iduser;?>">Update Successful. Click here to return to account details.</a>
	<?php endif;?>
	<input type="hidden" name="transid" value="<?php echo $this->transInfo['transactionid'];?>"/>
	<input type="hidden" name="iduser" value="<?php echo $this->iduser;?>"/>
</form>

</body>