<form name="payment" action="/admin/community/payment" method="post">
	<h1>Manual Payments and Adjustment Page</h1>
	<h2><?php echo $this->message;?></h2>
	Enter username:<input type="text" name="iduser" value="<?php echo $this->iduser;?>" <?php if($this->check!=1){echo 'disabled="disabled"';}?>/>
	User paying:<input type="text" name="iduserout" value="<?php echo $this->iduserout;?>" <?php if($this->check!=1){echo 'disabled="disabled"';}?>/> (Only needed for transfer actions)
	<br/>
	Enter the dollar amount to add:<input type="text" name="amount" value="<?php echo $this->amount;?>" <?php if($this->check!=1){echo 'disabled="disabled"';}?>/><br/>
	Payment Type:<select name="codeSelected" <?php if($this->check!=1){echo 'disabled="disabled"';}?>>
	<option value=-1 <?php if($this->codeSelected==-1) echo 'SELECTED';?>>- - - -</option>
	<option value=1 <?php if($this->codeSelected==1) echo 'SELECTED';?>>Paypal Withdraw</option>
	<option value=6 <?php if($this->codeSelected==6) echo 'SELECTED';?>>Managed Service Fee</option>
	<option value=7 <?php if($this->codeSelected==7) echo 'SELECTED';?>>Error Adjustment Payment</option>
	<option value=8 <?php if($this->selected==8) echo 'SELECTED';?>>Transfer Funds</option>
	<option value=9 <?php if($this->selected==9) echo 'SELECTED';?>>Manual Deposit</option>
	<option value=10 <?php if($this->selected==10) echo 'SELECTED';?>>Manual Withdraw</option>
	<option value=11 <?php if($this->selected==11) echo 'SELECTED';?>>Mobster Bonus</option>
	<option value=12 <?php if($this->codeSelected==12) echo 'SELECTED';?>>Error Adjustment Charge</option>
	</select><br/>
	<h3>System Messages</h3>
	Brief Description: <input type="text" name="sub" value="<?php echo $this->sub;?>" <?php if($this->check!=1){echo 'disabled="disabled"';}?>/> If paypal withdraw put Txid number here<br/>
	Enter any additional notes below:<br/>
	<textarea name="comments" COLS=40 ROWS=6 <?php if($this->check!=1){echo 'disabled="disabled"';}?>><?php echo $this->comments;?></textarea><br/>
	<input type="submit" name="doit" value="<?php echo $this->buttonMessage;?>" />

	<input type="hidden" name="check" value="<?php echo $this->check;?>"/>
	<input type="hidden" name="id" value="<?php echo $this->iduser;?>"/>
	<input type="hidden" name="idout" value="<?php echo $this->iduserout;?>"/>
	<input type="hidden" name="pay" value="<?php echo $this->amount;?>"/>
	<input type="hidden" name="sub1" value="<?php echo $this->sub;?>"/>
	<input type="hidden" name="comments1" value="<?php echo $this->comments;?>"/>
	<input type="hidden" name="code" value="<?php echo $this->codeSelected;?>"/>
</form>
<form name="payment2" action="/admin/community/payment" method="post">
	<input type="submit" name="dont" value="Cancel" />
	<input type="hidden" name="checkCancel" value="1"/>
</form>