
<?php if($this->comments && count($this->comments) > 0): ?>
    <?php foreach ($this->comments as $c): ?>
		
		<div id="commentbox">
			
			<div id="commentremove">
				<?php if($this->canDelete($c)): ?>
						<a onclick="removeComment(<?php echo $c['idcomment'];?>);">
	             	  	 <div id="divWorkToggle<?php echo $c['idcomment'];?>">
							 <img src="/images/icons/delete.png" alt="remove">
						 </div>
						</a>
			<?php endif; ?>
			
			</div>
			<div id="commentmessage">
				<?php  echo $c['message']; ?>
			</div>
		</div>

		

		<div id="commentfooter">
			Posted By <a href='/app/profile/view/user/<?php echo $c['username']; ?>'>
					<?php  echo  $c['username']; ?>
				</a> on <?php echo $this->formatDate($c['posted']); ?> at 
				<?php echo $this->formatTime($c['posted']); ?>
				<!--<a href="" style="color: blue;"> Comment</a>-->
		</div>
	 <?php endforeach;?>
<?php endif; ?>


