<script type="text/javascript" src="/js/files/list.js"></script>
<script type="text/javascript">
    
	// Preloads the file tables (method in files/list.js
	$(document).ready(function() {
		preloadTable(<?php echo $this->idproject ?>,<?php echo $this->divtag ?>);
	});
							
</script>
<div id="container_column_middle">
	<b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
  <div class="form-title">
    Download Application
</div>

<div class="app-form">
	
  <?php if($this->files && count($this->files) > 0): ?>
  <table class="subtable"> 
	    <thead>
	    <tr>
	    	<td width="20px"></td>
			<td width="70%"><p>Available Files</p></td>
			<td></td>	
			</tr>	
	    </thead>
	    <tfoot>
	    </tfoot>
	    <tbody>
	        <?php $i = 0; // used to swap background colour of table row ?>
	        <?php foreach ($this->files as $file): ?>
        <tr class="<?php echo ($i%2 ? 'row_odd' : 'row_even');?>">		
			    <td>
				    <a href="/app/project/download/<?php echo $file['idfiles'] ?>" target="_blank">
							<?php  echo $this->escape($file['filename']); ?> 						
	                </a>
	            </td>
	        </tr>

	       <?php $i++; ?>
	        <?php endforeach; ?>
	    </tbody>
	</table>
 <?php else: ?>
 	<h2> No Application Files Required For Downloading</h2>
	<p>There are no specific application files that are required by the developer for you to download. </p>
		<p>Please refer to the project page <a href="/app/mobster/showproject/idproject/<?php echo $this->test['idproject']?>">HERE</a> for more information on the testing process</p>
	<?php endif; ?>
  </div>

  <div class="bottom-curve">&nbsp;</div>
  </div>