<?php
// This is the in progress view for the project
?>
<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
    <div class="form-title clearfix">
        <div style="float:left;">
            Project Testing
        </div>
        <div id="project-status">
            <?php
            echo Projects::$status[$this->project['Status']];
            ?>
        </div>
    </div>
    <div class="app-form-normal">
        <div id="project-overview">
            <div id="project-info" class="clearfix form-border-bottom">
                <div id="project-info-left">
                    <div id="project-title">
                        <?php
                        echo $this->project['Name'];
                        ?>
                    </div>
                    <div id="project-desc">
                        <?php
                        echo $this->showNewLines($this->escape($this->project['description']));
                        ?>
                    </div>
                </div>
                <div id="project-info-right">
                    <?php
                    echo $this->getProjectImage($this->project);
                    ?>
                    <div id="project-username">
                        <?php
                        echo $this->formatUserLink($this->project['username']);
                        ?>
                    </div>
                    <div id="project-rating">
                        <div id="rating-title">
                            Rating
                        </div>
                        <br/>
                        <?php
                        echo $this->ratingBar($this->project['iddeveloper'], $this->project['username'], 5, 'static', '');
                        ?>
                    </div>
                </div>
            </div>
            <h1> Project Details</h1>
            <table>
                <tr>
                <td class="label">
                    Project Status
                </td>
                <td class="form_helptip">
                    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
                        <p>
                            The project status helps identify which stage of the Mob4Hire system that the project is in. Note that the project may not always be publicly visible depending on it's status: Draft, In moderation, Rejected, Live (project has been posted, but "start date" hasn't arrived), In progress, Finished ("end data" is passed, but the duration period for Mobsters to return results is still active), Completed and Archived. 
                        
                        </p></span>
                    
                </td>
                <td>
                    <?php
                    echo Projects::$status[$this->project['Status']];
                    ?>
                </td>
            </tr>
            <tr>
            <td class="label">
                Test Period
            </td>
            <td class="form_helptip">
                <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
                    <p>
                        These are the dates the project is in progress. In some projects, there may be additional time allowed for the Mobsters to return their results.
                    </p>
                </span>
            </td>
            <td>
                <?php
                echo $this->formatDate($this->project['StartDate']);
                ?>
                to 
                <?php
                echo $this->formatDate($this->project['testenddate']);
                ?>
                . 
                <br/>
                Results to be completed by 
                <?php
                echo $this->formatDate($this->project['testenddate'], $this->project['Duration']);
                ?>
                .
            </td>
        </tr>
        <tr>
        <td class="label">
            Invitation
        </td>
        <td class="form_helptip">
            <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
                <p>
                    An invitation is how we request that you participate in a project. When considering the payment, flat fee means you will get paid a specified amount per completed test and it's non-negotiable. Bidding means that you need to suggest an amount to complete the project; when considering your bid, take into account the amount of time it will take, how complex the project is, and how much data will be transferred (as you may incur additional data costs depending on the plan you have with your network operator). Also, developers may not have an idea about the operator plans in your country, so take some time to educate the developer on special nuances of your region.
                </p>
            </span>
        </td>
        <td>
            <?php
            echo (($this->project['inviteonly'])?"Closed. Only invited Mobsters need apply.":"Open. Everyone that qualifies can apply.");
            ?>
            <br/>
            <?php
            echo (($this->project['flatfee'])?"Flat fee: you get paid a preset amount of $":"Bidding: Based on the project details, suggest a bid amount.").$this->project['budget']."&nbsp;USD";
            ?>
        </td>
    </tr>
    <tr class="form-border-bottom">
    <td class="label">
        Description
    </td>
    <td class="form_helptip">
    </td>
    <td>
        <?php
        echo $this->project['longDesc'];
        ?>
    </td>
</tr>
<tr>
<td class="label">
    Type Of Test
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            A test can be either functional, or usability, or both. This is a non-restrictive field; use this info to help guide your decision to participate in the project.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['testType'];
    ?>
</td>
</tr>
<tr>
<td class="label">
    Test Category
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            There are many different test categories; the developer indicates here which ones the project fits into. This is a non-restrictive field; use this info to help guide your decision to participate in the project.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['categories'];
    ?>
</td>
</tr>
<tr>
<td class="label">
    Estimated Time
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            When the developer posts the project, they believe it should only take this amount of time to complete it from start to finish. Use this info to guide your bid, or in the case of a flat fee project, help you decide if it's about the right amount when you consider how much your time is worth.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['estTime'];
    ?>
</td>
</tr>
<tr>
<td class="label">
    Estimated Data
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            Different projects require different amounts of data to be transferred back and forth to your handset. If all you need to do is install an app, the amount of data is the size of the app. If it's a multi-media streaming app, then the amount of data will be ... way more. Use this info to help guide your bidding (or in the case of flat fee, if you can even afford to do it). Of course, your personal data charges will vary, since you might be on Wifi, or on an unlimited data plan, or maybe you have a pre-paid card with no data plan at all and you're paying an outlandish amount for every byte you receive. Whatever the case, use this info to help guide your decision to participate.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['estData'];
    ?>
</td>
</tr>
<tr>
<td class="label">
    Estimated Difficulty
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            When the developer posted this project, they estimated how easy or difficult they think the project is. You may or may not agree, since everyone's skill set differs. In any event, you can use this field to help you understand the scope of the project before you wish to participate. Naturally, more complicated and more difficult projects will (should!) pay more money. There are five levels of difficulty: "Easy," "Moderate," "Average," "Advanced," "Difficult."
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['testClass'];
    ?>
</td>
</tr>
<tr class="form-border-bottom">
<td class="label">
    Other Requirements
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            The person who posted the project may require you to have other things before deciding to participate in the project. For example, a car, a PC with a bluetooth card, a specific operating system version, a digital camera to take a picture of your handset screen, a video camera (and the ability to upload a video) to maybe record your handset screen as you move around your city, the ability to spend a weekend traveling to five towns in your areas, they may want you to shave your head, OR ... WHATEVER else they need you to have. If you DON'T have these requirements, DO NOT participate, otherwise it just wastes everyone's time. If you DO have these requirements, and they are pretty drastic, make sure you consider looking at how much you'll get paid.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['otherReq'];
    ?>
</td>
</tr>
<tr>
<td class="label">
    Countries And Network Carriers
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            This is pretty important. If you aren't in that country or on carrier(s) specified, YOU DON'T QUALIFY for the project.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->networkTable($this->project['idproject']);
    ?>
</td>
</tr>
<tr>
<td class="label">
    Operating System And Handsets
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            This is pretty important. If you don't have the handset(s) listed, YOU DON'T QUALIFY for the project. Be careful here; in some cases, the handset they are looking for may be named something else, or perhaps you haven't fully updated your "Device" section of your Profile. Just make sure you can do the work before you decide to participate, ok?
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->handsetTable($this->project['idproject']);
    ?>
</td>
</tr>
<tr>
<td class="label">
    Other selection criteria
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            The project may have a few other requirements; most notably the region where you live. Again, pay attention to this field to see if you qualify for the project.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['region'];
    ?>
</td>
</tr>
<tr>
<td class="label">
    Non-Disclosure Agreement
</td>
<td class="form_helptip">
    <span class="whats-this"><a href="javascript:void(0);"><img src="/images/icons/whats_this.gif" alt="What's This" /></a>
        <p>
            A non-disclosure agreement (NDA) is a legal document that exists between the person who posted the project and you. Typically, these will be required in highly-private projects, and if you talk about the project, or blog about it, or take pictures and post them on public sites, then you would be violating the agreement (which in most cases is covered by international law). If required, you'll need to sign the document that is provided to you, and in most cases, fax it back to the developer before you can start on the project. EVEN IF AN NDA IS NOT REQUIRED, SECRECY IS STILL REQUIRED BY THE TERMS AND CONDITIONS OF MOB4HIRE, WHICH YOU'VE AGREED TO ALREADY. We're not fooling around here ... your confidentiality is of utmost importance.
        </p>
    </span>
</td>
<td>
    <?php
    echo $this->project['username'];
    ?>
    <?php
    echo (($this->project['nda'])?'does':'does not');
    ?>
    require a specific non-disclosure agreement (NDA). Please note: whether an NDA is required or not, you must still follow the agreed-upon Terms and Conditions of Mob4hire regarding secrecy, confidentiality and privacy.
</td>
</tr>
</table>
</div>
<hr/><h1>Actions </h1>


<?php
$status = array ('0'=>'Awaiting bids',
'50'=>'Bid invited',
'75'=>'Your bid has been declined<br/>Try bidding again',
'100'=>'Bid Submitted',
'200'=>'Bid Accepted<br/>Awaiting funds transfer',
'250'=>'Bid Accepted<br/>App is available to download',
'300'=>'Test case submitted',
'350'=>'Test case rejected',
'400'=>'Escrow released',
'499'=>'Test cancelled');

$i = 0;
$test = $this->test;


if ($test['Status'] == 250) {
    $container = "silver-horizontal-container-go";
}
else if ($test['Status'] == 75) {
    $container = "silver-horizontal-container-stop";
}
else {
    $container = "silver-horizontal-container";
}
$i++;
?>
<div class="<?php echo $container; ?>" style="height:80px">
    <div class="silver-column-left" >
    </div>
    <div class="silver-column-mid">
        <div class="silver-column-mid-left">
            <table>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td valign="top" class="status-title">
                                    Status:
                                </td>
                                <td>
                                    <?php
                                    echo $status[$test['Status']];
                                    ?>
                                </td>
                            </tr>
                        </table>
                        <?php
                        // Messages to tester go here
                        if ($test['Status'] == 250) {
                            echo '<div class="time-remaining">';
                            $output = $this->showTimeRemaining($test['Timestamp'], $test['Duration'])." to submit your test case";
                            echo (($output == -1)?"Time expired":$output);
                            echo '</div>';
                        }
                        ?>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear">
            &nbsp;
        </div>
    </div>
    <div class="silver-column-right">
        <ul>
            <?php
            switch($test['Status']) { // buttons go here
                case 0:
                    break;
                case 50:
                    break;
                case 75:
            ?>
            <li>
                <a href="/app/mobster/submitnewbid/idtest/<?php echo $test['idtest'];?>" class="bid-again"><span>Bid again</span></a>
            </li>
            <?php
            break;
            case 100:
                case 200:
            ?>
          <?php
            break;
            case 250:
            ?>
            <li>
                <a href="/app/mobster/submittestresults/idtest/<?php echo $test['idtest'];?>" class="submit-test-case"><span>Submit Test Case</span></a>
            </li>
            <li>
                <a href="/app/mobster/downloadtestcase/idproject/<?php echo $this->project['idproject'];?>" class="get-test-case"><span>Get Test Case</span></a>
            </li>
           <?php
            break;
            }
            //END OF SWITCH
            ?>
        </ul>
    </div>
</div>
 
 
<h1>Project Resources </h1>
<?php
echo $this->render('partial/viewfiles.phtml');
?>

<h1>Comments</h1>
<table>
  
<tr>
	<td colspan='3'>
		<!-- Project Wall -->
		<div id="wall-container" class="wall-container">
			<?php // echo $this->showWall($this->project['idproject'], 1,true,1,3,0); ?>
		</div>
	</td>
</tr>
</table>
</div>
<div class="bottom-curve">
    &nbsp;
</div>
</div>
