<?php $translate = Zend_Registry::get('Zend_Translate'); ?>

<div id="container_column_middle">
    <b class="rtop red"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>

    <div class="form-title"><?php echo $translate->_('app_mobster_submitbid_title'); ?></div>
    <div class="app-form-normal">
        <?php if ($this->bidSubmitted): ?>
            <div class="form-container">
                <h1><?php echo $translate->_('app_mobster_submitbid_bidSubmittedH'); ?></h1>    <br/>

                <p><?php echo $translate->_('app_mobster_submitbid_bidSubmittedP'); ?><a
                        href="/the-mob/testers-faq/"><?php echo $translate->_('app_mobster_submitbid_faq'); ?></a></p>

                <div class="clear">&nbsp;</div>
            </div>

            <div class="submit_buttons clearfix">
                <div class="button" id="continue">
                    <a href="/app/mobster"><span><?php echo $translate->_('app_mobster_submitbid_continue'); ?></span></a>
                </div>
                <div class="clear">&nbsp;</div>
            </div>

        <?php elseif (isset($this->idproject)): ?>

        <?php if ($this->currentUser->username == $this->app->devUsername): ?>
            <h1><?php echo $translate->_('app_mobster_submitbid_error'); ?></h1>
            <p><?php echo $translate->_('app_mobster_submitbid_errorP'); ?></p>
            <div class="submit_buttons clearfix">
                <div class="button" id="continue">
                    <a href="/app/mobster"><span><?php echo $translate->_('app_mobster_submitbid_continue'); ?></span></a>
                </div>
                <div class="clear">&nbsp;</div>
            </div>
        <?php elseif (($this->app->status != 201) || ((int)$this->app->maxTesters && $this->app->testsinprogress >= $this->app->maxTesters)): ?>
            <h1><?php echo $translate->_('app_mobster_submitbid_sorryTesting'); ?></h1>
            <p><?php echo $translate->_('app_mobster_submitbid_sorryTestingP'); ?></p>
            <div class="submit_buttons clearfix">
                <div class="button" id="continue">
                    <a href="/app/mobster"><span><?php echo $translate->_('app_mobster_submitbid_continue'); ?></span></a>
                </div>
                <div class="clear">&nbsp;</div>
            </div>
        <?php elseif (!$this->canApply): ?>
            <h1><?php echo $translate->_('app_mobster_submitbid_sorryDevice'); ?></h1>
            <p><?php echo $translate->_('app_mobster_submitbid_sorryDeviceP1'); ?></p>
            <p><?php echo $translate->_('app_mobster_submitbid_sorryDeviceP2'); ?><a
                    href='/app/profile/mobster'><?php echo $translate->_('app_mobster_submitbid_sorryDeviceA1'); ?></a><?php echo $translate->_('app_mobster_submitbid_sorryDeviceA2'); ?>
            </p>
            <div class="submit_buttons clearfix">
                <div class="button" id="continue">
                    <a href="/app/mobster"><span><?php echo $translate->_('app_mobster_submitbid_continue'); ?></span></a>
                </div>
                <div class="clear">&nbsp;</div>
            </div>

        <?php else: ?>
        <form name='submitbid' method='post'
              action="/app/mobster/submitbid/idproject/<?php echo $this->app->idproject; ?>">
            <input type="hidden" name="submit" value="submit">

            <?php if (isset($this->errors[0])): ?>
                <?php $errormsg = array($translate->_('app_mobster_submitbid_errorMsg1') => $translate->_('app_mobster_submitbid_errorMsgOpt1'),
                    $translate->_('app_mobster_submitbid_errorMsg2') => $translate->_('app_mobster_submitbid_errorMsgOpt2'), $translate->_('app_mobster_submitbid_errorMsg3') => $translate->_('app_mobster_submitbid_errorMsgOpt3'), $translate->_('app_mobster_submitbid_errorMsg4') => $translate->_('app_mobster_submitbid_errorMsgUrl1') . '<a href="/app/profile/mobster">' . $translate->_('app_mobster_submitbid_errorMsgHere') . '</a>' . $translate->_('app_mobster_submitbid_errorMsgUrl2'), $translate->_('app_mobster_submitbid_errorMsg5') => $translate->_('app_mobster_submitbid_errorMsgError') . $this->errorcode); ?>
                <h1><?php echo $translate->_('app_mobster_submitbid_problem'); ?></h1>
                <?php foreach ($this->errors as $error): ?>
                    <h3 class="title_error"><img src="/images/icons/form_error.png"/> <?php echo $errormsg[$error]; ?>
                    </h3>
                <?php endforeach; ?>
                <br/>
            <?php endif; ?>
            <p>
                <?php echo $translate->_('app_mobster_submitbid_estimate'); ?>
            </p>

            <div class="project-image">
                <img src="<?php echo $this->app->image; ?>" width="100" height="100"
                     alt="<?php echo $this->app->appName; ?>"/>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            <h2><?php echo $this->app->appName; ?></h2>
                        </td>
                        <td class="version">
                            <?php
                            if ($this->app->version) {
                                echo $translate->_('app_mobster_submitbid_version') . $this->app->version;
                            }
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="app-short-desc" colspan="2">
                            <?php echo $this->app->shortDesc ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="app-info"
                            colspan="2"><?php echo $translate->_('app_mobster_submitbid_appInfoSubmitted'); ?>
                            <?php if ($this->app->timestamp) echo $this->showTimeElapsed($this->app->timestamp) . $translate->_('app_mobster_submitbid_appInfoAgo');
                            ?><?php echo $this->app->devUsername ?></td>
                    </tr>
                    <tr>
                        <td class="app-info"
                            colspan="2"><?php echo $translate->_('app_mobster_submitbid_appInfoEnds'); ?>
                            <?php echo $this->formatDate($this->app->testenddate); ?></td>
                    </tr>
                </table>
            </div>
            <div class="clear">&nbsp;</div>
            <hr/>


            <h2><?php echo $translate->_('app_mobster_submitbid_carrierTitle'); ?>
            </h2>

            <p><?php echo $translate->_('app_mobster_submitbid_carrierP'); ?>
            </p>
            <table cellpadding="5">
                <tr>
                    <td><strong><?php echo $translate->_('app_mobster_submitbid_carrierLabel'); ?>
                        </strong></td>
                    <td>
                        <select name="supportednetworks">
                            <?php
                            $i = 0;
                            foreach ($this->compatiblenetworks as $idnetwork => $text) {
                                ?>
                                <option <?php if ($i == 0) echo " selected "; ?>value=<?php echo $idnetwork; ?>>
                                    <?php echo $text; ?>
                                </option>

                                <?php
                                $i++;
                            }
                            ?>
                        </select>
                    </td>
                </tr>
            </table>
            <hr/>


            <h2><?php echo $translate->_('app_mobster_submitbid_handsetTitle'); ?></h2>

            <p><?php echo $translate->_('app_mobster_submitbid_handsetP'); ?>
            </p>
            <table>
                <tr>
                    <td><strong><?php echo $translate->_('app_mobster_submitbid_handsetLabel'); ?>
                        </strong></td>
                    <td>
                        <select name="supportedhandsets">
                            <?php
                            $i = 0;
                            foreach ($this->compatibledevices as $iddevice => $text) {
                                ?>
                                <option <?php if ($i == 0) echo " selected "; ?>value=<?php echo $iddevice; ?>>
                                    <?php echo $text; ?>
                                </option>

                                <?php
                                $i++;
                            }
                            ?>
                        </select>
                    </td>
                </tr>
            </table>
            <hr/>


            <?php if ($this->app->flatfee): ?>
                <h2><?php echo $translate->_('app_mobster_submitbid_biddingTitle'); ?>
                </h2>
                <h3><?php echo $translate->_('app_mobster_submitbid_biddingH'); ?>
                </h3>
                <p><?php echo $translate->_('app_mobster_submitbid_biddingP'); ?></p>
                <table cellpadding="5">
                    <tr>
                        <td><strong><?php echo $translate->_('app_mobster_submitbid_biddingTd'); ?></strong></td>
                        <td>
                            <input name="bidAmount" type="text" onkeypress="return allowNumbersOnly(event);"
                                   maxlength="7" value="<?php if ($this->app->flatfee)
                                echo $this->app->budget . '"' . ' disabled="true';
                            elseif (isset($_POST['bidAmount']))
                                echo $_POST['bidAmount'];
                            else echo ''; ?>"/>
                        </td>
                    </tr>
                </table>
            <?php else: ?>
                <h2><?php echo $translate->_('app_mobster_submitbid_yourBidTitle'); ?>
                </h2>
                <p><?php echo $translate->_('app_mobster_submitbid_yourBidP'); ?>
                </p>
                <table cellpadding="5">
                    <tr>
                        <td><strong><?php echo $translate->_('app_mobster_submitbid_bidlabel'); ?>
                            </strong></td>
                        <td>
                            <input name="bidAmount" type="text" onkeypress="return allowNumbersOnly(event);"
                                   maxlength="7" value="<?php if ($this->app->flatfee)
                                echo $this->app->budget . '"' . ' disabled="true';
                            elseif (isset($_POST['bidAmount']))
                                echo $_POST['bidAmount'];
                            else echo ''; ?>"/>
                        </td>
                    </tr>
                </table>

            <?php endif; ?>
            <br/>

            <?php echo $translate->_('app_mobster_submitbid_message'); ?><br/>
            <textarea name="comments" cols="70" rows="10"></textarea>
            <br/>

            <div class="submit_buttons clearfix">
                <div class="button">
                    <input type="submit" name="submitBtn" id="submitBtn" style="text-align:center;padding-top:14px;width:125px;height:44px" class="text_button_red" value="<?php echo $translate->_('form_button_submit'); ?>"/>
                </div>
                <div class="button">
                    <a href="/app/project/view/idproject/<?php echo $this->idproject; ?>"><span style="text-align:center;padding-top:16px;width:100px;height:20px" class="text_button_red"><?php echo $translate->_('form_button_cancel'); ?></span></a>
                </div>
                <div class="clear">&nbsp;</div>
            </div>
        </form>
    </div>
    <?php endif; ?>
    <?php endif; ?>
</div>
<div class="bottom-curve">&nbsp;</div>
</div>
